In [7]:
import os
os.environ["CALITP_BQ_MAX_BYTES"] = str(1_000_000_000_000) ## 1TB?

import _utils # amanda's collected utils
from calitp.sql import to_snakecase

import pandas as pd
import geopandas as gpd
from siuba import *

import shared_utils

# Safety Metrics Development

In [8]:
# read in collated/cleaned SWITRS data from Safety Office
switrs = to_snakecase(
    pd.read_excel(f"{_utils.GCS_FILE_PATH}SWITRS_Full_CACV_20220127.xlsx")
)

switrs.head(10)

,sc_case_id,sc_accident_year,proc_date,juris,collision_date,collision_time,officer_id,reporting_district,day_of_week,chp_shift,...,occupantprotectionv,pedestrianv,workzonesv,youngdriversv,id__tb,case_id__tb,point_x__tb,point_y__tb,near_dist_mile,near_tribe
0,4392005,2010,20120123,9840,20100119,120,17440,NaN,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4392006,2010,20100219,1900,20100113,426,520269,1328,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4392007,2010,20110324,1942,20100115,400,37724,504,5,5,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4392008,2010,20100219,1942,20100103,1405,38876,527,7,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4392009,2010,20100224,9855,20100206,450,19462,NaN,6,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4392010,2010,20100219,1005,20100124,1909,P904,CE245,7,5,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4392011,2010,20100219,1005,20100115,135,P731,NW144,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4392012,2010,20100219,1900,20100131,2123,462031,560,7,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4392013,2010,20110209,9835,20100117,1835,16200,NaN,7,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4392013,2010,20110209,9835,20100117,1835,16200,NaN,7,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
switrs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159096 entries, 0 to 159095
Columns: 168 entries, sc_case_id to near_tribe
dtypes: float64(41), int64(48), object(79)
memory usage: 203.9+ MB

In [ ]:
# make geodataframe w/ relevant columns

Test Metrics:
* n fatalities within 100ft buffer of project area over t year period
    * test different temporal study periods; rural may need more time
    * test different buffers; different project types may need different sizes
* n fatalities+severely injured (KSIs) w/in buffer area
* n ped/bike crashes w/in buffer area
* % ped/bike crashes out of all crashes w/in buffer area