# Test reading in `dim_monthly_ntd_ridership_with_adjustments` from warehouse

In [1]:
import pandas as pd
from calitp_data_analysis.tables import tbls
from siuba import _, collect, count, filter, show_query

In [2]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [3]:
monthly_ridership = (
    tbls.mart_ntd.dim_monthly_ntd_ridership_with_adjustments() >> collect()
)

In [41]:
# reading in old monthly ridership parquet for comparison
old_march_2024_ridership = pd.read_parquet("gs://calitp-analytics-data/data-analyses/ntd/ntd_monthly_ridership_2024_March.parquet")

In [4]:
# what is in this table?
# all states
display(
    monthly_ridership.shape,
    # monthly_ridership.info,
    monthly_ridership.head(3),
)

(613184, 22)

,uza_name,uace_cd,_dt,ts,ntd_id,year,reporter_type,agency,mode_type_of_service_status,mode,mode_full_name,service_type,_3_mode,tos,legacy_ntd_id,period_year_month,period_year,period_month,upt,vrm,vrh,voms
0,"Miami--Fort Lauderdale, FL",56602,2024-07-01,2024-07-01 21:44:31.635354+00:00,40034,2024,Full Reporter,County of Miami-Dade,Inactive,AG,Automated Guideway,Fixed Route,Rail,DO,4034,2016-01,2016,1,0,0,0,0
1,"Miami--Fort Lauderdale, FL",56602,2024-07-01,2024-07-01 21:44:31.635354+00:00,40034,2024,Full Reporter,County of Miami-Dade,Inactive,AG,Automated Guideway,Fixed Route,Rail,DO,4034,2018-07,2018,7,0,0,0,0
2,"Miami--Fort Lauderdale, FL",56602,2024-07-01,2024-07-01 21:44:31.635354+00:00,40034,2024,Full Reporter,County of Miami-Dade,Inactive,AG,Automated Guideway,Fixed Route,Rail,DO,4034,2013-04,2013,4,0,0,0,0

In [5]:
print(monthly_ridership.dtypes)

uza_name                                    object
uace_cd                                     object
_dt                                         object
ts                             datetime64[ns, UTC]
ntd_id                                      object
year                                         int64
reporter_type                               object
agency                                      object
mode_type_of_service_status                 object
mode                                        object
mode_full_name                              object
service_type                                object
_3_mode                                     object
tos                                         object
legacy_ntd_id                               object
period_year_month                           object
period_year                                 object
period_month                                object
upt                                          int64
vrm                                          int64
vrh                                          int64
voms                                         int64
dtype: object

In [6]:
# are there NaN values in uza name? YES
monthly_ridership["uza_name"].isna().sum()

1608

In [7]:
# fill the NaN values with something
monthly_ridership["uza_name"].fillna("none", inplace=True)

In [8]:
# double check for na
monthly_ridership["uza_name"].isna().sum()

0

In [9]:
# can i now filter by uza CA, becaue there are zero NaN values? YES
uza_ca = monthly_ridership[monthly_ridership["uza_name"].str.contains(", CA")]
display(
    uza_ca.shape,
    uza_ca["uza_name"].value_counts()
)

(91924, 22)

Los Angeles--Long Beach--Anaheim, CA             19296
San Francisco--Oakland, CA                       10720
Sacramento, CA                                    8308
San Diego, CA                                     6164
Riverside--San Bernardino, CA                     3752
Stockton, CA                                      2948
Vallejo, CA                                       2144
Santa Rosa, CA                                    1876
Lake Tahoe, CA-NV                                 1876
Modesto, CA                                       1876
Seaside--Monterey--Pacific Grove, CA              1876
San Luis Obispo, CA                               1608
Palmdale--Lancaster, CA                           1608
Oxnard--San Buenaventura (Ventura), CA            1340
San Jose, CA                                      1340
Santa Cruz, CA                                    1340
Visalia, CA                                       1340
Hanford, CA                                       1340
Indio--Palm Desert--Palm Springs, CA              1072
Chico, CA                                         1072
Antioch, CA                                       1072
El Centro, CA                                     1072
Vacaville, CA                                     1072
Bakersfield, CA                                   1072
Victorville--Hesperia--Apple Valley, CA           1072
Santa Barbara, CA                                 1072
Fairfield, CA                                     1072
Santa Clarita, CA                                  804
Concord--Walnut Creek, CA                          804
Lompoc, CA                                         804
Redding, CA                                        804
Napa, CA                                           804
Merced, CA                                         804
Yuba City, CA                                      804
Porterville, CA                                    536
Tulare, CA                                         536
Petaluma, CA                                       536
Turlock, CA                                        536
Thousand Oaks, CA                                  536
Lodi, CA                                           536
Fresno, CA                                         536
Livermore--Pleasanton--Dublin, CA                  536
Santa Maria, CA                                    536
Simi Valley, CA                                    536
Mission Viejo--Lake Forest--Laguna Niguel, CA      268
Davis, CA                                          268
Name: uza_name, dtype: int64

In [28]:
# where are the UTP values? the UTP page for this table used to be very wide
# look at a specific agency by ntd id, LA Metro == "9154"
# what is the dtype of ntd_id... its object, so use str.contrains
la_metro = monthly_ridership[monthly_ridership["ntd_id"] == "90154"]
display(la_metro.shape, uza_ca.shape)

(1876, 22)

(91924, 22)

In [11]:
# filter la_metro data to only see current and previous year (2024 and 2023)

la_2324 = la_metro[la_metro["period_year"].isin(["2023", "2024"])]

In [12]:
# does this 23/24 data match whats in the NTD report? YES
# confirm that data is now long instead of wide
la_2324[la_2324["period_year_month"] == "2024-03"][
    ["period_year_month", "mode", "tos", "upt"]
].sort_values(by="period_year_month", ascending=True)

       period_year_month mode tos       upt
286578           2024-03   DR  DO     62986
321738           2024-03   HR  DO   1874721
331816           2024-03   LR  DO   3842909
533491           2024-03   MB  PT    929537
533501           2024-03   MB  DO  18852906
556718           2024-03   RB  DO    380625
607310           2024-03   VP  PT    125149

# how to modify the `produce_ntd_monthly_ridership_by_rtpa` function
step-by-step

In [13]:
# 1. reading in the data
# intead of reading in the data via an excel doc by URL, intead will query the warehouse directly

#GOOD TO GO
full_upt = (tbls.mart_ntd.dim_monthly_ntd_ridership_with_adjustments() >> collect()).rename(columns = {"mode_type_of_service_status": "Status"})

In [63]:
display(
    full_upt.dtypes,

)

uza_name                          object
uace_cd                           object
_dt                               object
ts                   datetime64[ns, UTC]
ntd_id                            object
year                               int64
reporter_type                     object
agency                            object
Status                            object
mode                              object
mode_full_name                    object
service_type                      object
_3_mode                           object
tos                               object
legacy_ntd_id                     object
period_year_month                 object
period_year                       object
period_month                      object
upt                                int64
vrm                                int64
vrh                                int64
voms                               int64
dtype: object

In [51]:
#1.1 setting `ntd_id` to str

#GOOD TO GO!
full_upt["ntd_id"] = full_upt["ntd_id"].astype(str)

In [61]:
display(
    #full_upt.shape,
    full_upt["ntd_id"].dtypes,
    full_upt.dtypes
)

dtype('O')

uza_name                          object
uace_cd                           object
_dt                               object
ts                   datetime64[ns, UTC]
ntd_id                            object
year                               int64
reporter_type                     object
agency                            object
Status                            object
mode                              object
mode_full_name                    object
service_type                      object
_3_mode                           object
tos                               object
legacy_ntd_id                     object
period_year_month                 object
period_year                       object
period_month                      object
upt                                int64
vrm                                int64
vrh                                int64
voms                               int64
dtype: object

In [64]:
#2 filter df to get rid of na rows
# GOOD TO GO!
full_upt = full_upt[full_upt.agency.notna()].reset_index(drop=True)

In [69]:
full_upt["agency"].isna().sum()

0

In [17]:
ca = full_upt[(full_upt["uza_name"].str.contains(", CA")) & 
            (full_upt.agency.notna())].reset_index(drop=True)

In [18]:
ca.shape

(91924, 22)

In [19]:
crosswalk = pd.read_csv(
        f"gs://calitp-analytics-data/data-analyses/ntd/ntd_id_rtpa_crosswalk.csv", 
        dtype = {"NTD ID": "str"}
    #have to rename NTD ID col to match the dim table
    ).rename(columns={"NTD ID": "ntd_id"})
    
crosswalk.columns

Index(['ntd_id', 'Legacy NTD ID', 'Agency', 'UZA Name', 'RTPA_open_data',
       'RTPA'],
      dtype='object')

In [20]:
df = pd.merge(
        ca,
        # Merging on too many columns can create problems 
        # because csvs and dtypes aren't stable / consistent 
        # for NTD ID, Legacy NTD ID, and UZA
        crosswalk[["ntd_id", "RTPA"]],
        #change on = value to ntd_id
        on = "ntd_id",
        how = "left",
        indicator = True
    )
    
print(df._merge.value_counts())

both          91924
left_only         0
right_only        0
Name: _merge, dtype: int64

In [21]:
# updated to match new year-month format 

def add_change_columns(
    df: pd.DataFrame,
    year: int,
    month: int
) -> pd.DataFrame:
    """
    """    
    ntd_month_col = f"{year}-{month}"
    prior_year_col = f"{int(year)-1}-{month}"
        
    df[f"change_1yr_{ntd_month_col}"] = df[ntd_month_col] - df[prior_year_col]
    df = get_percent_change(df, ntd_month_col, prior_year_col)
    
    return df

In [35]:
from shared_utils.rt_dates import MONTH_DICT
from update_vars import GCS_FILE_PATH, NTD_MODES, NTD_TOS, YEAR, MONTH

# final updated  `produce_ntd_monthly_ridership_by_rtpa` function.
# may not need the upt_url

def produce_ntd_monthly_ridership_by_rtpa(
    #upt_url: str,
    year: int,
    month: str
) -> pd.DataFrame:
    """
    Import NTD data from url, filter to CA, 
    merge in crosswalk, and save individual csvs.
    """
    full_upt = (tbls.mart_ntd.dim_monthly_ntd_ridership_with_adjustments() >> collect()
               ).rename(columns = {"mode_type_of_service_status": "Status"})
    
    full_upt = full_upt[full_upt.agency.notna()].reset_index(drop=True)
    #full_upt.to_parquet(
    #    f"{GCS_FILE_PATH}ntd_monthly_ridership_{year}_{month}.parquet"
    #)
    ca = full_upt[(full_upt["uza_name"].str.contains(", CA")) & 
            (full_upt.agency.notna())].reset_index(drop=True)
    
    crosswalk = pd.read_csv(
        f"gs://calitp-analytics-data/data-analyses/ntd/ntd_id_rtpa_crosswalk.csv", 
        dtype = {"NTD ID": "str"}
    #have to rename NTD ID col to match the dim table
    ).rename(columns={"NTD ID": "ntd_id"})
    
    df = pd.merge(
        ca,
        # Merging on too many columns can create problems 
        # because csvs and dtypes aren't stable / consistent 
        # for NTD ID, Legacy NTD ID, and UZA
        crosswalk[["ntd_id", "RTPA"]],
        #change on = value to ntd_id
        on = "ntd_id",
        how = "left",
        indicator = True
    )
    
    print(df._merge.value_counts())
    
    # Good, everything merged, as we want
    if len(df[df._merge=="left_only"]) > 0:
        raise ValueError("There are unmerged rows to crosswalk")
        
    # Add new columns    
    reversed_months = {v:k for k, v in MONTH_DICT.items()}
    
    for m in range(1, reversed_months[month] + 1):
        df = add_change_columns(df, year, m)
    
    df = df.assign(
        Mode_full = df.Mode.map(NTD_MODES),
        TOS_full = df.TOS.map(NTD_TOS)
    )
    
    return df

In [31]:
ca["period_year_month"].value_counts().head()

2007-06    343
2016-05    343
2017-03    343
2015-12    343
2005-02    343
Name: period_year_month, dtype: int64

In [32]:
# what is the most recent period_year_month? as of 7/2/2024\
# should expect to see values up tp May 2024
display(
    ca[ca["period_year_month"] == "2024-04"].shape,
    # as of 7/2, zero rows for May 2024. but expect ntd to update that data soon.
    # 7/15, still no values for May 2024
    ca[ca["period_year_month"] == "2024-05"].shape
)

(343, 22)

(0, 22)

---
## Do I need `reserved_months` anymore?
RE: `produce_ntd_monthly_ridership_by_rtpa` function.


Since the new table uses a `yyyy-mm` format now. i dont think i need the revesre months anymore. what else needs to change to the the function working again.

In [33]:
# do i need reversed_months anymore?

reversed_months = {v:k for k, v in MONTH_DICT.items()}

In [38]:
# what MONTH_DICT looks like initially.
MONTH_DICT

{1: 'January',
 2: 'February',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December'}

In [34]:
# like the name implies, reverses the key values pairs. 
reversed_months

{'January': 1,
 'February': 2,
 'March': 3,
 'April': 4,
 'May': 5,
 'June': 6,
 'July': 7,
 'August': 8,
 'September': 9,
 'October': 10,
 'November': 11,
 'December': 12}

In [43]:
old_march_2024_ridership.head()

,NTD ID,Legacy NTD ID,Agency,Status,Reporter Type,UACE CD,UZA Name,Mode,TOS,3 Mode,1/2002,2/2002,3/2002,4/2002,5/2002,6/2002,7/2002,8/2002,9/2002,10/2002,11/2002,12/2002,1/2003,2/2003,3/2003,4/2003,5/2003,6/2003,7/2003,8/2003,9/2003,10/2003,11/2003,12/2003,1/2004,2/2004,3/2004,4/2004,5/2004,6/2004,7/2004,8/2004,9/2004,10/2004,11/2004,12/2004,1/2005,2/2005,3/2005,4/2005,5/2005,6/2005,7/2005,8/2005,9/2005,10/2005,11/2005,12/2005,1/2006,2/2006,3/2006,4/2006,5/2006,6/2006,7/2006,8/2006,9/2006,10/2006,11/2006,12/2006,1/2007,2/2007,3/2007,4/2007,5/2007,6/2007,7/2007,8/2007,9/2007,10/2007,11/2007,12/2007,1/2008,2/2008,3/2008,4/2008,5/2008,6/2008,7/2008,8/2008,9/2008,10/2008,11/2008,12/2008,1/2009,2/2009,3/2009,4/2009,5/2009,6/2009,7/2009,8/2009,9/2009,10/2009,11/2009,12/2009,1/2010,2/2010,3/2010,4/2010,5/2010,6/2010,7/2010,8/2010,9/2010,10/2010,11/2010,12/2010,1/2011,2/2011,3/2011,4/2011,5/2011,6/2011,7/2011,8/2011,9/2011,10/2011,11/2011,12/2011,1/2012,2/2012,3/2012,4/2012,5/2012,6/2012,7/2012,8/2012,9/2012,10/2012,11/2012,12/2012,1/2013,2/2013,3/2013,4/2013,5/2013,6/2013,7/2013,8/2013,9/2013,10/2013,11/2013,12/2013,1/2014,2/2014,3/2014,4/2014,5/2014,6/2014,7/2014,8/2014,9/2014,10/2014,11/2014,12/2014,1/2015,2/2015,3/2015,4/2015,5/2015,6/2015,7/2015,8/2015,9/2015,10/2015,11/2015,12/2015,1/2016,2/2016,3/2016,4/2016,5/2016,6/2016,7/2016,8/2016,9/2016,10/2016,11/2016,12/2016,1/2017,2/2017,3/2017,4/2017,5/2017,6/2017,7/2017,8/2017,9/2017,10/2017,11/2017,12/2017,1/2018,2/2018,3/2018,4/2018,5/2018,6/2018,7/2018,8/2018,9/2018,10/2018,11/2018,12/2018,1/2019,2/2019,3/2019,4/2019,5/2019,6/2019,7/2019,8/2019,9/2019,10/2019,11/2019,12/2019,1/2020,2/2020,3/2020,4/2020,5/2020,6/2020,7/2020,8/2020,9/2020,10/2020,11/2020,12/2020,1/2021,2/2021,3/2021,4/2021,5/2021,6/2021,7/2021,8/2021,9/2021,10/2021,11/2021,12/2021,1/2022,2/2022,3/2022,4/2022,5/2022,6/2022,7/2022,8/2022,9/2022,10/2022,11/2022,12/2022,1/2023,2/2023,3/2023,4/2023,5/2023,6/2023,7/2023,8/2023,9/2023,10/2023,11/2023,12/2023,1/2024,2/2024,3/2024
0,00001,0001,King County Department of Metro Transit,Active,Full Reporter,80389.0,"Seattle--Tacoma, WA",DR,PT,Bus,135144.0,127378.0,136030.0,142204.0,144697.0,131833.0,137547.0,136915.0,132111.0,150074.0,127835.0,114857.0,137888.0,126339.0,140920.0,144048.0,142725.0,135650.0,143660.0,136752.0,136291.0,152853.0,127150.0,131877.0,132563.0,136857.0,156728.0,151997.0,147491.0,150217.0,146303.0,145459.0,142994.0,147128.0,121962.0,127022.0,143393.0,139615.0,157100.0,152143.0,164149.0,159630.0,156130.0,167625.0,156514.0,160198.0,150451.0,147735.0,150003.0,141801.0,163541.0,152336.0,163392.0,162033.0,162413.0,176618.0,165721.0,168266.0,143859.0,136760.0,149158.0,147755.0,164726.0,163174.0,181919.0,172644.0,176029.0,185516.0,162255.0,179185.0,159051.0,150324.0,95701.0,94361.0,97490.0,102270.0,101764.0,96095.0,101836.0,96210.0,95551.0,108679.0,91534.0,94585.0,94608.0,88625.0,97448.0,98250.0,94046.0,94180.0,97728.0,95537.0,95663.0,103539.0,90144.0,92684.0,93494.0,91935.0,106040.0,103020.0,98987.0,99904.0,97480.0,99207.0,97192.0,104089.0,89891.0,95936.0,97988.0,91581.0,108150.0,101288.0,102906.0,100710.0,94743.0,101592.0,96300.0,99660.0,93937.0,88246.0,81322.0,93458.0,99497.0,95576.0,101273.0,92881.0,93252.0,97683.0,88042.0,100203.0,91161.0,85044.0,94010.0,88791.0,95012.0,97481.0,99526.0,89967.0,94243.0,93538.0,86747.0,98441.0,85117.0,80482.0,89760.0,80405.0,87426.0,91219.0,88900.0,83377.0,84799.0,82018.0,80946.0,90614.0,76389.0,76861.0,78761.0,75234.0,80757.0,79109.0,77368.0,76695.0,75763.0,73699.0,71205.0,76889.0,67696.0,69450.0,69003.0,72120.0,77530.0,75395.0,74815.0,73367.0,69480.0,76378.0,71898.0,74847.0,70426.0,65517.0,69528.0,63363.0,76764.0,71981.0,75959.0,72475.0,69215.0,74755.0,67205.0,75435.0,70504.0,66971.0,73712.0,67250.0,74959.0,74077.0,77958.0,72783.0,73821.0,77780.0,68824.0,79872.0,72742.0,69534.0,75357.0,52494.0,74996.0,77393.0,79347.0,73323.0,78161.0,78350.0,73259.0,82385.0,72116.0,70734.0,73573.0,71893.0,40217.0,19769.0,22043.0,25108.0,36591.0,33059.0,34071.0,36070.0,31020.0,31977.0,31199.0,28890.0,35712.0,35814.0,36331.0,41474.0,43135.0,43801.0,43153.0,44676.0,43901.0,40018.0,40600.0,42738.0,48918.0,47823.0,47934.0,48485.0,46783.0,50105.0,47887.0,49032.0,45283.0,36627.0,47779.0,44231.0,72764.0,74025.0,82275.0,77174.0,78108.0,84351.0,79299.0,87293.0,82661.0,78703.0,84974.0,84455.0,87884.0
1,00001,0001,King County Department of Metro Transit,Active,Full Reporter,80389.0,"Seattle--Tacoma, WA",DR,TX,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6404.0,6316.0,6534.0,6692.0,6422.0,6321.0,7062.0,6855.0,7276.0,7671.0,6805.0,6369.0,6240.0,5782.0,6601.0,6987.0,6778.0,6805.0,6193.0,6662.0,6409.0,6116.0,6324.0,5733.0,5989.0,5674.0,5818.0,6234.0,6998.0,6144.0,6068.0,6220.0,5969.0,8232.0,6975.0,6415.0,6970.0,7567.0,7418.0,7447.0,7822.0,6807.0,7153.0,6575.0,7649.0,7276.0,7154.0,6545.0,7129.0,6345.0,6420.0,7786.0,7730.0,7482.0,8157.0,8120.0,9678.0,9912.0,8735.0,8750.0,8310.0,7794.0,8332.0,8833.0,9082.0,8388.0,9038.0,8034.0,9037.0,10347.0,10764.0,12059.0,10141.0,8371.0,10193.0,9277.0,9380.0,8991.0,9205.0,8492.0,7965.0,8858.0,9030.0,10762.0,7555.0,7293.0,8647.0,8110.0,9198.0,8843.0,8549.0,8569.0,8333.0,9894.0,9874.0,8996.0,10108.0,9756.0,11194.0,11112.0,12835.0,10209.0,10194.0,11422.0,12673.0,16334.0,15205.0,12705.0,14513.0,9490.0,15058.0,16394.0,15939.0,14274.0,13790.0,12821.0,15375.0,19564.0,15714.0,14859.0,16639.0,17230.0,4462.0,1938.0,3630.0,6881.0,6416.0,5880.0,6650.0,6139.0,5929.0,4666.0,4177.0,4991.0,7078.0,8081.0,8177.0,4768.0,6679.0,7723.0,8765.0,10827.0,9716.0,7962.0,6469.0,7298.0,10931.0,9229.0,9084.0,8798.0,8817.0,9688.0,9582.0,11356.0,11383.0,8159.0,10034.0,9939.0,11402.0,10438.0,10611.0,9856.0,9619.0,10723.0,9840.0,10849.0,9790.0,8395.0,8106.0,9144.0,9800.0
2,00001,0001,King County Department of Metro Transit,Active,Full Reporter,80389.0,"Seattle--Tacoma, WA",FB,DO,Ferry,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27674.0,29363.0,35062.0,53504.0,68182.0,65890.0,76560.0,83035.0,59502.0,44126.0,31648.0,27396.0,29690.0,29192.0,36883.0,42832.0,63252.0,69767.0,89020.0,65502.0,62049.0,52902.0,30879.0,27986.0,36150.0,31605.0,40987.0,48296.0,67867.0,73141.0,92078.0,92929.0,62839.0,55472.0,34159.0,28842.0,59293.0,41375.0,56148.0,58572.0,69194.0,74257.0,90079.0,67308.0,62058.0,56795.0,34259.0,32270.0,37519.0,35751.0,14068.0,2039.0,2221.0,4797.0,9643.0,10630.0,9801.0,8788.0,5586.0,6087.0,5355.0,5253.0,8573.0,12037.0,26121.0,34292.0,52129.0,44759.0,33479.0,27505.0,20047.0,17293.0,15050.0,18317.0,26609.0,29292.0,33559.0,45085.0,61251.0,60786.0,46970.0,30880.0,18357.0,14251.0,19288.0,17590.0,26039.0,25581.0,39368.0,41956.0,63863.0,52949.0,40791.0,30675.0,20559.0,21028.0,17768.0,21092.0,28892.0
3,00001,0001,King County Department of Metro Transit,Inactive,Full Reporter,80389.0,"Seattle--Tacoma, WA",LR,DO,Rail,12990.0,17240.0,21498.0,22687.0,31981.0,44346.0,64552.0,61922.0,32321.0,20384.0,13964.0,14050.0,16350.0,17793.0,21133.0,24064.0,32910.0,47554.0,70188.0,73932.0,40997.0,23825.0,18405.0,16439.0,16333.0,20096.0,23230.0,27988.0,33379.0,44854.0,62999.0,66065.0,41974.0,24849.0,19196.0,17146.0,16304.0,19660.0,23613.0,26523.0,33507.0,45838.0,64571.0,65722.0,40915.0,23291.0,14383.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26877.0,26471.0,28368.0,28666.0,34360.0,39496.0,50467.0,44448.0,39113.0,35061.0,29354.0,31256.0,31286.0,30126.0,32198.0,34589.0,37271.0,42174.0,50954.0,45329.0,39679.0,36582.0,32736.0,38280.0,32333.0,32068.0,37579.0,37945.0,40646.0,45814.0,56703.0,53783.0,49409.0,45931.0,41713.0,47008.0,43829.0,41557.0,52376.0,54493.0,60001.0,69350.0,75852.0,79464.0,61848.0,59764.0,55182.0,60745.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00001,0001,King County Department of Metro Transit,Active,Full Reporter,80389.0,"Seattle--Tacoma, WA",MB,DO,Bus,6045861.0,5406135.0,5999230.0,6058398.0,6134503.0,5654916.0,5946469.0,5999146.0,5571149.0,6024277.0,5498884.0,5693491.0,5998896.0,5423887.0,6018871.0,6076454.0,6018871.0,5766180.0,5946970.0,5828996.0,5715720.0,6088824.0,5400923.0,5926597.0,6093909.0,5751219.0,6567769.0,6319709.0,6127029.0,6155486.0,6099154.0,6202824.0,5966222.0,6293987.0,5605563.0,6107568.0,5896330.0,5476222.0,6410896.0,6055762.0,6116028.0,5991094.0,5814124.0,6366292.0,6183790.0,6560273.0,6354789.0,5905728.0,6421670.0,5925927.0,6763587.0,6486482.0,7093231.0,6848317.0,6693758.0,6994407.0,6685764.0,7400289.0,6704747.0,6229763.0,6967115.0,6484827.0,7181006.0,7248546.0,7624266.0,7213238.0,7267431.0,7524861.0,6854654.0,8031056.0,7304973.0,6539383.0,7487026.0,7136195.0,7585852.0,7969203.0,8018889.0,7913943.0,8347451.0,7802411.0,8014541.0,8744520.0,7304647.0,6700932.0,7887269.0,7008525.0,7867102.0,7923102.0,7773626.0,7713617.0,7784848.0,7369565.0,7332260.0,7956736.0,7085528.0,6912882.0,7386466.0,6803766.0,7644319.0,7375979.0,7303003.0,7351755.0,7262000.0,7199827.0,7137221.0,7905101.0,7098141.0,7003188.0,7487139.0,6936238.0,7829315.0,7721856.0,7924215.0,7701206.0,7331312.0,7739253.0,7382058.0,8046589.0,7472910.0,7015202.0,7225999.0,7653303.0,8019442.0,7981372.0,8406940.0,7996541.0,7967390.0,8119968.0,7702374.0,8702116.0,7818766.0,7058209.0,8120141.0,7526483.0,8205177.0,8498612.0,8733153.0,7991423.0,8254012.0,8125544.0,7850652.0,8968389.0,7954362.0,7474570.0,8311232.0,7704450.0,8380648.0,8584665.0,8626523.0,8252640.0,8396060.0,8128400.0,8264380.0,9172604.0,7915847.0,7832612.0,8354419.0,7869270.0,8634873.0,8665166.0,8590349.0,8569476.0,8593597.0,8420304.0,8243763.0,9221945.0,8219363.0,7980357.0,8383033.0,8326396.0,8887128.0,8556763.0,8727968.0,8541069.0,8141290.0,8642726.0,8211555.0,8709581.0,8209262.0,7587360.0,8322531.0,7741480.0,8897619.0,8522858.0,8976802.0,8667512.0,8348447.0,8750954.0,8240729.0,8990050.0,8256206.0,7414381.0,8792433.0,7910296.0,8957167.0,8725844.0,9201162.0,8674899.0,8665944.0,8863329.0,8173423.0,9462604.0,8361757.0,7646317.0,8688609.0,7614112.0,8662761.0,8904840.0,9280947.0,8622153.0,8840564.0,8718288.0,8437124.0,9619655.0,8420473.0,7718006.0,8705965.0,8305939.0,4773283.0,2590410.0,2607899.0,3188735.0,3339926.0,3393742.0,3328392.0,3118656.0,2745130.0,2767733.0,2779426.0,2532122.0,3157886.0,3215701.0,3331400.0,3583180.0,3853296.0,3837242.0,3998616.0,4452242.0,3948846.0,3422080.0,3510345.0,3502095.0,4311305.0,4465947.0,4646615.0,4664895.0,4649909.0,4809401.0,4804553.0,5267823.0,4698068.0,4172608.0,4903992.0,4624888.0,5351825.0,5226959.0,5517552.0,5360599.0,5297609.0,5504095.0,5252779.0,6019489.0,5431339.0,4994123.0,5616462.0,5537014.0,5950680.0

In [44]:
# for month, use full month name
produce_ntd_monthly_ridership_by_rtpa(year=2024, month="March")

both          91924
left_only         0
right_only        0
Name: _merge, dtype: int64

KeyError: '2024-1'