# Agency Prefix Code Profiles
Which agencies apply the most or have the most prefix codes? Which ones have the least? 

Data: 
* [Oblgiated list](https://dot.ca.gov/programs/local-assistance/reports/e-76-obligated)

* running notebook with updated locode data 'obligated_list_1202.csv'

In [1]:
import numpy as np
import pandas as pd
from siuba import *
import _clean_data
import altair as alt
import altair_saver
from plotnine import *

from shared_utils import altair_utils
alt.themes.enable("fivethirtyeight")
from calitp import *

import ipywidgets as widgets
from ipywidgets import *
from IPython.display import Markdown
from IPython.core.display import display

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:73: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/

In [2]:
df = _clean_data.read_data()
df = _clean_data.clean_data(df)
df = _clean_data.prefix_cleaning(df)
df = _clean_data.clean_agency_names(df)

/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:73: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
/home/jovyan/data-analyses/dla/e76_obligated_funds/_clean_data.py:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [3]:
df.head()

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,ac_requested,total_requested,status_comment,locode,dist,status,dist_processing_days,hq_processing_days,fhwa_processing_days,ftip_no,project_location,type_of_work,seq,date_request_initiated,date_completed_request,mpo,projectID,prepared_y,primary_agency_name
0,Obligated,BPMP,5904(121),Humboldt County,2018-12-18,2018-12-18,2018-12-18,2018-12-18,2018-12-27,0.00,0.0,0.00,Authorized,5904,1,E-76 approved on,NaN,0.0,9.0,HBPLOCAL,14 Bridges In Humboldt County,Bridge Preventive Maintenance - Deck Joints,3,NaT,NaT,NON-MPO,5904,2018.0,Humboldt County
1,Obligated,ER,32D0(008),Mendocino County,2018-12-17,2018-12-19,2018-12-20,2018-12-20,2018-12-27,11508.00,0.0,13000.00,Authorized,5910,1,E-76 approved on,1.0,1.0,7.0,NaN,"Comptche Ukiah Road, Cr 223 Pm 17.25",Permanent Restoration,3,2018-12-17,2018-12-18,NON-MPO,32D0,2018.0,Mendocino County
2,Obligated,ER,4820(004),Humboldt County,2018-12-07,2018-12-21,2018-12-21,2018-12-21,2018-12-27,45499.64,0.0,51394.58,Authorized,5904,1,E-76 approved on,14.0,0.0,6.0,NaN,Mattole Rd Pm 43.17,Permanent Restoration,5,2018-12-06,2018-12-07,NON-MPO,4820,2018.0,Humboldt County
3,Obligated,CML,5924(244),Sacramento County,2018-12-11,2018-12-11,2018-12-21,2018-12-27,2018-12-27,207002.00,0.0,247002.00,Authorized,5924,3,E-76 approved on,4.0,16.0,0.0,SAC25086,Fair Oaks Blvd. Between Howe Ave And Munroe St,Create A Smart Growth Corridor With Barrier Se...,1,2018-12-07,2018-12-07,SACOG,5924,2018.0,Sacramento County
4,Obligated,CML,5924(214),Sacramento County,2018-12-05,2018-12-11,2018-12-21,2018-12-27,2018-12-27,0.00,5680921.0,5702041.00,Authorized,5924,3,E-76 approved on,7.0,16.0,0.0,SAC24753,Florin Rd Between Power Inn Rd. And Florin Per...,Streetscape (tc),3,2018-11-28,2018-12-04,SACOG,5924,2018.0,Sacramento County

In [4]:
#making sure the locode and agency updated in the data.
## if updated, there will only be one agency listed.
## if multiple agencies listed, go back to add_locode.ipynb and run that notebook

df>>filter(_.locode=='6000')>>count(_.primary_agency_name)

Empty DataFrame
Columns: [primary_agency_name, n]
Index: []

## How many unique prefix codes per agency

### Top Agencies
finding the top agencies with the most unique prefix codes

In [5]:
df >> group_by(_.primary_agency_name) >> summarize(n=_.prefix.nunique()) >> arrange(-_.n)>>filter(_.n>=15)

                                   primary_agency_name   n
276                                        Los Angeles  34
277                                 Los Angeles County  31
434              San Bernardino Associated Governments  29
71                                            Caltrans  27
534                                           Stockton  23
416                                   Riverside County  22
466                             San Luis Obispo County  22
149                                   El Dorado County  21
442               San Diego Association of Governments  20
215                                    Imperial County  19
318                                    Monterey County  19
441                                          San Diego  19
109                                Contra Costa County  18
271                                         Long Beach  18
278  Los Angeles County Metropolitan Transportation...  18
362                                       Palm Springs  18
425                                         Sacramento  18
427                                  Sacramento County  18
310                                            Modesto  17
450                               San Francisco County  17
461                                           San Jose  17
479                               Santa Barbara County  17
482                                 Santa Clara County  17
5                                       Alameda County  16
228                                        Kern County  16
516                                      Sonoma County  16
562                                      Tulare County  16
175                                             Fresno  15
176                                      Fresno County  15
210                                    Humboldt County  15
304             Metropolitan Transportation Commission  15
346                                            Oakland  15
354             Orange County Transportation Authority  15
435                              San Bernardino County  15
533                                  Stanislaus County  15
547                                      Tehama County  15

In [6]:
top = df >> group_by(_.primary_agency_name) >> summarize(n=_.prefix.nunique()) >> arrange(-_.n)>>filter(_.n>=20)

In [7]:
top

                       primary_agency_name   n
276                            Los Angeles  34
277                     Los Angeles County  31
434  San Bernardino Associated Governments  29
71                                Caltrans  27
534                               Stockton  23
416                       Riverside County  22
466                 San Luis Obispo County  22
149                       El Dorado County  21
442   San Diego Association of Governments  20

In [8]:
@interact
def find_agencies_top(agency=top.primary_agency_name.unique().tolist()):

            count_top = (df>>filter(_.primary_agency_name==agency)>> count(_.prefix)>>arrange(-_.n))
            
            display(Markdown(f"**Top Prefix Codes {agency} uses:**"))
            display(count_top)

interactive(children=(Dropdown(description='agency', options=('Los Angeles', 'Los Angeles County', 'San Bernarâ€¦

#### Printing top 5 programs for the top agencies

In [9]:
top

                       primary_agency_name   n
276                            Los Angeles  34
277                     Los Angeles County  31
434  San Bernardino Associated Governments  29
71                                Caltrans  27
534                               Stockton  23
416                       Riverside County  22
466                 San Luis Obispo County  22
149                       El Dorado County  21
442   San Diego Association of Governments  20

In [10]:
def find_agencies_top(agency=top.primary_agency_name.unique().tolist()):
    
    for agency in top.primary_agency_name.unique().tolist(): 
            count_top = ((df>>filter(_.primary_agency_name==agency)>> count(_.prefix)>>arrange(-_.n)).head(5)>>select(_.prefix))
            
            display(Markdown(f"**Top Prefix Codes {agency} uses:**"))
            display(count_top)
            
    return

In [11]:
agency=top.primary_agency_name.unique().tolist()
find_agencies_top(agency)

**Top Prefix Codes Los Angeles uses:**

   prefix
26   STPL
20  HSIPL
10    CML
2    ATPL
5    BHLS

**Top Prefix Codes Los Angeles County uses:**

   prefix
12     ER
18  HSIPL
1   ACSTP
4   BPMPL
23   STPL

**Top Prefix Codes San Bernardino Associated Governments uses:**

     prefix
25    STPLN
3      CMLN
14   HPLULN
1       CML
5   CMSTPLN

**Top Prefix Codes Caltrans uses:**

   prefix
25  STPLN
1    CMLN
10  HP21L
24   STPL
0     CML

**Top Prefix Codes Stockton uses:**

    prefix
12   HSIPL
7      CML
19    STPL
0   ATPCML
2   ATPLNI

**Top Prefix Codes Riverside County uses:**

   prefix
14  HSIPL
3    BRLS
20  STPLN
19   STPL
2    BRLO

**Top Prefix Codes San Luis Obispo County uses:**

   prefix
8    BRLO
17  HSIPL
5    BHLS
9    BRLS
4    BHLO

**Top Prefix Codes El Dorado County uses:**

   prefix
6    BRLO
8     CML
15  HSIPL
12     ER
20   STPL

**Top Prefix Codes San Diego Association of Governments uses:**

     prefix
13   RPSTPL
19     STPL
3      CMLG
2       CML
8   FTASTPL

Popular codes in top agencies:
   * STP/STLN: Surface Transportation Program/Surface Transportation Program Local National Highway System
   * HSIP: Highway Safety Improvement Program 
   * CML: Congestion Mitigation & Air Quality Improvement Program 
   * BHLS: ?
   * BRLO: Highway Bridge Program (HBP) - Off Federal-aid System

### Bottom Agencies

In [12]:
(df 
     >> group_by(_.primary_agency_name) 
     >> summarize(n=_.prefix.nunique())
     >> filter(_.n<=1)
 
)

                                   primary_agency_name  n
4            Alameda Corridor Transportation Authority  1
8    Alameda County Transportation Improvement Auth...  1
9            Alameda County Waste Management Authority  1
13                                         Amador City  1
15             Amador County Transportation Commission  1
..                                                 ... ..
591                                               Weed  1
595      Western Shasta Resource Conservation District  1
602                                            Willits  1
603                                            Willows  1
613                                         Yountville  1

[118 rows x 2 columns]

In [13]:
df >> group_by(_.primary_agency_name) >> summarize(n=_.prefix.nunique()) >> arrange(_.n)>>filter(_.n<=3)

                                   primary_agency_name  n
4            Alameda Corridor Transportation Authority  1
8    Alameda County Transportation Improvement Auth...  1
9            Alameda County Waste Management Authority  1
13                                         Amador City  1
15             Amador County Transportation Commission  1
..                                                 ... ..
587                                       Walnut Creek  3
592                                        West Covina  3
597                                        Westminster  3
605                                            Winters  3
614                                         Yreka City  3

[302 rows x 2 columns]

In [14]:
bottom = df >> group_by(_.primary_agency_name) >> summarize(n=_.prefix.nunique()) >> arrange(_.n)>>filter(_.n<=3)

In [15]:
bottom.sample(9)

                           primary_agency_name  n
592                                West Covina  3
117                                     Cotati  2
43                                  Bellflower  3
573           University of California - Davis  1
9    Alameda County Waste Management Authority  1
94                                     Clayton  1
596                           Westlake Village  2
56                                  Buena Park  1
48                                       Biggs  2

In [16]:
agency=bottom.primary_agency_name.unique().tolist()


def find_agencies_bottom(agency=bottom.primary_agency_name.unique().tolist()):
    
    for agency in bottom.primary_agency_name.unique().tolist(): 
            count_bottom = ((df>>filter(_.primary_agency_name==agency)>> count(_.prefix)>>arrange(_.n)).head(5)>>select(_.prefix))
            
            display(Markdown(f"**Top Prefix Codes {agency} uses:**"))
            display(count_bottom)
            
    return

In [17]:
print(len(agency))

302

In [18]:
find_agencies_bottom(agency)

**Top Prefix Codes Alameda Corridor Transportation Authority uses:**

  prefix
0  HPLUL

**Top Prefix Codes Alameda County Transportation Improvement Authority uses:**

  prefix
0   STPL

**Top Prefix Codes Alameda County Waste Management Authority uses:**

  prefix
0    CML

**Top Prefix Codes Amador City uses:**

  prefix
0   BRLS

**Top Prefix Codes Amador County Transportation Commission uses:**

  prefix
0    CML

**Top Prefix Codes Amador Rapid Transit System uses:**

   prefix
0  FTACML

**Top Prefix Codes Antelope Valley Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Atherton uses:**

  prefix
0   STPL

**Top Prefix Codes Avenal uses:**

  prefix
0    HIP

**Top Prefix Codes Bishop uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Blue Lake uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Buena Park uses:**

  prefix
0   STPL

**Top Prefix Codes California State University, Sacramento uses:**

  prefix
0   LTAP

**Top Prefix Codes California Tahoe Conservancy uses:**

  prefix
0   ATPL

**Top Prefix Codes Calistoga uses:**

  prefix
0   BRLO

**Top Prefix Codes Capital Southeast Connector uses:**

  prefix
0   STPL

**Top Prefix Codes Carpinteria uses:**

  prefix
0   BRLS

**Top Prefix Codes Chula Vista Elementary School District uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Clayton uses:**

  prefix
0   STPL

**Top Prefix Codes Cloverdale uses:**

  prefix
0   STPL

**Top Prefix Codes Clovis Unified School District uses:**

  prefix
0  CMLNI

**Top Prefix Codes Colma uses:**

  prefix
0    CML

**Top Prefix Codes Corning uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Coronado uses:**

  prefix
0  FERPL

**Top Prefix Codes Corte Madera uses:**

  prefix
0    CML

**Top Prefix Codes Council of San Benito County Governments uses:**

  prefix
0   CMLG

**Top Prefix Codes Crescent City uses:**

  prefix
0     ER

**Top Prefix Codes Cypress uses:**

  prefix
0   STPL

**Top Prefix Codes Diamond Bar uses:**

  prefix
0  HPLUL

**Top Prefix Codes Dos Palos uses:**

  prefix
0    CML

**Top Prefix Codes El Segundo uses:**

   prefix
0  DEM08L

**Top Prefix Codes Emeryville uses:**

  prefix
0  SRTSL

**Top Prefix Codes Escalon uses:**

  prefix
0    CML

**Top Prefix Codes Ferndale uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Fillmore uses:**

  prefix
0   STPL

**Top Prefix Codes Foothill Eastern Transportation Corridor uses:**

  prefix
0  HP21L

**Top Prefix Codes Foster City uses:**

  prefix
0   STPL

**Top Prefix Codes Fresno County Rural Transit Agency uses:**

   prefix
0  CMLFTA

**Top Prefix Codes Grand Terrace uses:**

  prefix
0  HSIPL

**Top Prefix Codes Hawthorne uses:**

  prefix
0  HSIPL

**Top Prefix Codes Hermosa Beach uses:**

  prefix
0   STPL

**Top Prefix Codes Hillsborough uses:**

  prefix
0   STPL

**Top Prefix Codes Humboldt Bay Harbor Recreation & Conservation District uses:**

  prefix
0  HP21L

**Top Prefix Codes Huntington Park uses:**

  prefix
0   ATPL

**Top Prefix Codes Ione uses:**

  prefix
0     ER

**Top Prefix Codes Kern County Superintendent of Schools uses:**

  prefix
0    CML

**Top Prefix Codes Kings County Area Public Transit Agency uses:**

   prefix
0  FTACML

**Top Prefix Codes La Jolla Band of Luiseno Indians uses:**

  prefix
0    STP

**Top Prefix Codes Laguna Beach uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Laguna Hills uses:**

  prefix
0   STPL

**Top Prefix Codes Laguna Woods uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Lake Forest uses:**

  prefix
0   STPL

**Top Prefix Codes Lakewood uses:**

  prefix
0   STPL

**Top Prefix Codes Livingston uses:**

  prefix
0    CML

**Top Prefix Codes Lodi Unified School District uses:**

  prefix
0    CML

**Top Prefix Codes Long Beach Transportation Company uses:**

   prefix
0  FTACML

**Top Prefix Codes Los Angeles Unified School District uses:**

   prefix
0  ATPLNI

**Top Prefix Codes Malibu uses:**

  prefix
0  HSIPL

**Top Prefix Codes Marin County Transit District uses:**

    prefix
0  FTASTPL

**Top Prefix Codes Marysville uses:**

  prefix
0   STPL

**Top Prefix Codes Maywood uses:**

  prefix
0  HPLUL

**Top Prefix Codes Monte Sereno uses:**

  prefix
0   STPL

**Top Prefix Codes Morgan Hill uses:**

  prefix
0   STPL

**Top Prefix Codes Morongo Basin Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Mountain Area Regional Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Napa County Office of Education uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes National Park Service, Pacific West Region uses:**

  prefix
0   CASB

**Top Prefix Codes Natomas Unified School District uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Newark uses:**

  prefix
0   STPL

**Top Prefix Codes Orland uses:**

  prefix
0  HSIPL

**Top Prefix Codes Palos Verdes Est uses:**

  prefix
0  HSIPL

**Top Prefix Codes Parlier Unified School District uses:**

  prefix
0  CMLNI

**Top Prefix Codes Piedmont uses:**

  prefix
0   STPL

**Top Prefix Codes Port Hueneme uses:**

  prefix
0   STPL

**Top Prefix Codes Port Of Long Beach uses:**

  prefix
0    CML

**Top Prefix Codes Port of San Francisco uses:**

  prefix
0   STPL

**Top Prefix Codes Portola uses:**

  prefix
0  SRTSL

**Top Prefix Codes Poway uses:**

  prefix
0   STPL

**Top Prefix Codes Red Bluff uses:**

  prefix
0   BRLS

**Top Prefix Codes Rio Dell uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Riverside Transit Agency uses:**

   prefix
0  FTACML

**Top Prefix Codes Rolling Hills Estates uses:**

   prefix
0  RPSTPL

**Top Prefix Codes San Diego Metropolitan Transit System uses:**

    prefix
0  FTASTPL

**Top Prefix Codes San Dimas uses:**

  prefix
0   BHLS

**Top Prefix Codes Santa Cruz County Health Services Agency uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Santa Fe Springs uses:**

   prefix
0  DEML02

**Top Prefix Codes Scotts Valley uses:**

  prefix
0     ER

**Top Prefix Codes Shasta County Regional Transportation Planning Agency uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Sierra Madre uses:**

  prefix
0     ER

**Top Prefix Codes Solano County Transit uses:**

   prefix
0  FTACML

**Top Prefix Codes Sonoma County Transit uses:**

    prefix
0  FTASTPL

**Top Prefix Codes Sonora uses:**

  prefix
0    CML

**Top Prefix Codes South Coast Air Quality Management District uses:**

  prefix
0  HPLUL

**Top Prefix Codes South Coast Area Transit uses:**

   prefix
0  FTACML

**Top Prefix Codes South El Monte uses:**

  prefix
0  HSIPL

**Top Prefix Codes Southern California Regional Rail Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes St Helena uses:**

  prefix
0   HSIP

**Top Prefix Codes Susanville uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Tahoe Regional Planning Agency uses:**

   prefix
0  SNPLMA

**Top Prefix Codes Tehama uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Tehama County Transportation Commission uses:**

   prefix
0  FTACML

**Top Prefix Codes Tri Delta Transit uses:**

   prefix
0  FTASTP

**Top Prefix Codes Trinidad uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Tuolumne County Transportation Council uses:**

   prefix
0  FTACML

**Top Prefix Codes Tustin uses:**

  prefix
0   STPL

**Top Prefix Codes Union Pacific Railroad uses:**

    prefix
0  TCIFESP

**Top Prefix Codes University of California - Davis uses:**

  prefix
0   BRLS

**Top Prefix Codes University of California - Santa Barbara uses:**

  prefix
0   ATPL

**Top Prefix Codes University of California at San Francisco uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Victor Valley Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Villa Park uses:**

  prefix
0   STPL

**Top Prefix Codes Walnut uses:**

  prefix
0   STPL

**Top Prefix Codes Watsonville uses:**

  prefix
0  HSIPL

**Top Prefix Codes Weed uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Western Shasta Resource Conservation District uses:**

  prefix
0   CASB

**Top Prefix Codes Willits uses:**

  prefix
0   BRLS

**Top Prefix Codes Willows uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Yountville uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Access Services uses:**

     prefix
1  FTASTPLR
0   FTASTPL

**Top Prefix Codes Agoura Hills uses:**

  prefix
1  HPLUN
0   BHLO

**Top Prefix Codes Alameda - Contra Costa Transit District uses:**

    prefix
1  FTASTPL
0   FTACML

**Top Prefix Codes Atwater uses:**

  prefix
1  HSIPL
0    CML

**Top Prefix Codes Auburn uses:**

  prefix
1  SRTSL
0    CML

**Top Prefix Codes Bay Area Air Quality Management District uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes Big Bear Lake uses:**

   prefix
0    ATPL
1  HSIPLN

**Top Prefix Codes Biggs uses:**

  prefix
1    CML
0   BRLO

**Top Prefix Codes Blythe uses:**

    prefix
0  SRTSLNI
1     STPL

**Top Prefix Codes Brisbane uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Burlingame uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Central Unified School District uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes Cerritos uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Chino uses:**

  prefix
0  HPLUL
1  HSIPL

**Top Prefix Codes Claremont uses:**

    prefix
0    HSIPL
1  SRTSLNI

**Top Prefix Codes Clearlake uses:**

  prefix
1  HSIPL
0   ATPL

**Top Prefix Codes Compton uses:**

  prefix
1  HPLUL
0  HP21L

**Top Prefix Codes Cotati uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Council of Fresno County Governments uses:**

    prefix
0   FTACML
1  PBICLNI

**Top Prefix Codes Cudahy uses:**

  prefix
0   ATPL
1  HSIPL

**Top Prefix Codes Dana Point uses:**

   prefix
0  RPSTPL
1    STPL

**Top Prefix Codes Del Mar uses:**

  prefix
1  STPLZ
0   BRLS

**Top Prefix Codes Desert Hot Springs uses:**

  prefix
0  SRTSL
1   STPL

**Top Prefix Codes Dixon uses:**

  prefix
0     IM
1   STPL

**Top Prefix Codes El Cajon uses:**

  prefix
1  SRTSL
0  HSIPL

**Top Prefix Codes Fortuna uses:**

   prefix
1  RPSTPL
0   HSIPL

**Top Prefix Codes Fountain Valley uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Fresno Unified School District uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes Gridley uses:**

   prefix
1  RPSTPL
0     CML

**Top Prefix Codes Grover Beach uses:**

   prefix
0     CML
1  RPSTPL

**Top Prefix Codes Gustine uses:**

  prefix
1  HSIPL
0    CML

**Top Prefix Codes Half Moon Bay uses:**

  prefix
1    CML
0   BRLS

**Top Prefix Codes Hawaiian Gardens uses:**

  prefix
0  SRTSL
1   STPL

**Top Prefix Codes Huron uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Indian Wells uses:**

  prefix
1   STPL
0  BRLSN

**Top Prefix Codes Industry uses:**

  prefix
1   TTDG
0  BHLSP

**Top Prefix Codes Irwindale uses:**

  prefix
0     ER
1  HPLUL

**Top Prefix Codes Kern Regional Transit uses:**

   prefix
0  CMLFTA
1  FTACML

**Top Prefix Codes Kings Canyon Unified School District uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes La Habra uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes La Mirada uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes La Palma uses:**

  prefix
0  SRTSL
1   STPL

**Top Prefix Codes La Puente uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Laguna Niguel uses:**

  prefix
0  BRLSZ
1   STPL

**Top Prefix Codes Lemon Grove uses:**

    prefix
1  SRTSLNI
0    SRTSL

**Top Prefix Codes Live Oak uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Livermore Amador Valley Transit Authority uses:**

   prefix
1  RPSTPL
0  FTACML

**Top Prefix Codes Loomis uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Los Altos Hills uses:**

   prefix
0  RPSTPL
1    STPL

**Top Prefix Codes Mammoth Lakes uses:**

   prefix
1   SRTSL
0  RPSTPL

**Top Prefix Codes Marina uses:**

   prefix
0   HSIPL
1  RPSTPL

**Top Prefix Codes Menifee uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Millbrae uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Milpitas uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Montebello uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Monterey uses:**

  prefix
1  HSIPL
0   ATPL

**Top Prefix Codes Monterey Park uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Moorpark uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Needles uses:**

  prefix
0  BPMPL
1   NCPD

**Top Prefix Codes Nevada City uses:**

  prefix
0   BRLS
1    CML

**Top Prefix Codes Newman uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Oakley uses:**

  prefix
0  HPLUL
1   STPL

**Top Prefix Codes Orange Cove uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Paramount uses:**

  prefix
1   STPL
0   BRLS

**Top Prefix Codes Perris uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Pinole uses:**

  prefix
0   BRLS
1   STPL

**Top Prefix Codes Plymouth uses:**

  prefix
1  HRRRL
0  HPLUL

**Top Prefix Codes Port Of Oakland uses:**

   prefix
0     CML
1  DEM05L

**Top Prefix Codes Portola Valley uses:**

  prefix
1   STPL
0     ER

**Top Prefix Codes Redondo Beach uses:**

   prefix
0  FTACML
1    STPL

**Top Prefix Codes Sacramento Metropolitan Air Quality Management District uses:**

  prefix
1  CMLNI
0    CML

**Top Prefix Codes Sacramento Regional Transit District uses:**

    prefix
1  FTASTPL
0   FTACML

**Top Prefix Codes San Bruno uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes San Clemente uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes San Diego Unified Port District uses:**

     prefix
1  TCEPSB1L
0     FERPL

**Top Prefix Codes San Francisco Bay Area Water Transit Authority uses:**

    prefix
1  FTASTPL
0   FTAFBP

**Top Prefix Codes San Joaquin Regional Transit District uses:**

   prefix
1  RPSTPL
0  FTACML

**Top Prefix Codes San Luis Obispo Regional Transit Agency uses:**

   prefix
0  FTACML
1  FTAMCL

**Top Prefix Codes Santa Paula uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Seaside uses:**

    prefix
1  SRTSLNI
0     ATPL

**Top Prefix Codes Sebastopol uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Solvang uses:**

  prefix
1     ER
0  BRLSZ

**Top Prefix Codes South Pasadena uses:**

   prefix
1  RABA01
0   HSIPL

**Top Prefix Codes SouthWest Transportation Agency uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes Stockton Port District uses:**

  prefix
1   PLHL
0   BRLS

**Top Prefix Codes Truckee uses:**

  prefix
0   HPLU
1  HSIPL

**Top Prefix Codes Twentynine Palms uses:**

  prefix
0     BR
1  HSIPL

**Top Prefix Codes University Of California uses:**

  prefix
0   LTAP
1   VPPL

**Top Prefix Codes Waterford uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Western Contra Costa Transit Authority uses:**

    prefix
0   FTACML
1  FTASTPL

**Top Prefix Codes Westlake Village uses:**

  prefix
1  HSIPL
0   BRLO

**Top Prefix Codes Wheatland uses:**

  prefix
1   STPL
0  SRTSL

**Top Prefix Codes Woodlake uses:**

  prefix
0   ATPL
1    CML

**Top Prefix Codes Yolo County Transportation District uses:**

     prefix
1  FTASTCML
0    FTACML

**Top Prefix Codes Yorba Linda uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Yosemite Area Regional Transportation System JPA uses:**

  prefix
1  CMLNI
0    CML

**Top Prefix Codes Albany uses:**

    prefix
0      CML
1  SRTSLNI
2     STPL

**Top Prefix Codes Alhambra uses:**

  prefix
0  HSIPL
1  SRTSL
2   STPL

**Top Prefix Codes American Canyon uses:**

   prefix
1  RPSTPL
0     CML
2    STPL

**Top Prefix Codes Angels uses:**

  prefix
2  HSIPL
1   HIPL
0    CML

**Top Prefix Codes Antioch uses:**

  prefix
0   BHLS
2   STPL
1    CML

**Top Prefix Codes Association Of Monterey Bay Area Governments uses:**

    prefix
2  FSHRP2L
0      CML
1   FSHRP2

**Top Prefix Codes Banning uses:**

  prefix
1   STPL
2  STPLR
0  HSIPL

**Top Prefix Codes Beaumont uses:**

   prefix
0  DEM10L
2    STPL
1      ER

**Top Prefix Codes Bellflower uses:**

  prefix
0  HPLUL
1  HSIPL
2   STPL

**Top Prefix Codes Calabasas uses:**

  prefix
1     ER
2  SRTSL
0     BR

**Top Prefix Codes Calexico uses:**

  prefix
2   STPL
1  HPLUL
0    CML

**Top Prefix Codes Central Contra Costa Transit Authority uses:**

    prefix
0      FTA
1   FTASTP
2  FTASTPL

**Top Prefix Codes City/County Association of Governments of San Mateo County uses:**

   prefix
0   CMLNI
2    STPL
1  STPCML

**Top Prefix Codes Coachella Valley Association of Governments uses:**

   prefix
2  RPSTPL
1     CML
0    ATPL

**Top Prefix Codes Colfax uses:**

   prefix
0     CML
1  HIPCML
2    STPL

**Top Prefix Codes Colusa County uses:**

  prefix
0   BPMP
1     BR
2   BRLO

**Top Prefix Codes Commerce uses:**

   prefix
0  DEM08L
1   HPLUL
2   HSIPL

**Top Prefix Codes Corcoran uses:**

  prefix
2  HIPL5
1   HIPL
0    CML

**Top Prefix Codes Covina uses:**

  prefix
1  HSIPL
0  HPLUL
2   STPL

**Top Prefix Codes Cupertino uses:**

  prefix
0   BPMP
1  HSIPL
2   STPL

**Top Prefix Codes Dublin uses:**

  prefix
0    CML
1  HPLUL
2   STPL

**Top Prefix Codes Dunsmuir uses:**

   prefix
0    BHLO
1    BRLO
2  RPSTPL

**Top Prefix Codes Eastvale uses:**

  prefix
2   STPL
0    CML
1  HSIPL

**Top Prefix Codes El Paso De Robles uses:**

   prefix
2  RPSTPL
0    BHLS
1     CML

**Top Prefix Codes Farmersville uses:**

    prefix
0  CMHSIPL
2     STPL
1      CML

**Top Prefix Codes Fort Bragg uses:**

   prefix
0  ATPLNI
2   SRTSL
1  DEMO6L

**Top Prefix Codes Glendora uses:**

  prefix
0   BHLS
1  HSIPL
2   STPL

**Top Prefix Codes Golden Empire Transit District uses:**

     prefix
2  FTACML14
0    CMLFTA
1    FTACML

**Top Prefix Codes Grass Valley uses:**

  prefix
0  ACSTP
2  CMLNI
1    CML

**Top Prefix Codes Hanford uses:**

  prefix
2  HSIPL
1  CMLNI
0    CML

**Top Prefix Codes Healdsburg uses:**

  prefix
2   STPL
1    CML
0   BRLS

**Top Prefix Codes Hemet uses:**

  prefix
1  HSIPL
0   BRLS
2   STPL

**Top Prefix Codes Hercules uses:**

   prefix
2  TGR2DG
0     CML
1    STPL

**Top Prefix Codes Hughson uses:**

   prefix
1  STPCML
0     CML
2    STPL

**Top Prefix Codes Imperial County Transportation Commission uses:**

   prefix
2  FTACML
0  BUILDL
1     CML

**Top Prefix Codes Jurupa Valley uses:**

   prefix
0  ACSTER
1      ER
2   HSIPL

**Top Prefix Codes Kern County (District 9) uses:**

  prefix
1  ATPLN
0   ATPL
2    CML

**Top Prefix Codes Lathrop uses:**

  prefix
0   BRLS
1    CML
2   STPL

**Top Prefix Codes Lawndale uses:**

    prefix
0    HPLUL
1    HSIPL
2  SRTSLNI

**Top Prefix Codes Livermore uses:**

  prefix
2  TCSPL
0    CML
1   STPL

**Top Prefix Codes Los Banos uses:**

     prefix
1  HIPLPPSB
2     SRTSL
0       CML

**Top Prefix Codes Los Gatos uses:**

  prefix
0    CML
2   STPL
1  HSIPL

**Top Prefix Codes Lynwood uses:**

  prefix
0   ATPL
1  HPLUL
2  HSIPL

**Top Prefix Codes Manhattan Beach uses:**

  prefix
2  SRTSL
0  HPLUL
1  HSIPL

**Top Prefix Codes Manteca uses:**

   prefix
1  RPSTPL
0   HSIPL
2    STPL

**Top Prefix Codes Monrovia uses:**

  prefix
1  HSIPL
0     ER
2   STPL

**Top Prefix Codes Montclair uses:**

   prefix
0    BRLS
2  PNRSHP
1   HSIPL

**Top Prefix Codes Napa County Transportation Planning Agency uses:**

    prefix
0   ATPSB1
1      CML
2  FTASTPL

**Top Prefix Codes Napa Valley Transportation Authority uses:**

      prefix
0     ATPLNI
2    FTASTPL
1  FTASTPCML

**Top Prefix Codes Newport Beach uses:**

  prefix
2   STPL
0   BRLO
1    CML

**Top Prefix Codes Novato uses:**

  prefix
0   BHLS
1  HSIPL
2   STPL

**Top Prefix Codes Oakdale uses:**

   prefix
1  CMSTPL
0     CML
2    STPL

**Top Prefix Codes Ojai uses:**

   prefix
0  ATPCML
1     CML
2    STPL

**Top Prefix Codes OmniTrans uses:**

    prefix
2  FTASTPL
0  FTAATPL
1   FTACML

**Top Prefix Codes Oroville uses:**

   prefix
0  ATPCML
1     CML
2   HSIPL

**Top Prefix Codes Pacifica uses:**

  prefix
1  HP21L
0    CML
2   STPL

**Top Prefix Codes Palm Desert uses:**

   prefix
0     CML
1  HP21CM
2    STPL

**Top Prefix Codes Rancho Cucamonga uses:**

    prefix
1    SRTSL
2  SRTSLNI
0    IMDLN

**Top Prefix Codes Rancho Santa Margarita uses:**

  prefix
1  HSIPL
2   STPL
0  BPMPL

**Top Prefix Codes Redlands uses:**

  prefix
0  BPMPL
2  SRTSL
1  HSIPL

**Top Prefix Codes Rio Vista uses:**

  prefix
1  HPLUL
2  HSIPL
0    CML

**Top Prefix Codes Riverbank uses:**

   prefix
1  STPCML
2    STPL
0     CML

**Top Prefix Codes Rocklin uses:**

  prefix
2   STPL
0   BPMP
1    CML

**Top Prefix Codes Rohnert Park uses:**

   prefix
1  RPSTPL
0     CML
2    STPL

**Top Prefix Codes Rosemead uses:**

  prefix
1  SRTSL
2   STPL
0  HSIPL

**Top Prefix Codes San Francisco Department of Public Health uses:**

    prefix
2  SRTSLNI
0   ATPLNI
1      CML

**Top Prefix Codes San Jacinto uses:**

  prefix
0     ER
2  STPLN
1  HSIPL

**Top Prefix Codes San Juan Capistrano uses:**

  prefix
0   ESPL
1  SRTSL
2   STPL

**Top Prefix Codes San Marino uses:**

    prefix
2  SRTSLNI
1    SRTSL
0       ER

**Top Prefix Codes Sanger uses:**

  prefix
0   BPMP
1    CML
2   STPL

**Top Prefix Codes Santa Clara uses:**

  prefix
1  HSIPL
2   STPL
0    CML

**Top Prefix Codes Santa Cruz County Regional Transportation Commission uses:**

   prefix
0  CMSTPL
1  DEM06L
2  STPLNI

**Top Prefix Codes Santee uses:**

  prefix
0  BRLSZ
2  SRTSL
1  HSIPL

**Top Prefix Codes Sausalito uses:**

  prefix
1  NMTPL
0    CML
2   STPL

**Top Prefix Codes Seal Beach uses:**

    prefix
0  ATPSB1L
2     STPL
1      CML

**Top Prefix Codes Shasta Lake uses:**

  prefix
1   BRLS
0  BPMPL
2  HSIPL

**Top Prefix Codes Sonoma County Transportation Authority uses:**

  prefix
0    CML
2  HPLUL
1  CMLNI

**Top Prefix Codes Sutter Creek uses:**

  prefix
2  HSIPL
1   BRLS
0   BRLO

**Top Prefix Codes Transit Joint Powers Authority For Merced County uses:**

   prefix
1   CMLNI
2  FTACML
0     CML

**Top Prefix Codes U.S. Forest Service, Pacific Southwest Region uses:**

     prefix
1       FTA
2  USFSSTPL
0      CASB

**Top Prefix Codes Ukiah uses:**

    prefix
2  RPSTPLE
1   RPSTPL
0    HSIPL

**Top Prefix Codes Vernon uses:**

   prefix
1    HSIP
2   HSIPL
0  DBPL02

**Top Prefix Codes Vista uses:**

   prefix
2  TCSPDE
0    HSIP
1   HSIPL

**Top Prefix Codes Walnut Creek uses:**

  prefix
0   BHLS
1   BRLS
2   STPL

**Top Prefix Codes West Covina uses:**

  prefix
0  HPLUL
1  HSIPL
2   STPL

**Top Prefix Codes Westminster uses:**

  prefix
2   STPL
0   ATPL
1  HSIPL

**Top Prefix Codes Winters uses:**

  prefix
1  HPLUL
2   STPL
0   BRLS

**Top Prefix Codes Yreka City uses:**

  prefix
2   BRLS
0  ACSTP
1   BPMP

Popular codes in bottom agencies: 
   * FTACML
   * STP/RPSTP
   * HSIP
   * CML 
   * BRLS
   * BRLO
   * CMLNI

* 140 agencies with 1 unique prefix code.
* 339 agencies with 3 or less prefix codes.

## In which Caltrans Districts do these agencies have the most obligations?

### For the agencies in districts that applied the least

* joining the bottom agencies to the full df
* grouping by dsitrict to count the number of obligation occurances

In [19]:
bottom = (df 
     >> group_by(_.primary_agency_name) 
     >> summarize(n=_.prefix.nunique())
     >> filter(_.n<=3)
)

In [20]:
bottom_join = inner_join(df, bottom, on = "primary_agency_name")

In [21]:
bottom_dist = bottom_join >> group_by(_.dist) >> count(_.dist) >> arrange(-_.n)

In [22]:
bottom_dist.rename(columns={'n': 'bottom_n'}, inplace=True)

In [23]:
bottom_dist

    dist  bottom_n
3      4       394
6      7       382
9     10       352
5      6       264
2      3       259
7      8       209
10    11       129
11    12       114
4      5        81
0      1        60
1      2        52
8      9        39

### For the agencies in districts that applied the most

* joining the top agencies to the full df
* grouping by dsitrict to count the number of obligation occurances

In [24]:
top_join = inner_join(df, top, on = "primary_agency_name")

In [25]:
top_dist = top_join >> group_by(_.dist) >> count(_.dist) >> arrange(-_.n)

In [26]:
top_dist.rename(columns={'n': 'top_n'}, inplace=True)

In [27]:
top_dist

    dist  top_n
7      7    959
3      3    316
10    10    262
8      8    219
5      5    133
11    11    131
12    12     13
4      4     11
0      0      4
6      6      3
1      1      2
2      2      1
9      9      1

### Number of Obligations for Top and Bottom on District
 
* joining the dataframes we just made to compare the top and bottom easier
* finding which districts have the most obligations

In [28]:
dist = full_join(bottom_dist, top_dist, on = "dist")

In [29]:
dist>>arrange(_.dist)

    dist  bottom_n  top_n
12     0       NaN      4
9      1      60.0      2
10     2      52.0      1
4      3     259.0    316
0      4     394.0     11
8      5      81.0    133
3      6     264.0      3
1      7     382.0    959
5      8     209.0    219
11     9      39.0      1
2     10     352.0    262
6     11     129.0    131
7     12     114.0     13

In [30]:
dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dist      13 non-null     int64
 1   bottom_n  12 non-null     float64
 2   top_n     13 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 416.0 bytes

In [31]:
dist['bottom_n'] = dist['bottom_n'].fillna(0)

In [32]:
dist['bottom_n'] = dist['bottom_n'].astype(int)

In [33]:
dist.rename(columns={'dist': 'district'}, inplace=True)

In [34]:
dist>>arrange(_.district)

    district  bottom_n  top_n
12         0         0      4
9          1        60      2
10         2        52      1
4          3       259    316
0          4       394     11
8          5        81    133
3          6       264      3
1          7       382    959
5          8       209    219
11         9        39      1
2         10       352    262
6         11       129    131
7         12       114     13

## Findings:

* **339 agencies** have **3 or less** unique prefixes. 
* **80 agencies** have **10 or more** unique prefixes, with the following **9 agenceies** listed with **20 or more**. 
* **District 7 and District 2** have the most obligations out of the top and bottom agencies



| Top Agencies  | Bottom Agencies (sample of 9)|
| ------------- | ------------- | 
| Los Angeles | Sonoma County Transportation Authority | 
| Caltrans  |Port Of Long Beach |   
| Los Angeles County |Newport Beach |    
| San Bernardino Associated Governments | Portola | 
| San Diego | Calaveras Council Of Governments | 
| Riverside County | Hawthorne | 
| San Luis Obispo County | Corcoran |  
| Stockton | Claremont | 
| El Dorado County | El Cajon |