In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

In [3]:
df = pd.read_parquet('./scripts/vp_usable_metrics.parquet')

In [4]:
df.shape

(86486, 11)

In [5]:
df.head()

,trip_instance_key,minutes_w_atleast2_trip_updates,median_pings_per_min,total_minute_w_gtfs,total_trip_time,total_vp,vp_in_shape,speed_mph,route_id,time_of_day,service_minutes
0,01d684e5d18b56f09f2eb816241b77b1,11,3.00,11,11.00,NaN,NaN,NaN,None,None,NaN
1,0828e4c01c7313d43981af8c2e198491,16,3.00,16,16.00,NaN,NaN,NaN,None,None,NaN
2,0975f532d046ada21eb55491d265ccde,46,3.00,49,53.00,NaN,NaN,NaN,None,None,NaN
3,0e0744f698ab90d835ab1c20f0e73818,24,3.00,25,25.00,NaN,NaN,NaN,None,None,NaN
4,0ecff5e49c02581abdd223ec8bcbfd23,30,3.00,33,33.00,NaN,NaN,NaN,None,None,NaN