In [1]:
import os
os.environ["CALITP_BQ_MAX_BYTES"] = str(800_000_000_000) ## 800GB?

from calitp.tables import tbl
from calitp import query_sql, magics
import calitp.magics
import branca

import shared_utils

from siuba import *
import pandas as pd

import datetime as dt
import time
from zoneinfo import ZoneInfo

import importlib

import gcsfs
fs = gcsfs.GCSFileSystem()

from tqdm import tqdm_notebook
from tqdm.notebook import trange, tqdm

from IPython.display import display, Markdown

/opt/conda/lib/python3.10/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
/opt/conda/lib/python3.10/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
/opt/conda/lib/python3.10/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/

In [2]:
import utils

In [3]:
itp_id = 300

In [4]:
pd.set_option("display.max_columns", 100)

In [5]:
analysis_date_start = '2022-05-01'
analysis_date_end = '2022-05-31'

In [20]:
%%sql
SELECT *
FROM `cal-itp-data-infra-staging.natalie_views.gtfs_rt_vs_sched_ran`

/opt/conda/lib/python3.10/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/

    calitp_itp_id  calitp_url_number service_date  num_sched  num_rt   pct_ran
0             300                  0   2022-05-22        770     543  0.705195
1             300                  0   2022-05-01        771     527  0.683528
2             300                  0   2022-05-15        771     527  0.683528
3             300                  0   2022-05-29        773     559  0.723157
4             300                  0   2022-05-08        773     504  0.652005
5             300                  0   2022-05-13       1560    1439  0.922436
6             300                  0   2022-05-06       1561    1392  0.891736
7             300                  0   2022-05-27       1563    1417  0.906590
8             300                  0   2022-05-20       1564    1466  0.937340
9             300                  0   2022-05-30        829     800  0.965018
10            300                  0   2022-05-11       1617    1482  0.916512
11            300                  0   2022-05-10       1618    1482  0.915946
12            300                  0   2022-05-25       1618    1450  0.896168
13            300                  0   2022-05-26       1618    1496  0.924598
14            300                  0   2022-05-12       1619    1483  0.915998
15            300                  0   2022-05-24       1619    1473  0.909821
16            300                  0   2022-05-17       1621    1478  0.911783
17            300                  0   2022-05-04       1622    1487  0.916769
18            300                  0   2022-05-03       1624    1473  0.907020
19            300                  0   2022-05-19       1625    1476  0.908308
20            300                  0   2022-05-18       1627    1488  0.914567
21            300                  0   2022-05-05       1628    1455  0.893735
22            300                  0   2022-05-28        873     615  0.704467
23            300                  0   2022-05-14        874     604  0.691076
24            300                  0   2022-05-07        874     608  0.695652
25            300                  0   2022-05-21        877     642  0.732041
26            300                  0   2022-05-31       1516    1067  0.703826
27            300                  0   2022-05-16       1518    1030  0.678524
28            300                  0   2022-05-02       1519    1069  0.703752
29            300                  0   2022-05-09       1523    1060  0.695995
30            300                  0   2022-05-23       1524    1094  0.717848

In [6]:
#gtfs_daily = utils.load_schedule_data(analysis_date_start, analysis_date_end, itp_id)

In [7]:
#gtfs_daily

In [8]:
#gtfs_daily.service_date.min()

In [9]:
#gtfs_daily.service_date.max()

In [10]:
#rt = utils.load_rt_data(analysis_date_start, analysis_date_end)

In [11]:
#rt

In [12]:
#rt['str_len'] = rt.trip_id.str.len()

In [13]:
#rt.str_len.value_counts()

In [14]:
#len(rt)

In [15]:
#rt.trip_id.nunique()

In [16]:
#len(gtfs_daily)

In [17]:
#gtfs_daily.trip_id.nunique()

In [18]:
date_list =['2022-05-01','2022-05-02', '2022-05-31']

In [19]:

from datetime import date, timedelta
start_date = date(2022, 5, 1)
end_date = date(2022, 5, 31)

In [20]:
# daterange = pd.date_range(start_date, end_date)

In [21]:
# (daterange)

In [22]:
#above range does not work with function

In [23]:
dates = set()

def daterange2(start, end):
    for n in range(int((end - start).days) + 1):
        yield start + timedelta(n)

for single_date in daterange2(start_date, end_date):
    dates.add(single_date.strftime('%Y-%m-%d'))

In [24]:
(dates)

{'2022-05-01',
 '2022-05-02',
 '2022-05-03',
 '2022-05-04',
 '2022-05-05',
 '2022-05-06',
 '2022-05-07',
 '2022-05-08',
 '2022-05-09',
 '2022-05-10',
 '2022-05-11',
 '2022-05-12',
 '2022-05-13',
 '2022-05-14',
 '2022-05-15',
 '2022-05-16',
 '2022-05-17',
 '2022-05-18',
 '2022-05-19',
 '2022-05-20',
 '2022-05-21',
 '2022-05-22',
 '2022-05-23',
 '2022-05-24',
 '2022-05-25',
 '2022-05-26',
 '2022-05-27',
 '2022-05-28',
 '2022-05-29',
 '2022-05-30',
 '2022-05-31'}

In [25]:
rt['date'] = pd.to_datetime(rt['date'])

In [26]:
gtfs_daily['service_date'] = pd.to_datetime(gtfs_daily['service_date'])

In [27]:
single_date2 = '2022-05-08'

(rt>>filter(_.date == single_date2))

      calitp_itp_id  calitp_url_number       date trip_id vehicle_id  str_len
8910            300                  0 2022-05-08  882227       1303        6
8911            300                  0 2022-05-08  882219       1303        6
8912            300                  0 2022-05-08  882246       1303        6
8913            300                  0 2022-05-08  882212       1303        6
8914            300                  0 2022-05-08  882217       1303        6
...             ...                ...        ...     ...        ...      ...
9692            300                  0 2022-05-08  881140       5317        6
9693            300                  0 2022-05-08  881211       5317        6
9694            300                  0 2022-05-08  881201       5317        6
9695            300                  0 2022-05-08  881356       5317        6
9696            300                  0 2022-05-08  881365       5317        6

[787 rows x 6 columns]

In [28]:
# def get_pct_ran_df2(itp_id, list_of_dates):
#     pcts = []
#     for single_date in list_of_dates:
#         gtfs_daily2 = (gtfs_daily>>filter(_.service_date == single_date))
#         rt2 = (rt>>filter(_.date == single_date))
#         sched_rt_df = (pd.merge(gtfs_daily2, rt2, how='outer', on='trip_id', indicator='have_rt'))
#         #pct_ran = (utils.get_pct_ran(sched_rt_df, single_date))
#         day_pct_ran = {}
#         day_pct_ran['date'] = single_date
#         if ((len(sched_rt_df))!=0):
#             day_pct_ran['pct_trips_ran'] = ((len(sched_rt_df>>filter(_.have_rt=='both')))/(len(gtfs_daily2)))
#         elif ((len(sched_rt_df))==0):
#             day_pct_ran['pct_trips_ran'] = ''
#         pct_ran = pd.DataFrame([day_pct_ran])
#         pct_ran['n_have_rt'] = (len(sched_rt_df>>filter(_.have_rt=='both')))
#         pct_ran['n_missing_rt'] = (len(sched_rt_df>>filter(_.have_rt=='right_only')))
#         pct_ran['unmatched_rt'] = (len(sched_rt_df>>filter(_.have_rt=='left_only')))
#         pct_ran['nunique_sched'] = (gtfs_daily2.trip_id.nunique())
#         pct_ran['nunique_rt'] = (rt2.trip_id.nunique())

#         pcts.append(pct_ran)                                                    
#         #code help from: https://stackoverflow.com/questions/28669482/appending-pandas-dataframes-generated-in-a-for-loop
#     pcts = pd.concat(pcts)
#     pcts = pcts>>arrange(_.date)
#     return pd.DataFrame(pcts)

In [29]:
may = utils.get_pct_ran_df(itp_id, dates, gtfs_daily, rt)

In [30]:
may

,date,pct_trips_ran,n_have_rt,n_missing_rt,unmatched_rt,nunique_sched,nunique_rt
0,2022-05-01,0.684416,527,252,244,770,778
0,2022-05-02,0.705145,1069,252,450,1516,1318
0,2022-05-03,0.971636,1473,0,151,1516,1365
0,2022-05-04,0.980871,1487,0,135,1516,1381
0,2022-05-05,0.959763,1455,0,173,1516,1343
0,2022-05-06,0.950820,1392,0,169,1464,1295
0,2022-05-07,0.698851,608,395,266,870,999
0,2022-05-08,0.654545,504,283,269,770,783
0,2022-05-09,0.699208,1060,247,463,1516,1300
0,2022-05-10,0.977573,1482,0,136,1516,1380
0,2022-05-11,0.977573,1482,0,135,1516,1381
0,2022-05-12,0.978232,1483,0,136,1516,1380
0,2022-05-13,0.982923,1439,0,121,1464,1343
0,2022-05-14,0.694253,604,378,270,870,978
0,2022-05-15,0.684416,527,286,244,770,809
0,2022-05-16,0.679420,1030,255,488,1516,1281
0,2022-05-17,0.974934,1478,0,143,1516,1373
0,2022-05-18,0.981530,1488,0,139,1516,1377
0,2022-05-19,0.973615,1476,0,149,1516,1367
0,2022-05-20,1.001366,1466,0,98,1464,1366
0,2022-05-21,0.737931,642,414,235,870,1044
0,2022-05-22,0.705195,543,292,227,770,834
0,2022-05-23,0.721636,1094,255,430,1516,1341
0,2022-05-24,0.971636,1473,0,146,1516,1370
0,2022-05-25,0.956464,1450,0,168,1516,1348
0,2022-05-26,0.986807,1496,0,122,1516,1394
0,2022-05-27,0.966576,1417,0,146,1466,1320
0,2022-05-28,0.706897,615,391,258,870,1002
0,2022-05-29,0.725974,559,259,214,770,814
0,2022-05-30,1.038961,800,0,29,770,741
0,2022-05-31,0.703826,1067,256,449,1516,1322

In [31]:
import altair as alt
from dla_utils import _dla_utils

from shared_utils import altair_utils
from shared_utils import geography_utils
from shared_utils import calitp_color_palette as cp
from shared_utils import styleguide

In [32]:
bar = (alt.Chart(may)
        .mark_bar()
        .encode(
            x=alt.X('date', title=_dla_utils.labeling('date'), sort=("x")),
            y=alt.Y('pct_trips_ran', title=_dla_utils.labeling('pct_trips_ran')),
            color=alt.Color(
                'pct_trips_ran',
                scale=alt.Scale(range=altair_utils.CALITP_SEQUENTIAL_COLORS),
                legend=alt.Legend(title=(_dla_utils.labeling('pct_trips_ran')), symbolLimit=10)
            )
        ).properties(title='"Percent of Scheduled Trips with RT Data"'))
    
chart = styleguide.preset_chart_config(bar)
chart

alt.Chart(...)

In [33]:
may.sample()

,date,pct_trips_ran,n_have_rt,n_missing_rt,unmatched_rt,nunique_sched,nunique_rt
0,2022-05-16,0.68,1030,255,488,1516,1281

In [34]:
may_long =  (may>>select(_.date,
                         _.nunique_sched,
                         _.nunique_rt, 
             #            _.n_have_rt
                        ) 
             >> gather('measure',
                       'value',
                       _.nunique_sched,
                       _.nunique_rt,
       #                _.n_have_rt
                      )
            )

In [35]:
may_long

          date        measure  value
0   2022-05-01  nunique_sched    770
1   2022-05-02  nunique_sched   1516
2   2022-05-03  nunique_sched   1516
3   2022-05-04  nunique_sched   1516
4   2022-05-05  nunique_sched   1516
..         ...            ...    ...
57  2022-05-27     nunique_rt   1320
58  2022-05-28     nunique_rt   1002
59  2022-05-29     nunique_rt    814
60  2022-05-30     nunique_rt    741
61  2022-05-31     nunique_rt   1322

[62 rows x 3 columns]

In [36]:
bar = alt.Chart(may_long).mark_bar(opacity=0.7).encode(
    x='date:O',
    y=alt.Y('value:Q', stack=None),
    color="measure",
)

chart = styleguide.preset_chart_config(bar)
chart

alt.Chart(...)

In [37]:
base = alt.Chart(may).encode(x=alt.X('date:O', title=_dla_utils.labeling('date')))

bar = base.mark_bar().encode(y=alt.Y('nunique_sched:Q', title=_dla_utils.labeling('nunique_sched')))

line =  base.mark_line(color='#EB9F3C').encode(
    y='nunique_rt:Q'
)

(bar + line).properties(title="Number of Unique Scheduled Trips and Number of Unique RT Trips")

alt.LayerChart(...)