In [1]:
import os
os.environ["CALITP_BQ_MAX_BYTES"] = str(800_000_000_000) ## 800GB?

from calitp.tables import tbl
from calitp import query_sql
import calitp.magics
import branca

import shared_utils

from siuba import *
import pandas as pd

import datetime as dt
import time
from zoneinfo import ZoneInfo

import importlib

import gcsfs
fs = gcsfs.GCSFileSystem()

from tqdm import tqdm_notebook
from tqdm.notebook import trange, tqdm

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(
/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/

In [2]:
analysis_date = dt.date(2022,5,25)

In [3]:
(tbl.views.gtfs_schedule_fact_daily_trips()
 >>filter(_.calitp_itp_id==300)
 >>filter(_.service_date == analysis_date)
)

,feed_key,trip_key,trip_id,route_id,calitp_itp_id,calitp_url_number,service_id,service_date,service_indicator,service_start_date,...,service_inclusion,service_exclusion,is_in_service,calitp_extracted_at,calitp_deleted_at,n_stops,n_stop_times,trip_first_departure_ts,trip_last_arrival_ts,service_hours
0,4100255323842349957,8870531013060199715,883645,3501,300,0,40510,2022-05-25,0,2022-03-27,...,True,None,True,2022-03-29,2099-01-01,14,14,50700,51780,0.300000
1,4100255323842349957,-5118958034454309391,883656,3501,300,0,77710,2022-05-25,0,2022-03-27,...,True,None,True,2022-03-29,2099-01-01,14,14,59340,60540,0.333333
2,4100255323842349957,322830144434162923,882491,3489,300,0,10,2022-05-25,1,2022-03-27,...,None,None,True,2022-03-29,2099-01-01,14,14,22740,24000,0.350000
3,4100255323842349957,-7391811447841817502,883658,3501,300,0,77710,2022-05-25,0,2022-03-27,...,True,None,True,2022-03-29,2099-01-01,14,14,61140,62340,0.333333
4,4100255323842349957,7616134085569325300,882341,3489,300,0,1,2022-05-25,0,2022-03-27,...,None,None,False,2022-03-29,2099-01-01,14,14,63360,64620,0.350000