In [3]:
import os
os.environ["CALITP_BQ_MAX_BYTES"] = str(800_000_000_000) ## 800GB?

from calitp.tables import tbl
from calitp import query_sql
import calitp.magics
import branca

import shared_utils
# import utils

from siuba import *
import pandas as pd

import datetime as dt
import time

# Quick example of finding cancelled service in service alerts

In [32]:
alert_query = '''SELECT * FROM `cal-itp-data-infra.staging.stg_rt__service_alerts`
WHERE date = '2022-05-11' AND calitp_itp_id = 300'''

In [33]:
bbb_alerts = query_sql(alert_query) >> distinct(_.id, _keep_all=True)

In [34]:
bbb_alerts.effect.unique()

array(['STOP_MOVED', 'NO_SERVICE', 'DETOUR'], dtype=object)

In [35]:
no_service = bbb_alerts >> filter(_.effect == 'NO_SERVICE')

In [38]:
# Deduplicated service alerts describing no service
no_service

,calitp_itp_id,calitp_url_number,original_file_path,date,id,active_periods,informed_entities,cause,effect,url_translations,header_text_translations,description_text_translations,tts_header_text_translations,tts_description_text_translations,severity_level,key
1,300,0,gtfs-data/rt/2022-05-11T20:00:06/300/0/gtfs_rt...,2022-05-11,ad74d4ee-87d8-4567-afc7-93a3e8f2aee5,"[{'start': 1648836000, 'end': 1660460400}]","[{'agencyId': None, 'routeId': '3501', 'routeT...",OTHER_CAUSE,NO_SERVICE,"[{'text': '', 'language': None}]",[],[],[],[],None,f5b56acfde48d3575bdf932fe0583fbe
3,300,0,gtfs-data/rt/2022-05-11T20:00:06/300/0/gtfs_rt...,2022-05-11,30856f5c-c89a-44bf-a9f7-66f6212d6d7c,"[{'start': 1641801600, 'end': None}]","[{'agencyId': None, 'routeId': '3371', 'routeT...",OTHER_CAUSE,NO_SERVICE,[{'text': 'https://www.bigbluebus.com/servicea...,[],[],[],[],None,8659611da7bc66e82cc9e14f1a650de3

In [55]:
# Example of grabbing route_ids from the informed_entities list column
# Warehouse model will need more complex logic (different entities, AND relationships, etc...)
no_service_rts = [entity[0]['routeId'] for entity in no_service.informed_entities.to_list()]

In [39]:
# These are the routes in GTFS Schedule for May 11 that were cancelled via a service alert
bbb_routes = shared_utils.gtfs_utils.get_route_info('2022-05-11', [300])

In [57]:
bbb_routes >> filter(_.route_id.isin(no_service_rts))

,feed_key,route_key,date,route_continuous_pickup,agency_email,route_short_name,agency_timezone,agency_fare_url,route_desc,route_url,...,agency_phone,route_continuous_drop_off,agency_id,agency_lang,calitp_extracted_at,calitp_itp_id,route_color,route_type,calitp_url_number,calitp_deleted_at
5,4100255323842349957,7100850145565938766,2022-05-11,None,None,44,America/Los_Angeles,None,None,http://bigbluebus.com/Routes-and-Schedules/Rou...,...,310-451-5444,None,6216179,en,2022-03-08,300,E87D1E,3,0,2022-09-01

In [47]:
bbb_trips = shared_utils.gtfs_utils.get_trips('2022-05-11', [300])

In [58]:
# These are the trips in GTFS Schedule for May 11 that were cancelled via a service alert
# Drop these for correct BBB denominator...
bbb_trips >> filter(_.route_id.isin(no_service_rts))

,feed_key,trip_key,trip_id,route_id,calitp_itp_id,calitp_url_number,service_id,service_date,service_indicator,service_start_date,...,trip_short_name,calitp_extracted_at,bikes_allowed,trip_headsign,wheelchair_accessible,block_id,direction_id,calitp_hash,shape_id,calitp_deleted_at
10,4100255323842349957,-3713591605883991482,883709,3501,300,0,77710,2022-05-11,0,2022-03-27,...,None,2022-03-29,0,SMC Bundy Campus,0,None,1,Ui3UjFVCRqBn4zR+wux6Hw==,25956,2022-07-18
66,4100255323842349957,-6520643777545136247,883673,3501,300,0,77710,2022-05-11,0,2022-03-27,...,None,2022-03-29,0,SMC Bundy Campus,0,None,1,qlhx+hLbkigzcnMYk6546A==,25956,2022-07-18
69,4100255323842349957,-7391811447841817502,883658,3501,300,0,77710,2022-05-11,0,2022-03-27,...,None,2022-03-29,0,17th St Station,0,None,0,trwQoCUVhXfM+zBKxdJX8Q==,25955,2022-07-18
93,4100255323842349957,-1694631383424735171,883711,3501,300,0,77710,2022-05-11,0,2022-03-27,...,None,2022-03-29,0,SMC Bundy Campus,0,None,1,3+bLxWwiYHTM02jJekWwhg==,25956,2022-07-18
135,4100255323842349957,-856925526770901337,883707,3501,300,0,77710,2022-05-11,0,2022-03-27,...,None,2022-03-29,0,SMC Bundy Campus,0,None,1,vFlZLSfWSJytbwEROjZ8yw==,25956,2022-07-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,4100255323842349957,-4536867871001574744,883704,3501,300,0,40510,2022-05-11,0,2022-03-27,...,None,2022-03-29,0,SMC Bundy Campus,0,None,1,dgf9aDilu7r9eifGBdWAPg==,25956,2022-07-18
1472,4100255323842349957,-3768729868815070839,883648,3501,300,0,77710,2022-05-11,0,2022-03-27,...,None,2022-03-29,0,17th St Station,0,None,0,UJ5APuy718Xg1d6LO0YreA==,25955,2022-07-18
1477,4100255323842349957,-4248367646246635494,883614,3501,300,0,77710,2022-05-11,0,2022-03-27,...,None,2022-03-29,0,17th St Station,0,None,0,+eBNI6FmTd8PEzL9qsHqwQ==,25955,2022-07-18
1510,4100255323842349957,6501687258087098744,883634,3501,300,0,77710,2022-05-11,0,2022-03-27,...,None,2022-03-29,0,17th St Station,0,None,0,RgS6gxy6q31nIfT/f9itpg==,25955,2022-07-18
1511,4100255323842349957,-5432335753960754540,883671,3501,300,0,77710,2022-05-11,0,2022-03-27,...,None,2022-03-29,0,SMC Bundy Campus,0,None,1,IUc0hO7fh5vp/0PkO1zg6Q==,25956,2022-07-18