# {} Vehicle Position Data Available for Scheduled Data

In [1]:
import utils
import shared_utils
from dla_utils import _dla_utils as dla_utils

from siuba import *
import pandas as pd

from IPython.display import display, Markdown

/opt/conda/lib/python3.10/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
#agency is defined as the single operator (a unique calitp_itp_id) used to subset the data

In [3]:
#parameter cell
calitp_id = 300

In [4]:
rt_sched = utils.read_data()

In [5]:
rt_sched['calitp_deleted_at'] = pd.to_datetime(rt_sched['calitp_deleted_at'])

In [6]:
#for now filtering down these columns so we do not have the bad 
#rt_sched = rt_sched[((rt_sched["calitp_itp_id"]==290) & (rt_sched["calitp_url_number"]==1)) | ((rt_sched["calitp_itp_id"]==300))]

In [7]:
rt_sched.head()

,calitp_itp_id,agency_name,calitp_url_number,route_id,route_short_name,service_date,calitp_extracted_at,calitp_deleted_at,num_sched,num_vp,pct_w_vp,weekday,month
0,290,SamTrans,1,17,17,2022-06-27,2021-04-16,2022-08-08,33,25,0.76,Monday,June
1,290,SamTrans,1,17,17,2022-06-08,2021-04-16,2022-08-08,33,25,0.76,Wednesday,June
2,290,SamTrans,1,17,17,2022-06-06,2021-04-16,2022-08-08,33,25,0.76,Monday,June
3,290,SamTrans,1,17,17,2022-05-31,2021-04-16,2022-08-08,33,25,0.76,Tuesday,May
4,290,SamTrans,1,17,17,2022-06-13,2021-04-16,2022-08-08,33,25,0.76,Monday,June

In [8]:
rt_sched>>filter(_.agency_name.isnull())

Empty DataFrame
Columns: [calitp_itp_id, agency_name, calitp_url_number, route_id, route_short_name, service_date, calitp_extracted_at, calitp_deleted_at, num_sched, num_vp, pct_w_vp, weekday, month]
Index: []

In [9]:
rt_sched.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3950 entries, 0 to 6897
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   calitp_itp_id        3950 non-null   int64
 1   agency_name          3950 non-null   object
 2   calitp_url_number    3950 non-null   int64
 3   route_id             3950 non-null   object
 4   route_short_name     3950 non-null   object
 5   service_date         3950 non-null   datetime64[ns]
 6   calitp_extracted_at  3950 non-null   object
 7   calitp_deleted_at    3950 non-null   datetime64[ns]
 8   num_sched            3950 non-null   int64
 9   num_vp               3950 non-null   int64
 10  pct_w_vp             3950 non-null   float64
 11  weekday              3950 non-null   object
 12  month                3950 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(4), object(6)
memory usage: 432.0+ KB

In [10]:
#getting df with daily pct 
rt_sched_date = utils.agg_by_date(rt_sched, 'num_sched', 'num_vp')

In [19]:
agency = rt_sched>>filter(_.calitp_itp_id == calitp_id)

In [20]:
#getting df with daily pct for single agency
agency_date = utils.agg_by_date(agency, 'num_sched', 'num_vp')

In [21]:
agency_date.head()

,calitp_itp_id,agency_name,calitp_url_number,service_date,weekday,month,total_num_sched,total_num_vp,pct_w_vp
0,300,Big Blue Bus,0,2022-05-01,Sunday,May,770,526,0.68
1,300,Big Blue Bus,0,2022-05-02,Monday,May,1516,1066,0.70
2,300,Big Blue Bus,0,2022-05-03,Tuesday,May,1516,1365,0.90
3,300,Big Blue Bus,0,2022-05-04,Wednesday,May,1516,1381,0.91
4,300,Big Blue Bus,0,2022-05-05,Thursday,May,1516,1343,0.89

In [22]:
utils.groupby_onecol(agency_date, 'calitp_itp_id', 'pct_w_vp')

   calitp_itp_id  avg
0            300 0.82

In [23]:
utils.groupby_onecol(agency, 'calitp_itp_id', 'pct_w_vp')

   calitp_itp_id  avg
0            300 0.85

In [16]:
utils.groupby_onecol(rt_sched_date, 'calitp_itp_id', 'pct_w_vp')

   calitp_itp_id  avg
0            290 0.72
1            300 0.82

In [17]:
utils.groupby_onecol(rt_sched, 'calitp_itp_id', 'pct_w_vp')

   calitp_itp_id  avg
0            290 0.80
1            300 0.85

In [18]:
rt_sched.sample()

,calitp_itp_id,agency_name,calitp_url_number,route_id,route_short_name,service_date,calitp_extracted_at,calitp_deleted_at,num_sched,num_vp,pct_w_vp,weekday,month
5689,290,SamTrans,1,294,294,2022-06-23,2021-04-16,2022-08-08,24,4,0.17,Thursday,June