# Exercise 2
---

### Download Packages

In [1]:
import pandas as pd
import numpy as ny

### Read in our Files

In [52]:
GCS_FILE_PATH = "gs://calitp-analytics-data/data-analyses/bus_service_increase/"
FILE_NAME = "ntd_metrics_2019.csv"

df_metrics = pd.read_csv(f"{GCS_FILE_PATH}{FILE_NAME}")

In [53]:
df_metrics.head(2)

,Agency,City,State,Legacy NTD ID,NTD ID,Organization Type,Reporter Type,Primary UZA\n Population,Agency VOMS,Mode,...,Passenger Miles Questionable,Vehicle Revenue Miles,Vehicle Revenue Miles Questionable,Any data questionable?,Unnamed: 39,Unnamed: 40,Unnamed: 41,1,Unnamed: 43,Unnamed: 44
0,MTA New York City Transit,New York,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","10,885",HR,...,NaN,"354,616,371",NaN,No,NaN,NaN,NaN,Hide questionable data tags,NaN,NaN
1,MTA New York City Transit,New York,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","10,885",CB,...,NaN,"9,866,807",NaN,No,NaN,NaN,NaN,Show questionable data tags,NaN,NaN

In [54]:
df_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3685 entries, 0 to 3684
Data columns (total 45 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Agency                                                                   3680 non-null   object
 1   City                                                                     3680 non-null   object
 2   State                                                                    3680 non-null   object
 3   Legacy NTD ID                                                            3394 non-null   object
 4   NTD ID                                                                   3680 non-null   object
 5   Organization Type                                                        3680 non-null   object
 6   Reporter Type                                                            3680 non-null   object
 7   Primary UZA
 Population                                                  3680 non-null   object
 8   Agency VOMS                                                              3680 non-null   object
 9   Mode                                                                     3680 non-null   object
 10  TOS                                                                      3680 non-null   object
 11  Mode VOMS                                                                3680 non-null   object
 12  Ratios:                                                                  0 non-null      float64
 13  Fare Revenues per Unlinked Passenger Trip                                3680 non-null   object
 14  Fare Revenues per Unlinked Passenger Trip Questionable                   43 non-null     object
 15  Fare Revenues per Total Operating Expense (Recovery Ratio)               3680 non-null   object
 16  Fare Revenues per Total Operating Expense (Recovery Ratio) Questionable  0 non-null      float64
 17  Cost per
 Hour                                                           3680 non-null   object
 18  Cost per Hour Questionable                                               18 non-null     object
 19  Passengers per Hour                                                      3680 non-null   object
 20  Passengers per Hour Questionable                                         45 non-null     object
 21  Cost per Passenger                                                       3680 non-null   object
 22  Cost per Passenger Questionable                                          43 non-null     object
 23  Cost per Passenger Mile                                                  3680 non-null   object
 24  Cost per Passenger Mile Questionable                                     78 non-null     object
 25  Source Data:                                                             0 non-null      float64
 26  Fare Revenues Earned                                                     3680 non-null   object
 27  Fare Revenues Earned Questionable                                        0 non-null      float64
 28  Total Operating Expenses                                                 3680 non-null   object
 29  Total Operating Expenses Questionable                                    0 non-null      float64
 30  Unlinked Passenger Trips                                                 3680 non-null   object
 31  Unlinked Passenger Trips Questionable                                    43 non-null     object
 32  Vehicle Revenue Hours                                                    3680 non-null   object
 33  Vehicle Revenue Hours Questionable                                       18 non-null     object
 34  Passenger Miles                                                          3680 non-null   object
 35  Passenger Miles Questionable                                             78 non-null     object
 36  Vehicle Revenue Miles                                                    3680 non-null   object
 37  Vehicle Revenue Miles Questionable                                       26 non-null     object
 38  Any data questionable?                                                   3685 non-null   object
 39  Unnamed: 39                                                              0 non-null      float64
 40  Unnamed: 40                                                              1 non-null      float64
 41  Unnamed: 41                                                              0 non-null      float64
 42  1                                                                        3 non-null      object
 43  Unnamed: 43                                                              0 non-null      float64
 44  Unnamed: 44                                                              1 non-null      float64
dtypes: float64(10), object(35)
memory usage: 1.3+ MB

In [4]:
df_metrics.shape

(3685, 45)

In [5]:
df_metrics = df_metrics.iloc[:, [0,1,2,13,15,26]]

In [6]:
df_metrics.shape

(3685, 6)

In [7]:
df_metrics.head(2)

,Agency,City,State,Fare Revenues per Unlinked Passenger Trip,Fare Revenues per Total Operating Expense (Recovery Ratio),Fare Revenues Earned
0,MTA New York City Transit,New York,NY,$1.34,0.70,"$3,643,213,720"
1,MTA New York City Transit,New York,NY,$6.66,0.32,"$76,398,352"

#### Loading Vehicle dataset

In [55]:
FILE_TWO = "ntd_vehicles_2019.csv"

df_vehicles = pd.read_csv(f"{GCS_FILE_PATH}{FILE_TWO}")

In [56]:
df_vehicles.head(2)

,Agency,City,State,Legacy NTD ID,NTD ID,Organization Type,Reporter Type,Primary UZA Population,Agency VOMS,Bus,...,Trucks And Other Rubber Tire Vehicles,Trucks And Other Rubber Tire Vehicles >= ULB,Steel Wheel Vehicles,Steel Wheel Vehicles >= ULB,Total Service Vehicles,Total Service Vehicles >= ULB,Unnamed: 95,Unnamed: 96,Unnamed: 97,1
0,MTA New York City Transit,New York,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","10,885","3,104",...,"1,489",408,373,262,"2,297",818,NaN,NaN,NaN,Hide Vehicles >= ULB
1,New Jersey Transit Corporation,Newark,NJ,2080,20080,Other Publicly-Owned or Privately Chartered Co...,Full Reporter,"18,351,295","3,645","1,234",...,787,374,89,21,975,477,NaN,NaN,NaN,Show Vehicles >= ULB

In [57]:
df_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2775 entries, 0 to 2774
Data columns (total 99 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Agency                                                        2775 non-null   object
 1   City                                                          2775 non-null   object
 2   State                                                         2775 non-null   object
 3   Legacy NTD ID                                                 1987 non-null   object
 4   NTD ID                                                        2775 non-null   object
 5   Organization Type                                             2775 non-null   object
 6   Reporter Type                                                 2775 non-null   object
 7   Primary UZA Population                                        2775 non-null   object
 8   Agency VOMS                                                   2775 non-null   object
 9   Bus                                                           2775 non-null   object
 10  Bus with ULB Reported                                         2775 non-null   object
 11  Bus  >= ULB                                                   2775 non-null   int64
 12  Articulated Bus                                               2775 non-null   object
 13  Articulated Bus with ULB Reported                             2775 non-null   object
 14  Articulated Bus  >= ULB                                       2775 non-null   int64
 15  Over-The-Road Bus                                             2775 non-null   object
 16  Over-The-Road Bus with ULB Reported                           2775 non-null   object
 17  Over-The-Road Bus  >= ULB                                     2775 non-null   int64
 18  Double Decker Bus                                             2775 non-null   int64
 19  Double Decker Bus with ULB Reported                           2775 non-null   int64
 20  Double Decker Bus  >= ULB                                     2775 non-null   int64
 21  School Bus                                                    2775 non-null   int64
 22  School Bus with ULB Reported                                  2775 non-null   int64
 23  School Bus  >= ULB                                            2775 non-null   int64
 24  Van                                                           2775 non-null   object
 25  Van with ULB Reported                                         2775 non-null   int64
 26  Van  >= ULB                                                   2775 non-null   int64
 27  Cutaway                                                       2775 non-null   int64
 28  Cutaway with ULB Reported                                     2775 non-null   int64
 29  Cutaway  >= ULB                                               2775 non-null   int64
 30  Automobile                                                    2775 non-null   int64
 31  Automobile with ULB Reported                                  2775 non-null   int64
 32  Automobile  >= ULB                                            2775 non-null   int64
 33  Minivan                                                       2775 non-null   object
 34  Minivan with ULB Reported                                     2775 non-null   object
 35  Minivan  >= ULB                                               2775 non-null   int64
 36  Sport Utility Vehicle                                         2775 non-null   int64
 37  Sport Utility Vehicle with ULB Reported                       2775 non-null   int64
 38  Sport Utility Vehicle  >= ULB                                 2775 non-null   int64
 39  Trolleybus                                                    2775 non-null   int64
 40  Trolleybus with ULB Reported                                  2775 non-null   int64
 41  Trolleybus  >= ULB                                            2775 non-null   int64
 42  Heavy Rail Passenger Car                                      2775 non-null   object
 43  Heavy Rail Passenger Car with ULB Reported                    2775 non-null   object
 44  Heavy Rail Passenger Car  >= ULB                              2775 non-null   int64
 45  Light Rail Vehicle                                            2775 non-null   int64
 46  Light Rail Vehicle with ULB Reported                          2775 non-null   int64
 47  Light Rail Vehicle  >= ULB                                    2775 non-null   int64
 48  Commuter Rail Passenger Coach                                 2775 non-null   int64
 49  Commuter Rail Passenger Coach with ULB Reported               2775 non-null   int64
 50  Commuter Rail Passenger Coach  >= ULB                         2775 non-null   int64
 51  Commuter Rail Self-Propelled Passenger Car                    2775 non-null   int64
 52  Commuter Rail Self-Propelled Passenger Car with ULB Reported  2775 non-null   int64
 53  Commuter Rail Self-Propelled Passenger Car  >= ULB            2775 non-null   int64
 54  Locomotive                                                    2775 non-null   int64
 55  Locomotive with ULB Reported                                  2775 non-null   int64
 56  Locomotive  >= ULB                                            2775 non-null   int64
 57  Automated Guideway Vehicle                                    2775 non-null   int64
 58  Automated Guideway Vehicle with ULB Reported                  2775 non-null   int64
 59  Automated Guideway Vehicle  >= ULB                            2775 non-null   int64
 60  Vintage/Historic Trolley                                      2775 non-null   int64
 61  Vintage/Historic Trolley with ULB Reported                    2775 non-null   int64
 62  Vintage/Historic Trolley  >= ULB                              2775 non-null   int64
 63  Streetcar                                                     2775 non-null   int64
 64  Streetcar with ULB Reported                                   2775 non-null   int64
 65  Streetcar  >= ULB                                             2775 non-null   int64
 66  Aerial Tramway                                                2775 non-null   int64
 67  Aerial Tramway with ULB Reported                              2775 non-null   int64
 68  Aerial Tram  >= ULB                                           2775 non-null   int64
 69  Monorail                                                      2775 non-null   int64
 70  Monorail with ULB Reported                                    2775 non-null   int64
 71  Monorail  >= ULB                                              2775 non-null   int64
 72  Cable Car                                                     2775 non-null   int64
 73  Cable Car with ULB Reported                                   2775 non-null   int64
 74  Cable Car  >= ULB                                             2775 non-null   int64
 75  Inclined Plane                                                2775 non-null   int64
 76  Inclined Plane with ULB Reported                              2775 non-null   int64
 77  Inclined Plane  >= ULB                                        2775 non-null   int64
 78  Ferryboat                                                     2775 non-null   int64
 79  Ferryboat with ULB Reported                                   2775 non-null   int64
 80  Ferryboat  >= ULB                                             2775 non-null   int64
 81  Other                                                         2775 non-null   int64
 82  Other with ULB Reported                                       2775 non-null   int64
 83  Other  >= ULB                                                 2775 non-null   int64
 84  Total Revenue Vehicles                                        2775 non-null   object
 85  Total Revenue Vehicles with ULB Reported                      2775 non-null   object
 86  Total Revenue Vehicles  >= ULB                                2775 non-null   object
 87  Automobiles                                                   2775 non-null   int64
 88  Automobiles  >= ULB                                           2775 non-null   int64
 89  Trucks And Other Rubber Tire Vehicles                         2775 non-null   object
 90  Trucks And Other Rubber Tire Vehicles  >= ULB                 2775 non-null   int64
 91  Steel Wheel Vehicles                                          2775 non-null   int64
 92  Steel Wheel Vehicles  >= ULB                                  2775 non-null   int64
 93  Total Service Vehicles                                        2775 non-null   object
 94  Total Service Vehicles  >= ULB                                2775 non-null   int64
 95  Unnamed: 95                                                   0 non-null      float64
 96  Unnamed: 96                                                   0 non-null      float64
 97  Unnamed: 97                                                   0 non-null      float64
 98  1                                                             3 non-null      object
dtypes: float64(3), int64(70), object(26)
memory usage: 2.1+ MB

In [10]:
df_vehicles.shape

(2775, 99)

In [11]:
df_vehicles = df_vehicles.iloc[:, [0,2,5,6,7,93]]

In [12]:
df_vehicles.head(2)

,Agency,State,Organization Type,Reporter Type,Primary UZA Population,Total Service Vehicles
0,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297"
1,New Jersey Transit Corporation,NJ,Other Publicly-Owned or Privately Chartered Co...,Full Reporter,"18,351,295",975

In [13]:
df_vehicles.shape

(2775, 6)

### Merging the data with an inner join
merge1 = pd.merge(df_metrics, df_vehicles, on = "State", how = "left")

merge1.shape

In [14]:
merge1 = df_vehicles.merge(df_metrics, how = "inner", on = "Agency")

merge1.shape

(3719, 11)

In [15]:
merge1.head()

,Agency,State_x,Organization Type,Reporter Type,Primary UZA Population,Total Service Vehicles,City,State_y,Fare Revenues per Unlinked Passenger Trip,Fare Revenues per Total Operating Expense (Recovery Ratio),Fare Revenues Earned
0,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$1.34,0.70,"$3,643,213,720"
1,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$6.66,0.32,"$76,398,352"
2,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$1.22,0.32,"$846,111,742"
3,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$2.03,0.02,"$9,781,667"
4,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$1.06,0.32,"$32,469,300"

### Subsetting for only states of interest
<i> Question: how can I filter more efficiently? I tried to create a list to filter everything all at once but I kept getting errors or a list of true/falses<i>

In [16]:
states = ["NY", "CA", "TX","ID","MS"]

In [17]:
states_subset = merge1[(merge1["State_x"] == "NY") | (merge1["State_x"] == "CA") | (merge1["State_x"] == "TX")
               | (merge1["State_x"] == "ID") | (merge1["State_x"] == "MS")]

In [18]:
#checking that I filtered everything correct 
states_subset['State_x'].unique().tolist()

['NY', 'CA', 'TX', 'ID', 'MS']

In [19]:
states_subset.State_x.value_counts()

CA    436
TX    167
NY    131
MS     29
ID     28
Name: State_x, dtype: int64

### Cleaning up the files to remove (), commas, and blanks

In [20]:
states_subset.head(2)

,Agency,State_x,Organization Type,Reporter Type,Primary UZA Population,Total Service Vehicles,City,State_y,Fare Revenues per Unlinked Passenger Trip,Fare Revenues per Total Operating Expense (Recovery Ratio),Fare Revenues Earned
0,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$1.34,0.70,"$3,643,213,720"
1,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$6.66,0.32,"$76,398,352"

In [21]:
#dropping na 
states_clean = states_subset.dropna()
states_clean.dropna(axis='columns')

,Agency,State_x,Organization Type,Reporter Type,Primary UZA Population,Total Service Vehicles,City,State_y,Fare Revenues per Unlinked Passenger Trip,Fare Revenues per Total Operating Expense (Recovery Ratio),Fare Revenues Earned
0,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$1.34,0.70,"$3,643,213,720"
1,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$6.66,0.32,"$76,398,352"
2,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$1.22,0.32,"$846,111,742"
3,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$2.03,0.02,"$9,781,667"
4,MTA New York City Transit,NY,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,"18,351,295","2,297",New York,NY,$1.06,0.32,"$32,469,300"
...,...,...,...,...,...,...,...,...,...,...,...
3711,Los Angeles County Dept. of Public Works - Ath...,CA,"City, County or Local Government Unit or Depar...",Reduced Reporter,"12,150,996",0,Alhambra,CA,$0.19,0.05,"$9,394"
3712,Los Angeles County Department of Public Works ...,CA,"City, County or Local Government Unit or Depar...",Reduced Reporter,"12,150,996",0,Alhambra,CA,$0.22,0.03,"$6,629"
3713,Los Angeles County Department of Public Works ...,CA,"City, County or Local Government Unit or Depar...",Reduced Reporter,"12,150,996",0,Alhambra,CA,$0.18,0.04,"$8,520"
3714,Los Angeles County Dept. of Public Works - Len...,CA,"City, County or Local Government Unit or Depar...",Reduced Reporter,"12,150,996",0,Alhambra,CA,$0.16,0.06,"$12,896"
3717,"City of Needles, dba: Needles Area Transit",CA,"City, County or Local Government Unit or Depar...",Rural Reporter,0,0,Needles,CA,$1.51,0.12,"$41,619"

In [22]:
#making sure no nulls
print (states_clean.isnull().sum().sum())

0

In [23]:
#counting values for states
states_clean.State_x.value_counts()

CA    436
TX    167
NY    131
MS     29
ID     28
Name: State_x, dtype: int64

In [24]:
#counting rows 
states_clean.shape

(791, 11)

In [25]:
#looking at data type
states_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 791 entries, 0 to 3717
Data columns (total 11 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Agency                                                      791 non-null    object
 1   State_x                                                     791 non-null    object
 2   Organization Type                                           791 non-null    object
 3   Reporter Type                                               791 non-null    object
 4   Primary UZA Population                                      791 non-null    object
 5   Total Service Vehicles                                      791 non-null    object
 6   City                                                        791 non-null    object
 7   State_y                                                     791 non-null    object
 8   Fare Revenues per Unlinked Passenger Trip                   791 non-null    object
 9   Fare Revenues per Total Operating Expense (Recovery Ratio)  791 non-null    object
 10  Fare Revenues Earned                                        791 non-null    object
dtypes: object(11)
memory usage: 74.2+ KB

In [26]:
#dropping more columns
cols = [2,3,7,8,9]
states_subset.drop(states_subset.columns[cols],axis=1,inplace=True)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [27]:
#renaming columns to something cleaner
states_clean = states_subset.rename(columns={"State_x": "State", "Agency_x": "Agency", 
                              "Fare Revenues Earned": "Fare_Revenues", "Reporter Type": "Reporter_Type",
                           "Primary UZA Population": "Population", "Total Service Vehicles": "Total_Service_Vehicles"})

In [28]:
#removing $ and commas and blank spaces and () 
states_clean = states_clean.replace(',','', regex=True)
states_clean["Fare_Revenues"] = states_clean["Fare_Revenues"].replace({'\$':''}, regex = True)

In [29]:
def whitespace_remover(dataframe):
    # iterating over the columns
    for i in dataframe.columns:
        # checking datatype of each columns
        if dataframe[i].dtype == 'object':
            # applying strip function on column
            dataframe[i] = dataframe[i].map(str.strip)
        else:
            # if condn. is False then it will do nothing.
            pass

In [30]:
whitespace_remover(states_clean)

In [31]:
states_clean['Agency'] = states_clean['Agency'].str.replace(' ', '')
states_clean['City'] = states_clean['City'].str.replace(' ', '')
states_clean['State'] = states_clean['State'].str.replace(' ', '')

In [32]:
states_clean = states_clean.replace(to_replace='\(', value="", regex=True)
states_clean = states_clean.replace(to_replace='\)', value="", regex=True)

#### HELP: here is where I am having issues. I saw that I can convert some values into integers, then I wrote a for loop like the City of LA Best Practices Guide, but it wouldn't save as a list.  I also tried the other method you sent to me over slack, but no dice..

In [33]:
test = int(states_clean["Fare_Revenues"][0])
type(test)

int

In [34]:
states_clean.head(10)

,Agency,State,Population,Total_Service_Vehicles,City,Fare_Revenues
0,MTANewYorkCityTransit,NY,18351295,2297,NewYork,3643213720
1,MTANewYorkCityTransit,NY,18351295,2297,NewYork,76398352
2,MTANewYorkCityTransit,NY,18351295,2297,NewYork,846111742
3,MTANewYorkCityTransit,NY,18351295,2297,NewYork,9781667
4,MTANewYorkCityTransit,NY,18351295,2297,NewYork,32469300
13,LosAngelesCountyMetropolitanTransportationAuth...,CA,12150996,1420,LosAngeles,31426577
14,LosAngelesCountyMetropolitanTransportationAuth...,CA,12150996,1420,LosAngeles,4997045
15,LosAngelesCountyMetropolitanTransportationAuth...,CA,12150996,1420,LosAngeles,42986478
16,LosAngelesCountyMetropolitanTransportationAuth...,CA,12150996,1420,LosAngeles,182029213
17,LosAngelesCountyMetropolitanTransportationAuth...,CA,12150996,1420,LosAngeles,3849877

In [35]:
states_clean.astype('str').dtypes

Agency                    object
State                     object
Population                object
Total_Service_Vehicles    object
City                      object
Fare_Revenues             object
dtype: object

In [47]:
Fare_Revenues_Int = [ ] 
for key in states_clean["Fare_Revenues"].keys():
    print(key, states_clean["Fare_Revenues"][key])
    states_clean["Fare_Revenues"][key] = int(states_clean["Fare_Revenues"][key])
print(Fare_Revenues_Int)

0 3643213720
1 76398352
2 846111742
3 9781667
4 32469300
13 31426577
14 4997045
15 42986478
16 182029213
17 3849877
18 15580993
50 4600559
51 5514287
52 25780652
53 6364414
54 4774238
55 1842477
56 16597557
57 318088
72 501318
73 6052956
74 7217888
75 29438135
76 160301
77 11243017
78 136104
93 5343609
94 4837375
95 618186
96 236470
97 756678075
106 224811595
107 30647327
108 8190826
109 0
110 1572059
111 23346804
112 1391975
113 989079
115 768917681
119 87346370
120 24490634
121 5822817
122 38822295
123 39254151
124 1084238
130 24008525
131 22041356
132 1172721
133 278482
134 2718557
135 42005525
140 62880
141 18488621
142 2530696
143 947947
144 954802
157 2113839
158 16409599
159 1966570
160 749550
161 1526429
162 10642705
163 62359012
164 41461
165 2767278
166 743886
167 7072111
173 9834341
187 8872457
188 399397
189 26900523
190 1888493
191 68654
192 469865645
193 5038104
194 6876763
249 593746
250 3425591
251 300296
252 11259758
253 3758118
254 142579
255 128375
256 6832887
257 618757
258 29936218
259 4955205
263 1416305
264 45934436
265 174575
285 1182817
286 39500416
299 593957
300 715809
301 0
302 346060
303 364512
304 6577900
315 5879815
316 2737896
317 747774
318 50540
319 159348
320 1428510
321 16079596
327 434838
328 2705198
329 607636
330 2900698
338 2363708
339 5691062
348 242608
349 222217
350 19707943
351 346529
352 363035
363 42261
364 397576
365 21625779
377 12035431
378 124939
379 13268062
385 1342368
386 146800
387 11784221
410 345339
411 227423
412 14127093
421 2702065
422 716882
423 5394547
424 6726013
431 13862
432 3181
433 11413768
434 13790289
435 63872
436 82152185
442 653956
443 48451
444 7274468
478 63343
488 326496
489 6405980
492 20212752
493 150954
494 14017328
500 4332118
501 532081
502 0
503 1296241
504 0
505 102668114
518 1507453
519 234623
520 263099
521 115115
522 798
539 1386181
540 339924
541 150373
548 744283
549 41249
550 4095752
551 335184
552 367349
553 7272791
554 309374
555 1133162
581 1819994
582 246866
583 223639
584 34224
585 789421
586 3860519
587 73989
588 38079
591 741012
592 319601
606 7877195
607 285841
608 1549496
620 60990
627 1693033
635 164276
636 2536138
637 329938
655 7167098
667 1676283
668 386855
669 194834
670 1821281
671 1337862
672 126501
673 443671
674 172539
679 4484140
680 275076
684 2635490
685 2070774
686 120312
690 4334675
691 175187
692 3204135
693 169456
701 1011733
705 2432212
706 96052
710 24469848
742 158182
743 247412
753 4651425
754 0
756 73865
757 17969
758 36006
766 124400
774 838555
775 107830
784 794387
798 2852620
799 364212
812 242148
813 153216
814 513018
815 636755
816 29424
838 2339944
839 195367
844 122573
845 42124
846 1575138
847 229443
861 550451
862 56222
872 9852
873 2431343
874 237391
875 4348754
876 74414
903 131965
918 22172
919 1391756
920 53712
921 941952
930 34026
931 96336
938 38056
939 2389582
940 142229
943 107762
971 1125835
972 177382
973 2123048
974 131098
982 271221
986 69975
993 190315
994 1337263
1011 3700097
1012 61869
1013 0
1014 0
1015 6284
1016 99381
1017 713564
1020 11364
1021 2235072
1022 113530
1023 2089147
1026 128808
1027 3107
1029 112254
1030 716861
1031 433233
1032 1211744
1033 317162
1034 1143736
1035 50664
1036 60000
1055 2908934
1056 2749
1057 38962
1058 907271
1059 55262
1069 4599
1070 11426
1071 61451
1074 785443
1075 77129
1082 8485089
1092 196654
1093 0
1096 58832
1097 714868
1098 137339
1116 283588
1117 674860
1118 183421
1119 50095
1120 751412
1121 2509172
1152 55829
1153 210238
1154 1314787
1163 0
1164 113337
1165 603760
1166 1539183
1167 16333
1168 378091
1169 6062
1170 9839
1171 568138
1172 69295
1176 48914
1193 1363512
1194 75227
1195 104565
1216 96578
1217 95720
1259 2872046
1278 0
1279 3557472
1282 506790
1283 569046
1284 170498
1285 249373
1286 48240
1287 833072
1302 687525
1303 51251
1304 3961225
1305 79867
1306 63906
1323 57320
1330 1177257
1331 193693
1343 179787
1350 32321
1351 0
1352 960666
1353 38967
1354 206758
1355 170713
1356 62613
1357 93539
1358 24583
1359 0
1360 2676
1361 0
1362 44332
1363 97969
1372 33876
1373 1246966
1374 177096
1375 494763
1376 822564
1379 0
1380 13882274
1393 0
1394 0
1402 165597
1407 150225
1408 544628
1409 98049
1410 253177
1411 396736
1412 149654
1413 39689
1414 12563
1415 498806
1416 46909
1417 89863
1420 0
1421 1985346
1424 19554
1425 281
1438 119014
1442 23181
1443 749447
1444 10929851
1446 643715
1447 109126
1448 17183
1449 285874
1450 9845
1451 27804
1452 222573
1453 157935
1454 184
1479 455
1491 33267
1492 173575
1493 6213
1494 98939
1495 80312
1496 46922
1497 264311
1510 81232
1511 236656
1514 364977
1515 78148
1545 17819
1546 27592
1547 224554
1554 1137551
1555 60114
1556 546499
1557 8040
1558 32214
1588 7706
1589 42814
1590 357604
1594 0
1595 42909
1596 50410
1602 440478
1607 159937
1608 728602
1609 11789219
1631 51091
1645 62472
1646 108566
1649 64504
1657 591990
1658 71184
1659 187374
1661 6391
1662 399580
1686 73956
1690 26777
1691 9668
1692 3333
1693 33299
1696 61011
1697 44744
1698 302170
1745 23256
1746 589610
1747 29472
1801 146513
1814 54551
1833 74103
1834 0
1835 89378
1836 12752
1837 75035
1838 52496
1839 45103
1854 83197
1855 105939
1864 193200
1875 2300
1897 79710
1898 58247
1905 18617
1906 135183
1930 17342
1956 47038
1957 361046
1968 42594
1969 276683
1970 65377
1971 46086
1972 39476
1973 47600
1974 63960
1975 17582
1976 61333
2007 3383
2008 80518
2012 11661
2013 70008
2018 278129
2019 79354
2020 46970
2021 126876
2022 232512
2023 87766
2024 139231
2025 99070
2026 199691
2043 162380
2044 48375
2046 1245
2047 122887
2048 689161
2049 70418
2050 111368
2051 157258
2052 28799
2069 31511
2095 57410
2097 12755
2098 8433
2103 27300
2104 312867
2105 155089
2106 60917
2107 53969
2108 21344
2139 15356
2144 0
2145 0
2146 703061
2147 209196
2148 43865
2149 84389
2150 0
2151 79230
2152 75543
2163 26823
2181 6330
2182 340199
2195 5323
2196 7290
2197 146951
2198 126794
2199 12334
2200 316054
2201 189786
2202 80913
2203 45901
2204 1080651
2205 172169
2222 246073
2223 1876
2224 1186
2225 26841
2241 1412
2266 88738
2267 27546
2268 26620
2269 547762
2270 7033
2271 23353
2272 146800
2273 11310
2274 5906
2275 0
2276 25701
2277 17126
2278 6526
2279 139848
2280 41179
2281 0
2282 869735
2283 76306
2284 165350
2285 6219
2302 19737
2303 126346
2304 17685
2305 71599
2333 4076
2359 1817
2360 84763
2376 26099
2377 125684
2378 0
2379 55499
2380 36955
2381 24147
2390 0
2398 19039
2399 2073
2400 121841
2401 2467
2424 14335
2425 22585
2426 24614
2427 13610
2476 22434950
2477 3919
2478 25785
2479 0
2480 4094540
2481 88797
2482 37905
2500 51190
2501 67415
2502 11810
2503 344908
2508 147925
2509 0
2555 118055
2556 18889
2560 105995
2561 33388
2562 90228
2581 110910
2582 25592
2583 183295
2584 31688
2585 70202
2586 54431
2587 7584
2588 232797
2589 37282
2590 14113
2591 0
2592 0
2599 408986
2607 0
2608 13207
2621 46857
2644 45153
2672 80314
2673 37434
2698 7608
2701 117350
2702 35271
2729 344473
2730 6478
2732 20632
2733 0
2736 60600
2796 351790
2797 1384
2798 153101
2799 13764
2800 43179
2801 19342
2802 8234
2833 62308
2834 3919
2835 1642
2836 18196
2837 0
2838 39654
2839 12469
2840 155067
2841 70638
2842 135345
2843 8634
2844 103847
2847 0
2848 0
2858 208320
2859 15429479
2860 7417
2886 5634
2917 20277
2941 35602
2942 0
2943 0
2944 37999
2945 2170
2952 2295
2953 0
2964 249210
2965 4988
2966 974069
2967 163189
2969 25161
2970 10692
2971 29911
2972 56786
2973 17983
2974 2544
2975 33939
2976 40206
3010 11302
3011 11010
3045 0
3075 14870
3076 40179
3077 15233
3078 4752
3079 0
3080 6193
3081 0
3082 85820
3083 47238
3084 8357
3085 56201
3086 6051
3087 57146
3088 18046
3089 0
3090 2522
3091 105664
3092 100263
3101 0
3102 0
3106 21644
3107 100461
3108 24299
3109 97620
3110 8999
3111 46383
3112 6371
3173 52318
3178 28511
3215 31181
3216 23271
3217 5903
3218 5079
3219 0
3225 33384
3226 46498
3227 10907
3228 21830
3229 64259
3230 42678
3231 56277
3235 8257
3236 34633
3237 0
3239 15778
3240 3233
3241 7129
3249 170355
3250 73511
3251 23252
3252 29220
3253 40880
3254 18080
3302 0
3339 11779
3340 76220
3341 20276
3342 5017
3343 0
3344 41320
3345 39637
3346 6325
3347 4357
3348 17789
3349 0
3350 0
3351 0
3352 0
3354 59575
3355 10319
3356 66151
3357 96992
3358 6424
3359 250065
3377 12812
3378 14224
3379 11499
3429 5528
3468 39432
3469 36283
3470 18713
3471 2215
3480 14988
3481 40687
3482 20239
3483 210373
3484 63824
3485 5701
3486 13667
3487 25748
3488 31839
3498 0
3499 0
3505 368299
3506 3251
3507 19981
3562 6949
3624 37569
3625 0
3626 33888
3627 0
3628 8704
3629 17760
3630 2702
3631 0
3633 297314
3635 3351
3636 0
3639 86835
3640 26332
3641 6387
3642 834
3643 1859
3644 12106
3645 12434
3661 1662
3662 3463
3663 0
3664 8517
3711 9394
3712 6629
3713 8520
3714 12896
3717 41619
[]

In [48]:
Fare_Revenues_Int

[]

In [44]:
#states_clean["Fare_Revenues_Int"] = Fare_Revenues_Int

In [37]:
states_clean.dtypes

Agency                    object
State                     object
Population                object
Total_Service_Vehicles    object
City                      object
Fare_Revenues             object
dtype: object

In [38]:
states_clean.tail(5)

,Agency,State,Population,Total_Service_Vehicles,City,Fare_Revenues
3711,LosAngelesCountyDept.ofPublicWorks-AthensShutt...,CA,12150996,0,Alhambra,9394
3712,LosAngelesCountyDepartmentofPublicWorks-Avocad...,CA,12150996,0,Alhambra,6629
3713,LosAngelesCountyDepartmentofPublicWorks-EastVa...,CA,12150996,0,Alhambra,8520
3714,LosAngelesCountyDept.ofPublicWorks-LennoxShuttle,CA,12150996,0,Alhambra,12896
3717,CityofNeedlesdba:NeedlesAreaTransit,CA,0,0,Needles,41619

In [39]:
#states_clean["Population"] = states_clean["Population"].astype("Int64")

TypeError: object cannot be converted to an IntegerDtype

In [ ]:
#states_clean2["Fare_Revenues"] = states_clean2["Fare_Revenues"].astype("Int64")

In [ ]:
#states_clean2["Total_Service_Vehicles"] = states_clean2["Total_Service_Vehicles"].astype("Int64")

In [ ]:
#states_clean2.info()

In [ ]:
#states_clean2.State.value_counts()

### Analyzing

#### Random Aggregates

In [ ]:
analysis = states_clean2.groupby(['State']).agg({'Agency':'count', 'Population': 'sum', 
                                                 'Total_Service_Vehicles':'mean','City': 'unique'})
analysis

#### Per Capita Measure Across 5 States

In [ ]:
per_capita =