In [1]:
from calitp.tables import tbl

In [2]:
from siuba import *
import pandas as pd

In [3]:
(
tbl.views.mst_ridership()
    >> filter(_.charge_amount < _.nominal_amount, _.charge_type == "flat_fare")
    >> summarize(n_fares = _.charge_type.count()
                )
)

# Source: lazy query
# DB Conn: Engine(bigquery://cal-itp-data-infra/?maximum_bytes_billed=5000000000)
# Preview:
   n_fares
0      670
# .. may have more rows