# Flow vs obs flow & speed vs obs speed

Side-by-side comparison of what seems to be related columns.

## What we learned
* `flow` is always >= `obs_flow`
* Most of the time, `flow = obs_flow`
* Why would imputation be more than what's observed? Is this only true when `flow == 0`? Yes, seems to be imputation happens when it's majority `obs_flow==0`, although there are a small percentage of cases where this isn't true.
* We'll just use `flow` for now, and use imputed values always?
* Most cases are `speed < obs_speed` (so imputed tends to be less than what detector says).
* Looking at descriptives, these are occurring where observed speed is really high, 100-200 mph!

In [1]:
import pandas as pd

from utils import PROCESSED_GCS

In [2]:
def metric_vs_observed(metric: str, filtering: tuple) -> pd.DataFrame:
    PREFIX = "station_weekday_hour"

    metric_df = pd.read_parquet(
        f"{PROCESSED_GCS}{PREFIX}_{metric}.parquet/",
        filters = filtering
    )

    obs_metric_df = pd.read_parquet(
        f"{PROCESSED_GCS}{PREFIX}_obs_{metric}.parquet/",
        filters = filtering
    )
    
    merge_cols = ["station_uuid", "year", "month", "weekday", "hour"]

    df = pd.merge(
        metric_df,
        obs_metric_df,
        on = merge_cols,
        how = "outer"
    )
    
    return df

In [3]:
def lane_comparisons(df: pd.DataFrame, lane_number: int, metric: str):
    print(f"\nMetric: {metric}")
    print(f"Month-Year: {df.month.iloc[0]}-{df.year.iloc[0]}")
    print(f"Weekday: {df.weekday.iloc[0]}   Hour: {df.hour.iloc[0]}")
    print(f"******* lane number: {lane_number} ********")

    N_ROWS = len(df)
    
    def rounded(numerator, denominator):
        return round(numerator / denominator, 3)
    
    col = f"lane_{lane_number}_{metric}"
    obs_col = f"lane_{lane_number}_obs_{metric}"
    
    N_EQUAL = df[df[col] == df[obs_col]].shape[0]
    N_MORE = df[df[col] > df[obs_col]].shape[0]
    N_LESS = df[df[col] < df[obs_col]].shape[0]
    
    
    print(f"# rows: {N_ROWS}")
    print(f"equal: {N_EQUAL}, imputed > obs: {N_MORE}, imputed < obs: {N_LESS}")
    print(f"% equal {rounded(N_EQUAL, N_ROWS)}")
    print(f"greater: {rounded(N_MORE, N_ROWS)}, less: {rounded(N_LESS, N_ROWS)}")
    
    if metric == "speed":
        print("**** values when imputed < obs ****")

        less_df = df.loc[df[col] < df[obs_col]]

        print(less_df[col].describe())
        print(less_df[obs_col].describe())
    
    print("****values when imputed > obs *****")
    
    more_df = df.loc[df[col] > df[obs_col]]
    
    more_df = more_df.assign(
        obs_col_zero = more_df.apply(
            lambda x: True if x[obs_col]==0 
            else False, axis=1)
    )
    
    print(more_df.obs_col_zero.value_counts())

## Flow vs observed flow diagnostics

In [4]:
filtering = [[
    ("year", "==", 2024), ("month", "==", 6),
    ("weekday", "==", 2), ("hour", "==", 18)
]]

METRIC = "flow"
df = metric_vs_observed(METRIC, filtering)

for i in range(1, 9):
    lane_comparisons(df, i, METRIC)

Metric: flow
Month-Year: 6-2024
Weekday: 2   Hour: 18
******* lane number: 1 ********
# rows: 7026
equal: 6873, imputed > obs: 153, imputed < obs: 0
% equal 0.978
greater: 0.022, less: 0.0
****values when imputed > obs *****
True     108
False     45
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 6-2024
Weekday: 2   Hour: 18
******* lane number: 2 ********
# rows: 7026
equal: 6906, imputed > obs: 120, imputed < obs: 0
% equal 0.983
greater: 0.017, less: 0.0
****values when imputed > obs *****
True     84
False    36
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 6-2024
Weekday: 2   Hour: 18
******* lane number: 3 ********
# rows: 7026
equal: 6927, imputed > obs: 99, imputed < obs: 0
% equal 0.986
greater: 0.014, less: 0.0
****values when imputed > obs *****
True     66
False    33
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 6-2024
Weekday: 2   Hour: 18
******* lane number: 4 ********
# rows: 7026
equal: 6978, imputed > obs: 48, imputed < obs: 0
% equal 0.993
greater: 0.007, less: 0.0
****values when imputed > obs *****
True     42
False     6
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 6-2024
Weekday: 2   Hour: 18
******* lane number: 5 ********
# rows: 7026
equal: 7002, imputed > obs: 24, imputed < obs: 0
% equal 0.997
greater: 0.003, less: 0.0
****values when imputed > obs *****
True    24
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 6-2024
Weekday: 2   Hour: 18
******* lane number: 6 ********
# rows: 7026
equal: 7023, imputed > obs: 3, imputed < obs: 0
% equal 1.0
greater: 0.0, less: 0.0
****values when imputed > obs *****
True    3
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 6-2024
Weekday: 2   Hour: 18
******* lane number: 7 ********
# rows: 7026
equal: 7026, imputed > obs: 0, imputed < obs: 0
% equal 1.0
greater: 0.0, less: 0.0
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

Metric: flow
Month-Year: 6-2024
Weekday: 2   Hour: 18
******* lane number: 8 ********
# rows: 7026
equal: 7026, imputed > obs: 0, imputed < obs: 0
% equal 1.0
greater: 0.0, less: 0.0
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

In [5]:
filtering = [[
    ("year", "==", 2024), ("month", "==", 3),
    ("weekday", "==", 4), ("hour", "==", 10)
]]

df = metric_vs_observed(METRIC, filtering)

for i in range(1, 9):
    lane_comparisons(df, i, METRIC)

Metric: flow
Month-Year: 3-2024
Weekday: 4   Hour: 10
******* lane number: 1 ********
# rows: 7884
equal: 7413, imputed > obs: 471, imputed < obs: 0
% equal 0.94
greater: 0.06, less: 0.0
****values when imputed > obs *****
False    375
True      96
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 3-2024
Weekday: 4   Hour: 10
******* lane number: 2 ********
# rows: 7884
equal: 7590, imputed > obs: 294, imputed < obs: 0
% equal 0.963
greater: 0.037, less: 0.0
****values when imputed > obs *****
False    210
True      84
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 3-2024
Weekday: 4   Hour: 10
******* lane number: 3 ********
# rows: 7884
equal: 7620, imputed > obs: 264, imputed < obs: 0
% equal 0.967
greater: 0.033, less: 0.0
****values when imputed > obs *****
False    174
True      90
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 3-2024
Weekday: 4   Hour: 10
******* lane number: 4 ********
# rows: 7884
equal: 7662, imputed > obs: 222, imputed < obs: 0
% equal 0.972
greater: 0.028, less: 0.0
****values when imputed > obs *****
False    180
True      42
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 3-2024
Weekday: 4   Hour: 10
******* lane number: 5 ********
# rows: 7884
equal: 7827, imputed > obs: 57, imputed < obs: 0
% equal 0.993
greater: 0.007, less: 0.0
****values when imputed > obs *****
False    48
True      9
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 3-2024
Weekday: 4   Hour: 10
******* lane number: 6 ********
# rows: 7884
equal: 7878, imputed > obs: 6, imputed < obs: 0
% equal 0.999
greater: 0.001, less: 0.0
****values when imputed > obs *****
False    6
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 3-2024
Weekday: 4   Hour: 10
******* lane number: 7 ********
# rows: 7884
equal: 7884, imputed > obs: 0, imputed < obs: 0
% equal 1.0
greater: 0.0, less: 0.0
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

Metric: flow
Month-Year: 3-2024
Weekday: 4   Hour: 10
******* lane number: 8 ********
# rows: 7884
equal: 7884, imputed > obs: 0, imputed < obs: 0
% equal 1.0
greater: 0.0, less: 0.0
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

In [6]:
filtering = [[
    ("year", "==", 2023), ("month", "==", 7),
    ("weekday", "==", 2), ("hour", "==", 10)
]]

df = metric_vs_observed(METRIC, filtering)

for i in range(1, 9):
    lane_comparisons(df, i, METRIC)

Metric: flow
Month-Year: 7-2023
Weekday: 2   Hour: 10
******* lane number: 1 ********
# rows: 7056
equal: 6552, imputed > obs: 504, imputed < obs: 0
% equal 0.929
greater: 0.071, less: 0.0
****values when imputed > obs *****
False    402
True     102
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 7-2023
Weekday: 2   Hour: 10
******* lane number: 2 ********
# rows: 7056
equal: 6723, imputed > obs: 333, imputed < obs: 0
% equal 0.953
greater: 0.047, less: 0.0
****values when imputed > obs *****
False    258
True      75
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 7-2023
Weekday: 2   Hour: 10
******* lane number: 3 ********
# rows: 7056
equal: 6759, imputed > obs: 297, imputed < obs: 0
% equal 0.958
greater: 0.042, less: 0.0
****values when imputed > obs *****
False    204
True      93
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 7-2023
Weekday: 2   Hour: 10
******* lane number: 4 ********
# rows: 7056
equal: 6858, imputed > obs: 198, imputed < obs: 0
% equal 0.972
greater: 0.028, less: 0.0
****values when imputed > obs *****
False    153
True      45
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 7-2023
Weekday: 2   Hour: 10
******* lane number: 5 ********
# rows: 7056
equal: 6999, imputed > obs: 57, imputed < obs: 0
% equal 0.992
greater: 0.008, less: 0.0
****values when imputed > obs *****
False    51
True      6
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 7-2023
Weekday: 2   Hour: 10
******* lane number: 6 ********
# rows: 7056
equal: 7044, imputed > obs: 12, imputed < obs: 0
% equal 0.998
greater: 0.002, less: 0.0
****values when imputed > obs *****
False    12
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 7-2023
Weekday: 2   Hour: 10
******* lane number: 7 ********
# rows: 7056
equal: 7056, imputed > obs: 0, imputed < obs: 0
% equal 1.0
greater: 0.0, less: 0.0
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

Metric: flow
Month-Year: 7-2023
Weekday: 2   Hour: 10
******* lane number: 8 ********
# rows: 7056
equal: 7056, imputed > obs: 0, imputed < obs: 0
% equal 1.0
greater: 0.0, less: 0.0
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

In [7]:
filtering = [[
    ("year", "==", 2023), ("month", "==", 9),
    ("weekday", "==", 1), ("hour", "==", 14)
]]

df = metric_vs_observed(METRIC, filtering)

for i in range(1, 9):
    lane_comparisons(df, i, METRIC)

Metric: flow
Month-Year: 9-2023
Weekday: 1   Hour: 14
******* lane number: 1 ********
# rows: 7761
equal: 6894, imputed > obs: 867, imputed < obs: 0
% equal 0.888
greater: 0.112, less: 0.0
****values when imputed > obs *****
False    762
True     105
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 9-2023
Weekday: 1   Hour: 14
******* lane number: 2 ********
# rows: 7761
equal: 7245, imputed > obs: 516, imputed < obs: 0
% equal 0.934
greater: 0.066, less: 0.0
****values when imputed > obs *****
False    423
True      93
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 9-2023
Weekday: 1   Hour: 14
******* lane number: 3 ********
# rows: 7761
equal: 7305, imputed > obs: 456, imputed < obs: 0
% equal 0.941
greater: 0.059, less: 0.0
****values when imputed > obs *****
False    381
True      75
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 9-2023
Weekday: 1   Hour: 14
******* lane number: 4 ********
# rows: 7761
equal: 7425, imputed > obs: 336, imputed < obs: 0
% equal 0.957
greater: 0.043, less: 0.0
****values when imputed > obs *****
False    288
True      48
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 9-2023
Weekday: 1   Hour: 14
******* lane number: 5 ********
# rows: 7761
equal: 7635, imputed > obs: 126, imputed < obs: 0
% equal 0.984
greater: 0.016, less: 0.0
****values when imputed > obs *****
False    102
True      24
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 9-2023
Weekday: 1   Hour: 14
******* lane number: 6 ********
# rows: 7761
equal: 7728, imputed > obs: 33, imputed < obs: 0
% equal 0.996
greater: 0.004, less: 0.0
****values when imputed > obs *****
False    30
True      3
Name: obs_col_zero, dtype: int64

Metric: flow
Month-Year: 9-2023
Weekday: 1   Hour: 14
******* lane number: 7 ********
# rows: 7761
equal: 7761, imputed > obs: 0, imputed < obs: 0
% equal 1.0
greater: 0.0, less: 0.0
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

Metric: flow
Month-Year: 9-2023
Weekday: 1   Hour: 14
******* lane number: 8 ********
# rows: 7761
equal: 7761, imputed > obs: 0, imputed < obs: 0
% equal 1.0
greater: 0.0, less: 0.0
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

## Speed vs observed speed diagnostics

In [8]:
filtering = [[
    ("year", "==", 2024), ("month", "==", 5),
    ("weekday", "==", 2), ("hour", "==", 8)
]]

METRIC = "speed"
df = metric_vs_observed(METRIC, filtering)

for i in range(1, 9):
    lane_comparisons(df, i, METRIC)

Metric: speed
Month-Year: 5-2024
Weekday: 2   Hour: 8
******* lane number: 1 ********
# rows: 2606
equal: 70, imputed > obs: 43, imputed < obs: 2479
% equal 0.027
greater: 0.017, less: 0.951
**** values when imputed < obs ****
count       2479.0
mean      57.44674
std      14.862704
min           5.42
25%        50.2975
50%          62.78
75%          67.87
max          79.48
Name: lane_1_speed, dtype: Float64
count        2479.0
mean     266.002098
std       84.267447
min            22.6
25%          210.65
50%           288.6
75%           326.1
max           397.4
Name: lane_1_obs_speed, dtype: Float64
****values when imputed > obs *****
True     33
False    10
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 5-2024
Weekday: 2   Hour: 8
******* lane number: 2 ********
# rows: 2606
equal: 55, imputed > obs: 35, imputed < obs: 1631
% equal 0.021
greater: 0.013, less: 0.626
**** values when imputed < obs ****
count       1631.0
mean     54.435811
std      15.345102
min           6.06
25%          46.32
50%         60.075
75%        65.6675
max      73.966667
Name: lane_2_speed, dtype: Float64
count       1631.0
mean     251.42992
std      84.908873
min           21.2
25%          194.1
50%          275.3
75%          322.5
max          369.1
Name: lane_2_obs_speed, dtype: Float64
****values when imputed > obs *****
True     28
False     7
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 5-2024
Weekday: 2   Hour: 8
******* lane number: 3 ********
# rows: 2606
equal: 51, imputed > obs: 35, imputed < obs: 1471
% equal 0.02
greater: 0.013, less: 0.564
**** values when imputed < obs ****
count       1471.0
mean     49.851535
std      14.697226
min           5.38
25%          42.41
50%           53.3
75%          61.42
max         77.825
Name: lane_3_speed, dtype: Float64
count        1471.0
mean     230.203739
std       79.750198
min            11.1
25%           178.3
50%           247.0
75%          295.75
max           360.3
Name: lane_3_obs_speed, dtype: Float64
****values when imputed > obs *****
True     28
False     7
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 5-2024
Weekday: 2   Hour: 8
******* lane number: 4 ********
# rows: 2606
equal: 46, imputed > obs: 20, imputed < obs: 1131
% equal 0.018
greater: 0.008, less: 0.434
**** values when imputed < obs ****
count       1131.0
mean     47.919651
std       14.27912
min           4.54
25%          40.35
50%          51.42
75%          58.65
max          76.54
Name: lane_4_speed, dtype: Float64
count        1131.0
mean     218.736163
std       78.207275
min            11.3
25%          164.25
50%           234.4
75%          280.25
max           382.7
Name: lane_4_obs_speed, dtype: Float64
****values when imputed > obs *****
True     14
False     6
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 5-2024
Weekday: 2   Hour: 8
******* lane number: 5 ********
# rows: 2606
equal: 11, imputed > obs: 9, imputed < obs: 373
% equal 0.004
greater: 0.003, less: 0.143
**** values when imputed < obs ****
count        373.0
mean     50.034495
std      13.540193
min           4.94
25%          43.45
50%          54.24
75%      60.333333
max           65.3
Name: lane_5_speed, dtype: Float64
count         373.0
mean     226.784718
std       77.696666
min             9.6
25%           172.8
50%           248.1
75%           289.1
max           324.8
Name: lane_5_obs_speed, dtype: Float64
****values when imputed > obs *****
True     6
False    3
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 5-2024
Weekday: 2   Hour: 8
******* lane number: 6 ********
# rows: 2606
equal: 2, imputed > obs: 1, imputed < obs: 70
% equal 0.001
greater: 0.0, less: 0.027
**** values when imputed < obs ****
count         70.0
mean     49.241571
std      16.127912
min           5.86
25%          40.16
50%          55.28
75%          62.39
max          65.04
Name: lane_6_speed, dtype: Float64
count         70.0
mean        233.05
std      85.957105
min           17.7
25%         160.45
50%         265.65
75%          310.8
max          325.2
Name: lane_6_obs_speed, dtype: Float64
****values when imputed > obs *****
True    1
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 5-2024
Weekday: 2   Hour: 8
******* lane number: 7 ********
# rows: 2606
equal: 1, imputed > obs: 0, imputed < obs: 1
% equal 0.0
greater: 0.0, less: 0.0
**** values when imputed < obs ****
count      1.0
mean     10.26
std       <NA>
min      10.26
25%      10.26
50%      10.26
75%      10.26
max      10.26
Name: lane_7_speed, dtype: Float64
count     1.0
mean     38.6
std      <NA>
min      38.6
25%      38.6
50%      38.6
75%      38.6
max      38.6
Name: lane_7_obs_speed, dtype: Float64
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

Metric: speed
Month-Year: 5-2024
Weekday: 2   Hour: 8
******* lane number: 8 ********
# rows: 2606
equal: 0, imputed > obs: 0, imputed < obs: 0
% equal 0.0
greater: 0.0, less: 0.0
**** values when imputed < obs ****
count     0.0
mean     <NA>
std      <NA>
min      <NA>
25%      <NA>
50%      <NA>
75%      <NA>
max      <NA>
Name: lane_8_speed, dtype: Float64
count     0.0
mean     <NA>
std      <NA>
min      <NA>
25%      <NA>
50%      <NA>
75%      <NA>
max      <NA>
Name: lane_8_obs_speed, dtype: Float64
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

In [9]:
filtering = [[
    ("year", "==", 2023), ("month", "==", 8),
    ("weekday", "==", 5), ("hour", "==", 7)
]]

df = metric_vs_observed(METRIC, filtering)

for i in range(1, 9):
    lane_comparisons(df, i, METRIC)

Metric: speed
Month-Year: 8-2023
Weekday: 5   Hour: 7
******* lane number: 1 ********
# rows: 2311
equal: 98, imputed > obs: 31, imputed < obs: 2169
% equal 0.042
greater: 0.013, less: 0.939
**** values when imputed < obs ****
count       2169.0
mean     69.474558
std       5.819333
min         29.675
25%          64.85
50%           71.4
75%         74.325
max         83.475
Name: lane_1_speed, dtype: Float64
count        2169.0
mean     260.652006
std       47.678904
min            62.9
25%           255.3
50%           278.3
75%           296.5
max           333.9
Name: lane_1_obs_speed, dtype: Float64
****values when imputed > obs *****
True     26
False     5
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 8-2023
Weekday: 5   Hour: 7
******* lane number: 2 ********
# rows: 2311
equal: 60, imputed > obs: 27, imputed < obs: 1459
% equal 0.026
greater: 0.012, less: 0.631
**** values when imputed < obs ****
count       1459.0
mean     68.689011
std       4.427647
min          23.45
25%        67.6375
50%          69.55
75%          70.75
max          76.95
Name: lane_2_speed, dtype: Float64
count        1459.0
mean     258.858259
std       44.162084
min            53.7
25%           259.1
50%           276.6
75%           282.7
max           307.8
Name: lane_2_obs_speed, dtype: Float64
****values when imputed > obs *****
True     24
False     3
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 8-2023
Weekday: 5   Hour: 7
******* lane number: 3 ********
# rows: 2311
equal: 51, imputed > obs: 31, imputed < obs: 1356
% equal 0.022
greater: 0.013, less: 0.587
**** values when imputed < obs ****
count       1356.0
mean     63.441734
std       6.004107
min           40.7
25%         60.825
50%      64.783333
75%         67.175
max           81.2
Name: lane_3_speed, dtype: Float64
count        1356.0
mean     238.662021
std       44.415839
min            56.8
25%         220.425
50%           251.0
75%           267.5
max           321.7
Name: lane_3_obs_speed, dtype: Float64
****values when imputed > obs *****
True     28
False     3
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 8-2023
Weekday: 5   Hour: 7
******* lane number: 4 ********
# rows: 2311
equal: 46, imputed > obs: 13, imputed < obs: 1047
% equal 0.02
greater: 0.006, less: 0.453
**** values when imputed < obs ****
count       1047.0
mean     61.107649
std        5.62594
min         34.925
25%           59.4
50%         61.825
75%        63.8625
max          72.05
Name: lane_4_speed, dtype: Float64
count        1047.0
mean     229.072015
std        42.75337
min            60.0
25%           211.4
50%           245.4
75%           251.1
max           288.2
Name: lane_4_obs_speed, dtype: Float64
****values when imputed > obs *****
True     10
False     3
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 8-2023
Weekday: 5   Hour: 7
******* lane number: 5 ********
# rows: 2311
equal: 17, imputed > obs: 2, imputed < obs: 323
% equal 0.007
greater: 0.001, less: 0.14
**** values when imputed < obs ****
count        323.0
mean     62.318989
std       3.415836
min         42.175
25%        61.9375
50%         63.475
75%        64.2125
max         71.125
Name: lane_5_speed, dtype: Float64
count         323.0
mean     236.016099
std       38.740027
min            63.2
25%           239.3
50%           253.0
75%           256.7
max           284.5
Name: lane_5_obs_speed, dtype: Float64
****values when imputed > obs *****
True    2
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 8-2023
Weekday: 5   Hour: 7
******* lane number: 6 ********
# rows: 2311
equal: 6, imputed > obs: 0, imputed < obs: 58
% equal 0.003
greater: 0.0, less: 0.025
**** values when imputed < obs ****
count         58.0
mean     63.066667
std       1.775147
min          55.35
25%        62.8625
50%          63.65
75%       64.19375
max           64.7
Name: lane_6_speed, dtype: Float64
count          58.0
mean     231.208621
std       50.683345
min            63.1
25%           242.7
50%          253.85
75%         256.675
max           258.8
Name: lane_6_obs_speed, dtype: Float64
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

Metric: speed
Month-Year: 8-2023
Weekday: 5   Hour: 7
******* lane number: 7 ********
# rows: 2311
equal: 0, imputed > obs: 0, imputed < obs: 2
% equal 0.0
greater: 0.0, less: 0.001
**** values when imputed < obs ****
count          2.0
mean     62.366667
std       1.791337
min           61.1
25%      61.733333
50%      62.366667
75%           63.0
max      63.633333
Name: lane_7_speed, dtype: Float64
count          2.0
mean        217.65
std      37.830213
min          190.9
25%        204.275
50%         217.65
75%        231.025
max          244.4
Name: lane_7_obs_speed, dtype: Float64
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

Metric: speed
Month-Year: 8-2023
Weekday: 5   Hour: 7
******* lane number: 8 ********
# rows: 2311
equal: 0, imputed > obs: 0, imputed < obs: 0
% equal 0.0
greater: 0.0, less: 0.0
**** values when imputed < obs ****
count     0.0
mean     <NA>
std      <NA>
min      <NA>
25%      <NA>
50%      <NA>
75%      <NA>
max      <NA>
Name: lane_8_speed, dtype: Float64
count     0.0
mean     <NA>
std      <NA>
min      <NA>
25%      <NA>
50%      <NA>
75%      <NA>
max      <NA>
Name: lane_8_obs_speed, dtype: Float64
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

In [10]:
filtering = [[
    ("year", "==", 2023), ("month", "==", 10),
    ("weekday", "==", 3), ("hour", "==", 13)
]]

df = metric_vs_observed(METRIC, filtering)

for i in range(1, 9):
    lane_comparisons(df, i, METRIC)

Metric: speed
Month-Year: 10-2023
Weekday: 3   Hour: 13
******* lane number: 1 ********
# rows: 2604
equal: 89, imputed > obs: 67, imputed < obs: 2430
% equal 0.034
greater: 0.026, less: 0.933
**** values when imputed < obs ****
count       2430.0
mean     64.361485
std       9.077721
min         17.875
25%       60.73125
50%           65.0
75%         71.075
max           78.9
Name: lane_1_speed, dtype: Float64
count        2430.0
mean     238.871605
std       55.517956
min            51.3
25%           212.4
50%           258.0
75%           280.4
max           315.6
Name: lane_1_obs_speed, dtype: Float64
****values when imputed > obs *****
True     49
False    18
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 10-2023
Weekday: 3   Hour: 13
******* lane number: 2 ********
# rows: 2604
equal: 67, imputed > obs: 40, imputed < obs: 1622
% equal 0.026
greater: 0.015, less: 0.623
**** values when imputed < obs ****
count       1622.0
mean     61.670176
std       8.343252
min           17.9
25%      58.089583
50%         63.875
75%          67.25
max         74.375
Name: lane_2_speed, dtype: Float64
count        1622.0
mean     228.833847
std       51.732604
min            54.2
25%          204.05
50%          247.35
75%           266.3
max           297.5
Name: lane_2_obs_speed, dtype: Float64
****values when imputed > obs *****
True     30
False    10
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 10-2023
Weekday: 3   Hour: 13
******* lane number: 3 ********
# rows: 2604
equal: 64, imputed > obs: 41, imputed < obs: 1483
% equal 0.025
greater: 0.016, less: 0.57
**** values when imputed < obs ****
count       1483.0
mean     55.931468
std       8.478252
min          15.35
25%           51.7
50%           57.0
75%           61.9
max         77.175
Name: lane_3_speed, dtype: Float64
count        1483.0
mean     207.672218
std       48.982583
min            45.9
25%           186.7
50%           218.9
75%          243.25
max           308.7
Name: lane_3_obs_speed, dtype: Float64
****values when imputed > obs *****
True     26
False    15
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 10-2023
Weekday: 3   Hour: 13
******* lane number: 4 ********
# rows: 2604
equal: 58, imputed > obs: 27, imputed < obs: 1137
% equal 0.022
greater: 0.01, less: 0.437
**** values when imputed < obs ****
count       1137.0
mean     54.160195
std       7.923261
min         17.425
25%         50.575
50%           55.0
75%         59.475
max          76.75
Name: lane_4_speed, dtype: Float64
count        1137.0
mean     200.304222
std       46.375729
min            53.3
25%           180.8
50%           212.2
75%           231.1
max           307.0
Name: lane_4_obs_speed, dtype: Float64
****values when imputed > obs *****
True     17
False    10
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 10-2023
Weekday: 3   Hour: 13
******* lane number: 5 ********
# rows: 2604
equal: 17, imputed > obs: 7, imputed < obs: 378
% equal 0.007
greater: 0.003, less: 0.145
**** values when imputed < obs ****
count        378.0
mean     56.131768
std       7.750725
min           19.7
25%       52.09375
50%        57.0375
75%       63.16875
max         64.875
Name: lane_5_speed, dtype: Float64
count         378.0
mean     205.230159
std       50.357375
min            41.7
25%         185.575
50%           220.0
75%           246.5
max           259.5
Name: lane_5_obs_speed, dtype: Float64
****values when imputed > obs *****
True     6
False    1
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 10-2023
Weekday: 3   Hour: 13
******* lane number: 6 ********
# rows: 2604
equal: 4, imputed > obs: 2, imputed < obs: 74
% equal 0.002
greater: 0.001, less: 0.028
**** values when imputed < obs ****
count         74.0
mean     58.568018
std       6.357801
min          38.35
25%       55.93125
50%        60.8875
75%       63.41875
max          66.25
Name: lane_6_speed, dtype: Float64
count          74.0
mean     207.535135
std       54.252586
min            64.5
25%         186.675
50%           225.9
75%         253.175
max           257.8
Name: lane_6_obs_speed, dtype: Float64
****values when imputed > obs *****
True    2
Name: obs_col_zero, dtype: int64

Metric: speed
Month-Year: 10-2023
Weekday: 3   Hour: 13
******* lane number: 7 ********
# rows: 2604
equal: 1, imputed > obs: 0, imputed < obs: 1
% equal 0.0
greater: 0.0, less: 0.0
**** values when imputed < obs ****
count     1.0
mean     63.5
std      <NA>
min      63.5
25%      63.5
50%      63.5
75%      63.5
max      63.5
Name: lane_7_speed, dtype: Float64
count      1.0
mean     190.5
std       <NA>
min      190.5
25%      190.5
50%      190.5
75%      190.5
max      190.5
Name: lane_7_obs_speed, dtype: Float64
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)

Metric: speed
Month-Year: 10-2023
Weekday: 3   Hour: 13
******* lane number: 8 ********
# rows: 2604
equal: 0, imputed > obs: 0, imputed < obs: 0
% equal 0.0
greater: 0.0, less: 0.0
**** values when imputed < obs ****
count     0.0
mean     <NA>
std      <NA>
min      <NA>
25%      <NA>
50%      <NA>
75%      <NA>
max      <NA>
Name: lane_8_speed, dtype: Float64
count     0.0
mean     <NA>
std      <NA>
min      <NA>
25%      <NA>
50%      <NA>
75%      <NA>
max      <NA>
Name: lane_8_obs_speed, dtype: Float64
****values when imputed > obs *****
Series([], Name: obs_col_zero, dtype: int64)