In [13]:
from siuba import *
from siuba.data import mtcars
from siuba.data import penguins

In [9]:
## to return rows based off the criteria
mtcars[_.carb == 2]
mtcars[_.mpg > 21]

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [ ]:
mtcars.groupby('cyl')

In [14]:
case_when(penguins, {
    _.bill_depth_mm <= 18: "short",
    _.bill_depth_mm <= 19: "medium",
    _.bill_depth_mm > 19: "long"
})

0      medium
1       short
2       short
3        None
4        long
        ...
339      long
340    medium
341    medium
342    medium
343    medium
Length: 344, dtype: object