# [Research Request - 5311 Apportionment Formula #1710](https://github.com/cal-itp/data-analyses/issues/1710)

- Do the past 3 years of 5311 apportionments to regional bodies passing through Caltrans align with the stated formula? If not, how would apportionments change? How would apportionments change if allocations went directly to each 5311-recipient agency?


- Double check work done by Sara.

- Cross reference all available types of census data.

- can we use the census API to read in data to a notebook? AND apple the apportionment formula

Notes from Grant team 5311 apportionment excel sheet
1. Metropolitan Transportation Commission (MTC): 
  - Sonoma, 
  - Napa, 
  - Solano, 
  - Contra Costa, 
  - Alameda, 
  - Marin, 
  - San Francisco, 
  - San Mateo and 
  - Santa Clara
2. Sacramento Area Council of Governments (SACOG): 
  - Yuba, 
  - Sutter, 
  - Yolo and 
  - Sacramento
3. Alpine and Sierra Counties (collectively, 'Minimum Counties') receive a minimum funding amount of $48,000 due to low population (under 7,590)
4. Orange County does not receive Rural funds

In [1]:
import pandas as pd
import requests

## Census Datasets

### API data

In [2]:
API_Data = "https://api.census.gov/data/2020/dec/cd118?get=group(P2)&ucgid=pseudo(0100000US$0400000)"

In [3]:
df = pd.read_json(API_Data)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,GEO_ID,NAME,P2_001N,P2_001NA,P2_002N,P2_002NA,P2_003N,P2_003NA,P2_004N,P2_004NA,ucgid
1,0400000US01,Alabama,5024279,None,2900880,None,2123399,None,0,None,0400000US01
2,0400000US02,Alaska,733391,None,475967,None,257424,None,0,None,0400000US02
3,0400000US04,Arizona,7151502,None,6385230,None,766272,None,0,None,0400000US04
4,0400000US05,Arkansas,3011524,None,1670677,None,1340847,None,0,None,0400000US05

### State-level Urban and Rural Information for the 2020 Census and 2010 Census
https://www.census.gov/programs-surveys/geography/guidance/geo-areas/urban-rural.html

In [5]:
state_rural_url = "https://www2.census.gov/geo/docs/reference/ua/State_Urban_Rural_Pop_2020_2010.xlsx"

# r = requests.get(state_rural_url)



# with open("state_rural.xlsx", "wb") as f:
#     f.write(r.content)

state_rural_data = pd.read_excel(state_rural_url) # getting error

display(
    state_rural_data.info(),
    state_rural_data.head()
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   STATEFP             56 non-null     int64
 1   STATE ABBREV        56 non-null     object
 2   STATE NAME          56 non-null     object
 3   2020 TOTAL POP      56 non-null     int64
 4   2020
URBAN POP     56 non-null     int64
 5   2020 PCT URBAN POP  56 non-null     float64
 6   2020
RURAL POP     56 non-null     int64
 7   2020 PCT RURAL POP  56 non-null     float64
 8   2010
TOTAL POP     56 non-null     int64
 9   2010
URBAN POP     56 non-null     int64
 10  2010 PCT URBAN POP  56 non-null     float64
 11  2010
 RURAL POP     56 non-null     int64
 12  2010 PCT RURAL POP  56 non-null     float64
dtypes: float64(4), int64(7), object(2)
memory usage: 5.8+ KB

None

,STATEFP,STATE ABBREV,STATE NAME,2020 TOTAL POP,2020 \nURBAN POP,2020 PCT URBAN POP,2020 \nRURAL POP,2020 PCT RURAL POP,2010 \nTOTAL POP,2010 \nURBAN POP,2010 PCT URBAN POP,2010\n RURAL POP,2010 PCT RURAL POP
0,1,AL,Alabama,5024279,2900880,57.737240,2123399,42.262760,4779736,2821804,59.04,1957932,40.96
1,2,AK,Alaska,733391,475967,64.899487,257424,35.100513,710231,468893,66.02,241338,33.98
2,4,AZ,Arizona,7151502,6385230,89.285160,766272,10.714840,6392017,5740659,89.81,651358,10.19
3,5,AR,Arkansas,3011524,1670677,55.476131,1340847,44.523869,2915918,1637589,56.16,1278329,43.84
4,6,CA,California,39538223,37259490,94.236633,2278733,5.763367,37253956,35373606,94.95,1880350,5.05

### County-level Urban and Rural information for the 2020 Census

In [10]:
county_rural_2020_url = "https://www2.census.gov/geo/docs/reference/ua/2020_UA_COUNTY.xlsx"

county_rural_2010_url = "https://www2.census.gov/geo/docs/reference/ua/PctUrbanRural_County.xls"

county_rural_data_2020 = pd.read_excel(county_rural_url)

county_rural_data_2010 = pd.read_excel(county_rural_2010_url)

In [11]:
display(
    county_rural_data_2020.info(),
    county_rural_data_2010.info(),
    county_rural_data_2020.head(),
    county_rural_data_2010.head(),
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3234 entries, 0 to 3233
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATE          3234 non-null   int64
 1   COUNTY         3234 non-null   int64
 2   STATE_NAME     3234 non-null   object
 3   COUNTY_NAME    3234 non-null   object
 4   POP_COU        3234 non-null   int64
 5   HOU_COU        3234 non-null   int64
 6   ALAND_COU      3234 non-null   int64
 7   ALAND_Mi²_COU  3234 non-null   float64
 8   POPDEN_COU     3234 non-null   float64
 9   HOUDEN_COU     3234 non-null   float64
 10  TOTALBLOCKS    3234 non-null   int64
 11  POP_URB        3234 non-null   int64
 12  POPPCT_URB     3234 non-null   float64
 13  HOU_URB        3234 non-null   int64
 14  HOUPCT_URB     3234 non-null   float64
 15  ALAND_URB      3234 non-null   int64
 16  ALAND_Mi²_URB  3234 non-null   float64
 17  ALAND_PCT_URB  3234 non-null   float64
 18  POPDEN_URB     3234 non-null   float64
 19  HOUDEN_URB     3234 non-null   float64
 20  URBANBLOCKS    3234 non-null   int64
 21  POP_RUR        3234 non-null   int64
 22  POPPCT_RUR     3234 non-null   float64
 23  HOU_RUR        3234 non-null   int64
 24  HOUPCT_RUR     3234 non-null   float64
 25  ALAND_RUR      3234 non-null   int64
 26  ALAND_Mi²_RUR  3234 non-null   float64
 27  ALAND_PCT_RUR  3234 non-null   float64
 28  POPDEN_RUR     3234 non-null   float64
 29  HOUDEN_RUR     3234 non-null   float64
 30  RURALBLOCKS    3234 non-null   int64
dtypes: float64(15), int64(14), object(2)
memory usage: 783.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3221 entries, 0 to 3220
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATE          3221 non-null   int64
 1   COUNTY         3221 non-null   int64
 2   STATENAME      3221 non-null   object
 3   COUNTYNAME     3221 non-null   object
 4   POP_COU        3221 non-null   int64
 5   AREA_COU       3221 non-null   int64
 6   POP_URBAN      3221 non-null   int64
 7   POPPCT_URBAN   3221 non-null   float64
 8   AREA_URBAN     3221 non-null   int64
 9   AREAPCT_URBAN  3221 non-null   float64
 10  POPDEN_URBAN   2518 non-null   float64
 11  POP_UA         3221 non-null   int64
 12  POPPCT_UA      3221 non-null   float64
 13  AREA_UA        3221 non-null   int64
 14  AREAPCT_UA     3221 non-null   float64
 15  POPDEN_UA      1006 non-null   float64
 16  POP_UC         3221 non-null   int64
 17  POPPCT_UC      3221 non-null   float64
 18  AREA_UC        3221 non-null   int64
 19  AREAPCT_UC     3221 non-null   float64
 20  POPDEN_UC      2117 non-null   float64
 21  POP_RURAL      3221 non-null   int64
 22  POPPCT_RURAL   3221 non-null   float64
 23  AREA_RURAL     3221 non-null   int64
 24  AREAPCT_RURAL  3221 non-null   float64
 25  POPDEN_RURAL   3196 non-null   float64
dtypes: float64(12), int64(12), object(2)
memory usage: 654.4+ KB

None

None

,STATE,COUNTY,STATE_NAME,COUNTY_NAME,POP_COU,HOU_COU,ALAND_COU,ALAND_Mi²_COU,POPDEN_COU,HOUDEN_COU,...,POP_RUR,POPPCT_RUR,HOU_RUR,HOUPCT_RUR,ALAND_RUR,ALAND_Mi²_RUR,ALAND_PCT_RUR,POPDEN_RUR,HOUDEN_RUR,RURALBLOCKS
0,1,1,Alabama,Autauga,58805,24350,1539634184,594.452758,98.922916,40.962044,...,23920,0.406768,9991,0.410308,1483727020,572.867002,0.963688,41.754892,17.440348,991
1,1,3,Alabama,Baldwin,231767,124148,4117656199,1589.827058,145.781265,78.088997,...,87113,0.375865,40740,0.328157,3762600021,1452.739868,0.913772,59.964624,28.043562,3181
2,1,5,Alabama,Barbour,25223,11618,2292160149,885.003034,28.500467,13.127639,...,16627,0.659200,7538,0.648821,2276027730,878.774307,0.992962,18.920672,8.577857,1011
3,1,7,Alabama,Bibb,22293,9002,1612188717,622.466064,35.814001,14.461833,...,22293,1.000000,9002,1.000000,1612188717,622.466064,1.000000,35.814001,14.461833,1090
4,1,9,Alabama,Blount,59134,24622,1670259090,644.887035,91.696680,38.180330,...,53510,0.904894,22337,0.907197,1658933117,640.514076,0.993219,83.542270,34.873551,2207

,STATE,COUNTY,STATENAME,COUNTYNAME,POP_COU,AREA_COU,POP_URBAN,POPPCT_URBAN,AREA_URBAN,AREAPCT_URBAN,...,POP_UC,POPPCT_UC,AREA_UC,AREAPCT_UC,POPDEN_UC,POP_RURAL,POPPCT_RURAL,AREA_RURAL,AREAPCT_RURAL,POPDEN_RURAL
0,1,1,Alabama,Autauga,54571,1539582278,31650,58.00,50882539,3.30,...,0,0.00,0,0.00,NaN,22921,42.00,1488699739,96.70,39.9
1,1,3,Alabama,Baldwin,182265,4117521611,105205,57.72,275001368,6.68,...,41556,22.80,111381848,2.71,966.3,77060,42.28,3842520243,93.32,51.9
2,1,5,Alabama,Barbour,27457,2291818968,8844,32.21,17447656,0.76,...,8844,32.21,17447656,0.76,1312.8,18613,67.79,2274371312,99.24,21.2
3,1,7,Alabama,Bibb,22915,1612480789,7252,31.65,18903236,1.17,...,7252,31.65,18903236,1.17,993.6,15663,68.35,1593577553,98.83,25.5
4,1,9,Alabama,Blount,57322,1669961855,5760,10.05,10874700,0.65,...,5374,9.38,9851721,0.59,1412.8,51562,89.95,1659087155,99.35,80.5

In [14]:
ca_county_2010 = county_rural_data_2010[county_rural_data_2010["STATENAME"]=="California"]

In [15]:
ca_county_2020 = county_rural_data_2020[county_rural_data_2020["STATE_NAME"]=="California"]

In [19]:
ca_county_2010["COUNTYNAME"].nunique() == ca_county_2020["COUNTY_NAME"].nunique()

True

In [27]:
county_2010 = ca_county_2010.groupby("COUNTYNAME").agg(
    {"POP_RURAL":"sum", 
     "POP_COU":"sum", 
     "POPPCT_RURAL":"sum"}).reset_index().rename(columns={"COUNTYNAME":"county", ""})

         COUNTYNAME  POP_RURAL  POP_COU  POPPCT_RURAL
0           Alameda       5869  1510271          0.39
1            Alpine       1175     1175        100.00
2            Amador      23016    38091         60.42
3             Butte      41584   220000         18.90
4         Calaveras      34370    45578         75.41
5            Colusa       6795    21419         31.72
6      Contra Costa       8316  1049025          0.79
7         Del Norte       9634    28610         33.67
8         El Dorado      62827   181058         34.70
9            Fresno     100537   930450         10.81
10            Glenn      11494    28122         40.87
11         Humboldt      40062   134623         29.76
12         Imperial      30399   174528         17.42
13             Inyo       8611    18546         46.43
14             Kern      85693   839631         10.21
15            Kings      16601   152982         10.85
16             Lake      21408    64665         33.11
17           Lassen      24610    34895         70.53
18      Los Angeles      59424  9818605          0.61
19           Madera      49672   150865         32.92
20            Marin      16457   252409          6.52
21         Mariposa      18251    18251        100.00
22        Mendocino      39731    87841         45.23
23           Merced      36510   255793         14.27
24            Modoc       6776     9686         69.96
25             Mono       6509    14202         45.83
26         Monterey      40742   415057          9.82
27             Napa      18290   136484         13.40
28           Nevada      41614    98764         42.13
29           Orange       4315  3010232          0.14
30           Placer      48039   348432         13.79
31           Plumas      14810    20007         74.02
32        Riverside     101212  2189641          4.62
33       Sacramento      29257  1418788          2.06
34       San Benito      13267    55269         24.00
35   San Bernardino      96357  2035210          4.73
36        San Diego     102054  3095313          3.30
37    San Francisco          0   805235          0.00
38      San Joaquin      58065   685306          8.47
39  San Luis Obispo      44750   269637         16.60
40        San Mateo      13586   718451          1.89
41    Santa Barbara      21269   423895          5.02
42      Santa Clara      19307  1781642          1.08
43       Santa Cruz      31589   262382         12.04
44           Shasta      51902   177223         29.29
45           Sierra       3231     3240         99.72
46         Siskiyou      29556    44900         65.83
47           Solano      15370   413344          3.72
48           Sonoma      59776   483878         12.35
49       Stanislaus      41057   514453          7.98
50           Sutter      14019    94737         14.80
51           Tehama      32676    63463         51.49
52          Trinity      13786    13786        100.00
53           Tulare      68449   442179         15.48
54         Tuolumne      27110    55365         48.97
55          Ventura      25725   823318          3.12
56             Yolo      13918   200849          6.93
57             Yuba      18921    72155         26.22

In [26]:
ca_county_2020.groupby("COUNTY_NAME").agg({"POP_RUR":"sum", "POP_COU":"sum", "POPPCT_RUR":"sum"}).reset_index()

        COUNTY_NAME  POP_RUR   POP_COU  POPPCT_RUR
0           Alameda     8253   1682353    0.004906
1            Alpine     1204      1204    1.000000
2            Amador    28020     40474    0.692296
3             Butte    44478    211632    0.210167
4         Calaveras    37128     45292    0.819747
5            Colusa     9326     21839    0.427034
6      Contra Costa    11661   1165927    0.010001
7         Del Norte    12123     27743    0.436975
8         El Dorado    70112    191185    0.366723
9            Fresno   113625   1008654    0.112650
10            Glenn    11917     28917    0.412111
11         Humboldt    43033    136463    0.315346
12         Imperial    33075    179702    0.184055
13             Inyo     8003     19016    0.420856
14             Kern   121409    909235    0.133529
15            Kings    16642    152486    0.109138
16             Lake    27802     68163    0.407875
17           Lassen    23735     32730    0.725176
18      Los Angeles    89220  10014009    0.008910
19           Madera    60326    156255    0.386074
20            Marin    15773    262321    0.060129
21         Mariposa    17131     17131    1.000000
22        Mendocino    44394     91601    0.484645
23           Merced    47239    281202    0.167990
24            Modoc     8700      8700    1.000000
25             Mono     6150     13195    0.466086
26         Monterey    62577    439035    0.142533
27             Napa    20324    138019    0.147255
28           Nevada    49285    102241    0.482047
29           Orange     7962   3186989    0.002498
30           Placer    59016    404739    0.145812
31           Plumas    19790     19790    1.000000
32        Riverside   132359   2418185    0.054735
33       Sacramento    38029   1585055    0.023992
34       San Benito    14598     64209    0.227351
35   San Bernardino   117405   2181654    0.053815
36        San Diego   144963   3298634    0.043946
37    San Francisco        0    873965    0.000000
38      San Joaquin    60401    779233    0.077513
39  San Luis Obispo    53909    282424    0.190880
40        San Mateo    13035    764442    0.017052
41    Santa Barbara    24964    448229    0.055695
42      Santa Clara    25537   1936259    0.013189
43       Santa Cruz    36006    270861    0.132932
44           Shasta    61553    182155    0.337916
45           Sierra     3196      3236    0.987639
46         Siskiyou    31256     44076    0.709139
47           Solano    20209    453491    0.044563
48           Sonoma    66643    488863    0.136322
49       Stanislaus    45173    552878    0.081705
50           Sutter    15010     99633    0.150653
51           Tehama    37544     65829    0.570326
52          Trinity    16112     16112    1.000000
53           Tulare    94889    473117    0.200561
54         Tuolumne    26607     55620    0.478371
55          Ventura    28411    843843    0.033669
56             Yolo    17416    216403    0.080479
57             Yuba    24075     81575    0.295127