# [Research Request - 5311 Apportionment Formula #1710](https://github.com/cal-itp/data-analyses/issues/1710)

- Do the past 3 years of 5311 apportionments to regional bodies passing through Caltrans align with the stated formula? If not, how would apportionments change? How would apportionments change if allocations went directly to each 5311-recipient agency?


- Double check work done by Sara.

- Cross reference all available types of census data.

- can we use the census API to read in data to a notebook? AND apple the apportionment formula

Notes from Grant team 5311 apportionment excel sheet
1. Metropolitan Transportation Commission (MTC): 
  - Sonoma, 
  - Napa, 
  - Solano, 
  - Contra Costa, 
  - Alameda, 
  - Marin, 
  - San Francisco, 
  - San Mateo and 
  - Santa Clara
2. Sacramento Area Council of Governments (SACOG): 
  - Yuba, 
  - Sutter, 
  - Yolo and 
  - Sacramento
3. Alpine and Sierra Counties (collectively, 'Minimum Counties') receive a minimum funding amount of $48,000 due to low population (under 7,590)
4. Orange County does not receive Rural funds

In [11]:
import pandas as pd
import requests

## Census Datasets

### API data

In [2]:
API_Data = "https://api.census.gov/data/2020/dec/cd118?get=group(P2)&ucgid=pseudo(0100000US$0400000)"

In [4]:
df = pd.read_json(API_Data)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,GEO_ID,NAME,P2_001N,P2_001NA,P2_002N,P2_002NA,P2_003N,P2_003NA,P2_004N,P2_004NA,ucgid
1,0400000US01,Alabama,5024279,None,2900880,None,2123399,None,0,None,0400000US01
2,0400000US02,Alaska,733391,None,475967,None,257424,None,0,None,0400000US02
3,0400000US04,Arizona,7151502,None,6385230,None,766272,None,0,None,0400000US04
4,0400000US05,Arkansas,3011524,None,1670677,None,1340847,None,0,None,0400000US05

### State-level Urban and Rural Information for the 2020 Census and 2010 Census
https://www.census.gov/programs-surveys/geography/guidance/geo-areas/urban-rural.html

In [ ]:
state_rural_url = "https://www2.census.gov/geo/docs/reference/ua/State_Urban_Rural_Pop_2020_2010.xlsx"

# r = requests.get(state_rural_url)



# with open("state_rural.xlsx", "wb") as f:
#     f.write(r.content)

state_rural_data = pd.read_excel(state_rural_url) # getting error

display(
    state_rural_data.info(),
    state_rural_data.head()
)

### County-level Urban and Rural information for the 2020 Census

In [19]:
county_rural_url = "https://www2.census.gov/geo/docs/reference/ua/2020_UA_COUNTY.xlsx"

county_rural_data = pd.read_excel(county_rural_url)

display(
    county_rural_data.info(),
    county_rural_data.head()
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3234 entries, 0 to 3233
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATE          3234 non-null   int64
 1   COUNTY         3234 non-null   int64
 2   STATE_NAME     3234 non-null   object
 3   COUNTY_NAME    3234 non-null   object
 4   POP_COU        3234 non-null   int64
 5   HOU_COU        3234 non-null   int64
 6   ALAND_COU      3234 non-null   int64
 7   ALAND_Mi²_COU  3234 non-null   float64
 8   POPDEN_COU     3234 non-null   float64
 9   HOUDEN_COU     3234 non-null   float64
 10  TOTALBLOCKS    3234 non-null   int64
 11  POP_URB        3234 non-null   int64
 12  POPPCT_URB     3234 non-null   float64
 13  HOU_URB        3234 non-null   int64
 14  HOUPCT_URB     3234 non-null   float64
 15  ALAND_URB      3234 non-null   int64
 16  ALAND_Mi²_URB  3234 non-null   float64
 17  ALAND_PCT_URB  3234 non-null   float64
 18  POPDEN_URB     3234 non-null   float64
 19  HOUDEN_URB     3234 non-null   float64
 20  URBANBLOCKS    3234 non-null   int64
 21  POP_RUR        3234 non-null   int64
 22  POPPCT_RUR     3234 non-null   float64
 23  HOU_RUR        3234 non-null   int64
 24  HOUPCT_RUR     3234 non-null   float64
 25  ALAND_RUR      3234 non-null   int64
 26  ALAND_Mi²_RUR  3234 non-null   float64
 27  ALAND_PCT_RUR  3234 non-null   float64
 28  POPDEN_RUR     3234 non-null   float64
 29  HOUDEN_RUR     3234 non-null   float64
 30  RURALBLOCKS    3234 non-null   int64
dtypes: float64(15), int64(14), object(2)
memory usage: 783.4+ KB

None

,STATE,COUNTY,STATE_NAME,COUNTY_NAME,POP_COU,HOU_COU,ALAND_COU,ALAND_Mi²_COU,POPDEN_COU,HOUDEN_COU,...,POP_RUR,POPPCT_RUR,HOU_RUR,HOUPCT_RUR,ALAND_RUR,ALAND_Mi²_RUR,ALAND_PCT_RUR,POPDEN_RUR,HOUDEN_RUR,RURALBLOCKS
0,1,1,Alabama,Autauga,58805,24350,1539634184,594.452758,98.922916,40.962044,...,23920,0.406768,9991,0.410308,1483727020,572.867002,0.963688,41.754892,17.440348,991
1,1,3,Alabama,Baldwin,231767,124148,4117656199,1589.827058,145.781265,78.088997,...,87113,0.375865,40740,0.328157,3762600021,1452.739868,0.913772,59.964624,28.043562,3181
2,1,5,Alabama,Barbour,25223,11618,2292160149,885.003034,28.500467,13.127639,...,16627,0.659200,7538,0.648821,2276027730,878.774307,0.992962,18.920672,8.577857,1011
3,1,7,Alabama,Bibb,22293,9002,1612188717,622.466064,35.814001,14.461833,...,22293,1.000000,9002,1.000000,1612188717,622.466064,1.000000,35.814001,14.461833,1090
4,1,9,Alabama,Blount,59134,24622,1670259090,644.887035,91.696680,38.180330,...,53510,0.904894,22337,0.907197,1658933117,640.514076,0.993219,83.542270,34.873551,2207

In [20]:
ca_county = county_rural_data[county_rural_data["STATE_NAME"]=="California"]

In [26]:
ca_county["COUNTY_NAME"].nunique()

58

In [32]:
ca_county.groupby("COUNTY_NAME").agg({"POP_RUR":"sum", "POP_COU":"sum"}).reset_index()

        COUNTY_NAME  POP_RUR   POP_COU
0           Alameda     8253   1682353
1            Alpine     1204      1204
2            Amador    28020     40474
3             Butte    44478    211632
4         Calaveras    37128     45292
5            Colusa     9326     21839
6      Contra Costa    11661   1165927
7         Del Norte    12123     27743
8         El Dorado    70112    191185
9            Fresno   113625   1008654
10            Glenn    11917     28917
11         Humboldt    43033    136463
12         Imperial    33075    179702
13             Inyo     8003     19016
14             Kern   121409    909235
15            Kings    16642    152486
16             Lake    27802     68163
17           Lassen    23735     32730
18      Los Angeles    89220  10014009
19           Madera    60326    156255
20            Marin    15773    262321
21         Mariposa    17131     17131
22        Mendocino    44394     91601
23           Merced    47239    281202
24            Modoc     8700      8700
25             Mono     6150     13195
26         Monterey    62577    439035
27             Napa    20324    138019
28           Nevada    49285    102241
29           Orange     7962   3186989
30           Placer    59016    404739
31           Plumas    19790     19790
32        Riverside   132359   2418185
33       Sacramento    38029   1585055
34       San Benito    14598     64209
35   San Bernardino   117405   2181654
36        San Diego   144963   3298634
37    San Francisco        0    873965
38      San Joaquin    60401    779233
39  San Luis Obispo    53909    282424
40        San Mateo    13035    764442
41    Santa Barbara    24964    448229
42      Santa Clara    25537   1936259
43       Santa Cruz    36006    270861
44           Shasta    61553    182155
45           Sierra     3196      3236
46         Siskiyou    31256     44076
47           Solano    20209    453491
48           Sonoma    66643    488863
49       Stanislaus    45173    552878
50           Sutter    15010     99633
51           Tehama    37544     65829
52          Trinity    16112     16112
53           Tulare    94889    473117
54         Tuolumne    26607     55620
55          Ventura    28411    843843
56             Yolo    17416    216403
57             Yuba    24075     81575