In [109]:
import pandas as pd
from siuba import *
import numpy as np

import altair as alt

from shared_utils import altair_utils
from shared_utils import geography_utils
from shared_utils import calitp_color_palette as cp
from shared_utils import styleguide

from calitp import to_snakecase

from IPython.display import display, Markdown

In [2]:
df=pd.read_csv('gs://calitp-analytics-data/data-analyses/5310/5310_org_info_manualfill.csv')

In [4]:
bc = to_snakecase(
    pd.read_excel(
        "gs://calitp-analytics-data/data-analyses/grants/Grant+Projects_3_17_2022.xlsx"
    )
)
bc = bc>>filter(_.funding_program.str.contains('5310'))
bc["organization_name"] = (
    bc["organization_name"]
    .str.replace(",", "")
    .str.replace(".", "")
    .str.replace("/", " ")
    #.str.replace("\\", "")
)

/tmp/ipykernel_1043/4035653396.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [5]:
bc.head(5)

,grant_fiscal_year,funding_program,grant_number,project_year,organization_name,upin,description,ali,contract_number,allocationamount,encumbered_amount,expendedamount,activebalance,closedoutbalance,project_status,project_closed_by,project_closed_date,project_closed_time
125,2017,5310 Exp,CA-2017-169 | 0017000186-E,2017,Amador Transit,BCG0001035,Operating Assistance,300901,64AO18-00677,30144.0,30144.0,30144.0,0.0,0,Open,NaN,NaN,NaN
126,2017,5310 Exp,CA-2017-169 | 0017000186-E,2017,Angel View Inc,BCG0000324,Operating Assistance,300901,64AO18-00770,125000.0,125000.0,125000.0,0.0,0,Open,NaN,NaN,NaN
127,2017,5310 Exp,CA-2017-169 | 0017000186-E,2017,ARC Imperial Valley,BCG0000988,Operating Assistance,300901,64AO18-00630,193211.0,193211.0,193211.0,0.0,0,Open,NaN,NaN,NaN
128,2017,5310 Exp,CA-2017-169 | 0017000186-E,2017,ARC Imperial Valley,BCG0002757,Operating Assistance,300901,64AO18-00630,40000.0,40000.0,40000.0,0.0,0,Open,NaN,NaN,NaN
129,2017,5310 Exp,CA-2017-169 | 0017000186-E,2017,Area 1 Agency on Aging,BCG0000392,Operating Assistance,300901,64AO18-00631,146534.0,146534.0,146534.0,0.0,0,Open,NaN,NaN,NaN

In [7]:
p = pd.merge(bc, df, how='left', on='organization_name')

In [9]:
p['description'] = p['description'].str.strip()

In [11]:
(
    p
    >> group_by(_.organization_name, _.funding_program)
    >> summarize(n=_.description.nunique())
    >> arrange(-_.n)
    >> filter(_.n > 1)
)

                                     organization_name funding_program  n
39                          Community Bridges Liftline       5310 Trad  6
181  United Cerebral Palsy Association of Greater S...       5310 Trad  6
139                     Porterville Sheltered Workshop       5310 Trad  5
11   Asian Community Center of Sacramento Valley In...       5310 Trad  4
21       Catholic Charities of the Diocese of Stockton       5310 Trad  4
..                                                 ...             ... ..
173                  The Center for Independent Living       5310 Trad  2
185                             Valley Resource Center       5310 Trad  2
187           Victor Valley Community Services Council       5310 Trad  2
188                    Victor Valley Transit Authority       5310 Trad  2
193                               Work Training Center       5310 Trad  2

[63 rows x 3 columns]

In [12]:
p>>count(_.grant_fiscal_year)

   grant_fiscal_year    n
0               2017  513
1               2019  602

In [13]:
p>>count(_.project_year)

   project_year    n
0          2017  507
1          2018    4
2          2019  604

In [14]:
p>>filter(_.project_year==2018)

,grant_fiscal_year,funding_program,grant_number,project_year,organization_name,upin,description,ali,contract_number,allocationamount,...,itp_id,name_NTD_Airtable,doing_business_as,reporter_acronym,organization_type,reporter_type,city,county,mobility_services_operated,merge_status
72,2017,5310 Exp,CA-2017-169 | 0017000186-E,2018,County of Sonoma Human Services Department Adu...,BCG0000526,Operating Assistance,300901,64AO18-00794,266975.0,...,NaN,NaN,NaN,NaN,Independent Agency,NaN,Sonoma,Sonoma,NaN,No Match
73,2017,5310 Exp,CA-2017-169 | 0017000186-E,2018,Desert Access and Mobility Inc,BCG0000752,Operating Assistance,300901,64AO16-00777,125000.0,...,NaN,Desert Access and Mobility Inc,NaN,NaN,Non-Profit Organization,NaN,Palm Springs,Riverside,NaN,Name Match; Airtable
510,2017,5310 Trad,CA-2017-169 | 0017000186-T,2018,County of Sonoma Human Services Department Adu...,BCG0000525,Mobility Management,117L00,64AM18-00764,157532.0,...,NaN,NaN,NaN,NaN,Independent Agency,NaN,Sonoma,Sonoma,NaN,No Match
511,2017,5310 Trad,CA-2017-169 | 0017000186-T,2018,County of Sonoma Human Services Department Adu...,BCG0000598,Purchase Computer Software,114208,64AM18-00764,10000.0,...,NaN,NaN,NaN,NaN,Independent Agency,NaN,Sonoma,Sonoma,NaN,No Match

In [15]:
p>>count(_.grant_number)

                 grant_number    n
0  CA-2017-169 | 0017000186-E   75
1  CA-2017-169 | 0017000186-T  438
2  CA-2020-244 | 0020000273-E   76
3  CA-2020-244 | 0020000273-T  526

In [16]:
(p>>group_by(_.organization_name, _.grant_fiscal_year)>>count(_.description))

,organization_name,grant_fiscal_year,description,n
0,ARC Bakersfield,2017,Purchase Replacement < 30 Ft Bus,16
1,ARC Bakersfield,2017,Purchase Replacement Van,4
2,ARC Imperial Valley,2017,Operating Assistance,2
3,ARC Imperial Valley,2019,Buy Van For Svc Expansion,4
4,ARC Imperial Valley,2019,Operating Assistance,2
...,...,...,...,...
353,Wilshire Community Services,2019,Operating Assistance,1
354,Work Training Center,2017,Purchase Radios,1
355,Work Training Center,2017,Purchase Replacement < 30 Ft Bus,6
356,Yolo County Transportation District,2017,Mobility Management,2
357,Yolo County Transportation District,2017,Purchase Computer Software,2

In [17]:
p>>group_by(_.organization_name)>>count(_.description)

                       organization_name                       description   n
0                        ARC Bakersfield  Purchase Replacement < 30 Ft Bus  16
1                        ARC Bakersfield          Purchase Replacement Van   4
2                    ARC Imperial Valley         Buy Van For Svc Expansion   4
3                    ARC Imperial Valley              Operating Assistance   4
4                        Able Industries      Buy <30-Ft Bus For Expansion   6
..                                   ...                               ...  ..
280          Wilshire Community Services              Operating Assistance   2
281                 Work Training Center                   Purchase Radios   1
282                 Work Training Center  Purchase Replacement < 30 Ft Bus   6
283  Yolo County Transportation District               Mobility Management   2
284  Yolo County Transportation District        Purchase Computer Software   2

[285 rows x 3 columns]

In [20]:
p.description.value_counts()

Purchase Replacement < 30 Ft Bus                                                                464
Buy <30-Ft Bus For Expansion                                                                    138
Purchase Replacement Van                                                                        122
Operating Assistance                                                                            113
Buy Van For Svc Expansion                                                                        93
Mobility Management                                                                              72
Purchase Computer Hardware                                                                       16
Purchase Radios                                                                                  16
Surveillance/Security                                                                            10
Support Equip/Facilities-Equipment                                                                8
Purchase Computer Software                                                                        7
Mobility Management-Concord UA                                                                    2
Mobility Management - MTM                                                                         2
Mobility Management Concord LUA                                                                   2
Rural UZA -Mobility Management - Rural Intercity Feeder Shuttle Expansion                         2
Santa Rosa UZA- Mobility Management -Sonoma Access Information & Referral Outreach Expansion      2
Purchase Misc Communications Equip                                                                2
Mobility Management - Contra Costa Transit Travel Training                                        2
Mobility Management SF LUA                                                                        2
Operating Assistance San Fran                                                                     2
Bay Area Mobility Management and Coordination Implementation                                      2
Mobility Management 211 One Stop Call Center & Travel Training                                    2
Mobility Management Antioch LUA                                                                   2
Mobility Management - Riv-San                                                                     2
Mobility Management for Lake County                                                               2
Purchase Communications System                                                                    2
Operating Assistance Volunteer Driver program                                                     2
Taxi Voucher/Subsidy Program                                                                      2
Buy 30-Ft Bus For Expansion                                                                       2
5310 Lake County NEMT Operating Assistance                                                        1
5310 Lake County Volunteer Driver Program Operating Assistance                                    1
Operating Assistance - Operating Accessible Vans                                                  1
2021 Operating Assistance for JDA                                                                 1
Purchase Replacement Van 1                                                                        1
Purchase Replacement Van 2                                                                        1
Operating Assistance - Paratransit                                                                1
One vehicle for service expansion in Antioch                                                      1
DriveCam (Support Equip/Facilities-Equipment)                                                     1
211 One Stop Call Center & Travel Training - Mobility Management                                  1
Expanded 5310 Lake County NEMT Operating Assistance                                               1
Volunteer Driver Program Operating Assistance                                                     1
Rural UZA -Operating Assistance - Rural Intercity Feeder Shuttle Expansion Project                1
Santa Rosa UZA - Operating Assistance -Volunteer Driver Program Expansion                         1
Mobility Management - Enhanced Travel Training Program URBAN                                      1
Buy 35-Ft Bus For Expansion                                                                       1
Mobility Management WCCC                                                                          1
Purchase Replacement < 30 Ft Bus for JDA                                                          1
Mobility Management - Travel Training Program                                                     1
Mobility Management Project - Travel Navigator                                                    1
Name: description, dtype: int64

In [21]:
(
    p
    >> group_by(_.organization_name, _.organization_type)
    >> summarize(nunique_desc=_.description.nunique())
    >> arrange(-_.nunique_desc)
)

,organization_name,organization_type,nunique_desc
28,Community Bridges Liftline,Non-Profit Organization,7
35,County of Sonoma Human Services Department Adu...,Independent Agency,7
136,United Cerebral Palsy Association of Greater S...,Non-Profit Organization,7
85,Mobility Matters,Non-Profit Organization,6
7,Asian Community Center of Sacramento Valley In...,Non-Profit Organization,5
...,...,...,...
135,United Cerebral Palsy Association Inc of Stani...,Non-Profit Organization,1
137,United Cerebral Palsy of San Luis Obispo County,Non-Profit Organization,1
138,Valley Achievement Center,Non-Profit Organization,1
143,West Valley Community Services,Non-Profit Organization,1
144,Wilshire Community Services,Non-Profit Organization,1

In [25]:
p_agg = (p.groupby(['organization_name'])
      .agg({'description': lambda x: x.tolist()})
      .rename({'description' : 'descriptions'},axis=1)
      .reset_index())

In [26]:
p_agg

,organization_name,descriptions
0,ARC Bakersfield,"[Purchase Replacement < 30 Ft Bus, Purchase Re..."
1,ARC Imperial Valley,"[Operating Assistance, Operating Assistance, O..."
2,Able Industries,"[Buy <30-Ft Bus For Expansion, Buy <30-Ft Bus ..."
3,Alegria Community Living,"[Purchase Replacement Van, Purchase Replacemen..."
4,Amador Transit,"[Operating Assistance, Mobility Management, Mo..."
...,...,...
142,Vivalon Inc,"[Operating Assistance, Purchase Replacement < ..."
143,West Valley Community Services,"[Operating Assistance, Operating Assistance, O..."
144,Wilshire Community Services,"[Operating Assistance, Operating Assistance]"
145,Work Training Center,"[Purchase Replacement < 30 Ft Bus, Purchase Re..."
146,Yolo County Transportation District,"[Mobility Management, Mobility Management, Pur..."

## Specific Project Types
finding project types for 
* wheelchair accessible vehicles
* on-demand scheduling
* dispatching software platforms

In [76]:
p.description.value_counts()

Purchase Replacement < 30 Ft Bus                                                                464
Buy <30-Ft Bus For Expansion                                                                    138
Purchase Replacement Van                                                                        122
Operating Assistance                                                                            113
Buy Van For Svc Expansion                                                                        93
Mobility Management                                                                              72
Purchase Computer Hardware                                                                       16
Purchase Radios                                                                                  16
Surveillance/Security                                                                            10
Support Equip/Facilities-Equipment                                                                8
Purchase Computer Software                                                                        7
Mobility Management-Concord UA                                                                    2
Mobility Management - MTM                                                                         2
Mobility Management Concord LUA                                                                   2
Rural UZA -Mobility Management - Rural Intercity Feeder Shuttle Expansion                         2
Santa Rosa UZA- Mobility Management -Sonoma Access Information & Referral Outreach Expansion      2
Purchase Misc Communications Equip                                                                2
Mobility Management - Contra Costa Transit Travel Training                                        2
Mobility Management SF LUA                                                                        2
Operating Assistance San Fran                                                                     2
Bay Area Mobility Management and Coordination Implementation                                      2
Mobility Management 211 One Stop Call Center & Travel Training                                    2
Mobility Management Antioch LUA                                                                   2
Mobility Management - Riv-San                                                                     2
Mobility Management for Lake County                                                               2
Purchase Communications System                                                                    2
Operating Assistance Volunteer Driver program                                                     2
Taxi Voucher/Subsidy Program                                                                      2
Buy 30-Ft Bus For Expansion                                                                       2
5310 Lake County NEMT Operating Assistance                                                        1
5310 Lake County Volunteer Driver Program Operating Assistance                                    1
Operating Assistance - Operating Accessible Vans                                                  1
2021 Operating Assistance for JDA                                                                 1
Purchase Replacement Van 1                                                                        1
Purchase Replacement Van 2                                                                        1
Operating Assistance - Paratransit                                                                1
One vehicle for service expansion in Antioch                                                      1
DriveCam (Support Equip/Facilities-Equipment)                                                     1
211 One Stop Call Center & Travel Training - Mobility Management                                  1
Expanded 5310 Lake County NEMT Operating Assistance                                               1
Volunteer Driver Program Operating Assistance                                                     1
Rural UZA -Operating Assistance - Rural Intercity Feeder Shuttle Expansion Project                1
Santa Rosa UZA - Operating Assistance -Volunteer Driver Program Expansion                         1
Mobility Management - Enhanced Travel Training Program URBAN                                      1
Buy 35-Ft Bus For Expansion                                                                       1
Mobility Management WCCC                                                                          1
Purchase Replacement < 30 Ft Bus for JDA                                                          1
Mobility Management - Travel Training Program                                                     1
Mobility Management Project - Travel Navigator                                                    1
Name: description, dtype: int64

In [113]:
p>>filter(_.description.str.contains("Bus"))>>select(_.organization_name,
                                                     _.project_year,
                                                     _.description
                                                    )

     organization_name  project_year                       description
75     Able Industries          2017      Buy <30-Ft Bus For Expansion
76     Able Industries          2017      Buy <30-Ft Bus For Expansion
77     Able Industries          2017      Buy <30-Ft Bus For Expansion
78     Able Industries          2017      Buy <30-Ft Bus For Expansion
79     Able Industries          2017      Buy <30-Ft Bus For Expansion
...                ...           ...                               ...
1110       Vivalon Inc          2019  Purchase Replacement < 30 Ft Bus
1111       Vivalon Inc          2019  Purchase Replacement < 30 Ft Bus
1112       Vivalon Inc          2019  Purchase Replacement < 30 Ft Bus
1113       Vivalon Inc          2019  Purchase Replacement < 30 Ft Bus
1114       Vivalon Inc          2019  Purchase Replacement < 30 Ft Bus

[606 rows x 3 columns]

In [115]:
p>>filter(_.description.str.contains("Bus"))>>count(_.description)>>arrange(-_.n)

                                description    n
3          Purchase Replacement < 30 Ft Bus  464
2              Buy <30-Ft Bus For Expansion  138
0               Buy 30-Ft Bus For Expansion    2
1               Buy 35-Ft Bus For Expansion    1
4  Purchase Replacement < 30 Ft Bus for JDA    1

In [111]:
display(Markdown(
    f"There are {len(p>>filter(_.description.str.contains('Bus'))>>count(_.organization_name))} "
    f"organizations with Bus purchases as project types"))

There are 75 organizations with Bus purchases as project types

In [122]:
p>>filter(_.description.str.contains("Van"))>>select(_.organization_name,
                                                     _.project_year,
                                                     _.description
                                                    )>>count(_.description)

                                        description    n
0                         Buy Van For Svc Expansion   93
1  Operating Assistance - Operating Accessible Vans    1
2                          Purchase Replacement Van  122
3                        Purchase Replacement Van 1    1
4                        Purchase Replacement Van 2    1

In [131]:
(p[(p.description.str.contains("Van")==True) & (p.description.str.contains("Assistance")==False)])>>select(
    _.organization_name,
    _.project_year,
    _.description
)

,organization_name,project_year,description
34,Friends of Children with Special Needs,2017,Buy Van For Svc Expansion
35,Friends of Children with Special Needs,2017,Buy Van For Svc Expansion
93,ARC Bakersfield,2017,Purchase Replacement Van
94,ARC Bakersfield,2017,Purchase Replacement Van
103,ARC Bakersfield,2017,Purchase Replacement Van
...,...,...,...
1039,United Cerebral Palsy Association of Greater S...,2019,Buy Van For Svc Expansion
1089,Valley Resource Center,2019,Purchase Replacement Van
1090,Valley Resource Center,2019,Purchase Replacement Van
1095,Valley Resource Center,2019,Purchase Replacement Van
1096,Valley Resource Center,2019,Purchase Replacement Van

In [132]:
p[(p.description.str.contains("Van")==True) & (p.description.str.contains("Assistance")==False)]>>count(_.description)

                  description    n
0   Buy Van For Svc Expansion   93
1    Purchase Replacement Van  122
2  Purchase Replacement Van 1    1
3  Purchase Replacement Van 2    1

In [138]:
len(p[(p.description.str.contains("Van")==True) & (p.description.str.contains("Assistance")==False)]>>count(_.organization_name))

38

In [141]:
display(Markdown(
    f"There are " 
    f"{len(p[(p.description.str.contains('Van')==True) & (p.description.str.contains('Assistance')==False)]>>count(_.organization_name))} "
    f"organizations with Van purchases as project types"))

There are 38 organizations with Van purchases as project types

In [95]:
p>>filter(_.description.str.contains("On-demand"))>>select(_.organization_name,
                                                     _.project_year,
                                                     _.description
                                                    )

Empty DataFrame
Columns: [organization_name, project_year, description]
Index: []

In [150]:
display(Markdown(
    f"There are " 
    f"{len(p>>filter(_.description.str.contains('On-demand'))>>select(_.organization_name,_.project_year, _.description))} "
    f"organizations with On-Demand purchases as project types"))

There are 0 organizations with On-Demand purchases as project types

In [147]:
p>>filter(_.description.str.contains("Operating Assistance"))>>select(_.organization_name,
                                                     _.project_year,
                                                     _.description
                                                    )

,organization_name,project_year,description
0,Amador Transit,2017,Operating Assistance
1,Angel View Inc,2017,Operating Assistance
2,ARC Imperial Valley,2017,Operating Assistance
3,ARC Imperial Valley,2017,Operating Assistance
4,Area 1 Agency on Aging,2017,Operating Assistance
...,...,...,...
584,United Cerebral Palsy Association of Greater S...,2019,Operating Assistance
585,Valley Resource Center,2019,Operating Assistance
586,West Valley Community Services,2019,Operating Assistance
587,West Valley Community Services,2019,Operating Assistance
588,Wilshire Community Services,2019,Operating Assistance

In [149]:
p>>filter(_.description.str.contains("Operating Assistance"))>>select(_.organization_name,
                                                     _.project_year,
                                                     _.description
                                                    )>>count(_.organization_name)

                                    organization_name  n
0                                 ARC Imperial Valley  4
1                                      Amador Transit  1
2                                      Angel View Inc  3
3                              Area 1 Agency on Aging  1
4   Asian Community Center of Sacramento Valley In...  6
..                                                ... ..
60                             Valley Resource Center  2
61           Victor Valley Community Services Council  1
62                                        Vivalon Inc  1
63                     West Valley Community Services  3
64                        Wilshire Community Services  2

[65 rows x 2 columns]

In [152]:
display(Markdown(
    f"There are " 
    f"{len((p>>filter(_.description.str.contains('Operating Assistance'))>>select(_.organization_name,_.project_year,_.description))>>count(_.organization_name))} "
    f"organizations with Operating Assistance purchases as project types"))

There are 65 organizations with Operating Assistance purchases as project types

In [98]:
p>>filter(_.description.str.contains("Software"))>>select(_.organization_name,
                                                     _.project_year,
                                                     _.description
                                                    )

,organization_name,project_year,description
117,Asian Community Center of Sacramento Valley In...,2017,Purchase Computer Software
118,Asian Community Center of Sacramento Valley In...,2017,Purchase Computer Software
508,Yolo County Transportation District,2017,Purchase Computer Software
509,Yolo County Transportation District,2017,Purchase Computer Software
511,County of Sonoma Human Services Department Adu...,2018,Purchase Computer Software
631,Catholic Charities of the Diocese of Stockton,2019,Purchase Computer Software
632,Catholic Charities of the Diocese of Stockton,2019,Purchase Computer Software

In [99]:
p>>filter(_.description.str.contains("Hardware"))>>select(_.organization_name,
                                                     _.project_year,
                                                     _.description
                                                    )

,organization_name,project_year,description
111,Asian Community Center of Sacramento Valley In...,2017,Purchase Computer Hardware
166,Community Bridges Liftline,2017,Purchase Computer Hardware
231,Foothill AIDS Project,2017,Purchase Computer Hardware
421,San Joaquin Regional Transit District,2017,Purchase Computer Hardware
477,United Cerebral Palsy Association of Greater S...,2017,Purchase Computer Hardware
478,United Cerebral Palsy Association of Greater S...,2017,Purchase Computer Hardware
629,Catholic Charities of the Diocese of Stockton,2019,Purchase Computer Hardware
630,Catholic Charities of the Diocese of Stockton,2019,Purchase Computer Hardware
653,Community Bridges Liftline,2019,Purchase Computer Hardware
654,Community Bridges Liftline,2019,Purchase Computer Hardware
803,Milestones of Development INC,2019,Purchase Computer Hardware
804,Milestones of Development INC,2019,Purchase Computer Hardware
932,Porterville Sheltered Workshop,2019,Purchase Computer Hardware
933,Porterville Sheltered Workshop,2019,Purchase Computer Hardware
1010,Sunline Transit Agency,2019,Purchase Computer Hardware
1011,Sunline Transit Agency,2019,Purchase Computer Hardware

In [161]:
p.query('description.str.contains("Hardware") or description.str.contains("Software")')>>count(_.description)

                  description   n
0  Purchase Computer Hardware  16
1  Purchase Computer Software   7

In [169]:
(p.query('description.str.contains("Hardware") or description.str.contains("Software")')>>count(_.organization_name))

                                    organization_name  n
0   Asian Community Center of Sacramento Valley In...  3
1       Catholic Charities of the Diocese of Stockton  4
2                          Community Bridges Liftline  3
3   County of Sonoma Human Services Department Adu...  1
4                               Foothill AIDS Project  1
5                       Milestones of Development INC  2
6                      Porterville Sheltered Workshop  2
7               San Joaquin Regional Transit District  1
8                              Sunline Transit Agency  2
9   United Cerebral Palsy Association of Greater S...  2
10                Yolo County Transportation District  2

In [176]:
display(Markdown(
    f"There are " 
    f"{len((p[(p['description'].str.contains('Hardware')) | (p['description'].str.contains('Software'))])>>count(_.organization_name))} "
    f"organizations with Hardware or Software purchases as project types"))

There are 11 organizations with Hardware or Software purchases as project types

# Description by Year

In [33]:
p_agg2 = (p.groupby(['organization_name', 'project_year'])
      .agg({'description': lambda x: x.tolist()})
      .rename({'description' : 'descriptions'},axis=1)
      .reset_index())

In [53]:
p_agg2

,organization_name,project_year,descriptions
0,ARC Bakersfield,2017,"[Purchase Replacement < 30 Ft Bus, Purchase Re..."
1,ARC Imperial Valley,2017,"[Operating Assistance, Operating Assistance]"
2,ARC Imperial Valley,2019,"[Operating Assistance, Operating Assistance, B..."
3,Able Industries,2017,"[Buy <30-Ft Bus For Expansion, Buy <30-Ft Bus ..."
4,Alegria Community Living,2019,"[Purchase Replacement Van, Purchase Replacemen..."
...,...,...,...
221,West Valley Community Services,2019,"[Operating Assistance, Operating Assistance, O..."
222,Wilshire Community Services,2017,[Operating Assistance]
223,Wilshire Community Services,2019,[Operating Assistance]
224,Work Training Center,2017,"[Purchase Replacement < 30 Ft Bus, Purchase Re..."
225,Yolo County Transportation District,2017,"[Mobility Management, Mobility Management, Pur..."

In [57]:
 year = p.groupby(['organization_name','project_year']).agg({'description': lambda x: x.tolist()}).unstack('project_year', fill_value=0)

In [58]:
year

                                                                           description  \
project_year                                                                      2017
organization_name
ARC Bakersfield                      [Purchase Replacement < 30 Ft Bus, Purchase Re...
ARC Imperial Valley                       [Operating Assistance, Operating Assistance]
Able Industries                      [Buy <30-Ft Bus For Expansion, Buy <30-Ft Bus ...
Alegria Community Living                                                             0
Amador Transit                             [Operating Assistance, Mobility Management]
...                                                                                ...
Vivalon Inc                          [Operating Assistance, Purchase Replacement < ...
West Valley Community Services                                                       0
Wilshire Community Services                                     [Operating Assistance]
Work Training Center                 [Purchase Replacement < 30 Ft Bus, Purchase Re...
Yolo County Transportation District  [Mobility Management, Mobility Management, Pur...

                                          \
project_year                        2018
organization_name
ARC Bakersfield                        0
ARC Imperial Valley                    0
Able Industries                        0
Alegria Community Living               0
Amador Transit                         0
...                                  ...
Vivalon Inc                            0
West Valley Community Services         0
Wilshire Community Services            0
Work Training Center                   0
Yolo County Transportation District    0


project_year                                                                      2019
organization_name
ARC Bakersfield                                                                      0
ARC Imperial Valley                  [Operating Assistance, Operating Assistance, B...
Able Industries                                                                      0
Alegria Community Living             [Purchase Replacement Van, Purchase Replacemen...
Amador Transit                              [Mobility Management, Mobility Management]
...                                                                                ...
Vivalon Inc                          [Purchase Replacement < 30 Ft Bus, Purchase Re...
West Valley Community Services       [Operating Assistance, Operating Assistance, O...
Wilshire Community Services                                     [Operating Assistance]
Work Training Center                                                                 0
Yolo County Transportation District                                                  0

[147 rows x 3 columns]

In [62]:
# testing for single organization: Amador Transit
(p>>filter(_.organization_name =='Amador Transit'))>>select(_.project_year, _.description)

     project_year           description
0            2017  Operating Assistance
81           2017   Mobility Management
599          2019   Mobility Management
600          2019   Mobility Management

In [65]:
# great, exporting
#year.to_csv('by_years.csv')

In [181]:
p_agg2

,organization_name,project_year,descriptions
0,ARC Bakersfield,2017,"[Purchase Replacement < 30 Ft Bus, Purchase Re..."
1,ARC Imperial Valley,2017,"[Operating Assistance, Operating Assistance]"
2,ARC Imperial Valley,2019,"[Operating Assistance, Operating Assistance, B..."
3,Able Industries,2017,"[Buy <30-Ft Bus For Expansion, Buy <30-Ft Bus ..."
4,Alegria Community Living,2019,"[Purchase Replacement Van, Purchase Replacemen..."
...,...,...,...
221,West Valley Community Services,2019,"[Operating Assistance, Operating Assistance, O..."
222,Wilshire Community Services,2017,[Operating Assistance]
223,Wilshire Community Services,2019,[Operating Assistance]
224,Work Training Center,2017,"[Purchase Replacement < 30 Ft Bus, Purchase Re..."
225,Yolo County Transportation District,2017,"[Mobility Management, Mobility Management, Pur..."

In [233]:
def project_types_def(df):
    if (df.description.str.contains('Bus')) | (df.description.str.contains('Van')):
        return "Vehicle Purchase"
    elif (df.description.str.contains('Operating Assistance')):
        return "Operating Assistance"
    elif (df.description.str.contains('Mobility Management')):
        return "Mobility Management"
    elif (df.description.str.contains('Hardware')) | (df.description.str.contains('Software')):
        return "Hardware/Software Purchase"
    else:
        return "Other"

In [234]:
p["project_type"] = p.apply(lambda x: project_types_def(x), axis=1)

AttributeError: 'str' object has no attribute 'str'

In [235]:
p

,grant_fiscal_year,funding_program,grant_number,project_year,organization_name,upin,description,ali,contract_number,allocationamount,...,itp_id,name_NTD_Airtable,doing_business_as,reporter_acronym,organization_type,reporter_type,city,county,mobility_services_operated,merge_status
0,2017,5310 Exp,CA-2017-169 | 0017000186-E,2017,Amador Transit,BCG0001035,Operating Assistance,300901,64AO18-00677,30144.0,...,11.0,Amador Regional Transit System,NaN,ARTS,Independent Public Agency or Authority of Tran...,Rural Reporter,Jackson,Amador,"Amador Transit,Amador Transit Dial-A-Ride","Manual Match, NTD"
1,2017,5310 Exp,CA-2017-169 | 0017000186-E,2017,Angel View Inc,BCG0000324,Operating Assistance,300901,64AO18-00770,125000.0,...,NaN,Angel View Inc,NaN,NaN,Non-Profit Organization,NaN,Cathedral City,Riverside,Angel View,Name Match; Airtable
2,2017,5310 Exp,CA-2017-169 | 0017000186-E,2017,ARC Imperial Valley,BCG0000988,Operating Assistance,300901,64AO18-00630,193211.0,...,398.0,ARC Imperial Valley,NaN,NaN,Non-Profit Organization,NaN,El Centro,Imperial,Arc Imperial Valley Transportation,Name Match; Airtable
3,2017,5310 Exp,CA-2017-169 | 0017000186-E,2017,ARC Imperial Valley,BCG0002757,Operating Assistance,300901,64AO18-00630,40000.0,...,398.0,ARC Imperial Valley,NaN,NaN,Non-Profit Organization,NaN,El Centro,Imperial,Arc Imperial Valley Transportation,Name Match; Airtable
4,2017,5310 Exp,CA-2017-169 | 0017000186-E,2017,Area 1 Agency on Aging,BCG0000392,Operating Assistance,300901,64AO18-00631,146534.0,...,399.0,Area 1 Agency on Aging,NaN,NaN,Non-Profit Organization,NaN,Eureka,"Humboldt, De Norte",NaN,Name Match; Airtable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,2019,5310 Trad,CA-2020-244 | 0020000273-T,2019,Vivalon Inc,BCG0001867,Purchase Replacement < 30 Ft Bus,111204,64AC19-01193,64960.0,...,NaN,Vivalon Inc,NaN,NaN,Non-Profit Organization,NaN,San Rafael,Marin,Golden Gate Transit Paratransit,Name Match; Airtable
1111,2019,5310 Trad,CA-2020-244 | 0020000273-T,2019,Vivalon Inc,BCG0001868,Purchase Replacement < 30 Ft Bus,111204,64AC19-01193,16240.0,...,NaN,Vivalon Inc,NaN,NaN,Non-Profit Organization,NaN,San Rafael,Marin,Golden Gate Transit Paratransit,Name Match; Airtable
1112,2019,5310 Trad,CA-2020-244 | 0020000273-T,2019,Vivalon Inc,BCG0001868,Purchase Replacement < 30 Ft Bus,111204,64AC19-01193,64960.0,...,NaN,Vivalon Inc,NaN,NaN,Non-Profit Organization,NaN,San Rafael,Marin,Golden Gate Transit Paratransit,Name Match; Airtable
1113,2019,5310 Trad,CA-2020-244 | 0020000273-T,2019,Vivalon Inc,BCG0001870,Purchase Replacement < 30 Ft Bus,111204,64AC19-01193,16240.0,...,NaN,Vivalon Inc,NaN,NaN,Non-Profit Organization,NaN,San Rafael,Marin,Golden Gate Transit Paratransit,Name Match; Airtable
1114,2019,5310 Trad,CA-2020-244 | 0020000273-T,2019,Vivalon Inc,BCG0001870,Purchase Replacement < 30 Ft Bus,111204,64AC19-01193,64960.0,...,NaN,Vivalon Inc,NaN,NaN,Non-Profit Organization,NaN,San Rafael,Marin,Golden Gate Transit Paratransit,Name Match; Airtable

In [193]:
p_agg2[p_agg2['descriptions'].apply(lambda x: 'Bus' in x)]

Empty DataFrame
Columns: [organization_name, project_year, descriptions]
Index: []

In [192]:
p_agg2[p_agg2['descriptions'].apply(lambda x: 'Operating Assistance' in x)]

,organization_name,project_year,descriptions
1,ARC Imperial Valley,2017,"[Operating Assistance, Operating Assistance]"
2,ARC Imperial Valley,2019,"[Operating Assistance, Operating Assistance, B..."
5,Amador Transit,2017,"[Operating Assistance, Mobility Management]"
7,Angel View Inc,2017,"[Operating Assistance, Buy <30-Ft Bus For Expa..."
8,Angel View Inc,2019,"[Operating Assistance, Operating Assistance, P..."
...,...,...,...
215,Victor Valley Community Services Council,2017,"[Operating Assistance, Buy 35-Ft Bus For Expan..."
219,Vivalon Inc,2017,"[Operating Assistance, Purchase Replacement < ..."
221,West Valley Community Services,2019,"[Operating Assistance, Operating Assistance, O..."
222,Wilshire Community Services,2017,[Operating Assistance]
223,Wilshire Community Services,2019,[Operating Assistance]