# Data Inconsistencies

In [1]:
import pandas as pd
from siuba import *

import numpy as np

import ipywidgets as widgets
from ipywidgets import *
from IPython.display import Markdown
from IPython.core.display import display

/tmp/ipykernel_4600/2938649846.py:9: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display

In [2]:
from dla_utils import _dla_utils

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(
/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/

In [3]:
#df = _clean_data.make_clean_data()
df= pd.read_parquet("gs://calitp-analytics-data/data-analyses/dla/e-76Obligated/dla_df.parquet")

In [4]:
df.sample()

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
15950,Obligated,ER,32L0(100),El Dorado County,2020-02-07,2020-02-07,2020-02-07,2020-02-07,2020-02-11,0.00,...,0.00,Large,0,0,0,1,0,1,0,2

**NOTE** this notebook was made before offical `primary_agency_name` and `locode` was known. `agency` is used to show the inconsistencies that arise when looking at certain `project_ids` and `locode`

## Looking into MPOs

using this map to see where the agency is in realtion to nearest mpo https://gisdata-caltrans.opendata.arcgis.com/datasets/b3e0ef95520843ba8c1d3b9c0fa9a607_0/explore

In [5]:
print(len(df>>count(_.mpo)>>arrange(-_.n)))

31

* Accoring to the Caltrans GIS data, there are 18 mpos

In [6]:
#using _dla_utils
(_dla_utils.find_top(df))>>filter(_.variable=='mpo')

      value  count variable
0      SCAG   5235      mpo
1       MTC   3419      mpo
2   NON-MPO   2766      mpo
3     SACOG   1946      mpo
4      CFCG   1455      mpo
5      KCOG   1045      mpo
6     AMBAG    797      mpo
7   STANCOG    795      mpo
8      SJCG    553      mpo
9      SDAG    518      mpo
10     TCAG    508      mpo
11     SBCG    366      mpo
12     MCAG    311      mpo
13     BCAG    281      mpo
14     SLAC    251      mpo
15     STPA    222      mpo
16     MCTC    202      mpo
17     KCAG    147      mpo
18   SANDAG    137      mpo
19    SJCOG    134      mpo

### Which MPOs have the least amount of obligations? What Agencies do they include?

In [7]:
df >> count(_.mpo)>>arrange(-_.n)>> filter(_.n==1)

       mpo  n
6    FSTIP  1
11  MNOLTC  1
15   SANDA  1
20  SHASTA  1

#### MPO SANDA

In [8]:
df>>filter(_.mpo =='SANDA')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
12809,Obligated,HSIPLN,5426(008),Big Bear Lake,2013-12-09,2014-01-27,2014-02-06,2014-02-06,2014-02-07,"169,650.00",...,0.00,Medium,0,0,0,1,0,1,0,2

* maybe meant "SANDAG" but Big Bear Lake is in "SCAG" jurisdiction
* looked to excel download file and this there is anothe Big Bear Lake and SANDAG instance

In [9]:
df>>filter(_.agency.str.contains('Big Bear')) >> filter(_.mpo.str.contains("SANDA"))

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
12609,Obligated,HSIPLN,5426(011),Big Bear Lake,2014-02-20,2014-02-21,2014-03-02,2014-03-03,2014-03-04,"27,000.00",...,0.00,Medium,0,0,0,0,0,1,0,1
12809,Obligated,HSIPLN,5426(008),Big Bear Lake,2013-12-09,2014-01-27,2014-02-06,2014-02-06,2014-02-07,"169,650.00",...,0.00,Medium,0,0,0,1,0,1,0,2

google maps show the `project_location` intersections in the jurisdiction of Big Bear and not in SANDAG

#### MPO SHASTA

In [10]:
df >>filter(_.mpo=='SHASTA')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
10079,Obligated,HSIPL,5073(075),Orange,2014-12-30,2015-01-08,2015-01-16,2015-01-16,2015-01-18,"196,199.00",...,0.00,Large,0,0,0,1,0,0,0,1

In [11]:
df>> filter(_.agency.str.contains('Shasta')) >> count(_.mpo)

     mpo    n
0    MTC    2
1  SACOG    4
2   STPA  139

In [12]:
df>>filter(_.agency.str.contains('Shasta')) >> filter(_.mpo=="MTC")

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
19491,Obligated,ACSTP,15A6(002),Shasta County,2021-05-18,2021-05-28,2021-06-02,2021-07-12,2021-07-22,0.00,...,"19,251.75",Large,0,0,0,0,0,1,0,1
20998,Obligated,ER,15A6(002),Shasta County,2022-02-22,2022-02-22,2022-02-22,2022-02-25,2022-03-04,"19,251.73",...,"-18,554.79",Large,0,0,0,0,0,1,0,1

* in the project location column, the intersection is Tustin and Mayfair which is in Orange Couny, or SCAG. Agency is also Orange, yet the mpo is Shasta

#### MPO MNOLTC and Agencies under

In [13]:
df>> filter(_.mpo=='MNOLTC')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
10862,Obligated,RPSTPL,5205(019),Rialto,2014-09-10,2014-09-10,2014-09-10,2014-09-10,2014-09-10,"2,000,000.00",...,"-2,289,215.19",Medium,1,0,0,0,0,0,0,1

In [14]:
#looking to see if what other MPOs Rialto is in, should be in SCAG
df>> filter(_.agency=='Rialto') >> count(_.mpo)

      mpo   n
0    KCOG   1
1  MNOLTC   1
2  SANDAG   1
3    SCAG  15

In [15]:
df>> filter(_.agency=='Rialto') >> filter(_.mpo=='KCOG')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
10709,Obligated,SRTSL,5205(014),Rialto,2014-10-08,2014-10-08,2014-10-08,2014-10-08,2014-10-14,0.00,...,0.00,Medium,0,0,0,1,0,0,0,1

In [16]:
df>> filter(_.agency=='Rialto') >> filter(_.mpo=='SANDAG')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
12458,Obligated,HSIPL,5205(017),Rialto,2014-03-07,2014-03-07,2014-03-21,2014-03-21,2014-03-21,"-89,313.00",...,0.00,Medium,1,0,0,1,0,1,0,3

#### FSTIP

In [17]:
df>>filter(_.mpo=='FSTIP')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
12053,Obligated,CML,5160(023),Los Banos,2014-04-16,2014-04-16,2014-04-24,2014-04-24,2014-04-24,"-16,940.31",...,0.00,Medium,1,0,0,0,0,0,0,1

* FSTIP is the Federal Statewide Transportation Improvement Program.

### Number of Unique Agencies in Each MPO

In [18]:
#using _dla_utils
_dla_utils.get_nunique(df, "primary_agency_name", "mpo")

        mpo    n
18     SCAG  262
12      MTC  146
13  NON-MPO  123
26  STANCOG   90
16   SANDAG   74
22    SJCOG   73
9      MCAG   50
8      KCOG   44
14    SACOG   38
2      CFCG   24
3     COFCG   22
19     SDAG   18
0     AMBAG   16
4   ER NONE   15
21     SJCG   13
29     TCAG   12
23     SLAC   10
25   STACOG   10
10     MCTC    9
17     SBCG    9
1      BCAG    8
7      KCAG    7
28     STPA    5
30     TMPO    4
27   STNCOG    3
5      FCOG    2
6     FSTIP    1
11   MNOLTC    1
15    SANDA    1
20   SHASTA    1
24   SLOCOG    1

In [19]:
#using _dla_utils
(_dla_utils.find_top((df>>filter(_.mpo=='SCAG'))))>>filter(_.variable=='primary_agency_name')

,value,count,variable
0,Los Angeles,482,primary_agency_name
1,Los Angeles County,470,primary_agency_name
2,San Bernardino County,130,primary_agency_name
3,Riverside County,119,primary_agency_name
4,Ventura County,117,primary_agency_name
5,Orange County Transportation Authority,90,primary_agency_name
6,Santa Ana,89,primary_agency_name
7,Los Angeles County Metropolitan Transportation...,88,primary_agency_name
8,Long Beach,84,primary_agency_name
9,Santa Clarita,83,primary_agency_name
10,Imperial County,79,primary_agency_name
11,Pasadena,73,primary_agency_name
12,San Bernardino Associated Governments,70,primary_agency_name
13,Oxnard,67,primary_agency_name
14,Palm Springs,64,primary_agency_name
15,Downey,63,primary_agency_name
16,Lancaster,61,primary_agency_name
17,Simi Valley,59,primary_agency_name
18,Huntington Beach,58,primary_agency_name
19,Moreno Valley,57,primary_agency_name

## Function for Agencies in each MPO

creating a function to look into each MPO. What agencies are listed under the MPO name? Are the projects located in that jurisdiction?

In [20]:
_dla_utils.interactive_widget_counts(df, 'mpo', 'primary_agency_name')

Dropdown(description='Mpo', options=('AMBAG', 'BCAG', 'CFCG', 'COFCG', 'ER NONE', 'FCOG', 'FSTIP', 'KCAG', 'KCâ€¦

Output()

### Filter to see values in column

In [21]:
#using Siuba filter, we can start to look at the agenies under different MPOs

In [22]:
df>>filter(_.agency=='Marin County')>> filter(_.mpo=='SCAG')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
19894,Obligated,ACSTP,40A0(087),Marin County,2021-06-16,2021-06-17,2021-06-17,2021-09-13,2021-09-14,0.00,...,"676,463.59",Large,0,0,0,1,0,0,0,1
20837,Obligated,ER,40A0(087),Marin County,2022-02-16,2022-02-16,2022-02-16,2022-02-22,2022-02-24,"754,476.00",...,"-727,162.78",Large,0,0,0,1,0,0,0,1

* projet located in Lucas Valley, which is not in SCAG

In [23]:
df>>filter(_.agency=='Sonora')>> count(_.mpo)

       mpo  n
0    COFCG  1
1  NON-MPO  4
2     SCAG  2
3  STANCOG  1

In [24]:
df>>filter(_.agency=='Sonora')>> filter(_.mpo=='SCAG')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
8383,Obligated,CML,5010(006),Sonora,2015-07-23,2015-08-20,2015-08-26,2015-08-26,2015-08-27,0.00,...,"46,068.46",Small,1,1,0,0,0,0,0,2
8679,Obligated,CML,5010(008),Sonora,2015-07-08,2015-07-08,2015-07-15,2015-07-17,2015-07-21,"205,000.00",...,0.00,Small,0,0,0,0,0,0,0,0

In [25]:
df>>filter(_.agency=='Shasta County')>> filter(_.mpo=='MTC')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
19491,Obligated,ACSTP,15A6(002),Shasta County,2021-05-18,2021-05-28,2021-06-02,2021-07-12,2021-07-22,0.00,...,"19,251.75",Large,0,0,0,0,0,1,0,1
20998,Obligated,ER,15A6(002),Shasta County,2022-02-22,2022-02-22,2022-02-22,2022-02-25,2022-03-04,"19,251.73",...,"-18,554.79",Large,0,0,0,0,0,1,0,1

In [26]:
df>>filter(_.agency=='Marina')>> filter(_.mpo=='AMBAG')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
4849,Obligated,RPSTPL,5416(008),Marina,2017-02-28,2017-02-28,2017-02-28,2017-02-28,2017-03-10,"-13,679.60",...,0.00,Medium,1,0,0,0,0,0,0,1
5514,Obligated,RPSTPL,5416(008),Marina,2016-11-01,2016-11-01,2016-11-01,2016-11-01,2016-11-07,"55,689.00",...,0.00,Medium,1,0,0,0,0,0,0,1
5585,Obligated,RPSTPL,5416(008),Marina,2016-07-27,2016-10-25,2016-10-25,2016-10-25,2016-10-28,"-55,689.00",...,0.00,Medium,1,0,0,0,0,0,0,1
6816,Obligated,HSIPL,5416(010),Marina,2016-05-05,2016-05-05,2016-05-06,2016-05-06,2016-05-13,"1,300,033.00",...,0.00,Medium,0,0,0,1,0,0,0,1
9170,Obligated,RPSTPL,5416(011),Marina,2015-05-21,2015-05-21,2015-05-21,2015-05-22,2015-05-27,"1,650,000.00",...,0.00,Medium,0,0,0,1,0,0,0,1
9304,Obligated,RPSTPL,5416(008),Marina,2015-05-05,2015-05-05,2015-05-05,2015-05-05,2015-05-06,"2,000,000.00",...,"-2,286,502.66",Medium,1,0,0,0,0,0,0,1
12808,Obligated,RPSTPL,5416(008),Marina,2014-02-07,2014-02-07,2014-02-07,2014-02-07,2014-02-07,0.00,...,0.00,Medium,1,0,0,0,0,0,0,1
12866,Obligated,RPSTPL,5416(008),Marina,2014-01-09,2014-01-23,2014-01-28,2014-01-28,2014-01-28,0.00,...,"2,289,215.19",Medium,1,0,0,0,0,0,0,1
14995,Obligated,HSIPL,5416(010),Marina,2019-10-08,2019-10-08,2019-10-08,2019-10-08,2019-10-21,-19.60,...,0.00,Medium,0,0,0,1,0,0,0,1

In [27]:
df>>filter(_.agency=='Kern County (District 9)')>> filter(_.mpo=='BCAG')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
2481,Obligated,CML,5961(006),Kern County (District 9),2018-02-05,2018-02-08,2018-02-13,2018-02-13,2018-02-21,"1,327,950.00",...,0.00,Large,0,0,0,0,0,1,0,1

In [28]:
df>>filter(_.agency=='Santa Barbara County')>> filter(_.mpo=='BCAG')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
293,Obligated,ER,38F0(011),Santa Barbara County,2018-09-06,2018-09-06,2018-10-29,2018-10-31,2018-11-06,"83,500.00",...,0.00,Large,0,0,0,1,0,0,0,1
1041,Obligated,ER,38F0(011),Santa Barbara County,2018-07-05,2018-07-05,2018-07-05,2018-07-05,2018-07-13,"15,000.00",...,"-16,186.54",Large,0,0,0,1,0,0,0,1

In [29]:
df>>filter(_.agency=='Bishop')>> filter(_.mpo=='KCOG')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
10707,Obligated,RPSTPL,5125(021),Bishop,2014-09-23,2014-10-08,2014-10-08,2014-10-08,2014-10-14,"4,049.00",...,0.00,Small,1,0,0,0,0,0,0,1

In [30]:
df>>filter(_.agency=='Los Angeles')>> filter(_.mpo=='MCAG')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
10873,Obligated,RPSTPL,5953(685),Los Angeles,2014-09-05,2014-09-05,2014-09-08,2014-09-10,2014-09-10,"378,000.00",...,"-432,661.67",Large,1,0,0,0,0,0,0,1
10916,Obligated,BRLSZD,5006(337),Los Angeles,2014-08-20,2014-08-20,2014-08-26,2014-08-29,2014-08-29,"58,000.00",...,0.00,Large,0,0,0,0,0,1,0,1
11446,Obligated,HSIPL,5006(551),Los Angeles,2014-07-01,2014-07-01,2014-07-08,2014-07-09,2014-07-09,0.00,...,0.00,Large,0,0,0,1,0,0,0,1
11713,Obligated,CML,5006(647),Los Angeles,2014-06-10,2014-06-10,2014-06-10,2014-06-17,2014-06-18,-0.01,...,0.00,Large,1,0,0,0,0,0,0,1
11754,Obligated,STPLZ,5953(564),Los Angeles,2014-04-28,2014-05-23,2014-06-02,2014-06-03,2014-06-12,"767,290.00",...,0.00,Large,0,0,0,0,0,1,0,1
11873,Obligated,BRLSZD,5953(566),Los Angeles,2013-08-28,2014-05-06,2014-05-13,2014-05-20,2014-05-22,"89,563.00",...,0.00,Large,0,0,1,0,0,1,0,2

In [31]:
df>>filter(_.agency=='Los Angeles')>> count(_.mpo)

       mpo    n
0  ER NONE    1
1     KCOG    4
2     MCAG    6
3  NON-MPO   12
4   SANDAG   14
5     SCAG  508
6    SJCOG    4
7  STANCOG    3

In [32]:
df>>filter(_.agency=='Indio')>> filter(_.mpo=='MCTC')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
8026,Obligated,CML,5275(022),Indio,2015-10-08,2015-10-12,2015-11-10,2015-11-10,2015-11-15,"81,189.00",...,0.00,Large,0,0,0,1,0,1,0,2

In [33]:
df>>filter(_.agency=='Los Angeles')>> filter(_.mpo=='SJCOG')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
11054,Obligated,RPSTPL,5006(716),Los Angeles,2014-08-04,2014-08-04,2014-08-07,2014-08-13,2014-08-13,"669,000.00",...,"-765,742.48",Large,0,0,0,1,0,0,0,1
11678,Obligated,BHLS,5006(193),Los Angeles,2014-03-28,2014-06-09,2014-06-13,2014-06-18,2014-06-19,"710,400.00",...,0.00,Large,0,0,1,0,0,1,0,2
11734,Obligated,STPL,5006(469),Los Angeles,2014-06-10,2014-06-10,2014-06-10,2014-06-12,2014-06-13,"-39,022.58",...,0.00,Large,0,0,0,0,0,0,0,0
11843,Obligated,HPLUL,5006(518),Los Angeles,2014-04-28,2014-05-09,2014-05-22,2014-05-23,2014-05-29,"-127,527.00",...,0.00,Large,0,0,0,1,0,1,0,2

### Findings from Filtering

### MPOs with all correct agencies

* AMBAG
* KCAG
* SBCG
* TMPO

### MPOs with some misplaced agencies

* BCAG
* MTC
* SCAG
* KGOC
* MNOLTC
* FCOG 
* KCOG
* MCAG
* SJCOG
* STANCOG
* MCTC
* SACOG
* SJCOG
* STANCOG 
* TCAG

### MPOs not defined / all incorrect  
* CFCG - has Fresno Counties. Fresno is part of FCOG
* COFCG - combination of multiple MPOs
* FCOG - includes Ventura and Fresno
* FSTIP - a Prefix rather than a MPO
* MNOLTC - one entry
* SANDA - one entry
* SDAG - maybe SANDAG
* SANDAG - mostly SCAG Agencies
* SHASTA - one agency not in Shasta County
* SJCG - most likely SJCOG
* SLAC - maybe SLOCOG
* STACOG - STANCOG
* STNCOG - STANCOG
* STPA - maybe SRTA

## Agencies
Most of these agencies are corrected in the [change_agency_to_locodelist](https://github.com/cal-itp/data-analyses/blob/main/dla/e76_obligated_funds/change_agency_to_locodelist.ipynb)

In [34]:
df.agency.nunique()

669

In [35]:
df.primary_agency_name.nunique()

619

In [36]:
sorted(df.agency.unique())

['Access Services',
 'Agoura Hills',
 'Alameda',
 'Alameda - Contra Costa Transit District',
 'Alameda Corridor Transportation Authority',
 'Alameda County',
 'Alameda County Congestion Management Agency',
 'Alameda County Transportation Commission',
 'Alameda County Transportation Improvement Authority',
 'Alameda County Waste Management Authority',
 'Albany',
 'Alhambra',
 'Alpine County',
 'Amador',
 'Amador City',
 'Amador County',
 'Amador County Transportation Commission',
 'Amador Rapid Transit System',
 'American Canyon',
 'Anaheim',
 'Angels',
 'Antelope Valley Transit Authority',
 'Antioch',
 'Apple Valley',
 'Arcadia',
 'Arcata',
 'Arroyo Grande',
 'Artesia',
 'Arvin',
 'Association Of Monterey Bay Area Governments',
 'Atascadero',
 'Atherton',
 'Atwater',
 'Auburn',
 'Avenal',
 'Azusa',
 'Bakersfield',
 'Baldwin Park',
 'Banning',
 'Barstow',
 'Bay Area Air Quality Management District',
 'Beaumont',
 'Bell',
 'Bell Gardens',
 'Bellflower',
 'Belmont',
 'Benicia',
 'Berkeley',
 'Big Bear Lake',
 'Biggs',
 'Bishop',
 'Blue Lake',
 'Blythe',
 'Brawley',
 'Brea',
 'Brentwood',
 'Brisbane',
 'Buena Park',
 'Burbank',
 'Burlingame',
 'Butte County',
 'Butte County Association Of Governments',
 'Calabasas',
 'Calaveras',
 'Calaveras C T C',
 'Calaveras Council Of Governments',
 'Calaveras County',
 'Calexico',
 'California City',
 'California State University, Sacramento',
 'California Tahoe Conservancy',
 'Calimesa',
 'Calipatria',
 'Calistoga',
 'Caltrans',
 'Camarillo',
 'Campbell',
 'Cap Soeast Con',
 'Capital Southeast Connector',
 'Capitola',
 'Carlsbad',
 'Carpinteria',
 'Carson',
 'Cathedral City',
 'Central Contra Costa Transit Authority',
 'Central Unified School District',
 'Ceres',
 'Cerritos',
 'Chico',
 'Chino',
 'Chino Hills',
 'Chowchilla',
 'Chula Vista',
 'Chula Vista Elementary School District',
 'Citrus Heights',
 'City & County Of San Francisco, Mta/Parking & Traffic',
 'City/County Association Of Governments Of San Mateo County',
 'Claremont',
 'Clayton',
 'Clearlake',
 'Cloverdale',
 'Clovis',
 'Clovis Unified School District',
 'Coachella',
 'Coachella V A G',
 'Coachella Valley Association Of Governments',
 'Coalinga',
 'Colfax',
 'Colma',
 'Colton',
 'Colusa County',
 'Commerce',
 'Compton',
 'Concord',
 'Contra Costa County',
 'Contra Costa Transportation Authority',
 'Corcoran',
 'Corning',
 'Corona',
 'Coronado',
 'Corte Madera',
 'Costa Mesa',
 'Cotati',
 'Council Of Fresno County Governments',
 'Council Of San Benito County Governments',
 'Covina',
 'Crescent City',
 'Cudahy',
 'Culver City',
 'Cupertino',
 'Cypress',
 'Daly City',
 'Dana Point',
 'Danville',
 'Davis',
 'Del Mar',
 'Del Norte County',
 'Delano',
 'Department Of Parks And Recreation',
 'Department Of Water Resources',
 'Desert Hot Springs',
 'Diamond Bar',
 'Dinuba',
 'Dixon',
 'Dos Palos',
 'Downey',
 'Dst Hot Springs',
 'Dublin',
 'Dunsmuir',
 'Dwr',
 'East Bay Regional Park District',
 'East Palo Alto',
 'Eastvale',
 'El Cajon',
 'El Centro',
 'El Cerrito',
 'El Dorado County',
 'El Monte',
 'El Paso De Robles',
 'El Segundo',
 'Elk Grove',
 'Emeryville',
 'Encinitas',
 'Escalon',
 'Escondido',
 'Eureka',
 'Exeter',
 'Fairfax',
 'Fairfield',
 'Farmersville',
 'Ferndale',
 'Fillmore',
 'Firebaugh',
 'Folsom',
 'Fontana',
 'Fort Bragg',
 'Fortuna',
 'Foster City',
 'Fountain Valley',
 'Fowler',
 'Fremont',
 'Fresno',
 'Fresno County',
 'Fresno County Rural Transit Agency',
 'Fresno Unified School District',
 'Fthll/East Tca',
 'Fullerton',
 'Galt',
 'Garden Grove',
 'Gardena',
 'Gilroy',
 'Glendale',
 'Glendora',
 'Glenn County',
 'Gold Coast Transit District',
 'Golden Empire Transit District',
 'Golden Gate Bridge, Highway And Transportation Distri',
 'Goleta',
 'Grand Terrace',
 'Grass Valley',
 'Gridley',
 'Grover Beach',
 'Gustine',
 'Gustine City',
 'Half Moon Bay',
 'Hanford',
 'Hawaiian Garden',
 'Hawaiian Gardens',
 'Hawthorne',
 'Hayward',
 'Healdsburg',
 'Hemet',
 'Hercules',
 'Hermosa Beach',
 'Hesperia',
 'Highland',
 'Hillsborough',
 'Holtville',
 'Hughson',
 'Humboldt',
 'Humboldt Bay Harbor Recreation & Conservation District',
 'Humboldt County',
 'Huntington Beac',
 'Huntington Beach',
 'Huntington Park',
 'Huron',
 'Imperial',
 'Imperial County',
 'Imperial County Transportation Commission',
 'Indian Wells',
 'Indio',
 'Industry',
 'Inglewood',
 'Inyo',
 'Inyo County',
 'Ione',
 'Irvine',
 'Irwindale',
 'Jackson',
 'Jpam',
 'Jurupa Valley',
 'Kerman',
 'Kern',
 'Kern County',
 'Kern County (District 9)',
 'Kern County Council Of Governments',
 'Kern County Superintendent Of School',
 'Kern Regional Transit',
 'Kings Canyon Unified School District',
 'Kings County',
 'Kings County Area Public Transit Agency',
 'Kingsburg',
 'La Canada Flintridge',
 'La Canada-Flint',
 'La Co M T A',
 'La Habra',
 'La Jolla Band Of Luiseno Indians',
 'La Mesa',
 'La Mirada',
 'La Palma',
 'La Puente',
 'La Quinta',
 'La Verne',
 'Lafayette',
 'Laguna Beach',
 'Laguna Hills',
 'Laguna Niguel',
 'Lake County',
 'Lake Elsinore',
 'Lake Forest',
 'Lakeport',
 'Lakewood',
 'Lancaster',
 'Larkspur',
 'Lassen County',
 'Lathrop',
 'Lawndale',
 'Lemon Grove',
 'Lemoore',
 'Lgnw',
 'Lincoln',
 'Live Oak',
 'Livermore',
 'Livermore Amador Valley Transit Authority',
 'Livingston',
 'Lodi',
 'Lodi Unified School District',
 'Lompoc',
 'Long Beach',
 'Long Beach Transportation Company',
 'Loomis',
 'Los Altos',
 'Los Altos Hills',
 'Los Angeles',
 'Los Angeles County',
 'Los Angeles County Metropolitan Transportation Authority',
 'Los Angeles Unified School District',
 'Los Banos',
 'Los Gatos',
 'Lynwood',
 'Madera',
 'Madera County',
 'Malibu',
 'Mammoth Lakes',
 'Manhattan Beach',
 'Manteca',
 'Marin County',
 'Marin County Transit District',
 'Marina',
 'Mariposa',
 'Mariposa County',
 'Martinez',
 'Marysville',
 'Maywood',
 'Mcfarland',
 'Mendocino',
 'Mendocino County',
 'Mendota',
 'Menifee',
 'Menlo Park',
 'Merced',
 'Merced Co Aog',
 'Merced County',
 'Merced County Association Of Governments',
 'Metropolitan Transportation Commission',
 'Metropolitan Transportation Commission - Safe',
 'Mill Valley',
 'Millbrae',
 'Milpitas',
 'Mission Viejo',
 'Modesto',
 'Modoc County',
 'Mono',
 'Mono County',
 'Monrovia',
 'Montclair',
 'Monte Sereno',
 'Montebello',
 'Monterey',
 'Monterey County',
 'Monterey Park',
 'Moorpark',
 'Moraga',
 'Moreno Valley',
 'Morgan Hill',
 'Morongo Basin Transit Authority',
 'Morro Bay',
 'Mountain Area Regional Transit Authority',
 'Mountain View',
 'Mountains Recreation And Conservation Auth.',
 'Murrieta',
 'Napa',
 'Napa County',
 'Napa County Office Of Education',
 'Napa County Transportation Planning Agency',
 'Napa Valley Transportation Authority',
 'National City',
 'National Park Service, Pacific West Region',
 'Natomas Unified School District',
 'Needles',
 'Nevada City',
 'Nevada County',
 'Newark',
 'Newman',
 'Newport Beach',
 'Norwalk',
 'Novato',
 'Oakdale',
 'Oakland',
 'Oakley',
 'Oceanside',
 'Ojai',
 'Omnitrans',
 'Ontario',
 'Ora Co Trans Au',
 'Orange',
 'Orange County',
 'Orange County Transportation Authority',
 'Orange Cove',
 'Orinda',
 'Orland',
 'Oroville',
 'Oxnard',
 'Pacifica',
 'Palm Desert',
 'Palm Springs',
 'Palmdale',
 'Palo Alto',
 'Palos Verdes Est',
 'Paradise',
 'Paramount',
 'Parks And Rec',
 'Parlier',
 'Parlier Unified School District',
 'Pasadena',
 'Patterson',
 'Peninsula Joint Powers Board',
 'Perris',
 'Petaluma',
 'Pico Rivera',
 'Piedmont',
 'Pinole',
 'Pismo Beach',
 'Pittsburg',
 'Placentia',
 'Placer County',
 'Placer County Transportation Planning Agency',
 'Placerville',
 'Pleasant Hill',
 'Pleasanton',
 'Plumas County',
 'Plymouth',
 'Pomona',
 'Port Hueneme',
 'Port Of Long Beach',
 'Port Of Oakland',
 'Port Of San Francisco',
 'Porterville',
 'Portola',
 'Portola Valley',
 'Poway',
 'Rancho Cordova',
 'Rancho Cucamonga',
 'Rancho Mirage',
 'Rancho Palos Verdes',
 'Rancho Santa Margarita',
 'Ranchocucamonga',
 'Ranchopalosverd',
 'Red Bluff',
 'Redding',
 'Redlands',
 'Redondo Beach',
 'Redwood City',
 'Reedley',
 'Rialto',
 'Richmond',
 'Ridgecrest',
 'Rio Dell',
 'Rio Vista',
 'Ripon',
 'Riv Co Trans Co',
 'Riverbank',
 'Riverside',
 'Riverside County',
 'Riverside County Transportation Commission',
 'Riverside Transit Agency',
 'Rocklin',
 'Rohnert Park',
 'Rollinghillsest',
 'Rosemead',
 'Roseville',
 'Ross',
 'Rsm',
 'Sacramento',
 'Sacramento Area Council Of Governments',
 'Sacramento County',
 'Sacramento Metropolitan Air Quality Management District',
 'Sacramento Regional Transit District',
 'Salinas',
 'Samd',
 'San Anselmo',
 'San Benito County',
 'San Bernardino',
 'San Bernardino Associated Governments',
 'San Bernardino County',
 'San Bernardino County Transportation Authority',
 'San Bruno',
 'San Buena Ventura',
 'San Carlos',
 'San Clemente',
 'San Diego',
 'San Diego Association Of Governments',
 'San Diego County',
 'San Diego Metropolitan Tranit System',
 'San Diego Unified Port District',
 'San Dimas',
 'San Fernando',
 'San Francisco Bay Area Rapid Transit District',
 'San Francisco Bay Area Water Transit Authority',
 'San Francisco County',
 'San Francisco County Transportation Authority',
 'San Francisco Department Of Public Health',
 'San Gabriel',
 'San Gabriel Valley Council Of Governments',
 'San Jacinto',
 'San Joaquin',
 'San Joaquin Cog',
 'San Joaquin Council Of Governments',
 'San Joaquin County',
 'San Joaquin Regional Rail Commission',
 'San Joaquin Regional Transit District',
 'San Jose',
 'San Juan Capistrano',
 'San Leandro',
 'San Luis Obispo',
 'San Luis Obispo Council Of Governments',
 'San Luis Obispo County',
 'San Luis Obispo Regional Transit Agency',
 'San Marcos',
 'San Marino',
 'San Mateo',
 'San Mateo County',
 'San Mateo County Transit District',
 'San Pablo',
 'San Rafael',
 'San Ramon',
 'Sanbag',
 'Sanbuenaventura',
 'Sanger',
 'Sanjuancapistra',
 'Santa Ana',
 'Santa Barbara',
 'Santa Barbara County',
 'Santa Barbara County Association Of Governments',
 'Santa Clara',
 'Santa Clara County',
 'Santa Clara Valley Transportation Authority',
 'Santa Clarita',
 'Santa Cruz',
 'Santa Cruz County',
 'Santa Cruz County Health Services Agency',
 'Santa Cruz County Regional Transportation Commission',
 'Santa Fe Sprgs',
 'Santa Fe Springs',
 'Santa Maria',
 'Santa Monica',
 'Santa Paula',
 'Santa Rosa',
 'Santee',
 'Saratoga',
 'Sausalito',
 'Scotts Valley',
 "Sd Assoc Gov'T",
 'Seal Beach',
 'Seaside',
 'Sebastopol',
 'Selma',
 'Sgvc',
 'Shafter',
 'Shasta County',
 'Shasta County Regional Transportation Planning Agency',
 'Shasta Lake',
 'Sierra County',
 'Sierra Madre',
 'Signal Hill',
 'Simi Valley',
 'Siskiyou County',
 'Sjrt',
 'Smrt',
 'Solano County',
 'Solano County Transit',
 'Solano Transportation Authority',
 'Solvang',
 'Sonoma',
 'Sonoma County',
 'Sonoma County Transit',
 'Sonoma County Transportation Authority',
 'Sonoma Marin Area Rail Transit District',
 'Sonora',
 'South Coast Air Quality Management District',
 'South Coast Area Transit',
 'South El Monte',
 'South Gate',
 'South Lake Tahoe',
 'South Pasadena',
 'South San Francisco',
 'Southern California Association Of Governments',
 'Southern California Regional Rail Authority',
 'Southwest Transportation Agency',
 'St Helena',
 'Stan Area Aog',
 'Stanislaus',
 'Stanislaus Council Of Governments',
 'Stanislaus County',
 'Stockton',
 'Stockton Port District',
 'Stpd',
 'Suisun City',
 'Sunline Transit Agency',
 'Sunnyvale',
 'Susanville',
 'Sutter',
 'Sutter County',
 'Sutter Creek',
 'Taft',
 'Tahoe Regional Planning Agency',
 'Tahoe Transportation District',
 'Tehachapi',
 'Tehama',
 'Tehama County',
 'Tehama County Transportation Commission',
 'Temecula',
 'Temple City',
 'Thousand Oaks',
 'Torrance',
 'Tracy',
 'Transit Joint Powers Authority For Merced County',
 'Transportation Agency For Monterey County',
 'Transportation Authority Of Marin',
 'Tri Delta Transit',
 'Trinidad',
 'Trinity County',
 'Truckee',
 'Tulare',
 'Tulare County',
 'Tuolumne',
 'Tuolumne County',
 'Tuolumne County Transportation Council',
 'Turlock',
 'Tustin',
 'Twentynine Palm',
 'Twentynine Palms',
 'U.S. Forest Service, Pacific Southwest Region',
 'Ukiah',
 'Union City',
 'Union Pacific',
 'United States Forest Service',
 'University Of California',
 'University Of California - Davis',
 'University Of California - Santa Barbara',
 'University Of California At San Francisco',
 'Usda Forest Ser',
 'Vacaville',
 'Vallejo',
 'Ventura',
 'Ventura County',
 'Ventura County Transportation Commission',
 'Vernon',
 'Victor Valley Transit Authority',
 'Victorville',
 'Villa Park',
 'Visalia',
 'Vista',
 'Walnut',
 'Walnut Creek',
 'Wasco',
 'Waterford',
 'Watsonville',
 'Weed',
 'West Covina',
 'West Sacramento',
 'Western Contra Costa Transit Authority',
 'Western Shasta Resource Conservation District',
 'Westlake Village',
 'Westminister',
 'Westminster',
 'Westmorland',
 'Wheatland',
 'Whittier',
 'Wildomar',
 'Willits',
 'Willows',
 'Windsor',
 'Winters',
 'Woodlake',
 'Woodland',
 'Woodside',
 'Wta',
 'Yolo County',
 'Yolo County Transportation District',
 'Yorba Linda',
 'Yosemite Area Regional Transportation System Jpa',
 'Yountville',
 'Yreka City',
 'Yrts',
 'Yuba City',
 'Yuba County',
 'Yucaipa',
 'Yucca Valley']

In [37]:
#using _dla_utils
_dla_utils.get_nunique((df>>filter(_.agency.str.contains("Amador"))), 'project_no','agency')

                                      agency   n
2                              Amador County  11
0                                     Amador   4
5  Livermore Amador Valley Transit Authority   3
1                                Amador City   1
3    Amador County Transportation Commission   1
4                Amador Rapid Transit System   1

* list of agencies to be corrected with incorrect locodes
    * includes the null locodes

|Project No/Correct Locode |Agency in Obligated List | Actual Name (in Locode List) | 
| --------------- | --------------- | --------------- |
| 6053 | Sanbag  | San Bernardino Associated Governments | 
| 6066 | Sd Assoc Gov'T  | San Diego Association of Governments |
| 6071 | Ora Co Trans Au  | Orange County Transportation Authority |
| 6089 | Stan Area Aog  | Stanislaus Council of Governments |
| 5181 | Huntington Beac  | Huntington Beach |
| 6054 | Riv Co Trans Co | Riverside County Transportation Commission |
| 6128 |  Calaveras C T C | Calaveras Council of Governments |
| 5417 |  La Canada-Flint | La Canada Flintridge |
| 6303 | Sgvc | San Gabriel Valley Council of Governments |
| 6349 |  Stpd | Stockton Port District |
| 6305 |  Yrts | Yosemite Area Regional Transportation System JPA |
| 6248 |  Dwr | Department of Water Resources |
| 6308 |  Jpam | Transit Joint Powers Authority For Merced County |
| 6088 |  San Joaquin Cog  | San Joaquin Council of Governments |
| 5026 |  Sanbuenaventura | San Buenaventura |
| 5372 | Sanjuancapistra | San Juan Capistrano  |
| 5478 |  Rsm | Rancho Santa Margarita |
| 6190 |  Usda Forest Ser | U.S. Forest Service, Pacific Southwest Region |
| 6498 |  Cap Soeast Con  | Capital Southeast Connector |
| 6164 | Coachella V A G |  Coachella Valley Association of Governments |
| 6061 |  Fthll/East Tca | Foothill Eastern Transportation Corridor |
| 5476 |  Lgnw |  Laguna Woods |
| 6095 | Merced Co Aog | Merced County Association of Governments |
| 5413 |  Ranchopalosverd | Rancho Palos Verdes |
| 5349 |  Rollinghillsest | Rolling Hills Estates |
| 6373 |  Samd | South Coast Air Quality Management District |
| 6245 |  Sjrt |  San Joaquin Regional Transit District |
| 5926 | Amador | Amador County |
| 6128 | Calaveras C T C | Calaveras Council of Governments |
| 5930 | Calaveras | Calaveras County |
| 6498 | Cap Soeast Con | Capital Southeast Connector |
| 6164 | Coachella | Coachella Valley Association Of Governments |
| 5384 | Dst Hot Springs | Desert Hot Springs |
| 6061 | Fthll/East Tca | Foothill Eastern Transportation Corridor |
| 5230 | Gustine City | Gustine |
| 5387 | Hawaiian Garden | Hawaiian Gardens |
| 5958 | Imperial | Imperial County |
| 4825 | Imperial County | 5958 |
| 5948 | Inyo | Inyo County |
| 5940 | Mariposa | Mariposa County |
| 40A0 | Mendocino County | 5910 |
| 5939 | Merced | Merced County |
| 0484 | Merced County | Merced County |
| 5947 | Mono | Mono County |
| 22X0 | Portola Valley | 5390 |
| 5420 | Ranchocucamonga | Rancho Cucamonga |
| 5413 | Ranchopalosverd | Rancho Palos Verdes |
| 5956 | Riverside | Riverside County |
| 5349 | Rollinghillsest | Rolling Hills Estates |
| 5954 | San Bernardino | San Bernardino  County |
| 5957 | San Diego | San Diego County |
| 5929 | San Joaquin | San Joaquin County |
| 6088 | San Joaquin Cog | San Joaquin Council Of Governments |
| 5340 | Santa Fe Sprgs | Santa Fe Springs |
| 6066 | Sd Assoc Govâ€™T | San Diego Association of Governments |
| 20W0 | Sierra Madre | 5158 |
| 6503 | Solano County Transit | 6497 |
| 5938 | Stanislaus | Stanislaus County |
| 5932 | Tuolumne | Tuolumne County |
| 5448 | Twentynine Palm | Twentynine Palms |
| 5952 | Ventura | Ventura County |
| 5026 | San Buena Ventura | San Buenaventura |
| 5338 | Westminister | Westminster |

### Acronym Agencies Totals

In [38]:
#https://stackoverflow.com/questions/19937362/python-pandas-filter-string-data-based-on-its-string-length
df_acronym = df[df['agency'].apply(lambda x: len(x)<5)]

In [39]:
df_acronym>>count(_.agency, _.locode)

   agency locode   n
0    Bell   5272  12
1    Brea   5237  11
2    Brea    nan   5
3     Dwr    nan   3
4    Galt   5293   8
5    Inyo    nan  24
6    Ione   5311   2
7    Jpam    nan   3
8    Kern   5961   2
9    Lgnw    nan   1
10   Lodi   5154  14
11   Lodi    nan   2
12   Mono    nan   4
13   Napa   5042  25
14   Ojai   5251   9
15   Ross   5176  14
16    Rsm    nan   2
17   Samd    nan   1
18   Sgvc   7500   2
19   Sgvc    nan   5
20   Sjrt    nan   1
21   Smrt   6411   4
22   Stpd    nan   4
23   Taft   5193  41
24   Weed   5371   1
25    Wta   6365   2
26   Yrts    nan   4

In [40]:
df_acronym>>filter(_.agency=='Sgvc')>>count(_.project_no)

  project_no  n
0  6303(020)  2
1  6303(026)  1
2  6303(028)  1
3  6303(030)  1
4  7500(286)  2

* only one acronym with a locode. checking agencies with no locode

In [41]:
# using _dla_utils
_dla_utils.get_nunique(df_acronym, 'project_no', 'agency')

   agency   n
4    Inyo  18
20   Taft  14
11   Napa  10
1    Brea   8
13   Ross   7
9    Lodi   6
12   Ojai   6
16   Sgvc   5
0    Bell   4
23   Yrts   4
2     Dwr   3
3    Galt   3
6    Jpam   3
7    Kern   2
10   Mono   2
14    Rsm   2
18   Smrt   2
19   Stpd   2
5    Ione   1
8    Lgnw   1
15   Samd   1
17   Sjrt   1
21   Weed   1
22    Wta   1

* 9 agencies that have acronyms when not including locodes

In [42]:
df_acronym>>filter(_.locode.isnull())>>count(_.agency)

Empty DataFrame
Columns: [agency, n]
Index: []

So the agency 'Sgvc' uses two 'locodes' in the `project_no` column, one of which '7500' we know is used with multiple agencies as seen in the [add_locodes](https://github.com/cal-itp/data-analyses/blob/main/dla/e76_obligated_funds/add_locodes.ipynb) notebook.

### **Agencies with Acronyms and NaN Locodes:**

In [43]:
print(len(df>>filter(_.locode.isnull())))

0

In [44]:
# number of entries with no Locode- around ~7.5%

In [45]:
print(len(df>>filter(_.locode.isnull())>>count(_.agency)))

0

In [46]:
#number of agencies with Locodes missing around ~31%

In [47]:
df>>filter(_.locode.isnull())>>count(_.agency)>>arrange(-_.n)

Empty DataFrame
Columns: [agency, n]
Index: []


* using the most common first four numbers of the `project_no`


|Project No/Corresponding Locode |Agency in Obligated List | Actual Name (in Locode List) | 
| --------------- | --------------- | --------------- |
| 6053 | Sanbag  | San Bernardino Associated Governments | 
| 6066 | Sd Assoc Gov'T  | San Diego Association of Governments |
| 6071 | Ora Co Trans Au  | Orange County Transportation Authority |
| 6089 | Stan Area Aog  | Stanislaus Council of Governments |
| 5181 | Huntington Beac  | Huntington Beach |
| 6054 | Riv Co Trans Co | Riverside County Transportation Commission |
| 6128 |  Calaveras C T C | Calaveras Council of Governments |
| 5417 |  La Canada-Flint | La Canada Flintridge |
| 6303 | Sgvc | San Gabriel Valley Council of Governments |
| 6349 |  Stpd | Stockton Port District |
| 6305 |  Yrts | Yosemite Area Regional Transportation System JPA |
| 6248 |  Dwr | Department of Water Resources |
| 6308 |  Jpam | Transit Joint Powers Authority For Merced County |
| 6088 |  San Joaquin Cog  | San Joaquin Council of Governments |
| 5026 |  Sanbuenaventura | San Buenaventura |
| 5372 | Sanjuancapistra | San Juan Capistrano  |
| 5478 |  Rsm | Rancho Santa Margarita |
| 6190 |  Usda Forest Ser | U.S. Forest Service, Pacific Southwest Region |
| 6498 |  Cap Soeast Con  | Capital Southeast Connector |
| 6164 | Coachella V A G |  Coachella Valley Association of Governments |
| 6061 |  Fthll/East Tca | Foothill Eastern Transportation Corridor |
| 5476 |  Lgnw |  Laguna Woods |
| 6095 | Merced Co Aog | Merced County Association of Governments |
| 5413 |  Ranchopalosverd | Rancho Palos Verdes |
| 5349 |  Rollinghillsest | Rolling Hills Estates |
| 6373 |  Samd | South Coast Air Quality Management District |
| 6245 |  Sjrt |  San Joaquin Regional Transit District |

In [48]:
#printing number of entries for Westmorland which has an offical locode of 5278 
print(len(df>>filter(_.locode=="5278")))
print(len(df>>filter(_.agency=="Westmorland")))

11
12

In [49]:
df>>filter(_.agency=="Westmorland")>>count(_.agency)

        agency   n
0  Westmorland  12

In [50]:
df>>filter(_.agency.str.contains("Huntington Beac"))>>count(_.agency)

             agency   n
0   Huntington Beac   6
1  Huntington Beach  55

#### Dwr

In [51]:
df>>filter(_.agency=="Dwr")

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
8995,Obligated,BRLOZ,6248(011),Dwr,2015-06-12,2015-06-12,2015-06-12,2015-06-12,2015-06-15,"-93,034.07",...,0.00,Large,0,0,0,0,0,1,0,1
8996,Obligated,BRLOZ,6248(013),Dwr,2015-06-12,2015-06-12,2015-06-12,2015-06-12,2015-06-15,"-96,147.13",...,0.00,Large,0,0,0,0,0,1,0,1
8997,Obligated,BHLOZ,6248(030),Dwr,2015-06-12,2015-06-12,2015-06-12,2015-06-12,2015-06-15,"-128,952.96",...,0.00,Large,0,0,0,0,0,1,0,1

* locode list shows this as "Department of Water Resources"

#### Jpam

In [52]:
df>>filter(_.agency=="Jpam")

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
9508,Obligated,CML,6308(016),Jpam,2015-03-23,2015-03-23,2015-04-03,2015-04-06,2015-04-07,"100,000.00",...,0.00,Medium,0,1,0,0,0,0,0,1
10285,Obligated,CML,6308(013),Jpam,2014-12-26,2014-12-26,2014-12-26,2014-12-26,2014-12-30,"-183,102.22",...,0.00,Medium,0,1,0,0,0,0,0,1
11793,Obligated,CML,6308(014),Jpam,2014-05-20,2014-05-21,2014-06-03,2014-06-06,2014-06-06,"100,000.00",...,0.00,Medium,0,1,0,0,0,0,0,1

* Showing in locode list as "Transit Joint Powers Authority For Merced County"

In [53]:
df>>filter(_.project_location=='Stanislaus County')>>count(_.agency)

                              agency  n
0                      Stan Area Aog  3
1                         Stanislaus  2
2  Stanislaus Council Of Governments  4
3                  Stanislaus County  3

In [54]:
df>>filter(_.project_location=='Stanislaus County')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
680,Obligated,CML,6089(055),Stanislaus Council Of Governments,2018-08-28,2018-08-28,2018-08-28,2018-08-29,2018-09-04,0.00,...,0.00,Large,0,0,0,0,0,0,1,1
5228,Obligated,CML,6089(062),Stanislaus Council Of Governments,2016-12-22,2016-12-22,2016-12-22,2016-12-22,2016-12-23,"-4,000.02",...,0.00,Large,0,0,0,0,0,0,1,1
7372,Obligated,CML,5938(217),Stanislaus County,2016-02-17,2016-02-17,2016-02-17,2016-02-17,2016-02-23,"-2,915.93",...,0.00,Large,0,0,0,0,0,1,0,1
8506,Obligated,CML,5938(232),Stanislaus,2015-08-04,2015-08-04,2015-08-12,2015-08-12,2015-08-13,"71,494.00",...,0.00,Large,0,0,0,0,0,0,1,1
9103,Obligated,CML,5938(217),Stanislaus,2015-06-02,2015-06-02,2015-06-03,2015-06-08,2015-06-09,"110,000.00",...,0.00,Large,0,0,0,0,0,1,0,1
10284,Obligated,STPL,6089(060),Stan Area Aog,2014-12-30,2014-12-30,2014-12-30,2014-12-30,2014-12-30,0.00,...,0.00,Large,0,0,0,0,0,0,0,0
11731,Obligated,CML,6089(062),Stan Area Aog,2014-06-04,2014-06-04,2014-06-10,2014-06-13,2014-06-16,"168,207.00",...,0.00,Large,0,0,0,0,0,0,1,1
12739,Obligated,STPL,6089(056),Stan Area Aog,2014-02-18,2014-02-18,2014-02-18,2014-02-18,2014-02-20,0.00,...,0.00,Large,0,0,0,0,0,0,0,0
14101,Obligated,STPL,6089(079),Stanislaus Council Of Governments,2019-03-11,2019-03-21,2019-03-22,2019-03-27,2019-03-28,"60,000.00",...,0.00,Large,0,0,0,0,0,0,0,0
16633,Obligated,STPLNI,6089(079),Stanislaus Council Of Governments,2020-05-12,2020-05-12,2020-05-12,2020-05-12,2020-05-14,-0.01,...,0.00,Large,0,0,0,0,0,0,0,0
18989,Obligated,CML,5938(232),Stanislaus County,2021-03-11,2021-03-11,2021-04-08,2021-04-19,2021-04-21,0.00,...,0.00,Large,0,0,0,0,0,0,1,1
19460,Obligated,CML,5938(232),Stanislaus County,2021-06-24,2021-06-24,2021-06-24,2021-06-24,2021-06-25,"-5,449.68",...,0.00,Large,0,0,0,0,0,0,1,1

* Agencies have no locodes listed under some obligations. 
* Agency name "Stanislaus" appears to be "Stanislaus County"

#### Agency Name 'YRTS'

In [55]:
df>>filter(_.agency=='Yrts')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
8716,Obligated,CML,6305(011),Yrts,2015-07-09,2015-07-13,2015-07-15,2015-07-17,2015-07-17,"39,283.00",...,0.00,Medium,0,1,0,0,0,0,0,1
10605,Obligated,CML,6305(008),Yrts,2014-10-13,2014-10-21,2014-10-23,2014-10-24,2014-10-24,"45,717.00",...,0.00,Medium,0,1,0,0,0,0,0,1
11204,Obligated,CML,6305(010),Yrts,2014-07-25,2014-07-25,2014-07-29,2014-07-30,2014-07-30,"85,000.00",...,0.00,Medium,0,1,0,0,0,0,0,1
11672,Obligated,CML,6305(007),Yrts,2014-06-19,2014-06-19,2014-06-19,2014-06-19,2014-06-20,0.00,...,0.00,Medium,0,0,0,0,0,0,0,0

In [56]:
df>>filter(_.agency=='Yrts')>>count(_.locode)

  locode  n
0    nan  4

In [57]:
df>>filter(_.agency=='Yrts')>>count(_.project_no)

  project_no  n
0  6305(007)  1
1  6305(008)  1
2  6305(010)  1
3  6305(011)  1

In [58]:
df>>filter(_.agency.str.contains('Yosemite'))>>count(_.locode)

  locode   n
0   6305  13

* 'Yrts' is actually ['Yarts'](https://yarts.com/), or Yosemite Area Regional Transportation System

* no locodes listed, but if we use the first four numbers of the `project_no`, we get the same locode number as the `agency` Yosemite AND the official locode listed
* changing this in the "change_agency_to_locodelist" and uploading updated data in GCS

### How many agencies for a project location?

In [59]:
#using _dla_utils
(_dla_utils.get_nunique(df, 'agency', 'project_location'))>>filter(_.n>2)

                                       project_location   n
8329                                  Various Locations  12
2680                                       FTA transfer   8
1865                                           Citywide   7
8475              Various Locations Throughout The City   6
8207                                            Various   5
2125                                         Countywide   4
7686                                  Stanislaus County   4
4583  Interstate 5 From S/o Avenida Pico To S/o Aven...   3
5362                                      Merced County   3
7039                             San Francisco Bay Area   3
7066                                 San Joaquin County   3
8338                   Various Locations (see Comments)   3
8359                         Various Locations Citywide   3
8494             Various Locations Throughout The City.   3

In [60]:
df>>filter(_.project_location.str.contains("Interstate 5 From S/o Avenida Pico To S/o Aven"))

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
4349,Obligated,STPLN,6212(016),Caltrans,2017-04-11,2017-04-11,2017-05-05,2017-05-08,2017-05-22,0.00,...,0.00,Large,0,0,0,0,1,0,0,1
4656,Obligated,STPLN,6212(016),Caltrans,2016-12-05,2017-03-13,2017-03-22,2017-03-27,2017-04-07,"1,053,000.00",...,0.00,Large,0,0,0,0,1,0,0,1
11202,Obligated,CMLN,6071(071),Ora Co Trans Au,2014-07-30,2014-07-30,2014-07-30,2014-07-30,2014-07-30,0.00,...,0.00,Large,0,0,0,0,1,0,0,1
16804,Obligated,CMLN,6071(071),Orange County Transportation Authority,2020-06-25,2020-06-25,2020-06-25,2020-06-25,2020-06-26,"100,450,000.00",...,0.00,Large,0,0,0,0,1,0,0,1

In [61]:
df>>filter(_.project_location.str.contains("Merced County"))>>group_by(_.agency)>>count(_.project_no, _.locode)

                                              agency project_no locode  n
0                                               Jpam  6308(013)    nan  1
1                                               Jpam  6308(014)    nan  1
2                                               Jpam  6308(016)    nan  1
3                                             Merced  5939(094)    nan  1
4                                      Merced County  5939(093)   5939  1
5           Merced County Association Of Governments  6095(061)   6095  1
6           Merced County Association Of Governments  6095(074)   6095  3
7           Merced County Association Of Governments  6095(077)   6095  1
8           Merced County Association Of Governments  6095(081)   6095  3
9                 San Joaquin Council Of Governments  6088(051)   6088  3
10                San Joaquin Council Of Governments  6088(060)   6088  4
11  Transit Joint Powers Authority For Merced County  6308(014)   6308  1
12  Transit Joint Powers Authority For Merced County  6308(016)   6308  1
13  Transit Joint Powers Authority For Merced County  6308(018)   6308  3
14  Transit Joint Powers Authority For Merced County  6308(020)   6308  2
15  Transit Joint Powers Authority For Merced County  6308(021)   6308  1
16  Transit Joint Powers Authority For Merced County  6308(022)   6308  1

In [62]:
#using dla_utils
_dla_utils.get_nunique((df>>filter(_.project_location.str.contains("Merced County"))), 'project_no','agency')

                                             agency  n
5  Transit Joint Powers Authority For Merced County  6
3          Merced County Association Of Governments  4
0                                              Jpam  3
4                San Joaquin Council Of Governments  2
1                                            Merced  1
2                                     Merced County  1

In [63]:
#using _dla_utils
_dla_utils.get_nunique((df>>filter(_.project_location.str.contains("San Francisco Bay Area"))), 'project_no','agency')

                                          agency   n
1         Metropolitan Transportation Commission  41
0       Bay Area Air Quality Management District   3
2  Metropolitan Transportation Commission - Safe   3

In [64]:
#using _dla_utils
_dla_utils.get_nunique((df>>filter(_.project_location.str.contains("San Joaquin County"))), 'project_no','agency')

                               agency  n
5                  San Joaquin County  6
4  San Joaquin Council Of Governments  2
0                            Caltrans  1
1                   Sacramento County  1
2                         San Joaquin  1
3                     San Joaquin Cog  1

* `agency` name 'San Joaquin' has same locode as 'San Joaquin County'

In [65]:
#using _dla_utils
_dla_utils.get_nunique((df>>filter(_.project_location=="Various Locations (see Comments)")), 'project_no','agency')

            agency  n
2    Placer County  2
0         Imperial  1
1  Imperial County  1

#### Checking whats going on in Stanislaus

In [66]:
#using _dla_utils
_dla_utils.get_nunique((df>>filter(_.project_location=="Stanislaus County")), 'project_no','agency')

                              agency  n
0                      Stan Area Aog  3
2  Stanislaus Council Of Governments  3
1                         Stanislaus  2
3                  Stanislaus County  2

* multiple `agency` names for Stanislaus County and based on the first four digits of the `project_no` we have only two locodes
    *  Stanislaus County and Stanislaus looks to be the same

* despite the 49 entries under Stanislaus, there are no locodes, meaning they are listed as NaN. 
* checking to see if others agencies have NaN

In [67]:
len(df>>filter(_.agency=='Stanislaus'))

49

In [68]:
df>>filter(_.agency=='Stanislaus')>>count(_.locode)

  locode   n
0    nan  49

## Non-MPO Agencies
Looking at 'Non-MPO', 'ER NONE' and 'NaN' (or null)

#### Is Null

In [69]:
df>>filter(_.mpo.isnull())

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
21789,DISTRICT,HSIPL,7504(001),Caltrans,NaT,NaT,NaT,NaT,NaT,"351,200.00",...,NaN,Large,0,0,0,1,0,0,0,1

### is ER NONE

In [70]:
#using _dla_utils
(_dla_utils.find_top(df>>filter(_.mpo=='ER NONE')))>>filter(_.variable=='primary_agency_name')

,value,count,variable
0,Ridgecrest,2,primary_agency_name
1,California City,1,primary_agency_name
2,Camarillo,1,primary_agency_name
3,Chino Hills,1,primary_agency_name
4,Coachella,1,primary_agency_name
5,El Centro,1,primary_agency_name
6,Los Angeles County,1,primary_agency_name
7,Mission Viejo,1,primary_agency_name
8,Palm Springs,1,primary_agency_name
9,Pico Rivera,1,primary_agency_name
10,San Diego,1,primary_agency_name
11,San Marino,1,primary_agency_name
12,Thousand Oaks,1,primary_agency_name
13,Westminster,1,primary_agency_name
14,Yosemite Area Regional Transportation System JPA,1,primary_agency_name

In [71]:
df>>filter(_.mpo=='ER NONE')>>filter(_.agency=='Ridgecrest')

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
10222,Obligated,STPL,5385(043),Ridgecrest,2015-01-02,2015-01-02,2015-01-02,2015-01-02,2015-01-05,"-8,826.89",...,0.00,Large,0,0,0,1,0,1,0,2
10249,Obligated,STPL,5385(044),Ridgecrest,2014-12-31,2014-12-31,2014-12-31,2014-12-31,2015-01-04,"-25,490.80",...,0.00,Large,0,0,0,1,0,1,0,2

In [72]:
#using _dla_utils
(_dla_utils.find_top(df>>filter(_.mpo=='ER NONE')))>>filter(_.variable=='dist')

  value  count variable
0     7      5     dist
1     8      3     dist
2     9      3     dist
3    11      2     dist
4    12      2     dist
5    10      1     dist

In [73]:
df>>filter(_.mpo=='ER NONE')>>filter(_.dist==8)

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
10216,Obligated,RPMSTP,5282(018),Palm Springs,2014-12-09,2014-12-22,2015-01-05,2015-01-05,2015-01-05,0.00,...,0.00,Large,0,0,1,1,0,0,0,2
10218,Obligated,SRTSL,5294(009),Coachella,2015-01-02,2015-01-02,2015-01-02,2015-01-02,2015-01-05,0.00,...,0.00,Medium,1,0,0,1,0,0,0,2
10226,Obligated,SRTSL,5467(007),Chino Hills,2014-10-30,2014-12-19,2015-01-02,2015-01-02,2015-01-05,"764,130.00",...,0.00,Medium,1,0,0,1,0,1,0,3

#### Is Non-MPO

In [74]:
#using _dla_utils
(_dla_utils.find_top(df>>filter(_.mpo=='NON-MPO')))>>filter(_.variable=='primary_agency_name')

                            value  count             variable
0                 Humboldt County    713  primary_agency_name
1                Mendocino County    246  primary_agency_name
2                   Nevada County    142  primary_agency_name
3                     Lake County    135  primary_agency_name
4                Calaveras County    119  primary_agency_name
5                   Tehama County     99  primary_agency_name
6                        Caltrans     93  primary_agency_name
7                  Trinity County     86  primary_agency_name
8                   Plumas County     70  primary_agency_name
9                 Tuolumne County     69  primary_agency_name
10                  Sierra County     64  primary_agency_name
11                  Lassen County     59  primary_agency_name
12                   Modoc County     55  primary_agency_name
13                Mariposa County     52  primary_agency_name
14  Department of Water Resources     50  primary_agency_name
15                    Inyo County     44  primary_agency_name
16                   Glenn County     41  primary_agency_name
17                Siskiyou County     39  primary_agency_name
18                         Eureka     36  primary_agency_name
19                  Amador County     29  primary_agency_name