# Agency Prefix Code Profiles
Which agencies apply the most or have the most prefix codes? Which ones have the least? 

Data: 
* [Oblgiated list](https://dot.ca.gov/programs/local-assistance/reports/e-76-obligated)

* running notebook with updated locode data 'obligated_list_1202.csv'

In [34]:
import pandas as pd
from siuba import *

from IPython.display import Markdown
from IPython.core.display import display

from dla_utils import _dla_utils

/tmp/ipykernel_458/3076350911.py:5: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display

In [2]:
#df = _clean_data.make_clean_data()
df= pd.read_parquet("gs://calitp-analytics-data/data-analyses/dla/e-76Obligated/dla_df.parquet")

In [3]:
df.head()

,location,prefix,project_no,agency,prepared_date,submit__to_hq_date,hq_review_date,submit_to_fhwa_date,to_fmis_date,fed_requested,...,adjusted_ac_requested,obligation_cat,active_transp,transit,bridge,street,freeway,infra_resiliency_er,congestion_relief,work_categories
0,Obligated,BPMP,5904(121),Humboldt County,2018-12-18,2018-12-18,2018-12-18,2018-12-18,2018-12-27,0,...,0.00,Large,0,0,1,0,0,0,0,1
1,Obligated,ER,32D0(008),Mendocino County,2018-12-17,2018-12-19,2018-12-20,2018-12-20,2018-12-27,11508,...,0.00,Large,0,0,0,0,0,1,0,1
2,Obligated,ER,4820(004),Humboldt County,2018-12-07,2018-12-21,2018-12-21,2018-12-21,2018-12-27,45499,...,0.00,Large,0,0,0,0,0,1,0,1
3,Obligated,CML,5924(244),Sacramento County,2018-12-11,2018-12-11,2018-12-21,2018-12-27,2018-12-27,207002,...,0.00,Large,1,0,0,0,0,1,0,2
4,Obligated,CML,5924(214),Sacramento County,2018-12-05,2018-12-11,2018-12-21,2018-12-27,2018-12-27,0,...,"6,130,295.48",Large,0,0,0,1,0,0,0,1

In [4]:
#making sure the locode and agency updated in the data.
## if updated, there will only be one agency listed.
## if multiple agencies listed, go back to add_locode.ipynb and run that notebook

df>>filter(_.locode=='6000')>>count(_.primary_agency_name)

                             primary_agency_name   n
0  San Francisco Bay Area Rapid Transit District  43

## How many unique prefix codes per agency

### Top Agencies
finding the top agencies with the most unique prefix codes

In [5]:
top = _dla_utils.get_nunique(df, 'prefix', 'primary_agency_name')

In [6]:
top

                               primary_agency_name   n
276                                    Los Angeles  38
277                             Los Angeles County  32
434          San Bernardino Associated Governments  28
71                                        Caltrans  25
534                                       Stockton  25
..                                             ...  ..
591                                           Weed   1
595  Western Shasta Resource Conservation District   1
602                                        Willits   1
603                                        Willows   1
613                                     Yountville   1

[620 rows x 2 columns]

In [7]:
_dla_utils.interactive_widget_counts(df,  'primary_agency_name', 'prefix')

Dropdown(description='Primary_Agency_Name', options=('Access Services', 'Agoura Hills', 'Alameda', 'Alameda - …

Output()

#### Printing top 5 programs for the top agencies

In [8]:
top

                               primary_agency_name   n
276                                    Los Angeles  38
277                             Los Angeles County  32
434          San Bernardino Associated Governments  28
71                                        Caltrans  25
534                                       Stockton  25
..                                             ...  ..
591                                           Weed   1
595  Western Shasta Resource Conservation District   1
602                                        Willits   1
603                                        Willows   1
613                                     Yountville   1

[620 rows x 2 columns]

In [9]:
def find_agencies_top(agency=top.primary_agency_name.unique().tolist()):
    
    for agency in top.primary_agency_name.unique().tolist(): 
            count_top = ((df>>filter(_.primary_agency_name==agency)>> count(_.prefix)>>arrange(-_.n)).head(5)>>select(_.prefix))
            
            display(Markdown(f"**Top Prefix Codes {agency} uses:**"))
            display(count_top)
            
    return

In [10]:
agency=top.primary_agency_name.unique().tolist()
find_agencies_top(agency)

**Top Prefix Codes Los Angeles uses:**

   prefix
30   STPL
23  HSIPL
11    CML
3    ATPL
6    BHLS

**Top Prefix Codes Los Angeles County uses:**

   prefix
12     ER
18  HSIPL
1   ACSTP
4   BPMPL
23   STPL

**Top Prefix Codes San Bernardino Associated Governments uses:**

     prefix
24    STPLN
3      CMLN
14   HPLULN
5   CMSTPLN
1       CML

**Top Prefix Codes Caltrans uses:**

   prefix
23  STPLN
1    CMLN
9   HP21L
22   STPL
0     CML

**Top Prefix Codes Stockton uses:**

    prefix
7      CML
14   HSIPL
21    STPL
0   ATPCML
1     ATPL

**Top Prefix Codes San Luis Obispo County uses:**

   prefix
18  HSIPL
8    BRLO
14     ER
9    BRLS
5    BHLS

**Top Prefix Codes Riverside County uses:**

   prefix
14  HSIPL
3    BRLS
2    BRLO
20  STPLN
19   STPL

**Top Prefix Codes Sacramento uses:**

   prefix
12  HSIPL
19   STPL
5    BRLS
6     CML
1    ATPL

**Top Prefix Codes San Diego Association of Governments uses:**

     prefix
21     STPL
4      CMLG
9   FTASTPL
0      ATPL
15   RPSTPL

**Top Prefix Codes El Dorado County uses:**

   prefix
6    BRLO
8     CML
15  HSIPL
20   STPL
12     ER

**Top Prefix Codes Monterey County uses:**

   prefix
10     ER
3    BHLO
19  STPLZ
18  STPLX
5    BRLO

**Top Prefix Codes San Diego uses:**

   prefix
14  HSIPL
3   BPMPL
2    BHLS
13  HPLUL
5    BRLO

**Top Prefix Codes Contra Costa County uses:**

   prefix
12  HSIPL
6    BRLS
5    BRLO
10  HRRRL
7     CML

**Top Prefix Codes Imperial County uses:**

    prefix
6      CML
18    STPL
14   HSIPL
8    FERPL
1   BHLSZD

**Top Prefix Codes Long Beach uses:**

   prefix
15   STPL
4     CML
9   HSIPL
0    ATPL
3    BRLS

**Top Prefix Codes Los Angeles County Metropolitan Transportation Authority uses:**

       prefix
6      FTACML
5     FTAATPL
11    FTASTPL
13      HPLUL
7   FTACMSTPL

**Top Prefix Codes Orange County Transportation Authority uses:**

     prefix
6    FTACML
16    STPLN
2      CMLN
4   CMSTPLN
10  FTASTPL

**Top Prefix Codes Sacramento County uses:**

   prefix
12  HSIPL
7     CML
17   STPL
5    BRLO
6    BRLS

**Top Prefix Codes Fresno uses:**

   prefix
15   STPL
7     CML
12  HSIPL
1    ATPL
6    BPMP

**Top Prefix Codes Palm Springs uses:**

   prefix
11  HSIPL
5     CML
7      ER
4    BRLS
1    BHLS

**Top Prefix Codes San Jose uses:**

    prefix
3      CML
15    STPL
10   HSIPL
8    HPLUL
12  RPSTPL

**Top Prefix Codes Tulare County uses:**

   prefix
4    BRLO
12  HSIPL
5    BRLS
16   STPL
0    ATPL

**Top Prefix Codes Alameda County uses:**

   prefix
11  HSIPL
14   STPL
2    ATPL
8      ER
5     CML

**Top Prefix Codes Fresno County uses:**

   prefix
5    BRLO
8     CML
7    BRLS
13  HSIPL
1    ATPL

**Top Prefix Codes Kern County uses:**

    prefix
5      CML
16    STPL
9    HSIPL
15  STPCML
2     ATPL

**Top Prefix Codes Metropolitan Transportation Commission uses:**

    prefix
12    STPL
13  STPLNI
1      CML
3    CMLNI
11  STPCML

**Top Prefix Codes Modesto uses:**

   prefix
2     CML
13   STPL
9   HSIPL
3   CMLNI
0    ATPL

**Top Prefix Codes San Francisco County uses:**

    prefix
6      CML
15    STPL
14  RPSTPL
4     BRLS
11   HP21L

**Top Prefix Codes Santa Barbara County uses:**

    prefix
10      ER
4     BRLO
1    ACSTP
0   ACSTER
7   BRLSZD

**Top Prefix Codes Santa Clara County uses:**

  prefix
5   BRLO
1   BHLO
3   BPMP
6   BRLS
7    CML

**Top Prefix Codes Stanislaus County uses:**

   prefix
9     CML
5    BRLO
15   STPL
7    BRLS
12  HRRRL

**Top Prefix Codes Tehama County uses:**

    prefix
12   HSIPL
6     BRLS
13  RPSTPL
4     BRLO
7   BRLSZD

**Top Prefix Codes Bakersfield uses:**

    prefix
4      CML
15    STPL
8   NCIIPL
7    HSIPL
11   PRNSL

**Top Prefix Codes City & County of San Francisco, MTA/Parking & Traffic uses:**

    prefix
9    HSIPL
11   SRTSL
4      FTA
10  RPSTPL
1      CML

**Top Prefix Codes Humboldt County uses:**

   prefix
9      ER
0  ACSTER
4    BPMP
1   ACSTP
5    BRLO

**Top Prefix Codes Oakland uses:**

   prefix
9   HSIPL
15  STPLZ
0    ATPL
14  STPLR
13   STPL

**Top Prefix Codes Oxnard uses:**

     prefix
2       CML
10    HSIPL
12     STPL
1      BHLS
8   FERSTPL

**Top Prefix Codes San Bernardino County uses:**

   prefix
5    BRLS
6      ER
9   HSIPL
14   STPL
4    BRLO

**Top Prefix Codes Sonoma County uses:**

   prefix
15  STPLZ
4    BRLO
12   STPL
7      ER
6     CML

**Top Prefix Codes Marin County uses:**

   prefix
8   HSIPL
6      ER
1   ACSTP
14   STPL
4    BRLS

**Top Prefix Codes Anaheim uses:**

   prefix
9   HSIPL
11  SRTSL
0    ATPL
7   HP21L
12  STPLN

**Top Prefix Codes Butte County uses:**

  prefix
7     ER
1  ACSTP
4   BRLS
9  HSIPL
3   BRLO

**Top Prefix Codes Placer County uses:**

   prefix
1    BRLO
8   HSIPL
4     CML
10   STPL
2    BRLS

**Top Prefix Codes Placerville uses:**

    prefix
11   HSIPL
5      CML
2   BRCMLO
3     BRLO
12  RPSTPL

**Top Prefix Codes Riverside County Transportation Commission uses:**

      prefix
0       CMLN
7   HPLU21LN
13     STPLN
4      FERPL
3    CMSTPLN

**Top Prefix Codes San Diego County uses:**

   prefix
8      ER
11  HSIPL
4   BPMPL
1   ACSTP
7    BRLS

**Top Prefix Codes Santa Clara Valley Transportation Authority uses:**

     prefix
12     STPL
9     HPLUL
4    FTACML
6   FTASTPL
10    HSIPL

**Top Prefix Codes Santa Clarita uses:**

   prefix
8   HSIPL
2    BHLS
12   STPL
3   BPMPL
4     CML

**Top Prefix Codes Ventura County uses:**

   prefix
9   HSIPL
5     CML
1    BHLO
12   STPL
3   BPMPL

**Top Prefix Codes Elk Grove uses:**

   prefix
5   HSIPL
12   STPL
3     CML
2    BRLS
1    ATPL

**Top Prefix Codes Merced County uses:**

   prefix
2    BRLO
4    BRLS
5     CML
10  HSIPL
1    ATPL

**Top Prefix Codes Redding uses:**

   prefix
10  HSIPL
7    BRLS
2    ATPL
6    BRLO
4    BHLS

**Top Prefix Codes Santa Cruz uses:**

   prefix
8   HSIPL
1    ATPL
12  STPLX
7   HPPLU
11  SRTSL

**Top Prefix Codes Santa Cruz County uses:**

   prefix
5      ER
0  ACSTER
1   ACSTP
7   HSIPL
3   BPMPL

**Top Prefix Codes Trinity County uses:**

    prefix
4     BRLO
10   HSIPL
7       ER
11  RPSTPL
1    ACSTP

**Top Prefix Codes Visalia uses:**

    prefix
1      CML
12    STPL
3    CMLNI
9   RPSTPL
8    HSIPL

**Top Prefix Codes Alameda County Transportation Commission uses:**

     prefix
5  STPCMLNI
9     STPLR
1      ATPL
4    STPCML
7   STPLCML

**Top Prefix Codes Calaveras County uses:**

   prefix
7      ER
4    BRLO
11  HSIPL
6     CML
5    BRLS

**Top Prefix Codes Indio uses:**

   prefix
7      ER
11  STPLZ
8   HSIPL
3    BHLS
0   ACSTP

**Top Prefix Codes Mendocino County uses:**

   prefix
7      ER
4    BRLO
0  ACSTER
1   ACSTP
6  BRLSZD

**Top Prefix Codes Pasadena uses:**

    prefix
7    HSIPL
2      CML
6    HPLUL
11    STPL
8   RPSTPL

**Top Prefix Codes Roseville uses:**

   prefix
5     CML
3    BRLO
10   STPL
2   BPMPL
4    BRLS

**Top Prefix Codes Yuba County uses:**

   prefix
3    BRLO
11   STPL
6      ER
7   HRRRL
8   HSIPL

**Top Prefix Codes Highland uses:**

   prefix
4      ER
10  SRTSL
1    BRLO
5   HSIPL
2    BRLS

**Top Prefix Codes Lake County uses:**

  prefix
3   BRLO
7  HSIPL
5     ER
4   BRLS
1   BHLO

**Top Prefix Codes Mariposa County uses:**

   prefix
4    BRLO
7      ER
3   BPMPL
10  HPLUL
5    BRLS

**Top Prefix Codes Nevada County uses:**

  prefix
2   BRLO
8  HRRRL
9  HSIPL
5    CML
6     ER

**Top Prefix Codes Orange County uses:**

    prefix
2     BRLO
5      CML
8   RPSTPL
10    STPL
1     ATPL

**Top Prefix Codes Rancho Cordova uses:**

      prefix
8      HSIPL
10      STPL
0       ATPL
9     STPCML
3   HICMSTPL

**Top Prefix Codes San Buenaventura uses:**

     prefix
4       CML
3      BRLO
0      ATPL
10     STPL
1   ATPSB1L

**Top Prefix Codes San Joaquin County uses:**

   prefix
10   STPL
2   BPMPL
3    BRLO
7   HRRRL
4    BRLS

**Top Prefix Codes Santa Ana uses:**

     prefix
7     HSIPL
4       CML
10     STPL
3      BRLS
1   ATPSB1L

**Top Prefix Codes Shasta County uses:**

  prefix
5   BRLS
4   BRLO
9  HSIPL
6     ER
7  HRRRL

**Top Prefix Codes Solano County uses:**

   prefix
7   HSIPL
5   HPLUL
10   STPL
6   HRRRL
4      ER

**Top Prefix Codes Temecula uses:**

     prefix
6  INFRALUL
4     HSIPL
8      STPL
0        BR
2       CML

**Top Prefix Codes Tuolumne County uses:**

  prefix
3   BRLO
8  HSIPL
5    CML
4   BRLS
7  HRRRL

**Top Prefix Codes Vallejo uses:**

  prefix
7   STPL
5  HSIPL
1   BPMP
3    CML
8  STPLZ

**Top Prefix Codes Colton uses:**

  prefix
9  STPLZ
5  HSIPL
0   BRLS
3  FERPL
1  BRLSZ

**Top Prefix Codes Folsom uses:**

     prefix
1       CML
8      STPL
0      BRLS
7    RPSTPL
5  LPPRPSB1

**Top Prefix Codes Moreno Valley uses:**

  prefix
6  HSIPL
0   ATPL
3    CML
4     ER
8   STPL

**Top Prefix Codes Placer County Transportation Planning Agency uses:**

     prefix
3     CMLNI
0       CML
1    CMLFSP
5  FSPCMLNI
7     HPLUL

**Top Prefix Codes Riverside uses:**

  prefix
4  HSIPL
2    CML
7   STPL
0   ATPL
3     ER

**Top Prefix Codes Santa Rosa uses:**

   prefix
6   HSIPL
9    STPL
1     CML
3  FTACML
7   SR2SF

**Top Prefix Codes Simi Valley uses:**

  prefix
9   STPL
1   BHLS
4  FERPL
8  HSIPL
2    CML

**Top Prefix Codes Victorville uses:**

     prefix
9     HSIPL
0      ATPL
1      BHLS
5  DEM05UBL
2       CML

**Top Prefix Codes West Sacramento uses:**

    prefix
1    HSIPL
6     STPL
0      CML
9  TGR2DGL
2  HSIPSTP

**Top Prefix Codes Alameda uses:**

   prefix
0    ATPL
5   HSIPL
7    STPL
1  ATPLNI
8   TCSPL

**Top Prefix Codes Citrus Heights uses:**

   prefix
4   HSIPL
3     CML
8    STPL
7  STPCML
1  ATPLNI

**Top Prefix Codes Coachella uses:**

  prefix
6  SRTSL
0   ATPL
7   STPL
1     BR
2    CML

**Top Prefix Codes Davis uses:**

   prefix
8    STPL
4  RPSTPL
0    ATPL
1    BRLS
7  STPCML

**Top Prefix Codes Glenn County uses:**

  prefix
5   BRLO
6     ER
4     BR
1  ACSTP
8  STPLH

**Top Prefix Codes Madera uses:**

   prefix
2     CML
1    BPMP
7   HSIPL
3   CMLNI
4  FTACML

**Top Prefix Codes Mission Viejo uses:**

  prefix
4  HSIPL
0   BHLS
1    CML
8   STPL
2   CRAL

**Top Prefix Codes Pico Rivera uses:**

  prefix
5  HSIPL
2   BRLS
8   STPL
3     ER
1   ATPL

**Top Prefix Codes Pleasant Hill uses:**

   prefix
5   HSIPL
4  CMSTPL
1    BPMP
2    BRLS
3     CML

**Top Prefix Codes Richmond uses:**

  prefix
2    CML
7   STPL
8  STPLR
6  SRTSL
0   ATPL

**Top Prefix Codes Sacramento Area Council of Governments uses:**

     prefix
7      STPL
0       CML
1     CMLNI
8    STPLNI
2  CMSTPLNI

**Top Prefix Codes Santa Barbara uses:**

  prefix
7  HSIPL
5   BRLS
3   BRLO
0   ATPL
2  BPMPL

**Top Prefix Codes Santa Monica uses:**

   prefix
3     CML
0    ATPL
2    BRLS
4  FTACML
6  RPSTPL

**Top Prefix Codes Siskiyou County uses:**

   prefix
4    BRLS
7  RPSTPL
5      ER
3    BRLO
1   ACSTP

**Top Prefix Codes Sunnyvale uses:**

  prefix
3    CML
6  HSIPL
8   STPL
1   BHLS
7  SRTSL

**Top Prefix Codes Yolo County uses:**

  prefix
2   BRLO
8   STPL
4     ER
7  HSIPL
1   BPMP

**Top Prefix Codes Alameda County Congestion Management Agency uses:**

  prefix
5   IMDL
0    CML
3  HPLUL
1   ESPL
2  HP21L

**Top Prefix Codes Amador County uses:**

  prefix
2   BRLO
6  HRRRL
4     ER
1   BPMP
5   HIPL

**Top Prefix Codes Burbank uses:**

  prefix
4  HSIPL
2    CML
5  SRTSL
6   STPL
1   BRLS

**Top Prefix Codes Cathedral City uses:**

   prefix
6  HSIPLN
5   HSIPL
1    BHLS
2      BR
7    STPL

**Top Prefix Codes Clovis uses:**

  prefix
7   STPL
3    CML
4  HSIPL
0   ATPL
1   BPMP

**Top Prefix Codes Contra Costa Transportation Authority uses:**

  prefix
0   ATPL
2  HPLUL
1  CMLNI
3   ITSL
7   VPPL

**Top Prefix Codes Costa Mesa uses:**

   prefix
1   HSIPL
0     CML
4   SRTSL
2  RPSTPL
6    STPL

**Top Prefix Codes Culver City uses:**

  prefix
4  HSIPL
3    CML
1   BHLS
2  BPMPL
0   ATPL

**Top Prefix Codes Encinitas uses:**

   prefix
5   HSIPL
3      ER
1    ATPL
2  ATPLNI
0   ACSTP

**Top Prefix Codes Fairfield uses:**

    prefix
5    HSIPL
7     STPL
6   RPSTPL
0     ATPL
4  FTASTPL

**Top Prefix Codes Glendale uses:**

  prefix
2  HSIPL
7   STPL
0   ATPL
5  SRTSL
1  FERPL

**Top Prefix Codes Golden Gate Bridge, Highway And Transportation Distri uses:**

     prefix
0      BHLS
6    RPSTPL
1       DBF
3   FTAFBPL
4  FTASTCML

**Top Prefix Codes Lassen County uses:**

   prefix
1    BRLO
7  RPSTPL
4      ER
2    BRLS
0   ACSTP

**Top Prefix Codes Madera County uses:**

  prefix
3    CML
1   BRLO
2   BRLS
5  CMLNI
0   BPMP

**Top Prefix Codes Modoc County uses:**

   prefix
4      ER
3    BRLO
7  RPSTPL
2    BPMP
5   HRRRL

**Top Prefix Codes Napa uses:**

   prefix
2   BPMPL
5     CML
0    BHLS
3    BRLO
6  STPCML

**Top Prefix Codes Napa County uses:**

  prefix
4     ER
1  ACSTP
6  HSIPL
7   STPL
2   BRLO

**Top Prefix Codes National City uses:**

    prefix
3    HSIPL
0     ATPL
1  CPFCDSL
2    FERPL
4    SRTSL

**Top Prefix Codes Parlier uses:**

  prefix
1    CML
7   STPL
3  HSIPL
4  RSTPL
0   ATPL

**Top Prefix Codes Reedley uses:**

   prefix
1     CML
6    STPL
2   HSIPL
0    BHLS
3  STPCML

**Top Prefix Codes Ridgecrest uses:**

   prefix
2     CML
7    STPL
4   HSIPL
3      ER
5  RPSTPL

**Top Prefix Codes San Benito County uses:**

  prefix
2   BRLO
3   BRLS
4     ER
5  HSIPL
1  BRLKS

**Top Prefix Codes San Francisco Bay Area Rapid Transit District uses:**

     prefix
7     STPLZ
5   FTASTPL
0    FTACML
1  FTACMSPL
3  FTASTCML

**Top Prefix Codes San Luis Obispo uses:**

  prefix
5  HSIPL
7  STPLR
1   BRLS
0   ATPL
2    CML

**Top Prefix Codes San Rafael uses:**

  prefix
3  HSIPL
1   BRLO
2    CML
6   STPL
4  NMTPL

**Top Prefix Codes South San Francisco uses:**

  prefix
5  HSIPL
3    CML
2   BRLS
0   ATPL
1   BPMP

**Top Prefix Codes Thousand Oaks uses:**

    prefix
2      CML
4    HSIPL
7     STPL
0   ATPCML
1  ATPSB1L

**Top Prefix Codes Wasco uses:**

  prefix
0   ATPL
6   STPL
3  HSIPL
2  CMLNI
1    CML

**Top Prefix Codes nan uses:**

Empty DataFrame
Columns: [prefix]
Index: []

**Top Prefix Codes Benicia uses:**

   prefix
4   HSIPL
3      ER
0  ACSTER
2     CML
6    STPL

**Top Prefix Codes Berkeley uses:**

   prefix
5    STPL
0    ATPL
3  CMSTPL
6    VPPL
1     CML

**Top Prefix Codes Ceres uses:**

  prefix
1    CML
6   STPL
0   ATPL
2  CMLNI
3  HSIPL

**Top Prefix Codes Chula Vista uses:**

  prefix
5  HSIPL
1   BRLS
0   BHLS
2  FERPL
6   PLHL

**Top Prefix Codes Concord uses:**

    prefix
1      CML
6     STPL
4   RPSTPL
0     BPMP
2  HSIPCML

**Top Prefix Codes Danville uses:**

     prefix
5      STPL
1       CML
4  STPFERPL
6      TIPL
0      BRLS

**Top Prefix Codes Dinuba uses:**

   prefix
0     CML
3   HSIPL
1   CMLNI
4  RPSTPL
2  FTACML

**Top Prefix Codes El Cerrito uses:**

    prefix
0      CML
2    HSIPL
3  LPPSB1L
6     STPL
5    SRTSL

**Top Prefix Codes Fontana uses:**

    prefix
5    HSIPL
0     ATPL
1  ATPSB1L
6   HSIPLN
2     CRPL

**Top Prefix Codes Fremont uses:**

  prefix
5   STPL
4  HSIPL
2   BRLZ
3    CML
0   BHLO

**Top Prefix Codes Huntington Beach uses:**

  prefix
4  HSIPL
0  BPMPL
6   STPL
2    CML
5  SRTSL

**Top Prefix Codes Inyo County uses:**

   prefix
3      ER
2    BRLO
6  RPSTPL
5   HSIPL
0   ACSTP

**Top Prefix Codes Irvine uses:**

    prefix
2    HSIPL
0      CML
1     CMLN
4   RPSTPL
3  RPMSTPL

**Top Prefix Codes Kings County uses:**

  prefix
3    CML
4  HSIPL
1   BRLO
0   BPMP
2   BRLS

**Top Prefix Codes Ontario uses:**

  prefix
5  HSIPL
1   BRLS
0  BPMPL
4  HPLUL
2     DE

**Top Prefix Codes Palmdale uses:**

   prefix
3   HSIPL
5    STPL
0    ATPL
6   STPLR
1  DEM06L

**Top Prefix Codes Paradise uses:**

   prefix
5   HSIPL
4      ER
3     CML
0  ACSTER
1   ACSTP

**Top Prefix Codes Plumas County uses:**

   prefix
2    BRLO
3      ER
4   HRRRL
1   ACSTP
5  RPSTPL

**Top Prefix Codes Pomona uses:**

   prefix
4   HSIPL
5    STPL
0    ATPL
1    CRAL
2  DEM05L

**Top Prefix Codes Porterville uses:**

  prefix
2    CML
3  CMLNI
1   BHLS
5  HSIPL
0   ATPL

**Top Prefix Codes Rancho Mirage uses:**

  prefix
4  HSIPL
2    CML
3     ER
6  STPLN
0  ACSTP

**Top Prefix Codes San Bernardino County Transportation Authority uses:**

   prefix
1    BRLS
4  PNRSLN
2     CML
6   STPLN
0    ATPL

**Top Prefix Codes San Gabriel Valley Council of Governments uses:**

  prefix
1  HP21L
5  STPLR
3   PNRS
6  TILUL
0    DPC

**Top Prefix Codes San Mateo uses:**

  prefix
2    CML
6  STPLR
5   STPL
1   BRLS
4  CMLNI

**Top Prefix Codes Shafter uses:**

    prefix
6     STPL
5  STPHIPL
0      CML
3    HSIPL
4   RPSTPL

**Top Prefix Codes Sierra County uses:**

   prefix
4      ER
3    BRLO
0  ACSTER
1   ACSTP
2      BR

**Top Prefix Codes Solano Transportation Authority uses:**

   prefix
1     CML
5    STPL
2  RPSTPL
6  STPLNI
0  ATPLNI

**Top Prefix Codes Sonoma Marin Area Rail Transit District uses:**

     prefix
3   FTASTPL
4   ISTDEML
0   ATPSB1L
2  FTAFERPL
6   RPSTPLE

**Top Prefix Codes South Gate uses:**

  prefix
4  HSIPL
1  HP21L
0   ATPL
6   STPL
3   HSIP

**Top Prefix Codes Sutter County uses:**

  prefix
1   BRLO
5  HSIPL
2   BRLS
3    CML
6  STPLR

**Top Prefix Codes Tracy uses:**

    prefix
6     STPL
1     BHLS
2      CML
0  ATPSTPL
3   DEM03L

**Top Prefix Codes Woodland uses:**

    prefix
6     STPL
2    HP21L
4  LPPSB1L
0   ATPCML
3    HSIPL

**Top Prefix Codes Yuba City uses:**

  prefix
1   BRLS
2    CML
6   STPL
0   BHLS
3  HSIPL

**Top Prefix Codes Apple Valley uses:**

   prefix
0    BRLS
3   HSIPL
2      ER
4   SRTSL
1  DEM10A

**Top Prefix Codes Arroyo Grande uses:**

  prefix
2   BRLO
1   BHLS
4  HSIPL
0   BHLO
3   BRLS

**Top Prefix Codes Atascadero uses:**

   prefix
2    BRLO
3    BRLS
4      ER
1    BHLS
5  RPSTPL

**Top Prefix Codes Brawley uses:**

    prefix
0      CML
5     STPL
1    FERPL
3   RPSTPL
2  FERPL20

**Top Prefix Codes Brea uses:**

   prefix
0  ATPCML
3  RPSTPL
5    STPL
1    ATPL
4   SRTSL

**Top Prefix Codes Butte County Association of Governments uses:**

   prefix
3    HPLU
1  FTACML
2  HP21LN
5  RPSTPL
0    CMLN

**Top Prefix Codes Carson uses:**

  prefix
3  HSIPL
5   STPL
2  HPLUL
0   ATPL
1   BHLS

**Top Prefix Codes Chico uses:**

   prefix
4   HSIPL
3     CML
0  ATPCML
1    BRLO
2  CMHIPL

**Top Prefix Codes Corona uses:**

  prefix
5   STPL
4  PNRSL
3  HSIPL
0  BPMPL
1     ER

**Top Prefix Codes Delano uses:**

   prefix
5    STPL
1   HSIPL
0     CML
3  STPCML
2   SRTSL

**Top Prefix Codes El Monte uses:**

  prefix
0    CML
4  SRTSL
5   STPL
1   ESPL
2  ESPLE

**Top Prefix Codes Eureka uses:**

   prefix
3   HSIPL
4  RPSTPL
0    ATPL
1    HIPL
2  HSIIPL

**Top Prefix Codes Fowler uses:**

  prefix
4   STPL
1    CML
5  STPLR
0   ATPL
2  HSIPL

**Top Prefix Codes Fullerton uses:**

     prefix
1  CMHPLULN
2       CML
0     BPMPL
4     HSIPL
5      STPL

**Top Prefix Codes Galt uses:**

     prefix
5      STPL
3    RPSTPL
1  ATPSTCML
4    STPCML
0    ATPSTC

**Top Prefix Codes Garden Grove uses:**

   prefix
4   HSIPL
5    STPL
0    ATPL
1  ATPLNI
2     CML

**Top Prefix Codes Imperial uses:**

   prefix
0     CML
5    STPL
3   HSIPL
4   STBGL
1  CMSTPL

**Top Prefix Codes Jackson uses:**

   prefix
1    BRLO
2      ER
3   HSIPL
0  ACSTER
4  RPSTPL

**Top Prefix Codes Larkspur uses:**

   prefix
0    BHLS
1    BRLS
3   NMTPL
4  RPSTPL
5   STPLZ

**Top Prefix Codes Mendota uses:**

     prefix
5      STPL
1       CML
0      ATPL
2  CMLSTBGL
3    RPSTPL

**Top Prefix Codes Moraga uses:**

   prefix
3      ER
1    BRLS
4  STPCML
5    STPL
2     CML

**Top Prefix Codes Murrieta uses:**

   prefix
1    BRLS
2   FERPL
3  HPLULN
4   HSIPL
5    STPL

**Top Prefix Codes Orinda uses:**

  prefix
5  STPLZ
4   STPL
1   BRLO
2    CML
3     ER

**Top Prefix Codes San Anselmo uses:**

  prefix
5   STPL
0   BPMP
2   BRLS
3    CML
1   BRLO

**Top Prefix Codes San Francisco County Transportation Authority uses:**

  prefix
3  STPLZ
0   BRLS
1    CML
2   STPL
4   VPPL

**Top Prefix Codes San Leandro uses:**

  prefix
2  HSIPL
4   STPL
5  STPLR
1    CML
0   BPMP

**Top Prefix Codes San Marcos uses:**

  prefix
3  HSIPL
1   BRLS
2   HSIP
4   SRTS
5   TCSP

**Top Prefix Codes San Mateo County Transit District uses:**

    prefix
1   FTASTP
2  FTASTPL
3    HP21L
5    TCSPL
0   FTACML

**Top Prefix Codes San Pablo uses:**

  prefix
2   BRLS
0   ATPL
4  HSIPL
1   BPMP
3    CML

**Top Prefix Codes Sonoma uses:**

  prefix
1   BRLS
5   STPL
2    CML
3     ER
4  HSIPL

**Top Prefix Codes South Lake Tahoe uses:**

   prefix
2     CML
0  ATPCML
1    ATPL
3   CMLNI
5    STPL

**Top Prefix Codes Southern California Association of Governments uses:**

   prefix
0  ATPLNI
4  STEPCR
5    VPPP
3  GRNHSE
1    CPFL

**Top Prefix Codes Tahoe Transportation District uses:**

   prefix
4   STPLN
3  FTACML
1     CML
5  STPLNI
0    ATPL

**Top Prefix Codes Tehachapi uses:**

   prefix
5    STPL
3   HSIPL
1     CML
0    ATPL
4  RPSTPL

**Top Prefix Codes Tulare uses:**

   prefix
1   CMLNI
0     CML
5   SRTSL
2  DEM05U
3   HSIPL

**Top Prefix Codes Union City uses:**

   prefix
2   HSIPL
3    STPL
5   STPLZ
0     CML
1  FTACML

**Top Prefix Codes Vacaville uses:**

  prefix
2    CML
1   BRLS
5   STPL
0   BRLO
3  HSIPL

**Top Prefix Codes Ventura County Transportation Commission uses:**

   prefix
3  FTACML
1  CMLGNI
5    STPL
0    CMLG
2  CMLNGI

**Top Prefix Codes Whittier uses:**

  prefix
2  HSIPL
3   STPL
4  STPLG
0   ATPL
1  HPLUL

**Top Prefix Codes Windsor uses:**

    prefix
0      CML
2  LPPSTPL
3   RPSTPL
1    HP21L
4  SRTSLNI

**Top Prefix Codes Yucca Valley uses:**

   prefix
1    CMLN
0    ATPL
2   HSIPL
4    PLHL
3  HSIPLN

**Top Prefix Codes Arcadia uses:**

  prefix
0   ATPL
1    CML
3  SRTSL
4   STPL
2     ER

**Top Prefix Codes Arvin uses:**

    prefix
4     STPL
1   HSIPLN
0      CML
3  RPSTPLE
2   RPSTPL

**Top Prefix Codes Azusa uses:**

    prefix
4     STPL
0    HPLUL
1    HSIPL
2    SRTSL
3  SRTSLNI

**Top Prefix Codes Bell Gardens uses:**

    prefix
4     STPL
1    HSIPL
0     ATPL
2    SRTSL
3  SRTSLNI

**Top Prefix Codes California City uses:**

    prefix
4     STPL
0      CML
1    HSIPL
3  STPHIPL
2    RSTPL

**Top Prefix Codes Calipatria uses:**

   prefix
1  CMSTPL
0     CML
4  STPLER
2  STPCML
3    STPL

**Top Prefix Codes Chino Hills uses:**

  prefix
2  HSIPL
1  HPLUL
3  SRTSL
0   ATPL
4   TCSP

**Top Prefix Codes Chowchilla uses:**

   prefix
2     CML
3   CMLNI
0   BPMPL
1    BRLS
4  FTACML

**Top Prefix Codes City/County Association of Governments of San Mateo County uses:**

   prefix
2  STPCML
1   CMLNI
3    STPL
0     CML
4  STPLNI

**Top Prefix Codes Coalinga uses:**

   prefix
4    STPL
1     CML
3   HSIPL
2   CMLNI
0  ATPCML

**Top Prefix Codes Del Norte County uses:**

   prefix
0    BRLO
2   HSIPL
1    HIPL
3     RPL
4  RPSTPL

**Top Prefix Codes Department of Parks and Recreation uses:**

   prefix
2  NHCBPL
0    BPMP
1     FBP
3    STPE
4  STPLEE

**Top Prefix Codes Department of Water Resources uses:**

  prefix
1  BHLSZ
0  BHLOZ
2  BRLOZ
3  BRLSZ
4  STPLZ

**Top Prefix Codes Downey uses:**

  prefix
3  HSIPL
4   STPL
0   BHLS
1   BRLS
2  HPLUL

**Top Prefix Codes East Palo Alto uses:**

  prefix
2  HPLUL
3  SRTSL
0   ATPL
4   STPL
1     ER

**Top Prefix Codes El Centro uses:**

   prefix
0     CML
4    STPL
1   HSIPL
3   STBGL
2  RPSTPL

**Top Prefix Codes Escondido uses:**

    prefix
3    HSIPL
1  ATPLSB1
4   RPSTPL
0   ATPLNI
2   ATPSB1

**Top Prefix Codes Fairfax uses:**

  prefix
1   BRLO
0   BPMP
3  NMTPL
4  STPLZ
2     ER

**Top Prefix Codes Gilroy uses:**

    prefix
4     STPL
0     BPMP
1      CML
2   RPSTPL
3  SRTSLNI

**Top Prefix Codes Hayward uses:**

   prefix
4    STPL
2   HSIPL
1   CMLNI
3  STPCML
0     CML

**Top Prefix Codes Hesperia uses:**

   prefix
0     CML
4   SRTSL
1      ER
2   HPLUL
3  NCPDL0

**Top Prefix Codes Inglewood uses:**

   prefix
3   HSIPL
2   HPLUL
0  DEM04L
1    ESPL
4   TILUL

**Top Prefix Codes Kerman uses:**

     prefix
4      STPL
0       CML
1    DEM06U
3    STPCML
2  DEM06UBL

**Top Prefix Codes Kern County Council of Governments uses:**

    prefix
1    CMLNI
4   STPLNI
3     STPL
0      CML
2  SRTSLNI

**Top Prefix Codes Kingsburg uses:**

   prefix
0     CML
4    STPL
3    RSTP
1   HSIPL
2  RPSTPL

**Top Prefix Codes La Canada Flintridge uses:**

    prefix
2      CML
3    HSIPL
0     BRLO
1     BRLS
4  TCSEL08

**Top Prefix Codes La Quinta uses:**

  prefix
3  HSIPL
1     BR
0  BPMPL
4   STPL
2  BRLKS

**Top Prefix Codes Lafayette uses:**

   prefix
0     CML
1      ER
4    STPL
2   HSIPL
3  RPSTPL

**Top Prefix Codes Lake Elsinore uses:**

  prefix
1  HSIPL
0   BRLS
2  SRTSL
3   STPL
4  STPLZ

**Top Prefix Codes Lancaster uses:**

   prefix
1   HSIPL
3    STPL
4   STPLR
0    ATPL
2  RPSTPL

**Top Prefix Codes Lincoln uses:**

  prefix
1    CML
2  HSIPL
4   STPL
0   BRLO
3  SRTSL

**Top Prefix Codes Lodi uses:**

    prefix
4     STPL
0      CML
1   FTACML
2  HIPSTPL
3   RPSTPL

**Top Prefix Codes Lompoc uses:**

    prefix
3    SRTSL
0    BPMPL
2    HSIPL
1       ER
4  SRTSLNI

**Top Prefix Codes Lynwood uses:**

   prefix
2   HSIPL
0    ATPL
1   HPLUL
3    STPL
4  STPLMA

**Top Prefix Codes Martinez uses:**

  prefix
0  ESPLE
2   STPL
4  STPLX
1    FBD
3  STPLH

**Top Prefix Codes Menlo Park uses:**

  prefix
4   STPL
0    CML
1  HPLUL
2  HSIPL
3   SRTS

**Top Prefix Codes Merced uses:**

  prefix
3    CML
0   ATPL
2  BPMPL
4  SRTSL
1   BPMP

**Top Prefix Codes Mill Valley uses:**

   prefix
1   HSIPL
3   SRTSL
4    STPL
2  RPSTPL
0    HSIP

**Top Prefix Codes Morro Bay uses:**

   prefix
1    CASB
3      ER
0  ACNHPI
2     CML
4    NHPI

**Top Prefix Codes Oceanside uses:**

   prefix
3   HSIPL
1    BRLO
0   BRLKS
2  BRLSZD
4   SRTSL

**Top Prefix Codes Orange uses:**

  prefix
3  HSIPL
0  BPMPL
1    CML
4   STPL
2   CRAL

**Top Prefix Codes Palo Alto uses:**

  prefix
3   STPL
1    CML
2  HSIPL
0   BRLS
4  STPLR

**Top Prefix Codes Peninsula Joint Powers Board uses:**

    prefix
0     BRLO
2  FTASTPL
1   FTACML
3    STPLR
4    STPLZ

**Top Prefix Codes Petaluma uses:**

    prefix
2    HSIPL
4     STPL
1  FTASTPL
0      CML
3  SRTSLNI

**Top Prefix Codes Pittsburg uses:**

   prefix
0     CML
1   HSIPL
3    STPL
4   STPLZ
2  RPSTPL

**Top Prefix Codes Redwood City uses:**

    prefix
4     STPL
1      CML
0     BPMP
2    SRTSL
3  SRTSLNI

**Top Prefix Codes Ripon uses:**

   prefix
1     CML
4    STPL
0  ATPCML
3   SRTSL
2  RPSTPL

**Top Prefix Codes San Bernardino uses:**

   prefix
4   HSIPL
1    ATPL
3    BRLS
0   ACSTP
2  ATPLNI

**Top Prefix Codes San Carlos uses:**

   prefix
1     CML
4    STPL
0  ATPCML
2    HSIP
3   SRTSL

**Top Prefix Codes San Fernando uses:**

  prefix
1  HSIPL
3  SRTSL
4   TCSP
0   ATPL
2   SRTS

**Top Prefix Codes San Joaquin uses:**

    prefix
0      CML
4     STPL
1    CMLNI
2    SRTSL
3  SRTSLNI

**Top Prefix Codes San Joaquin Council of Governments uses:**

    prefix
1    CMLNI
0      CML
4     STPL
3  RPSTCML
2   DEM06U

**Top Prefix Codes San Mateo County uses:**

   prefix
4    STPL
1    BPMP
2    BRLO
0  ATPLNI
3     CML

**Top Prefix Codes Saratoga uses:**

  prefix
2    CML
3  HSIPL
1   BRLS
4   STPL
0   BHLO

**Top Prefix Codes Selma uses:**

  prefix
4   STPL
1    CML
3  HSIPL
2  CMLNI
0   ATPL

**Top Prefix Codes Stanislaus Council of Governments uses:**

   prefix
0     CML
3    STPL
1   CMLNI
2   HPLUL
4  STPLNI

**Top Prefix Codes Sunline Transit Agency uses:**

   prefix
2  FTACML
1    BRIM
0  ACNHPI
3   HSIMG
4    NHPI

**Top Prefix Codes Taft uses:**

    prefix
4     STPL
0      CML
2   RPSTPL
1    HSIPL
3  SRTSLNI

**Top Prefix Codes Torrance uses:**

   prefix
4    STPL
1    BHLS
0    ATPL
3   HPLUL
2  FTACML

**Top Prefix Codes Transportation Authority of Marin uses:**

   prefix
0     CML
2   NMTPL
1  DEMO06
3   RSTPL
4    STPL

**Top Prefix Codes Turlock uses:**

   prefix
1     CML
4    STPL
2   HSIPL
0  ATPCML
3  RPSTPL

**Top Prefix Codes Westmorland uses:**

    prefix
0      CML
4     STPL
1  FERPL20
2     HPLU
3    HRRRL

**Top Prefix Codes Wildomar uses:**

  prefix
2  HSIPL
0    CML
3  SRTSL
4   STPL
1  HRRRL

**Top Prefix Codes Woodside uses:**

  prefix
2   BRLS
1   BHLS
0   ATPL
3  HSIPL
4   STPL

**Top Prefix Codes Yreka City uses:**

   prefix
4      ER
2    BPMP
3    BRLS
1   ACSTP
0  ACSTER

**Top Prefix Codes Yucaipa uses:**

  prefix
1     BR
3  HSIPL
0   ATPL
4  SRTSL
2     ER

**Top Prefix Codes Alpine County uses:**

  prefix
1   BRLO
3     ER
0  ACSTP
2   BRLS

**Top Prefix Codes Arcata uses:**

   prefix
3  RPSTPL
0    ATPL
1  ATPLNI
2   HSIPL

**Top Prefix Codes Artesia uses:**

   prefix
2   HSIPL
0     CML
1  DEM03L
3   SRTSL

**Top Prefix Codes Baldwin Park uses:**

  prefix
2  SRTSL
1  HSIPL
0  HPLUL
3   TCSP

**Top Prefix Codes Barstow uses:**

   prefix
0    BRLS
2   HSIPL
3  HSIPLN
1   BRLSZ

**Top Prefix Codes Bell uses:**

  prefix
2  HSIPL
1  DEM09
3   STPL
0   BRLS

**Top Prefix Codes Belmont uses:**

   prefix
0     CML
3    STPL
2  ESPSEH
1  ESPLEH

**Top Prefix Codes Brentwood uses:**

   prefix
2    STPL
1  DEM08L
3   STPLH
0     CML

**Top Prefix Codes Calaveras Council of Governments uses:**

   prefix
3  RPSTPL
0    CASB
1   CASBL
2     CML

**Top Prefix Codes Calimesa uses:**

   prefix
0   HPLUL
1    STPL
2  STPLER
3    TCSP

**Top Prefix Codes Camarillo uses:**

   prefix
0     CML
3    STPL
2  RPSTPL
1    HIPL

**Top Prefix Codes Campbell uses:**

   prefix
0     CML
3    STPL
1   HSIPL
2  RPSTPL

**Top Prefix Codes Capitola uses:**

    prefix
2       ER
1    ACSTP
0   ACSTER
3  SRTSLNI

**Top Prefix Codes Carlsbad uses:**

  prefix
3  STPLX
1     ER
0    CML
2  FERPL

**Top Prefix Codes Cupertino uses:**

  prefix
3   STPL
2  HSIPL
0   BPMP
1    CML

**Top Prefix Codes Daly City uses:**

  prefix
3   STPL
0   ATPL
1    CML
2  HSIPL

**Top Prefix Codes East Bay Regional Park District uses:**

   prefix
0    ATPL
3  TGR2DG
2  STPHPL
1   HPLUL

**Top Prefix Codes Exeter uses:**

  prefix
0    CML
2  HSIPL
1  CMLNI
3   STPL

**Top Prefix Codes Firebaugh uses:**

  prefix
1    CML
3   STPL
0   ATPL
2  SRTSL

**Top Prefix Codes Gardena uses:**

   prefix
3    STPL
0  FTACML
2   HSIPL
1   HPLUL

**Top Prefix Codes Goleta uses:**

  prefix
1   BRLS
2  HSIPL
3   TGR2
0  BPMPL

**Top Prefix Codes Grass Valley uses:**

  prefix
1    CML
3     ER
2  CMLNI
0  ACSTP

**Top Prefix Codes Healdsburg uses:**

   prefix
0    BRLS
2    STPL
1     CML
3  STPLNI

**Top Prefix Codes Hemet uses:**

    prefix
3     STPL
1     BRLS
2    HSIPL
0  ATPSB1L

**Top Prefix Codes Holtville uses:**

   prefix
0     CML
3    STPL
1  CMSTPL
2    HPLU

**Top Prefix Codes Irwindale uses:**

  prefix
0   BHLS
1  BPMPL
3  HPLUL
2     ER

**Top Prefix Codes Kern County (District 9) uses:**

  prefix
2    CML
0   ATPL
1  ATPLN
3   STPL

**Top Prefix Codes La Mesa uses:**

    prefix
1    HSIPL
2    SRTSL
0     BRLS
3  SRTSLNI

**Top Prefix Codes La Verne uses:**

  prefix
1  HSIPL
0   ATPL
3   STPL
2  SRTSL

**Top Prefix Codes Lakeport uses:**

   prefix
2      ER
1   ACSTP
3   HSIPL
0  ACSTER

**Top Prefix Codes Lemoore uses:**

    prefix
0      CML
1    CMLNI
2      HIP
3  SRTSLNI

**Top Prefix Codes Los Altos uses:**

    prefix
0     BHLS
2     STPL
3  STPLHSR
1    HSIPL

**Top Prefix Codes Manteca uses:**

   prefix
3    STPL
1   HSIPL
0  ESPLSE
2  RPSTPL

**Top Prefix Codes Mcfarland uses:**

  prefix
3   STPL
0    CML
1  HSIPL
2  SRTSL

**Top Prefix Codes Merced County Association of Governments uses:**

  prefix
1  CMLNI
0    CML
2   HPLU
3   TILU

**Top Prefix Codes Metropolitan Transportation Commission - SAFE uses:**

   prefix
2    STPL
0     CML
3  STPLNI
1  STPCML

**Top Prefix Codes Mono County uses:**

   prefix
2  RPSTPL
0   BPMPL
1    CASB
3   RSTPL

**Top Prefix Codes Monrovia uses:**

  prefix
1  HSIPL
0     ER
2  SRTSL
3   STPL

**Top Prefix Codes Mountain View uses:**

   prefix
0     CML
2    STPL
1   HSIPL
3  STPLNI

**Top Prefix Codes Newport Beach uses:**

  prefix
1    CML
0   BRLO
3   STPL
2   CRAL

**Top Prefix Codes Norwalk uses:**

  prefix
2  HSIPL
0   ATPL
3   STPL
1   BHLS

**Top Prefix Codes Ojai uses:**

   prefix
3    STPL
1     CML
0  ATPCML
2  FTACML

**Top Prefix Codes Patterson uses:**

  prefix
2    CML
3   STPL
1   BRLS
0   ATPL

**Top Prefix Codes Pismo Beach uses:**

   prefix
2      ER
1    BRLO
0  ACSTER
3   HSIPL

**Top Prefix Codes Placentia uses:**

  prefix
2  HSIPL
1    CML
3   STPL
0   BRLS

**Top Prefix Codes Pleasanton uses:**

  prefix
1   BPMP
3   STPL
0   BHLS
2    CML

**Top Prefix Codes Rancho Palos Verdes uses:**

    prefix
1    HSIPL
0      CML
3     STPL
2  SRTSLNI

**Top Prefix Codes Rancho Santa Margarita uses:**

  prefix
0  BPMPL
1   CRAL
3   STPL
2  HSIPL

**Top Prefix Codes Rialto uses:**

   prefix
1   HSIPL
0  HPBRLS
2  RPSTPL
3   SRTSL

**Top Prefix Codes Ross uses:**

  prefix
1   BRLS
3   STPL
0   BRLO
2  HSIPL

**Top Prefix Codes Salinas uses:**

   prefix
2   HSIPL
0    ATPL
1   BPMPL
3  RPSTPL

**Top Prefix Codes San Gabriel uses:**

  prefix
2  HSIPL
3  SRTSL
0   BRLS
1    CML

**Top Prefix Codes San Joaquin Regional Rail Commission uses:**

      prefix
0        CML
1     FTACML
2    FTASTPL
3  FTFERPL16

**Top Prefix Codes San Juan Capistrano uses:**

  prefix
1   ESPL
2  SRTSL
3   STPL
0   CRAL

**Top Prefix Codes San Luis Obispo Council of Governments uses:**

    prefix
0     CASB
1   FTACML
2   RPSTPL
3  SRTSLNI

**Top Prefix Codes San Ramon uses:**

  prefix
3   STPL
2  HSIPL
0    CML
1  CMLNI

**Top Prefix Codes Sanger uses:**

    prefix
3     STPL
1      CML
0     BPMP
2  HIPSTPL

**Top Prefix Codes Santa Barbara County Association of Governments uses:**

   prefix
1   HPLUL
2   HSIPL
0  DEM05L
3    VPPL

**Top Prefix Codes Santa Maria uses:**

  prefix
2  HSIPL
1   ESPL
0  BPMPL
3   STPL

**Top Prefix Codes Signal Hill uses:**

  prefix
0   ATPL
2  HSIPL
1  HPLUL
3   IMDL

**Top Prefix Codes Suisun City uses:**

   prefix
1   HSIPL
0     CML
3    STPL
2  SR2SCM

**Top Prefix Codes Temple City uses:**

  prefix
3   STPL
2  HSIPL
0    CML
1     ER

**Top Prefix Codes Transportation Agency for Monterey County uses:**

   prefix
2   HPLUL
3  INVEST
0     CML
1  DEM09L

**Top Prefix Codes Vista uses:**

   prefix
2   HSIPL
1    HSIP
0    ATPL
3  TCSPDE

**Top Prefix Codes Waterford uses:**

    prefix
0      CML
3     STPL
1  HIPSTPL
2   STPCML

**Top Prefix Codes Yolo County Transportation District uses:**

     prefix
0    FTACML
1  FTASTCML
2    RAISEL
3    STPLNI

**Top Prefix Codes Albany uses:**

    prefix
2     STPL
0      CML
1  SRTSLNI

**Top Prefix Codes Alhambra uses:**

  prefix
2   STPL
0  HSIPL
1  SRTSL

**Top Prefix Codes American Canyon uses:**

   prefix
0     CML
2    STPL
1  RPSTPL

**Top Prefix Codes Angels uses:**

  prefix
0    CML
1   HIPL
2  HSIPL

**Top Prefix Codes Antioch uses:**

  prefix
1    CML
2   STPL
0   BHLS

**Top Prefix Codes Association Of Monterey Bay Area Governments uses:**

    prefix
1   FSHRP2
0      CML
2  FSHRP2L

**Top Prefix Codes Banning uses:**

  prefix
2  STPLR
0  HSIPL
1   STPL

**Top Prefix Codes Beaumont uses:**

   prefix
0  DEM10L
1      ER
2    STPL

**Top Prefix Codes Bellflower uses:**

  prefix
2   STPL
1  HSIPL
0  HPLUL

**Top Prefix Codes Calabasas uses:**

  prefix
0     BR
2  SRTSL
1     ER

**Top Prefix Codes Calexico uses:**

  prefix
0    CML
1  HPLUL
2   STPL

**Top Prefix Codes Central Contra Costa Transit Authority uses:**

    prefix
2  FTASTPL
0      FTA
1   FTASTP

**Top Prefix Codes Chino uses:**

  prefix
1  HSIPL
0  HPLUL
2  STPLR

**Top Prefix Codes Coachella Valley Association of Governments uses:**

   prefix
1     CML
0    ATPL
2  RPSTPL

**Top Prefix Codes Colfax uses:**

   prefix
2    STPL
0     CML
1  HIPCML

**Top Prefix Codes Colusa County uses:**

  prefix
2   BRLO
1     BR
0   BPMP

**Top Prefix Codes Commerce uses:**

   prefix
2   HSIPL
0  DEM08L
1   HPLUL

**Top Prefix Codes Compton uses:**

  prefix
0  HP21L
1  HPLUL
2  HSIPL

**Top Prefix Codes Corcoran uses:**

  prefix
0    CML
1   HIPL
2  HIPL5

**Top Prefix Codes Cotati uses:**

   prefix
0     CML
2    STPL
1  CRRSAL

**Top Prefix Codes Covina uses:**

  prefix
2   STPL
0  HPLUL
1  HSIPL

**Top Prefix Codes Desert Hot Springs uses:**

  prefix
0  HSIPL
2   STPL
1  SRTSL

**Top Prefix Codes Dublin uses:**

  prefix
2   STPL
1  HPLUL
0    CML

**Top Prefix Codes Dunsmuir uses:**

   prefix
2  RPSTPL
0    BHLO
1    BRLO

**Top Prefix Codes Eastvale uses:**

  prefix
0    CML
1  HSIPL
2   STPL

**Top Prefix Codes El Paso De Robles uses:**

   prefix
0    BHLS
1     CML
2  RPSTPL

**Top Prefix Codes Farmersville uses:**

    prefix
1      CML
0  CMHSIPL
2     STPL

**Top Prefix Codes Fort Bragg uses:**

   prefix
1  DEMO6L
2   SRTSL
0  ATPLNI

**Top Prefix Codes Glendora uses:**

  prefix
1  HSIPL
2   STPL
0   BHLS

**Top Prefix Codes Golden Empire Transit District uses:**

     prefix
1    FTACML
0    CMLFTA
2  FTACML14

**Top Prefix Codes Hanford uses:**

  prefix
0    CML
1  CMLNI
2  HSIPL

**Top Prefix Codes Hawaiian Gardens uses:**

  prefix
0  HSIPL
2   STPL
1  SRTSL

**Top Prefix Codes Hercules uses:**

   prefix
1    STPL
0     CML
2  TGR2DG

**Top Prefix Codes Hughson uses:**

   prefix
2    STPL
0     CML
1  STPCML

**Top Prefix Codes Imperial County Transportation Commission uses:**

   prefix
1     CML
0  BUILDL
2  FTACML

**Top Prefix Codes Jurupa Valley uses:**

   prefix
2   HSIPL
1      ER
0  ACSTER

**Top Prefix Codes La Mirada uses:**

  prefix
0  HSIPL
1   STPL
2  STPLG

**Top Prefix Codes Lathrop uses:**

  prefix
1    CML
2   STPL
0   BRLS

**Top Prefix Codes Lawndale uses:**

    prefix
0    HPLUL
1    HSIPL
2  SRTSLNI

**Top Prefix Codes Livermore Amador Valley Transit Authority uses:**

    prefix
0   FTACML
1  FTACRAL
2   RPSTPL

**Top Prefix Codes Los Banos uses:**

     prefix
0       CML
1  HIPLPPSB
2     SRTSL

**Top Prefix Codes Los Gatos uses:**

  prefix
1  HSIPL
0    CML
2   STPL

**Top Prefix Codes Manhattan Beach uses:**

  prefix
0  HPLUL
1  HSIPL
2  SRTSL

**Top Prefix Codes Milpitas uses:**

  prefix
2   STPL
0    CML
1  SRTSL

**Top Prefix Codes Montclair uses:**

   prefix
0    BRLS
1   HSIPL
2  PNRSHP

**Top Prefix Codes Moorpark uses:**

  prefix
2   STPL
0    CML
1  HSIPL

**Top Prefix Codes Napa County Transportation Planning Agency uses:**

    prefix
2  FTASTPL
1      CML
0   ATPSB1

**Top Prefix Codes Napa Valley Transportation Authority uses:**

      prefix
0       ATPL
1     ATPLNI
2  FTASTPCML

**Top Prefix Codes Needles uses:**

   prefix
0   BPMPL
2    NCPD
1  CPFCDS

**Top Prefix Codes Novato uses:**

  prefix
2   STPL
1  HSIPL
0   BHLS

**Top Prefix Codes Oakdale uses:**

   prefix
2    STPL
0     CML
1  CMSTPL

**Top Prefix Codes Oakley uses:**

  prefix
2   STPL
1  HPLUL
0   BRLS

**Top Prefix Codes OmniTrans uses:**

    prefix
1   FTACML
0  FTAATPL
2  FTASTPL

**Top Prefix Codes Oroville uses:**

   prefix
1     CML
0  ATPCML
2   HSIPL

**Top Prefix Codes Pacifica uses:**

  prefix
2   STPL
0    CML
1  HP21L

**Top Prefix Codes Palm Desert uses:**

   prefix
0     CML
1  HP21CM
2    STPL

**Top Prefix Codes Perris uses:**

    prefix
1    HSIPL
2     STPL
0  ATPSB1L

**Top Prefix Codes Rancho Cucamonga uses:**

    prefix
0    IMDLN
2  SRTSLNI
1    SRTSL

**Top Prefix Codes Redlands uses:**

  prefix
1  HSIPL
0  BPMPL
2  SRTSL

**Top Prefix Codes Redondo Beach uses:**

   prefix
2    STPL
0     CML
1  FTACML

**Top Prefix Codes Rio Vista uses:**

  prefix
0    CML
2  HSIPL
1  HPLUL

**Top Prefix Codes Riverbank uses:**

   prefix
0     CML
2    STPL
1  STPCML

**Top Prefix Codes Rocklin uses:**

  prefix
1    CML
0   BPMP
2   STPL

**Top Prefix Codes Rohnert Park uses:**

   prefix
2    STPL
0     CML
1  RPSTPL

**Top Prefix Codes Rosemead uses:**

  prefix
0  HSIPL
1  SRTSL
2   STPL

**Top Prefix Codes Sacramento Regional Transit District uses:**

    prefix
0   FTACML
2  FTASTPL
1  FTAHIPL

**Top Prefix Codes San Francisco Department of Public Health uses:**

    prefix
1      CML
0   ATPLNI
2  SRTSLNI

**Top Prefix Codes San Jacinto uses:**

  prefix
1  HSIPL
2  STPLN
0     ER

**Top Prefix Codes San Marino uses:**

    prefix
0       ER
1    SRTSL
2  SRTSLNI

**Top Prefix Codes Santa Clara uses:**

  prefix
0    CML
2   STPL
1  HSIPL

**Top Prefix Codes Santa Cruz County Regional Transportation Commission uses:**

   prefix
2  STPLNI
0  CMSTPL
1  DEM06L

**Top Prefix Codes Santa Paula uses:**

    prefix
2     STPL
0      CML
1  RPSTPLE

**Top Prefix Codes Santee uses:**

  prefix
1  HSIPL
0  BRLSZ
2  SRTSL

**Top Prefix Codes Sausalito uses:**

  prefix
0    CML
2   STPL
1  NMTPL

**Top Prefix Codes Seal Beach uses:**

    prefix
1      CML
0  ATPSB1L
2     STPL

**Top Prefix Codes Shasta Lake uses:**

  prefix
2  HSIPL
0  BPMPL
1   BRLS

**Top Prefix Codes Sonoma County Transportation Authority uses:**

  prefix
1  CMLNI
2  HPLUL
0    CML

**Top Prefix Codes Southern California Regional Rail Authority uses:**

   prefix
1  FTACML
0   CARSI
2   STPLR

**Top Prefix Codes Sutter Creek uses:**

  prefix
0   BRLO
1   BRLS
2  HSIPL

**Top Prefix Codes Transit Joint Powers Authority For Merced County uses:**

   prefix
0     CML
1   CMLNI
2  FTACML

**Top Prefix Codes Twentynine Palms uses:**

    prefix
2    HSIPL
1       BR
0  ATPSB1L

**Top Prefix Codes U.S. Forest Service, Pacific Southwest Region uses:**

     prefix
0      CASB
2  USFSSTPL
1       FTA

**Top Prefix Codes Ukiah uses:**

    prefix
0    HSIPL
1   RPSTPL
2  RPSTPLE

**Top Prefix Codes Vernon uses:**

   prefix
0  DBPL02
1    HSIP
2   HSIPL

**Top Prefix Codes Walnut Creek uses:**

  prefix
2   STPL
1   BRLS
0   BHLS

**Top Prefix Codes West Covina uses:**

  prefix
2   STPL
1  HSIPL
0  HPLUL

**Top Prefix Codes Westminster uses:**

  prefix
1  HSIPL
0   ATPL
2   STPL

**Top Prefix Codes Winters uses:**

  prefix
0   BRLS
2   STPL
1  HPLUL

**Top Prefix Codes Yorba Linda uses:**

  prefix
1  HSIPL
2   STPL
0  HPLUL

**Top Prefix Codes Access Services uses:**

     prefix
0   FTASTPL
1  FTASTPLR

**Top Prefix Codes Agoura Hills uses:**

  prefix
0   BHLO
1  HPLUN

**Top Prefix Codes Alameda - Contra Costa Transit District uses:**

    prefix
0   FTACML
1  FTASTPL

**Top Prefix Codes Amador County Transportation Commission uses:**

   prefix
0     CML
1  HPLULN

**Top Prefix Codes Atwater uses:**

  prefix
0    CML
1  HSIPL

**Top Prefix Codes Auburn uses:**

  prefix
0    CML
1  SRTSL

**Top Prefix Codes Bay Area Air Quality Management District uses:**

  prefix
1  CMLNI
0    CML

**Top Prefix Codes Big Bear Lake uses:**

   prefix
1  HSIPLN
0    ATPL

**Top Prefix Codes Biggs uses:**

  prefix
0   BRLO
1    CML

**Top Prefix Codes Blythe uses:**

    prefix
1     STPL
0  SRTSLNI

**Top Prefix Codes Brisbane uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Burlingame uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Capital Southeast Connector uses:**

    prefix
1     STPL
0  CPFCDSL

**Top Prefix Codes Central Unified School District uses:**

  prefix
1  CMLNI
0    CML

**Top Prefix Codes Cerritos uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Claremont uses:**

    prefix
0    HSIPL
1  SRTSLNI

**Top Prefix Codes Clearlake uses:**

  prefix
0   ATPL
1  HSIPL

**Top Prefix Codes Corning uses:**

    prefix
0   RPSTPL
1  RPSTPLE

**Top Prefix Codes Council of Fresno County Governments uses:**

    prefix
0   FTACML
1  PBICLNI

**Top Prefix Codes Cudahy uses:**

  prefix
1  HSIPL
0   ATPL

**Top Prefix Codes Dana Point uses:**

   prefix
1    STPL
0  RPSTPL

**Top Prefix Codes Del Mar uses:**

  prefix
0   BRLS
1  STPLZ

**Top Prefix Codes Dixon uses:**

  prefix
1   STPL
0     IM

**Top Prefix Codes El Cajon uses:**

  prefix
0  HSIPL
1  SRTSL

**Top Prefix Codes Fortuna uses:**

   prefix
0   HSIPL
1  RPSTPL

**Top Prefix Codes Fountain Valley uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Fresno Unified School District uses:**

  prefix
1  CMLNI
0    CML

**Top Prefix Codes Gridley uses:**

   prefix
0     CML
1  RPSTPL

**Top Prefix Codes Grover Beach uses:**

   prefix
1  RPSTPL
0     CML

**Top Prefix Codes Gustine uses:**

  prefix
0    CML
1  HSIPL

**Top Prefix Codes Half Moon Bay uses:**

  prefix
0   BRLS
1    CML

**Top Prefix Codes Huron uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Indian Wells uses:**

  prefix
0  BRLSN
1   STPL

**Top Prefix Codes Industry uses:**

  prefix
1  STPLR
0  BHLSP

**Top Prefix Codes Kern Regional Transit uses:**

   prefix
0  CMLFTA
1  FTACML

**Top Prefix Codes Kings Canyon Unified School District uses:**

  prefix
1  CMLNI
0    CML

**Top Prefix Codes La Habra uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes La Palma uses:**

  prefix
1   STPL
0  SRTSL

**Top Prefix Codes La Puente uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Laguna Niguel uses:**

  prefix
1   STPL
0  BRLSZ

**Top Prefix Codes Lemon Grove uses:**

    prefix
0    SRTSL
1  SRTSLNI

**Top Prefix Codes Live Oak uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Livermore uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Loomis uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Los Altos Hills uses:**

   prefix
0  RPSTPL
1    STPL

**Top Prefix Codes Mammoth Lakes uses:**

   prefix
0  RPSTPL
1   SRTSL

**Top Prefix Codes Marin County Transit District uses:**

    prefix
0   FTACML
1  FTASTPL

**Top Prefix Codes Marina uses:**

   prefix
1  RPSTPL
0   HSIPL

**Top Prefix Codes Menifee uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Millbrae uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Montebello uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Monterey uses:**

  prefix
0   ATPL
1  HSIPL

**Top Prefix Codes Monterey Park uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Nevada City uses:**

  prefix
1    CML
0   BRLS

**Top Prefix Codes Newman uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Orange Cove uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Paramount uses:**

  prefix
0   BRLS
1   STPL

**Top Prefix Codes Pinole uses:**

  prefix
1   STPL
0   BRLS

**Top Prefix Codes Plymouth uses:**

  prefix
0  HPLUL
1  HRRRL

**Top Prefix Codes Port Of Oakland uses:**

   prefix
0     CML
1  DEM05L

**Top Prefix Codes Portola Valley uses:**

  prefix
0     ER
1   STPL

**Top Prefix Codes Rio Dell uses:**

   prefix
0    ACST
1  RPSTPL

**Top Prefix Codes Sacramento Metropolitan Air Quality Management District uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes San Bruno uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes San Clemente uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes San Joaquin Regional Transit District uses:**

   prefix
0  FTACML
1  RPSTPL

**Top Prefix Codes San Luis Obispo Regional Transit Agency uses:**

   prefix
0  FTACML
1  FTAMCL

**Top Prefix Codes Seaside uses:**

    prefix
0     ATPL
1  SRTSLNI

**Top Prefix Codes Sebastopol uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Solvang uses:**

  prefix
0  BRLSZ
1     ER

**Top Prefix Codes Sonora uses:**

   prefix
1     CML
0  ATPCML

**Top Prefix Codes South Pasadena uses:**

   prefix
0   HSIPL
1  RABA01

**Top Prefix Codes SouthWest Transportation Agency uses:**

  prefix
1  CMLNI
0    CML

**Top Prefix Codes Stockton Port District uses:**

  prefix
0   BRLS
1   PLHL

**Top Prefix Codes Susanville uses:**

    prefix
0   RPSTPL
1  RPSTPLE

**Top Prefix Codes Truckee uses:**

  prefix
1  HSIPL
0   HPLU

**Top Prefix Codes University Of California uses:**

  prefix
0   LTAP
1   VPPL

**Top Prefix Codes University of California - Davis uses:**

     prefix
0      BRLS
1  RPSTPLEC

**Top Prefix Codes Western Contra Costa Transit Authority uses:**

    prefix
0   FTACML
1  FTASTPL

**Top Prefix Codes Westlake Village uses:**

  prefix
0   BRLO
1  HSIPL

**Top Prefix Codes Wheatland uses:**

  prefix
0  SRTSL
1   STPL

**Top Prefix Codes Woodlake uses:**

  prefix
1    CML
0   ATPL

**Top Prefix Codes Yosemite Area Regional Transportation System JPA uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes Alameda Corridor Transportation Authority uses:**

  prefix
0  HPLUL

**Top Prefix Codes Alameda County Transportation Improvement Authority uses:**

  prefix
0   STPL

**Top Prefix Codes Alameda County Waste Management Authority uses:**

  prefix
0    CML

**Top Prefix Codes Amador City uses:**

  prefix
0   BRLS

**Top Prefix Codes Amador Rapid Transit System uses:**

   prefix
0  FTACML

**Top Prefix Codes Antelope Valley Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Atherton uses:**

  prefix
0   STPL

**Top Prefix Codes Avenal uses:**

  prefix
0    HIP

**Top Prefix Codes Bishop uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Blue Lake uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Buena Park uses:**

  prefix
0   STPL

**Top Prefix Codes California State University, Sacramento uses:**

  prefix
0   LTAP

**Top Prefix Codes California Tahoe Conservancy uses:**

  prefix
0   ATPL

**Top Prefix Codes Calistoga uses:**

  prefix
0   BRLO

**Top Prefix Codes Carpinteria uses:**

  prefix
0   BRLS

**Top Prefix Codes Chula Vista Elementary School District uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Clayton uses:**

  prefix
0   STPL

**Top Prefix Codes Cloverdale uses:**

  prefix
0   STPL

**Top Prefix Codes Clovis Unified School District uses:**

  prefix
0  CMLNI

**Top Prefix Codes Colma uses:**

  prefix
0    CML

**Top Prefix Codes Coronado uses:**

  prefix
0  FERPL

**Top Prefix Codes Corte Madera uses:**

  prefix
0    CML

**Top Prefix Codes Council of San Benito County Governments uses:**

  prefix
0   CMLG

**Top Prefix Codes Crescent City uses:**

  prefix
0     ER

**Top Prefix Codes Cypress uses:**

  prefix
0   STPL

**Top Prefix Codes Diamond Bar uses:**

  prefix
0  HPLUL

**Top Prefix Codes Dos Palos uses:**

  prefix
0    CML

**Top Prefix Codes El Segundo uses:**

   prefix
0  DEM08L

**Top Prefix Codes Emeryville uses:**

  prefix
0  SRTSL

**Top Prefix Codes Escalon uses:**

  prefix
0    CML

**Top Prefix Codes Ferndale uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Fillmore uses:**

  prefix
0   STPL

**Top Prefix Codes Foothill Eastern Transportation Corridor uses:**

  prefix
0  HP21L

**Top Prefix Codes Foster City uses:**

  prefix
0   STPL

**Top Prefix Codes Fresno County Rural Transit Agency uses:**

   prefix
0  CMLFTA

**Top Prefix Codes Grand Terrace uses:**

  prefix
0  HSIPL

**Top Prefix Codes Hawthorne uses:**

  prefix
0  HSIPL

**Top Prefix Codes Hermosa Beach uses:**

  prefix
0   STPL

**Top Prefix Codes Hillsborough uses:**

  prefix
0   STPL

**Top Prefix Codes Humboldt Bay Harbor Recreation & Conservation District uses:**

  prefix
0  HP21L

**Top Prefix Codes Huntington Park uses:**

  prefix
0   ATPL

**Top Prefix Codes Ione uses:**

  prefix
0     ER

**Top Prefix Codes Kern County Superintendent of Schools uses:**

  prefix
0    CML

**Top Prefix Codes Kings County Area Public Transit Agency uses:**

   prefix
0  FTACML

**Top Prefix Codes La Jolla Band of Luiseno Indians uses:**

  prefix
0    STP

**Top Prefix Codes Laguna Beach uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Laguna Hills uses:**

  prefix
0   STPL

**Top Prefix Codes Laguna Woods uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Lake Forest uses:**

  prefix
0   STPL

**Top Prefix Codes Lakewood uses:**

  prefix
0   STPL

**Top Prefix Codes Livingston uses:**

  prefix
0    CML

**Top Prefix Codes Lodi Unified School District uses:**

  prefix
0    CML

**Top Prefix Codes Long Beach Transportation Company uses:**

   prefix
0  FTACML

**Top Prefix Codes Los Angeles Unified School District uses:**

   prefix
0  ATPLNI

**Top Prefix Codes Malibu uses:**

  prefix
0  HSIPL

**Top Prefix Codes Marysville uses:**

  prefix
0   STPL

**Top Prefix Codes Maywood uses:**

  prefix
0  HPLUL

**Top Prefix Codes Monte Sereno uses:**

  prefix
0   STPL

**Top Prefix Codes Morgan Hill uses:**

  prefix
0   STPL

**Top Prefix Codes Morongo Basin Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Mountain Area Regional Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Napa County Office of Education uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes National Park Service, Pacific West Region uses:**

  prefix
0   CASB

**Top Prefix Codes Natomas Unified School District uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Newark uses:**

  prefix
0   STPL

**Top Prefix Codes Orland uses:**

  prefix
0  HSIPL

**Top Prefix Codes Palos Verdes Est uses:**

  prefix
0  HSIPL

**Top Prefix Codes Parlier Unified School District uses:**

  prefix
0  CMLNI

**Top Prefix Codes Piedmont uses:**

  prefix
0   STPL

**Top Prefix Codes Port Hueneme uses:**

  prefix
0   STPL

**Top Prefix Codes Port Of Long Beach uses:**

  prefix
0    CML

**Top Prefix Codes Port of San Francisco uses:**

  prefix
0   STPL

**Top Prefix Codes Portola uses:**

  prefix
0  SRTSL

**Top Prefix Codes Poway uses:**

  prefix
0   STPL

**Top Prefix Codes Red Bluff uses:**

  prefix
0   BRLS

**Top Prefix Codes Riverside Transit Agency uses:**

   prefix
0  FTACML

**Top Prefix Codes Rolling Hills Estates uses:**

   prefix
0  RPSTPL

**Top Prefix Codes San Diego Metropolitan Transit System uses:**

    prefix
0  FTASTPL

**Top Prefix Codes San Diego Unified Port District uses:**

  prefix
0  FERPL

**Top Prefix Codes San Dimas uses:**

  prefix
0   BHLS

**Top Prefix Codes San Francisco Bay Area Water Transit Authority uses:**

    prefix
0  FTASTPL

**Top Prefix Codes Santa Cruz County Health Services Agency uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Santa Fe Springs uses:**

   prefix
0  DEML02

**Top Prefix Codes Scotts Valley uses:**

  prefix
0     ER

**Top Prefix Codes Shasta County Regional Transportation Planning Agency uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Sierra Madre uses:**

  prefix
0     ER

**Top Prefix Codes Solano County Transit uses:**

   prefix
0  FTACML

**Top Prefix Codes Sonoma County Transit uses:**

    prefix
0  FTASTPL

**Top Prefix Codes South Coast Air Quality Management District uses:**

  prefix
0  HPLUL

**Top Prefix Codes South Coast Area Transit uses:**

   prefix
0  FTACML

**Top Prefix Codes South El Monte uses:**

  prefix
0  HSIPL

**Top Prefix Codes St Helena uses:**

  prefix
0   HSIP

**Top Prefix Codes Tahoe Regional Planning Agency uses:**

   prefix
0  SNPLMA

**Top Prefix Codes Tehama uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Tehama County Transportation Commission uses:**

   prefix
0  FTACML

**Top Prefix Codes Tri Delta Transit uses:**

   prefix
0  FTASTP

**Top Prefix Codes Trinidad uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Tuolumne County Transportation Council uses:**

   prefix
0  FTACML

**Top Prefix Codes Tustin uses:**

  prefix
0   STPL

**Top Prefix Codes Union Pacific Railroad uses:**

    prefix
0  TCIFESP

**Top Prefix Codes University of California - Santa Barbara uses:**

  prefix
0   ATPL

**Top Prefix Codes University of California at San Francisco uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Victor Valley Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Villa Park uses:**

  prefix
0   STPL

**Top Prefix Codes Walnut uses:**

  prefix
0   STPL

**Top Prefix Codes Watsonville uses:**

  prefix
0  HSIPL

**Top Prefix Codes Weed uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Western Shasta Resource Conservation District uses:**

  prefix
0   CASB

**Top Prefix Codes Willits uses:**

  prefix
0   BRLS

**Top Prefix Codes Willows uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Yountville uses:**

   prefix
0  RPSTPL

Popular codes in top agencies:
   * STP/STLN: Surface Transportation Program/Surface Transportation Program Local National Highway System
   * HSIP: Highway Safety Improvement Program 
   * CML: Congestion Mitigation & Air Quality Improvement Program 
   * BHLS: ?
   * BRLO: Highway Bridge Program (HBP) - Off Federal-aid System

### Bottom Agencies

In [11]:
(df 
     >> group_by(_.primary_agency_name) 
     >> summarize(n=_.prefix.nunique())
     >> filter(_.n<=1)
 
)

                                   primary_agency_name  n
4            Alameda Corridor Transportation Authority  1
8    Alameda County Transportation Improvement Auth...  1
9            Alameda County Waste Management Authority  1
13                                         Amador City  1
16                         Amador Rapid Transit System  1
..                                                 ... ..
591                                               Weed  1
595      Western Shasta Resource Conservation District  1
602                                            Willits  1
603                                            Willows  1
613                                         Yountville  1

[111 rows x 2 columns]

In [12]:
df >> group_by(_.primary_agency_name) >> summarize(n=_.prefix.nunique()) >> arrange(_.n)>>filter(_.n<=3)

                                   primary_agency_name  n
4            Alameda Corridor Transportation Authority  1
8    Alameda County Transportation Improvement Auth...  1
9            Alameda County Waste Management Authority  1
13                                         Amador City  1
16                         Amador Rapid Transit System  1
..                                                 ... ..
587                                       Walnut Creek  3
592                                        West Covina  3
597                                        Westminster  3
605                                            Winters  3
611                                        Yorba Linda  3

[283 rows x 2 columns]

In [13]:
bottom = df >> group_by(_.primary_agency_name) >> summarize(n=_.prefix.nunique()) >> arrange(_.n)>>filter(_.n<=3)

In [14]:
bottom.sample(9)

                                  primary_agency_name  n
217                                      Indian Wells  2
526                                    South Pasadena  2
554  Transit Joint Powers Authority For Merced County  3
446                                         San Dimas  1
235           Kings County Area Public Transit Agency  1
568     U.S. Forest Service, Pacific Southwest Region  3
429              Sacramento Regional Transit District  3
212                                   Huntington Park  1
4           Alameda Corridor Transportation Authority  1

In [15]:
agency=bottom.primary_agency_name.unique().tolist()


def find_agencies_bottom(agency=bottom.primary_agency_name.unique().tolist()):
    
    for agency in bottom.primary_agency_name.unique().tolist(): 
            count_bottom = ((df>>filter(_.primary_agency_name==agency)>> count(_.prefix)>>arrange(_.n)).head(5)>>select(_.prefix))
            
            display(Markdown(f"**Top Prefix Codes {agency} uses:**"))
            display(count_bottom)
            
    return

In [16]:
print(len(agency))

283

In [17]:
find_agencies_bottom(agency)

**Top Prefix Codes Alameda Corridor Transportation Authority uses:**

  prefix
0  HPLUL

**Top Prefix Codes Alameda County Transportation Improvement Authority uses:**

  prefix
0   STPL

**Top Prefix Codes Alameda County Waste Management Authority uses:**

  prefix
0    CML

**Top Prefix Codes Amador City uses:**

  prefix
0   BRLS

**Top Prefix Codes Amador Rapid Transit System uses:**

   prefix
0  FTACML

**Top Prefix Codes Antelope Valley Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Atherton uses:**

  prefix
0   STPL

**Top Prefix Codes Avenal uses:**

  prefix
0    HIP

**Top Prefix Codes Bishop uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Blue Lake uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Buena Park uses:**

  prefix
0   STPL

**Top Prefix Codes California State University, Sacramento uses:**

  prefix
0   LTAP

**Top Prefix Codes California Tahoe Conservancy uses:**

  prefix
0   ATPL

**Top Prefix Codes Calistoga uses:**

  prefix
0   BRLO

**Top Prefix Codes Carpinteria uses:**

  prefix
0   BRLS

**Top Prefix Codes Chula Vista Elementary School District uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Clayton uses:**

  prefix
0   STPL

**Top Prefix Codes Cloverdale uses:**

  prefix
0   STPL

**Top Prefix Codes Clovis Unified School District uses:**

  prefix
0  CMLNI

**Top Prefix Codes Colma uses:**

  prefix
0    CML

**Top Prefix Codes Coronado uses:**

  prefix
0  FERPL

**Top Prefix Codes Corte Madera uses:**

  prefix
0    CML

**Top Prefix Codes Council of San Benito County Governments uses:**

  prefix
0   CMLG

**Top Prefix Codes Crescent City uses:**

  prefix
0     ER

**Top Prefix Codes Cypress uses:**

  prefix
0   STPL

**Top Prefix Codes Diamond Bar uses:**

  prefix
0  HPLUL

**Top Prefix Codes Dos Palos uses:**

  prefix
0    CML

**Top Prefix Codes El Segundo uses:**

   prefix
0  DEM08L

**Top Prefix Codes Emeryville uses:**

  prefix
0  SRTSL

**Top Prefix Codes Escalon uses:**

  prefix
0    CML

**Top Prefix Codes Ferndale uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Fillmore uses:**

  prefix
0   STPL

**Top Prefix Codes Foothill Eastern Transportation Corridor uses:**

  prefix
0  HP21L

**Top Prefix Codes Foster City uses:**

  prefix
0   STPL

**Top Prefix Codes Fresno County Rural Transit Agency uses:**

   prefix
0  CMLFTA

**Top Prefix Codes Grand Terrace uses:**

  prefix
0  HSIPL

**Top Prefix Codes Hawthorne uses:**

  prefix
0  HSIPL

**Top Prefix Codes Hermosa Beach uses:**

  prefix
0   STPL

**Top Prefix Codes Hillsborough uses:**

  prefix
0   STPL

**Top Prefix Codes Humboldt Bay Harbor Recreation & Conservation District uses:**

  prefix
0  HP21L

**Top Prefix Codes Huntington Park uses:**

  prefix
0   ATPL

**Top Prefix Codes Ione uses:**

  prefix
0     ER

**Top Prefix Codes Kern County Superintendent of Schools uses:**

  prefix
0    CML

**Top Prefix Codes Kings County Area Public Transit Agency uses:**

   prefix
0  FTACML

**Top Prefix Codes La Jolla Band of Luiseno Indians uses:**

  prefix
0    STP

**Top Prefix Codes Laguna Beach uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Laguna Hills uses:**

  prefix
0   STPL

**Top Prefix Codes Laguna Woods uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Lake Forest uses:**

  prefix
0   STPL

**Top Prefix Codes Lakewood uses:**

  prefix
0   STPL

**Top Prefix Codes Livingston uses:**

  prefix
0    CML

**Top Prefix Codes Lodi Unified School District uses:**

  prefix
0    CML

**Top Prefix Codes Long Beach Transportation Company uses:**

   prefix
0  FTACML

**Top Prefix Codes Los Angeles Unified School District uses:**

   prefix
0  ATPLNI

**Top Prefix Codes Malibu uses:**

  prefix
0  HSIPL

**Top Prefix Codes Marysville uses:**

  prefix
0   STPL

**Top Prefix Codes Maywood uses:**

  prefix
0  HPLUL

**Top Prefix Codes Monte Sereno uses:**

  prefix
0   STPL

**Top Prefix Codes Morgan Hill uses:**

  prefix
0   STPL

**Top Prefix Codes Morongo Basin Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Mountain Area Regional Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Napa County Office of Education uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes National Park Service, Pacific West Region uses:**

  prefix
0   CASB

**Top Prefix Codes Natomas Unified School District uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Newark uses:**

  prefix
0   STPL

**Top Prefix Codes Orland uses:**

  prefix
0  HSIPL

**Top Prefix Codes Palos Verdes Est uses:**

  prefix
0  HSIPL

**Top Prefix Codes Parlier Unified School District uses:**

  prefix
0  CMLNI

**Top Prefix Codes Piedmont uses:**

  prefix
0   STPL

**Top Prefix Codes Port Hueneme uses:**

  prefix
0   STPL

**Top Prefix Codes Port Of Long Beach uses:**

  prefix
0    CML

**Top Prefix Codes Port of San Francisco uses:**

  prefix
0   STPL

**Top Prefix Codes Portola uses:**

  prefix
0  SRTSL

**Top Prefix Codes Poway uses:**

  prefix
0   STPL

**Top Prefix Codes Red Bluff uses:**

  prefix
0   BRLS

**Top Prefix Codes Riverside Transit Agency uses:**

   prefix
0  FTACML

**Top Prefix Codes Rolling Hills Estates uses:**

   prefix
0  RPSTPL

**Top Prefix Codes San Diego Metropolitan Transit System uses:**

    prefix
0  FTASTPL

**Top Prefix Codes San Diego Unified Port District uses:**

  prefix
0  FERPL

**Top Prefix Codes San Dimas uses:**

  prefix
0   BHLS

**Top Prefix Codes San Francisco Bay Area Water Transit Authority uses:**

    prefix
0  FTASTPL

**Top Prefix Codes Santa Cruz County Health Services Agency uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Santa Fe Springs uses:**

   prefix
0  DEML02

**Top Prefix Codes Scotts Valley uses:**

  prefix
0     ER

**Top Prefix Codes Shasta County Regional Transportation Planning Agency uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Sierra Madre uses:**

  prefix
0     ER

**Top Prefix Codes Solano County Transit uses:**

   prefix
0  FTACML

**Top Prefix Codes Sonoma County Transit uses:**

    prefix
0  FTASTPL

**Top Prefix Codes South Coast Air Quality Management District uses:**

  prefix
0  HPLUL

**Top Prefix Codes South Coast Area Transit uses:**

   prefix
0  FTACML

**Top Prefix Codes South El Monte uses:**

  prefix
0  HSIPL

**Top Prefix Codes St Helena uses:**

  prefix
0   HSIP

**Top Prefix Codes Tahoe Regional Planning Agency uses:**

   prefix
0  SNPLMA

**Top Prefix Codes Tehama uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Tehama County Transportation Commission uses:**

   prefix
0  FTACML

**Top Prefix Codes Tri Delta Transit uses:**

   prefix
0  FTASTP

**Top Prefix Codes Trinidad uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Tuolumne County Transportation Council uses:**

   prefix
0  FTACML

**Top Prefix Codes Tustin uses:**

  prefix
0   STPL

**Top Prefix Codes Union Pacific Railroad uses:**

    prefix
0  TCIFESP

**Top Prefix Codes University of California - Santa Barbara uses:**

  prefix
0   ATPL

**Top Prefix Codes University of California at San Francisco uses:**

    prefix
0  SRTSLNI

**Top Prefix Codes Victor Valley Transit Authority uses:**

   prefix
0  FTACML

**Top Prefix Codes Villa Park uses:**

  prefix
0   STPL

**Top Prefix Codes Walnut uses:**

  prefix
0   STPL

**Top Prefix Codes Watsonville uses:**

  prefix
0  HSIPL

**Top Prefix Codes Weed uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Western Shasta Resource Conservation District uses:**

  prefix
0   CASB

**Top Prefix Codes Willits uses:**

  prefix
0   BRLS

**Top Prefix Codes Willows uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Yountville uses:**

   prefix
0  RPSTPL

**Top Prefix Codes Access Services uses:**

     prefix
1  FTASTPLR
0   FTASTPL

**Top Prefix Codes Agoura Hills uses:**

  prefix
1  HPLUN
0   BHLO

**Top Prefix Codes Alameda - Contra Costa Transit District uses:**

    prefix
1  FTASTPL
0   FTACML

**Top Prefix Codes Amador County Transportation Commission uses:**

   prefix
0     CML
1  HPLULN

**Top Prefix Codes Atwater uses:**

  prefix
1  HSIPL
0    CML

**Top Prefix Codes Auburn uses:**

  prefix
1  SRTSL
0    CML

**Top Prefix Codes Bay Area Air Quality Management District uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes Big Bear Lake uses:**

   prefix
0    ATPL
1  HSIPLN

**Top Prefix Codes Biggs uses:**

  prefix
1    CML
0   BRLO

**Top Prefix Codes Blythe uses:**

    prefix
0  SRTSLNI
1     STPL

**Top Prefix Codes Brisbane uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Burlingame uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Capital Southeast Connector uses:**

    prefix
0  CPFCDSL
1     STPL

**Top Prefix Codes Central Unified School District uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes Cerritos uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Claremont uses:**

    prefix
0    HSIPL
1  SRTSLNI

**Top Prefix Codes Clearlake uses:**

  prefix
1  HSIPL
0   ATPL

**Top Prefix Codes Corning uses:**

    prefix
0   RPSTPL
1  RPSTPLE

**Top Prefix Codes Council of Fresno County Governments uses:**

    prefix
0   FTACML
1  PBICLNI

**Top Prefix Codes Cudahy uses:**

  prefix
0   ATPL
1  HSIPL

**Top Prefix Codes Dana Point uses:**

   prefix
0  RPSTPL
1    STPL

**Top Prefix Codes Del Mar uses:**

  prefix
1  STPLZ
0   BRLS

**Top Prefix Codes Dixon uses:**

  prefix
0     IM
1   STPL

**Top Prefix Codes El Cajon uses:**

  prefix
1  SRTSL
0  HSIPL

**Top Prefix Codes Fortuna uses:**

   prefix
1  RPSTPL
0   HSIPL

**Top Prefix Codes Fountain Valley uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Fresno Unified School District uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes Gridley uses:**

   prefix
1  RPSTPL
0     CML

**Top Prefix Codes Grover Beach uses:**

   prefix
0     CML
1  RPSTPL

**Top Prefix Codes Gustine uses:**

  prefix
1  HSIPL
0    CML

**Top Prefix Codes Half Moon Bay uses:**

  prefix
1    CML
0   BRLS

**Top Prefix Codes Huron uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Indian Wells uses:**

  prefix
1   STPL
0  BRLSN

**Top Prefix Codes Industry uses:**

  prefix
0  BHLSP
1  STPLR

**Top Prefix Codes Kern Regional Transit uses:**

   prefix
0  CMLFTA
1  FTACML

**Top Prefix Codes Kings Canyon Unified School District uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes La Habra uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes La Palma uses:**

  prefix
0  SRTSL
1   STPL

**Top Prefix Codes La Puente uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Laguna Niguel uses:**

  prefix
0  BRLSZ
1   STPL

**Top Prefix Codes Lemon Grove uses:**

    prefix
1  SRTSLNI
0    SRTSL

**Top Prefix Codes Live Oak uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Livermore uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Loomis uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Los Altos Hills uses:**

   prefix
0  RPSTPL
1    STPL

**Top Prefix Codes Mammoth Lakes uses:**

   prefix
1   SRTSL
0  RPSTPL

**Top Prefix Codes Marin County Transit District uses:**

    prefix
0   FTACML
1  FTASTPL

**Top Prefix Codes Marina uses:**

   prefix
0   HSIPL
1  RPSTPL

**Top Prefix Codes Menifee uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Millbrae uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Montebello uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes Monterey uses:**

  prefix
1  HSIPL
0   ATPL

**Top Prefix Codes Monterey Park uses:**

  prefix
1   STPL
0  HSIPL

**Top Prefix Codes Nevada City uses:**

  prefix
0   BRLS
1    CML

**Top Prefix Codes Newman uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Orange Cove uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes Paramount uses:**

  prefix
1   STPL
0   BRLS

**Top Prefix Codes Pinole uses:**

  prefix
0   BRLS
1   STPL

**Top Prefix Codes Plymouth uses:**

  prefix
1  HRRRL
0  HPLUL

**Top Prefix Codes Port Of Oakland uses:**

   prefix
0     CML
1  DEM05L

**Top Prefix Codes Portola Valley uses:**

  prefix
1   STPL
0     ER

**Top Prefix Codes Rio Dell uses:**

   prefix
1  RPSTPL
0    ACST

**Top Prefix Codes Sacramento Metropolitan Air Quality Management District uses:**

  prefix
1  CMLNI
0    CML

**Top Prefix Codes San Bruno uses:**

  prefix
1   STPL
0    CML

**Top Prefix Codes San Clemente uses:**

  prefix
0  HSIPL
1   STPL

**Top Prefix Codes San Joaquin Regional Transit District uses:**

   prefix
1  RPSTPL
0  FTACML

**Top Prefix Codes San Luis Obispo Regional Transit Agency uses:**

   prefix
0  FTACML
1  FTAMCL

**Top Prefix Codes Seaside uses:**

    prefix
1  SRTSLNI
0     ATPL

**Top Prefix Codes Sebastopol uses:**

  prefix
0    CML
1   STPL

**Top Prefix Codes Solvang uses:**

  prefix
1     ER
0  BRLSZ

**Top Prefix Codes Sonora uses:**

   prefix
0  ATPCML
1     CML

**Top Prefix Codes South Pasadena uses:**

   prefix
1  RABA01
0   HSIPL

**Top Prefix Codes SouthWest Transportation Agency uses:**

  prefix
0    CML
1  CMLNI

**Top Prefix Codes Stockton Port District uses:**

  prefix
1   PLHL
0   BRLS

**Top Prefix Codes Susanville uses:**

    prefix
1  RPSTPLE
0   RPSTPL

**Top Prefix Codes Truckee uses:**

  prefix
0   HPLU
1  HSIPL

**Top Prefix Codes University Of California uses:**

  prefix
1   VPPL
0   LTAP

**Top Prefix Codes University of California - Davis uses:**

     prefix
1  RPSTPLEC
0      BRLS

**Top Prefix Codes Western Contra Costa Transit Authority uses:**

    prefix
0   FTACML
1  FTASTPL

**Top Prefix Codes Westlake Village uses:**

  prefix
1  HSIPL
0   BRLO

**Top Prefix Codes Wheatland uses:**

  prefix
1   STPL
0  SRTSL

**Top Prefix Codes Woodlake uses:**

  prefix
0   ATPL
1    CML

**Top Prefix Codes Yosemite Area Regional Transportation System JPA uses:**

  prefix
1  CMLNI
0    CML

**Top Prefix Codes Albany uses:**

    prefix
0      CML
1  SRTSLNI
2     STPL

**Top Prefix Codes Alhambra uses:**

  prefix
1  SRTSL
0  HSIPL
2   STPL

**Top Prefix Codes American Canyon uses:**

   prefix
1  RPSTPL
0     CML
2    STPL

**Top Prefix Codes Angels uses:**

  prefix
1   HIPL
2  HSIPL
0    CML

**Top Prefix Codes Antioch uses:**

  prefix
0   BHLS
1    CML
2   STPL

**Top Prefix Codes Association Of Monterey Bay Area Governments uses:**

    prefix
2  FSHRP2L
0      CML
1   FSHRP2

**Top Prefix Codes Banning uses:**

  prefix
1   STPL
0  HSIPL
2  STPLR

**Top Prefix Codes Beaumont uses:**

   prefix
2    STPL
0  DEM10L
1      ER

**Top Prefix Codes Bellflower uses:**

  prefix
0  HPLUL
1  HSIPL
2   STPL

**Top Prefix Codes Calabasas uses:**

  prefix
1     ER
2  SRTSL
0     BR

**Top Prefix Codes Calexico uses:**

  prefix
2   STPL
1  HPLUL
0    CML

**Top Prefix Codes Central Contra Costa Transit Authority uses:**

    prefix
0      FTA
1   FTASTP
2  FTASTPL

**Top Prefix Codes Chino uses:**

  prefix
0  HPLUL
2  STPLR
1  HSIPL

**Top Prefix Codes Coachella Valley Association of Governments uses:**

   prefix
2  RPSTPL
0    ATPL
1     CML

**Top Prefix Codes Colfax uses:**

   prefix
0     CML
1  HIPCML
2    STPL

**Top Prefix Codes Colusa County uses:**

  prefix
0   BPMP
1     BR
2   BRLO

**Top Prefix Codes Commerce uses:**

   prefix
0  DEM08L
1   HPLUL
2   HSIPL

**Top Prefix Codes Compton uses:**

  prefix
2  HSIPL
0  HP21L
1  HPLUL

**Top Prefix Codes Corcoran uses:**

  prefix
2  HIPL5
1   HIPL
0    CML

**Top Prefix Codes Cotati uses:**

   prefix
1  CRRSAL
2    STPL
0     CML

**Top Prefix Codes Covina uses:**

  prefix
1  HSIPL
0  HPLUL
2   STPL

**Top Prefix Codes Desert Hot Springs uses:**

  prefix
1  SRTSL
0  HSIPL
2   STPL

**Top Prefix Codes Dublin uses:**

  prefix
0    CML
1  HPLUL
2   STPL

**Top Prefix Codes Dunsmuir uses:**

   prefix
0    BHLO
1    BRLO
2  RPSTPL

**Top Prefix Codes Eastvale uses:**

  prefix
2   STPL
0    CML
1  HSIPL

**Top Prefix Codes El Paso De Robles uses:**

   prefix
2  RPSTPL
0    BHLS
1     CML

**Top Prefix Codes Farmersville uses:**

    prefix
0  CMHSIPL
2     STPL
1      CML

**Top Prefix Codes Fort Bragg uses:**

   prefix
0  ATPLNI
2   SRTSL
1  DEMO6L

**Top Prefix Codes Glendora uses:**

  prefix
0   BHLS
1  HSIPL
2   STPL

**Top Prefix Codes Golden Empire Transit District uses:**

     prefix
2  FTACML14
0    CMLFTA
1    FTACML

**Top Prefix Codes Hanford uses:**

  prefix
2  HSIPL
1  CMLNI
0    CML

**Top Prefix Codes Hawaiian Gardens uses:**

  prefix
1  SRTSL
0  HSIPL
2   STPL

**Top Prefix Codes Hercules uses:**

   prefix
2  TGR2DG
0     CML
1    STPL

**Top Prefix Codes Hughson uses:**

   prefix
0     CML
1  STPCML
2    STPL

**Top Prefix Codes Imperial County Transportation Commission uses:**

   prefix
2  FTACML
0  BUILDL
1     CML

**Top Prefix Codes Jurupa Valley uses:**

   prefix
0  ACSTER
1      ER
2   HSIPL

**Top Prefix Codes La Mirada uses:**

  prefix
0  HSIPL
1   STPL
2  STPLG

**Top Prefix Codes Lathrop uses:**

  prefix
0   BRLS
2   STPL
1    CML

**Top Prefix Codes Lawndale uses:**

    prefix
0    HPLUL
1    HSIPL
2  SRTSLNI

**Top Prefix Codes Livermore Amador Valley Transit Authority uses:**

    prefix
1  FTACRAL
2   RPSTPL
0   FTACML

**Top Prefix Codes Los Banos uses:**

     prefix
2     SRTSL
1  HIPLPPSB
0       CML

**Top Prefix Codes Los Gatos uses:**

  prefix
2   STPL
0    CML
1  HSIPL

**Top Prefix Codes Manhattan Beach uses:**

  prefix
2  SRTSL
1  HSIPL
0  HPLUL

**Top Prefix Codes Milpitas uses:**

  prefix
1  SRTSL
0    CML
2   STPL

**Top Prefix Codes Montclair uses:**

   prefix
2  PNRSHP
1   HSIPL
0    BRLS

**Top Prefix Codes Moorpark uses:**

  prefix
1  HSIPL
0    CML
2   STPL

**Top Prefix Codes Napa County Transportation Planning Agency uses:**

    prefix
0   ATPSB1
1      CML
2  FTASTPL

**Top Prefix Codes Napa Valley Transportation Authority uses:**

      prefix
0       ATPL
1     ATPLNI
2  FTASTPCML

**Top Prefix Codes Needles uses:**

   prefix
1  CPFCDS
2    NCPD
0   BPMPL

**Top Prefix Codes Novato uses:**

  prefix
0   BHLS
1  HSIPL
2   STPL

**Top Prefix Codes Oakdale uses:**

   prefix
1  CMSTPL
0     CML
2    STPL

**Top Prefix Codes Oakley uses:**

  prefix
0   BRLS
1  HPLUL
2   STPL

**Top Prefix Codes OmniTrans uses:**

    prefix
2  FTASTPL
0  FTAATPL
1   FTACML

**Top Prefix Codes Oroville uses:**

   prefix
0  ATPCML
2   HSIPL
1     CML

**Top Prefix Codes Pacifica uses:**

  prefix
1  HP21L
0    CML
2   STPL

**Top Prefix Codes Palm Desert uses:**

   prefix
0     CML
1  HP21CM
2    STPL

**Top Prefix Codes Perris uses:**

    prefix
0  ATPSB1L
1    HSIPL
2     STPL

**Top Prefix Codes Rancho Cucamonga uses:**

    prefix
1    SRTSL
2  SRTSLNI
0    IMDLN

**Top Prefix Codes Redlands uses:**

  prefix
2  SRTSL
0  BPMPL
1  HSIPL

**Top Prefix Codes Redondo Beach uses:**

   prefix
1  FTACML
0     CML
2    STPL

**Top Prefix Codes Rio Vista uses:**

  prefix
1  HPLUL
0    CML
2  HSIPL

**Top Prefix Codes Riverbank uses:**

   prefix
1  STPCML
2    STPL
0     CML

**Top Prefix Codes Rocklin uses:**

  prefix
2   STPL
0   BPMP
1    CML

**Top Prefix Codes Rohnert Park uses:**

   prefix
1  RPSTPL
0     CML
2    STPL

**Top Prefix Codes Rosemead uses:**

  prefix
1  SRTSL
2   STPL
0  HSIPL

**Top Prefix Codes Sacramento Regional Transit District uses:**

    prefix
1  FTAHIPL
2  FTASTPL
0   FTACML

**Top Prefix Codes San Francisco Department of Public Health uses:**

    prefix
2  SRTSLNI
0   ATPLNI
1      CML

**Top Prefix Codes San Jacinto uses:**

  prefix
0     ER
2  STPLN
1  HSIPL

**Top Prefix Codes San Marino uses:**

    prefix
2  SRTSLNI
1    SRTSL
0       ER

**Top Prefix Codes Santa Clara uses:**

  prefix
1  HSIPL
2   STPL
0    CML

**Top Prefix Codes Santa Cruz County Regional Transportation Commission uses:**

   prefix
0  CMSTPL
1  DEM06L
2  STPLNI

**Top Prefix Codes Santa Paula uses:**

    prefix
1  RPSTPLE
0      CML
2     STPL

**Top Prefix Codes Santee uses:**

  prefix
0  BRLSZ
2  SRTSL
1  HSIPL

**Top Prefix Codes Sausalito uses:**

  prefix
1  NMTPL
2   STPL
0    CML

**Top Prefix Codes Seal Beach uses:**

    prefix
0  ATPSB1L
2     STPL
1      CML

**Top Prefix Codes Shasta Lake uses:**

  prefix
1   BRLS
0  BPMPL
2  HSIPL

**Top Prefix Codes Sonoma County Transportation Authority uses:**

  prefix
0    CML
2  HPLUL
1  CMLNI

**Top Prefix Codes Southern California Regional Rail Authority uses:**

   prefix
0   CARSI
2   STPLR
1  FTACML

**Top Prefix Codes Sutter Creek uses:**

  prefix
2  HSIPL
0   BRLO
1   BRLS

**Top Prefix Codes Transit Joint Powers Authority For Merced County uses:**

   prefix
2  FTACML
1   CMLNI
0     CML

**Top Prefix Codes Twentynine Palms uses:**

    prefix
0  ATPSB1L
1       BR
2    HSIPL

**Top Prefix Codes U.S. Forest Service, Pacific Southwest Region uses:**

     prefix
1       FTA
2  USFSSTPL
0      CASB

**Top Prefix Codes Ukiah uses:**

    prefix
1   RPSTPL
2  RPSTPLE
0    HSIPL

**Top Prefix Codes Vernon uses:**

   prefix
2   HSIPL
1    HSIP
0  DBPL02

**Top Prefix Codes Walnut Creek uses:**

  prefix
0   BHLS
1   BRLS
2   STPL

**Top Prefix Codes West Covina uses:**

  prefix
0  HPLUL
1  HSIPL
2   STPL

**Top Prefix Codes Westminster uses:**

  prefix
2   STPL
0   ATPL
1  HSIPL

**Top Prefix Codes Winters uses:**

  prefix
1  HPLUL
0   BRLS
2   STPL

**Top Prefix Codes Yorba Linda uses:**

  prefix
0  HPLUL
2   STPL
1  HSIPL

Popular codes in bottom agencies: 
   * FTACML
   * STP/RPSTP
   * HSIP
   * CML 
   * BRLS
   * BRLO
   * CMLNI

* 140 agencies with 1 unique prefix code.
* 339 agencies with 3 or less prefix codes.

## In which Caltrans Districts do these agencies have the most obligations?

### For the agencies in districts that applied the least

* joining the bottom agencies to the full df
* grouping by dsitrict to count the number of obligation occurances

In [18]:
bottom = (df 
     >> group_by(_.primary_agency_name) 
     >> summarize(n=_.prefix.nunique())
     >> filter(_.n<=3)
)

In [19]:
bottom_join = inner_join(df, bottom, on = "primary_agency_name")

In [20]:
bottom_dist = bottom_join >> group_by(_.dist) >> count(_.dist) >> arrange(-_.n)

In [21]:
bottom_dist.rename(columns={'n': 'bottom_n'}, inplace=True)

In [22]:
bottom_dist

    dist  bottom_n
4      4       448
7      7       425
10    10       423
3      3       269
8      8       267
6      6       225
11    11       128
12    12        90
5      5        89
1      1        70
2      2        53
9      9        13
0      0         8

### For the agencies in districts that applied the most

* joining the top agencies to the full df
* grouping by dsitrict to count the number of obligation occurances

In [23]:
top_join = inner_join(df, top, on = "primary_agency_name")

In [24]:
top_dist = top_join >> group_by(_.dist) >> count(_.dist) >> arrange(-_.n)

In [25]:
top_dist.rename(columns={'n': 'top_n'}, inplace=True)

In [26]:
top_dist

    dist  top_n
4      4   3947
6      6   3676
7      7   3366
3      3   3021
10    10   2703
5      5   1786
8      8   1692
1      1   1557
11    11   1144
12    12    803
2      2    782
9      9    313
0      0     58

### Number of Obligations for Top and Bottom on District
 
* joining the dataframes we just made to compare the top and bottom easier
* finding which districts have the most obligations

In [27]:
dist = full_join(bottom_dist, top_dist, on = "dist")

In [28]:
dist>>arrange(_.dist)

    dist  bottom_n  top_n
12     0         8     58
9      1        70   1557
10     2        53    782
3      3       269   3021
0      4       448   3947
8      5        89   1786
5      6       225   3676
1      7       425   3366
4      8       267   1692
11     9        13    313
2     10       423   2703
6     11       128   1144
7     12        90    803

In [29]:
dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dist      13 non-null     int64
 1   bottom_n  13 non-null     int64
 2   top_n     13 non-null     int64
dtypes: int64(3)
memory usage: 416.0 bytes

In [30]:
dist['bottom_n'] = dist['bottom_n'].fillna(0)

In [31]:
dist['bottom_n'] = dist['bottom_n'].astype(int)

In [32]:
dist.rename(columns={'dist': 'district'}, inplace=True)

In [33]:
dist>>arrange(_.district)

    district  bottom_n  top_n
12         0         8     58
9          1        70   1557
10         2        53    782
3          3       269   3021
0          4       448   3947
8          5        89   1786
5          6       225   3676
1          7       425   3366
4          8       267   1692
11         9        13    313
2         10       423   2703
6         11       128   1144
7         12        90    803

## Findings:

* **339 agencies** have **3 or less** unique prefixes. 
* **80 agencies** have **10 or more** unique prefixes, with the following **9 agenceies** listed with **20 or more**. 
* **District 7 and District 2** have the most obligations out of the top and bottom agencies



| Top Agencies  | Bottom Agencies (sample of 9)|
| ------------- | ------------- | 
| Los Angeles | Sonoma County Transportation Authority | 
| Caltrans  |Port Of Long Beach |   
| Los Angeles County |Newport Beach |    
| San Bernardino Associated Governments | Portola | 
| San Diego | Calaveras Council Of Governments | 
| Riverside County | Hawthorne | 
| San Luis Obispo County | Corcoran |  
| Stockton | Claremont | 
| El Dorado County | El Cajon |