In [1]:
import pandas as pd
import geopandas as gpd
from siuba import *

In [2]:
results = gpd.read_parquet('outputs/new_trips_with_uza.parquet')

In [3]:
results >> head(3)

,GEOID,geometry,p50_mi_transit,p50_mi_auto,total_mi_transit,total_mi_auto,p50_transit_longer,no_transit_replica,no_transit,total_mi,new_transit_mi,projected_new_transit_trips,index_right,UACE10,NAME10,total_pop,new_trips_per_capita
0,6029004402,"POLYGON ((59906.842 -270407.558, 59906.948 -27...",42.2,1.7,84.4,148755.4,True,False,False,148839.8,41329.266335,979.0,2554.0,92161,"Wasco, CA",4027,0.243109
1,6047000802,"POLYGON ((-52727.332 -74888.681, -52723.908 -7...",4.0,4.0,NaN,90331.2,False,True,False,NaN,25097.053439,6274.0,8.0,56251,"Merced, CA",4709,1.332342
2,6085501402,"POLYGON ((-165759.786 -73091.934, -165741.347 ...",3.5,4.6,140.3,47341.1,False,False,False,47481.4,13152.953980,3757.0,1694.0,79039,"San Jose, CA",2962,1.268400

In [4]:
ntd_totals = pd.read_excel('census_ntd/2022 UZA Sums_0.xlsx')

In [5]:
ntd_totals >> head(3)

,UACE CD,UZA Name,UZA Population,Total Vehicle Revenue Miles,Total Vehicle Revenue Hours,Total Passenger Miles Traveled,Total Unlinked Passenger Trips,Total Operating Expenses,Fixed Guideway Directional Route Miles,Fixed Guideway Vehicle Revenue Miles,Fixed Guideway Passenger Miles,Fixed Guideway Operating Expenses,Non-Fixed Guideway Vehicle Revenue Miles,Non-Fixed Guideway Passenger Miles,Non-Fixed Guideway Operating Expenses,Fixed Guideway Directional Route Miles >= 7 Years,Fixed Guideway Vehicle Revenue Miles >= 7 Years,High Intensity Bus Directional Route Miles >= 7 Years,High Intensity Bus Vehicle Revenue Miles >= 7 Years
0,1,Alabama Non-UZA,NaN,5191052,311767,1657944,847168,18285687,0.0,0,0,0,2032430,1657944,6989662,0.0,0,0.0,0
1,2,Alaska Non-UZA,NaN,3135019,181845,25208661,1103868,74591876,891.3,1032797,25208661,52590936,526779,0,3461538,891.3,1032797,0.0,0
2,4,Arizona Non-UZA,NaN,6917128,322764,13610232,1394405,24844073,0.0,0,0,0,5011277,13610232,16875708,0.0,0,0.0,0

In [6]:
from calitp_data_analysis.sql import to_snakecase

In [7]:
ntd_totals = to_snakecase(ntd_totals)

In [8]:
ntd_totals.columns

Index(['uace_cd', 'uza_name', 'uza_population', 'total_vehicle_revenue_miles',
       'total_vehicle_revenue_hours', 'total_passenger_miles_traveled',
       'total_unlinked_passenger_trips', 'total_operating_expenses',
       'fixed_guideway_directional_route_miles',
       'fixed_guideway_vehicle_revenue_miles',
       'fixed_guideway_passenger_miles', 'fixed_guideway_operating_expenses',
       'non_fixed_guideway_vehicle_revenue_miles',
       'non_fixed_guideway_passenger_miles',
       'non_fixed_guideway_operating_expenses',
       'fixed_guideway_directional_route_miles_>=_7_years',
       'fixed_guideway_vehicle_revenue_miles_>=_7_years',
       'high_intensity_bus_directional_route_miles_>=_7_years',
       'high_intensity_bus_vehicle_revenue_miles_>=_7_years'],
      dtype='object')

In [9]:
upt_df = ntd_totals >> select(_.uace_cd, _.uza_name, _.total_unlinked_passenger_trips, _.uza_population)

In [10]:
upt_df

,uace_cd,uza_name,total_unlinked_passenger_trips,uza_population
0,1,Alabama Non-UZA,847168,NaN
1,2,Alaska Non-UZA,1103868,NaN
2,4,Arizona Non-UZA,1394405,NaN
3,5,Arkansas Non-UZA,799801,NaN
4,6,California Non-UZA,7350357,NaN
...,...,...,...,...
549,69517,"Pinehurst--Southern Pines, NC",9046,50319.0
550,45262,"Kingston, NY",161584,50254.0
551,27631,"Enid, OK",38411,50194.0
552,15184,"Chambersburg, PA",39130,50094.0
553,91405,"Walla Walla, WA--OR",327185,50013.0

In [11]:
upt_df.dtypes

uace_cd                             int64
uza_name                           object
total_unlinked_passenger_trips      int64
uza_population                    float64
dtype: object

In [12]:
results.UACE10 = results.UACE10.fillna(6).astype('int64') #  6 is CA non-UZA

In [13]:
uza_grouped = (results >> group_by(_.UACE10, _.NAME10)
    >> summarize(new_transit_mi_weekday = _.new_transit_mi.sum(),
                new_transit_trips_weekday = _.projected_new_transit_trips.sum(),
                 num_tracts = _.shape[0]
                )
)

In [14]:
df = (uza_grouped >> inner_join(_, upt_df, on = {'UACE10': 'uace_cd'})
      >> mutate(current_weekday_trips = _.total_unlinked_passenger_trips / (365 - 104))
      >> mutate(increase_ratio = _.new_transit_trips_weekday / _.current_weekday_trips,
               new_trips_per_capita = _.new_transit_trips_weekday / _.uza_population,
               )
      >> arrange(-_.new_transit_trips_weekday)
     ).round(2)

In [15]:
df.to_csv('vmt_to_transit_uza.csv', index = False)

In [16]:
## What happens if you compare to 2019/08?

In [17]:
df >> select(-_.UACE10, -_.NAME10, -_.uace_cd)

,new_transit_mi_weekday,new_transit_trips_weekday,num_tracts,uza_name,total_unlinked_passenger_trips,uza_population,current_weekday_trips,increase_ratio,new_trips_per_capita
17,1.015789e+08,13230200.0,2974,"Los Angeles--Long Beach--Anaheim, CA",352876967,12237376.0,1352019.03,9.79,1.08
33,2.939732e+07,4005496.0,880,"San Francisco--Oakland, CA",174947309,3515933.0,670296.20,5.98,1.14
32,2.951033e+07,3252737.0,714,"San Diego, CA",63873516,3070300.0,244726.11,13.29,1.06
29,2.148795e+07,2516538.0,447,"Riverside--San Bernardino, CA",7649513,2276703.0,29308.48,85.86,1.11
30,1.810016e+07,1985167.0,452,"Sacramento, CA",11886782,1946618.0,45543.23,43.59,1.02
34,1.586511e+07,1741073.0,398,"San Jose, CA",22102814,1837446.0,84685.11,20.56,0.95
10,6.356216e+06,1136586.0,166,"Fresno, CA",7205414,717589.0,27606.95,41.17,1.58
24,3.502044e+06,883930.0,95,"Oxnard--San Buenaventura (Ventura), CA",2795139,376117.0,10709.34,82.54,2.35
0,9.380291e+06,852281.0,200,California Non-UZA,7350357,NaN,28162.29,30.26,NaN
3,4.994286e+06,843937.0,156,"Bakersfield, CA",3201508,570235.0,12266.31,68.80,1.48
43,4.068842e+06,824982.0,99,"Stockton, CA",2276298,414847.0,8721.45,94.59,1.99
14,4.617474e+06,754544.0,105,"Indio--Palm Desert--Palm Springs, CA",2087445,361075.0,7997.87,94.34,2.09
48,3.813196e+06,725369.0,79,"Victorville--Hesperia--Apple Valley, CA",932423,355816.0,3572.50,203.04,2.04
40,3.330290e+06,681397.0,83,"Santa Rosa, CA",1763224,297329.0,6755.65,100.86,2.29
36,2.307279e+06,638503.0,54,"Santa Barbara, CA",4292799,202197.0,16447.51,38.82,3.16
49,2.463079e+06,632700.0,56,"Visalia, CA",572862,160578.0,2194.87,288.26,3.94
22,3.438503e+06,613156.0,86,"Modesto, CA",1638903,357301.0,6279.32,97.65,1.72
21,5.987486e+06,571394.0,124,"Mission Viejo--Lake Forest--Laguna Niguel, CA",3027974,646843.0,11601.43,49.25,0.88
31,1.914888e+06,501002.0,46,"Salinas, CA",706072,177532.0,2705.26,185.20,2.82
6,7.186704e+06,456303.0,151,"Concord--Walnut Creek, CA",7508917,538583.0,28769.80,15.86,0.85
38,2.053463e+06,390836.0,50,"Santa Cruz, CA",2019665,169038.0,7738.18,50.51,2.31
13,1.954984e+06,388747.0,48,"Hemet, CA",466576,173194.0,1787.65,217.46,2.24
41,1.856838e+06,373048.0,40,"Seaside--Monterey--Pacific Grove, CA",1002994,123495.0,3842.89,97.07,3.02
44,2.878925e+06,363132.0,59,"Thousand Oaks, CA",209157,213986.0,801.37,453.14,1.70
39,1.319715e+06,361248.0,32,"Santa Maria, CA",506498,143609.0,1940.61,186.15,2.52
20,1.467092e+06,345085.0,37,"Merced, CA",351235,150052.0,1345.73,256.43,2.30
5,1.225752e+06,332072.0,27,"Chico, CA",485301,111411.0,1859.39,178.59,2.98
7,7.742654e+05,320531.0,20,"Davis, CA",2129760,77034.0,8160.00,39.28,4.16
27,1.523897e+06,303732.0,40,"Redding, CA",246884,120602.0,945.92,321.10,2.52
37,3.197403e+06,284559.0,63,"Santa Clarita, CA",2065119,278031.0,7912.33,35.96,1.02
35,1.257978e+06,283512.0,17,"San Luis Obispo, CA",740931,56904.0,2838.82,99.87,4.98
52,1.349172e+06,282568.0,30,"Yuba City, CA",438904,125706.0,1681.62,168.03,2.25
18,8.652113e+05,257937.0,20,"Madera, CA",52164,81635.0,199.86,1290.58,3.16
42,1.351613e+06,230839.0,33,"Simi Valley, CA",164630,127364.0,630.77,365.97,1.81
26,6.655831e+05,225769.0,19,"Porterville, CA",182082,69862.0,697.63,323.62,3.23
16,4.978785e+05,217504.0,13,"Lompoc, CA",144899,54287.0,555.17,391.78,4.01
12,1.128180e+06,204620.0,20,"Hanford, CA",415547,66638.0,1592.13,128.52,3.07
46,1.244253e+06,185243.0,24,"Vacaville, CA",261055,101027.0,1000.21,185.20,1.83
19,1.440176e+06,182203.0,24,"Manteca, CA",247773,86674.0,949.32,191.93,2.10
9,1.510021e+06,181956.0,36,"Fairfield, CA",371893,150122.0,1424.88,127.70,1.21
23,1.014432e+06,175937.0,28,"Napa, CA",377272,84619.0,1445.49,121.71,2.08
45,1.098035e+06,172029.0,27,"Turlock, CA",340324,79203.0,1303.92,131.93,2.17
50,8.553466e+05,167413.0,26,"Watsonville, CA",1263457,68668.0,4840.83,34.58,2.44
8,1.170922e+06,162850.0,19,"El Paso de Robles (Paso Robles)--Atascadero, CA",184534,67804.0,707.03,230.33,2.40
2,1.097684e+06,147963.0,16,"Arroyo Grande--Grover Beach--Pismo Beach, CA",247369,50885.0,947.77,156.12,2.91
11,1.467065e+06,135790.0,26,"Gilroy--Morgan Hill, CA",76517,114833.0,293.17,463.18,1.18
1,2.925885e+06,119287.0,62,"Antioch, CA",3395022,326205.0,13007.75,9.17,0.37
47,1.715743e+06,99035.0,45,"Vallejo, CA",582765,175132.0,2232.82,44.35,0.57
4,8.633931e+05,95216.0,18,"Camarillo, CA",198858,76338.0,761.91,124.97,1.25
51,5.997722e+05,75208.0,15,"Woodland, CA",196091,61133.0,751.31,100.10,1.23
15,8.076975e+05,73396.0,22,"Lodi, CA",207778,73090.0,796.08,92.20,1.00
25,6.924392e+05,34302.0,16,"Petaluma, CA",255372,65227.0,978.44,35.06,0.53
53,1.880209e+04,3032.0,1,"Yuma, AZ--CA",1601570,135717.0,6136.28,0.49,0.02
28,5.827465e+04,2660.0,1,"Reno, NV--CA",4316186,446529.0,16537.11,0.16,0.01

About 18 million new daily trips across LA/Orange/San Diego/Imperial Counties. For reference, LA Metro's daily ridership is around 1 million. Current regional transit modeshare is only about 5%...

# Statewide

In [18]:
df.sum()

/tmp/ipykernel_567/1703867807.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.sum()

UACE10                                                                      3281692
new_transit_mi_weekday                                                 323248206.03
new_transit_trips_weekday                                                44026554.0
num_tracts                                                                     8339
uace_cd                                                                     3281692
uza_name                          Los Angeles--Long Beach--Anaheim, CASan Franci...
total_unlinked_passenger_trips                                            704442418
uza_population                                                           34366472.0
current_weekday_trips                                                     2699013.1
increase_ratio                                                              8222.95
new_trips_per_capita                                                         104.13
dtype: object

In [19]:
df.sum()['new_transit_trips_weekday'] / df.sum()['current_weekday_trips']

/tmp/ipykernel_567/3999246341.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.sum()['new_transit_trips_weekday'] / df.sum()['current_weekday_trips']
/tmp/ipykernel_567/3999246341.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.sum()['new_transit_trips_weekday'] / df.sum()['current_weekday_trips']

16.312093483355078

# By MPO

In [20]:
mpo = gpd.read_file('census_ntd/mpos.geojson')
# trips_by_tract = gpd.read_parquet('outputs/')

In [21]:
import shared_utils

In [22]:
mpo = mpo[['MPO', 'LABEL_MPO', 'geometry']]
mpo = mpo.to_crs(shared_utils.geography_utils.CA_NAD83Albers)

In [23]:
results = results >> select(-_.index_right)

In [24]:
mpo_joined = gpd.sjoin(results, mpo, how = 'left')

In [25]:
##  add population, per capita...

df2 = (mpo_joined >> group_by(_.MPO, _.LABEL_MPO)    
    >> summarize(new_transit_mi_weekday = _.new_transit_mi.sum(),
                new_transit_trips_weekday = _.projected_new_transit_trips.sum(),
                 num_tracts = _.shape[0],
                 population = _.total_pop.sum()
                )
      >> mutate(new_trips_per_capita = _.new_transit_trips_weekday / _.population)
      >> mutate(new_transit_mi_pct = _.new_transit_mi_weekday / _.new_transit_mi_weekday.sum())
      ).round(2) >> arrange(-_.new_transit_trips_weekday)

In [26]:
df2.to_csv('vmt_to_transit_mpo.csv', index = False)