In [1]:
import sys

sys.path.append("../")  # up one level

import os
import shutil

import gcsfs
import geopandas as gpd
import pandas as pd
from calitp_data_analysis.sql import to_snakecase
from calitp_data_analysis.tables import tbls
from segment_speed_utils.project_vars import PUBLIC_GCS
from siuba import _, collect, count, filter, show_query, select
from update_vars import GCS_FILE_PATH, NTD_MODES, NTD_TOS

GCS_FILE_PATH = "gs://calitp-analytics-data/data-analyses/ntd/"

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [2]:
# need to find a way to filter  ntd service to California agencies only.
ntd_service = (
    tbls.mart_ntd.dim_annual_service_agencies()
    >> filter(_.primary_uza_name.str.contains(", CA"))
    >> select(
        "report_year",
        "ntd_id",
        "agency",
        "reporter_type",
        "organization_type",
        "city",
        "primary_uza_name",
        "actual_vehicles_passenger_car_revenue_hours",
        "actual_vehicles_passenger_car_revenue_miles",
        "unlinked_passenger_trips_upt"
    )
    >> collect()
)
ntd_service.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 10 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   report_year                                  315 non-null    int64
 1   ntd_id                                       315 non-null    object
 2   agency                                       315 non-null    object
 3   reporter_type                                315 non-null    object
 4   organization_type                            315 non-null    object
 5   city                                         312 non-null    object
 6   primary_uza_name                             315 non-null    object
 7   actual_vehicles_passenger_car_revenue_hours  315 non-null    float64
 8   actual_vehicles_passenger_car_revenue_miles  315 non-null    float64
 9   unlinked_passenger_trips_upt                 315 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 24.7+ KB

In [3]:
# reading in NTD ID crosswalk from GCS
crosswalk = pd.read_csv(
    f"{GCS_FILE_PATH}ntd_id_rtpa_crosswalk.csv", dtype={"ntd_id": "str"}
).rename(columns={"NTD ID": "ntd_id"})

crosswalk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ntd_id          122 non-null    object
 1   Legacy NTD ID   111 non-null    object
 2   Agency          122 non-null    object
 3   UZA Name        121 non-null    object
 4   RTPA_open_data  122 non-null    object
 5   RTPA            122 non-null    object
dtypes: object(6)
memory usage: 5.8+ KB

In [4]:
# are all agencies in the ntd_service in the crosswalk?
check = ntd_service.merge(crosswalk, on="ntd_id", how="left", indicator=True)

# check to see if any agencies in ntd_service did not merge.
check[check["_merge"] == "left_only"][["agency", "reporter_type"]].value_counts()

# the rural reporters did not merge with an NTD ID from crosswalk

agency                                                                          reporter_type
Los Angeles County                                                              Reduced Reporter    10
City of Agoura Hills                                                            Reduced Reporter     2
City of Pico Rivera                                                             Reduced Reporter     2
City of Downey                                                                  Reduced Reporter     2
City of Glendora                                                                Reduced Reporter     2
City of Huntington Park                                                         Reduced Reporter     2
City of Lakewood , dba: DASH Transit                                            Reduced Reporter     2
City of Malibu                                                                  Reduced Reporter     2
City of Manteca, dba: Manteca Transit                                           Reduced Reporter     2
City of Maywood                                                                 Reduced Reporter     2
City of Santa Fe Springs                                                        Reduced Reporter     2
City of Covina                                                                  Reduced Reporter     2
City of South Gate                                                              Reduced Reporter     2
City of South Pasadena                                                          Reduced Reporter     2
City of West Covina                                                             Reduced Reporter     2
City of West Hollywood                                                          Reduced Reporter     2
City of Whittier                                                                Reduced Reporter     2
County of Ventura                                                               Reduced Reporter     2
Easy Lift Transportation                                                        Reduced Reporter     2
City of Davis, dba: Davis Community Transit                                     Reduced Reporter     2
City of Manhattan Beach , dba: City of Manhattan Beach Dial-A-Ride              Reduced Reporter     2
Palos Verdes Peninsula Transit Authority                                        Reduced Reporter     2
City of Camarillo, dba: Camarillo Area Transit                                  Reduced Reporter     2
City of Bell                                                                    Reduced Reporter     2
City of Baldwin Park, dba: Baldwin Park Transit                                 Reduced Reporter     2
City of Azusa                                                                   Reduced Reporter     2
City of Artesia                                                                 Reduced Reporter     2
City of Burbank                                                                 Reduced Reporter     2
City of Calabasas                                                               Reduced Reporter     2
City of Bell Gardens                                                            Reduced Reporter     2
City of Bellflower                                                              Reduced Reporter     2
City of Compton  , dba: Compton Renaissance Transit Service                     Reduced Reporter     2
City of Carson                                                                  Reduced Reporter     2
Los Angeles County Dept. of Public Works - King Medical Center Shuttle Service  Reduced Reporter     1
City of Alhambra, dba: Alhambra Community Transit  aka ACT                      Reduced Reporter     1
City of Tracy                                                                   Reduced Reporter     1
City of Tracy, dba: TRACER                                                      Reduced Reporter     1
Madera County                                                                   Rural Reporter       1
                                                                                Reduced Reporter     1
City of Atascadero, dba: Atascadero Dial A Ride                                 Reduced Reporter     1
City of Atascadero                                                              Reduced Reporter     1
Los Angeles County, dba: LA County Public Works                                 Reduced Reporter     1
Los Angeles County Department of Public Works - Avocado Heights                 Reduced Reporter     1
Los Angeles County Dept. of Public Works - Lennox Shuttle                       Reduced Reporter     1
Los Angeles County Department of Public Works - East L.A.                       Reduced Reporter     1
Los Angeles County Dept. of Public Works - Willowbrook et al.                   Reduced Reporter     1
Los Angeles County Department of Public Works - East Valinda                    Reduced Reporter     1
Los Angeles County Dept. of Public Works - Willowbrook Shuttle                  Reduced Reporter     1
Los Angeles County Department of Public Works - Whittier                        Reduced Reporter     1
Los Angeles County Dept. of Public Works - Athens Shuttle Service               Reduced Reporter     1
Los Angeles County Dept. of Public Works - Florence-Firestone                   Reduced Reporter     1
Los Angeles County Department of Public Works - South Whittier                  Reduced Reporter     1
City of Cudahy                                                                  Reduced Reporter     1
City of Rosemead, dba: Rosemead Explorer/Dial-A-Ride                            Reduced Reporter     1
City of Cudahy, dba: Cudahy Area Rapid Transit                                  Reduced Reporter     1
City of Cerritos, dba: Cerritos Transit Services                                Reduced Reporter     1
City of El Monte                                                                Reduced Reporter     1
City of El Monte , dba: City of El Monte Transportation Division                Reduced Reporter     1
City of Escalon, dba: eTrans                                                    Reduced Reporter     1
City of Cerritos                                                                Reduced Reporter     1
City of Inglewood                                                               Reduced Reporter     1
City of Inglewood, dba: Inglewood Senior Center                                 Reduced Reporter     1
City of Lynwood                                                                 Reduced Reporter     1
City of Lynwood, dba: Lynwood Breeze                                            Reduced Reporter     1
City of Madera                                                                  Reduced Reporter     1
City of Madera, dba: Madera Metro                                               Reduced Reporter     1
City of Alhambra, dba: Alhambra Community Transit                               Reduced Reporter     1
City of Beverly Hills, dba: Beverly Hills Dial-A-Ride                           Reduced Reporter     1
City of Monrovia                                                                Reduced Reporter     1
City of Monrovia, dba: GoMonrovia                                               Reduced Reporter     1
City of Monterey Park                                                           Reduced Reporter     1
City of Monterey Park, dba: Spirit Bus                                          Reduced Reporter     1
City of Moorpark                                                                Reduced Reporter     1
City of Moorpark, dba: Moorpark City Transit                                    Reduced Reporter     1
City of Ojai                                                                    Reduced Reporter     1
City of Beverly Hills                                                           Reduced Reporter     1
City of Rosemead                                                                Reduced Reporter     1
dtype: int64

In [5]:
# crosswalk[["UZA Name", "RTPA"]].sort_values(by="UZA Name")

Some UZA Names can go to multiple RTPAs
- some agencies in the Sacramento UZA go to Sac and Placer RTPA
- some agencies in LA UZA got to Metro or OCTA

## Maybe its easier to find the RTPA of the rural/reduced reporter agencies
- how many rural/reduced reporters are there?

In [6]:
ntd_service["reporter_type"].value_counts()

Full Reporter       165
Reduced Reporter    148
Rural Reporter        2
Name: reporter_type, dtype: int64

In [8]:
rural_reduced_reporters = ntd_service[ntd_service["reporter_type"]!="Full Reporter"].sort_values(by="primary_uza_name")

In [9]:
#rural_reduced_reporters.to_csv("rural_reduced_reporters.csv")

## Get all operators from RTPA using function from Tiffany

via [slack thread](https://cal-itp.slack.com/archives/C02H6JUSS9L/p1729102048291249)

initial work done in `rtpa_operator_explore.ipynb`

- rip `create_gtfs_dataset_key_to_organization_crosswalk` function from `gtfs_funnel/crosswalk_gtfs_dataset_key_to_organization.py`
- rip any date from GCS (latest is 2025-01-15) `calitp-analytics-data/data-analyses/gtfs_schedule/crosswalk`
- find the corresponding crosswalk by date (2025-01-15) via `calitp-analytics-data/data-analyses/gtfs_schedule/crosswalk`

can use these 2 dataframes to go from `schedule_gtfs_dataset_key (operator)` > `ntd_id`

A single schedule feed can have multiple operators. This is how you identify

In [26]:
# need this to run `create_gtfs_dataset_key_to_organzaition_crosswalk`
from shared_utils.schedule_rt_utils import sample_gtfs_dataset_key_to_organization_crosswalk
from segment_speed_utils import helpers

In [27]:
def create_gtfs_dataset_key_to_organization_crosswalk(
    analysis_date: str
) -> pd.DataFrame:
    """
    For every operator that appears in schedule data, 
    create a crosswalk that links to organization_source_record_id.
    For all our downstream outputs, at various aggregations,
    we need to attach these over and over again.
    """
    df = helpers.import_scheduled_trips(
        analysis_date,
        columns = ["gtfs_dataset_key", "name"],
        get_pandas = True
    ).rename(columns = {"schedule_gtfs_dataset_key": "gtfs_dataset_key"})
    # rename columns because we must use simply gtfs_dataset_key in schedule_rt_utils function
    
    # Get base64_url, organization_source_record_id and organization_name
    crosswalk = sample_gtfs_dataset_key_to_organization_crosswalk(
        df,
        analysis_date,
        quartet_data = "schedule",
        dim_gtfs_dataset_cols = ["key", "source_record_id", "base64_url"],
        dim_organization_cols = ["source_record_id", "name", 
                                 "itp_id", "caltrans_district",
                                  "ntd_id_2022"]
    )

    df_with_org = pd.merge(
        df.rename(columns = {"gtfs_dataset_key": "schedule_gtfs_dataset_key"}),
        crosswalk,
        on = "schedule_gtfs_dataset_key",
        how = "inner"
    )
    
    return df_with_org

In [34]:
# get gtfs to org df
gtfs_to_org = create_gtfs_dataset_key_to_organization_crosswalk(
            "2025-01-15"
        )

# initialize gtfs rosswalk
jan_crosswalk = pd.read_parquet(
    "gs://calitp-analytics-data/data-analyses/gtfs_schedule/crosswalk/gtfs_key_organization_2025-01-15.parquet"
)

In [37]:
# initialize ntd to rtpa crosswak
ntd_rtpa_crosswalk= pd.read_csv(
        f"gs://calitp-analytics-data/data-analyses/ntd/ntd_id_rtpa_crosswalk.csv", 
        dtype = {"NTD ID": "str"}
    #have to rename NTD ID col to match the dim table
    ).rename(columns={"NTD ID": "ntd_id"})

In [39]:
display(gtfs_to_org.info(),
        jan_crosswalk.info(),
        ntd_rtpa_crosswalk.info(),
        rural_reduced_reporters.info() #are these operaotrs in the gtfs to org?
       )

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 0 to 215
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   schedule_gtfs_dataset_key      216 non-null    object
 1   name                           216 non-null    object
 2   schedule_source_record_id      216 non-null    object
 3   base64_url                     216 non-null    object
 4   organization_source_record_id  216 non-null    object
 5   organization_name              216 non-null    object
 6   itp_id                         204 non-null    float64
 7   caltrans_district_x            214 non-null    object
 8   ntd_id_2022                    172 non-null    object
 9   caltrans_district_y            216 non-null    object
dtypes: float64(1), object(9)
memory usage: 18.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 0 to 215
Data columns (total 30 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   schedule_gtfs_dataset_key          216 non-null    object
 1   name                               216 non-null    object
 2   schedule_source_record_id          216 non-null    object
 3   base64_url                         216 non-null    object
 4   organization_source_record_id      216 non-null    object
 5   organization_name                  216 non-null    object
 6   caltrans_district                  216 non-null    object
 7   counties_served                    122 non-null    object
 8   hq_city                            156 non-null    object
 9   hq_county                          124 non-null    object
 10  is_public_entity                   124 non-null    object
 11  is_publicly_operating              124 non-null    object
 12  funding_sources                    102 non-null    object
 13  on_demand_vehicles_at_max_service  65 non-null     Int64
 14  vehicles_at_max_service            158 non-null    Int64
 15  number_of_state_counties           0 non-null      Int64
 16  primary_uza_name                   125 non-null    object
 17  density                            126 non-null    float64
 18  number_of_counties_with_service    0 non-null      Int64
 19  state_admin_funds_expended         0 non-null      float64
 20  service_area_sq_miles              122 non-null    Int64
 21  population                         126 non-null    float64
 22  service_area_pop                   122 non-null    Int64
 23  subrecipient_type                  33 non-null     object
 24  primary_uza_code                   0 non-null      object
 25  reporter_type                      158 non-null    object
 26  organization_type                  158 non-null    object
 27  voms_pt                            129 non-null    Int64
 28  voms_do                            66 non-null     Int64
 29  year                               158 non-null    Int64
dtypes: Int64(9), float64(3), object(18)
memory usage: 54.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ntd_id          122 non-null    int64
 1   Legacy NTD ID   111 non-null    object
 2   Agency          122 non-null    object
 3   UZA Name        121 non-null    object
 4   RTPA_open_data  122 non-null    object
 5   RTPA            122 non-null    object
dtypes: int64(1), object(5)
memory usage: 5.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 313 to 173
Data columns (total 10 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   report_year                                  150 non-null    int64
 1   ntd_id                                       150 non-null    object
 2   agency                                       150 non-null    object
 3   reporter_type                                150 non-null    object
 4   organization_type                            150 non-null    object
 5   city                                         147 non-null    object
 6   primary_uza_name                             150 non-null    object
 7   actual_vehicles_passenger_car_revenue_hours  150 non-null    float64
 8   actual_vehicles_passenger_car_revenue_miles  150 non-null    float64
 9   unlinked_passenger_trips_upt                 150 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 12.9+ KB

None

None

None

None