In [10]:
import geopandas as gpd
import pandas as pd
from segment_speed_utils import gtfs_schedule_wrangling, helpers
from shared_utils import catalog_utils, rt_dates, rt_utils
from update_vars import GTFS_DATA_DICT, RT_SCHED_GCS, SCHED_GCS

# https://github.com/cal-itp/data-analyses/blob/main/_shared_utils/shared_utils/gtfs_analytics_data.yml
GTFS_DATA_DICT = catalog_utils.get_catalog("gtfs_analytics_data")

from segment_speed_utils.project_vars import (GTFS_DATA_DICT,
                                              SEGMENT_GCS, 
                                              COMPILED_CACHED_VIEWS,
                                              RT_SCHED_GCS, 
                                              SCHED_GCS,
                                              PROJECT_CRS)

In [11]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

In [12]:
analysis_date_list = rt_dates.y2024_dates + rt_dates.y2023_dates

In [13]:
analysis_date_list

['2024-01-17',
 '2024-02-14',
 '2024-03-13',
 '2024-04-17',
 '2024-05-22',
 '2024-06-12',
 '2024-07-17',
 '2023-03-15',
 '2023-04-12',
 '2023-05-17',
 '2023-06-14',
 '2023-07-12',
 '2023-08-15',
 '2023-09-13',
 '2023-10-11',
 '2023-11-15',
 '2023-12-13']

In [14]:
may_date = '2024-05-22'

### Find frequent routes
* Try to figure out where `frequency` is calculated
    * `gtfs_funnel/schedule_stats_by_route`

In [15]:
RT_SCHED_GCS

'gs://calitp-analytics-data/data-analyses/rt_vs_schedule/'

In [16]:
GTFS_DATA_DICT.rt_vs_schedule_tables.sched_trip_metrics

'schedule_trip/schedule_trip_metrics'

In [17]:
trip_metrics = pd.read_parquet(
    "gs://calitp-analytics-data/data-analyses/rt_vs_schedule/schedule_trip/schedule_trip_metrics_2024-05-22.parquet"
)

In [18]:
trip_metrics.head(2)

,schedule_gtfs_dataset_key,trip_instance_key,median_stop_meters,time_of_day,scheduled_service_minutes,route_id,direction_id
0,0139b1253130b33adcd4b3a4490530d2,0077e9925280810fd23d6f594b4c2d67,719.38,Early AM,71.00,e430d571-76bd-45d4-8b01-76e3ef7c3ae1,NaN
1,0139b1253130b33adcd4b3a4490530d2,00bdede5b26827d02eaf1e91a60cff87,315.95,PM Peak,30.00,T3,NaN

In [19]:
route_group_merge_cols = ["schedule_gtfs_dataset_key", "route_id", "direction_id"]

In [20]:
service_freq_df = gtfs_schedule_wrangling.aggregate_time_of_day_to_peak_offpeak(
    trip_metrics, route_group_merge_cols, long_or_wide="long"
)

In [21]:
service_freq_df.head(2)

,schedule_gtfs_dataset_key,route_id,direction_id,n_trips,time_period,frequency
0,015d67d5b75b5cf2b710bbadadfb75f5,17,0.00,22,all_day,0.92
1,015d67d5b75b5cf2b710bbadadfb75f5,17,1.00,22,all_day,0.92

In [22]:
GTFS_DATA_DICT.rt_vs_schedule_tables.vp_route_direction_metrics

'vp_route_dir/route_direction_metrics'

In [23]:
ROUTE_DIR_EXPORT = GTFS_DATA_DICT.rt_vs_schedule_tables.sched_route_direction_metrics

In [24]:
ROUTE_DIR_EXPORT

'schedule_route_dir/schedule_route_direction_metrics'

In [25]:
may_dir_export = pd.read_parquet(
    "gs://calitp-analytics-data/data-analyses/rt_vs_schedule/schedule_route_dir/schedule_route_direction_metrics_2024-05-22.parquet"
)

In [26]:
may_dir_export.head(2).drop(columns=["geometry"])

,schedule_gtfs_dataset_key,route_id,direction_id,common_shape_id,route_name,avg_scheduled_service_minutes,avg_stop_miles,n_trips,time_period,frequency,is_coverage,is_downtown_local,is_local,is_rapid,is_express,is_rail,route_primary_direction
0,e359e3617344263ad00858db2149a288,6,1.00,p_178727,,24.00,0.21,25,all_day,1.04,1.00,0.00,0.00,1.00,0.00,0.00,Northbound
1,e359e3617344263ad00858db2149a288,6,1.00,p_178727,,24.00,0.21,11,offpeak,0.69,1.00,0.00,0.00,1.00,0.00,0.00,Northbound

#### Use `merge_data.concatenate_schedule_by_route_direction()`

In [27]:
import merge_data

In [28]:
route_dir = merge_data.concatenate_schedule_by_route_direction([may_date])

In [29]:
route_dir.head(2)

,schedule_gtfs_dataset_key,route_id,direction_id,time_period,route_primary_direction,avg_scheduled_service_minutes,avg_stop_miles,n_scheduled_trips,frequency,is_express,is_rapid,is_rail,is_coverage,is_downtown_local,is_local,service_date
0,015d67d5b75b5cf2b710bbadadfb75f5,17,0.00,all_day,Northbound,51.77,0.27,22,0.92,0.00,0.00,0.00,0.00,1.00,0.00,2024-05-22
1,015d67d5b75b5cf2b710bbadadfb75f5,17,0.00,offpeak,Northbound,51.77,0.27,10,0.62,0.00,0.00,0.00,0.00,1.00,0.00,2024-05-22

In [30]:
route_dir["frequency_in_minutes"] = 60 / route_dir.frequency

In [31]:
subset = [
    "schedule_gtfs_dataset_key",
    "route_id",
    "direction_id",
    "route_primary_direction",
    "service_date",
    "frequency_in_minutes",
]

In [32]:
route_dir2 = route_dir[subset]

In [33]:
route_dir2.head(2)

,schedule_gtfs_dataset_key,route_id,direction_id,route_primary_direction,service_date,frequency_in_minutes
0,015d67d5b75b5cf2b710bbadadfb75f5,17,0.00,Northbound,2024-05-22,65.22
1,015d67d5b75b5cf2b710bbadadfb75f5,17,0.00,Northbound,2024-05-22,96.77

In [34]:
route_dir2.frequency_in_minutes.describe()

count   9650.00
mean     203.94
std      317.84
min        4.00
25%       37.97
50%       80.00
75%      193.55
max     1500.00
Name: frequency_in_minutes, dtype: float64

In [35]:
route_dir3 = route_dir2.loc[route_dir2.frequency_in_minutes <= 10]

In [36]:
route_dir3.frequency_in_minutes.describe()

count   122.00
mean      8.05
std       1.60
min       4.00
25%       6.99
50%       8.28
75%       9.38
max      10.00
Name: frequency_in_minutes, dtype: float64

In [37]:
len(route_dir3), len(route_dir2)

(122, 9650)

In [38]:
route_dir3.route_id.nunique()

51

In [39]:
route_dir3.schedule_gtfs_dataset_key.nunique()

9

In [40]:
route_dir3.head(2)

,schedule_gtfs_dataset_key,route_id,direction_id,route_primary_direction,service_date,frequency_in_minutes
200,0666caf3ec1ecc96b74f4477ee4bc939,16-13172,0.00,Eastbound,2024-05-22,8.94
202,0666caf3ec1ecc96b74f4477ee4bc939,16-13172,0.00,Eastbound,2024-05-22,6.76

In [41]:
operators_with_high_frequency_routes = list(route_dir3.schedule_gtfs_dataset_key.unique())

### Look at scheduled trips

In [42]:
TABLE = GTFS_DATA_DICT.schedule_downloads.trips

In [43]:
FILE = f"{COMPILED_CACHED_VIEWS}{TABLE}_{may_date}.parquet"

In [44]:
trips = pd.read_parquet(FILE)

In [45]:
trips.head(2)

,feed_key,gtfs_dataset_key,name,regional_feed_type,service_date,trip_start_date_pacific,trip_id,trip_instance_key,route_key,route_id,route_type,route_short_name,route_long_name,route_desc,direction_id,shape_array_key,shape_id,trip_first_departure_datetime_pacific,trip_last_arrival_datetime_pacific,service_hours,trip_start_date_local_tz,trip_first_departure_datetime_local_tz,trip_last_arrival_datetime_local_tz
0,926867fdee73d5fbfe4f011871bcd830,1770249a5a2e770ca90628434d4934b1,VCTC GMV Schedule,Combined Regional Feed,2024-05-22,2024-05-22,139-555,c256553e28c4bba693e3136240b35419,9465bf51581b5592ffa90617975dbf7f,3408,3,Route 21,Route 21,PACIFIC VIEW MALL via VICTORIA AVE,0.00,8f644f847e987de68e0cb6fcd339cf41,8270,2024-05-22 07:10:00,2024-05-22 08:01:00,0.85,2024-05-22,2024-05-22 07:10:00,2024-05-22 08:01:00
1,926867fdee73d5fbfe4f011871bcd830,1770249a5a2e770ca90628434d4934b1,VCTC GMV Schedule,Combined Regional Feed,2024-05-22,2024-05-22,139-1167,488e9e227288606249d0508961c0fa15,9465bf51581b5592ffa90617975dbf7f,3408,3,Route 21,Route 21,PACIFIC VIEW MALL via VICTORIA AVE,0.00,8f644f847e987de68e0cb6fcd339cf41,8270,2024-05-22 07:45:00,2024-05-22 08:36:00,0.85,2024-05-22,2024-05-22 07:45:00,2024-05-22 08:36:00

In [46]:
frequent_routes = list(route_dir3.route_id.unique())

In [47]:
trips2 = trips.loc[trips.route_id.isin(frequent_routes )]

In [48]:
len(trips2)

16393

In [49]:
trip_instance_key = trips2[['gtfs_dataset_key','route_id','trip_instance_key','shape_array_key','feed_key']].drop_duplicates()

In [50]:
trip_instance_key = trip_instance_key.rename(columns = {'gtfs_dataset_key':'schedule_gtfs_dataset_key'})

### Look at scheduled stops
* This took forever to load.
* Use trip instance key to figure out which route this is? 
* Where is the column that tells me what time the bus should arrive at the stop?

In [51]:
may_scheduled_stops = helpers.import_scheduled_stop_times(may_date,
                                    get_pandas=True,
                                   with_direction = True)

In [52]:
len(may_scheduled_stops)

3413933

In [53]:
may_scheduled_stops.head(1)

,feed_key,stop_id,stop_sequence,schedule_gtfs_dataset_key,trip_instance_key,shape_array_key,stop_name,geometry,prior_stop_sequence,subseq_stop_sequence,stop_pair,stop_pair_name,stop_primary_direction,stop_meters
0,7f69c2fdaa134642f14064a0b64d1495,16063,1,7cc0cb1871dfd558f11a2885c145d144,000027078253a63212042c7ef413c8b6,813abf5a0645e066e49ff15b20aa94cc,Powell St & Market St,POINT (-211733.946 -23065.083),<NA>,2,16063__16068,Powell St & Market St__Powell St & O'Farrell St,Unknown,NaN

In [54]:
may_scheduled_stops2 = may_scheduled_stops.loc[may_scheduled_stops.schedule_gtfs_dataset_key.isin(operators_with_high_frequency_routes)]

In [55]:
len(may_scheduled_stops)- len(may_scheduled_stops2)

1804104

In [57]:
trip_instance_key.head(2)

,schedule_gtfs_dataset_key,route_id,trip_instance_key,shape_array_key,feed_key
574,bff13f8993ff18e43577db1f5596e014,24,29eac2f21d4654489fac796538cd81f3,98b7db927385c715225d4d07904c6acf,67e66865189900c114b39a6579eb51bf
575,bff13f8993ff18e43577db1f5596e014,24,d093b27a506d3f5df17a3f9d902b33e6,98b7db927385c715225d4d07904c6acf,67e66865189900c114b39a6579eb51bf

In [59]:
may_scheduled_stops3 = pd.merge(may_scheduled_stops2, trip_instance_key,
        on = ["schedule_gtfs_dataset_key","trip_instance_key",'feed_key','shape_array_key','feed_key'],
        how = "inner")

In [60]:
may_scheduled_stops3.head(2)

,feed_key,stop_id,stop_sequence,schedule_gtfs_dataset_key,trip_instance_key,shape_array_key,stop_name,geometry,prior_stop_sequence,subseq_stop_sequence,stop_pair,stop_pair_name,stop_primary_direction,stop_meters,route_id
0,7f69c2fdaa134642f14064a0b64d1495,16063,1,7cc0cb1871dfd558f11a2885c145d144,000027078253a63212042c7ef413c8b6,813abf5a0645e066e49ff15b20aa94cc,Powell St & Market St,POINT (-211733.946 -23065.083),<NA>,2,16063__16068,Powell St & Market St__Powell St & O'Farrell St,Unknown,NaN,PH
1,7f69c2fdaa134642f14064a0b64d1495,16068,2,7cc0cb1871dfd558f11a2885c145d144,000027078253a63212042c7ef413c8b6,813abf5a0645e066e49ff15b20aa94cc,Powell St & O'Farrell St,POINT (-211751.430 -22884.046),1,3,16068__16058,Powell St & O'Farrell St__Powell St & Geary St,Northbound,181.88,PH

### Look at scheduled stoptimes 
* Where's stop_pair name? 
* Which one should I use?
* I'm having trouble finding a dataframe that will tell me what time the bus should arrive at a stop.

In [61]:
TABLE = GTFS_DATA_DICT.rt_vs_schedule_tables.stop_times_direction
FILE = f"{RT_SCHED_GCS}{TABLE}_{may_date}.parquet"

In [65]:
stop_times = helpers.import_scheduled_stop_times(may_date, get_pandas = True)

In [66]:
stop_times.sample(2)

,feed_key,feed_timezone,base64_url,trip_id,stop_id,stop_sequence,timepoint,arrival_sec,departure_sec,arrival_hour,departure_hour
2204527,608992664173210532aa3e6cc573be2f,America/Los_Angeles,aHR0cHM6Ly9naXRsYWIuY29tL0xBQ01UQS9ndGZzX2J1cy9yYXcvbWFzdGVyL2d0ZnNfYnVzLnppcA==,10002011241301-DEC23,16320,38,0.00,49740.00,49740.00,13.00,13.00
3450749,608992664173210532aa3e6cc573be2f,America/Los_Angeles,aHR0cHM6Ly9naXRsYWIuY29tL0xBQ01UQS9ndGZzX2J1cy9yYXcvbWFzdGVyL2d0ZnNfYnVzLnppcA==,10092003031522-DEC23,10788,32,0.00,57420.00,57420.00,15.00,15.00

### `rt_scheduled_v_ran/scripts/rt_stop_times.py`
* Tiffany already combined realtime and scheduled arrivals

In [68]:
RT_SCHED_GCS

'gs://calitp-analytics-data/data-analyses/rt_vs_schedule/'

In [67]:
GTFS_DATA_DICT.rt_vs_schedule_tables.schedule_rt_stop_times

'schedule_rt_stop_times'

In [81]:
rt_stop_times = pd.read_parquet("gs://calitp-analytics-data/data-analyses/rt_vs_schedule/schedule_rt_stop_times_2024-05-22.parquet")

In [94]:
len(rt_stop_times)

2804661

In [95]:
rt_stop_times.columns

Index(['trip_id', 'stop_id', 'stop_sequence', 'scheduled_arrival_sec',
       'schedule_gtfs_dataset_key', 'trip_instance_key', 'rt_arrival_sec',
       'sched_arrival_min', 'rt_arrival_min', 'sched_arrival_hr',
       'rt_arrival_hr', 'sched_arrival_time'],
      dtype='object')

In [96]:
trip_instance_key.head(1)

,schedule_gtfs_dataset_key,route_id,trip_instance_key,shape_array_key,feed_key
574,bff13f8993ff18e43577db1f5596e014,24,29eac2f21d4654489fac796538cd81f3,98b7db927385c715225d4d07904c6acf,67e66865189900c114b39a6579eb51bf

In [97]:
# Get only relevant trips that are of "frequent routes"
pd.merge(rt_stop_times,
        trip_instance_key,
        on = ['schedule_gtfs_dataset_key', 'trip_instance_key', ],
        how="outer",
        indicator = True)[['_merge']].value_counts()

_merge
left_only     2262953
both           541708
right_only       2861
dtype: int64

In [99]:
rt_stop_times2 = pd.merge(rt_stop_times,
        trip_instance_key,
        on = ['schedule_gtfs_dataset_key', 'trip_instance_key', ],
        how="inner")

In [71]:
# How to use scheduled_arrival and rt_arrival

In [100]:
rt_stop_times2 = rt_stop_times2.assign(
            sched_arrival_min=pd.to_datetime(rt_stop_times2.scheduled_arrival_sec, unit="s").dt.minute,
            rt_arrival_min=pd.to_datetime(rt_stop_times2.rt_arrival_sec, unit="s").dt.minute,
            sched_arrival_hr=pd.to_datetime(rt_stop_times2.scheduled_arrival_sec, unit="s").dt.hour,
            rt_arrival_hr=pd.to_datetime(rt_stop_times2.rt_arrival_sec, unit="s").dt.hour,
        )

In [102]:
rt_stop_times2.sched_arrival_hr  = rt_stop_times2.sched_arrival_hr.fillna(0).astype(int)

In [103]:
rt_stop_times2.sched_arrival_min  = rt_stop_times2.sched_arrival_min.fillna(0).astype(int)

In [121]:
rt_stop_times2 = rt_stop_times2.assign(
    sched_arrival_time=pd.to_datetime(rt_stop_times2.sched_arrival_hr.astype(str) + ':' + rt_stop_times2.sched_arrival_min.astype(str), format='%H:%M').dt.time
)

In [107]:
rt_stop_times2.rt_arrival_hr  = rt_stop_times2.rt_arrival_hr.fillna(0).astype(int)

In [108]:
rt_stop_times2.rt_arrival_min  = rt_stop_times2.rt_arrival_min.fillna(0).astype(int)

In [120]:
rt_stop_times2 = rt_stop_times2.assign(
    rt_arrival_time=pd.to_datetime(rt_stop_times2.rt_arrival_hr.astype(str) + ':' + rt_stop_times2.rt_arrival_min.astype(str), format='%H:%M').dt.time
)

In [122]:
rt_stop_times2.sample(5)

,trip_id,stop_id,stop_sequence,scheduled_arrival_sec,schedule_gtfs_dataset_key,trip_instance_key,rt_arrival_sec,sched_arrival_min,rt_arrival_min,sched_arrival_hr,rt_arrival_hr,sched_arrival_time,route_id,shape_array_key,feed_key,rt_arrival_time
310075,10051003551941-DEC23,258,43,73320.00,0666caf3ec1ecc96b74f4477ee4bc939,ca8efff5e50ea9cca579b292dd30b48d,73345,22,22,20,20,20:22:00,51-13172,0314d8368e4f695949837e289b644d3e,608992664173210532aa3e6cc573be2f,20:22:00
299830,10060001601759-DEC23,3004,13,65520.00,0666caf3ec1ecc96b74f4477ee4bc939,34d083e16c303ef55653349fe319d5d9,65486,12,11,18,18,18:12:00,60-13172,98fbbbc43763f5016cdb30497a051410,608992664173210532aa3e6cc573be2f,18:11:00
354569,10016004392416-DEC23,4735,49,90120.00,0666caf3ec1ecc96b74f4477ee4bc939,662caf0e84528cd957537d5172105a75,3828,2,3,1,1,01:02:00,16-13172,4db83b86ad3aa1e6dc0924ffc439091b,608992664173210532aa3e6cc573be2f,01:03:00
462929,11486534_M31,15621,32,101820.00,7cc0cb1871dfd558f11a2885c145d144,1fe870eec5aea7845e01dfc0a7e8f113,15895,17,24,4,4,04:17:00,14,9c51f5391578cf13adc10ed131063ddf,7f69c2fdaa134642f14064a0b64d1495,04:24:00
429466,11490156_M31,17768,6,41763.00,7cc0cb1871dfd558f11a2885c145d144,4ac16b19bf3b14aa986c39019982072a,41686,36,34,11,11,11:36:00,22,3c9fd7a0a26e2a9dd9c0a22ffe55dec4,7f69c2fdaa134642f14064a0b64d1495,11:34:00

In [123]:
len(rt_stop_times2)

541708

In [130]:
one_route = rt_stop_times2.loc[rt_stop_times2.route_id == "14"]

In [131]:
one_route = one_route.loc[one_route.schedule_gtfs_dataset_key == "7cc0cb1871dfd558f11a2885c145d144"]

In [136]:
one_route.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11982 entries, 402713 to 541302
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   trip_id                    11982 non-null  object
 1   stop_id                    11982 non-null  object
 2   stop_sequence              11982 non-null  int64
 3   scheduled_arrival_sec      11982 non-null  float64
 4   schedule_gtfs_dataset_key  11982 non-null  object
 5   trip_instance_key          11982 non-null  object
 6   rt_arrival_sec             11982 non-null  int64
 7   sched_arrival_min          11982 non-null  int64
 8   rt_arrival_min             11982 non-null  int64
 9   sched_arrival_hr           11982 non-null  int64
 10  rt_arrival_hr              11982 non-null  int64
 11  sched_arrival_time         11982 non-null  object
 12  route_id                   11982 non-null  object
 13  shape_array_key            11982 non-null  object
 14  feed_key                   11982 non-null  object
 15  rt_arrival_time            11982 non-null  object
dtypes: float64(1), int64(6), object(9)
memory usage: 1.6+ MB

In [137]:
one_stop = one_route.loc[one_route.stop_sequence == 2]

In [138]:
len(one_stop)

305

In [140]:
one_stop.head(1)

,trip_id,stop_id,stop_sequence,scheduled_arrival_sec,schedule_gtfs_dataset_key,trip_instance_key,rt_arrival_sec,sched_arrival_min,rt_arrival_min,sched_arrival_hr,rt_arrival_hr,sched_arrival_time,route_id,shape_array_key,feed_key,rt_arrival_time
402713,11486631_M31,15585,2,40252.00,7cc0cb1871dfd558f11a2885c145d144,443136ba7321bc60b9ceccdfb6c04805,40299,10,11,11,11,11:10:00,14,b45d36e9e45937987ecfdb501fe6ef3b,7f69c2fdaa134642f14064a0b64d1495,11:11:00

In [143]:
one_stop.sort_values(by = ['stop_sequence','sched_arrival_hr','rt_arrival_hr'])[['trip_id','stop_sequence','scheduled_arrival_sec','rt_arrival_sec',]]

             trip_id  stop_sequence  scheduled_arrival_sec  rt_arrival_sec
414336  11486564_M31              2               88240.00            1849
426743  11486724_M31              2               86452.00             176
431341  11486611_M31              2               87352.00            1013
433587  11486563_M31              2               89140.00            2908
436647  11486616_M31              2               88252.00            1819
472331  11486594_M31              2               89152.00            2772
475145  11486567_M31              2               86440.00             385
517454  11486565_M31              2               87340.00             770
416951  11486562_M31              2               90040.00            3649
437129  11486593_M31              2               90052.00            4208
459740  11486592_M31              2               90952.00            4687
468403  11486560_M31              2               91840.00            5477
473274  11486590_M31              2               92752.00            6717
478213  11486561_M31              2               90940.00            4620
509017  11486591_M31              2               91852.00            5983
516683  11486542_M31              2               92740.00            6370
406281  11486588_M31              2               94552.00            8198
416843  11486541_M31              2               93640.00            7670
419744  11486538_M31              2               96340.00            9874
441126  11486589_M31              2               93652.00            7519
446547  11486539_M31              2               95440.00            9086
455961  11486587_M31              2               95452.00            9057
458954  11486586_M31              2               96352.00            9935
485256  11486540_M31              2               94540.00            8213
425842  11486537_M31              2               97240.00           10964
427174  11486582_M31              2               99952.00           13543
436116  11486583_M31              2               99052.00           12663
438087  11486536_M31              2               98140.00           11991
455969  11486584_M31              2               98152.00           12149
462932  11486534_M31              2               99940.00           13596
475254  11486585_M31              2               97252.00           10899
537019  11486535_M31              2               99040.00           12927
405641  11486550_M31              2               17551.00           17933
443260  11486733_M31              2              103552.00           17111
444083  11486736_M31              2              100852.00           14470
444311  11486551_M31              2               16651.00           16715
452667  11486533_M31              2              100840.00           14428
460465  11486734_M31              2              102652.00           16241
476281  11486531_M31              2              102640.00           15714
479557  11486735_M31              2              101752.00           15412
490758  11486600_M31              2               17539.00           17528
514584  11486532_M31              2              101740.00           15351
534582  11486530_M31              2              103540.00           17096
408403  11486730_M31              2              104572.00           18227
412206  11486729_M31              2              105472.00           19377
413652  11486598_M31              2               19039.00           18675
415901  11486519_M31              2               20926.00           20993
424444  11486529_M31              2              104440.00           18353
428199  11486546_M31              2               21451.00           21419
435599  11486716_M31              2               18952.00           19037
438531  11486714_M31              2               20392.00           20393
439871  11486732_M31              2              104452.00           18082
439916  11486520_M31              2               20206.00           20109
442608  11486727_M31              2              107212.00           21130
445842  11486549_M31              2               18331.00           18502
459311  11486728_M31              2              106312.00           19838
471482  11486713_M31              2               21112.00           21176
475295  11486522_M31              2               18646.00           18749
488925  11486521_M31              2               19486.00           19439
512939  11486548_M31              2               19051.00           19126
513598  11486547_M31              2               19651.00           19751
513895  11486599_M31              2               18379.00           18595
522662  11486715_M31              2               19672.00           19707
534230  11486596_M31              2               20239.00           20147
534793  11486525_M31              2              106234.00           20268
535141  11486597_M31              2               19639.00           19611
538823  11486595_M31              2               20539.00           20652
402846  11486711_M31              2               22492.00           22735
410133  11486518_M31              2               22366.00           22381
421676  11486707_M31              2               24772.00           24827
436071  11486712_M31              2               21832.00           21887
457326  11486515_M31              2               24406.00           24431
473603  11486517_M31              2               23086.00           23121
476228  11486516_M31              2               23806.00           23830
477399  11486708_M31              2               24232.00           24293
482766  11486566_M31              2               21646.00           21779
511170  11486544_M31              2               25051.00           25139
517941  11486709_M31              2               23692.00           23799
524254  11486710_M31              2               23092.00           23152
468133  11486514_M31              2               25006.00           25216
409109  11486543_M31              2               26971.00           27491
410966  11486512_M31              2               26092.00           26131
420969  11486579_M31              2               27712.00           27754
432442  11486510_M31              2               27172.00           27251
433871  11486578_M31              2               28252.00           28214
451406  11486641_M31              2               26752.00           26839
454540  11486627_M31              2               25312.00           25328
458481  11486706_M31              2               25792.00           26026
462454  11486511_M31              2               26632.00           26671
462838  11486643_M31              2               28192.00           28246
474082  11486642_M31              2               27712.00           27799
474477  11486644_M31              2               28672.00           28783
484192  11486640_M31              2               27232.00           27298
487108  11486626_M31              2               26272.00           26340
523543  11486682_M31              2               25519.00           25552
524573  11486513_M31              2               25552.00           25794
518533  11486438_M31              2               28792.00           28851
405034  11486651_M31              2               32272.00           32336
410062  11486647_M31              2               30112.00           30219
418066  11486645_M31              2               29152.00           29255
433674  11486444_M31              2               31372.00           31446
435792  11486440_M31              2               29272.00           29282
452897  11486442_M31              2               30352.00           30421
468601  11486649_M31              2               31192.00           31278
474266  11486648_M31              2               30652.00           30749
481778  11486646_M31              2               29632.00           29725
500181  11486443_M31              2               30892.00           30919
511179  11486650_M31              2               31732.00           31808
518715  11486441_M31              2               29872.00           29937
537205  11486445_M31              2               31912.00           32290
408220  11486446_M31              2               32452.00           32399
405992  11486451_M31              2               35097.00           35131
415158  11486448_M31              2               33477.00           33508
419945  11486450_M31              2               34557.00           34732
427687  11486653_M31              2               33352.00           33472
446896  11486449_M31              2               34017.00           33969
451469  11486656_M31              2               34972.00           35013
453829  11486655_M31              2               34432.00           34530
463324  11486452_M31              2               35637.00           35688
487556  11486654_M31              2               33892.00           33969
494947  11486652_M31              2               32812.00           32896
499882  11486447_M31              2               32992.00           32984
536572  11486657_M31              2               35512.00           35510
407041  11486453_M31              2               36177.00           36129
415595  11486459_M31              2               39417.00           39454
415639  11486455_M31              2               37257.00           37306
418872  11486456_M31              2               37797.00           37771
428265  11486454_M31              2               36717.00           36670
432372  11486659_M31              2               36652.00           36677
438267  11486661_M31              2               37852.00           38060
443104  11486457_M31              2               38337.00           38392
453641  11486660_M31              2               37252.00           37348
472618  11486458_M31              2               38877.00           38868
479819  11486658_M31              2               36052.00           36132
483534  11486628_M31              2               38452.00           38526
486213  11486629_M31              2               39052.00           39148
402713  11486631_M31              2               40252.00           40299
403729  11486465_M31              2               42357.00           42430
404550  11486466_M31              2               42957.00           42904
404738  11486683_M31              2               42772.00           42851
416000  11486634_M31              2               42052.00           42050
419256  11486633_M31              2               41452.00           41468
421710  11486460_M31              2               39957.00           40014
422705  11486462_M31              2               41157.00           41091
449619  11486630_M31              2               39652.00           39827
474828  11486461_M31              2               40557.00           40545
481833  11486632_M31              2               40852.00           40969
483006  11486463_M31              2               41757.00           41826
496946  11486635_M31              2               42652.00           42664
402803  11486637_M31              2               43852.00           43972
404840  11486468_M31              2               44757.00           44769
412350  11486467_M31              2               43557.00           43710
417918  11486638_M31              2               44452.00           44532
420315  11486663_M31              2               46252.00           46337
426173  11486636_M31              2               43252.00           43302
440257  11486464_M31              2               44157.00           44123
451141  11486471_M31              2               46557.00           46606
458009  11486639_M31              2               45052.00           45093
494691  11486469_M31              2               45357.00           45466
520437  11486470_M31              2               45957.00           45979
520636  11486662_M31              2               45652.00           45697
405736  11486665_M31              2               47452.00           47458
411065  11486667_M31              2               48652.00           48718
419040  11486474_M31              2               48357.00           48282
426428  11486668_M31              2               49252.00           49394
439708  11486666_M31              2               48052.00           48193
472538  11486472_M31              2               47157.00           47213
474193  11486473_M31              2               47757.00           47745
478827  11486476_M31              2               49557.00           49816
480171  11486477_M31              2               50157.00           50074
486591  11486699_M31              2               49852.00           49889
487342  11486664_M31              2               46852.00           46912
514808  11486475_M31              2               48957.00           48971
416806  11486672_M31              2               52252.00           52245
418717  11486483_M31              2               53757.00           53829
434471  11486478_M31              2               50757.00           50747
450021  11486670_M31              2               51052.00           51136
471184  11486480_M31              2               51957.00           52007
474889  11486671_M31              2               51652.00           51727
477538  11486479_M31              2               51357.00           51447
483343  11486674_M31              2               53452.00           53478
491338  11486482_M31              2               53157.00           53206
511998  11486481_M31              2               52557.00           52614
512583  11486669_M31              2               50452.00           50434
516026  11486673_M31              2               52852.00           52877
406577  11486485_M31              2               54957.00           54966
436005  11486677_M31              2               55252.00           56415
449316  11486675_M31              2               54052.00           54374
456249  11486678_M31              2               55852.00           56088
456907  11486486_M31              2               55497.00           56848
457006  11486484_M31              2               54357.00           54419
459581  11486487_M31              2               56037.00           55886
461137  11486676_M31              2               54652.00           54795
465657  11486489_M31              2               57117.00           57179
476915  11486679_M31              2               56452.00           56473
497124  11486680_M31              2               57052.00           57147
513365  11486488_M31              2               56577.00           56587
534444  11486686_M31              2               56270.00           55760
492868  11486490_M31              2               57657.00           57594
404046  11486492_M31              2               59277.00           59290
406820  11486495_M31              2               60357.00           60429
426221  11486687_M31              2               58440.00           58455
428494  11486681_M31              2               57652.00           57693
444057  11486690_M31              2               59872.00           59981
444721  11486692_M31              2               60952.00           60901
465662  11486691_M31              2               60600.00           60559
471111  11486689_M31              2               59520.00           60075
473344  11486496_M31              2               60897.00           60907
474737  11486491_M31              2               58197.00           58109
477517  11486493_M31              2               58737.00           59047
486236  11486688_M31              2               58792.00           58907
521931  11486494_M31              2               59817.00           60028
408056  11486696_M31              2               62760.00           62706
423577  11486503_M31              2               64677.00           64750
432733  11486500_M31              2               63057.00           63236
442869  11486694_M31              2               62032.00           62117
446959  11486499_M31              2               62517.00           62877
452260  11486498_M31              2               61977.00           62008
452967  11486698_M31              2               63840.00           63909
460161  11486697_M31              2               64192.00           64267
461062  11486501_M31              2               63597.00           63955
463671  11486695_M31              2               63112.00           63113
467364  11486497_M31              2               61437.00           61587
490508  11486693_M31              2               61680.00           61618
511494  11486502_M31              2               64137.00           64123
412044  11486505_M31              2               65757.00           65811
415775  11486704_M31              2               66352.00           66418
427877  11486507_M31              2               67377.00           67469
428776  11486509_M31              2               66837.00           66854
446370  11486703_M31              2               67080.00           67133
448837  11486700_M31              2               68220.00           67706
452486  11486702_M31              2               67432.00           67511
453435  11486705_M31              2               66000.00           65981
473290  11486508_M31              2               67917.00           67931
475016  11486506_M31              2               66297.00           66371
475134  11486720_M31              2               65272.00           65357
483476  11486719_M31              2               64920.00           65171
494820  11486504_M31              2               65217.00           65212
409184  11486432_M31              2               71446.00           71506
409428  11486435_M31              2               69652.00           69673
424371  11486433_M31              2               70846.00           70987
426698  11486621_M31              2               71332.00           71334
432412  11486581_M31              2               68640.00           68780
432764  11486436_M31              2               69057.00           69453
436209  11486625_M31              2               68632.00           68775
453243  11486623_M31              2               69892.00           69875
473116  11486434_M31              2               70252.00           70238
479719  11486622_M31              2               70612.00           70788
483882  11486424_M31              2               68457.00           68528
490608  11486624_M31              2               69232.00           69256
484148  11486701_M31              2               72052.00           71987
540472  11486559_M31              2               72166.00           71144
411650  11486430_M31              2               73486.00           73489
415113  11486606_M31              2               75052.00           75274
419235  11486431_M31              2               72766.00           72808
421997  11486607_M31              2               73430.00           73389
427372  11486428_M31              2               74926.00           74966
429106  11486620_M31              2               72772.00           72865
442194  11486684_M31              2               73612.00           73255
445171  11486580_M31              2               72172.00           72007
451237  11486553_M31              2               74042.00           74481
467521  11486618_M31              2               74212.00           74226
473735  11486437_M31              2               72046.00           72114
484902  11486429_M31              2               74206.00           74196
488193  11486617_M31              2               74932.00           75151