## Transit Bunching 
* `cd data-analyses/rt_segment_speeds && pip install -r requirements.txt && cd ../_shared_utils && make setup_env && cd ../gtfs_digest`
* [Issue](https://github.com/cal-itp/data-analyses/issues/1099)

In [1]:
import datetime as dt

import altair as alt
import geopandas as gpd
import merge_data
import numpy as np
import pandas as pd
from segment_speed_utils import gtfs_schedule_wrangling, helpers, time_series_utils
from shared_utils import catalog_utils, rt_dates, rt_utils
from update_vars import GTFS_DATA_DICT, RT_SCHED_GCS, SCHED_GCS

# https://github.com/cal-itp/data-analyses/blob/main/_shared_utils/shared_utils/gtfs_analytics_data.yml
GTFS_DATA_DICT = catalog_utils.get_catalog("gtfs_analytics_data")

from segment_speed_utils.project_vars import (
    COMPILED_CACHED_VIEWS,
    GTFS_DATA_DICT,
    PROJECT_CRS,
    RT_SCHED_GCS,
    SCHED_GCS,
    SEGMENT_GCS,
)

In [2]:
import yaml

with open("readable.yml") as f:
    readable_dict = yaml.safe_load(f)
with open("color_palettes.yml") as f:
    color_dict = yaml.safe_load(f)

In [3]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

In [4]:
may_date = "2024-05-22"

In [5]:
drop_for_preview = [
    "schedule_gtfs_dataset_key",
    "trip_instance_key",
    "shape_array_key",
    "feed_key",
    "trip_id",
]

## Step 1: Grab Routes from `GTFS_DATA_DICT.digest_tables.route_schedule_vp `

In [6]:
subset = [
    "schedule_gtfs_dataset_key",
    "route_id",
    "direction_id",
    "route_primary_direction",
    "service_date",
    "frequency",
]

In [7]:
route_dir_columns = [
    "schedule_gtfs_dataset_key",
    "route_id",
    "direction_id",
    "time_period",
    "route_primary_direction",
    "frequency",
    "service_date",
]

In [8]:
route_dir = merge_data.concatenate_schedule_by_route_direction([may_date])[
    route_dir_columns
]

### Calculate headways

In [9]:
route_dir["headway_minutes"] = 60 / route_dir.frequency

### Per Eric and Katrina's suggestion, retain only rows that hold `peak` hours in `time_period`

In [10]:
# Filter for only peak
route_dir = route_dir.loc[route_dir.time_period == "peak"].reset_index(drop=True)

In [11]:
len(route_dir)

3563

In [12]:
route_dir.sample()

,schedule_gtfs_dataset_key,route_id,direction_id,time_period,route_primary_direction,frequency,service_date,headway_minutes
2060,baeeb157e85a901e47b828ef9fe75091,237,1.00,peak,Westbound,0.96,2024-05-22,62.50

### Merge in operators and districts (maybe this should go at the end of all the aggregating)

In [13]:
# Grab Crosswalk
CROSSWALK = GTFS_DATA_DICT.schedule_tables.gtfs_key_crosswalk

In [14]:
crosswalk_cols = [
    "schedule_gtfs_dataset_key",
    "organization_name",
    "name",
    "caltrans_district",
]

In [15]:
crosswalk_df = (
    time_series_utils.concatenate_datasets_across_dates(
        SCHED_GCS, CROSSWALK, [may_date], data_type="df", columns=crosswalk_cols
    )
    .sort_values(["service_date"])
    .reset_index(drop=True)
)

In [16]:
crosswalk_df.head(2)

,schedule_gtfs_dataset_key,organization_name,name,caltrans_district,service_date
0,1770249a5a2e770ca90628434d4934b1,Ventura County Transportation Commission,VCTC GMV Schedule,07 - Los Angeles,2024-05-22
1,d19b822237403aa9d44ab2e923afc7b9,City of Delano,Delano Schedule,06 - Fresno,2024-05-22

In [17]:
routes = pd.merge(
    route_dir,
    crosswalk_df,
    on=["schedule_gtfs_dataset_key", "service_date"],
    how="left",
)

In [18]:
len(routes)

4614

### Observation: Some headway minutes seem off which is skewing the "bunching" calculations
* How come route_id 30 for City of LA has a headway of 60 minutes for direction 1, but  157 minute headway for direction 0? Shouldn't the `frequency` and `headway_minutes` be similar?

In [19]:
routes.loc[
    (routes.schedule_gtfs_dataset_key == "cc53a0dbf5df90e3009b9cb5d89d80ba")
    & (routes.route_id == "30")
    & (routes.direction_id == 0)
]

,schedule_gtfs_dataset_key,route_id,direction_id,time_period,route_primary_direction,frequency,service_date,headway_minutes,organization_name,name,caltrans_district
3521,cc53a0dbf5df90e3009b9cb5d89d80ba,30,0.00,peak,Westbound,0.12,2024-05-22,500.00,City of Los Angeles,LA DOT Schedule,07 - Los Angeles

In [20]:
routes.loc[
    (routes.schedule_gtfs_dataset_key == "cc53a0dbf5df90e3009b9cb5d89d80ba")
    & (routes.route_id == "30")
    & (routes.direction_id == 1)
]

,schedule_gtfs_dataset_key,route_id,direction_id,time_period,route_primary_direction,frequency,service_date,headway_minutes,organization_name,name,caltrans_district
3522,cc53a0dbf5df90e3009b9cb5d89d80ba,30,1.00,peak,Eastbound,0.33,2024-05-22,181.82,City of Los Angeles,LA DOT Schedule,07 - Los Angeles

In [21]:
display(
    routes.loc[
        (routes.schedule_gtfs_dataset_key == "55a01ef72af21906934ae8ffb4786e86")
        & (routes.route_id == "390")
        & (routes.direction_id == 1)
    ]
)
display(
    routes.loc[
        (routes.schedule_gtfs_dataset_key == "55a01ef72af21906934ae8ffb4786e86")
        & (routes.route_id == "390")
        & (routes.direction_id == 0)
    ]
)

,schedule_gtfs_dataset_key,route_id,direction_id,time_period,route_primary_direction,frequency,service_date,headway_minutes,organization_name,name,caltrans_district
1547,55a01ef72af21906934ae8ffb4786e86,390,1.00,peak,Westbound,0.04,2024-05-22,1500.00,Eastern Contra Costa Transit Authority,Bay Area 511 Tri Delta Schedule,04 - Oakland

,schedule_gtfs_dataset_key,route_id,direction_id,time_period,route_primary_direction,frequency,service_date,headway_minutes,organization_name,name,caltrans_district
1546,55a01ef72af21906934ae8ffb4786e86,390,0.00,peak,Eastbound,0.33,2024-05-22,181.82,Eastern Contra Costa Transit Authority,Bay Area 511 Tri Delta Schedule,04 - Oakland

## Step 2: Load in Trips
* I feel like I am grabbing datasets from multiple areas of the pipeline, when I should just stick to one area.

In [22]:
TABLE = GTFS_DATA_DICT.schedule_downloads.trips

In [23]:
FILE = f"{COMPILED_CACHED_VIEWS}{TABLE}_{may_date}.parquet"

In [24]:
trips_subset = [
    "gtfs_dataset_key",
    "route_id",
    "trip_instance_key",
    "shape_array_key",
    "feed_key",
    "route_long_name",
    "direction_id",
    "route_type",
]

In [25]:
trips = pd.read_parquet(FILE)[trips_subset].rename(
    columns={"gtfs_dataset_key": "schedule_gtfs_dataset_key"}
)

In [26]:
trips_routes = pd.merge(
    trips,
    routes,
    on=["schedule_gtfs_dataset_key", "route_id", "direction_id"],
    how="inner",
)

In [27]:
trips_routes.route_id.nunique()

1374

### Is there a more sophisticated way to merge in the actual `route_type`?

In [28]:
# https://gtfs.org/documentation/schedule/reference/#
route_type_crosswalk = {
    "route_type": ["0", "1", "2", "3", "4", "5", "6", "7", "11", "12"],
    "route_type_str": [
        "Tram, Streetcar, Light rail",
        "Subway, Metro",
        "Rail",
        "Bus",
        "Ferry.",
        "Cable tram.",
        "Aerial lift, suspended cable car (e.g., gondola lift, aerial tramway).",
        "Funicular.",
        "Trolleybus.",
        "Monorail.",
    ],
}

In [29]:
route_type_crosswalk_df = pd.DataFrame(route_type_crosswalk)

In [30]:
# Merge for route_type
trips_routes = pd.merge(
    trips_routes, route_type_crosswalk_df, on=["route_type"], how="left"
)

In [31]:
trips_routes = trips_routes.drop(columns=["route_type"]).rename(
    columns={"route_type_str": "route_type"}
)

## Step 3: Load Stop Times

In [32]:
rt_stop_times = pd.read_parquet(
    "gs://calitp-analytics-data/data-analyses/rt_vs_schedule/schedule_rt_stop_times_2024-05-22.parquet"
)

In [33]:
trips_routes.head(1)

,schedule_gtfs_dataset_key,route_id,trip_instance_key,shape_array_key,feed_key,route_long_name,direction_id,time_period,route_primary_direction,frequency,service_date,headway_minutes,organization_name,name,caltrans_district,route_type
0,1770249a5a2e770ca90628434d4934b1,3408,c256553e28c4bba693e3136240b35419,8f644f847e987de68e0cb6fcd339cf41,926867fdee73d5fbfe4f011871bcd830,Route 21,0.00,peak,Westbound,0.62,2024-05-22,96.77,Ventura County Transportation Commission,VCTC GMV Schedule,07 - Los Angeles,Bus

In [34]:
rt_stop_times.shape

(2601262, 7)

In [35]:
trips_routes_times = pd.merge(
    rt_stop_times,
    trips_routes,
    on=[
        "schedule_gtfs_dataset_key",
        "trip_instance_key",
    ],
    how="inner",
)

In [36]:
(trips_routes_times.scheduled_arrival_sec.isna().sum())

15029

### Observation: about 126 rows are duplicated.

In [37]:
len(trips_routes_times)

3169136

In [38]:
trips_routes_times2 = trips_routes_times.drop_duplicates().reset_index(drop=True)

In [39]:
len(trips_routes_times) - len(trips_routes_times2)

126

## Step 4: Sorting & Subsetting

In [40]:
subset = [
    "service_date",
    "caltrans_district",
    "schedule_gtfs_dataset_key",
    "feed_key",
    "organization_name",
    "route_long_name",
    "route_type",
    "route_id",
    "direction_id",
    "stop_id",
    "stop_sequence",
    "trip_instance_key",
    "rt_arrival_sec",
    "scheduled_arrival_sec",
    "headway_minutes",
]

#### Review sorting order. 
* Exclude or include `stop_sequence`?

In [41]:
trips_routes_times3 = trips_routes_times2[subset]

In [42]:
len(trips_routes_times3)

3169010

In [43]:
trips_routes_times4 = trips_routes_times3.sort_values(
    by=[
        "schedule_gtfs_dataset_key",
        "route_id",
        "direction_id",
        "stop_id",
        "stop_sequence",
        "rt_arrival_sec",
    ],
).reset_index(drop=True)

## Step 5: Fixing Time Stamps (this portion is where I am having a lot of trouble) 
* The data is downloaded from the service_date May 22, 2024. 
* However,  the difference between `scheduled_arrival_sec` versus `rt_arrival_sec` times can look extreme.
    * Example 1: some trips that begin on May 21, 2024 late in the evening (around 11pm) run until early morning of May 22, 2024.

In [44]:
# Convert time to seconds
trips_routes_times4["converted_rt_arrival"] = pd.to_datetime(
    trips_routes_times4["service_date"]
) + pd.to_timedelta(trips_routes_times4["rt_arrival_sec"] % 86400, unit="s")

In [45]:
# Convert time to seconds
trips_routes_times4["converted_schd_arrival"] = pd.to_datetime(
    trips_routes_times4["service_date"]
) + pd.to_timedelta(trips_routes_times4["scheduled_arrival_sec"] % 86400, unit="s")

/opt/conda/lib/python3.11/site-packages/pandas/core/arrays/timedeltas.py:908: RuntimeWarning: invalid value encountered in cast
  base = data.astype(np.int64)
/opt/conda/lib/python3.11/site-packages/pandas/core/arrays/timedeltas.py:912: RuntimeWarning: invalid value encountered in cast
  data = (base * m + (frac * m).astype(np.int64)).view("timedelta64[ns]")

### Subtracting `converted_rt_arrival` from `converted_schd_arrival` then using `describe` to find the "extreme" rows.

In [46]:
percentiles = [0.01, 0.02, 0.05, 0.1, 0.9, 0.95, 0.98, 0.99]

In [47]:
trips_routes_times4["delay_min"] = (
    trips_routes_times4["converted_rt_arrival"]
    - trips_routes_times4["converted_schd_arrival"]
).dt.total_seconds() / 60

In [48]:
print(trips_routes_times4.delay_min.describe(percentiles))

count   3153981.00
mean          2.01
std          33.30
min       -1439.78
1%           -5.38
2%           -3.92
5%           -2.48
10%          -1.53
50%           1.45
90%           7.65
95%          10.83
98%          15.80
99%          20.27
max        1439.98
Name: delay_min, dtype: float64

### Manually fixing these rows but this wasn't "scientific" at all -> I want to do this a more "automated" way.
* These were based on my own observations.
* Using 600 (10 hours) as a benchmark, but not sure if this is the best.

In [49]:
preview_cols = [
    "schedule_gtfs_dataset_key",
    "route_id",
    "scheduled_arrival_sec",
    "converted_schd_arrival",
    "rt_arrival_sec",
    "converted_rt_arrival",
    "delay_min",
]

### These rows need a day subtracted off of `converted_rt_arrival` because the trip actually began the night prior to the service_date.

In [50]:
trips_routes_times4.loc[trips_routes_times4.delay_min >= 600][preview_cols].head(2)

,schedule_gtfs_dataset_key,route_id,scheduled_arrival_sec,converted_schd_arrival,rt_arrival_sec,converted_rt_arrival,delay_min
23568,0666caf3ec1ecc96b74f4477ee4bc939,102-13172,86400.00,2024-05-22,86253,2024-05-22 23:57:33,1437.55
23705,0666caf3ec1ecc96b74f4477ee4bc939,102-13172,86400.00,2024-05-22,86275,2024-05-22 23:57:55,1437.92

In [51]:
trips_routes_times4["converted_rt_arrival"] = np.where(
    trips_routes_times4["delay_min"] >= 600,
    trips_routes_times4["converted_rt_arrival"] - pd.Timedelta(days=1),
    trips_routes_times4["converted_rt_arrival"],
)

In [52]:
trips_routes_times4.loc[trips_routes_times4.delay_min >= 600][preview_cols].head(2)

,schedule_gtfs_dataset_key,route_id,scheduled_arrival_sec,converted_schd_arrival,rt_arrival_sec,converted_rt_arrival,delay_min
23568,0666caf3ec1ecc96b74f4477ee4bc939,102-13172,86400.00,2024-05-22,86253,2024-05-21 23:57:33,1437.55
23705,0666caf3ec1ecc96b74f4477ee4bc939,102-13172,86400.00,2024-05-22,86275,2024-05-21 23:57:55,1437.92

### These trips need a day added because the trip began on the service_date late at night and continued onto the day after.

In [53]:
trips_routes_times4.loc[trips_routes_times4.delay_min <= -600][preview_cols].head(2)

,schedule_gtfs_dataset_key,route_id,scheduled_arrival_sec,converted_schd_arrival,rt_arrival_sec,converted_rt_arrival,delay_min
12686,0666caf3ec1ecc96b74f4477ee4bc939,10-13172,86220.00,2024-05-22 23:57:00,266,2024-05-22 00:04:26,-1432.57
14512,0666caf3ec1ecc96b74f4477ee4bc939,10-13172,86340.00,2024-05-22 23:59:00,389,2024-05-22 00:06:29,-1432.52

In [54]:
trips_routes_times4["converted_rt_arrival"] = np.where(
    trips_routes_times4["delay_min"] <= -600,
    trips_routes_times4["converted_rt_arrival"] + pd.Timedelta(days=1),
    trips_routes_times4["converted_rt_arrival"],
)

In [55]:
trips_routes_times4.loc[trips_routes_times4.delay_min <= -600][preview_cols].head(2)

,schedule_gtfs_dataset_key,route_id,scheduled_arrival_sec,converted_schd_arrival,rt_arrival_sec,converted_rt_arrival,delay_min
12686,0666caf3ec1ecc96b74f4477ee4bc939,10-13172,86220.00,2024-05-22 23:57:00,266,2024-05-23 00:04:26,-1432.57
14512,0666caf3ec1ecc96b74f4477ee4bc939,10-13172,86340.00,2024-05-22 23:59:00,389,2024-05-23 00:06:29,-1432.52

### Recalculate `delay_min` and throw away any extreme values that couldn't be fixed

In [56]:
trips_routes_times4["delay_min2"] = (
    trips_routes_times4["converted_rt_arrival"]
    - trips_routes_times4["converted_schd_arrival"]
).dt.total_seconds() / 60

In [57]:
print(trips_routes_times4.delay_min.describe(percentiles))

count   3153981.00
mean          2.01
std          33.30
min       -1439.78
1%           -5.38
2%           -3.92
5%           -2.48
10%          -1.53
50%           1.45
90%           7.65
95%          10.83
98%          15.80
99%          20.27
max        1439.98
Name: delay_min, dtype: float64

In [58]:
print(trips_routes_times4.delay_min2.describe(percentiles))

count   3153981.00
mean          2.54
std          10.46
min        -839.98
1%           -5.28
2%           -3.88
5%           -2.47
10%          -1.52
50%           1.45
90%           7.67
95%          10.85
98%          15.82
99%          20.27
max         837.53
Name: delay_min2, dtype: float64

### About 2% of rows are thrown away if I use the 1% and 99% perentile cutoff, but this also seems overly harsh. That means if a bus arrives more than 5 minutes ahead of schedule, that row is thrown away. Likewise, if the bus is more than 20 minutes behind its scheduled time, the row is also cut.

In [59]:
(
    (
        len(trips_routes_times4.loc[trips_routes_times4.delay_min2 >= 20.27])
        + len(trips_routes_times4.loc[trips_routes_times4.delay_min2 <= -5.28])
    )
    / len(trips_routes_times4)
) * 100

1.9894541197408653

In [60]:
extreme_values = trips_routes_times4.loc[
    (trips_routes_times4.delay_min2 <= -5.28)
    | (trips_routes_times4.delay_min2 >= 20.27)
]

In [61]:
print(extreme_values.delay_min2.describe(percentiles))

count   63046.00
mean       12.87
std        68.12
min      -839.98
1%        -81.54
2%        -53.32
5%        -24.63
10%       -13.95
50%        -5.28
90%        39.64
95%        56.43
98%       133.15
99%       307.30
max       837.53
Name: delay_min2, dtype: float64

In [62]:
preview_cols.append("delay_min2")

In [63]:
extreme_values[preview_cols].sample(10)

,schedule_gtfs_dataset_key,route_id,scheduled_arrival_sec,converted_schd_arrival,rt_arrival_sec,converted_rt_arrival,delay_min,delay_min2
262207,0666caf3ec1ecc96b74f4477ee4bc939,2-13172,62940.00,2024-05-22 17:29:00,64382,2024-05-22 17:53:02,24.03,24.03
1124056,5456c80d420043e15c8eb7368a8a4d89,292,24772.00,2024-05-22 06:52:52,26151,2024-05-22 07:15:51,22.98,22.98
2878322,f74424acf8c41e4c1e9fd42838c4875c,178,75910.00,2024-05-22 21:05:10,77281,2024-05-22 21:28:01,22.85,22.85
837369,1770249a5a2e770ca90628434d4934b1,3395,36000.00,2024-05-22 10:00:00,39078,2024-05-22 10:51:18,51.30,51.30
2776234,efbbd5293be71f7a5de0cf82b59febe1,3730,38427.00,2024-05-22 10:40:27,40010,2024-05-22 11:06:50,26.38,26.38
1552315,aea4108997c66a74fbdae27b34b69fde,130,28800.00,2024-05-22 08:00:00,28436,2024-05-22 07:53:56,-6.07,-6.07
1438927,7cc0cb1871dfd558f11a2885c145d144,PH,56386.00,2024-05-22 15:39:46,57927,2024-05-22 16:05:27,25.68,25.68
1068138,43d8d305ee692724a532f30ea63a1cbe,90X,63113.00,2024-05-22 17:31:53,62764,2024-05-22 17:26:04,-5.82,-5.82
1240580,7cc0cb1871dfd558f11a2885c145d144,2,46353.00,2024-05-22 12:52:33,47964,2024-05-22 13:19:24,26.85,26.85
953507,1770249a5a2e770ca90628434d4934b1,4778,49080.00,2024-05-22 13:38:00,57640,2024-05-22 16:00:40,142.67,142.67

In [64]:
trips_routes_times4.loc[trips_routes_times4.delay_min <= -600][preview_cols].sample(10)

,schedule_gtfs_dataset_key,route_id,scheduled_arrival_sec,converted_schd_arrival,rt_arrival_sec,converted_rt_arrival,delay_min,delay_min2
570090,0666caf3ec1ecc96b74f4477ee4bc939,40-13172,86280.00,2024-05-22 23:58:00,208,2024-05-23 00:03:28,-1434.53,5.47
1372299,7cc0cb1871dfd558f11a2885c145d144,5,85482.00,2024-05-22 23:44:42,4,2024-05-23 00:00:04,-1424.63,15.37
1408544,7cc0cb1871dfd558f11a2885c145d144,9,86004.00,2024-05-22 23:53:24,61,2024-05-23 00:01:01,-1432.38,7.62
1431550,7cc0cb1871dfd558f11a2885c145d144,M,86315.00,2024-05-22 23:58:35,595,2024-05-23 00:09:55,-1428.67,11.33
681290,0666caf3ec1ecc96b74f4477ee4bc939,660-13172,86220.00,2024-05-22 23:57:00,94,2024-05-23 00:01:34,-1435.43,4.57
278186,0666caf3ec1ecc96b74f4477ee4bc939,20-13172,85980.00,2024-05-22 23:53:00,296,2024-05-23 00:04:56,-1428.07,11.93
438484,0666caf3ec1ecc96b74f4477ee4bc939,246-13172,86340.00,2024-05-22 23:59:00,23,2024-05-23 00:00:23,-1438.62,1.38
2036292,baeeb157e85a901e47b828ef9fe75091,929,86280.00,2024-05-22 23:58:00,16146,2024-05-23 04:29:06,-1168.90,271.10
1219219,7cc0cb1871dfd558f11a2885c145d144,14,85444.00,2024-05-22 23:44:04,207,2024-05-23 00:03:27,-1420.62,19.38
270994,0666caf3ec1ecc96b74f4477ee4bc939,2-13172,86100.00,2024-05-22 23:55:00,123,2024-05-23 00:02:03,-1432.95,7.05

In [65]:
1437.63 / 60

23.960500000000003

In [66]:
trips_routes_times4.loc[trips_routes_times4.delay_min >= 600][preview_cols].sample(10)

,schedule_gtfs_dataset_key,route_id,scheduled_arrival_sec,converted_schd_arrival,rt_arrival_sec,converted_rt_arrival,delay_min,delay_min2
759728,0666caf3ec1ecc96b74f4477ee4bc939,90-13172,86400.00,2024-05-22 00:00:00,86397,2024-05-21 23:59:57,1439.95,-0.05
1863138,baeeb157e85a901e47b828ef9fe75091,7,86460.00,2024-05-22 00:01:00,49970,2024-05-21 13:52:50,831.83,-608.17
1203762,7cc0cb1871dfd558f11a2885c145d144,1,86471.00,2024-05-22 00:01:11,86289,2024-05-21 23:58:09,1436.97,-3.03
1665131,baeeb157e85a901e47b828ef9fe75091,2,86400.00,2024-05-22 00:00:00,44138,2024-05-21 12:15:38,735.63,-704.37
1917530,baeeb157e85a901e47b828ef9fe75091,8,86400.00,2024-05-22 00:00:00,86390,2024-05-21 23:59:50,1439.83,-0.17
2487075,d9d0325e50e50064e3cc8384b1751d67,1,86417.00,2024-05-22 00:00:17,86158,2024-05-21 23:55:58,1435.68,-4.32
1049771,43d8d305ee692724a532f30ea63a1cbe,1,86421.00,2024-05-22 00:00:21,86346,2024-05-21 23:59:06,1438.75,-1.25
1675356,baeeb157e85a901e47b828ef9fe75091,201,86460.00,2024-05-22 00:01:00,41698,2024-05-21 11:34:58,693.97,-746.03
997943,239f3baf3dd3b9e9464f66a777f9897d,23,37501.00,2024-05-22 10:25:01,79130,2024-05-21 21:58:50,693.82,-746.18
1685183,baeeb157e85a901e47b828ef9fe75091,215,86400.00,2024-05-22 00:00:00,86373,2024-05-21 23:59:33,1439.55,-0.45

### For now, I will just throw away trips that have a `converted_rt_arrival` value are an hour before or after the `converted_schd_arrival`

In [67]:
len(
    trips_routes_times4.loc[
        (trips_routes_times4.delay_min2 >= -60) | (trips_routes_times4.delay_min2 <= 60)
    ]
)

3153981

In [68]:
trips_routes_times5 = trips_routes_times4.loc[
    (trips_routes_times4.delay_min2 >= -60) | (trips_routes_times4.delay_min2 <= 60)
]

In [69]:
(len(trips_routes_times4) - len(trips_routes_times5)) / len(trips_routes_times4)

0.004742490556987829

## Step 7: Calculate the actual headway on the `operator-route-direction_id-stop_sequence-stop_id-` grain

In [70]:
groupby_cols = [
    "caltrans_district",
    "schedule_gtfs_dataset_key",
    "feed_key",
    "organization_name",
    "route_id",
    "route_long_name",
    "route_type",
    "direction_id",
    "stop_id",
    "stop_sequence",
]

In [71]:
trips_routes_times5["actual_arrival_lag_min"] = (
    trips_routes_times5.groupby(groupby_cols)["converted_rt_arrival"]
    .diff()
    .dt.total_seconds()
    / 60
)

/tmp/ipykernel_703/2455686389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trips_routes_times5["actual_arrival_lag_min"] = (

### Check San Diego

In [72]:
sd_test = trips_routes_times5.loc[
    (trips_routes_times5.organization_name == "San Diego Metropolitan Transit System")
    & (trips_routes_times5.route_id == "834")
]

In [73]:
cols_to_drop = [
    "service_date",
    "caltrans_district",
    "route_type",
    "route_id",
    "delay_min",
    "schedule_gtfs_dataset_key",
    "feed_key",
    "organization_name",
    "route_long_name",
    "trip_instance_key",
]

### Having trouble understanding headway vs. `actual_arrival_lag_min`: why is headway so much higher?

In [74]:
sd_test.drop(columns=cols_to_drop)

,direction_id,stop_id,stop_sequence,rt_arrival_sec,scheduled_arrival_sec,headway_minutes,converted_rt_arrival,converted_schd_arrival,delay_min2,actual_arrival_lag_min
1931084,0.00,40173,4,29344,28200.00,206.90,2024-05-22 08:09:04,2024-05-22 07:50:00,19.07,NaN
1931087,0.00,40173,4,32750,31860.00,206.90,2024-05-22 09:05:50,2024-05-22 08:51:00,14.83,56.77
1931090,0.00,40173,4,49842,49920.00,206.90,2024-05-22 13:50:42,2024-05-22 13:52:00,-1.30,284.87
1931093,0.00,40173,4,53523,53520.00,206.90,2024-05-22 14:52:03,2024-05-22 14:52:00,0.05,61.35
1931096,0.00,40259,9,32164,32220.00,206.90,2024-05-22 08:56:04,2024-05-22 08:57:00,-0.93,NaN
1931099,0.00,40259,9,35716,35820.00,206.90,2024-05-22 09:55:16,2024-05-22 09:57:00,-1.73,59.20
1931102,0.00,40382,8,32124,32160.00,206.90,2024-05-22 08:55:24,2024-05-22 08:56:00,-0.60,NaN
1931105,0.00,40382,8,35668,35760.00,206.90,2024-05-22 09:54:28,2024-05-22 09:56:00,-1.53,59.07
1931108,0.00,40400,5,23956,24060.00,206.90,2024-05-22 06:39:16,2024-05-22 06:41:00,-1.73,NaN
1931111,0.00,40400,5,28337,28260.00,206.90,2024-05-22 07:52:17,2024-05-22 07:51:00,1.28,73.02
1931114,0.00,40400,5,32001,31920.00,206.90,2024-05-22 08:53:21,2024-05-22 08:52:00,1.35,61.07
1931117,0.00,40400,5,35504,35520.00,206.90,2024-05-22 09:51:44,2024-05-22 09:52:00,-0.27,58.38
1931120,0.00,40400,5,39059,39120.00,206.90,2024-05-22 10:50:59,2024-05-22 10:52:00,-1.02,59.25
1931123,0.00,40400,5,46261,46380.00,206.90,2024-05-22 12:51:01,2024-05-22 12:53:00,-1.98,120.03
1931126,0.00,40400,5,57244,57180.00,206.90,2024-05-22 15:54:04,2024-05-22 15:53:00,1.07,183.05
1931129,0.00,40400,5,60705,60780.00,206.90,2024-05-22 16:51:45,2024-05-22 16:53:00,-1.25,57.68
1931132,0.00,40400,5,67967,67980.00,206.90,2024-05-22 18:52:47,2024-05-22 18:53:00,-0.22,121.03
1931135,0.00,40410,2,25120,23820.00,206.90,2024-05-22 06:58:40,2024-05-22 06:37:00,21.67,NaN
1931138,0.00,40410,2,29457,28020.00,206.90,2024-05-22 08:10:57,2024-05-22 07:47:00,23.95,72.28
1931141,0.00,40410,2,32950,31680.00,206.90,2024-05-22 09:09:10,2024-05-22 08:48:00,21.17,58.22
1931144,0.00,40410,2,36437,35280.00,206.90,2024-05-22 10:07:17,2024-05-22 09:48:00,19.28,58.12
1931147,0.00,40410,2,40204,38880.00,206.90,2024-05-22 11:10:04,2024-05-22 10:48:00,22.07,62.78
1931150,0.00,40410,2,43867,42480.00,206.90,2024-05-22 12:11:07,2024-05-22 11:48:00,23.12,61.05
1931153,0.00,40410,2,47081,46140.00,206.90,2024-05-22 13:04:41,2024-05-22 12:49:00,15.68,53.57
1931156,0.00,40410,2,50837,49740.00,206.90,2024-05-22 14:07:17,2024-05-22 13:49:00,18.28,62.60
1931159,0.00,40410,2,55013,53340.00,206.90,2024-05-22 15:16:53,2024-05-22 14:49:00,27.88,69.60
1931162,0.00,40410,2,58686,56940.00,206.90,2024-05-22 16:18:06,2024-05-22 15:49:00,29.10,61.22
1931165,0.00,40410,2,61878,60540.00,206.90,2024-05-22 17:11:18,2024-05-22 16:49:00,22.30,53.20
1931168,0.00,40410,2,65752,64140.00,206.90,2024-05-22 18:15:52,2024-05-22 17:49:00,26.87,64.57
1931171,0.00,40410,2,69145,67740.00,206.90,2024-05-22 19:12:25,2024-05-22 18:49:00,23.42,56.55
1931174,0.00,40533,16,32482,32580.00,206.90,2024-05-22 09:01:22,2024-05-22 09:03:00,-1.63,NaN
1931177,0.00,40533,16,36075,36180.00,206.90,2024-05-22 10:01:15,2024-05-22 10:03:00,-1.75,59.88
1931180,0.00,40534,18,32571,32640.00,206.90,2024-05-22 09:02:51,2024-05-22 09:04:00,-1.15,NaN
1931183,0.00,40534,18,36163,36240.00,206.90,2024-05-22 10:02:43,2024-05-22 10:04:00,-1.28,59.87
1931186,0.00,40535,17,32517,32580.00,206.90,2024-05-22 09:01:57,2024-05-22 09:03:00,-1.05,NaN
1931189,0.00,40535,17,36096,36180.00,206.90,2024-05-22 10:01:36,2024-05-22 10:03:00,-1.40,59.65
1931192,0.00,40955,3,29391,28080.00,206.90,2024-05-22 08:09:51,2024-05-22 07:48:00,21.85,NaN
1931195,0.00,40955,3,32884,31740.00,206.90,2024-05-22 09:08:04,2024-05-22 08:49:00,19.07,58.22
1931198,0.00,40955,3,36431,35340.00,206.90,2024-05-22 10:07:11,2024-05-22 09:49:00,18.18,59.12
1931201,0.00,40955,3,42520,42540.00,206.90,2024-05-22 11:48:40,2024-05-22 11:49:00,-0.33,101.48
1931204,0.00,40955,3,64346,64200.00,206.90,2024-05-22 17:52:26,2024-05-22 17:50:00,2.43,363.77
1931207,0.00,41050,21,29396,29400.00,206.90,2024-05-22 08:09:56,2024-05-22 08:10:00,-0.07,NaN
1931210,0.00,41050,21,32898,32940.00,206.90,2024-05-22 09:08:18,2024-05-22 09:09:00,-0.70,58.37
1931213,0.00,41054,11,32298,32340.00,206.90,2024-05-22 08:58:18,2024-05-22 08:59:00,-0.70,NaN
1931216,0.00,41054,11,35878,35940.00,206.90,2024-05-22 09:57:58,2024-05-22 09:59:00,-1.03,59.67
1931219,0.00,41055,12,32338,32400.00,206.90,2024-05-22 08:58:58,2024-05-22 09:00:00,-1.03,NaN
1931222,0.00,41055,12,35920,36000.00,206.90,2024-05-22 09:58:40,2024-05-22 10:00:00,-1.33,59.70
1931225,0.00,41056,13,32387,32460.00,206.90,2024-05-22 08:59:47,2024-05-22 09:01:00,-1.22,NaN
1931228,0.00,41056,13,35977,36060.00,206.90,2024-05-22 09:59:37,2024-05-22 10:01:00,-1.38,59.83
1931231,0.00,41057,14,32417,32460.00,206.90,2024-05-22 09:00:17,2024-05-22 09:01:00,-0.72,NaN
1931234,0.00,41057,14,35994,36060.00,206.90,2024-05-22 09:59:54,2024-05-22 10:01:00,-1.10,59.62
1931237,0.00,41059,15,32439,32520.00,206.90,2024-05-22 09:00:39,2024-05-22 09:02:00,-1.35,NaN
1931240,0.00,41059,15,36023,36120.00,206.90,2024-05-22 10:00:23,2024-05-22 10:02:00,-1.62,59.73
1931243,0.00,88942,20,32717,32820.00,206.90,2024-05-22 09:05:17,2024-05-22 09:07:00,-1.72,NaN
1931246,0.00,88942,20,36359,36420.00,206.90,2024-05-22 10:05:59,2024-05-22 10:07:00,-1.02,60.70
1931249,0.00,88946,6,35542,35580.00,206.90,2024-05-22 09:52:22,2024-05-22 09:53:00,-0.63,NaN
1931252,0.00,88947,7,32076,32100.00,206.90,2024-05-22 08:54:36,2024-05-22 08:55:00,-0.40,NaN
1931255,0.00,88947,7,35619,35700.00,206.90,2024-05-22 09:53:39,2024-05-22 09:55:00,-1.35,59.05
1931258,0.00,88948,10,32229,32280.00,206.90,2024-05-22 08:57:09,2024-05-22 08:58:00,-0.85,NaN
1931261,0.00,88948,10,35795,35880.00,206.90,2024-05-22 09:56:35,2024-05-22 09:58:00,-1.42,59.43
1931264,0.00,88949,19,32654,32760.00,206.90,2024-05-22 09:04:14,2024-05-22 09:06:00,-1.77,NaN
1931267,0.00,88949,19,36275,36360.00,206.90,2024-05-22 10:04:35,2024-05-22 10:06:00,-1.42,60.35

## Step 8: Try MBTA - Massachusetts Bay Transportation Authority: 25% of scheduled headway 
* [Source](https://transitmatters.org/blog/reveal-mbtas-slowest-most-bunched-bus)
* [2024 Report](https://drive.google.com/file/d/1QFTVg0N3-uQeVoMqlOE6QLPqcoCtifzp/view?pli=1)
    * Taking a data-backed approach by relying on archival bus arrival and departure times from the MBTAs Open Data Portal and augmenting the data
      with route information from the MBTAs GTFS Feed,we adapted the methodology to reflect Bostons
         unique transit characteristics as well as the post- COVID ridership dynamic to find bus speeds and bus bunching rates.
    * We limited this analysis to routes that had 500 or more daily riders, and only examined trips between 7am and 7pm on weekdays.
    * Adapted from NYC's analysis [here](https://www.nypirg.org/pubs/202311/Top_Ten_Best_Worst_in_NYC_Transit_2010-2019_FINAL.pdf)
    * To calculate the most bunched buses, we first
        defined a "bunch" as a bus that arrives within 25%
        of the scheduled headway of the bus in front of it.
        For example, if a bus is scheduled to arrive every
        10 minutes, a bus that arrives less than 2.5
        minutes aer the bus in front of it is considered
        "bunched". We then looked at all time point events
        between 7am and 7pm on weekdays for each
        route. We matched each one to that days GTFS
        schedule to calculate the appropriate scheduled
        headway for that time of day and then calculated
        the total percent of departure events that met our
        bunching criteria. [here](https://static1.squarespace.com/static/533b9a24e4b01d79d0ae4376/t/6617ec40675223398aac12bf/1712843871514/TransitMatters-Bus-Bunching-Reports-Oct-2023)
    * They calculate it on the route level.
    * If a route has a bunching rate of 10% that means that every 1 out of 10 buses are
bunched. For a rider who does a round trip every day of the month, say 60 individual
trips, that means that the rider will experience bunching 6 times. (AH: how did they consider a trip to be bunched??)
    * Bunching typically worsens throughout a trip and
is most severe at the end of its route. However,
poor scheduling, dispatching, and operational
policy result in buses departing in a bunch, which
sets trips up for failure.
* [2023 Report](https://static1.squarespace.com/static/533b9a24e4b01d79d0ae4376/t/6617ec40675223398aac12bf/1712843871514/TransitMatters-Bus-Bunching-Reports-Oct-2023)
    * Analyzing bunching on a stop level: how many trips for a stop is bunched? 
    * Here, bunching is defined as headways < 25% of the scheduled_headway.
*

In [75]:
transit_matters_df1 = trips_routes_times5.copy()

### Use the scheduled headway min instead of calculating it

In [76]:
transit_matters_df1["pct_actual_schd_headway"] = (
    transit_matters_df1.actual_arrival_lag_min / transit_matters_df1.headway_minutes
)

In [77]:
transit_matters_df1["pct_actual_schd_headway"].describe(percentiles)

count   2957621.00
mean          0.48
std           1.46
min         -83.03
1%            0.04
2%            0.07
5%            0.16
10%           0.22
50%           0.35
90%           0.75
95%           1.04
98%           1.66
99%           2.77
max          83.32
Name: pct_actual_schd_headway, dtype: float64

In [78]:
transit_matters_df1["bunched_y_n"] = np.where(
    transit_matters_df1["pct_actual_schd_headway"] < 0.25, "bunched", "not bunched"
)

In [79]:
transit_matters_df1.bunched_y_n.value_counts() / len(transit_matters_df1)

not bunched   0.86
bunched       0.14
Name: bunched_y_n, dtype: float64

In [80]:
transit_matters_df1.bunched_y_n.value_counts()

not bunched    2698128
bunched         455853
Name: bunched_y_n, dtype: int64

In [81]:
transit_matters_df1.loc[transit_matters_df1.pct_actual_schd_headway < 0.25].sample(3)

,service_date,caltrans_district,schedule_gtfs_dataset_key,feed_key,organization_name,route_long_name,route_type,route_id,direction_id,stop_id,stop_sequence,trip_instance_key,rt_arrival_sec,scheduled_arrival_sec,headway_minutes,converted_rt_arrival,converted_schd_arrival,delay_min,delay_min2,actual_arrival_lag_min,pct_actual_schd_headway,bunched_y_n
2929203,2024-05-22,07 - Los Angeles,f74424acf8c41e4c1e9fd42838c4875c,96358f776e5fcd8d2b6066507aed6645,Foothill Transit,Pomona- Industry- El Monte Station via V,Bus,194,1.00,3414,2496,14aad76fd70717b6875ffa8517b1f5cc,66975,66996.00,60.00,2024-05-22 18:36:15,2024-05-22 18:36:36,-0.35,-0.35,10.92,0.18,bunched
2450303,2024-05-22,07 - Los Angeles,cf0f7df88da36cd9ca4248eb1d6a0f39,da2b98d083fdde4f561bea811ad56b45,City of Culver City,Rapid Sepulveda Boulevard,Bus,6R,0.00,617,3,649747368edb9025f0c610f709448531,53996,53841.00,62.50,2024-05-22 14:59:56,2024-05-22 14:57:21,2.58,2.58,8.85,0.14,bunched
357068,2024-05-22,07 - Los Angeles,0666caf3ec1ecc96b74f4477ee4bc939,608992664173210532aa3e6cc573be2f,Los Angeles County Metropolitan Transportation Authority,Metro Local Line,Bus,212-13172,1.00,1564,54,0e0dba1a3d232b90fcb6a26672e27ec6,70789,70740.00,31.91,2024-05-22 19:39:49,2024-05-22 19:39:00,0.82,0.82,5.60,0.18,bunched

In [82]:
preview_cols.append("pct_actual_schd_headway")

### Observation: This bus is scheduled to arrive every 352 minutes (5 hours) but I can see based on the `rt_arrival_sec`, it comes much more frequently?

In [83]:
transit_matters_df1.loc[
    (
        transit_matters_df1.schedule_gtfs_dataset_key
        == "587e730fac4db21d54037e0f12b0dd5d"
    )
    & (transit_matters_df1.route_id == "606")
    & (transit_matters_df1.stop_id == "831414")
    & (transit_matters_df1.direction_id == 1)
    & (transit_matters_df1.stop_sequence == 20)
].drop(columns=cols_to_drop)

,direction_id,stop_id,stop_sequence,rt_arrival_sec,scheduled_arrival_sec,headway_minutes,converted_rt_arrival,converted_schd_arrival,delay_min2,actual_arrival_lag_min,pct_actual_schd_headway,bunched_y_n
1161083,1.00,831414,20,27276,27000.00,352.94,2024-05-22 07:34:36,2024-05-22 07:30:00,4.60,NaN,NaN,not bunched
1161084,1.00,831414,20,27298,27000.00,352.94,2024-05-22 07:34:58,2024-05-22 07:30:00,4.97,0.37,0.00,bunched
1161085,1.00,831414,20,28750,28740.00,352.94,2024-05-22 07:59:10,2024-05-22 07:59:00,0.17,24.20,0.07,bunched
1161086,1.00,831414,20,28785,28740.00,352.94,2024-05-22 07:59:45,2024-05-22 07:59:00,0.75,0.58,0.00,bunched

In [84]:
cols_to_drop

['service_date',
 'caltrans_district',
 'route_type',
 'route_id',
 'delay_min',
 'schedule_gtfs_dataset_key',
 'feed_key',
 'organization_name',
 'route_long_name',
 'trip_instance_key']

### Observation: `headway_minutes` is scheduled for every 29 minutes but the `converted_schd_arrival` seems to be a little more frequent?
* 15 minutes between rows 1442133 and 1442134. Likewise, 15 minutes between 1442135 and 1442136.

In [85]:
transit_matters_df1.loc[
    (
        transit_matters_df1.schedule_gtfs_dataset_key
        == "7cc0cb1871dfd558f11a2885c145d144"
    )
    & (transit_matters_df1.route_id == "T")
    & (transit_matters_df1.stop_id == "17346")
    & (transit_matters_df1.direction_id == 1)
    & (transit_matters_df1.stop_sequence == 17)
].drop(columns=cols_to_drop)

,direction_id,stop_id,stop_sequence,rt_arrival_sec,scheduled_arrival_sec,headway_minutes,converted_rt_arrival,converted_schd_arrival,delay_min2,actual_arrival_lag_min,pct_actual_schd_headway,bunched_y_n
1442132,1.00,17346,17,1075,86762.00,29.41,2024-05-22 00:17:55,2024-05-22 00:06:02,11.88,NaN,NaN,not bunched
1442133,1.00,17346,17,25262,24962.00,29.41,2024-05-22 07:01:02,2024-05-22 06:56:02,5.00,403.12,13.71,not bunched
1442134,1.00,17346,17,26210,25862.00,29.41,2024-05-22 07:16:50,2024-05-22 07:11:02,5.80,15.80,0.54,not bunched
1442135,1.00,17346,17,27037,26787.00,29.41,2024-05-22 07:30:37,2024-05-22 07:26:27,4.17,13.78,0.47,not bunched
1442136,1.00,17346,17,27434,27687.00,29.41,2024-05-22 07:37:14,2024-05-22 07:41:27,-4.22,6.62,0.22,bunched
1442137,1.00,17346,17,28885,28647.00,29.41,2024-05-22 08:01:25,2024-05-22 07:57:27,3.97,24.18,0.82,not bunched
1442138,1.00,17346,17,29341,29247.00,29.41,2024-05-22 08:09:01,2024-05-22 08:07:27,1.57,7.60,0.26,not bunched
1442139,1.00,17346,17,29850,29847.00,29.41,2024-05-22 08:17:30,2024-05-22 08:17:27,0.05,8.48,0.29,not bunched
1442140,1.00,17346,17,31195,31047.00,29.41,2024-05-22 08:39:55,2024-05-22 08:37:27,2.47,22.42,0.76,not bunched
1442141,1.00,17346,17,32364,31707.00,29.41,2024-05-22 08:59:24,2024-05-22 08:48:27,10.95,19.48,0.66,not bunched
1442142,1.00,17346,17,32822,32307.00,29.41,2024-05-22 09:07:02,2024-05-22 08:58:27,8.58,7.63,0.26,not bunched
1442143,1.00,17346,17,33122,32967.00,29.41,2024-05-22 09:12:02,2024-05-22 09:09:27,2.58,5.00,0.17,bunched
1442144,1.00,17346,17,33509,33567.00,29.41,2024-05-22 09:18:29,2024-05-22 09:19:27,-0.97,6.45,0.22,bunched
1442145,1.00,17346,17,34306,34167.00,29.41,2024-05-22 09:31:46,2024-05-22 09:29:27,2.32,13.28,0.45,not bunched
1442146,1.00,17346,17,35021,34767.00,29.41,2024-05-22 09:43:41,2024-05-22 09:39:27,4.23,11.92,0.41,not bunched
1442147,1.00,17346,17,35291,35367.00,29.41,2024-05-22 09:48:11,2024-05-22 09:49:27,-1.27,4.50,0.15,bunched
1442148,1.00,17346,17,36150,35967.00,29.41,2024-05-22 10:02:30,2024-05-22 09:59:27,3.05,14.32,0.49,not bunched
1442149,1.00,17346,17,36222,36567.00,29.41,2024-05-22 10:03:42,2024-05-22 10:09:27,-5.75,1.20,0.04,bunched
1442150,1.00,17346,17,38225,37887.00,29.41,2024-05-22 10:37:05,2024-05-22 10:31:27,5.63,33.38,1.14,not bunched
1442151,1.00,17346,17,38525,38487.00,29.41,2024-05-22 10:42:05,2024-05-22 10:41:27,0.63,5.00,0.17,bunched
1442152,1.00,17346,17,39255,39087.00,29.41,2024-05-22 10:54:15,2024-05-22 10:51:27,2.80,12.17,0.41,not bunched
1442153,1.00,17346,17,40179,39687.00,29.41,2024-05-22 11:09:39,2024-05-22 11:01:27,8.20,15.40,0.52,not bunched
1442154,1.00,17346,17,40665,40287.00,29.41,2024-05-22 11:17:45,2024-05-22 11:11:27,6.30,8.10,0.28,not bunched
1442155,1.00,17346,17,41077,40887.00,29.41,2024-05-22 11:24:37,2024-05-22 11:21:27,3.17,6.87,0.23,bunched
1442156,1.00,17346,17,41693,41487.00,29.41,2024-05-22 11:34:53,2024-05-22 11:31:27,3.43,10.27,0.35,not bunched
1442157,1.00,17346,17,42365,42087.00,29.41,2024-05-22 11:46:05,2024-05-22 11:41:27,4.63,11.20,0.38,not bunched
1442158,1.00,17346,17,43066,43287.00,29.41,2024-05-22 11:57:46,2024-05-22 12:01:27,-3.68,11.68,0.40,not bunched
1442159,1.00,17346,17,43800,43887.00,29.41,2024-05-22 12:10:00,2024-05-22 12:11:27,-1.45,12.23,0.42,not bunched
1442160,1.00,17346,17,44480,42687.00,29.41,2024-05-22 12:21:20,2024-05-22 11:51:27,29.88,11.33,0.39,not bunched
1442161,1.00,17346,17,44818,44487.00,29.41,2024-05-22 12:26:58,2024-05-22 12:21:27,5.52,5.63,0.19,bunched
1442162,1.00,17346,17,45109,45087.00,29.41,2024-05-22 12:31:49,2024-05-22 12:31:27,0.37,4.85,0.16,bunched
1442163,1.00,17346,17,45859,45687.00,29.41,2024-05-22 12:44:19,2024-05-22 12:41:27,2.87,12.50,0.43,not bunched
1442164,1.00,17346,17,46585,46287.00,29.41,2024-05-22 12:56:25,2024-05-22 12:51:27,4.97,12.10,0.41,not bunched
1442165,1.00,17346,17,47407,46887.00,29.41,2024-05-22 13:10:07,2024-05-22 13:01:27,8.67,13.70,0.47,not bunched
1442166,1.00,17346,17,47576,47487.00,29.41,2024-05-22 13:12:56,2024-05-22 13:11:27,1.48,2.82,0.10,bunched
1442167,1.00,17346,17,48213,48087.00,29.41,2024-05-22 13:23:33,2024-05-22 13:21:27,2.10,10.62,0.36,not bunched
1442168,1.00,17346,17,49106,48687.00,29.41,2024-05-22 13:38:26,2024-05-22 13:31:27,6.98,14.88,0.51,not bunched
1442169,1.00,17346,17,49338,49287.00,29.41,2024-05-22 13:42:18,2024-05-22 13:41:27,0.85,3.87,0.13,bunched
1442170,1.00,17346,17,49973,49887.00,29.41,2024-05-22 13:52:53,2024-05-22 13:51:27,1.43,10.58,0.36,not bunched
1442171,1.00,17346,17,50425,50487.00,29.41,2024-05-22 14:00:25,2024-05-22 14:01:27,-1.03,7.53,0.26,not bunched
1442172,1.00,17346,17,51103,51087.00,29.41,2024-05-22 14:11:43,2024-05-22 14:11:27,0.27,11.30,0.38,not bunched
1442173,1.00,17346,17,52133,51687.00,29.41,2024-05-22 14:28:53,2024-05-22 14:21:27,7.43,17.17,0.58,not bunched
1442174,1.00,17346,17,52204,52287.00,29.41,2024-05-22 14:30:04,2024-05-22 14:31:27,-1.38,1.18,0.04,bunched
1442175,1.00,17346,17,53485,53487.00,29.41,2024-05-22 14:51:25,2024-05-22 14:51:27,-0.03,21.35,0.73,not bunched
1442176,1.00,17346,17,54046,54087.00,29.41,2024-05-22 15:00:46,2024-05-22 15:01:27,-0.68,9.35,0.32,not bunched
1442177,1.00,17346,17,55103,54687.00,29.41,2024-05-22 15:18:23,2024-05-22 15:11:27,6.93,17.62,0.60,not bunched
1442178,1.00,17346,17,55443,55287.00,29.41,2024-05-22 15:24:03,2024-05-22 15:21:27,2.60,5.67,0.19,bunched
1442179,1.00,17346,17,56292,55947.00,29.41,2024-05-22 15:38:12,2024-05-22 15:32:27,5.75,14.15,0.48,not bunched
1442180,1.00,17346,17,56636,56607.00,29.41,2024-05-22 15:43:56,2024-05-22 15:43:27,0.48,5.73,0.19,bunched
1442181,1.00,17346,17,57539,57207.00,29.41,2024-05-22 15:58:59,2024-05-22 15:53:27,5.53,15.05,0.51,not bunched
1442182,1.00,17346,17,57588,57807.00,29.41,2024-05-22 15:59:48,2024-05-22 16:03:27,-3.65,0.82,0.03,bunched
1442183,1.00,17346,17,58598,58407.00,29.41,2024-05-22 16:16:38,2024-05-22 16:13:27,3.18,16.83,0.57,not bunched
1442184,1.00,17346,17,59847,59007.00,29.41,2024-05-22 16:37:27,2024-05-22 16:23:27,14.00,20.82,0.71,not bunched
1442185,1.00,17346,17,61001,60807.00,29.41,2024-05-22 16:56:41,2024-05-22 16:53:27,3.23,19.23,0.65,not bunched
1442186,1.00,17346,17,61501,61467.00,29.41,2024-05-22 17:05:01,2024-05-22 17:04:27,0.57,8.33,0.28,not bunched
1442187,1.00,17346,17,61940,62007.00,29.41,2024-05-22 17:12:20,2024-05-22 17:13:27,-1.12,7.32,0.25,bunched
1442188,1.00,17346,17,62346,62607.00,29.41,2024-05-22 17:19:06,2024-05-22 17:23:27,-4.35,6.77,0.23,bunched
1442189,1.00,17346,17,62840,63207.00,29.41,2024-05-22 17:27:20,2024-05-22 17:33:27,-6.12,8.23,0.28,not bunched
1442190,1.00,17346,17,63547,63807.00,29.41,2024-05-22 17:39:07,2024-05-22 17:43:27,-4.33,11.78,0.40,not bunched
1442191,1.00,17346,17,64312,64407.00,29.41,2024-05-22 17:51:52,2024-05-22 17:53:27,-1.58,12.75,0.43,not bunched
1442192,1.00,17346,17,65347,65007.00,29.41,2024-05-22 18:09:07,2024-05-22 18:03:27,5.67,17.25,0.59,not bunched
1442193,1.00,17346,17,65599,65607.00,29.41,2024-05-22 18:13:19,2024-05-22 18:13:27,-0.13,4.20,0.14,bunched
1442194,1.00,17346,17,66675,66207.00,29.41,2024-05-22 18:31:15,2024-05-22 18:23:27,7.80,17.93,0.61,not bunched
1442195,1.00,17346,17,68192,66807.00,29.41,2024-05-22 18:56:32,2024-05-22 18:33:27,23.08,25.28,0.86,not bunched
1442196,1.00,17346,17,69033,67887.00,29.41,2024-05-22 19:10:33,2024-05-22 18:51:27,19.10,14.02,0.48,not bunched
1442197,1.00,17346,17,69415,68487.00,29.41,2024-05-22 19:16:55,2024-05-22 19:01:27,15.47,6.37,0.22,bunched
1442198,1.00,17346,17,69635,69687.00,29.41,2024-05-22 19:20:35,2024-05-22 19:21:27,-0.87,3.67,0.12,bunched
1442199,1.00,17346,17,70638,70347.00,29.41,2024-05-22 19:37:18,2024-05-22 19:32:27,4.85,16.72,0.57,not bunched
1442200,1.00,17346,17,72331,71847.00,29.41,2024-05-22 20:05:31,2024-05-22 19:57:27,8.07,28.22,0.96,not bunched
1442201,1.00,17346,17,72646,72567.00,29.41,2024-05-22 20:10:46,2024-05-22 20:09:27,1.32,5.25,0.18,bunched
1442202,1.00,17346,17,73378,73287.00,29.41,2024-05-22 20:22:58,2024-05-22 20:21:27,1.52,12.20,0.41,not bunched
1442203,1.00,17346,17,75121,74607.00,29.41,2024-05-22 20:52:01,2024-05-22 20:43:27,8.57,29.05,0.99,not bunched
1442204,1.00,17346,17,76013,73947.00,29.41,2024-05-22 21:06:53,2024-05-22 20:32:27,34.43,14.87,0.51,not bunched
1442205,1.00,17346,17,76055,75267.00,29.41,2024-05-22 21:07:35,2024-05-22 20:54:27,13.13,0.70,0.02,bunched
1442206,1.00,17346,17,76878,75987.00,29.41,2024-05-22 21:21:18,2024-05-22 21:06:27,14.85,13.72,0.47,not bunched
1442207,1.00,17346,17,77128,76707.00,29.41,2024-05-22 21:25:28,2024-05-22 21:18:27,7.02,4.17,0.14,bunched
1442208,1.00,17346,17,77667,77487.00,29.41,2024-05-22 21:34:27,2024-05-22 21:31:27,3.00,8.98,0.31,not bunched
1442209,1.00,17346,17,78183,78302.00,29.41,2024-05-22 21:43:03,2024-05-22 21:45:02,-1.98,8.60,0.29,not bunched
1442210,1.00,17346,17,79369,79142.00,29.41,2024-05-22 22:02:49,2024-05-22 21:59:02,3.78,19.77,0.67,not bunched
1442211,1.00,17346,17,80521,80042.00,29.41,2024-05-22 22:22:01,2024-05-22 22:14:02,7.98,19.20,0.65,not bunched
1442212,1.00,17346,17,83207,82562.00,29.41,2024-05-22 23:06:47,2024-05-22 22:56:02,10.75,44.77,1.52,not bunched
1442213,1.00,17346,17,83942,83462.00,29.41,2024-05-22 23:19:02,2024-05-22 23:11:02,8.00,12.25,0.42,not bunched
1442214,1.00,17346,17,84522,84362.00,29.41,2024-05-22 23:28:42,2024-05-22 23:26:02,2.67,9.67,0.33,not bunched
1442215,1.00,17346,17,85596,85562.00,29.41,2024-05-22 23:46:36,2024-05-22 23:46:02,0.57,17.90,0.61,not bunched

## Step 9 Transit Matters: 2 minute benchmark
* [Source](https://static1.squarespace.com/static/533b9a24e4b01d79d0ae4376/t/645e82de1f570b31497c44dc/1683915486889/TransitMatters-Headwaymanagement.pdf)
* Justifying the use of
headway maintenance. For example, in April
2022 the 66 bus significantly bunched around
several stops. <b>When bunching is defined as
buses that run within two minutes or less of
each other</b>, inbound buses towards Nubian
Square bunched 10% of the time at Brigham
Circle, 9% at Brookline Village and Roxbury
Crossing, and 8% of the time at Coolidge
Corner. Bunching is even more dramatic
outbound towards Harvard Square where
buses bunched over 35% of the time at Winship
St, 13% at Coolidge Corner and Harvard Ave at
Commonwealth Ave, and 12% at North Harvard
St at Western Ave. View more data about bus
bunching through the TransitMatters Data
Dashboard here.

In [86]:
two_minutes_df = trips_routes_times5.copy()

In [89]:
len(two_minutes_df.loc[two_minutes_df["actual_arrival_lag_min"] < 0])

1709

### Added my own condition here to not tag any rows below 0, even though the literature didn't mention this.

In [90]:
two_minutes_df["bunched_y_n"] = np.where(
    (two_minutes_df["actual_arrival_lag_min"] > 0)
    & (two_minutes_df["actual_arrival_lag_min"] <= 2),
    "bunched",
    "not bunched",
)

In [91]:
two_minutes_df.bunched_y_n.value_counts() / len(two_minutes_df)

not bunched   0.99
bunched       0.01
Name: bunched_y_n, dtype: float64