In [1]:
import datetime
import sys

import google.auth
import pandas as pd
from google.cloud import bigquery
from loguru import logger
from shared_utils import rt_dates
from update_vars import SEGMENT_GCS

credentials, project = google.auth.default()

In [2]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

In [3]:
# rt_dates.DATES

In [4]:
aug_2025 = "2025-08-20"

In [27]:
sql_query = f"""
        SELECT *
        FROM  `cal-itp-data-infra-staging.tiffany_mart_gtfs_rollup.fct_monthly_schedule_route_direction_summary`
        WHERE month_first_day = "2025-10-01"
    """

In [8]:
sql_query

'\n        SELECT *\n        FROM  `cal-itp-data-infra-staging.tiffany_mart_gtfs_rollup.fct_monthly_schedule_route_direction_summary`\n        WHERE month_first_day = aug_2025\n    '

In [28]:
client = bigquery.Client()

query_job = client.query(sql_query)

df = query_job.result().to_dataframe()

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14843 entries, 0 to 14842
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          14843 non-null  object
 1   month_first_day               14843 non-null  dbdate
 2   month                         14843 non-null  Int64
 3   year                          14843 non-null  Int64
 4   day_type                      14843 non-null  object
 5   route_name                    14843 non-null  object
 6   direction_id                  13731 non-null  Int64
 7   route_type                    14843 non-null  object
 8   route_color                   13157 non-null  object
 9   route_typology                14843 non-null  object
 10  daily_trips_all_day           14843 non-null  float64
 11  daily_stop_arrivals_all_day   14843 non-null  float64
 12  daily_distinct_stops_all_day  14843 non-null  float64
 13  frequency_all_day             14843 non-null  float64
 14  daily_service_hours           14825 non-null  float64
 15  daily_flex_service_hours      18 non-null     float64
 16  daily_trips_owl               1923 non-null   float64
 17  daily_trips_early_am          8132 non-null   float64
 18  daily_trips_am_peak           12374 non-null  float64
 19  daily_trips_midday            12409 non-null  float64
 20  daily_trips_pm_peak           12781 non-null  float64
 21  daily_trips_evening           6456 non-null   float64
 22  daily_trips_peak              11223 non-null  float64
 23  daily_trips_offpeak           11223 non-null  float64
 24  frequency_owl                 1923 non-null   float64
 25  frequency_early_am            8132 non-null   float64
 26  frequency_am_peak             12374 non-null  float64
 27  frequency_midday              12409 non-null  float64
 28  frequency_pm_peak             12781 non-null  float64
 29  frequency_evening             6456 non-null   float64
 30  frequency_peak                11223 non-null  float64
 31  frequency_offpeak             1354 non-null   float64
dtypes: Int64(3), dbdate(1), float64(22), object(6)
memory usage: 3.7+ MB

In [30]:
df.shape

(14843, 32)

In [31]:
df.head(2)

,name,month_first_day,month,year,day_type,route_name,direction_id,route_type,route_color,route_typology,daily_trips_all_day,daily_stop_arrivals_all_day,daily_distinct_stops_all_day,frequency_all_day,daily_service_hours,daily_flex_service_hours,daily_trips_owl,daily_trips_early_am,daily_trips_am_peak,daily_trips_midday,daily_trips_pm_peak,daily_trips_evening,daily_trips_peak,daily_trips_offpeak,frequency_owl,frequency_early_am,frequency_am_peak,frequency_midday,frequency_pm_peak,frequency_evening,frequency_peak,frequency_offpeak
0,Sacramento Schedule,2025-10-01,10,2025,Weekday,020__20 FSL Route 20,1,3,0000FF,bus,2.00,64.00,60.00,0.20,1.20,NaN,NaN,NaN,NaN,1.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,0.20,0.20,NaN,NaN,NaN
1,Monterey Salinas Schedule,2025-10-01,10,2025,Weekday,040__40 Salinas - Rancho Cielo,0,3,0093CE,bus,1.00,2.00,2.00,0.20,0.28,NaN,NaN,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.20,NaN,NaN,NaN,NaN