# Caltrans District + Legislative District
* How to add Caltrans and Legislative District to `fct_monthly_operator_summary` and `fct_monthly_routes`

In [14]:
from datetime import datetime
from functools import cache
from pathlib import Path
from typing import Literal

import _sql_query
import geopandas as gpd
import google.auth
import pandas as pd
import pandas_gbq
import publish_public_data
from calitp_data_analysis import geography_utils
from calitp_data_analysis.gcs_geopandas import GCSGeoPandas
from shared_utils import geo_utils, gtfs_utils_v2, portfolio_utils, publish_utils
from update_vars import GTFS_DATA_DICT

In [15]:
credentials, project = google.auth.default()

In [2]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

In [3]:
@cache
def gcs_geopandas():
    return GCSGeoPandas()

## Caltrans District
* Testing `cal-itp-data-infra-staging.tiffany_mart_transit_database.bridge_gtfs_analysis_name_x_ntd` per [Issue 1791](https://github.com/cal-itp/data-analyses/issues/1791)

In [6]:
query_sql = f"""
        SELECT 
            *
        FROM `cal-itp-data-infra-staging`.`tiffany_mart_transit_database`.`bridge_gtfs_analysis_name_x_ntd`
    """

In [7]:
query_sql

'\n        SELECT \n            *\n        FROM `cal-itp-data-infra-staging`.`tiffany_mart_transit_database`.`bridge_gtfs_analysis_name_x_ntd`\n    '

In [11]:
project = "cal-itp-data-infra"

In [17]:
df = pandas_gbq.read_gbq(
        query_sql, 
        project_id = project,
        dialect = "standard",
        credentials = credentials
    )

Downloading: 100%|██████████|

In [32]:
df.columns

Index(['organization_name', 'organization_source_record_id',
       'schedule_source_record_id', 'schedule_gtfs_dataset_name',
       'analysis_name', 'regional_feed_type', 'county_name',
       'caltrans_district', 'caltrans_district_name', 'ntd_id', 'ntd_id_2022',
       'rtpa_name', 'mpo_name'],
      dtype='object')

In [35]:
df = df[['analysis_name', 'county_name',
       'caltrans_district', 'caltrans_district_name', 'ntd_id', 'ntd_id_2022',
       'rtpa_name', 'mpo_name']]

In [19]:
df.shape

(208, 13)

In [36]:
df.sample()

,analysis_name,county_name,caltrans_district,caltrans_district_name,ntd_id,ntd_id_2022,rtpa_name,mpo_name
78,City of Fairfield,Solano,4,Bay Area / Oakland,90092,90092,Metropolitan Transportation Commission,Metropolitan Transportation Commission

In [20]:
df.organization_name.nunique()

184

In [23]:
df.analysis_name.nunique()

179

In [43]:
df.loc[df.analysis_name.str.contains("Alhambra")]

,analysis_name,county_name,caltrans_district,caltrans_district_name,ntd_id,ntd_id_2022,rtpa_name,mpo_name
90,City of Alhambra,Los Angeles,7,Los Angeles / Ventura,90247,90247,Southern California Association of Governments,Southern California Association of Governments

In [22]:
df.organization_name.value_counts().head()

City of San Luis Obispo                         4
City and County of San Francisco                3
City of Tracy                                   2
Presidio Trust                                  2
Mission Bay Transportation Management Agency    2
Name: organization_name, dtype: int64

### monthly_operator_summary

In [29]:
monthly_operator_summary_url = "gs://calitp-analytics-data/data-analyses/gtfs_digest/raw/fct_monthly_operator_summary_2025_12.parquet"

In [59]:
monthly_operator_summary_df = pd.read_parquet(monthly_operator_summary_url).drop(columns = ["vp_base64_url", "schedule_base64_url", "tu_base64_url"])

In [62]:
monthly_operator_summary_df.sample().T

                                                  1234
month                                                1
year                                              2025
month_first_day                    2025-01-01 00:00:00
schedule_name                             GET Schedule
vp_name                           GET VehiclePositions
tu_name                                GET TripUpdates
day_type                                        Sunday
analysis_name           Golden Empire Transit District
n_trips                                           2200
daily_trips                                     550.00
ttl_service_hours                           2421186.70
n_routes                                         15.00
n_shapes                                         50.00
n_stops                                        1025.00
n_days                                               4
vp_messages_per_minute                            3.00
n_vp_trips                                        2177
daily_vp_trips                                  544.30
pct_vp_trips                                      0.99
n_vp_routes                                       1.00
pct_vp_service_hours                              0.00
tu_messages_per_minute                            3.00
n_tu_trips                                        2185
daily_tu_trips                                  546.30
pct_tu_trips                                      0.99
n_tu_routes                                       1.00
pct_tu_service_hours                              0.00

In [37]:
monthly_operator_summary_df2 = pd.merge(
    monthly_operator_summary_df,
    df,
    on = ['analysis_name'],
    how = "outer",
    indicator= True
)

In [38]:
monthly_operator_summary_df2._merge.value_counts()

both          3324
left_only     1055
right_only      99
Name: _merge, dtype: int64

In [54]:
monthly_operator_summary_df2.loc[monthly_operator_summary_df2._merge == "right_only"] [['analysis_name']].drop_duplicates().sort_values(by = ["analysis_name"])

                                                      analysis_name
4462                                 Amador Regional Transit System
4428                                                         Amtrak
4405                             Angel Island-Tiburon Ferry Company
4412                                                  Basin Transit
4407                                       Calaveras Transit Agency
4446                                        Chemehuevi Indian Tribe
4425                                               City of Alhambra
4459                                                City of Artesia
4470                                                  City of Arvin
4466                                           City of Baldwin Park
4429                                                   City of Bell
4455                                           City of Bell Gardens
4449                                             City of Bellflower
4469                                              City of Calabasas
4393                                                 City of Carson
4456                                               City of Cerritos
4394                                                 City of Clovis
4396                                                 City of Corona
4419                                                 City of Cudahy
4399                                            City of Culver City
4401                                             City of Dana Point
4426                                                 City of Delano
4390                                               City of El Monte
4439                                             City of El Segundo
4387                                               City of Glendale
4427                                               City of Glendora
4465                                        City of Huntington Park
4397                                              City of Inglewood
4451                                              City of La Puente
4382                                           City of Laguna Beach
4447                                          City of Laguna Niguel
4406                                               City of Lawndale
4475                                                   City of Lodi
4440                                                 City of Lompoc
4430                                                City of Lynwood
4457                                                 City of Madera
4467                                                City of Maywood
4420                                          City of Mission Viejo
4379                                          City of Mountain View
4433                                                City of Needles
4476                                              City of Rio Vista
4400                                                  City of Ripon
4418                                              City of Roseville
4409                                           City of San Clemente
4431                                           City of San Fernando
4403                                    City of San Juan Capistrano
4410                                                City of Solvang
4461                                             City of South Gate
4389                                    City of South San Francisco
4435                                          City of Thousand Oaks
4434                                                City of Visalia
4381                                            City of West Covina
4411         Commute.org and Menlo Park Community Shuttles Schedule
4380                                           Curry Public Transit
4464                             El Dorado County Transit Authority
4423                                          FlixBus and Greyhound
4391                             Fresno County Rural Transit Agency
4402                                                   Glenn County
4395                      Imperial County Transportation Commission
4443                                  Lassen Transit Service Agency
4388                                             Los Angeles County
4413                                     Los Angeles World Airports
4441                   Mission Bay Transportation Management Agency
4421                                    Modoc Transportation Agency
4437                       Mountain Area Regional Transit Authority
4438                                  North County Transit District
4415                                                          POINT
4474                               Palo Verde Valley Transit Agency
4408                       Palos Verdes Peninsula Transit Authority
4416                                                  Placer County
4422                                         Plumas Transit Systems
4472                                              Sacramento County
4471               San Benito County Local Transportation Authority
4436                  San Francisco Bay Area Rapid Transit District
4460                            San Francisco International Airport
4386                Santa Barbara County Association of Governments
4445                                                Siskiyou County
4453                                            Stanford University
4452                                  Tahoe Transportation District
4468   Tahoe Truckee Area Regional Transportation, North Lake Tahoe
4458                                                Town of Truckee
4463               Transit Joint Powers Authority for Merced County
4392                          Treasure Island Community Development
4424                                                 Trinity County
4404                               University of California, Irvine
4432                            University of California, San Diego
4477                                Victor Valley Transit Authority
4398                            Yolo County Transportation District
4448                   Yosemite Area Regional Transportation System
4384                                         Yosemite National Park
4454                                  Yuba-Sutter Transit Authority
4473  Yuma County Intergovernmental Public Transportation Authority
4450                                                    Yurok Tribe

### Quite a few operators are missing that appear in the NTD crosswalk. Check `fct_monthly_schedule_route_direction_summary`

#### Mountain View is missing an analysis_name value.

In [64]:
monthly_operator_summary_df.loc[monthly_operator_summary_df.schedule_name.str.contains("Mountain")].sample()

,month,year,month_first_day,schedule_name,vp_name,tu_name,day_type,analysis_name,n_trips,daily_trips,ttl_service_hours,n_routes,n_shapes,n_stops,n_days,vp_messages_per_minute,n_vp_trips,daily_vp_trips,pct_vp_trips,n_vp_routes,pct_vp_service_hours,tu_messages_per_minute,n_tu_trips,daily_tu_trips,pct_tu_trips,n_tu_routes,pct_tu_service_hours
3127,9,2025,2025-09-01,Mountain View Community Shuttle Schedule,Mountain View Community Shuttle VehiclePositions,Mountain View Community Shuttle TripUpdates,Weekday,None,924,44.00,49156.80,2.00,2.00,56.00,21,3.00,924,44.00,1.00,1.00,0.03,3.00,924,44.00,1.00,1.00,0.25

#### Same thing with Roseville

In [70]:
monthly_operator_summary_df.loc[monthly_operator_summary_df.schedule_name.str.contains("Roseville")].sample()

,month,year,month_first_day,schedule_name,vp_name,tu_name,day_type,analysis_name,n_trips,daily_trips,ttl_service_hours,n_routes,n_shapes,n_stops,n_days,vp_messages_per_minute,n_vp_trips,daily_vp_trips,pct_vp_trips,n_vp_routes,pct_vp_service_hours,tu_messages_per_minute,n_tu_trips,daily_tu_trips,pct_tu_trips,n_tu_routes,pct_tu_service_hours
2857,10,2025,2025-10-01,Roseville Transit TripShot Schedule,Roseville Transit TripShot VehiclePositions,Roseville Transit TripShot TripUpdates,Weekday,None,3819,166.00,669090.10,32.04,52.04,192.04,23,3.00,3344,145.40,0.88,1.00,0.01,3.00,3490,151.70,0.92,1.00,0.07

#### Same thing with YoloBus

In [72]:
monthly_operator_summary_df.loc[monthly_operator_summary_df.schedule_name.str.contains("Yolo")].sample()

,month,year,month_first_day,schedule_name,vp_name,tu_name,day_type,analysis_name,n_trips,daily_trips,ttl_service_hours,n_routes,n_shapes,n_stops,n_days,vp_messages_per_minute,n_vp_trips,daily_vp_trips,pct_vp_trips,n_vp_routes,pct_vp_service_hours,tu_messages_per_minute,n_tu_trips,daily_tu_trips,pct_tu_trips,n_tu_routes,pct_tu_service_hours
249,8,2025,2025-08-01,Yolobus Schedule,Yolobus Vehicle Positions,Yolobus TripUpdates,Saturday,None,500,125.00,148993.70,7.00,8.00,223.00,4,3.00,486,121.50,0.97,1.00,0.00,2.50,500,125.00,1.00,1.00,0.02

#### Alhambra is just missing

In [61]:
monthly_operator_summary_df.loc[monthly_operator_summary_df.schedule_name.str.contains("Alhambra")]

Empty DataFrame
Columns: [month, year, month_first_day, schedule_name, vp_name, tu_name, day_type, analysis_name, n_trips, daily_trips, ttl_service_hours, n_routes, n_shapes, n_stops, n_days, vp_messages_per_minute, n_vp_trips, daily_vp_trips, pct_vp_trips, n_vp_routes, pct_vp_service_hours, tu_messages_per_minute, n_tu_trips, daily_tu_trips, pct_tu_trips, n_tu_routes, pct_tu_service_hours]
Index: []

In [66]:
monthly_operator_summary_df.loc[monthly_operator_summary_df.schedule_name.str.contains("Needles")]

Empty DataFrame
Columns: [month, year, month_first_day, schedule_name, vp_name, tu_name, day_type, analysis_name, n_trips, daily_trips, ttl_service_hours, n_routes, n_shapes, n_stops, n_days, vp_messages_per_minute, n_vp_trips, daily_vp_trips, pct_vp_trips, n_vp_routes, pct_vp_service_hours, tu_messages_per_minute, n_tu_trips, daily_tu_trips, pct_tu_trips, n_tu_routes, pct_tu_service_hours]
Index: []

In [45]:
monthly_operator_summary_df2.loc[monthly_operator_summary_df2._merge == "right_only"].analysis_name.nunique()

93

### schedule_rt_route_direction_summary

In [73]:
sched_route_url = "gs://calitp-analytics-data/data-analyses/gtfs_digest/raw/schedule_rt_route_direction_summary_2025_12.parquet"

In [74]:
sched_route_df = pd.read_parquet(sched_route_url)

In [76]:
sched_route_df = sched_route_df.pipe(portfolio_utils.standardize_portfolio_organization_names)

In [77]:
sched_route_df.sample()

,name,month_first_day,month,year,day_type,route_name,direction_id,route_type,route_color,route_typology,daily_trips_all_day,daily_stop_arrivals_all_day,daily_distinct_stops_all_day,frequency_all_day,daily_service_hours,daily_flex_service_hours,daily_trips_owl,daily_trips_early_am,daily_trips_am_peak,daily_trips_midday,daily_trips_pm_peak,daily_trips_evening,daily_trips_peak,daily_trips_offpeak,frequency_owl,frequency_early_am,frequency_am_peak,frequency_midday,frequency_pm_peak,frequency_evening,frequency_peak,frequency_offpeak,schedule_base64_url,tu_name,vp_name,schedule_name,tu_base64_url,vp_base64_url,tu_num_distinct_updates,daily_tu_num_distinct_updates,daily_tu_num_skipped_stops,daily_tu_num_canceled_stops,daily_tu_num_added_stops,daily_tu_num_scheduled_stops,n_tu_trips,daily_tu_trips,vp_num_distinct_updates,daily_vp_num_distinct_updates,n_vp_trips,daily_vp_trips,n_rt_trips,n_rt_days,analysis_name,source_record_id
10509,Bay Area 511 San Francisco Bay Ferry Schedule,2025-10-01,10,2025,Weekday,OA__OA Oakland & Alameda,1,4,4fab47,ferry,21.00,47.00,47.00,1.05,9.17,NaN,NaN,1.00,5.00,6.00,6.00,3.00,11.00,10.00,NaN,0.33,1.67,1.20,1.20,0.75,1.38,NaN,aHR0cHM6Ly9hcGkuNTExLm9yZy90cmFuc2l0L2RhdGFmZWVkcz9vcGVyYXRvcl9pZD1TQg==,Bay Area 511 San Francisco Bay Ferry TripUpdates,Bay Area 511 San Francisco Bay Ferry VehiclePositions,Bay Area 511 San Francisco Bay Ferry Schedule,aHR0cHM6Ly9hcGkuNTExLm9yZy90cmFuc2l0L3RyaXB1cGRhdGVzP2FnZW5jeT1TQg==,aHR0cHM6Ly9hcGkuNTExLm9yZy90cmFuc2l0L3ZlaGljbGVwb3NpdGlvbnM_YWdlbmN5PVNC,9292,4646.00,0.00,0.00,0.00,46.00,42,21.00,3762,1881.00,42,21.00,42,2,San Francisco Bay Ferry and Oakland Alameda Water Shuttle Schedule,recMVgDUdjNM24Ram

In [78]:
sched_route_df2 = pd.merge(
    sched_route_df,
    df,
    on = ['analysis_name'],
    how = "outer",
    indicator= True
)

In [79]:
sched_route_df2._merge.value_counts()

both          21913
right_only       97
left_only         0
Name: _merge, dtype: int64

In [80]:
sched_route_df2.loc[sched_route_df2._merge == "right_only"] [['analysis_name']].drop_duplicates().sort_values(by = ["analysis_name"])

                                                       analysis_name
21994                                 Amador Regional Transit System
21961                                                         Amtrak
21938                             Angel Island-Tiburon Ferry Company
21945                                                  Basin Transit
21940                                       Calaveras Transit Agency
21977                                        Chemehuevi Indian Tribe
21958                                               City of Alhambra
21990                                                City of Artesia
22002                                                  City of Arvin
21998                                           City of Baldwin Park
21962                                                   City of Bell
21986                                           City of Bell Gardens
21980                                             City of Bellflower
22001                                              City of Calabasas
21927                                                 City of Carson
21987                                               City of Cerritos
21928                                                 City of Clovis
21930                                                 City of Corona
21952                                                 City of Cudahy
21932                                            City of Culver City
21934                                             City of Dana Point
21959                                                 City of Delano
21924                                               City of El Monte
21970                                             City of El Segundo
21921                                               City of Glendale
21960                                               City of Glendora
21997                                        City of Huntington Park
21931                                              City of Inglewood
21982                                              City of La Puente
21916                                           City of Laguna Beach
21978                                          City of Laguna Niguel
21939                                               City of Lawndale
22007                                                   City of Lodi
21971                                                 City of Lompoc
21963                                                City of Lynwood
21988                                                 City of Madera
21999                                                City of Maywood
21953                                          City of Mission Viejo
21913                                          City of Mountain View
21967                                                City of Needles
22008                                              City of Rio Vista
21933                                                  City of Ripon
21951                                              City of Roseville
21942                                           City of San Clemente
21964                                           City of San Fernando
21936                                    City of San Juan Capistrano
21943                                                City of Solvang
21992                                             City of South Gate
21923                                    City of South San Francisco
21968                                          City of Thousand Oaks
21915                                            City of West Covina
21944         Commute.org and Menlo Park Community Shuttles Schedule
21914                                           Curry Public Transit
21996                             El Dorado County Transit Authority
21956                                          FlixBus and Greyhound
21966                                               Foothill Transit
21925                             Fresno County Rural Transit Agency
21935                                                   Glenn County
21929                      Imperial County Transportation Commission
21974                                  Lassen Transit Service Agency
21922                                             Los Angeles County
21946                                     Los Angeles World Airports
21972                   Mission Bay Transportation Management Agency
21954                                    Modoc Transportation Agency
21969                       Mountain Area Regional Transit Authority
21993                                                  Nevada County
21948                                                          POINT
22006                               Palo Verde Valley Transit Agency
21941                       Palos Verdes Peninsula Transit Authority
21949                                                  Placer County
21955                                         Plumas Transit Systems
22004                                              Sacramento County
22003               San Benito County Local Transportation Authority
21991                            San Francisco International Airport
21920                Santa Barbara County Association of Governments
21976                                                Siskiyou County
21984                                            Stanford University
21983                                  Tahoe Transportation District
22000   Tahoe Truckee Area Regional Transportation, North Lake Tahoe
21989                                                Town of Truckee
21995               Transit Joint Powers Authority for Merced County
21926                          Treasure Island Community Development
21957                                                 Trinity County
21937                               University of California, Irvine
21965                            University of California, San Diego
22009                                Victor Valley Transit Authority
21979                   Yosemite Area Regional Transportation System
21918                                         Yosemite National Park
21985                                  Yuba-Sutter Transit Authority
22005  Yuma County Intergovernmental Public Transportation Authority
21981                                                    Yurok Tribe

In [81]:
sched_route_df2.loc[sched_route_df2.schedule_name.str.contains("Mountain")].sample()

ValueError: Cannot mask with non-boolean array containing NA / NaN values