## Where are the rail routes?

In [1]:
import _section1_utils as section1
import geopandas as gpd
import merge_data
import merge_operator_data
import numpy as np
import pandas as pd
from segment_speed_utils import gtfs_schedule_wrangling, helpers
from shared_utils import portfolio_utils
from update_vars import GTFS_DATA_DICT, RT_SCHED_GCS, SCHED_GCS, SEGMENT_GCS

In [2]:
import sys

sys.path.append("../gtfs_funnel/")
import route_typologies

In [3]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

In [4]:
org_name_lists = ["Capitol Corridor Joint Powers Authority"]

In [5]:
organization_name = "Capitol Corridor Joint Powers Authority"

In [6]:
analysis_date_list = ["2024-11-13"]

In [7]:
analysis_date = "2024-11-13"

In [8]:
schd_keys = [
    "f5a749dd65924e025b1293c58f95f8d6",
]

In [9]:
name_list = ["Bay Area 511 Capitol Corridor Schedule"]

In [10]:
ROUTE_TYPOLOGIES = GTFS_DATA_DICT.schedule_tables.route_typologies
route_typologies_df = pd.read_parquet(
    f"{SCHED_GCS}{ROUTE_TYPOLOGIES}_{analysis_date}.parquet"
)

In [11]:
route_typologies_df.head(1)

,schedule_gtfs_dataset_key,name,route_type,route_id,route_long_name,route_short_name,combined_name,is_express,is_rapid,is_rail,is_local,direction_id,common_shape_id,route_name,route_meters,is_coverage,is_downtown_local
0,1770249a5a2e770ca90628434d4934b1,VCTC GMV Schedule,3,3407,Route 18,Route 18,Route 18__Route 18,0,1,0,0,0.00,18827,OHS TRIPPER - C ST - DORIS ST,8611.13,1,0

### Fix `operator_profile`
* Nothing shows up for `# Rail Route Types` even though there's one rail route.

In [12]:
operator_profiles = section1.load_operator_ntd_profile(organization_name)

In [13]:
operator_profiles

,schedule_gtfs_dataset_key,VP per Minute (All Routes),Spatial Accuracy (All Routes),Date,# Routes,# Trips,# Shapes,# Stops,# Arrivals,Operator Service Miles,Avg Arrivals per Stop,# Downtown Local Route Types,# Local Route Types,# Coverage Route Types,# Rapid Route Types,# Express Route Types,# Rail Route Types,Transit Operator,Organization ID,Organization,District,counties_served,service_area_sq_miles,hq_city,service_area_pop,organization_type,primary_uza_name,reporter_type
13,f5a749dd65924e025b1293c58f95f8d6,2.57,0.00,2024-12-11,3.00,57.00,13.00,20.00,378.00,233.57,18.90,0.00,0.00,1.00,0.00,0.00,0.00,Bay Area 511 Capitol Corridor Schedule,recvEBkSBc7UxlarC,Capitol Corridor Joint Powers Authority,04 - Oakland,None,<NA>,None,<NA>,None,None,None

In [14]:
f"{GTFS_DATA_DICT.digest_tables.dir}{GTFS_DATA_DICT.digest_tables.operator_profiles}.parquet"

'gs://calitp-analytics-data/data-analyses/rt_vs_schedule/digest/operator_profiles.parquet'

#### Go to `gtfs_digest/merge_operator_data/concatenate_rt_vs_schedule_operator_metrics`

In [15]:
op_rt_sched_metrics = merge_operator_data.concatenate_rt_vs_schedule_operator_metrics(
    analysis_date_list
)

In [16]:
op_rt_sched_metrics.head(1)

,schedule_gtfs_dataset_key,operator_n_routes,operator_n_trips,operator_n_shapes,operator_n_stops,operator_n_arrivals,operator_route_length_miles,operator_arrivals_per_stop,n_downtown_local_routes,n_local_routes,n_coverage_routes,n_rapid_routes,n_express_routes,n_rail_routes,name,organization_source_record_id,organization_name,service_date
0,0139b1253130b33adcd4b3a4490530d2,25,310,132,308,4859,664.70,15.78,0,0,24,14,0,0,TCRTA TripShot Schedule,rec4YWVqVwJ9XqDbq,Tulare County Regional Transit Agency,2024-11-13

In [17]:
op_rt_sched_metrics = op_rt_sched_metrics.loc[
    op_rt_sched_metrics.schedule_gtfs_dataset_key.isin(schd_keys)
]

In [18]:
op_rt_sched_metrics

,schedule_gtfs_dataset_key,operator_n_routes,operator_n_trips,operator_n_shapes,operator_n_stops,operator_n_arrivals,operator_route_length_miles,operator_arrivals_per_stop,n_downtown_local_routes,n_local_routes,n_coverage_routes,n_rapid_routes,n_express_routes,n_rail_routes,name,organization_source_record_id,organization_name,service_date
178,f5a749dd65924e025b1293c58f95f8d6,3,57,13,20,378,233.57,18.90,0,0,1,0,0,0,Bay Area 511 Capitol Corridor Schedule,recvEBkSBc7UxlarC,Capitol Corridor Joint Powers Authority,2024-11-13

#### File I need to correct is in `data-analyses/gtfs_funnel/operator_scheduled_stats.py`

In [19]:
GTFS_DATA_DICT.schedule_tables.operator_scheduled_stats

'operator_profiles/operator_scheduled_stats'

In [20]:
ROUTE_TYPOLOGY = GTFS_DATA_DICT.schedule_tables.route_typologies

#### I thought I ran this yesterday

In [21]:
route_typology = pd.read_parquet(f"{SCHED_GCS}{ROUTE_TYPOLOGY}_{analysis_date}.parquet")

In [22]:
analysis_date

'2024-11-13'

In [23]:
route_typology = route_typology.loc[route_typology.name.isin(name_list)]

In [24]:
route_typology

,schedule_gtfs_dataset_key,name,route_type,route_id,route_long_name,route_short_name,combined_name,is_express,is_rapid,is_rail,is_local,direction_id,common_shape_id,route_name,route_meters,is_coverage,is_downtown_local
1505,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,Shuttle,Shuttle_Auburn,Shuttle,Shuttle__Shuttle_Auburn,0,0,0,0,1.00,104dc91b-4f7b-4f93-bea2-ebfe9adabcf3,Shuttle to Auburn,60220.51,1,0

### Only one route appears.

### Check out `gtfs_funnel/route_typologies/categorize_routes_by_name`
* 3 routes appear. One is rail.
* All 3 routes are retained until the end.

In [25]:
df = helpers.import_scheduled_trips(
    analysis_date,
    columns=[
        "gtfs_dataset_key",
        "name",
        "route_type",
        "route_id",
        "route_long_name",
        "route_short_name",
    ],
    get_pandas=True,
)

In [26]:
df = df.loc[df.name.isin(name_list)]

In [27]:
df = df.assign(
    route_id=df.route_id.fillna(""),
    route_short_name=df.route_short_name.fillna(""),
    route_long_name=df.route_long_name.fillna(""),
)

In [28]:
df = df.assign(combined_name=df.route_short_name + "__" + df.route_long_name)

In [29]:
df

,schedule_gtfs_dataset_key,name,route_type,route_id,route_long_name,route_short_name,combined_name
1122,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,Shuttle,Shuttle_Auburn,Shuttle,Shuttle__Shuttle_Auburn
1123,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,SF,Shuttle_SF,SF,SF__Shuttle_SF
1124,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,2,CC,Capitol Corridor,CC,CC__Capitol Corridor

In [30]:
def tag_rapid_express_rail(route_name_string: str, route_type_string: str) -> pd.Series:
    """
    Use the combined route_name and see if we can
    tag out words that indicate the route is
    express, rapid, local, and rail.

    Treat rail as own category.
    For local routes, we'll pass that through NACTO to see
    if we can better categorize as downtown_local, local, or coverage.
    """
    route_name_string = route_name_string.lower()

    express = 0
    rapid = 0
    rail = 0

    if any(substring in route_name_string for substring in ["express", "limited"]):
        express = 1
    if "rapid" in route_name_string:
        rapid = 1

    rail_types = ["0", "1", "2", "5", "6", "7", "11", "12"]
    if route_type_string in rail_types:
        rail = 1

    return pd.Series(
        [express, rapid, rail], index=["is_express", "is_rapid", "is_rail"]
    )

I think you'd want to separate rail from the other types before the filtering.
Rail is always tagged here.
The other types that run on roads can have multiple types per route (a bus that runs partway in downtown, partway on local roads, etc). The filtering for typology gets at what might be the most common typologies present (over 10% of the route), and then allows 2 typologies to remain...primary/secondary typology by the end of the script. You can take a look at the relative proportions...but sometimes there's no clear plurality. Feel free to adjust the thresholds for what makes sense, 10% is fairly loose, but you might find dropping it to 5% leaves you with too many rows per route-dir. Find the balance!
The intermediate output produced in this step is: GTFS_DATA_DICT.schedule_tables.route_typologies , and you would be able to control how you want that column to be flagged as an independent table before you merge to GTFS digest without rerunning everything.

In [31]:
typology_tags = df.apply(
    lambda x: tag_rapid_express_rail(x.combined_name, x.route_type), axis=1
)

In [32]:
typology_tags.shape

(3, 3)

In [33]:
typology_tags

      is_express  is_rapid  is_rail
1122           0         0        0
1123           0         0        0
1124           0         0        1

In [34]:
df2 = pd.concat([df, typology_tags], axis=1)

In [35]:
df2

,schedule_gtfs_dataset_key,name,route_type,route_id,route_long_name,route_short_name,combined_name,is_express,is_rapid,is_rail
1122,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,Shuttle,Shuttle_Auburn,Shuttle,Shuttle__Shuttle_Auburn,0,0,0
1123,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,SF,Shuttle_SF,SF,SF__Shuttle_SF,0,0,0
1124,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,2,CC,Capitol Corridor,CC,CC__Capitol Corridor,0,0,1

In [36]:
df2 = df2.assign(
    is_local=df2.apply(
        lambda x: 1
        if (x.is_express == 0) and (x.is_rapid == 0) and (x.is_rail == 0)
        else 0,
        axis=1,
    ).astype(int)
)

### Grab rail routes

In [92]:
rail_routes = df2.loc[df2.is_rail == 1][["route_id","schedule_gtfs_dataset_key"]].drop_duplicates()

In [93]:
rail_routes

     route_id         schedule_gtfs_dataset_key
1124       CC  f5a749dd65924e025b1293c58f95f8d6

### `prep_roads`

In [37]:
roads = route_typologies.prep_roads(GTFS_DATA_DICT)

### `overlay_shapes_to_roads`
* The other 2 routes disappear here. 
* Break it out here.

In [38]:
ROAD_BUFFER_METERS = 20

#### `common_shape` doesn't have the rail routes -> go to `segment_speed_utils/gtfs_schedule_wrangling` to find it.

In [39]:
route_dir_cols = ["gtfs_dataset_key", "route_id", "direction_id"]

keep_trip_cols = route_dir_cols + ["trip_instance_key", "shape_id", "shape_array_key"]

trips = helpers.import_scheduled_trips(
    analysis_date, columns=keep_trip_cols, get_pandas=True
).rename(columns={"schedule_gtfs_dataset_key": "gtfs_dataset_key"})
sorting_order = [True for i in route_dir_cols]

In [40]:
trips = trips.loc[trips.gtfs_dataset_key.isin(schd_keys)]

#### `CC` is the rail.

In [41]:
trips[["route_id"]].drop_duplicates()

      route_id
17474  Shuttle
17475       SF
17491       CC

In [42]:
most_common_shape = (
    trips.groupby(
        route_dir_cols + ["shape_id", "shape_array_key"],
        observed=True,
        group_keys=False,
        dropna=False,
    )
    .agg({"trip_instance_key": "count"})
    .reset_index()
    .sort_values(
        route_dir_cols + ["trip_instance_key"], ascending=sorting_order + [False]
    )
    .drop_duplicates(subset=route_dir_cols)
    .reset_index(drop=True)[route_dir_cols + ["shape_id", "shape_array_key"]]
).rename(
    columns={
        "gtfs_dataset_key": "schedule_gtfs_dataset_key",
        "shape_id": "common_shape_id",
    }
)

In [43]:
most_common_shape[["route_id"]].drop_duplicates()

  route_id
0       CC
2       SF
4  Shuttle

In [44]:
shape_geom = helpers.import_scheduled_shapes(
    analysis_date,
    columns=["shape_array_key", "geometry"],
)

In [45]:
common_shape_geom = pd.merge(
    shape_geom, most_common_shape, on="shape_array_key", how="inner"
).drop(columns="shape_array_key")

In [46]:
common_shape_geom.drop(columns=["geometry"])

,schedule_gtfs_dataset_key,route_id,direction_id,common_shape_id
0,f5a749dd65924e025b1293c58f95f8d6,CC,1.00,92232e9e-55e8-4f8a-bb86-1aeb515be83e
1,f5a749dd65924e025b1293c58f95f8d6,CC,0.00,5cf6811a-2f53-4199-b315-4408eb816e82
2,f5a749dd65924e025b1293c58f95f8d6,Shuttle,1.00,104dc91b-4f7b-4f93-bea2-ebfe9adabcf3
3,f5a749dd65924e025b1293c58f95f8d6,Shuttle,0.00,e70e22aa-8bb7-44eb-b12c-f98aeb8f61b7
4,f5a749dd65924e025b1293c58f95f8d6,SF,1.00,ejnn
5,f5a749dd65924e025b1293c58f95f8d6,SF,0.00,cpz2

In [47]:
route_info = (
    helpers.import_scheduled_trips(
        analysis_date,
        columns=[
            "gtfs_dataset_key",
            "route_id",
            "route_long_name",
            "route_short_name",
            "route_desc",
        ],
    )
    .drop_duplicates()
    .pipe(portfolio_utils.add_route_name)
    .drop(columns=["route_long_name", "route_short_name", "route_desc"])
)

In [48]:
route_info.columns

Index(['schedule_gtfs_dataset_key', 'route_id', 'route_name_used'], dtype='object')

In [49]:
route_info = route_info.loc[route_info.schedule_gtfs_dataset_key.isin(schd_keys)]

In [50]:
route_info

,schedule_gtfs_dataset_key,route_id,route_name_used
1122,f5a749dd65924e025b1293c58f95f8d6,Shuttle,Shuttle to Auburn
1123,f5a749dd65924e025b1293c58f95f8d6,SF,Shuttle to San Francisco Transbay Terminal
1124,f5a749dd65924e025b1293c58f95f8d6,CC,"Daily train service between Auburn, Sacramento, Oakland and San Jose"

In [51]:
common_shape_geom2 = pd.merge(
    common_shape_geom,
    route_info.rename(columns={"route_name_used": "route_name"}),
    on=["schedule_gtfs_dataset_key", "route_id"],
)

In [52]:
common_shape_geom2[["route_id"]].drop_duplicates()

  route_id
0       CC
2  Shuttle
4       SF

In [53]:
common_shape = gtfs_schedule_wrangling.most_common_shape_by_route_direction(
    analysis_date
)

In [54]:
common_shape.columns

Index(['geometry', 'schedule_gtfs_dataset_key', 'route_id', 'direction_id',
       'common_shape_id', 'route_name'],
      dtype='object')

In [55]:
common_shape = common_shape.loc[common_shape.schedule_gtfs_dataset_key.isin(schd_keys)]

In [56]:
common_shape[["route_id", "direction_id"]].drop_duplicates()

    route_id  direction_id
318       CC          1.00
319       CC          0.00
756  Shuttle          1.00
757  Shuttle          0.00
902       SF          1.00
903       SF          0.00

In [57]:
# common_shape.explore("route_id")

In [58]:
common_shape_piped = gtfs_schedule_wrangling.most_common_shape_by_route_direction(
    analysis_date
).pipe(helpers.remove_shapes_outside_ca)

In [59]:
common_shape_piped = common_shape_piped.loc[
    common_shape_piped.schedule_gtfs_dataset_key.isin(schd_keys)
]

In [60]:
common_shape_piped[["route_id"]].drop_duplicates()

    route_id
756  Shuttle

#### Continuing with `gtfs_funnel/route_typologies` the `if==main`

In [61]:
ROAD_BUFFER_METERS = 20

#### Need to update this step so any rail routes aren't filtered out. 
* Adjust typology from 0.10 to 0.09

In [71]:
TYPOLOGY_THRESHOLD = 0.09

In [72]:
gdf = route_typologies.overlay_shapes_to_roads(roads, analysis_date, ROAD_BUFFER_METERS)

In [73]:
gdf.columns

Index(['schedule_gtfs_dataset_key', 'route_id', 'direction_id',
       'common_shape_id', 'route_name', 'route_meters', 'freq_category',
       'typology', 'pct_typology'],
      dtype='object')

In [74]:
gdf = gdf.loc[gdf.schedule_gtfs_dataset_key.isin(schd_keys)]

In [75]:
gdf.route_id.nunique()

3

In [76]:
#gdf[["route_id", "direction_id", "typology", "pct_typology"]].drop_duplicates().sort_values(
#    by=["route_id","direction_id", "pct_typology"]
#)

#### Filtering out for typology_threshold throws away the other routes -> Find a way to retain rail routes.

In [77]:
route_typology_df = gdf.loc[(gdf.pct_typology >= TYPOLOGY_THRESHOLD)]

In [78]:
route_typology_df

,schedule_gtfs_dataset_key,route_id,direction_id,common_shape_id,route_name,route_meters,freq_category,typology,pct_typology
25646,f5a749dd65924e025b1293c58f95f8d6,SF,0.00,cpz2,Shuttle to San Francisco Transbay Terminal,13495.52,high,rapid,0.09
25648,f5a749dd65924e025b1293c58f95f8d6,SF,0.00,cpz2,Shuttle to San Francisco Transbay Terminal,13495.52,very_high,downtown_local,0.09
25664,f5a749dd65924e025b1293c58f95f8d6,Shuttle,1.00,104dc91b-4f7b-4f93-bea2-ebfe9adabcf3,Shuttle to Auburn,60220.51,low,coverage,0.16

#### Getting rail routes back

In [96]:
rail_routes_df = pd.merge(gdf, rail_routes, how = "inner")

In [99]:
rail_routes_df.head(2)

,schedule_gtfs_dataset_key,route_id,direction_id,common_shape_id,route_name,route_meters,freq_category,typology,pct_typology
0,f5a749dd65924e025b1293c58f95f8d6,CC,0.00,5cf6811a-2f53-4199-b315-4408eb816e82,"Daily train service between Auburn, Sacramento, Oakland and San Jose",143715.40,high,downtown_local,0.00
1,f5a749dd65924e025b1293c58f95f8d6,CC,0.00,5cf6811a-2f53-4199-b315-4408eb816e82,"Daily train service between Auburn, Sacramento, Oakland and San Jose",143715.40,high,local,0.00

In [100]:
# Retain only one row for each route-direction-operator
rail_routes_df = rail_routes_df.sort_values(by = ["route_id","direction_id", "schedule_gtfs_dataset_key", "pct_typology"], ascending = [True, True, True, False])

In [103]:
rail_routes_df2 = rail_routes_df.drop_duplicates(subset = ["route_id","direction_id", "schedule_gtfs_dataset_key"])

In [104]:
rail_routes_df2

,schedule_gtfs_dataset_key,route_id,direction_id,common_shape_id,route_name,route_meters,freq_category,typology,pct_typology
2,f5a749dd65924e025b1293c58f95f8d6,CC,0.00,5cf6811a-2f53-4199-b315-4408eb816e82,"Daily train service between Auburn, Sacramento, Oakland and San Jose",143715.40,high,rapid,0.02
9,f5a749dd65924e025b1293c58f95f8d6,CC,1.00,92232e9e-55e8-4f8a-bb86-1aeb515be83e,"Daily train service between Auburn, Sacramento, Oakland and San Jose",143684.90,low,coverage,0.01

In [79]:
route_typology_df2 = route_typologies.primary_secondary_typology(route_typology_df)

In [80]:
route_typology_df2.shape

(2, 9)

In [82]:
route_typology_df2

,schedule_gtfs_dataset_key,route_id,direction_id,common_shape_id,route_name,route_meters,is_nacto_coverage,is_nacto_downtown_local,is_nacto_rapid
0,f5a749dd65924e025b1293c58f95f8d6,SF,0.00,cpz2,Shuttle to San Francisco Transbay Terminal,13495.52,0,1,1
1,f5a749dd65924e025b1293c58f95f8d6,Shuttle,1.00,104dc91b-4f7b-4f93-bea2-ebfe9adabcf3,Shuttle to Auburn,60220.51,1,0,0

In [83]:
route_tagged = route_typologies.categorize_routes_by_name(analysis_date)

#### All the routes pop back here.

In [84]:
route_tagged = route_tagged.loc[route_tagged.schedule_gtfs_dataset_key.isin(schd_keys)]

In [85]:
route_tagged

,schedule_gtfs_dataset_key,name,route_type,route_id,route_long_name,route_short_name,combined_name,is_express,is_rapid,is_rail,is_local
1122,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,Shuttle,Shuttle_Auburn,Shuttle,Shuttle__Shuttle_Auburn,0,0,0,1
1123,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,SF,Shuttle_SF,SF,SF__Shuttle_SF,0,0,0,1
1124,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,2,CC,Capitol Corridor,CC,CC__Capitol Corridor,0,0,1,0

In [86]:
df3 = pd.merge(
            route_tagged,
            route_typology_df2,
            on = ["schedule_gtfs_dataset_key", "route_id"],
            how = "left"
        )

In [87]:
df4 = pd.merge(
            route_tagged,
            route_typology_df2,
            on = ["schedule_gtfs_dataset_key", "route_id"],
        )

In [88]:
df4

,schedule_gtfs_dataset_key,name,route_type,route_id,route_long_name,route_short_name,combined_name,is_express,is_rapid,is_rail,is_local,direction_id,common_shape_id,route_name,route_meters,is_nacto_coverage,is_nacto_downtown_local,is_nacto_rapid
0,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,Shuttle,Shuttle_Auburn,Shuttle,Shuttle__Shuttle_Auburn,0,0,0,1,1.00,104dc91b-4f7b-4f93-bea2-ebfe9adabcf3,Shuttle to Auburn,60220.51,1,0,0
1,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,SF,Shuttle_SF,SF,SF__Shuttle_SF,0,0,0,1,0.00,cpz2,Shuttle to San Francisco Transbay Terminal,13495.52,0,1,1

In [89]:
df3

,schedule_gtfs_dataset_key,name,route_type,route_id,route_long_name,route_short_name,combined_name,is_express,is_rapid,is_rail,is_local,direction_id,common_shape_id,route_name,route_meters,is_nacto_coverage,is_nacto_downtown_local,is_nacto_rapid
0,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,Shuttle,Shuttle_Auburn,Shuttle,Shuttle__Shuttle_Auburn,0,0,0,1,1.00,104dc91b-4f7b-4f93-bea2-ebfe9adabcf3,Shuttle to Auburn,60220.51,1.00,0.00,0.00
1,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,3,SF,Shuttle_SF,SF,SF__Shuttle_SF,0,0,0,1,0.00,cpz2,Shuttle to San Francisco Transbay Terminal,13495.52,0.00,1.00,1.00
2,f5a749dd65924e025b1293c58f95f8d6,Bay Area 511 Capitol Corridor Schedule,2,CC,Capitol Corridor,CC,CC__Capitol Corridor,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN