# Catalina Express is still not appearing on our GTFS Digest yml -> is it even in schedule data?

In [1]:
import _section1_utils as section1
import _section2_utils as section2
import geopandas as gpd
import merge_data
import merge_operator_data
import numpy as np
import pandas as pd
import geopandas as gpd
from segment_speed_utils import gtfs_schedule_wrangling, helpers
from segment_speed_utils.project_vars import COMPILED_CACHED_VIEWS, PROJECT_CRS
from shared_utils import catalog_utils, portfolio_utils, rt_dates
from update_vars import GTFS_DATA_DICT, RT_SCHED_GCS, SCHED_GCS, SEGMENT_GCS

In [2]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

In [3]:
analysis_date_list = [rt_dates.DATES["feb2025"]]

In [4]:
analysis_date = rt_dates.DATES["feb2025"]

## Catalina isn't here.

In [12]:
df_crosswalk = merge_data.concatenate_crosswalk_organization(
        analysis_date_list
    )

In [13]:
df_schd = merge_data.concatenate_rt_vs_schedule_by_route_direction(
        analysis_date_list
    )

In [14]:
m1 = pd.merge(df_crosswalk, 
             df_schd, 
              on = ["schedule_gtfs_dataset_key", "service_date"],
        how = "left")

In [15]:
m1.head(2)

,schedule_gtfs_dataset_key,name_x,schedule_source_record_id_x,base64_url,organization_source_record_id,organization_name,caltrans_district,service_date,route_id,direction_id,time_period,minutes_atleast1_vp,minutes_atleast2_vp,total_rt_service_minutes,total_scheduled_service_minutes,total_vp,vp_in_shape,is_early,is_ontime,is_late,n_vp_trips,vp_per_minute,pct_in_shape,pct_rt_journey_atleast1_vp,pct_rt_journey_atleast2_vp,pct_sched_journey_atleast1_vp,pct_sched_journey_atleast2_vp,rt_sched_journey_ratio,avg_rt_service_minutes,name_y,schedule_source_record_id_y
0,ff1bc5dde661d62c877165421e9ca257,Santa Ynez Mecatran Schedule,recuWhPXfxMatv6rL,aHR0cDovL2FwcC5tZWNhdHJhbi5jb20vdXJiL3dzL2ZlZWQvYzJsMFpUMXplWFowTzJOc2FXVnVkRDF6Wld4bU8yVjRjR2x5WlQwN2RIbHdaVDFuZEdaek8ydGxlVDAwTWpjd056UTBaVFk0TlRBek9UTXlNREl4TURkak56STBNRFJrTXpZeU5UTTRNekkwWXpJMA==,reckp33bhAuZlmO1M,City of Solvang,05 - San Luis Obispo,2025-02-12,ROUTEA,0.00,all_day,308.00,301.00,299.23,270.00,912.00,432.00,2.00,5.00,2.00,9.00,3.05,0.47,1.00,1.00,1.00,1.00,1.11,33.25,Santa Ynez Mecatran Schedule,recuWhPXfxMatv6rL
1,ff1bc5dde661d62c877165421e9ca257,Santa Ynez Mecatran Schedule,recuWhPXfxMatv6rL,aHR0cDovL2FwcC5tZWNhdHJhbi5jb20vdXJiL3dzL2ZlZWQvYzJsMFpUMXplWFowTzJOc2FXVnVkRDF6Wld4bU8yVjRjR2x5WlQwN2RIbHdaVDFuZEdaek8ydGxlVDAwTWpjd056UTBaVFk0TlRBek9UTXlNREl4TURkak56STBNRFJrTXpZeU5UTTRNekkwWXpJMA==,reckp33bhAuZlmO1M,City of Solvang,05 - San Luis Obispo,2025-02-12,ROUTEA,0.00,offpeak,111.00,106.00,106.70,120.00,327.00,143.00,1.00,3.00,0.00,4.00,3.06,0.44,1.00,0.99,0.93,0.88,0.89,26.68,Santa Ynez Mecatran Schedule,recuWhPXfxMatv6rL

In [16]:
m1.loc[m1.organization_name.str.contains("Cat")]

Empty DataFrame
Columns: [schedule_gtfs_dataset_key, name_x, schedule_source_record_id_x, base64_url, organization_source_record_id, organization_name, caltrans_district, service_date, route_id, direction_id, time_period, minutes_atleast1_vp, minutes_atleast2_vp, total_rt_service_minutes, total_scheduled_service_minutes, total_vp, vp_in_shape, is_early, is_ontime, is_late, n_vp_trips, vp_per_minute, pct_in_shape, pct_rt_journey_atleast1_vp, pct_rt_journey_atleast2_vp, pct_sched_journey_atleast1_vp, pct_sched_journey_atleast2_vp, rt_sched_journey_ratio, avg_rt_service_minutes, name_y, schedule_source_record_id_y]
Index: []

In [17]:
m1.loc[m1.name_x.str.contains("Cat")]

Empty DataFrame
Columns: [schedule_gtfs_dataset_key, name_x, schedule_source_record_id_x, base64_url, organization_source_record_id, organization_name, caltrans_district, service_date, route_id, direction_id, time_period, minutes_atleast1_vp, minutes_atleast2_vp, total_rt_service_minutes, total_scheduled_service_minutes, total_vp, vp_in_shape, is_early, is_ontime, is_late, n_vp_trips, vp_per_minute, pct_in_shape, pct_rt_journey_atleast1_vp, pct_rt_journey_atleast2_vp, pct_sched_journey_atleast1_vp, pct_sched_journey_atleast2_vp, rt_sched_journey_ratio, avg_rt_service_minutes, name_y, schedule_source_record_id_y]
Index: []

In [18]:
m1.columns

Index(['schedule_gtfs_dataset_key', 'name_x', 'schedule_source_record_id_x',
       'base64_url', 'organization_source_record_id', 'organization_name',
       'caltrans_district', 'service_date', 'route_id', 'direction_id',
       'time_period', 'minutes_atleast1_vp', 'minutes_atleast2_vp',
       'total_rt_service_minutes', 'total_scheduled_service_minutes',
       'total_vp', 'vp_in_shape', 'is_early', 'is_ontime', 'is_late',
       'n_vp_trips', 'vp_per_minute', 'pct_in_shape',
       'pct_rt_journey_atleast1_vp', 'pct_rt_journey_atleast2_vp',
       'pct_sched_journey_atleast1_vp', 'pct_sched_journey_atleast2_vp',
       'rt_sched_journey_ratio', 'avg_rt_service_minutes', 'name_y',
       'schedule_source_record_id_y'],
      dtype='object')

In [20]:
m1 = m1.fillna("None")

In [21]:
m1.loc[m1.route_id.str.contains("Avalon")]

Empty DataFrame
Columns: [schedule_gtfs_dataset_key, name_x, schedule_source_record_id_x, base64_url, organization_source_record_id, organization_name, caltrans_district, service_date, route_id, direction_id, time_period, minutes_atleast1_vp, minutes_atleast2_vp, total_rt_service_minutes, total_scheduled_service_minutes, total_vp, vp_in_shape, is_early, is_ontime, is_late, n_vp_trips, vp_per_minute, pct_in_shape, pct_rt_journey_atleast1_vp, pct_rt_journey_atleast2_vp, pct_sched_journey_atleast1_vp, pct_sched_journey_atleast2_vp, rt_sched_journey_ratio, avg_rt_service_minutes, name_y, schedule_source_record_id_y]
Index: []

## Go back to  `schedule_metrics_by_route_direction`

In [22]:
import sys

sys.path.append("../gtfs_funnel/")
import schedule_stats_by_route_direction

In [23]:
route_group_merge_cols = [
            "schedule_gtfs_dataset_key", 
            "route_id", 
            "direction_id"
        ]

In [24]:
trip_metrics = schedule_stats_by_route_direction.assemble_scheduled_trip_metrics(
    analysis_date, GTFS_DATA_DICT
)

In [30]:
f"{RT_SCHED_GCS}{GTFS_DATA_DICT.rt_vs_schedule_tables.stop_times_direction}"

'gs://calitp-analytics-data/data-analyses/rt_vs_schedule/stop_times_direction'

In [25]:
trip_metrics.head(1)

,schedule_gtfs_dataset_key,trip_instance_key,median_stop_meters,time_of_day,scheduled_service_minutes,route_id,direction_id
0,0139b1253130b33adcd4b3a4490530d2,0040e3cfa3a954c543b05c41235ca529,19670.88,Midday,40.00,T5,NaN

In [26]:
trip_metrics.loc[trip_metrics.route_id.str.contains("Avalon")]

Empty DataFrame
Columns: [schedule_gtfs_dataset_key, trip_instance_key, median_stop_meters, time_of_day, scheduled_service_minutes, route_id, direction_id]
Index: []

In [27]:
trip_metrics.loc[trip_metrics.route_id.str.contains("Long")]

Empty DataFrame
Columns: [schedule_gtfs_dataset_key, trip_instance_key, median_stop_meters, time_of_day, scheduled_service_minutes, route_id, direction_id]
Index: []

### Go back to `rt_segment_speeds/segment_speed_utils/helpers`

In [31]:
TABLE = GTFS_DATA_DICT.schedule_downloads.trips
FILE = f"{COMPILED_CACHED_VIEWS}{TABLE}_{analysis_date}.parquet"

In [32]:
schd_trips = pd.read_parquet(FILE)

In [33]:
schd_trips.head(1)

,feed_key,gtfs_dataset_key,name,regional_feed_type,service_date,trip_start_date_pacific,trip_id,trip_instance_key,route_key,route_id,route_type,route_short_name,route_long_name,route_desc,direction_id,shape_array_key,shape_id,trip_first_departure_datetime_pacific,trip_last_arrival_datetime_pacific,service_hours,trip_start_date_local_tz,trip_first_departure_datetime_local_tz,trip_last_arrival_datetime_local_tz
0,321d2312b1e4b8887bbf20eda99c1bf5,ff1bc5dde661d62c877165421e9ca257,Santa Ynez Mecatran Schedule,None,2025-02-12,2025-02-12,ROUTEA|18766535:T18|16:30:00,662c09eca02599c539ba079ace32ef9c,cfc0d13b1dcc26403ef7da0441d3fb2b,ROUTEA,3,None,Express,None,0.00,35a6b609da2e404abbebdf6603dd96c3,ROUTEA:1,2025-02-12 16:30:00,2025-02-12 17:00:00,0.50,2025-02-12,2025-02-12 16:30:00,2025-02-12 17:00:00

In [34]:
schd_trips.loc[schd_trips.name.str.contains("Cat")]

Empty DataFrame
Columns: [feed_key, gtfs_dataset_key, name, regional_feed_type, service_date, trip_start_date_pacific, trip_id, trip_instance_key, route_key, route_id, route_type, route_short_name, route_long_name, route_desc, direction_id, shape_array_key, shape_id, trip_first_departure_datetime_pacific, trip_last_arrival_datetime_pacific, service_hours, trip_start_date_local_tz, trip_first_departure_datetime_local_tz, trip_last_arrival_datetime_local_tz]
Index: []

In [35]:
schd_trips.loc[schd_trips.route_id.str.contains("Avalon")]

Empty DataFrame
Columns: [feed_key, gtfs_dataset_key, name, regional_feed_type, service_date, trip_start_date_pacific, trip_id, trip_instance_key, route_key, route_id, route_type, route_short_name, route_long_name, route_desc, direction_id, shape_array_key, shape_id, trip_first_departure_datetime_pacific, trip_last_arrival_datetime_pacific, service_hours, trip_start_date_local_tz, trip_first_departure_datetime_local_tz, trip_last_arrival_datetime_local_tz]
Index: []