# SB125 Fund Split Analysis

## Question:
- How did RTAs split SB125 funds between operations and capital?

## Methodology:
- upload all avilable `SB125 fund request template` files to gcs
- examine all files for consistencies:
    - come with cleaning plan for inconsistent examples (files withot capital/operating columns)
- concat all rows across all files

## Notes:
- some RTPAs did not submit a `SB125 fund request template.xlsx` file, but instead included an quivilent file their allocation package

In [1]:
import pandas as pd
import os
import altair as alt

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

GCS_PATH = "gs://calitp-analytics-data/data-analyses/sb125/fund_split/"

In [2]:
file_list = [
    "sierra_fund_request.xlsx",
    "slocog_fund_request.xlsx",
    "tehema_fund_request.xlsx",
    "tuolumne_fund_request.xlsx",
    "ventura_fund_request.xlsx",
    "alpine_fund_request.xlsx",
    "amador_fund_request.xlsx",
    "butte_fund_request.xlsx",
    "calaveras_fund_request.xlsx",
    "del_norte_fund_request.xlsx",
    "el_dorado_fund_request.xlsx",
    "humboldt_fund_request.xlsx",
    "kern_fund_request.xlsx",
    "kings_fund_request.xlsx",
    "la_metro_fund_request.xlsx",
    "lake_fund_request.xlsx",
    "lassen_fund_request.xlsx",
    "madera_fund_request.xlsx",
    "mariposa_fund_request.xlsx",
    "mendocino_fund_request.xlsx",
    "merced_fund_request.xlsx",
    "mtc_fund_request.xlsx",
    "nevada_fund_request.xlsx",
    "orange_fund_request.xlsx",
    "placer_fund_request.xlsx",
    "plumas_fund_request.xlsx",
    "riverside_fund_request.xlsx",
    "san_benito_fund_request.xlsx",
    "san_diego_mts_fund_request.xlsx",
    "santa_cruz_fund_request.xlsx",
    "shasta_fund_request.xlsx",
]

file_list.sort()

In [3]:
def clean_fund_request(file:str) -> pd.DataFrame:
    """
    reads in the file from GCS, maps col_names list to df columns, drops all the blank rows.
    returns df.
    """
    col_names = [
    "rtpa",
    "implementing agenc-y/-ies",
    "project",
    "fund source",
    "capital_FY23-24",
    "capital_FY24-25",
    "capital_FY25-26",
    "capital_FY26-27",
    "operating_FY23-24",
    "operating_FY24-25",
    "operating_FY25-26",
    "operating_FY26-27",
    "total",
]
    
    df = pd.read_excel(f"{GCS_PATH}{file}", header=2, nrows=40, names=col_names).drop(columns="total")
    row_drop = df["rtpa"].isin(["Grand Total", "RTPA"])
    df = df.drop(df[row_drop].index)
    df = df.dropna(how= "all")
    df[["rtpa", "implementing agenc-y/-ies","project"]] = df[["rtpa", "implementing agenc-y/-ies","project"]].ffill()
    
    return df

first iteration of fund_request_checker func.
>def read_in(file:str) -> pd.DataFrame:
>    df = pd.read_excel(f"{GCS_PATH}{file}", nrows=40)
>    df = df.dropna(how= "all")
>   
>    if len(df.columns) == 13:
>        print(f"{file} can use clean_fund_request func.")
>    else: 
>        print(f"needs manual check, {file}")

old iteration
>def fund_request_checker(file_list:list) -> pd.DataFrame:
>
>    for file in file_list:
>    
>        df = pd.read_excel(f"{GCS_PATH}{file}", nrows=40)
>        df = df.dropna(how= "all")
>    
>        if len(df.columns) == 13:
>            print(f"{file} can use clean_fund_request func.")
>        else: 
>            print(f"needs manual check, {file}")

In [4]:
#fund_request_checker(file_list)

old iteration
>def fund_request_checker_v2(file_list:list):
>    gtg_files = []
>    manual_review = []
>    for file in file_list:
>    
>        df = pd.read_excel(f"{GCS_PATH}{file}", nrows=40)
>        df = df.dropna(how= "all")
>    
>        if len(df.columns) == 13:
>            gtg_files.append(f"{file}")
>        else: 
>            manual_review.append(f"{file}")
>    return display(
>        "good to go files",
>        list(gtg_files), 
>        "needs manual check", 
>        list(manual_review)
>    )

In [5]:
#fund_request_checker_v2(file_list)

In [6]:
def fund_request_checker_v3(file_list:list) -> tuple:
    """takes in list of fund_request excel file name. reads in each file, checks if DF has 13 columns.
    if yes, appends do good-to-go list. else, appends to needs-manual-review.
    output is a tuple of the 2 list.
    assign 2 variables to use this func.
    """
    gtg_files = []
    manual_review = []
    for file in file_list:
    
        df = pd.read_excel(f"{GCS_PATH}{file}", nrows=40)
        df = df.dropna(how= "all")
    
        if len(df.columns) == 13:
            gtg_files.append(f"{file}")
        else: 
            manual_review.append(f"{file}")
    return gtg_files, manual_review

In [7]:
good_list, review_list = fund_request_checker_v3(file_list)

In [8]:
display(
    len(good_list),
    len(review_list)
)

24

7

In [9]:
def cleaner_loop(gtg_list:list) -> dict: 
    """
    takes in good-to-go list from fund_request_checker.
    applies the clean_fund_request function to each item on the list, then appends to dictionary.
    key is name of the file, value is the cleaned dataframe.
    output is dictionary. 
    """
    cleaned_df ={}

    for name in gtg_list:
        cleaned_df[name] = clean_fund_request(name)
    return cleaned_df

In [10]:
cleaned_fund_request = cleaner_loop(good_list)

In [11]:
display(
    type(cleaned_fund_request),
    len(cleaned_fund_request),
    list(cleaned_fund_request.keys()),
)

dict

24

['alpine_fund_request.xlsx',
 'amador_fund_request.xlsx',
 'calaveras_fund_request.xlsx',
 'del_norte_fund_request.xlsx',
 'el_dorado_fund_request.xlsx',
 'humboldt_fund_request.xlsx',
 'kings_fund_request.xlsx',
 'la_metro_fund_request.xlsx',
 'lake_fund_request.xlsx',
 'madera_fund_request.xlsx',
 'mariposa_fund_request.xlsx',
 'mendocino_fund_request.xlsx',
 'merced_fund_request.xlsx',
 'nevada_fund_request.xlsx',
 'placer_fund_request.xlsx',
 'plumas_fund_request.xlsx',
 'riverside_fund_request.xlsx',
 'san_benito_fund_request.xlsx',
 'san_diego_mts_fund_request.xlsx',
 'shasta_fund_request.xlsx',
 'sierra_fund_request.xlsx',
 'slocog_fund_request.xlsx',
 'tehema_fund_request.xlsx',
 'tuolumne_fund_request.xlsx']

In [12]:
# view all the good-to-go df

from IPython.display import display

# .items() creates tuples of each element in the dict. key:value maps to key:df

for key, df in cleaned_fund_request.items():
    print(f"DataFrame: {key}")
    #display(df)

DataFrame: alpine_fund_request.xlsx
DataFrame: amador_fund_request.xlsx
DataFrame: calaveras_fund_request.xlsx
DataFrame: del_norte_fund_request.xlsx
DataFrame: el_dorado_fund_request.xlsx
DataFrame: humboldt_fund_request.xlsx
DataFrame: kings_fund_request.xlsx
DataFrame: la_metro_fund_request.xlsx
DataFrame: lake_fund_request.xlsx
DataFrame: madera_fund_request.xlsx
DataFrame: mariposa_fund_request.xlsx
DataFrame: mendocino_fund_request.xlsx
DataFrame: merced_fund_request.xlsx
DataFrame: nevada_fund_request.xlsx
DataFrame: placer_fund_request.xlsx
DataFrame: plumas_fund_request.xlsx
DataFrame: riverside_fund_request.xlsx
DataFrame: san_benito_fund_request.xlsx
DataFrame: san_diego_mts_fund_request.xlsx
DataFrame: shasta_fund_request.xlsx
DataFrame: sierra_fund_request.xlsx
DataFrame: slocog_fund_request.xlsx
DataFrame: tehema_fund_request.xlsx
DataFrame: tuolumne_fund_request.xlsx

# Cleaning individual good DFs

In [13]:
cleaned_fund_request["amador_fund_request.xlsx"] = cleaned_fund_request["amador_fund_request.xlsx"].drop([2])

In [14]:
cleaned_fund_request["merced_fund_request.xlsx"] = cleaned_fund_request["merced_fund_request.xlsx"].drop([1,2,34,36,37])

In [15]:
cleaned_fund_request["san_benito_fund_request.xlsx"] = cleaned_fund_request["san_benito_fund_request.xlsx"].drop([6,9])

In [16]:
row_drops = [
    1,
    2,
    3,
    4,
    9,
    10,
    11,
]
cleaned_fund_request["san_diego_mts_fund_request.xlsx"] = cleaned_fund_request["san_diego_mts_fund_request.xlsx"].drop(row_drops)

In [17]:
cleaned_fund_request["sierra_fund_request.xlsx"] = cleaned_fund_request["sierra_fund_request.xlsx"].drop(list(range(24,32)))

In [18]:
cleaned_fund_request["nevada_fund_request.xlsx"] = cleaned_fund_request["nevada_fund_request.xlsx"].drop([8,9])

In [19]:
cleaned_fund_request["plumas_fund_request.xlsx"]= cleaned_fund_request["plumas_fund_request.xlsx"].drop(list(range(10,14)))

# Attempt to clean bad DFs

In [50]:
# list of bad DFs that didnt match the other layouts
review_list

['butte_fund_request.xlsx',
 'kern_fund_request.xlsx',
 'lassen_fund_request.xlsx',
 'mtc_fund_request.xlsx',
 'orange_fund_request.xlsx',
 'santa_cruz_fund_request.xlsx',
 'ventura_fund_request.xlsx']

In [51]:
butte = pd.read_excel(f"{GCS_PATH}butte_fund_request.xlsx")

# missing the operations columns. may not need if we melt just the capital columns
butte

,SB125 Fund Request Template,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,The following template is designed to capture ...,NaN,NaN,NaN,Project Development,NaN,Capital,NaN,NaN,NaN,Total
1,RTPA,Implementing Agenc-y/-ies,Project,Fund Source,FY23-24,FY24-25,FY23-24,FY24-25,FY25-26,FY26-27,NaN
2,Butte County Association of Governments,Butte County Association of Governments and th...,North Valley Rail,TIRCP,10488545,4511455,NaN,NaN,NaN,NaN,15000000
3,Butte County Association of Governments,Butte Regional Transit,Butte Regional Transit Zero-Emission Deployment,TIRCP,NaN,200000,NaN,5802814,NaN,NaN,6002814
4,NaN,NaN,NaN,ZETCP (PTA),200000,NaN,315836,NaN,NaN,NaN,515836
5,NaN,NaN,NaN,ZETCP (GGRF),NaN,NaN,597319.51,NaN,NaN,NaN,597319.51
6,NaN,NaN,NaN,ZETCP (GGRF),NaN,200000,NaN,1673362,NaN,NaN,1873362
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
23,Grand Total,NaN,NaN,NaN,10688545,4911455,913155.51,7476176,0,0,23989331.51

In [53]:
kern = pd.read_excel(f"{GCS_PATH}kern_fund_request.xlsx")

# this is so bad, may need to do this in excel to make it work. 
# the agency name and fund soruce are on the same column
kern

,Summary Excel table of proposed TIRCP and ZETCP funds,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,FY 2023-24,NaN,FY 2024-25,NaN,FY 2025-26,NaN,FY 2026-27,NaN
1,Agency,Capital,Operational,Capital,Operational,Capital,Operational,Capital,Operatioanl
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arvin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TIRCP,1108563,0,1118595,0,0,0,0,0
5,ZETCP,120575,0,68316,0,68316,0,68316,0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,California City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,TIRCP,711044,0,717478,0,0,0,0,0
9,ZETCP,77338,0,43819,0,43819,0,43819,0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Delano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,TIRCP,2571742,0,2595015,0,0,0,0,0
13,ZETCP,279721,0,158486,0,158486,0,158486,0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,GET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,TIRCP,0,0,0,27834889,0,28086784,0,0
17,ZETCP,0,0,3027524,0,1715347,0,1715347,0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Kern Transit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,TIRCP,8210741,0,8285045,0,0,0,0,0
21,ZETCP,903971,0,505993,0,505993,0,505993,0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,McFarland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,TIRCP,707216,0,713606,0,0,0,0,0
25,ZETCP,76922,0,43583,0,43583,0,43583,0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Ridgecrest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,TIRCP,1490120,0,1503605,0,0,0,0,0
29,ZETCP,162076,0,91830,0,91830,0,91830,0
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Shafter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,TIRCP,1029704,0,1503605,0,0,0,0,0
33,ZETCP,111998,0,0,63456,0,63456,63456,0
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Taft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,TIRCP,359651,0,362907,0,0,0,0,0
37,ZETCP,39119,0,22164,0,22164,0,22164,0
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Tehahapi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,TIRCP,604689,0,610162,0,0,0,0,0
41,ZETCP,65771,0,37264,0,37264,0,37264,0
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Wasco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,TIRCP,1350328,0,1362548,0,0,0,0,0
45,ZETCP,146871,0,83215,0,83215,0,83215,0
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,TIRCP,15572056,0,18772566,27834889,0,28086784,0,0
48,ZETCP,1984362,0,4082194,63456,2770017,63456,2833473,0

In [56]:
lassen = pd.read_excel(f"{GCS_PATH}lassen_fund_request.xlsx", sheet_name = "D.2. Detailed Fund Request")

# can work with this. may be able to remove the top rows then use cleaner loop
lassen

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,Transit and Intercity Rail Capital Program (TI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Capital,NaN,NaN,NaN,Operating,NaN,NaN,NaN,Total
5,NaN,RTPA,Implementing Agency,Operator,Project Type,Project,Fund Source,FY23-24,FY24-25,FY25-26,FY26-27,FY23-24,FY24-25,FY25-26,FY26-27,NaN
6,NaN,LCTC,LCTC / LTSA,LTSA,Operating,LTSA Operating Deficit,TIRCP,NaN,NaN,NaN,NaN,334937,665063,NaN,NaN,1000000
7,NaN,LCTC,LCTC / LTSA,LTSA,Capital,NEMT Service to Reno,TIRCP,200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200000
8,NaN,LCTC,LCTC / LTSA,LTSA,Capital,Vehicle Replacement (ZEB Plan),TIRCP,885000,958737,NaN,NaN,NaN,NaN,NaN,NaN,1843737
9,NaN,LCTC,LCTC / LTSA,LTSA,Capital,ZEV Charging Infrastrucutre,TIRCP,400000,200000,NaN,NaN,NaN,NaN,NaN,NaN,600000
10,NaN,LCTC,LCTC / LTSA,LTSA,Capital,ZEV Charging Infrastrucutre,ZETCP (PTA),65103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65103
11,NaN,LCTC,LCTC / LTSA,LTSA,Capital,ZEV Charging Infrastrucutre,ZETCP (GGRF),NaN,81552,87619,87619,NaN,NaN,NaN,NaN,256790
12,NaN,LCTC,LCTC,NaN,Capital,Countywide ZEV Study,ZETCP (PTA),11339.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11339.69
13,NaN,LCTC,LCTC,NaN,Capital,Countywide ZEV Study,ZETCP (GGRF),88660.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88660.31
14,NaN,LCTC,LCTC,NaN,Admin,RTPA Administrative Costs,TIRCP,NaN,NaN,NaN,NaN,10000,10000,NaN,NaN,20000
15,NaN,LCTC,LCTC,NaN,Admin,RTPA Administrative Costs,ZETCP (GGRF),NaN,NaN,NaN,NaN,NaN,11067,5000,5000,21067
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
27,NaN,Grand Total,NaN,NaN,NaN,NaN,NaN,1650103,1240289,87619,87619,344937,686130,5000,5000,4106697

In [57]:
mtc = pd.read_excel(f"{GCS_PATH}mtc_fund_request.xlsx")

# can work with this. may be able to remove the top rows then use cleaner loop
mtc

,SB125 Fund Request Template,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,The following template is designed to capture ...,NaN,NaN,NaN,Capital,NaN,NaN,NaN,Operating,NaN,NaN,NaN,Total,NaN,NaN,NaN
1,RTPA,Implementing Agenc-y/-ies,Project,Fund Source,FY23-24,FY24-25,FY25-26,FY26-27,FY23-24,FY24-25,FY25-26,FY26-27,NaN,NaN,NaN,NaN
2,MTC,Santa Clara Valley Transportation Authority (VTA),BART to Silicon Valley Phase II,TIRCP,199173463.965517,175826536.034483,NaN,NaN,NaN,NaN,NaN,NaN,375000000,NaN,NaN,NaN
3,MTC,Bay Area Rapid Transit Authority (BART),BART Core Capacity,TIRCP,185895233.034483,164104766.965517,NaN,NaN,NaN,NaN,NaN,NaN,350000000,NaN,NaN,NaN
4,MTC,MTC,Planning/Admin: Regional Network Management,ZETCP (PTA),NaN,NaN,NaN,NaN,2000000,NaN,NaN,NaN,2000000,NaN,NaN,NaN
5,MTC,Bay Area Rapid Transit Authority (BART),Operating Assistance,TIRCP,NaN,NaN,NaN,NaN,NaN,46108885,NaN,NaN,46108885,NaN,Total Shortfall,Total Shortfall Pct
6,MTC,Bay Area Rapid Transit Authority (BART),Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,36522323.24293,38181387.334678,38181387.334678,38181387.334678,151066485.246965,NaN,352048,0.454721
7,MTC,San Francisco Municipal Transportation Authority,Operating Assistance,ZETCP (PTA),NaN,NaN,NaN,NaN,67361489.1046,NaN,NaN,NaN,67361489.1046,NaN,NaN,NaN
8,MTC,San Francisco Municipal Transportation Authority,Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,32036188.329526,33491465.129429,33491465.129429,33491465.129429,132510583.717814,NaN,308805,0.398867
9,MTC,Alameda-Contra Costa Transit District,Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,3378787.965559,3532272.883536,3532272.883536,3532272.883536,13975606.616167,NaN,32569,0.042068
10,MTC,"Golden Gate Bridge, Highway and Transportation...",Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,4263918.57817,4457611.464467,4457611.464467,4457611.464467,17636752.971571,NaN,41101,0.053088
11,MTC,Peninsula Corridor Joint Powers Board (Caltrain),Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,2640141.697181,2760072.848817,2760072.848817,2760072.848817,10920360.243632,NaN,25449,0.032871
12,MTC,Altamont Corridor Express (ACE),Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,373991.544593,390980.495107,390980.495107,390980.495107,1546933.029914,NaN,3605,0.004656
13,MTC,Eastern Contra Costa Transit Authority (ECCTA),Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,76873.157987,80365.200243,80365.200243,80365.200243,317968.758715,NaN,741,0.000957
14,MTC,Livermore-Amador Valley Transit Authority (LAVTA),Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,237466.475887,248253.634757,248253.634757,248253.634757,982227.380159,NaN,2289,0.002957
15,MTC,Napa Valley Transportation Authority (NVTA),Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,254169.010888,265714.899587,265714.899587,265714.899587,1051313.709651,NaN,2450,0.003165
16,MTC,Solano County Transit (SolTrans),Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,211219.635171,220814.50431,220814.50431,220814.50431,873663.148101,NaN,2036,0.00263
17,MTC,Western Contra Costa Transit Authority (WestCAT),Operating Assistance,ZETCP (GGRF),NaN,NaN,NaN,NaN,322950.257508,337620.605068,337620.605068,337620.605068,1335812.072711,NaN,3113,0.004021
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
22,Grand Total,NaN,NaN,NaN,385068697,339931303,0,0,149679519.0,130075444,83966559,83966559,1172688081,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,Checks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,TIRCP,385068697,339931303,NaN,NaN,0,46108885,0,0,771108885,NaN,NaN,NaN
26,Year 1 TIRCP (FY23-24),385068697,NaN,ZETCP (GGRF),0,0,NaN,NaN,80318029.8954,83966559,83966559,83966559,332217706.8954,NaN,NaN,NaN
27,Year 2 TIRCP (FY24-25),386040188,NaN,ZETCP (PTA),0,0,NaN,NaN,69361489.1046,0,0,0,69361489.1046,NaN,NaN,NaN
28,Year 1 ZETCP - 46.34% PTA (FY23-24),69361489.1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Year 1 ZETCP - 53.66% GGRF (FY23-24),80318029.8954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Year 2 ZETCP - 100% GGRF (FY24-25),83966559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Year 3 ZETCP - 100% GGRF (FY25-26),83966559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Year 4 ZETCP - 100% GGRF (FY26-27),83966559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Year 1 (FY23-24) Total,534748216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Year 2 (FY24-25) Total,470006747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Year 3 (FY25-26) Total,83966559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Year 4 (FY26-27) Total,83966559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,1172688081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
review_list

['butte_fund_request.xlsx',
 'kern_fund_request.xlsx',
 'lassen_fund_request.xlsx',
 'mtc_fund_request.xlsx',
 'orange_fund_request.xlsx',
 'santa_cruz_fund_request.xlsx',
 'ventura_fund_request.xlsx']

In [59]:
orange = pd.read_excel(f"{GCS_PATH}orange_fund_request.xlsx")

# FY goes to 28-29. dont think i need those columns, there are no numbers in them anyways
orange

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,RTPA: Orange County Transportation Authority,NaN,NaN,Capital,NaN,NaN,NaN,NaN,NaN,Operating,NaN,NaN,NaN,NaN,NaN,Total
2,NaN,Transit Agency,Project,Fund Source,FY23-24,FY24-25,FY25-26,FY26-27,FY27-28,FY28-29,FY23-24,FY24-25,FY25-26,FY26-27,FY27-28,FY28-29,NaN
3,NaN,OCTA & SCRRA,Stabilize Rail and Bus Operations: Metrolink f...,TIRCP,NaN,NaN,NaN,NaN,NaN,NaN,116608526,19136022,NaN,NaN,NaN,NaN,135744548
4,NaN,OCTA,Stabilize Rail and Bus Operations: OC Streetca...,TIRCP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37900000,NaN,NaN,NaN,NaN,37900000
5,NaN,OCTA,Stabilize Rail and Bus Operations: OC Streetca...,ZETCP (GGRF),NaN,NaN,NaN,NaN,NaN,NaN,11059106,NaN,NaN,NaN,NaN,NaN,11059106
6,NaN,OCTA,Stabilize Rail and Bus Operations: OC Streetca...,ZETCP (PTA),NaN,NaN,NaN,NaN,NaN,NaN,10414682,NaN,NaN,NaN,NaN,NaN,10414682
7,NaN,OCTA,Stabilize Rail and Bus Operations: OC Bus oper...,TIRCP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6072000,NaN,NaN,NaN,NaN,6072000
8,NaN,OCTA,Stabilize Rail and Bus Operations: Open paymen...,TIRCP,NaN,NaN,NaN,NaN,NaN,NaN,26500000,NaN,NaN,NaN,NaN,NaN,26500000
9,NaN,OCTA,Stabilize Rail and Bus Operations: Harbor Blvd...,TIRCP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5100000,NaN,NaN,NaN,NaN,5100000
10,NaN,OCTA & SCRRA,Construction Critical Rail Infrastructure: Rai...,TIRCP,NaN,86454000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86454000
11,NaN,OCTA & SCRRA,Construction Critical Rail Infrastructure: Ora...,TIRCP,NaN,5850000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5850000
12,NaN,OCTA,Construction Critical Rail Infrastructure: San...,TIRCP,17000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17000000
13,NaN,OCTA,Deploy Zero Emission Buses and Clean Energy: Z...,ZETCP (GGRF),0,9607247,2633000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12240247
14,NaN,OCTA,Deploy Zero Emission Buses and Clean Energy: Z...,ZETCP (GGRF),0,1000000,4974247,7407247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13381494
15,NaN,OCTA,Deploy Zero Emission Buses and Clean Energy: R...,ZETCP (GGRF),0,NaN,5000000,5200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10200000
16,NaN,OCTA,Deploy Zero Emission Buses and Clean Energy: C...,ZETCP (GGRF),0,2000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000000
17,NaN,OCTA,Deploy Zero Emission Buses and Clean Energy: C...,ZETCP (GGRF),1000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000000
18,NaN,NaN,NaN,NaN,18000000,104911247,12607247,12607247,0,0,164582314,68208022,0,0,0,0,380916077

In [60]:
santa_cruz = pd.read_excel(f"{GCS_PATH}santa_cruz_fund_request.xlsx")

# can remove the extra columns past unnamed 12, then remove top and bottom rows, then use cleaner loop
santa_cruz

,SB 125 Fund Request,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Proposed uses of TIRCP and ZETCP funds by fisc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Capital,NaN,NaN,NaN,Operating,NaN,NaN,NaN,NaN,NaN,SB 125 Fund Distribution for Santa Cruz County,NaN,NaN,NaN,NaN
3,RTPA,Implementing Agency,Project,Fund Source,FY 23-24,FY 24-25,FY 25-26,FY 26-27,FY 23-24,FY 24-25,FY 25-26,FY 26-27,Total,NaN,Fiscal\n Year,TIRCP,ZETCP,Total,Admin 1%
4,SCCRTC,SCCRTC,Zero Emission Passenger Rail & Trail,TIRCP,NaN,2000000,NaN,NaN,NaN,NaN,NaN,NaN,2000000,NaN,FY23-24,13771188,2649968.45,16421156.45,164211.5645
5,SCCRTC,SCMTD,Rapid Corridors,TIRCP,NaN,4000000,NaN,NaN,NaN,NaN,NaN,NaN,4000000,NaN,FY24-25,13805201,1486567.45,15291768.45,152917.6845
6,SCCRTC,SCMTD,Reimagine METRO,TIRCP,NaN,NaN,NaN,NaN,13633476.12,7667149,NaN,NaN,21300625.12,NaN,FY25-26,0,1486567.45,1486567.45,14865.6745
7,SCCRTC,SCMTD,Reimagine METRO,ZETCP (PTA),NaN,NaN,NaN,NaN,1215715.425933,NaN,NaN,NaN,1215715.425933,NaN,FY26-27,0,1486567.45,1486567.45,14865.6745
8,SCCRTC,SCMTD,Reimagine METRO,ZETCP (GGRF),NaN,NaN,NaN,NaN,1407753.339567,1471701.7755,1471701.7755,1471701.7755,5822858.666067,NaN,NaN,27576389,7109670.8,34686059.8,346860.598
9,SCCRTC,SCCRTC,RTPA administration,TIRCP,137711.88,138052.01,NaN,NaN,NaN,NaN,NaN,NaN,275763.89,NaN,NaN,NaN,NaN,NaN,NaN
10,SCCRTC,SCCRTC,RTPA administration,ZETCP (PTA),14219.730703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14219.730703,NaN,NaN,NaN,NaN,NaN,NaN
11,SCCRTC,SCCRTC,RTPA administration,ZETCP (GGRF),12279.953797,14865.6745,14865.6745,14865.6745,NaN,NaN,NaN,NaN,56876.977297,NaN,NaN,NaN,NaN,NaN,NaN
12,Total,NaN,NaN,NaN,164211.5645,6152917.6845,14865.6745,14865.6745,16256944.8855,9138850.7755,1471701.7755,1471701.7755,34686059.81,NaN,SB 125 Fund Distribution for Santa Cruz County,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total RTPA Allocation,34686060,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less 1% Admin,346860.6,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Available to Program,34339199.4,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
ventura = pd.read_excel(f"{GCS_PATH}ventura_fund_request.xlsx")

# needs a lot of work, may have to do in excel
ventura

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,TIRCP Capital,NaN,NaN,NaN,Capital,NaN,NaN,NaN,NaN
1,Implementing Agenc-y/-ies,Project Category,Project,Year Requested,FY23-24,FY24-25,FY25-26,FY26-27,FY27-28 +
2,Simi Valley,Infrastructure Improvements,EV Charging,Year 1,2024-02-01 00:00:00,2025-06-30 00:00:00,NaN,NaN,NaN
3,Thousand Oaks,Infrastructure Improvements,EV Charging,Year 1,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
4,Thousand Oaks,Infrastructure Improvements,EV Support,Year 1,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
5,Gold Coast Transit District,Infrastructure Improvements,Energy Storage - Hydrogen Station,Year 1,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
6,Ojai,Infrastructure Improvements,Facility Upgrades & EV Charging,Year 1 & 2,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
7,County of Ventura,Infrastructure Improvements,Bus Stop Improvements,Year 1,NaN,2024-10-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
8,Gold Coast Transit District,Infrastructure Improvements,Energy Storage - Hydrogen Station,Year 2,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
9,Valley Express,Infrastructure Improvements,Bus Stop Improvements,Year 2,NaN,2024-10-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
10,Ventura County Transporation Commission,Technology,Radio System,Year 1,2024-04-01 00:00:00,2025-06-30 00:00:00,NaN,NaN,NaN
11,Ventura County Transporation Commission,Technology,New Fare System,Year 1,NaN,2024-07-01 00:00:00,2025-12-31 00:00:00,NaN,NaN
12,Gold Coast Transit District,Technology,Bus Technology,Year 2,NaN,NaN,NaN,7/1/26-6/30/27,NaN
13,VCTC Intercity - VCTC,Technology,Camera System,Year 2,NaN,2024-07-01 00:00:00,2025-12-31 00:00:00,NaN,NaN
14,Ventura County Transporation Commission,Technology,MaaS Implementation,Year 2,NaN,2025-01-01 00:00:00,2025-12-31 00:00:00,NaN,NaN
15,Ojai,Vehicles,Replacement buses,Year 1,2024-04-01 00:00:00,2025-12-31 00:00:00,NaN,NaN,NaN
16,Thousand Oaks,Vehicles,Replacement buses,Year 1,2024-04-01 00:00:00,NaN,NaN,2027-04-01 00:00:00,NaN
17,VCTC Intercity - VCTC,Vehicles,Replacement buses,Year 1,NaN,2024-07-01 00:00:00,NaN,2026-12-31 00:00:00,NaN
18,Gold Coast Transit District,Vehicles,DAR vehicle replacement,Year 1,NaN,7/1/2024-6/31/2025,NaN,NaN,NaN
19,Camarillo,Vehicles,Replacement buses,Year 1,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
20,VCTC Intercity - VCTC,Vehicles,Relief vehicles,Year 2,NaN,2024-07-01 00:00:00,2025-12-31 00:00:00,NaN,NaN
21,Moorpark,Vehicles,Expansion Microtransit Vehicles,Year 2,NaN,NaN,7/1/2025-6/30/26,NaN,NaN
22,Ojai,Vehicles,Replacement buses,Year 2,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
23,VCTC Intercity - VCTC,Vehicles,Replacement buses,Year 2,NaN,NaN,2025-07-01 00:00:00,NaN,2027-12-31 00:00:00
24,Gold Coast Transit District,Vehicles,Replacement buses,Year 2,NaN,NaN,NaN,7/1/26-6/30/27,NaN
25,Camarillo,Vehicles,Replacement buses,Year 2,NaN,NaN,NaN,2026-07-01 00:00:00,2031-06-30 00:00:00
26,Moorpark,Vehicles,Replacement buses,Year 2,NaN,NaN,NaN,7/1/26-6/30/27,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,ZETCP,NaN,NaN,Capital,NaN,NaN,NaN,NaN,NaN
29,Implementing Agenc-y/-ies,Project,Fund Source,FY23-24,FY24-25,FY25-26,FY26-27,FY27-28 +,NaN
30,Simi Valley,EV Charging,PTA,2024-02-01 00:00:00,2025-06-30 00:00:00,NaN,NaN,NaN,NaN
31,Gold Coast Transit District,Hydrogen Station - Energy Storage,GGRF Y1,2024-07-01 00:00:00,NaN,2026-06-30 00:00:00,NaN,NaN,NaN
32,Gold Coast Transit District,Relief vehicles,"GGRF Y1, Y2, Y4",NaN,2024-07-01 00:00:00,NaN,2027-06-30 00:00:00,NaN,NaN
33,Moorpark,EV Charging,GGRF Y1,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN,NaN
34,Thousand Oaks,DAR vehicle replacement,GGRF Y1,2024-04-01 00:00:00,NaN,NaN,2027-04-01 00:00:00,NaN,NaN
35,Camarillo,EV Charging,"GGRF Y2, Y3",NaN,NaN,2025-07-01 00:00:00,NaN,2028-06-30 00:00:00,NaN
36,Thousand Oaks,DAR vehicle replacement,GGRF Y2,NaN,2024-07-01 00:00:00,NaN,2027-04-01 00:00:00,NaN,NaN
37,VCTC Intercity - VCTC,EV Charging,"GGRF Y2, Y3, Y4",NaN,2024-07-01 00:00:00,NaN,2027-06-30 00:00:00,NaN,NaN
38,Valley Express,EV Charging,GGRF Y4,NaN,NaN,NaN,2026-07-01 00:00:00,2028-12-31 00:00:00,NaN
39,Camarillo,Replacement Vehicles,GGRF Y4,NaN,NaN,NaN,2026-07-01 00:00:00,2029-06-30 00:00:00,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Transit (TIRCP) Operating,NaN,NaN,NaN,Operating,NaN,NaN,NaN,NaN
42,Implementing Agenc-y/-ies,Project Category,Project,Fund Source,FY23-24,FY24-25,FY25-26,FY26-27,NaN
43,Ventura County Transporation Commission,Operations Support,Free Fare Programs,TIRCP Y1,2024-04-01 00:00:00,2025-06-30 00:00:00,NaN,NaN,NaN
44,Ventura County Transporation Commission,Operations Support,Admin support,TIRCP Y1,2024-04-01 00:00:00,2024-12-30 00:00:00,NaN,NaN,NaN
45,Valley Express,Operations Support,Operations Support,TIRCP Y1,2024-04-01 00:00:00,2025-06-30 00:00:00,NaN,NaN,NaN
46,County of Ventura,Operations Support,Operations Support,TIRCP Y1,NaN,7/1/24-6/30/25,NaN,NaN,NaN
47,Ojai,Operations Support,Operations Support,TIRCP Y1,2024-04-01 00:00:00,2025-02-28 00:00:00,NaN,NaN,NaN
48,Ventura County Transporation Commission,Operations Support,Radio System,TIRCP Y1,NaN,7/1/24-6/30/25,NaN,NaN,NaN
49,Gold Coast Transit District,Operations Support,Operations Support,TIRCP Y1,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
50,Simi Valley,Operations Support,Microtransit Program,TIRCP Y1,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN
51,Gold Coast Transit District,Operations Support,Operations Support,TIRCP Y2,NaN,NaN,NaN,7/1/26-6/30/27,NaN
52,Gold Coast Transit District,Operations Support,Matching Grant Funds,TIRCP Y2,NaN,7/1/24-6/30/25,NaN,NaN,NaN
53,Simi Valley,Operations Support,Microtransit Operating,TIRCP Y2,NaN,NaN,2025-07-01 00:00:00,2027-06-30 00:00:00,NaN
54,Metrolink,Operations Support,Train Sevice to Santa Barbara,TIRCP Y2,NaN,2024-07-01 00:00:00,NaN,2027-06-30 00:00:00,NaN
55,Ventura County Transporation Commission,Operations Support,Regional Paratransit Trips & TIES Implementation,TIRCP Y2,NaN,2024-07-01 00:00:00,NaN,2027-06-30 00:00:00,NaN
56,Ventura County Transporation Commission,Operations Support,MaaS Implementation,TIRCP Y2,NaN,NaN,2025-07-01 00:00:00,2027-06-30 00:00:00,NaN
57,Ventura County Transporation Commission,Operations Support,Free Fare Programs,TIRCP Y2,NaN,NaN,2025-07-01 00:00:00,2027-06-30 00:00:00,NaN
58,Ventura County Transporation Commission,Operations Support,Admin support,TIRCP Y2,NaN,2024-07-01 00:00:00,2026-06-30 00:00:00,NaN,NaN

# Test of concat all the dictionary dataframe vales

In [20]:
all_fund_request = pd.concat(cleaned_fund_request.values(), ignore_index=True)

In [21]:
display(
    all_fund_request.shape,
    type(all_fund_request),
    all_fund_request.columns
)

(172, 12)

pandas.core.frame.DataFrame

Index(['rtpa', 'implementing agenc-y/-ies', 'project', 'fund source',
       'capital_FY23-24', 'capital_FY24-25', 'capital_FY25-26',
       'capital_FY26-27', 'operating_FY23-24', 'operating_FY24-25',
       'operating_FY25-26', 'operating_FY26-27'],
      dtype='object')

In [22]:
# sum all the "capital columns"
#all_fund_request[["capital_FY23-24":"capital_FY26-27"]].sum()

In [23]:
#sum all the "operations columns"

In [24]:
all_fund_request.groupby("rtpa").agg({
    "capital_FY23-24": "sum",
    "operating_FY23-24": "sum"
})

,capital_FY23-24,operating_FY23-24
rtpa,,
Alpine County Transportation Commission,367381.0,0
Amador County Transportation Commission,100000.0,0
Calaveras County Council of Goverments,2815143.0,0
DNLTC,1825253.0,0
El Dorado County Transportation Commission,9849627.0,208011.0
Humboldt County Association of Governments,0,1952069.06
Kings County Association of Governments,8709876.0,100000.0
Lake County/City Council of Governments,4077103.0,0
Los Angeles County Metropolitan Transportation Authority,618145878.0,0
Madera County Transportation Commission,8254231.0,188112.0
Mariposa County Local Transportation Commission,200000.0,0
Mendocino Council of Governments,5353525.0,0
Merced County Association of Governments (MCAG),14039873.0,3588470
NCTC,2287907.0,123336.0
Placer County Transportation Planning Agency (PCTPA),17878421.0,378520.0
Plumas County Transportation Commission,1079183,292543
RCTC,138210990,0
SLOCOG,15967100.0,0
San Benito Council of Governments,2676992.0,1280082.0
San Diego Metropolitan Transit System,43265263,28200000
Shasta Regional Transportation Agency,2993316.0,895000.0
Sierra County Transportation Commission,17533.0,463183.0
Tehama County Transportation Commission,3934821.0,0
Tuolumne County Transportation Council,418366.0,485202.18

In [25]:
all_fund_request.pivot_table(
    values = ["capital_FY23-24", "operating_FY23-24"],
    #columns= ["capital_FY23-24", "operating_FY23-24"],
    index = "rtpa",
    aggfunc = "sum",
    margins = True,
    margins_name = "Grand Total"
)

,capital_FY23-24,operating_FY23-24
rtpa,,
Alpine County Transportation Commission,367381.0,0.00
Amador County Transportation Commission,100000.0,0.00
Calaveras County Council of Goverments,2815143.0,0.00
DNLTC,1825253.0,0.00
El Dorado County Transportation Commission,9849627.0,208011.00
Humboldt County Association of Governments,0.0,1952069.06
Kings County Association of Governments,8709876.0,100000.00
Lake County/City Council of Governments,4077103.0,0.00
Los Angeles County Metropolitan Transportation Authority,618145878.0,0.00
Madera County Transportation Commission,8254231.0,188112.00
Mariposa County Local Transportation Commission,200000.0,0.00
Mendocino Council of Governments,5353525.0,0.00
Merced County Association of Governments (MCAG),14039873.0,3588470.00
NCTC,2287907.0,123336.00
Placer County Transportation Planning Agency (PCTPA),17878421.0,378520.00
Plumas County Transportation Commission,1079183.0,292543.00
RCTC,138210990.0,0.00
SLOCOG,15967100.0,0.00
San Benito Council of Governments,2676992.0,1280082.00
San Diego Metropolitan Transit System,43265263.0,28200000.00
Shasta Regional Transportation Agency,2993316.0,895000.00
Sierra County Transportation Commission,17533.0,463183.00
Tehama County Transportation Commission,3934821.0,0.00
Tuolumne County Transportation Council,418366.0,485202.18
Grand Total,418366.0,45345.16

# TEST of Melting the dataframe

In [26]:
id_vars= [
    'rtpa',
 'implementing agenc-y/-ies',
 'project',
 'fund source',
]
val_vars = [
    'capital_FY23-24',
 'capital_FY24-25',
 'capital_FY25-26',
 'capital_FY26-27',
 'operating_FY23-24',
 'operating_FY24-25',
 'operating_FY25-26',
 'operating_FY26-27'
]

melt = all_fund_request.melt(
    id_vars = id_vars,
    value_vars = val_vars,
    var_name = "capital/operation fy",
    value_name = "fund amount",
    ignore_index = True)

In [27]:
display(
    type(melt),
    melt.shape,
    melt.dtypes,
    melt.head()
)

pandas.core.frame.DataFrame

(1376, 6)

rtpa                         object
implementing agenc-y/-ies    object
project                      object
fund source                  object
capital/operation fy         object
fund amount                  object
dtype: object

,rtpa,implementing agenc-y/-ies,project,fund source,capital/operation fy,fund amount
0,Alpine County Transportation Commission,Alpine County Transportation Commission,Transit Facility Conversion Project,TIRCP,capital_FY23-24,360641.0
1,Alpine County Transportation Commission,Alpine County Transportation Commission,Transit Facility Conversion Project,TIRCP,capital_FY23-24,NaN
2,Alpine County Transportation Commission,Alpine County Transportation Commission,Transit Facility Conversion Project,ZETCP (GGRF),capital_FY23-24,3616.684
3,Alpine County Transportation Commission,Alpine County Transportation Commission,Transit Facility Conversion Project,ZETCP (PTA),capital_FY23-24,3123.316
4,Amador County Transportation Commission,Amador Transit,NaN,TIRCP,capital_FY23-24,100000.0

In [28]:
# splitting the cap/operations columns

melt[["project type", "fiscal year"]] = melt["capital/operation fy"].str.split('_FY', expand = True)

In [29]:
# updates the `-` string to zero.
melt.loc[(melt["rtpa"] == "Humboldt County Association of Governments") & (melt["fund amount"] == "-"),"fund amount"] = 0

In [30]:
# check for NaNs
melt["fund amount"].isna().sum()

1021

In [31]:
melt["fund amount"] = melt["fund amount"].fillna(0).astype("int64")
melt["fund source"] = melt["fund source"].astype("str")

In [32]:
# ensure no more NaNs
melt["fund amount"].isna().sum()

0

In [45]:
display(
    melt.columns,
    melt.sample(3)
)

Index(['rtpa', 'implementing agenc-y/-ies', 'project', 'fund source',
       'capital/operation fy', 'fund amount', 'project type', 'fiscal year'],
      dtype='object')

,rtpa,implementing agenc-y/-ies,project,fund source,capital/operation fy,fund amount,project type,fiscal year
966,RCTC,"Cities of Banning and Beaumont, County of Rive...",Passenger Rail Project Development,TIRCP,operating_FY24-25,0,operating,24-25
51,Mariposa County Local Transportation Commission,Yes,Mariposa County Zero Emission Transit Yard,TIRCP,capital_FY23-24,108201,capital,23-24
567,Mariposa County Local Transportation Commission,Yes,Mariposa County Zero Emission Transit Yard,TIRCP,capital_FY26-27,0,capital,26-27

In [34]:
# checking fund amounts for any non-int values 
melt["fund amount"].unique()

array([   360641,         0,      3616,      3123,    100000,   2576611,
          238532,    500000,   1175501,     69395,     80357,   9085857,
          242312,    521458,   6849293,    329561,    295818,   1133408,
          101796, 498650905, 119494973,   3706510,     87574,    198860,
           84159,   8254231,    108201,     42539,     49259,   4848229,
          123518,    271142,    110636,    104561,    696393,    722403,
          836515,   1000000,   2080000,   6400000,    200000,    370000,
         1486685,    297576,    133646,  10000000,    400000,     92109,
          501942,   1019544,   3354086,   2510740,    614200,    250000,
          100520,     61421,     53042,  63382700,   4003053,   7956643,
         2868594,  60000000,   2328990,    348002,  10126000,   5434000,
         1705263,  26000000,    943316,   2050000,      9408,      8124,
          124000,    280000,    395000,   1778000,   1400000,   4000000,
          387000,    375000,    600000,    422000,   1553000,   1787000,
         2000000,    166100,     81151,    300000,   3287498,     79798,
          186373,    218366,    360794,      3781,     75000,   2582360,
          133811,   1556248,    122726,     84007,    398955,    436080,
         5629856,     65070,   1136162, 299349095, 200560082,  55869027,
         3745769,   1440000,    895350,    671000,   1023503,     51497,
          104562,   1070173,    874515,    800000,   3530970,    120000,
         4100000,    311093,    507891,   1610740,  13162598,   1065857,
         1116250,     64211,   2337345,    195221,   9685392,    109354,
          505726,      9836,    260684,    130000,    750000,   3275000,
          877000,    550000,    163000,   1947000,   2611000,   3595798,
          194840,    955441,    208000,   1193263,   1500000,   4842696,
         1238400,    504181,   1315761,    699239,    139725,    902800,
          496423,    843000,    208011,    772834,    342326,    391693,
          204188,     51028,    150000,     40000,    188112,   2188470,
          123336,    378520,    292543,    239281,     40801,   5000000,
         8700000,   6000000,   7000000,    595000,     50000,     63017,
          375165,     25000,    439857,     34955,     10389,   1910431,
          432746,    413152,     30084,    862060,   2200000,   1200000,
         1259680,   3500000,  11000000,  12000000,   2075000,     51500,
          202910,    704157,    140378,      2091,   2971955,    291131,
        13418000,     53045,    147471,   7415199,    432747,  70712166,
           60803,    704224,    155639])

In [35]:
display(
    melt.dtypes,
    melt["fund source"].value_counts()
)

rtpa                         object
implementing agenc-y/-ies    object
project                      object
fund source                  object
capital/operation fy         object
fund amount                   int64
project type                 object
fiscal year                  object
dtype: object

TIRCP           784
ZETCP (GGRF)    248
ZETCP (PTA)     248
ZETCP            40
CMAQ             16
Measure V         8
5339              8
SGR               8
Farebox           8
5307              8
Name: fund source, dtype: int64

# Draft Aggregations

In [36]:
def make_bar(data, x_axis, y_axis):
    chart = alt.Chart(data).mark_bar().encode(
        x = x_axis,
        y = y_axis,
    )
    return chart

In [42]:
by_type = melt.groupby(["project type"]).agg({
    "fund amount": "sum",
}).reset_index()

make_bar(by_type, y_axis = "project type", x_axis = "fund amount")

alt.Chart(...)

In [41]:
by_year = melt.groupby(["fiscal year","project type"]).agg({
    "fund amount": "sum",
}).reset_index()

make_bar(by_year, y_axis = "fiscal year", x_axis = "fund amount",)

alt.Chart(...)

In [44]:
by_source = melt.groupby(["fund source"]).agg({
    "fund amount": "sum",
        "rtpa": "nunique"
}).reset_index()

make_bar(by_source, y_axis = "fund source", x_axis = "fund amount")

alt.Chart(...)

In [40]:
by_rtpa = melt.groupby(["rtpa"]).agg({
    "fund amount": "sum",
    "project": "nunique"
}).reset_index()

make_bar(by_rtpa, "rtpa", "fund amount")

alt.Chart(...)