In [127]:
import pandas as pd
from siuba import *
from calitp import *

pd.options.display.max_columns = 50
pd.options.display.max_rows = 250
pd.set_option("display.max_colwidth", None)
pd.options.display.float_format = "{:.2f}".format

In [128]:
organizations = to_snakecase(pd.read_csv('organizations.csv')).astype(str)
service_data = to_snakecase(pd.read_csv('gtfs_service_data.csv')).astype(str)

In [129]:
service_data = service_data[['services', 'agency_id', 'network_id', 'route_id', 'category']].rename(columns={"services": "mobility_service"}) >> filter(_.category == 'primary')

In [130]:
service_data

,mobility_service,agency_id,network_id,route_id,category
0,nan,nan,nan,nan,primary
5,AC Transit,AC,nan,*,primary
6,AC Transit,AC,nan,*,primary
7,AC Transit,AC,nan,*,primary
8,AC Transit,AC,nan,*,primary
...,...,...,...,...,...
733,Yountville Trolley,VN,nan,VN:Yountville Trolley,primary
734,Yuba College Sutter Campus Shuttle,nan,shuttle,nan,primary
735,Yuba-Sutter Rural Transit,nan,rural,nan,primary
736,Yuba-Sutter Transit,nan,local,nan,primary
737,Yuma County Area Transit,nan,nan,nan,primary

In [131]:
organizations = organizations[['name', 'mobility_services_managed']].rename(columns={"name": "organization_name", "mobility_services_managed": "mobility_service"})

In [132]:
organizations_explode = organizations.assign(mobility_service=organizations['mobility_service'].str.split(',')).explode('mobility_service')

In [133]:
organizations_explode.join(service_data.set_index('mobility_service'), on='mobility_service')

,organization_name,mobility_service,agency_id,network_id,route_id,category
0,A-Paratransit,nan,nan,nan,nan,primary
1,ABC Shuttle,ABC Airport Shuttle,NaN,NaN,NaN,NaN
2,Able Inc.,Able Inc.,NaN,NaN,NaN,NaN
3,Abrazar Inc.,Abrazar,NaN,NaN,NaN,NaN
4,Access Services,LA Access Services,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
839,Yuba-Sutter Transit Authority,Sacramento Express,nan,Sacramento,nan,primary
839,Yuba-Sutter Transit Authority,Yuba College Sutter Campus Shuttle,nan,shuttle,nan,primary
840,Yuma County Intergovernmental Public Transportation Authority,Yuma County Area Transit,nan,nan,nan,primary
841,Yurok Tribe,Yurok Tribe Transit Service,NaN,NaN,NaN,NaN
842,Zonar Inc.,nan,nan,nan,nan,primary