## Look at trips that exceed 1,400 minutes

In [1]:
import _rt_scheduled_utils as rt_scheduled_utils
import _threshold_utils as threshold_utils
import altair as alt

import pandas as pd
from shared_utils import calitp_color_palette as cp

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

In [3]:
final = rt_scheduled_utils.final_df(rt_scheduled_utils.analysis_date)

In [6]:
long_trips = final.loc[final["Actual Trip Duration Minutes"] >= 1400].reset_index(drop = True)

In [11]:
len(long_trips)

540

In [37]:
summary = long_trips.groupby(['Gtfs Dataset Name', ]).agg({'Trip Id':'nunique'}).rename(columns = {'Trip Id':'Total Trips'}).reset_index()

In [38]:
summary = summary.assign(
    Percent_Trips = summary['Total Trips'].divide(len(long_trips)) * 100)

In [33]:
summary

,Gtfs Dataset Name,Total Trips,Percent_Trips
0,Anaheim Resort VehiclePositions,2,0.37
1,Bay Area 511 AC Transit Vehicle Position,73,13.52
2,Bay Area 511 Caltrain VehiclePositions,1,0.19
3,Bay Area 511 Golden Gate Transit Vehicle Positions,3,0.56
4,Bay Area 511 Marin VehiclePositions,1,0.19
5,Bay Area 511 Muni VehiclePositions,139,25.74
6,Bay Area 511 SamTrans VehiclePositions,9,1.67
7,Bay Area 511 Santa Clara Transit VehiclePositions,33,6.11
8,Bay Area 511 Tri Delta VehiclePositions,2,0.37
9,Bear Vehicle Positions,1,0.19
10,Fresno Vehicle Positions,2,0.37
11,LA Metro Bus Vehicle Positions,188,34.81
12,LA Metro Rail Vehicle Positions,9,1.67
13,North County Vehicle Positions,1,0.19
14,OCTA VehiclePositions,24,4.44
15,Riverside VehiclePositions,2,0.37
16,San Diego Vehicle Positions,50,9.26

In [34]:
long_trips.groupby(['Rt Category']).agg({'Trip Id':'nunique'}).rename(columns = {'Trip Id':'Total Trips'}).reset_index()

  Rt Category  Total Trips
0       0-20%            1
1      21-40%           11
2      41-60%           10
3      61-80%           18
4     81-100%          500

In [17]:
long_trips['Start'].describe()

count                     540
unique                    143
top       2023-02-15 00:00:13
freq                      130
Name: Start, dtype: object

In [18]:
long_trips['End'].describe()

count                     540
unique                     89
top       2023-02-15 23:59:59
freq                      155
Name: End, dtype: object

In [16]:
long_trips['Actual Trip Duration Minutes'].describe()

count    540.00
mean    1437.97
std        4.41
min     1407.30
25%     1438.30
50%     1439.60
75%     1439.80
max     1440.00
Name: Actual Trip Duration Minutes, dtype: float64

In [35]:
long_trips['Actual Trip Duration Minutes'].median()

1439.6

In [12]:
long_trips['Trip Id'].describe()

count                                         540
unique                                        540
top       6ab55754-994c-4969-a5c1-3a17d932e044:16
freq                                            1
Name: Trip Id, dtype: object