# [Research Request - Transit Agency Peer Groups subtask: NTD Characteristics #1442](https://github.com/cal-itp/data-analyses/issues/1442)

## via Juan Matute  email 5/29/2025
In a more advanced version, operators would be clustered into groups of 10 or more based on: 

- mode of service, 
- vehicles available, 
- population density of service territory, 
- job density of service territory, and, perhaps, 
- service area overlap with other transit operators (a GTFS spatial analysis exercise).  

An agency scoring in the bottom 1 or 2 of the cluster would get some remedial help in their triennial audit.Or face consolidation (FWIW, I like the BC Transit model for consolidation starting in 1979).  

Several large transit operators, especially those operating rail, wouldn't be candidates for consolidation and wouldn't fit this clustering method and would instead rely on a triennial audit, where I would expect trends over time for GTFS-RT quality, customer experience metrics (Transit App surveys or mystery shops) and several of these metrics to be considered holistically.  

And perhaps agency costs would be adjusted for regional consumer price index maintained by California Department of Industrial Relations.  Either that or they'd just be clustered with regional peers.

## Additional Reference Research Article 

**Comparing Transit Agency Peer Groups using Cluster Analysis**
- Dataset used for the research article: https://zenodo.org/records/3673974

Article states they used Ward's clustering method. This method is available in `sklearns`, see here for details: https://scikit-learn.org/stable/modules/clustering.html#hierarchical-clustering & https://scikit-learn.org/stable/modules/generated/sklearn.cluster.AgglomerativeClustering.html#sklearn.cluster.AgglomerativeClustering

In [2]:
from sklearn.cluster import AgglomerativeClustering
import pandas as pd

In [12]:
data_url = "https://zenodo.org/records/3673974/files/buscluster.csv?download=1"
article_data = pd.read_csv(data_url).drop(columns="Unnamed: 0")

In [13]:
display(
    article_data.info(),
    article_data.head()
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   metro       241 non-null    object
 1   state       241 non-null    object
 2   pop_change  241 non-null    float64
 3   upt_change  241 non-null    float64
 4   vrm_change  241 non-null    float64
 5   veh_change  241 non-null    float64
 6   cluster     241 non-null    int64
dtypes: float64(4), int64(1), object(2)
memory usage: 13.3+ KB

None

,metro,state,pop_change,upt_change,vrm_change,veh_change,cluster
0,Akron,OH,-0.005838,-8.259862,13.788589,-3.857249,1
1,Albany,GA,-1.621092,-33.722368,14.042977,15.608218,1
2,Albany-Schenectady-Troy,NY,0.822390,10.501136,7.102621,-0.966759,1
3,Allentown-Bethlehem-Easton,NJ,1.025302,2.638058,7.186697,-17.181723,1
4,Altoona,PA,-1.943817,-14.760580,-6.917273,-16.690297,1