In [8]:
from calitp.tables import tbl
from calitp import query_sql
import calitp.magics
import seaborn as sns

import shared_utils
import os

from siuba import *
import pandas as pd
import geopandas as gpd
import shapely

import datetime as dt
import time
from zoneinfo import ZoneInfo

import rt_analysis as rt
import rt_filter_map_plot

import gcsfs
fs = gcsfs.GCSFileSystem()

In [6]:
working_organizations = pd.read_parquet('./working_organizations.parquet')

In [13]:
test = working_organizations.iloc[9:13, :]

In [25]:
def aggregate_endpoint_delays(working_organizations):
    endpoint_delay_all = pd.DataFrame()
    for _ix, operator in working_organizations.iterrows():
        itp_id = operator.itp_id
        analysis_date = operator.analysis_date
        rt_day = rt_filter_map_plot.from_gcs(itp_id, analysis_date)
        df = rt_day.endpoint_delay_view
        df['calitp_itp_id'] = itp_id
        endpoint_delay_all = pd.concat([endpoint_delay_all, df])
    return endpoint_delay_all

In [28]:
all_endpoint_delays = aggregate_endpoint_delays(working_organizations)

found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet
found parquet

In [29]:
all_endpoint_delays

,stop_id,stop_name,geometry,shape_id,shape_meters,trip_key,trip_id,stop_sequence,arrival_time,route_id,route_short_name,direction_id,actual_time,delay_seconds,arrival_hour,mean_speed_mph,calitp_itp_id
0,1264,Valley West Blvd (McDonald's),POINT (-344115.782 328111.975),p_414,4771.239431,-7990274345177526504,t_2062941_b_33847_tn_0,2,2022-05-04 08:30:00,8,None,0,2022-05-04 08:32:16.495633,136,8,32.987869,135
1,2506,14th & B (Westbound),POINT (-343909.882 324668.740),p_178062,29131.187045,-8027813218054477157,t_2062905_b_33847_tn_0,12,2022-05-04 13:36:00,33023,RTS,0,2022-05-04 13:38:13.166273,133,13,21.798080,135
2,2506,14th & B (Westbound),POINT (-343909.882 324668.740),p_178062,29131.187045,1445152742703914407,t_2062906_b_33847_tn_0,12,2022-05-04 14:39:00,33023,RTS,0,2022-05-04 14:39:33.414093,33,14,26.569880,135
3,2506,14th & B (Westbound),POINT (-343909.882 324668.740),p_178062,29131.187045,5308911609287347481,t_2062907_b_33847_tn_0,12,2022-05-04 15:35:00,33023,RTS,0,2022-05-04 15:32:23.974578,0,15,21.609838,135
4,2506,14th & B (Westbound),POINT (-343909.882 324668.740),p_178062,29131.187045,9074261212333781456,t_2062908_b_33847_tn_0,12,2022-05-04 16:37:00,33023,RTS,0,2022-05-04 16:36:55.236636,0,16,21.055481,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,83,Kiernan Ave & Stratos Way,POINT (-88017.586 -33479.068),185_shp,9433.080952,6677840156583264334,t725-sl2-pB9-r7D,2520,2022-05-04 09:27:00,28,23,0,2022-05-04 09:19:10.002729,0,9,7.725195,484
765,83,Kiernan Ave & Stratos Way,POINT (-88017.586 -33479.068),185_shp,9433.080952,-9043093228588728945,t723-sl2-pB9-r7C,2520,2022-05-04 08:57:00,28,23,0,2022-05-04 08:47:57.817524,0,8,8.104752,484
766,83,Kiernan Ave & Stratos Way,POINT (-88017.586 -33479.068),185_shp,9433.080952,8948184027471993745,t71F-sl2-pB9-r7D,2520,2022-05-04 07:57:00,28,23,0,2022-05-04 07:48:47.032892,0,7,8.996104,484
767,83,Kiernan Ave & Stratos Way,POINT (-88017.586 -33479.068),185_shp,9433.080952,-4464638270576975607,t74D-sl2-pB9-r7C,2520,2022-05-04 19:27:00,28,23,0,2022-05-04 19:19:23.197534,0,19,7.903881,484
768,83,Kiernan Ave & Stratos Way,POINT (-88017.586 -33479.068),185_shp,9433.080952,-2075469856811211262,t73F-sl2-pB9-r7B,2520,2022-05-04 15:57:00,28,23,0,2022-05-04 15:48:41.199781,0,15,8.031111,484

In [30]:
all_endpoint_delays.delay_seconds.sum() / 60 ** 2 ## ~5177 hours of delay on a weekday, statewide

5177.317222222222

# Old

In [21]:
endpoint_delay_all = pd.DataFrame()
for operator_parquet in os.listdir('./endpoint_delay_views/'):
    if operator_parquet == '.ipynb_checkpoints':
        continue
    calitp_itp_id = operator_parquet.split('_')[0]
    df = gpd.read_parquet(f'./endpoint_delay_views/{operator_parquet}')
    df['calitp_itp_id'] = int(calitp_itp_id)
    endpoint_delay_all = pd.concat([endpoint_delay_all, df])

In [22]:
endpoint_delay_all >> head(5)

,stop_id,stop_name,geometry,shape_id,shape_meters,trip_key,trip_id,stop_sequence,arrival_time,route_id,direction_id,actual_time,arrival_hour,mean_speed_mph,delay_seconds,calitp_itp_id
0,13171,Genesee Av & La Jolla Village Dr,POINT (261001.239 -567362.657),3010093,45232.728222,-1879550975976699090,16174935-NC2110-NCTD-Weekday-20,73,2022-02-08 07:43:00,301,1,2022-02-08 07:44:07.859503,7,18.560864,67,226
1,13171,Genesee Av & La Jolla Village Dr,POINT (261001.239 -567362.657),3010093,45232.728222,-7086145044901280522,16174928-NC2110-NCTD-Weekday-20,73,2022-02-08 18:59:00,301,1,2022-02-08 18:58:22.016938,18,15.325906,0,226
2,13171,Genesee Av & La Jolla Village Dr,POINT (261001.239 -567362.657),3010093,45232.728222,-2987294244121688089,16174910-NC2110-NCTD-Weekday-20,73,2022-02-08 12:27:00,301,1,2022-02-08 12:29:09.865643,12,15.733527,129,226
3,13171,Genesee Av & La Jolla Village Dr,POINT (261001.239 -567362.657),3010093,45232.728222,-1093749300821038708,16174906-NC2110-NCTD-Weekday-20,73,2022-02-08 22:15:00,301,1,2022-02-08 22:16:39.039018,22,17.243248,99,226
4,13171,Genesee Av & La Jolla Village Dr,POINT (261001.239 -567362.657),3010093,45232.728222,8517315111569206284,16174896-NC2110-NCTD-Weekday-20,73,2022-02-08 19:51:00,301,1,2022-02-08 19:48:15.121243,19,17.204731,0,226

In [23]:
endpoint_delay_all.delay_seconds.sum() / 60 ** 2 ## ~3340 hours of delay on a weekday, statewide

3338.7069444444446

In [24]:
gdf = shared_utils.utils.download_geoparquet(utils.BUS_GCS_FILE_PATH, 
                                             "parallel_or_intersecting")

In [25]:
parallel_routes = (gdf
                   >> filter(_.pct_route >= .3)
                   >> select(_.calitp_itp_id == _.itp_id, _.route_id)
                   >> distinct(_.calitp_itp_id, _.route_id)
                  )

In [26]:
parallel_delays = (endpoint_delay_all
                   >> inner_join(_, parallel_routes, on = ['calitp_itp_id', 'route_id'])
                   >> distinct(_.calitp_itp_id, _.trip_id, _keep_all=True)
                   ## ensure we don't duplicate delays...
                   ## guessing these come partially from multiple url numbers/aggregation in RT tools?
                  )

In [27]:
parallel_delays.delay_seconds.sum() / 60 ** 2

1745.3352777777777

In [28]:
parallel_delays.route_id.isin(gdf.route_id).all() ## looks good

True

#### what about parallel routes without RT data?

In [29]:
parallel_routes >> distinct(_.calitp_itp_id, _.route_id) >> filter(_.calitp_itp_id != 200)

      calitp_itp_id route_id
0                 4       10
1                 4       12
2                 4       14
3                 4       18
4                 4       19
...             ...      ...
3103            482       30
3104            482       31
3105            482       32
3106            482        7
3107            482        9

[2522 rows x 2 columns]

In [14]:
all_ca_routes = tbl.gtfs_schedule.routes() >> distinct(_.calitp_itp_id, _.route_id) >> collect()

/opt/conda/lib/python3.9/site-packages/siuba/sql/utils.py:52: SAWarning: Dialect bigquery:bigquery will not make use of SQL compilation caching as it does not set the 'supports_statement_cache' attribute to ``True``.  This can have significant performance implications including some performance degradations in comparison to prior SQLAlchemy versions.  Dialect maintainers should seek to set this attribute to True after appropriate development and testing for SQLAlchemy 1.4 caching support.   Alternatively, this attribute may be set to False which will disable this warning. (Background on this error at: https://sqlalche.me/e/14/cprf)

In [19]:
all_ca_routes >> filter(_.calitp_itp_id != 200)

      calitp_itp_id                              route_id
0               279                                    12
1               279                                     2
2               279                                    11
3               279                                     4
4               279                                     6
...             ...                                   ...
3992            372  060f6b21-00e0-46a1-8be8-98ed29ed5673
3993            372  96926054-eff8-4292-975d-f9917fe88820
3994            372  232750c4-edd8-467e-8c8a-0b860672803e
3995            372  dcf17c80-34f0-45e1-861f-c53760ac2d3c
3996            372  b8ac63c9-d3c1-4eac-ba04-f785289f063f

[3335 rows x 2 columns]

In [17]:
parallel_delays >> distinct(_.calitp_itp_id, _.route_id)

     calitp_itp_id route_id
0              226      301
1              226      398
2              226      323
3              226      332
4              226      354
..             ...      ...
932            300     3366
933            300     3369
934            300     3354
935            300     3374
936            300     3372

[937 rows x 2 columns]

## Trying out large maps

In [4]:
class ThinMapper(rt.OperatorDayAnalysis):
    
    def __init__(self, segment_view):
        self.stop_segment_speed_view = segment_view
        self.calitp_agency_name = 'Statewide'
        self.filter_formatted = 'PM Peak'

In [5]:
segment_all = pd.DataFrame()
for operator_parquet in os.listdir('./segment_speed_views/'):
    if operator_parquet == '.ipynb_checkpoints':
        continue
    calitp_itp_id = operator_parquet.split('_')[0]
    df = gpd.read_parquet(f'./segment_speed_views/{operator_parquet}')
    df['calitp_itp_id'] = int(calitp_itp_id)
    segment_all = pd.concat([segment_all, df])

In [6]:
segment_all = segment_all >> distinct(_.shape_id, _.stop_sequence, _keep_all=True) ## essential here for reasonable map size!

In [7]:
segment_filtered = segment_all >> inner_join(_, parallel_routes >> select(_.calitp_itp_id, _.route_id), on = ['calitp_itp_id', 'route_id'])

In [8]:
segment_filtered.to_parquet('segment_all.parquet')

/tmp/ipykernel_925/1034411430.py:1: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')

In [9]:
mapper = ThinMapper(segment_filtered)

In [10]:
m = mapper._show_speed_map('low_speeds', utils.ZERO_THIRTY_COLORSCALE, [1300, 700])

TopologyException: assigned depths do not match at -166523.38192423596 -35415.952393142536
TopologyException: assigned depths do not match at -166523.38192423596 -35415.952393142536
TopologyException: assigned depths do not match at -128381.9227042797 -165982.48672357475
TopologyException: assigned depths do not match at -117953.55795454726 1648.8320321653728
TopologyException: assigned depths do not match at -217628.67881293956 -35629.731197568181
TopologyException: assigned depths do not match at -217628.67881293956 -35629.731197568181
TopologyException: assigned depths do not match at -224574.96029423364 -10595.528804516269
TopologyException: assigned depths do not match at -231881.71140996384 -9874.5257799801257
TopologyException: assigned depths do not match at -231947.21270706289 -9882.1030193925762
TopologyException: assigned depths do not match at -206250.92608763179 -51291.043813443037
TopologyException: assigned depths do not match at -128570.88196397232 -166062.66690813107
TopologyException: depth mismatch at  at -222487.36265306291 8348.9969870434834
TopologyException: assigned depths do not match at -223500.18878920123 11185.884720281891
TopologyException: depth mismatch at  at -223663.53833297014 3333.237902790268
TopologyException: assigned depths do not match at 197879.49352637693 -486705.04717722937
TopologyException: assigned depths do not match at 197879.4935263769 -486705.04717722937
TopologyException: assigned depths do not match at 32532.202493516623 -190255.07589254106
TopologyException: assigned depths do not match at -209514.00546218368 -7137.0229958073287
TopologyException: depth mismatch at  at -220762.77276822299 -1411.6457122131762
TopologyException: assigned depths do not match at 32532.202493516623 -190255.07589254106
TopologyException: found non-noded intersection between LINESTRING (963.832 134.129, 963.836 174.83) and LINESTRING (963.836 174.83, 963.836 174.83) at 963.83617767150281 174.83013569755806
TopologyException: found non-noded intersection between LINESTRING (963.832 134.129, 963.836 174.83) and LINESTRING (963.836 174.83, 963.836 174.83) at 963.83617767150281 174.83013569755806
/opt/conda/lib/python3.9/site-packages/shapely/ops.py:634: ShapelyDeprecationWarning: GeometryTypeError will derive from ShapelyError and not TypeError or ValueError in Shapely 2.0.
Input geom 1 is INVALID: Self-intersection at or near point -17475.375752986391 -104487.67872200617 (-17475.37575298639058 -104487.67872200616694)
<A>
MULTIPOLYGON (((-21926.5814121442017495 -98987.0174670488922857, -21876.5892483505813289 -99008.0361149414675310, -21926.5970776009926340 -99029.0174641273915768, -21926.5814121442017495 -98987.0174670488922857)), ((-17507.2642097575444495 -104529.5445287785987603, -17479.7160030059749261 -104506.0861065460339887, -17474.8966022369968414 -104485.6466012626915472, -17507.2642097575444495 -104529.5445287785987603)), ((-17507.0869740974594606 -104487.5449027383438079, -17479.7160030059749261 -104506.0861065460339887, -17475.3757529863905802 -104487.6787220061669359, -17507.0869740974594606 -104487.5449027383438079)))
</A>
TopologyException: Input geom 1 is invalid: Self-intersection at -17475.375752986391 -104487.67872200617
Input geom 1 is INVALID: Self-intersection at or near point 14702.565374266895 -400119.97998878465 (TopologyException: Input geom 1 is invalid: Self-intersection at 14702.565374266895 -400119.97998878465
14702.565374266894651 -400119.97998878464568)
<A>
MULTIPOLYGON (((26239.0640224100097839 -399225.3836973906145431, 26191.8207125620792795 -399253.6007840133388527, 26202.3882365807330643 -399204.9169747949927114, 26239.0640224100097839 -399225.3836973906145431)), ((14695.9507537148565461 -400121.9560308910440654, 14741.9343343517648464 -400108.2189630084321834, 14757.3848750640117942 -400122.4415081990300678, 14695.9507537148565461 -400121.9560308910440654)), ((14701.8004717668773083 -400120.8109340943046845, 14741.9343343517648464 -400108.2189630084321834, 14726.4837936395178986 -400093.9964178178342991, 14701.8004717668773083 -400120.8109340943046845)))
</A>
Input geom 1 is INVALID: Self-intersection at or near point 260857.4129760722 -461332.99652759574 (260857.41297607219894 -461332.99652759573655)
<A>
MULTIPOLYGON (((259548.0183394341147505 -462787.5980665762908757, 259522.9176300007675309 -462799.1203498902614228, 259517.2169526708894409 -462759.0450531896203756, 259548.0183394341147505 -462787.5980665762908757)), ((260867.1754967238521203 -461331.1542226127930917, 260823.9744440719950944 -461339.3067804827005602, 260808.1753599784569815 -461325.4724412572686560, 260867.1754967238521203 -461331.1542226127930917)), ((260858.7434011350851506 -461331.4771563336835243, 260823.9744440719950944 -461339.3067804827005602, 260839.7735281655332074 -461353.1411197081324644, 260858.7434011350851506 -461331.4771563336835243)))
</A>
TopologyException: Input geom 1 is invalid: Self-intersection at 260857.4129760722 -461332.99652759574
Input geom 1 is INVALID: Self-intersection at or near point 231107.98076524559 -464206.49741351459 (231107.98076524559292 -464206.49741351458943)
<A>
MULTIPOLYGON (((232712.2821010194311384 -468095.7967424263479188, 232729.7782773328071926 -468044.4656230696127750, 232754.1817875741689932 -468092.8956621765391901, 232712.2821010194311384 -468095.7967424263479188)), ((231114.3139034371997695 -464204.3165387020562775, 231068.9651588392734993 -464219.9327990586170927, 231052.9744401494099293 -464206.3204180846223608, 231114.3139034371997695 -464204.3165387020562775)), ((231108.7847017901658546 -464205.5530142097850330, 231068.9651588392734993 -464219.9327990586170927, 231084.9558775291370694 -464233.5451800326118246, 231108.7847017901658546 -464205.5530142097850330)))
</A>
TopologyException: Input geom 1 is invalid: Self-intersection at 231107.98076524559 -464206.49741351459
Input geom 1 is INVALID: Self-intersection at or near point -211856.98475732323 -37370.719894283386 (-211856.98475732322549 -37370.719894283385656)
<A>
MULTIPOLYGON (((-211433.8951370297872927 -31432.7888115740352077, -211456.3179379345383495 -31482.1671266484263469, -211475.8779224953323137 -31431.5864287095755571, -211433.8951370297872927 -31432.7888115740352077)), ((-211896.6529391921358183 -37351.8356869444978656, -211836.3591037412988953 -37380.5388247306837002, -211842.5778212726872880 -37400.5969291342553333, -211896.6529391921358183 -37351.8356869444978656)), ((-211866.2485668356530368 -37374.2533634302380960, -211836.3591037412988953 -37380.5388247306837002, -211830.1403862099105027 -37360.4807203271120670, -211866.2485668356530368 -37374.2533634302380960)))
</A>
TopologyException: Input geom 1 is invalid: Self-intersection at -211856.98475732323 -37370.719894283386
Input geom 1 is INVALID: Self-intersection at or near point -354541.04269239015 305841.99407727411 (-354541.04269239015412 305841.99407727411017)
<A>
MULTIPOLYGON (((-357190.2151098010945134 299632.6937454030849040, -357137.0519777421723120 299621.9848056944319978, -357181.9182348987669684 299591.5214019325794652, -357190.2151098010945134 299632.6937454030849040)), ((-354537.5747126050409861 305846.4585583120933734, -354559.2850781430024654 305818.5098615844035521, -354580.1246875907527283 305815.9193639361183159, -354537.5747126050409861 305846.4585583120933734)), ((-354541.3746512831421569 305844.6645655826432630, -354559.2850781430024654 305818.5098615844035521, -354538.4454686952522025 305821.1003592326887883, -354541.3746512831421569 305844.6645655826432630)))
</A>
TopologyException: Input geom 1 is invalid: Self-intersection at -354541.04269239015 305841.99407727411
Input geom 1TopologyException: Input geom 1 is invalid: Self-intersection at 256665.42017986556 -487799.01840243483
 is INVALID: Self-intersection at or near point 256665.42017986556 -487799.01840243483 (256665.42017986555584 -487799.01840243482729)
<A>
MULTIPOLYGON (((258352.1618546554527711 -488313.7136399870505556, 258362.1966219159367029 -488285.6951956007978879, 258394.1323137226572726 -488312.1386588166933507, 258352.1618546554527711 -488313.7136399870505556)), ((256663.5694477075594477 -487790.4725518372724764, 256673.3659980562515557 -487835.7086251875152811, 256658.8398085199296474 -487850.8740403666161001, 256663.5694477075594477 -487790.4725518372724764)), ((256663.7937622416066006 -487797.4605386775801890, 256673.3659980562515557 -487835.7086251875152811, 256687.8921875925734639 -487820.5432100084144622, 256663.7937622416066006 -487797.4605386775801890)))
</A>
Input geom 1TopologyException: Input geom 1 is invalid: Self-intersection at 242681.76852798334 -445254.6349908071
 is INVALID: Self-intersection at or near point 242681.76852798334 -445254.6349908071 (242681.76852798333857 -445254.6349908070988)
<A>
MULTIPOLYGON (((234939.0809765034355223 -452813.4877301009255461, 234951.0208356385410298 -452866.3880114218918607, 234904.8886490580625832 -452837.8779893015162088, 234939.0809765034355223 -452813.4877301009255461)), ((242688.4614427269261796 -445256.2496223478228785, 242641.4581312967347912 -445244.9103132336749695, 242635.3663274460413959 -445224.8133003749535419, 242688.4614427269261796 -445256.2496223478228785)), ((242682.2895076511194929 -445254.4770715198828839, 242641.4581312967347912 -445244.9103132336749695, 242647.5499351474281866 -445265.0073260923963971, 242682.2895076511194929 -445254.4770715198828839)))
</A>
Input geom 1 is INVALID: Self-intersection at or near point 225573.7189740084 -452078.37047988706 (225573.71897400839953 -452078.37047988706036)
<A>
MULTIPOLYGON (((224677.3462383898731787 -452471.9388261911226436, 224678.3704657396301627 -452417.7175115784048103, 224716.3697437313676346 -452456.4093049215152860, 224677.3462383898731787 -452471.9388261911226436)), ((225584.5664820550300647 -452078.5357750259572640, 225541.2721564201056026 -452077.8760528538841754, 225527.9277707338042092 -452061.6610175268724561, 225584.5664820550300647 -452078.5357750259572640)), ((225574.7024836476775818 -452077.5610871420940384, 225541.2721564201056026 -452077.8760528538841754, 225554.6165421064069960 -452094.0910881808958948, 225574.7024836476775818 -452077.5610871420940384)))
</A>
TopologyException: Input geom 1 is invalid: Self-intersection at 225573.7189740084 -452078.37047988706
Input geom 1 is INVALID: Self-intersection at or near point -183482.85542212662 -67094.779930436562 (-183482.85542212662403 -67094.779930436561699)
<A>
MULTIPOLYGON (((-171242.1883156854892150 -71960.6338334688480245, -171275.1906652086763643 -71917.6007656494621187, -171221.3582000305177644 -71924.1632112942897948, -171242.1883156854892150 -71960.6338334688480245)), ((-183481.7144932082737796 -67087.7351978837104980, -183489.1374950476165395 -67133.5689583018538542, -183508.4529429311514832 -67141.8099214165849844, -183481.7144932082737796 -67087.7351978837104980)), ((-183484.0084102695691399 -67092.0775178574112942, -183489.1374950476165395 -67133.5689583018538542, -183469.8220471640815958 -67125.3279951871227240, -183484.0084102695691399 -67092.0775178574112942)))
</A>
TopologyException: Input geom 1 is invalid: Self-intersection at -183482.85542212662 -67094.779930436562
Input geom 1 is INVALID: Self-intersection at or near point -354541.04269239015 305841.99407727411 (-354541.04269239015412 305841.99407727411017)
<A>
TopologyException: Input geom 1 is invalid: Self-intersection at -354541.04269239015 305841.99407727411
MULTIPOLYGON (((-357190.2151098010945134 299632.6937454030849040, -357137.0519777421723120 299621.9848056944319978, -357181.9182348987669684 299591.5214019325794652, -357190.2151098010945134 299632.6937454030849040)), ((-354537.5747126050409861 305846.4585583120933734, -354559.2850781430024654 305818.5098615844035521, -354580.1246875907527283 305815.9193639361183159, -354537.5747126050409861 305846.4585583120933734)), ((-354541.3746512831421569 305844.6645655826432630, -354559.2850781430024654 305818.5098615844035521, -354538.4454686952522025 305821.1003592326887883, -354541.3746512831421569 305844.6645655826432630)))
</A>
Input geom 1 is INVALID: Self-intersection at or near point 262710.1882125783 -482147.3789448156 (262710.18821257830132 -482147.37894481560215)
<A>
MULTIPOLYGON (((263931.0966483636875637 -480113.2778510053176433, 263935.9811593070626259 -480167.2884199047693983, 263893.9956432508188300 -480132.9632623451761901, 263931.0966483636875637 -480113.2778510053176433)), ((262699.3767442880780436 -482144.3493881128961220, 262742.6954313062014990 -482156.4880186010268517, 262750.8373789536417462 -482175.8454122403054498, 262699.3767442880780436 -482144.3493881128961220)), ((262709.9219778804690577 -482147.4909262637374923, 262742.6954313062014990 -482156.4880186010268517, 262734.5534836587612517 -482137.1306249617482536, 262709.9219778804690577 -482147.4909262637374923)))
</A>
TopologyException: Input geom 1 is invalid: Self-intersection at 262710.1882125783 -482147.3789448156
Input geom 1 is INVALID: Self-intersection at or near point 262151.1395145625 -486271.87215594749 (262151.13951456249924 -486271.87215594749432)
<A>
MULTIPOLYGON (((262984.9243790291948244 -485190.1783343754359521, 263023.9596446710056625 -485227.8246892624301836, 262969.7498666298342869 -485229.3412527222535573, 262984.9243790291948244 -485190.1783343754359521)), ((262140.3808504062180873 -486272.7421656693331897, 262184.2474511854816228 -486269.1948508180794306, 262198.7924289621296339 -486284.3422473427490331, 262140.3808504062180873 -486272.7421656693331897)), ((262150.2856298596598208 -486272.6920812730677426, 262184.2474511854816228 -486269.1948508180794306, 262169.7024734088336118 -486254.0474542934098281, 262150.2856298596598208 -486272.6920812730677426)))
</A>
TopologyException: Input geom 1 is invalid: Self-intersection at 262151.1395145625 -486271.87215594749
TopologyException: Input geom 1 is invalid: Self-intersection at 264908.73036398808 -498587.28372315149
Input geom 1 is INVALID: Self-intersection at or near point 264908.73036398808 -498587.28372315149 (264908.73036398808472 -498587.2837231514859)
<A>
MULTIPOLYGON (((264908.4576407863060012 -498584.7171851353487000, 264925.5926564616383985 -498604.0146263596834615, 264912.8956225495785475 -498626.4820545577676967, 264908.4576407863060012 -498584.7171851353487000)), ((264943.1242689882055856 -498561.8176991236978211, 264917.8853931495686993 -498567.2027846754644997, 264932.0506218223017640 -498551.6996786431409419, 264943.1242689882055856 -498561.8176991236978211)), ((264914.7938116427394561 -498592.8239111883449368, 264917.8853931495686993 -498567.2027846754644997, 264903.7201644768356346 -498582.7058907077880576, 264914.7938116427394561 -498592.8239111883449368)))
</A>
Input geom 1 is INVALID: Self-intersection at or near point 264651.14180627849 -494969.05092590081 (264651.14180627849419 -494969.0509259008104)
<A>TopologyException: Input geom 1 is invalid: Self-intersection at 264651.14180627849 -494969.05092590081

MULTIPOLYGON (((265255.4460355227347463 -493347.2553290224750526, 265219.1649641859694384 -493387.5626963721006177, 265215.7842278542229906 -493333.4371883203857578, 265255.4460355227347463 -493347.2553290224750526)), ((264643.8236178404767998 -494963.8884079181589186, 264681.8673285734839737 -494990.7258339355466887, 264681.4095685263746418 -495011.7208441937109455, 264643.8236178404767998 -494963.8884079181589186)), ((264649.1625868138507940 -494969.0077724284492433, 264681.8673285734839737 -494990.7258339355466887, 264682.3250886205933057 -494969.7308236773824319, 264649.1625868138507940 -494969.0077724284492433)))
</A>
Input geom 1TopologyException: Input geom 1 is invalid: Self-intersection at 252475.12137324398 -437224.62970767217
 is INVALID: Self-intersection at or near point 252475.12137324398 -437224.62970767217 (252475.12137324397918 -437224.62970767216757)
<A>
MULTIPOLYGON (((248006.8791200388222933 -440928.5864842779701576, 248057.6868366906710435 -440947.5489716840675101, 248008.5762239266769029 -440970.5521826326148584, 248006.8791200388222933 -440928.5864842779701576)), ((252477.7068047240027227 -437232.6897143707028590, 252463.5683690655569080 -437188.6135564860305749, 252476.6383654816017952 -437172.1765496513107792, 252477.7068047240027227 -437232.6897143707028590)), ((252477.0232170247181784 -437226.1419715319061652, 252463.5683690655569080 -437188.6135564860305749, 252450.4983726495120209 -437205.0505633207503706, 252477.0232170247181784 -437226.1419715319061652)))
</A>
Input geom 1 is INVALID: Self-intersection at or near point -211463.38198561038 -31412.88838222967 (-211463.38198561038007 -31412.888382229670242)
<A>TopologyException: Input geom 1 is invalid: Self-intersection at -211463.38198561038 -31412.88838222967

MULTIPOLYGON (((-210458.7757654800661840 -26111.9040814191466779, -210484.8491460093937349 -26159.4559355131023040, -210500.5491810612147674 -26107.5472763185971417, -210458.7757654800661840 -26111.9040814191466779)), ((-211471.7870776327908970 -31413.2378974812345405, -211424.3635942063701805 -31411.2658511674380861, -211412.3451257889682893 -31428.4866646470509295, -211471.7870776327908970 -31413.2378974812345405)), ((-211464.6465501039638184 -31413.7709263932119939, -211424.3635942063701805 -31411.2658511674380861, -211436.3820626237720717 -31394.0450376878252428, -211464.6465501039638184 -31413.7709263932119939)))
</A>
Input geom 1 is INVALID: Self-intersection at or near point 262929.70932847343 -486784.66715769679 (262929.7093284734292 -486784.66715769679286)
<A>
MULTIPOLYGON (((262655.2240766634349711 -487877.2100600634003058, 262640.8619081234792247 -487902.0322766089229845, 262613.3965044359792955 -487873.4081918965093791, 262655.2240766634349711 -487877.2100600634003058)), ((262927.8417832456761971 -486775.9782233452424407, 262937.4750221743015572 -486820.7977968690101989, 262923.0883989061694592 -486836.0956748571479693, 262927.8417832456761971 -486775.9782233452424407)), ((262928.0249239501426928 -486783.0830887607880868, 262937.4750221743015572 -486820.7977968690101989, 262951.8616454424336553 -486805.4999188808724284, 262928.0249239501426928 -486783.0830887607880868)))
</A>
TopologyException: Input geom 1 is invalid: Self-intersection at 262929.70932847343 -486784.66715769679
Input geom 1 is INVALID: Self-intersection at or near point 239153.1333963848 -455242.15881937533 (239153.13339638480102 TopologyException: Input geom 1 is invalid: Self-intersection at 239153.1333963848 -455242.15881937533
-455242.15881937532686)
<A>
MULTIPOLYGON (((237578.4451348081347533 -453889.9821489127352834, 237559.3719166455266532 -453878.0568375093280338, 237585.0801958171650767 -453848.5095559698529541, 237578.4451348081347533 -453889.9821489127352834)), ((239147.5654684467008337 -455250.7324544497532770, 239171.4514026749820914 -455213.9522939014132135, 239192.3498523894813843 -455211.8895773598924279, 239147.5654684467008337 -455250.7324544497532770)), ((239153.3093334180593956 -455243.9413285899790935, 239171.4514026749820914 -455213.9522939014132135, 239150.5529529604827985 -455216.0150104429339990, 239153.3093334180593956 -455243.9413285899790935)))
</A>
Input geom 1TopologyException: Input geom 1 is invalid: Self-intersection at 253040.04019362235 -449287.1781809699
 is INVALID: Self-intersection at or near point 253040.04019362235 -449287.1781809699 (253040.04019362234976 -449287.17818096990231)
<A>

In [11]:
m.save('statewide_shn_corridors.html')