In [2]:
%%capture
import warnings
warnings.filterwarnings('ignore')

import os
os.environ["CALITP_BQ_MAX_BYTES"] = str(800_000_000_000)
import shared_utils

from calitp.tables import tbl
from calitp import query_sql
import calitp.magics

from siuba import *
import pandas as pd
import geopandas as gpd

import datetime as dt

import importlib
import rt_analysis as rt
import rt_filter_map_plot

from IPython.display import display, Markdown, Latex, HTML
import json

from tqdm import tqdm_notebook
from tqdm.notebook import trange, tqdm

In [3]:
itp_id = 4 ## AC Transit

In [4]:
import numpy as np

In [5]:
date_range = np.arange('2022-04-30', '2022-05-09', dtype='datetime64[D]')

In [6]:
date_range

array(['2022-04-30', '2022-05-01', '2022-05-02', '2022-05-03',
       '2022-05-04', '2022-05-05', '2022-05-06', '2022-05-07',
       '2022-05-08'], dtype='datetime64[D]')

# Generate analysis data for all dates

In [6]:
pbar = tqdm()

0it [00:00, ?it/s]

In [1]:
# for date in date_range:
#     date = date.astype(dt.date)
#     try:
#         rt_analysis = rt.OperatorDayAnalysis(itp_id, date, pbar)
#         rt_analysis.export_views_gcs()
#         print(f'complete for date: {date}')
#     except:
#         print(f'failed for date: {date}')
#         continue

In [7]:
for date in date_range:
    date = date.astype(dt.date)
    try:
        rt_day = rt_filter_map_plot.from_gcs(itp_id, date)
        print(f'complete for date: {date}')
    except:
        print(f'failed for date: {date}')
        continue

found parquet
complete for date: 2022-04-30
found parquet
complete for date: 2022-05-01
found parquet
complete for date: 2022-05-02
found parquet
complete for date: 2022-05-03
found parquet
complete for date: 2022-05-04
found parquet
complete for date: 2022-05-05
found parquet
complete for date: 2022-05-06
found parquet
complete for date: 2022-05-07
found parquet
complete for date: 2022-05-08

In [8]:
rt_day.stop_delay_view

,shape_meters,stop_id,stop_name,geometry,shape_id,trip_key,trip_id,stop_sequence,arrival_time,route_id,route_short_name,direction_id,actual_time,delay_seconds
0,2066.302610,5334,Broadway & 40th St,POINT (-198382.029 -18668.936),shp-51A-55,3.161271e+18,12710010,7.000000,2022-05-08 21:33:00,51A,51A,0,2022-05-08 21:33:37.057316,37.0
1,2445.770014,2512,Broadway & W MacArthur Blvd,POINT (-198555.241 -19004.632),shp-51A-55,3.161271e+18,12710010,8.000000,2022-05-08 21:34:09,51A,51A,0,2022-05-08 21:35:05.559047,56.0
2,2588.059761,2474,Broadway & Mosswood Park,POINT (-198619.609 -19130.198),shp-51A-55,3.161271e+18,12710010,9.000000,2022-05-08 21:34:40,51A,51A,0,2022-05-08 21:35:23.937135,43.0
3,2894.551764,5335,Broadway & Hawthorne Av,POINT (-198761.555 -19400.361),shp-51A-55,3.161271e+18,12710010,10.000000,2022-05-08 21:35:43,51A,51A,0,2022-05-08 21:36:00.787031,17.0
4,3163.403519,5568,Broadway & 30th St,POINT (-198888.665 -19634.403),shp-51A-55,3.161271e+18,12710010,11.000000,2022-05-08 21:36:35,51A,51A,0,2022-05-08 21:36:32.701859,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,8000.000000,None,None,None,shp-212-57,NaN,3344010,18.333333,NaT,212,212,None,2022-05-08 11:18:30.893333,NaN
18,9000.000000,None,None,None,shp-212-57,NaN,3344010,18.666667,NaT,212,212,None,2022-05-08 11:20:51.012276,NaN
19,9232.133079,1413,Boscell Av & Braun Dr,POINT (-174335.952 -55359.186),shp-212-57,4.638913e+18,3344010,19.000000,2022-05-08 11:24:48,212,212,0,2022-05-08 11:21:19.000000,0.0
20,9557.451906,1395,Curie St & Boscell Av,POINT (-174094.835 -55500.857),shp-212-57,4.638913e+18,3344010,20.000000,2022-05-08 11:25:38,212,212,0,2022-05-08 11:22:41.929157,0.0
21,9791.776435,1396,Curie St & S Pacific Commons Blvd,POINT (-173932.010 -55335.348),shp-212-57,4.638913e+18,3344010,21.000000,2022-05-08 11:26:15,212,212,0,2022-05-08 11:23:14.946416,0.0

In [10]:
rt_day.stop_delay_view.dropna(subset=['stop_id']) >> head(3)

,shape_meters,stop_id,stop_name,geometry,shape_id,trip_key,trip_id,stop_sequence,arrival_time,route_id,route_short_name,direction_id,actual_time,delay_seconds
0,2066.302610,5334,Broadway & 40th St,POINT (-198382.029 -18668.936),shp-51A-55,3.161271e+18,12710010,7.0,2022-05-08 21:33:00,51A,51A,0,2022-05-08 21:33:37.057316,37.0
1,2445.770014,2512,Broadway & W MacArthur Blvd,POINT (-198555.241 -19004.632),shp-51A-55,3.161271e+18,12710010,8.0,2022-05-08 21:34:09,51A,51A,0,2022-05-08 21:35:05.559047,56.0
2,2588.059761,2474,Broadway & Mosswood Park,POINT (-198619.609 -19130.198),shp-51A-55,3.161271e+18,12710010,9.0,2022-05-08 21:34:40,51A,51A,0,2022-05-08 21:35:23.937135,43.0

In [15]:
corridor = gpd.read_file('./CMCP_StudyAreaBoundary.geojson').to_crs(shared_utils.geography_utils.CA_NAD83Albers)

In [17]:
to_clip = rt_day.stop_delay_view.drop_duplicates(subset=['shape_id', 'stop_sequence'])

In [49]:
shape_seqences = (rt_day.stop_delay_view >> distinct(_.shape_id, _.stop_sequence) >> arrange(_.shape_id, _.stop_sequence))

In [54]:
## ex. stop 7 is first within bounding box
(shape_seqences >> filter(_.shape_id == 'shp-10-09') >> filter(_.stop_sequence < 7)).stop_sequence.max()

6.0

In [55]:
## ex. stop 12 is last within bounding box
(shape_seqences >> filter(_.shape_id == 'shp-10-09') >> filter(_.stop_sequence > 12)).stop_sequence.min()

13.0

In [53]:
## no stop returns np.nan
(shape_seqences >> filter(_.shape_id == 'shp-10-09') >> filter(_.stop_sequence < 2)).stop_sequence.max()

nan