In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import decimal
import math

In [2]:
FOLDER = "../Bus_Stops/"
FILE_NAME = "ca_stops_revised.csv"
ca = pd.read_csv(f"{FOLDER}{FILE_NAME}")

# Keep route_type is 3 (bus stops) only
keep_row1 = [3]
ca1 = ca[ca.route_type.isin(keep_row1)]
#ca1.route_type.value_counts()

# Keep Agency for Stanislaus county only
keep_row2 = ['Stanislaus Regional Transit Authority']
ca2 = ca[ca.agency.isin(keep_row2)]
ca2.agency.value_counts()

# Keep useful columns only
keep_col = ['agency', 'stop_id', 'stop_name', 'x', 'y']
ca_stanislaus = ca2[keep_col]

ca_stanislaus = ca_stanislaus.rename(columns = {'x': 'lon', 'y': 'lat'})

# Change stop_id type from object to string
#ca_stanislaus = (ca_stanislaus.astype({'stop_name': str}))

# Check cleaned data
#ca_stanislaus.head()
#len(ca_stanislaus['stop_name'])
#ca_stanislaus.dtypes
#ca_stanislaus.info()
ca_stanislaus.shape
#ca_stanislaus.describe()
#list(ca_stanislaus.stop_name[0:5])

(114, 5)

In [3]:
ca_stanislaus_no_dup = ca_stanislaus.drop_duplicates(subset = ['lon', 'lat'], keep = 'first')
ca_stanislaus_no_dup.shape

(114, 5)

In [ ]:
#ca_stanislaus_no_dup.lon= ca_stanislaus_no_dup.lon.round(5)

In [ ]:
#ca_stanislaus_no_dup.lat= ca_stanislaus_no_dup.lat.round(5)

In [ ]:
#x = 3.56
#y = '%.3f'%x
#print(y)

In [ ]:
#x = 3.568
#y = "{:.5f}".format(x)
#print(y)

In [ ]:
#def truncate(f, n):
    #return math.floor(f * 10 ** n) / 10 ** n
#f=1.923328437452
#[truncate(f, n) for n in range(7)]
#[1.0, 1.9, 1.92, 1.923, 1.9233, 1.92332, 1.923328]
#https://stackoverflow.com/questions/29246455/python-setting-decimal-place-range-without-rounding

#y = truncate(3.568, 2)
#print(y)

In [ ]:
#x = 3.238
##x = float('%.6f'%(x))
#x = math.floor(x * 10 ** 2) / 10 ** 2
#print(x)

In [4]:
lo = []

for x in ca_stanislaus_no_dup.lon:
    #x = float('%.6f'%(x))
    x = math.floor((-x) * 10 ** 5) / 10 ** 5
    lo.append(x)

In [5]:
la = []

for y in ca_stanislaus_no_dup.lat:
    #y = float('%.6f'%(y))
    y = math.floor(y * 10 ** 5) / 10 ** 5
    la.append(y)

In [6]:
ca_stanislaus_no_dup5 = ca_stanislaus_no_dup.assign(lon_5=lo, lat_5=la)
ca_stanislaus_no_dup5.head()

,agency,stop_id,stop_name,lon,lat,lon_5,lat_5
4789,Stanislaus Regional Transit Authority,1302,Bay B - Modesto Transit Center - 1st exi,-121.000580,37.638838,121.00058,37.63883
4790,Stanislaus Regional Transit Authority,1063,Yosemite Blvd & Abbie St,-120.900167,37.638242,120.90016,37.63824
4791,Stanislaus Regional Transit Authority,1095,Yosemite Blvd & B St,-120.906452,37.638371,120.90645,37.63837
4792,Stanislaus Regional Transit Authority,1096,Yosemite Blvd & Del Monte Foods,-120.916614,37.638337,120.91661,37.63833
4793,Stanislaus Regional Transit Authority,1097,Yosemite Blvd & Yosemite Meadows Dr,-120.921583,37.638332,120.92158,37.63833

In [7]:
FILE_NAME = "Bus Stop Inventory Master List-2024.csv"
stanislaus = pd.read_csv(f"{FOLDER}{FILE_NAME}")
#stanislaus.head()
#stanislaus.info()

keep_col = ['Stop Name', 'Internet Label', 'Avail Label',  'City', 'GPS']
stanislaus_clean = stanislaus[keep_col]
stanislaus_clean.columns = stanislaus_clean.columns.str.strip().str.replace(' ', '_').str.lower()

#stanislaus_clean.head()
#stanislaus_clean['internet_label'] = Stanislaus_clean['internet_label'].astype(str)
#len(stanislaus_clean['internet_label'])
#stanislaus_clean.dtypes
stanislaus_clean.shape

(916, 5)

In [8]:
# drop na
stanislaus_clean = stanislaus_clean.dropna()
stanislaus_clean.shape

(908, 5)

In [9]:
stanislaus_clean_no_dup = stanislaus_clean.drop_duplicates(subset = 'gps', keep = 'first')
#stanislaus_clean_no_dup.shape
#len(stanislaus_clean_no_dup['internet_label'])
stanislaus_clean_no_dup.shape

(907, 5)

In [10]:
xy = stanislaus_clean_no_dup['gps'].str.split(", ", expand = True)
xy = xy.rename(columns = {0: 'lat', 1: 'lon'})
#xy.head()

In [11]:
xy = xy.dropna()

In [12]:
stanislaus_clean_no_dup_xy = pd.concat([stanislaus_clean_no_dup, xy], axis = 1)
#stanislaus_clean_no_dup_xy.head()

In [13]:
#convert string to float
stanislaus_clean_no_dup_xy = stanislaus_clean_no_dup_xy.astype({'lat': float, 'lon': float})

In [14]:
stanislaus_clean_no_dup_xy = stanislaus_clean_no_dup_xy.dropna()

In [ ]:
#stanislaus_clean_no_dup_xy.lon= stanislaus_clean_no_dup_xy.lon.round(5)

In [ ]:
#stanislaus_clean_no_dup_xy.lat= stanislaus_clean_no_dup_xy.lat.round(5)

In [15]:
lo = []

for x in stanislaus_clean_no_dup_xy.lon:
    #x = float('%.5f'%(x))
    x = math.floor((-x) * 10 ** 5) / 10 ** 5
    lo.append(x)

In [16]:
la = []

for y in stanislaus_clean_no_dup_xy.lat:
    #y = float('%.5f'%(y))
    y = math.floor(y * 10 ** 5) / 10 ** 5
    la.append(y)

In [17]:
stanislaus_clean_no_dup_xy5 = stanislaus_clean_no_dup_xy.assign(lon_5=lo, lat_5=la)
stanislaus_clean_no_dup_xy5.head()

,stop_name,internet_label,avail_label,city,gps,lat,lon,lon_5,lat_5
0,MODESTO TRANSIT CENTER,Modesto Transit Center,MOD DT TC,Modesto,"37.63911082289473, -121.0010539087333",37.639111,-121.001054,121.00105,37.63911
1,I WB 7TH FS,I St & 7th St,I WB 7TH FS,Modesto,"37.63714707558038, -121.00247038848869",37.637147,-121.002470,121.00247,37.63714
2,H WB 4TH FS,H St & 4th St,H WB 4TH FS,Modesto,"37.6339941715156, -121.00415709878014",37.633994,-121.004157,121.00415,37.63399
3,H WB 2ND FS,H St & 2nd St,H WB 2ND FS,Modesto,"37.63268837810617, -121.0058993294759",37.632688,-121.005899,121.00589,37.63268
4,PARADISE WB WASHINGTON FS,Modesto HS - Paradise Rd & Washington St,PARA WB WASH FS,Modesto,"37.63125887600638, -121.0077812652221",37.631259,-121.007781,121.00778,37.63125

In [18]:
FILE_NAME = "Turlock Transit - Bus Stop List with Accessibility Information.csv"
turlock = pd.read_csv(f"{FOLDER}{FILE_NAME}")

#turlock.info()

keep_col = ['Stop ID', 'Name (on system map)', 'On street', 'At street', 'Latitude', 'Longitude']
turlock1 = turlock[keep_col]
turlock_clean = turlock1.rename(columns = {'Stop ID': 'stop_id', 'Name (on system map)': 'name', 
                                           'On street': 'on_street', 'At street': 'at_street',
                                         'Latitude': 'lat', 'Longitude': 'lon' })


#turlock_clean = (turlock_clean.astype({'stop_id': str}))
turlock_clean['stop_id'] = turlock_clean['stop_id'].astype(str)

#turlock_clean.dtypes
#turlock_clean.head()
#len(turlock_clean['stop_id'])
#print(turlock_clean['stop_id'])
#list(turlock_clean.stop_id[0:5])
#turlock_clean["stop_id"].nunique()
turlock_clean.shape

(109, 6)

In [19]:
turlock_clean_no_dup = turlock_clean.drop_duplicates(subset = ['lat','lon'], keep = 'first')
#stanislaus_clean_no_dup.shape
#len(stanislaus_clean_no_dup['internet_label'])
turlock_clean_no_dup.shape

(109, 6)

In [ ]:
#turlock_clean_no_dup.lon= turlock_clean_no_dup.lon.round(5)

In [ ]:
#turlock_clean_no_dup.lat= turlock_clean_no_dup.lat.round(5)

In [20]:
lo = []

for x in turlock_clean_no_dup.lon:
    #x = float('%.5f'%(x))
    x = math.floor((-x) * 10 ** 5) / 10 ** 5
    lo.append(x)

In [21]:
la = []

for y in turlock_clean_no_dup.lat:
    y = float('%.5f'%(y))
    y = math.floor(y * 10 ** 5) / 10 ** 5
    la.append(y)

In [22]:
turlock_clean_no_dup5 = turlock_clean_no_dup.assign(lon_5=lo, lat_5=la)
turlock_clean_no_dup5.head()

,stop_id,name,on_street,at_street,lat,lon,lon_5,lat_5
0,120,Fulkerth & Countryside,Fulkerth Rd,Countryside Dr,37.507400,-120.873590,120.87359,37.50739
1,121,Countryside & Shetland,Countryside Dr,Shetland Way,37.511075,-120.876360,120.87636,37.51106
2,122,Countryside & Tuolumne,Countryside Dr,W Tuolumne Way,37.514886,-120.877782,120.87778,37.51489
3,123,Countryside & Monte Vista Crossing,Countryside Dr,Monte Vista Crossing,37.519480,-120.880660,120.88066,37.51948
4,124,Countryside & Monte Vista,Countryside Dr,W Monte Vista Avenue,37.521320,-120.881081,120.88108,37.52132

In [23]:
ca_stanislaus_no_dup5.shape

(114, 7)

In [24]:
stanislaus_clean_no_dup_xy5.shape

(906, 9)

In [25]:
turlock_clean_no_dup5.shape

(109, 8)

In [32]:
m1 = pd.merge(stanislaus_clean_no_dup_xy5, ca_stanislaus_no_dup5, on = ['lat_5','lon_5'],
    how = 'inner', validate = 'm:1')

In [33]:
m1.shape

(91, 14)

In [28]:
m2 = pd.merge(turlock_clean_no_dup5, ca_stanislaus_no_dup5, on = ['lat_5','lon_5'],
    how = 'inner', validate = 'm:1')

In [29]:
m2.shape

(0, 13)

In [30]:
m3 = pd.merge(stanislaus_clean_no_dup_xy5, turlock_clean_no_dup5, on = ['lat_5','lon_5'],
    how = 'inner', validate = 'm:1')

In [31]:
m3.shape

(0, 15)