In [1]:
import os
os.environ["CALITP_BQ_MAX_BYTES"] = str(800_000_000_000)

import branca
import folium
from shared_utils import gtfs_utils_v2
from segment_speed_utils import (helpers, 
                                 gtfs_schedule_wrangling, 
                                )

import pandas as pd
import geopandas as gpd 

import datetime as dt
import time
import fsspec
import gcsfs
from calitp_data_analysis import get_fs
fs = get_fs()
import tempfile

In [38]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

In [2]:
#Setting analysis date
analysis_dt = dt.date(2025,6,2)

In [3]:
# #Function to fetch feeds, trips, stoptimes and stops_geo data from warehouse v2
# def get_feeds_trips_stops_data(selected_date):
    
#     trip_cols = ["name", "gtfs_dataset_key", "feed_key", "trip_id", "route_id", "route_type", "route_key", 
#                  "num_stop_times", "direction_id", "trip_first_departure_sec", "trip_first_departure_ts", 
#                  "trip_last_arrival_sec", "trip_start_timezone", "trip_instance_key", "service_hours", "trip_first_departure_datetime_pacific"]
#     stoptimes_cols = ["key", "_gtfs_key", "feed_key", "trip_id", "stop_id", "stop_sequence", "arrival_time", "departure_time",
#        "arrival_time_interval", "departure_time_interval", "arrival_hour", "departure_hour"]
#     stop_cols = ["feed_key", "stop_id", "geometry", "stop_name", "stop_code", "location_type", "stop_desc"]
    
#     feed_data = gtfs_utils_v2.schedule_daily_feed_to_gtfs_dataset_name(selected_date=selected_date)
    
    
#     feed_key_list = feed_data['feed_key'].tolist()
    
#     trips_data_list = []
#     stoptimes_data_list = []
#     stop_locations_gdf = gpd.GeoDataFrame()
#     for feed_key in feed_key_list:
#         try:
#             trips = gtfs_utils_v2.get_trips(selected_date=selected_date, operator_feeds=[feed_key])[trip_cols]
#             trips_data_list.append(trips)

#             stoptimes = gtfs_utils_v2.get_stop_times(selected_date=selected_date, operator_feeds=[feed_key], 
#                                                     trip_df=trips, get_df=True)[stoptimes_cols]
#             stoptimes_data_list.append(stoptimes)

#             stops_gdf = gtfs_utils_v2.get_stops(selected_date=selected_date, operator_feeds=[feed_key])[stop_cols]
#             stop_locations_gdf = pd.concat([stop_locations_gdf, stops_gdf], ignore_index=True)
#         except:
#             print('Skipping a row')
    
#     trips_data = pd.concat(trips_data_list, ignore_index=True)
#     stoptimes_data = pd.concat(stoptimes_data_list, ignore_index=True)
    
#     return feed_data, trips_data, stoptimes_data, stop_locations_gdf

In [4]:
# feed_data, trips_data, stoptimes_data, stop_locations_gdf = get_feeds_trips_stops_data(analysis_dt)

In [5]:
GCS_FILE_PATH  = 'gs://calitp-analytics-data/data-analyses/ahsc_grant'

Exporting data to GCS for reuse, minimizing repeated warehouse queries.

In [6]:
# trips_data.to_parquet(f"{GCS_FILE_PATH}/trips_06_02_2025.parquet")
# stoptimes_data.to_csv(f"{GCS_FILE_PATH}/stoptimes_06_02_2025.csv")
# feed_data.to_parquet(f"{GCS_FILE_PATH}/feed_06_02_2025.parquet")
# with fsspec.open(f"{GCS_FILE_PATH}/stop_locations_06_02_2025.parquet", 'wb') as f:
#     stop_locations_gdf.to_parquet(f)

Reading stoptimes, trips, feed and stop locations data

In [7]:
stoptimes_data = pd.read_csv(f"{GCS_FILE_PATH}/stoptimes_06_02_2025.csv")

/tmp/ipykernel_1695/658927763.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  stoptimes_data = pd.read_csv(f"{GCS_FILE_PATH}/stoptimes_06_02_2025.csv")

In [8]:
trips_data = pd.read_parquet(f"{GCS_FILE_PATH}/trips_06_02_2025.parquet")

In [9]:
feed_data = pd.read_parquet(f"{GCS_FILE_PATH}/feed_06_02_2025.parquet")

In [10]:
with fs.open(f"{GCS_FILE_PATH}/stop_locations_06_02_2025.parquet", 'rb') as f:
    stop_locations_gdf = gpd.read_parquet(f)

In [11]:
# Retaining California based stops only 
# Loading California county boundaries GeoJSON data from ArcGIS REST service
CA_URL = "https://services1.arcgis.com/jUJYIo9tSA7EHvfZ/arcgis/rest/services/California_County_Boundaries/FeatureServer/0/query?outFields=*&where=1%3D1&f=geojson"
CA_county = gpd.read_file(CA_URL)

In [12]:
CA_county = CA_county.to_crs(stop_locations_gdf.crs)

In [13]:
# Spatially joining stop locations with California county boundaries to keep stops within CA
stop_locations_gdf_ca = gpd.sjoin(
    stop_locations_gdf,  
    CA_county,                    
    how='inner',
    predicate='intersects'
)

In [14]:
stop_locations_gdf_ca.shape

(84082, 18)

In [15]:
len(stop_locations_gdf)

85773

In [28]:
stoptimes_data.sample()

,Unnamed: 0,key,_gtfs_key,feed_key,trip_id,stop_id,stop_sequence,arrival_time,departure_time,arrival_time_interval,departure_time_interval,arrival_hour,departure_hour
2300052,2300052,87fd44a98781b99ef47db3a239bb7a57,e4bc83aafea08458d0b96c5c7d03d0a0,bcbaf48b76d91fc8f19b728ef8d257e7,200736,6864,3,13:17:00,13:17:00,"MonthDayNano(months=0, days=0, nanoseconds=478...","MonthDayNano(months=0, days=0, nanoseconds=478...",13.0,13.0

In [29]:
len(stoptimes_data)

3565708

In [16]:
stoptimesdata_california = pd.merge(
    stoptimes_data,
    stop_locations_gdf_ca[['feed_key', 'stop_id', 'stop_name', 'location_type', 'stop_desc', 'geometry']],
    on=['feed_key', 'stop_id'],
    how='inner'
)

In [17]:
stoptimesdata_california.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1126889 entries, 0 to 1126888
Data columns (total 17 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Unnamed: 0               1126889 non-null  int64
 1   key                      1126889 non-null  object
 2   _gtfs_key                1126889 non-null  object
 3   feed_key                 1126889 non-null  object
 4   trip_id                  1126889 non-null  object
 5   stop_id                  1126889 non-null  object
 6   stop_sequence            1126889 non-null  int64
 7   arrival_time             1061034 non-null  object
 8   departure_time           1061034 non-null  object
 9   arrival_time_interval    1061034 non-null  object
 10  departure_time_interval  1061034 non-null  object
 11  arrival_hour             1061034 non-null  float64
 12  departure_hour           1061034 non-null  float64
 13  stop_name                1126889 non-null  object
 14  location_type            619264 non-null   float64
 15  stop_desc                159828 non-null   object
 16  geometry                 1126889 non-null  geometry
dtypes: float64(3), geometry(1), int64(2), object(11)
memory usage: 154.8+ MB

In [18]:
trips_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162083 entries, 0 to 162082
Data columns (total 16 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   name                                   162083 non-null  object
 1   gtfs_dataset_key                       162083 non-null  object
 2   feed_key                               162083 non-null  object
 3   trip_id                                162083 non-null  object
 4   route_id                               162083 non-null  object
 5   route_type                             162083 non-null  object
 6   route_key                              162083 non-null  object
 7   num_stop_times                         162083 non-null  int64
 8   direction_id                           94257 non-null   float64
 9   trip_first_departure_sec               162082 non-null  float64
 10  trip_first_departure_ts                162082 non-null  datetime64[ns, UTC]
 11  trip_last_arrival_sec                  162082 non-null  float64
 12  trip_start_timezone                    162083 non-null  object
 13  trip_instance_key                      162083 non-null  object
 14  service_hours                          162082 non-null  float64
 15  trip_first_departure_datetime_pacific  162082 non-null  datetime64[ns]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(4), int64(1), object(9)
memory usage: 19.8+ MB

In [19]:
trips_data_cleaned = trips_data.drop_duplicates() # Dropping duplicates

In [20]:
trips_data_cleaned.shape

(162072, 16)

In [21]:
trips_data.shape

(162083, 16)

**You have two dataframes with the same name `stop_trip_merged`.**

In [22]:
#Merging stop data with trip data on trip id and feed key.
stop_trip_merged = pd.merge(stoptimesdata_california,
                            trips_data_cleaned,
                            on = ['trip_id', 'feed_key'],
                            how = 'left')

In [34]:
len(stoptimesdata_california)

1126889

In [33]:
len(trips_data_cleaned)

162072

In [23]:
# Adding peak/off-peak labels to trip instances based on scheduled time buckets for the given analysis date
sched_time_of_day = gtfs_schedule_wrangling.get_trip_time_buckets(
    analysis_dt
).pipe(
    gtfs_schedule_wrangling.add_peak_offpeak_column
)[["trip_instance_key", "peak_offpeak"]]

In [35]:
sched_time_of_day.head(2)

                  trip_instance_key peak_offpeak
0  5abb89287ff7b1add12e46236f7a8178      offpeak
1  d6aef57fcc7b4f410837edeaecfc5d1b      offpeak

In [24]:
#Merging scheduled time of the data 
stop_trip_merged = pd.merge(
    stop_trip_merged,
    sched_time_of_day,
    on='trip_instance_key',
    how='left'
)

In [27]:
len(stop_trip_merged)

2352596

In [25]:
# Counting unique trips per stop and renaming column to 'num_trips'
num_trips_per_stop = stop_trip_merged.groupby('stop_id')['trip_instance_key'].nunique().reset_index().rename(columns={'trip_instance_key':'num_trips'})

In [26]:
num_trips_per_stop.shape

(28350, 2)

In [30]:
# Counting unique routes per stop and renaming column to 'num_routes'
num_routes_per_stop = stop_trip_merged.groupby('stop_id')['route_id'].nunique().reset_index().rename(columns={'route_id':'num_routes'})

In [31]:
num_routes_per_stop.shape

(28350, 2)

In [36]:
# Filtering stop-trip data to include only peak period trips
peak_stop_times = stop_trip_merged[stop_trip_merged['peak_offpeak'] == 'peak'].copy()

In [41]:
peak_stop_times.head().T

,0,2,6,8,9
Unnamed: 0,0,173,1785,1986,2235
key,5161caf10ab1cd54000d20147a5bb66a,4cb80d93e5790b7c0246acd89a7bfc08,b21b5e64a6a2ed89c31523343b3d0ad6,7395c81be4d637212ffa98cafb61ec20,6b2a3626f14531a0620c7cb26416cd4c
_gtfs_key,321223a0cbd2c6d8c8f9700229ed2807,25cdaf053be6127c3ef8238c68910fca,1703d5e5b26e0e8447545adce351ca1c,436b22eea993582599d27fe23ca9189f,224a9ccf8ba8a99544414a090aa3a8e5
feed_key,ace4e22d6f2c299c36eba89ccb650b1b,ace4e22d6f2c299c36eba89ccb650b1b,ace4e22d6f2c299c36eba89ccb650b1b,ace4e22d6f2c299c36eba89ccb650b1b,ace4e22d6f2c299c36eba89ccb650b1b
trip_id,28026b4c-26f6-441e-a2b5-8f404a9ee35f:3,2e9917cd-ae99-459e-ba91-ae9017aa0966:3,b2cb9510-dc79-495e-ab5e-3b8be6c10144:1,2636f5e8-b0aa-433d-8399-28d2d05dfe1a:1,b2cb9510-dc79-495e-ab5e-3b8be6c10144:2
stop_id,8e75858c-2558-497a-8fd0-cb98973bc4bb,8e75858c-2558-497a-8fd0-cb98973bc4bb,8e75858c-2558-497a-8fd0-cb98973bc4bb,8e75858c-2558-497a-8fd0-cb98973bc4bb,8e75858c-2558-497a-8fd0-cb98973bc4bb
stop_sequence,8,8,8,8,8
arrival_time,08:32:00,17:42:00,09:22:00,18:32:00,10:02:00
departure_time,08:32:00,17:42:00,09:22:00,18:32:00,10:02:00
arrival_time_interval,"relativedelta(hours=+8, minutes=+32)","relativedelta(hours=+17, minutes=+42)","relativedelta(hours=+9, minutes=+22)","relativedelta(hours=+18, minutes=+32)","relativedelta(hours=+10, minutes=+2)"
departure_time_interval,"relativedelta(hours=+8, minutes=+32)","relativedelta(hours=+17, minutes=+42)","relativedelta(hours=+9, minutes=+22)","relativedelta(hours=+18, minutes=+32)","relativedelta(hours=+10, minutes=+2)"
arrival_hour,8.00,17.00,9.00,18.00,10.00
departure_hour,8.00,17.00,9.00,18.00,10.00
stop_name,Bardsley & Mooney EB,Bardsley & Mooney EB,Bardsley & Mooney EB,Bardsley & Mooney EB,Bardsley & Mooney EB
location_type,0.00,0.00,0.00,0.00,0.00
stop_desc,CVS / Subway / Starbucks / Taco Bell,CVS / Subway / Starbucks / Taco Bell,CVS / Subway / Starbucks / Taco Bell,CVS / Subway / Starbucks / Taco Bell,CVS / Subway / Starbucks / Taco Bell
geometry,POINT (-119.313836 36.196597),POINT (-119.313836 36.196597),POINT (-119.313836 36.196597),POINT (-119.313836 36.196597),POINT (-119.313836 36.196597)
name,TCRTA TripShot Schedule,TCRTA TripShot Schedule,TCRTA TripShot Schedule,TCRTA TripShot Schedule,TCRTA TripShot Schedule
gtfs_dataset_key,0139b1253130b33adcd4b3a4490530d2,0139b1253130b33adcd4b3a4490530d2,0139b1253130b33adcd4b3a4490530d2,0139b1253130b33adcd4b3a4490530d2,0139b1253130b33adcd4b3a4490530d2
route_id,T2,T2,T2,T2,T2
route_type,3,3,3,3,3
route_key,2129fed1bdd74b3b2d959b145875d46b,2129fed1bdd74b3b2d959b145875d46b,2129fed1bdd74b3b2d959b145875d46b,2129fed1bdd74b3b2d959b145875d46b,2129fed1bdd74b3b2d959b145875d46b
num_stop_times,18,18,19,19,18
direction_id,NaN,NaN,NaN,NaN,NaN
trip_first_departure_sec,30000.00,63000.00,33000.00,66000.00,35400.00
trip_first_departure_ts,2025-06-02 15:20:00+00:00,2025-06-03 00:30:00+00:00,2025-06-02 16:10:00+00:00,2025-06-03 01:20:00+00:00,2025-06-02 16:50:00+00:00
trip_last_arrival_sec,31680.00,64680.00,35400.00,68400.00,37080.00
trip_start_timezone,America/Los_Angeles,America/Los_Angeles,America/Los_Angeles,America/Los_Angeles,America/Los_Angeles
trip_instance_key,9c9641ab60e3228c6a686a1fd90aa53b,857cbb1bb1da88d08bb9be4749c6e577,a3eabfd91ed46d6aaead79650ebffa7e,c5e9ac7a6f89796afc01e5027cb5ae82,043c074d83afa13c12141b033837878a
service_hours,0.47,0.47,0.67,0.67,0.47
trip_first_departure_datetime_pacific,2025-06-02 08:20:00,2025-06-02 17:30:00,2025-06-02 09:10:00,2025-06-02 18:20:00,2025-06-02 09:50:00
peak_offpeak,peak,peak,peak,peak,peak

In [40]:
#Filter for peak + arrival before 9 AM
am_peak_stop_trip = peak_stop_times[peak_stop_times['arrival_hour'] < 9].copy()

#Assign time_of_day manually
am_peak_stop_trip['time_of_day'] = 'AM Peak'

In [42]:
group_cols = ['feed_key','stop_id', 'route_id', 'direction_id']

In [43]:
stop_route_summary = gtfs_schedule_wrangling.aggregate_time_of_day_to_peak_offpeak(
    df=am_peak_stop_trip,
    group_cols=group_cols,
    long_or_wide='wide'
)

In [44]:
stop_route_summary.head()

,feed_key,stop_id,route_id,direction_id,all_day_n_trips,peak_n_trips,all_day_frequency,peak_frequency
0,058a3b43698f803c8686f7e72a9efd4c,121914,11796,1.00,1.00,1.00,0.04,0.12
1,058a3b43698f803c8686f7e72a9efd4c,121915,11792,1.00,1.00,1.00,0.04,0.12
2,058a3b43698f803c8686f7e72a9efd4c,121916,11792,1.00,1.00,1.00,0.04,0.12
3,058a3b43698f803c8686f7e72a9efd4c,121917,11792,1.00,1.00,1.00,0.04,0.12
4,058a3b43698f803c8686f7e72a9efd4c,121919,11795,1.00,2.00,2.00,0.08,0.25

In [45]:
stop_route_summary['peak_headway'] = 60 / stop_route_summary['peak_frequency']

In [46]:
stop_route_summary.head(5)

,feed_key,stop_id,route_id,direction_id,all_day_n_trips,peak_n_trips,all_day_frequency,peak_frequency,peak_headway
0,058a3b43698f803c8686f7e72a9efd4c,121914,11796,1.00,1.00,1.00,0.04,0.12,500.00
1,058a3b43698f803c8686f7e72a9efd4c,121915,11792,1.00,1.00,1.00,0.04,0.12,500.00
2,058a3b43698f803c8686f7e72a9efd4c,121916,11792,1.00,1.00,1.00,0.04,0.12,500.00
3,058a3b43698f803c8686f7e72a9efd4c,121917,11792,1.00,1.00,1.00,0.04,0.12,500.00
4,058a3b43698f803c8686f7e72a9efd4c,121919,11795,1.00,2.00,2.00,0.08,0.25,240.00

In [48]:
# Calculating average AM peak headway (minutes) for each stop
headways_per_stop = (
 stop_route_summary
  .groupby('stop_id')['peak_headway']
.mean()  
.reset_index()
)

In [49]:
headways_per_stop.head()

  stop_id  peak_headway
0       0        500.00
1    0002        413.33
2    0003        370.00
3    0004        435.00
4    0005        240.00

In [ ]:
# # Saving geojson file
# with tempfile.NamedTemporaryFile(suffix=".geojson") as tmp:
#     stop_summary_final.to_file(tmp.name, driver="GeoJSON")


#     with fsspec.open(f"{GCS_FILE_PATH}/stop_summary.geojson", 'w') as f_out:
#         with open(tmp.name, 'r') as f_in:
#             f_out.write(f_in.read())