In [1]:
import os
os.environ["CALITP_BQ_MAX_BYTES"] = str(1_000_000_000_000) ## 1TB?

In [2]:
import shared_utils
import pandas as pd
from siuba import *

/opt/conda/lib/python3.10/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.

In [3]:
shared_utils.gtfs_utils.get_trips?

Signature:
shared_utils.gtfs_utils.get_trips(
    selected_date: str | datetime.date = datetime.date(2022, 10, 16),
    itp_id_list: list[int] = None,
    trip_cols: list[str] = None,
    get_df: bool = True,
    custom_filtering: dict = None,
) -> pandas.core.frame.DataFrame | siuba.sql.verbs.LazyTbl
Docstring: <no docstring>
File:      ~/data-analyses/_shared_utils/shared_utils/gtfs_utils.py
Type:      function

In [4]:
bbb_trips = shared_utils.gtfs_utils.get_trips(itp_id_list=[300])

In [6]:
bbb_trips >> head(3)

,feed_key,trip_key,trip_id,route_id,calitp_itp_id,calitp_url_number,service_id,service_date,service_indicator,service_start_date,...,trip_headsign,calitp_extracted_at,calitp_deleted_at,wheelchair_accessible,calitp_hash,trip_short_name,bikes_allowed,block_id,direction_id,shape_id
0,1103410659291522770,801654034891187727,885772,3506,300,0,2,2022-10-16,1,2022-08-14,...,Aviation Sta/LAX,2022-09-01,2099-01-01,0,LJtmMocYCXA+nMx5W4qhpA==,None,0,None,1,25982
1,1103410659291522770,-8057441158944887656,886659,3512,300,0,2,2022-10-16,1,2022-08-14,...,Downtown SM,2022-09-01,2099-01-01,0,GAYQrXucQnaLATTG5RZ1xQ==,None,0,None,1,26001
2,1103410659291522770,7442627621979256428,885738,3506,300,0,2,2022-10-16,1,2022-08-14,...,Downtown SM,2022-09-01,2099-01-01,0,ELaFdfZYJdqOmmfA5oQXiQ==,None,0,None,0,25981

In [7]:
bbb_routes = shared_utils.gtfs_utils.get_route_info(itp_id_list=[300])

In [8]:
bbb_routes >> head(3)

,feed_key,route_key,date,route_short_name,route_long_name,calitp_deleted_at,agency_name,route_color,agency_lang,agency_timezone,...,route_url,calitp_itp_id,route_continuous_drop_off,calitp_extracted_at,agency_fare_url,calitp_url_number,route_sort_order,route_text_color,agency_email,agency_id
0,1103410659291522770,-6395929695600786447,2022-10-16,9,Pacific Palisades,2099-01-01,Big Blue Bus,EB4498,en,America/Los_Angeles,...,http://bigbluebus.com/Routes-and-Schedules/Rou...,300,None,2022-07-18,None,0,None,000000,None,6216179
1,1103410659291522770,2548226874833954474,2022-10-16,R7,Pico Blvd Rapid,2099-01-01,Big Blue Bus,F5866C,en,America/Los_Angeles,...,http://bigbluebus.com/Routes-and-Schedules/Rap...,300,None,2022-07-18,None,0,None,000000,None,6216179
2,1103410659291522770,-8514055961334903631,2022-10-16,7,Pico Blvd,2099-01-01,Big Blue Bus,9397CB,en,America/Los_Angeles,...,http://bigbluebus.com/Routes-and-Schedules/Rou...,300,None,2022-07-18,None,0,None,000000,None,6216179