In [1]:
pip install shared_utils

Requirement already satisfied: shared_utils in /home/jovyan/data-analyses/_shared_utils (2.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
os.environ["CALITP_BQ_MAX_BYTES"] = str(800_000_000_000)

import shared_utils

from siuba import *
import pandas as pd
import geopandas as gpd

pd.set_option('display.max_columns', None)

In [3]:
GCS_FILE_PATH = 'gs://calitp-analytics-data/data-analyses/ahsc_grant/'

In [4]:
# start with trips per stop and ridership
stoptrips = gpd.read_parquet(f"{GCS_FILE_PATH}tbl1_trips_perstop_07_08_2024.parquet")
stoptrips >> head (5)

,name,location_type,route_type,stop_name,stop_id,stop_code,geometry,n_trips_weekday,n_trips_saturday,n_trips_sunday,n_routes_weekday,n_routes_saturday,n_routes_sunday,stop_desc
95,Monterey Salinas Schedule,0.0,3,Del Monte Center / Gate 1,0002,0002,POINT (-121.89736 36.58461),38.0,30.0,26.0,7.0,5.0,5.0,None
96,Monterey Salinas Schedule,0.0,3,Del Monte Center / Gate 2,0003,0003,POINT (-121.89728 36.58473),31.0,27.0,23.0,6.0,5.0,4.0,None
97,Monterey Salinas Schedule,0.0,3,Del Monte Center / Gate 3,0004,0004,POINT (-121.89893 36.58445),25.0,12.0,11.0,5.0,3.0,2.0,None
98,Monterey Salinas Schedule,0.0,3,6th / Mission Street,0006,0006,POINT (-121.92076 36.55564),91.0,86.0,77.0,6.0,6.0,6.0,None
99,Monterey Salinas Schedule,0.0,3,Northridge Mall,0011,0011,POINT (-121.65803 36.71563),142.0,136.0,132.0,6.0,7.0,7.0,None

In [5]:
ridership_metro = gpd.read_parquet(f"{GCS_FILE_PATH}ridership_metro_08_26_2024.parquet")
ridership_metro >> head(5)

,feed_key,stop_id,stop_name,geometry,STOP_NAME,sat_ons,sun_ons,weekday_ons,name
0,06d1f3ac2b0ae5e74424edbbfefa19ed,12591,LA Zoo,POINT (158199.490 -428414.858),LA ZOO,857.679453,381.190868,2775.546009,LA Metro Bus Schedule
1,06d1f3ac2b0ae5e74424edbbfefa19ed,5377,1st / Hill,POINT (161833.578 -438634.619),1ST / HILL,14914.092717,11531.023762,159742.798188,LA Metro Bus Schedule
2,06d1f3ac2b0ae5e74424edbbfefa19ed,15612,1st / Hill,POINT (161849.863 -438611.462),1ST / HILL,4800.622496,3383.068955,43551.056687,LA Metro Bus Schedule
3,06d1f3ac2b0ae5e74424edbbfefa19ed,1217,6th / Wall,POINT (161822.154 -439849.592),6TH / WALL,3502.191101,3061.439160,24682.108713,LA Metro Bus Schedule
4,06d1f3ac2b0ae5e74424edbbfefa19ed,7376,7th / Alma,POINT (157649.168 -473829.124),7TH / ALMA,0.000000,35.736644,559.874088,LA Metro Bus Schedule

In [6]:
ridership_sbmtd = gpd.read_parquet(f"{GCS_FILE_PATH}ridership_sbmtd_08_26_2024.parquet")
ridership_sbmtd >> head(5)

,feed_key,stop_id,stop_name,geometry,sat_ons,sun_ons,weekday_ons,name
0,52201caab047b98ae19b7547c0d7c2ad,1,Modoc & Portesuello,POINT (25170.737 -398993.625),1573.0,1287.0,13964.0,SBMTD Schedule
1,52201caab047b98ae19b7547c0d7c2ad,2,Milpas & Montecito,POINT (29196.552 -399052.308),3901.0,3139.0,30225.0,SBMTD Schedule
2,52201caab047b98ae19b7547c0d7c2ad,4,Cathedral Oaks & Camino Del Rio,POINT (20247.563 -395908.292),NaN,NaN,1.0,SBMTD Schedule
3,52201caab047b98ae19b7547c0d7c2ad,5,Via Real & Sandpiper MHP,POINT (42143.060 -400995.911),217.0,109.0,1485.0,SBMTD Schedule
4,52201caab047b98ae19b7547c0d7c2ad,6,UCSB Elings Hall Outbound,POINT (14738.802 -400125.683),1374.0,1199.0,9777.0,SBMTD Schedule

In [7]:
ridership_mst = gpd.read_parquet(f"{GCS_FILE_PATH}ridership_mst_08_26_2024.parquet")
ridership_mst >> head(5)

,feed_key,stop_id,stop_name,geometry,sat_ons,sun_ons,weekday_ons,name
0,efb3d4ea58f58d541e2c452e253bec5d,1001,Fremont / Hilby Avenue,POINT (-165123.570 -155506.782),112.0,58.0,753.0,Monterey Salinas Schedule
1,efb3d4ea58f58d541e2c452e253bec5d,1004,Fremont / Trinity Avenue,POINT (-165043.149 -155309.483),672.0,754.0,8534.0,Monterey Salinas Schedule
2,efb3d4ea58f58d541e2c452e253bec5d,1007,Fremont / Elm Avenue,POINT (-164902.027 -154954.295),112.0,58.0,753.0,Monterey Salinas Schedule
3,efb3d4ea58f58d541e2c452e253bec5d,1010,Fremont / Broadway,POINT (-164827.944 -154788.329),224.0,232.0,1757.0,Monterey Salinas Schedule
4,efb3d4ea58f58d541e2c452e253bec5d,1016,Fremont / Echo,POINT (-164607.221 -154335.862),112.0,116.0,1004.0,Monterey Salinas Schedule

In [8]:
# contatenate gdfs, keeping common columns
ridership_all = pd.concat([ridership_metro,ridership_sbmtd,ridership_mst], join='inner', ignore_index="True")
ridership_all.sample(5)

,feed_key,stop_id,stop_name,geometry,sat_ons,sun_ons,weekday_ons,name
4972,06d1f3ac2b0ae5e74424edbbfefa19ed,7963,Slauson / 6th,POINT (154927.260 -446021.786),714.732878,512.225229,7326.011997,LA Metro Bus Schedule
1565,06d1f3ac2b0ae5e74424edbbfefa19ed,17352,Rosecrans / Vermont,POINT (157953.951 -455609.191),833.855024,690.908449,8838.863255,LA Metro Bus Schedule
11927,06d1f3ac2b0ae5e74424edbbfefa19ed,8666,Agoura / Lakeview Canyon,POINT (108860.167 -429061.804),83.385502,11.912215,702.820663,LA Metro Bus Schedule
10819,06d1f3ac2b0ae5e74424edbbfefa19ed,16626,Whittier / Keenan,POINT (171283.010 -442487.956),1095.923746,869.591668,6015.668388,LA Metro Bus Schedule
3644,06d1f3ac2b0ae5e74424edbbfefa19ed,10577,Foothill / Home Depot,POINT (145681.002 -412215.403),154.858790,154.858790,1774.919980,LA Metro Bus Schedule

In [9]:
len(ridership_all)

13516

In [10]:
len(stoptrips)

13730

In [11]:
ridership_all = ridership_all.drop(columns=['feed_key'])

In [12]:
# join together, keep buses, create total trips per weekday
trips_ridership_joined = (stoptrips
                          >> left_join(_,ridership_all, 
                                       on = ['name', 'stop_name', 'stop_id'])
                          )

In [13]:
columns_to_check = ['weekday_ons', 'sat_ons', 'sun_ons']

In [14]:
trips_ridership_joined_all_na = trips_ridership_joined[
    trips_ridership_joined[columns_to_check].isna().all(axis=1)
]

In [15]:
trips_ridership_joined_all_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 0 to 13871
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               364 non-null    object
 1   location_type      208 non-null    float64
 2   route_type         364 non-null    object
 3   stop_name          364 non-null    object
 4   stop_id            364 non-null    object
 5   stop_code          364 non-null    object
 6   geometry_x         364 non-null    geometry
 7   n_trips_weekday    344 non-null    float64
 8   n_trips_saturday   296 non-null    float64
 9   n_trips_sunday     292 non-null    float64
 10  n_routes_weekday   344 non-null    float64
 11  n_routes_saturday  296 non-null    float64
 12  n_routes_sunday    292 non-null    float64
 13  stop_desc          0 non-null      object
 14  geometry_y         0 non-null      geometry
 15  sat_ons            0 non-null      float64
 16  sun_ons            0 non-null      float64
 17  weekday_ons        0 non-null      float64
dtypes: float64(10), geometry(2), object(6)
memory usage: 54.0+ KB

In [17]:
trips_ridership_joined.to_excel('trips_ridership_joined_all.xlsx', index=False)

In [16]:
trips_ridership_joined_all_na.to_excel('trips_ridership_joined_all_na.xlsx', index=False)

In [46]:
trips_ridership_joined_filtered = trips_ridership_joined[
    trips_ridership_joined[['weekday_ons', 'sat_ons', 'sun_ons']].isna().all(axis=1)
]

In [47]:
trips_ridership_joined_filtered.name.unique()

array(['Monterey Salinas Schedule', 'SBMTD Schedule',
       'LA Metro Bus Schedule'], dtype=object)

In [36]:
len(trips_ridership_joined)

13730

In [13]:
# add .25mi (10min walk) buffers to stops
# this replaces our point geometry with polygons
trips_ridership_joined.geometry = trips_ridership_joined.buffer(402.336)

array(['Monterey Salinas Schedule', 'LA Metro Bus Schedule',
       'SBMTD Schedule'], dtype=object)