In [1]:
import os
os.environ["CALITP_BQ_MAX_BYTES"] = str(1_000_000_000_000) ## 1TB?

from calitp.tables import tbl
from calitp import query_sql

import pandas as pd
import geopandas as gpd
from siuba import *

import shared_utils

/opt/conda/lib/python3.10/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

# Read In / Transform SB MTD Ridership Data

In [2]:
GCS_FILE_PATH = 'gs://calitp-analytics-data/data-analyses/ahsc_grant/'

In [3]:
# reads in multiple sheets as a dictionary
yr_sbmtd_raw = pd.read_excel(f'{GCS_FILE_PATH}SYSTEM WIDE STOP USAGE FY21-22.xlsx', sheet_name=None)

In [4]:
# add sheet names (keys) as column names, then concatenate

for key, value in yr_sbmtd_raw.items():
    value['daytype'] = f'{key}'

    
list(yr_sbmtd_raw.values()) [0]['daytype']

0       WKDY
1       WKDY
2       WKDY
3       WKDY
4       WKDY
        ...
2210    WKDY
2211    WKDY
2212    WKDY
2213    WKDY
2214    WKDY
Name: daytype, Length: 2215, dtype: object

In [14]:
yr_sbmtd_all = pd.concat(yr_sbmtd_raw, ignore_index=True)

yr_sbmtd_all

,ROUTE_NUMBER,ROUTE_NAME,DIRECTION_NAME,ROUTE_DIRECTION,STOP_NAME,STOP_ID,STOP_ID_NEAR,XBOARDINGS,XALIGHTINGS,XWHEELCHAIRS,XBICYCLES,XTRIPS,daytype
0,2,2: Eastside,EAST SB,2E,NaN,99999,4,41,1,-5,0,18,WKDY
1,2,2: Eastside,EAST SB,2E,NaN,99999,7,94,15,-43,0,86,WKDY
2,3,3: Oak Park,DOWNTOWN SB,3D,Treasure/Calle Real,406,406,445,434,-1,0,4349,WKDY
3,5,5: Mesa/La Cumbre,DOWNTOWN SB,5D,Transit Center,4,4,9,8833,-1412,0,2956,WKDY
4,5,5: Mesa/La Cumbre,DOWNTOWN SB,5D,La Cumbre Plaza/Plaza Ave,364,364,1453,64,-14,0,1999,WKDY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4420,24,24X: UCSB Express,CAMINO REAL MKT,24C,TC,100222,100222,0,0,0,0,900,SUN
4421,25,25: Ellwood,CAMINO REAL MKT,25C,Hollister/Storke,-15,-15,0,497,-13,0,409,SUN
4422,25,25: Ellwood,WINCHESTER CYN,25W,NaN,99999,143,17,19,-3,0,19,SUN
4423,28,28: UCSB Shuttle,UCSB,28U,UCSB North Hall Outbound,42,42,4,2646,-61,0,569,SUN
4424,28,28: UCSB Shuttle,UCSB,28U,SaFeMrkt,100270,100270,0,0,0,0,569,SUN

In [15]:
# standardize stop ids
day_cols = {'WKDY': 'weekday_ons', 'SAT': 'sat_ons', 'SUN': 'sun_ons'}

yr_sbmtd_all = (yr_sbmtd_all
                 >> mutate(STOP_ID_clean = if_else(_.STOP_ID!=99999,_.STOP_ID,_.STOP_ID_NEAR),
                           DAY_TYPE = _.daytype.apply(lambda x: day_cols[x]))
               )

In [50]:
yr_sbmtd_all >> filter(_.STOP_NAME=="State/Highway 154")

,ROUTE_NUMBER,ROUTE_NAME,DIRECTION_NAME,ROUTE_DIRECTION,STOP_NAME,STOP_ID,STOP_ID_NEAR,XBOARDINGS,XALIGHTINGS,XWHEELCHAIRS,XBICYCLES,XTRIPS,daytype,STOP_ID_clean,DAY_TYPE
44,2440,2440,HOLLISTER/UNIV,2440H,State/Highway 154,257,257,0,0,0,0,2,WKDY,257,weekday_ons
215,6,6: Goleta,DOWNTOWN SB,6D,State/Highway 154,-33,-33,3354,1542,-65,0,8012,WKDY,-33,weekday_ons
708,2430,2430: La Colina Jr. High,HOLLISTER AVE,2430H,State/Highway 154,257,257,0,0,0,0,72,WKDY,257,weekday_ons
1072,11,11: UCSB,UCSB/STORKE RD,11U,State/Highway 154,257,257,5829,6128,-256,0,7762,WKDY,257,weekday_ons
1132,6,6: Goleta,CAMINO REAL MKT,6C,State/Highway 154,257,257,4793,5509,-263,0,5662,WKDY,257,weekday_ons
1760,11,11: UCSB,DOWNTOWN SB,11D,State/Highway 154,-33,-33,3033,1744,-66,0,7708,WKDY,-33,weekday_ons
2430,6,6: Goleta,DOWNTOWN SB,6D,State/Highway 154,-33,-33,349,138,-9,0,1057,SAT,-33,sat_ons
2687,11,11: UCSB,UCSB/STORKE RD,11U,State/Highway 154,257,257,739,863,-44,0,1384,SAT,257,sat_ons
2824,6,6: Goleta,CAMINO REAL MKT,6C,State/Highway 154,257,257,474,579,-29,0,938,SAT,257,sat_ons
2953,11,11: UCSB,DOWNTOWN SB,11D,State/Highway 154,-33,-33,446,197,-12,0,1143,SAT,-33,sat_ons
3620,6,6: Goleta,DOWNTOWN SB,6D,State/Highway 154,-33,-33,353,174,-13,0,1045,SUN,-33,sun_ons
3774,11,11: UCSB,UCSB/STORKE RD,11U,State/Highway 154,257,257,489,569,-27,0,1286,SUN,257,sun_ons
3896,6,6: Goleta,CAMINO REAL MKT,6C,State/Highway 154,257,257,394,520,-35,0,1035,SUN,257,sun_ons
4229,11,11: UCSB,DOWNTOWN SB,11D,State/Highway 154,-33,-33,296,202,-6,0,1162,SUN,-33,sun_ons

In [18]:
# want to keep stop name as recommended by sbmtd staff
name_id_dict = (yr_sbmtd_all 
                >> distinct(_.STOP_ID_clean,_.STOP_NAME)
                >> arrange(_.STOP_ID_clean,_.STOP_NAME)
                >> filter(_.STOP_NAME.notna()) #this expression drops NAs
                >> rename(STOP_NAME_clean = "STOP_NAME")
               )

name_id_dict.STOP_ID_clean.value_counts()

-51        1
 840       1
 816       1
 819       1
 823       1
          ..
 351       1
 353       1
 354       1
 355       1
 100314    1
Name: STOP_ID_clean, Length: 755, dtype: int64

In [35]:
yr_sbmtd_grouped = (yr_sbmtd_all    
                >> left_join(_,name_id_dict)    
                >> group_by(_.STOP_ID_clean,_.STOP_NAME_clean, _.DAY_TYPE)
                >> summarize(stop_total_ons = _.XBOARDINGS.sum())
                )

yr_sbmtd_grouped >> head(5)

   STOP_ID_clean      STOP_NAME_clean     DAY_TYPE  stop_total_ons
0            -51  Pacific Oaks/Phelps      sat_ons               0
1            -51  Pacific Oaks/Phelps      sun_ons               0
2            -51  Pacific Oaks/Phelps  weekday_ons               2
3            -49  Pueblo/Castillo Out      sat_ons             116
4            -49  Pueblo/Castillo Out      sun_ons             109

In [36]:
yr_sbmtd_grouped = (yr_sbmtd_grouped
                     >> spread("DAY_TYPE", "stop_total_ons")
                     #>> rename(stop_id = _.STOP_ID)
                     >> mutate(calitp_itp_id = 293,
                              stop_code=_.STOP_ID_clean.apply(str))
                    )

yr_sbmtd_grouped >> head (5)

,STOP_ID_clean,STOP_NAME_clean,sat_ons,sun_ons,weekday_ons,calitp_itp_id,stop_code
0,-51,Pacific Oaks/Phelps,0.0,0.0,2.0,293,-51
1,-49,Pueblo/Castillo Out,116.0,109.0,2734.0,293,-49
2,-45,Cathedral Oaks and Brandon,61.0,42.0,411.0,293,-45
3,-39,Hollister/Los Carneros Road,95.0,64.0,879.0,293,-39
4,-38,Hollister/Los Carneros Way,77.0,96.0,680.0,293,-38

In [30]:
yr_sbmtd_grouped >> filter(_.STOP_NAME_clean.str.contains("Via Real"))

,STOP_ID_clean,STOP_NAME_clean,sat_ons,sun_ons,weekday_ons,calitp_itp_id
110,98,Via Real/Mark,626.0,411.0,5019.0,293
112,100,Via Real/Santa Ynez,782.0,596.0,6276.0,293
113,102,Via Real/Sandpiper MHP,217.0,109.0,1485.0,293
319,435,Via Real/West Padaro,33.0,5.0,309.0,293
320,436,Via Real/Toro Canyon,31.0,10.0,429.0,293
321,437,Via Real/Sentar,91.0,65.0,898.0,293
322,438,Via Real/Nidever,48.0,47.0,325.0,293
323,439,Via Real/Gallup + Stribling,39.0,24.0,398.0,293
324,440,Via Real/East Padaro,110.0,89.0,644.0,293
325,441,Via Real/Via Real Flowers,20.0,5.0,222.0,293
326,442,Via Real/Cravens,54.0,27.0,379.0,293
327,443,Via Real/Casas De Las Flores,219.0,136.0,1766.0,293
328,445,Via Real/Santa Monica East,255.0,124.0,1934.0,293
337,457,Via Real/Business Park,34.0,12.0,387.0,293
338,458,Via Real/Vista de Santa Barbara,47.0,22.0,262.0,293
339,459,Via Real/Bailard,543.0,449.0,5480.0,293
534,902,Via Real/East Padaro,26.0,24.0,286.0,293
535,903,Via Real/Via Real Flowers #3896,3.0,2.0,28.0,293
536,904,Via Real/Nidever,7.0,10.0,48.0,293
537,905,Via Real/Gallup + Stribling #3450,12.0,8.0,145.0,293
538,907,Via Real/Sentar,20.0,19.0,277.0,293
539,908,Via Real/Santa Ynez,95.0,49.0,1072.0,293
540,909,Via Real/Toro Canyon,23.0,18.0,180.0,293
541,910,Via Real/West Padaro,5.0,10.0,34.0,293
570,954,Via Real/Santa Monica West,140.0,120.0,822.0,293
572,956,Via Real/Santa Monica,86.0,59.0,570.0,293
602,1089,Via Real/Lomita Lane,26.0,20.0,243.0,293

In [37]:
len(yr_sbmtd_grouped)

755

In [22]:
# use same date as LA Metro for now
sbmtd_stops = shared_utils.gtfs_utils.get_stops('2022-03-15', [293])
len(sbmtd_stops)

607

In [32]:
sbmtd_stops >> filter(_.stop_name.str.contains("Via Real")) >> arrange(_.stop_code)

,feed_key,stop_key,date,calitp_itp_id,calitp_hash,zone_id,parent_station,stop_name,calitp_url_number,calitp_deleted_at,...,level_id,stop_url,wheelchair_boarding,stop_code,stop_timezone,calitp_extracted_at,stop_id,stop_desc,tts_stop_name,geometry
235,1180277299546152894,1149916131022778597,2022-03-15,293,fdmzDWezp7mt0q442ZpnDA==,None,None,Via Real & Santa Ynez,0,2022-04-04,...,None,None,2,100,None,2021-04-15,3,None,None,POINT (-119.52695 34.40457)
539,1180277299546152894,-2138777912413780574,2022-03-15,293,r+B5rsGq40eyUgiXb9JqfQ==,None,None,Via Real & Sandpiper MHP,0,2022-04-04,...,None,None,2,102,None,2021-04-15,5,None,None,POINT (-119.54147 34.40622)
439,1180277299546152894,9084726472797872778,2022-03-15,293,aijyCCXyFuCPrNp0H95qcA==,None,None,Via Real & Lomita Lane,0,2022-04-04,...,None,None,2,1089,None,2021-04-15,899,None,None,POINT (-119.48940 34.38601)
213,1180277299546152894,7631661558827589319,2022-03-15,293,1ubg3WtDa3FUH2+kGWKNuQ==,None,None,Via Real & West Padaro,0,2022-04-04,...,None,None,2,435,None,2021-04-15,299,None,None,POINT (-119.58276 34.41768)
451,1180277299546152894,-1466857557900525618,2022-03-15,293,seVdg0GyWC/EWdeK61ZPsg==,None,None,Via Real & Toro Canyon,0,2022-04-04,...,None,None,2,436,None,2021-04-15,300,None,None,POINT (-119.57533 34.41609)
316,1180277299546152894,-5317311687603958615,2022-03-15,293,FX3M2W0EMySgyC2lUvxkeA==,None,None,Via Real & Sentar,0,2022-04-04,...,None,None,2,437,None,2021-04-15,301,None,None,POINT (-119.56916 34.41676)
92,1180277299546152894,-5031227876227791962,2022-03-15,293,52g+6FCBgckaWsZbVzN24Q==,None,None,Via Real & Nidever,0,2022-04-04,...,None,None,2,438,None,2021-04-15,302,None,None,POINT (-119.56036 34.41646)
94,1180277299546152894,-7197668384083967006,2022-03-15,293,H8rGG/R4wRfjLwozXXK3hg==,None,None,Via Real & Gallup & Stribling,0,2022-04-04,...,None,None,2,439,None,2021-04-15,303,None,None,POINT (-119.55746 34.41472)
346,1180277299546152894,-7295506662825558284,2022-03-15,293,8Y6JWxiMjbMLgKLdj/Mtew==,None,None,Via Real & East Padaro,0,2022-04-04,...,None,None,2,440,None,2021-04-15,305,None,None,POINT (-119.55215 34.41136)
548,1180277299546152894,-1697107597783680901,2022-03-15,293,8R5BARBgPcq+vjcBHbvCQw==,None,None,Via Real & Via Real Flowers,0,2022-04-04,...,None,None,2,441,None,2021-04-15,306,None,None,POINT (-119.54742 34.40727)
1,1180277299546152894,7308285574109961259,2022-03-15,293,zTfMHCl5szswtL8H7p+eRQ==,None,None,Via Real & Cravens,0,2022-04-04,...,None,None,2,442,None,2021-04-15,307,None,None,POINT (-119.53949 34.40598)
186,1180277299546152894,2121799487369530325,2022-03-15,293,bH2Wa4c0D/rcroQsSZjRoQ==,None,None,Via Real & Casas De Las Flores,0,2022-04-04,...,None,None,2,443,None,2021-04-15,308,None,None,POINT (-119.53546 34.40536)
565,1180277299546152894,-4465479324678541248,2022-03-15,293,YpQ3IbU5TYw3Sx45uj7Mqw==,None,None,Via Real & Santa Monica East,0,2022-04-04,...,None,None,2,445,None,2021-04-15,309,None,None,POINT (-119.52974 34.40484)
550,1180277299546152894,8797148173909234090,2022-03-15,293,sOBGmyn7yyKrlqQPiscchg==,None,None,Via Real & Business Park,0,2022-04-04,...,None,None,2,457,None,2021-04-15,319,None,None,POINT (-119.48443 34.38476)
228,1180277299546152894,-5497239084279736841,2022-03-15,293,T9WpfBe70oTY364iK7WEwA==,None,None,Via Real & Vista de Santa Barbara,0,2022-04-04,...,None,None,2,458,None,2021-04-15,320,None,None,POINT (-119.49443 34.38767)
73,1180277299546152894,-3422394555659496224,2022-03-15,293,oa3kgqX4PwpEiDEfiR7k8g==,None,None,Via Real & Bailard,0,2022-04-04,...,None,None,2,459,None,2021-04-15,321,None,None,POINT (-119.49714 34.38908)
179,1180277299546152894,7280031458837755733,2022-03-15,293,av3M3mL3khmAuewm9YxnUA==,None,None,Via Real & East Padaro,0,2022-04-04,...,None,None,2,902,None,2021-04-15,609,None,None,POINT (-119.55199 34.41103)
15,1180277299546152894,-9191398463915816223,2022-03-15,293,Jd0W4+PwRDeliFDdHDXI7A==,None,None,Via Real & Via Real Flowers #3896,0,2022-04-04,...,None,None,2,903,None,2021-04-15,610,None,None,POINT (-119.54734 34.40707)
150,1180277299546152894,-4770211284088963481,2022-03-15,293,LSBgQ43c+NcJTTlauInfOw==,None,None,Via Real & Nidever,0,2022-04-04,...,None,None,2,904,None,2021-04-15,611,None,None,POINT (-119.56145 34.41650)
216,1180277299546152894,-4071396925443880441,2022-03-15,293,LPUtBTo7HGpRMDUnnbFwjg==,None,None,Via Real & Gallup & Stribling #3450,0,2022-04-04,...,None,None,2,905,None,2021-04-15,612,None,None,POINT (-119.55805 34.41506)
97,1180277299546152894,9055025917401280878,2022-03-15,293,v5KAYCZUcADedQA4akCtTA==,None,None,Via Real & Sentar,0,2022-04-04,...,None,None,2,907,None,2021-04-15,613,None,None,POINT (-119.56903 34.41666)
475,1180277299546152894,-6977872147301241384,2022-03-15,293,/q3aW1MNzTxaGG2Jk1+XsQ==,None,None,Via Real & Santa Ynez,0,2022-04-04,...,None,None,2,908,None,2021-04-15,614,None,None,POINT (-119.52760 34.40452)
61,1180277299546152894,5834940409621136071,2022-03-15,293,vlXcAn+171qyoNWxYxdAGA==,None,None,Via Real & Toro Canyon,0,2022-04-04,...,None,None,2,909,None,2021-04-15,615,None,None,POINT (-119.57608 34.41578)
438,1180277299546152894,2281879278583477884,2022-03-15,293,kzPClDWYiK2yquLqOplYuw==,None,None,Via Real & West Padaro,0,2022-04-04,...,None,None,2,910,None,2021-04-15,616,None,None,POINT (-119.58422 34.41745)
494,1180277299546152894,-2537990668333458079,2022-03-15,293,+3BmRTG2LYt2k6zGeGjLBQ==,None,None,Via Real & Santa Monica West,0,2022-04-04,...,None,None,2,954,None,2021-04-15,650,None,None,POINT (-119.53257 34.40480)
576,1180277299546152894,5634072311763907756,2022-03-15,293,/1Qv22wwkdWrieCzV8wtdw==,None,None,Via Real & Santa Monica,0,2022-04-04,...,None,None,2,956,None,2021-04-15,652,None,None,POINT (-119.52942 34.40474)
58,1180277299546152894,3020165003281663544,2022-03-15,293,sBS3VNfHYeXkmy/drIWuow==,None,None,Via Real & Mark,0,2022-04-04,...,None,None,2,98,None,2021-04-15,662,None,None,POINT (-119.48667 34.38527)

In [39]:
stops_to_join = (sbmtd_stops 
                 >> select(_.calitp_itp_id, _.stop_id, _.stop_code,_.stop_name, _.geometry)
                )

In [46]:
stops_to_join >> filter(_.stop_name=="State & Highway 154")

,calitp_itp_id,stop_id,stop_code,stop_name,geometry
12,293,136,257,State & Highway 154,POINT (-119.76050 34.44069)
563,293,811,824,State & Highway 154,POINT (-119.75885 34.44032)

In [49]:
yr_sbmtd_grouped >> filter(_.stop_code.isin(["257","824"]))

,STOP_ID_clean,STOP_NAME_clean,sat_ons,sun_ons,weekday_ons,calitp_itp_id,stop_code
197,257,State/Highway 154,1213.0,883.0,10653.0,293,257

In [51]:
yr_sbmtd_grouped_geo = stops_to_join >> inner_join(_, yr_sbmtd_grouped, on = ['calitp_itp_id', 'stop_code'])

In [52]:
yr_sbmtd_grouped_geo.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 571 entries, 0 to 570
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   calitp_itp_id    571 non-null    int64
 1   stop_id          571 non-null    object
 2   stop_code        571 non-null    object
 3   stop_name        571 non-null    object
 4   geometry         571 non-null    geometry
 5   STOP_ID_clean    571 non-null    int64
 6   STOP_NAME_clean  571 non-null    object
 7   sat_ons          470 non-null    float64
 8   sun_ons          436 non-null    float64
 9   weekday_ons      571 non-null    float64
dtypes: float64(3), geometry(1), int64(2), object(4)
memory usage: 49.1+ KB

Issue: negative stop ids are not matching stop codes in warehouse data

Approach:
- inner join on stop code
- anti-join both datasets to get remainders
- join remainders on name (levenshtein edit distance or just change "/" to " & ")
- concatenate

In [45]:
shared_utils.rt_utils.show_full_df(yr_sbmtd_grouped_geo >> filter(_.geometry.isna()))

,calitp_itp_id,stop_id,stop_code,stop_name,geometry,STOP_ID_clean,STOP_NAME_clean,sat_ons,sun_ons,weekday_ons
607,293,NaN,-51,NaN,None,-51.0,Pacific Oaks/Phelps,0.0,0.0,2.0
608,293,NaN,-49,NaN,None,-49.0,Pueblo/Castillo Out,116.0,109.0,2734.0
609,293,NaN,-45,NaN,None,-45.0,Cathedral Oaks and Brandon,61.0,42.0,411.0
610,293,NaN,-39,NaN,None,-39.0,Hollister/Los Carneros Road,95.0,64.0,879.0
611,293,NaN,-38,NaN,None,-38.0,Hollister/Los Carneros Way,77.0,96.0,680.0
612,293,NaN,-37,NaN,None,-37.0,Hollister/Ward,288.0,169.0,2699.0
613,293,NaN,-36,NaN,None,-36.0,State/Valerio,323.0,252.0,1798.0
614,293,NaN,-35,NaN,None,-35.0,Hollister/Arboleda,645.0,551.0,7015.0
615,293,NaN,-34,NaN,None,-34.0,State/Pueblo,295.0,187.0,2139.0
616,293,NaN,-33,NaN,None,-33.0,State/Highway 154,795.0,649.0,6398.0
617,293,NaN,-32,NaN,None,-32.0,Hollister/Walnut,1315.0,1074.0,7494.0
618,293,NaN,-31,NaN,None,-31.0,Hollister/La Patera,154.0,109.0,1903.0
619,293,NaN,-30,NaN,None,-30.0,Hollister/Coromar,440.0,287.0,3187.0
620,293,NaN,-29,NaN,None,-29.0,Hollister/Auhay East,185.0,125.0,1602.0
621,293,NaN,-28,NaN,None,-28.0,Fairview/Carson,513.0,325.0,2587.0
622,293,NaN,-27,NaN,None,-27.0,Storke/Whittier,74.0,90.0,3431.0
623,293,NaN,-26,NaN,None,-26.0,Storke/Willow Grove,2718.0,2317.0,29247.0
624,293,NaN,-25,NaN,None,-25.0,State/De La Vina,339.0,320.0,2146.0
625,293,NaN,-24,NaN,None,-24.0,Hollister/El Mercado,354.0,240.0,3689.0
626,293,NaN,-23,NaN,None,-23.0,Hollister/Auhay West,254.0,174.0,1814.0
627,293,NaN,-22,NaN,None,-22.0,Hollister/Community Center,1852.0,1427.0,12347.0
628,293,NaN,-21,NaN,None,-21.0,Hollister/Pine,4187.0,3546.0,30178.0
629,293,NaN,-20,NaN,None,-20.0,Hollister/Fairview,235.0,170.0,1485.0
630,293,NaN,-19,NaN,None,-19.0,Hollister/Griggs,24.0,16.0,407.0
631,293,NaN,-18,NaN,None,-18.0,Hollister/Hartley,6.0,4.0,86.0
632,293,NaN,-17,NaN,None,-17.0,Hollister/Adams,370.0,276.0,3955.0
633,293,NaN,-16,NaN,None,-16.0,Hollister/Coromar,30.0,25.0,233.0
634,293,NaN,-15,NaN,None,-15.0,Hollister/Storke,5176.0,4530.0,36149.0
635,293,NaN,-14,NaN,None,-14.0,Hollister/Los Carneros Road,231.0,131.0,2021.0
636,293,NaN,-13,NaN,None,-13.0,Hollister/Cremona,49.0,43.0,659.0
637,293,NaN,-12,NaN,None,-12.0,Hollister/Los Carneros Way,40.0,22.0,396.0
638,293,NaN,-11,NaN,None,-11.0,Hollister/Willow Springs,78.0,80.0,658.0
639,293,NaN,-10,NaN,None,-10.0,Hollister/Robin Hill,29.0,13.0,173.0
640,293,NaN,-9,NaN,None,-9.0,Hollister/La Patera,186.0,444.0,1416.0
641,293,NaN,-8,NaN,None,-8.0,Hollister/Lopez,70.0,90.0,413.0
642,293,NaN,-7,NaN,None,-7.0,Hollister/Patterson,1141.0,652.0,11337.0
643,293,NaN,-6,NaN,None,-6.0,Hollister/Walnut,1496.0,1144.0,9464.0
644,293,NaN,-5,NaN,None,-5.0,Hollister/Puente,347.0,354.0,4745.0
645,293,NaN,-4,NaN,None,-4.0,State/Alamar,1174.0,995.0,7328.0
646,293,NaN,-3,NaN,None,-3.0,Hollister/Aero Camino,163.0,211.0,1735.0
647,293,NaN,-2,NaN,None,-2.0,Anacapa/Anapamu,788.0,503.0,5576.0
648,293,NaN,-1,NaN,None,-1.0,Hollister/Sumida,319.0,381.0,3926.0
649,293,NaN,612,NaN,None,612.0,Alameda/Bassano,NaN,NaN,0.0
650,293,NaN,100003,NaN,None,100003.0,AbreCDSO,NaN,NaN,0.0
651,293,NaN,100004,NaN,None,100004.0,AlamBasO,NaN,NaN,0.0
652,293,NaN,100005,NaN,None,100005.0,AlamPadN,0.0,0.0,0.0
653,293,NaN,100006,NaN,None,100006.0,AlamPadO,0.0,0.0,0.0
654,293,NaN,100008,NaN,None,100008.0,ArBuBePa,0.0,0.0,0.0
655,293,NaN,100011,NaN,None,100011.0,BranEver,NaN,NaN,0.0
656,293,NaN,100096,NaN,None,100096.0,CaOaAlph,NaN,NaN,0.0
657,293,NaN,100098,NaN,None,100098.0,CaOaFaiO,NaN,NaN,0.0
658,293,NaN,100100,NaN,None,100100.0,CaOaTurn,NaN,NaN,0.0
659,293,NaN,100101,NaN,None,100101.0,CaOaTurO,NaN,NaN,0.0
660,293,NaN,100102,NaN,None,100102.0,CaPeCerv,NaN,NaN,0.0
661,293,NaN,100103,NaN,None,100103.0,CaPeElCo,NaN,NaN,0.0
662,293,NaN,100104,NaN,None,100104.0,CaPeSaPa,0.0,0.0,0.0
663,293,NaN,100105,NaN,None,100105.0,CaReKelN,0.0,0.0,0.0
664,293,NaN,100106,NaN,None,100106.0,CaReKelO,0.0,0.0,0.0
665,293,NaN,100107,NaN,None,100107.0,CaReTuNE,0.0,0.0,0.0
666,293,NaN,100108,NaN,None,100108.0,CaReTuOE,0.0,0.0,0.0
667,293,NaN,100109,NaN,None,100109.0,CaReTuOW,NaN,NaN,0.0
668,293,NaN,100110,NaN,None,100110.0,CaReTurn,NaN,NaN,0.0
669,293,NaN,100112,NaN,None,100112.0,Carp7th,0.0,0.0,0.0
670,293,NaN,100113,NaN,None,100113.0,CarpCaPO,0.0,0.0,0.0
671,293,NaN,100115,NaN,None,100115.0,CarpPalN,0.0,0.0,0.0
672,293,NaN,100118,NaN,None,100118.0,CarrSaAO,0.0,0.0,0.0
673,293,NaN,100119,NaN,None,100119.0,CarrSaPa,NaN,NaN,0.0
674,293,NaN,100120,NaN,None,100120.0,CarrSaPN,0.0,0.0,0.0
675,293,NaN,100121,NaN,None,100121.0,CarSaAn,NaN,NaN,0.0
676,293,NaN,100124,NaN,None,100124.0,clifMeiN,0.0,0.0,0.0
677,293,NaN,100125,NaN,None,100125.0,ClifMeiO,0.0,0.0,0.0
678,293,NaN,100126,NaN,None,100126.0,CoHeOutP,0.0,0.0,0.0
679,293,NaN,100130,NaN,None,100130.0,CVRHoSp,0.0,0.0,0.0
680,293,NaN,100131,NaN,None,100131.0,CVRHotO,0.0,0.0,0.0
681,293,NaN,100132,NaN,None,100132.0,DeGuLagu,0.0,0.0,0.0
682,293,NaN,100134,NaN,None,100134.0,dphs,NaN,NaN,0.0
683,293,NaN,100135,NaN,None,100135.0,EaVaRome,0.0,NaN,0.0
684,293,NaN,100136,NaN,None,100136.0,EaVaSaYs,0.0,NaN,0.0
685,293,NaN,100137,NaN,None,100137.0,ElCoCorN,0.0,0.0,0.0
686,293,NaN,100138,NaN,None,100138.0,ElCoCort,NaN,NaN,0.0
687,293,NaN,100139,NaN,None,100139.0,ElCoFrTo,NaN,NaN,0.0
688,293,NaN,100140,NaN,None,100140.0,ElCoLoCO,NaN,NaN,0.0
689,293,NaN,100141,NaN,None,100141.0,ElCoSaCa,0.0,0.0,0.0
690,293,NaN,100144,NaN,None,100144.0,EnciFaiN,0.0,0.0,0.0
691,293,NaN,100146,NaN,None,100146.0,FairWeF4,NaN,NaN,0.0
692,293,NaN,100147,NaN,None,100147.0,FootCien,NaN,NaN,0.0
693,293,NaN,100148,NaN,None,100148.0,FootCieO,NaN,NaN,0.0
694,293,NaN,100150,NaN,None,100150.0,gvjh,NaN,NaN,0.0
695,293,NaN,100153,NaN,None,100153.0,HillHous,0.0,0.0,0.0
696,293,NaN,100154,NaN,None,100154.0,HollEntN,0.0,0.0,0.0
697,293,NaN,100155,NaN,None,100155.0,HollEntO,0.0,0.0,0.0
698,293,NaN,100156,NaN,None,100156.0,HollKelN,0.0,0.0,0.0
699,293,NaN,100157,NaN,None,100157.0,HollKelO,0.0,0.0,0.0
700,293,NaN,100158,NaN,None,100158.0,HollLasO,NaN,NaN,0.0
701,293,NaN,100159,NaN,None,100159.0,HollNecO,NaN,NaN,0.0
702,293,NaN,100160,NaN,None,100160.0,HollNogN,NaN,NaN,0.0
703,293,NaN,100162,NaN,None,100162.0,HollPaON,NaN,NaN,0.0
704,293,NaN,100163,NaN,None,100163.0,HollPaOO,NaN,NaN,0.0
705,293,NaN,100164,NaN,None,100164.0,HollSanN,NaN,NaN,0.0
706,293,NaN,100165,NaN,None,100165.0,HollSanO,NaN,NaN,0.0
707,293,NaN,100166,NaN,None,100166.0,HollSaRN,NaN,NaN,0.0
708,293,NaN,100167,NaN,None,100167.0,HollSBS1,NaN,NaN,0.0
709,293,NaN,100168,NaN,None,100168.0,HollStoN,0.0,0.0,0.0
710,293,NaN,100169,NaN,None,100169.0,HollStoO,0.0,0.0,0.0
711,293,NaN,100170,NaN,None,100170.0,HollTurn,0.0,0.0,0.0
712,293,NaN,100171,NaN,None,100171.0,HollTurO,0.0,0.0,0.0
713,293,NaN,100172,NaN,None,100172.0,LaCoJH,NaN,NaN,0.0
714,293,NaN,100175,NaN,None,100175.0,LillEvnO,0.0,0.0,0.0
715,293,NaN,100176,NaN,None,100176.0,MarkAve,0.0,0.0,0.0
716,293,NaN,100177,NaN,None,100177.0,MilpGuti,0.0,NaN,0.0
717,293,NaN,100178,NaN,None,100178.0,MilpGutN,0.0,0.0,0.0
718,293,NaN,100179,NaN,None,100179.0,MilpMonO,0.0,0.0,0.0
719,293,NaN,100180,NaN,None,100180.0,MilpMont,0.0,0.0,0.0
720,293,NaN,100182,NaN,None,100182.0,ModoPort,0.0,0.0,0.0
721,293,NaN,100183,NaN,None,100183.0,MontMilp,0.0,0.0,0.0
722,293,NaN,100185,NaN,None,100185.0,NJamSaYs,0.0,NaN,0.0
723,293,NaN,100186,NaN,None,100186.0,NJamShef,0.0,NaN,0.0
724,293,NaN,100188,NaN,None,100188.0,PalePort,NaN,NaN,0.0
725,293,NaN,100191,NaN,None,100191.0,PuGoSali,0.0,0.0,0.0
726,293,NaN,100192,NaN,None,100192.0,RancGuti,NaN,NaN,0.0
727,293,NaN,100193,NaN,None,100193.0,RhoaRipl,NaN,NaN,0.0
728,293,NaN,100194,NaN,None,100194.0,SaAnAnaO,0.0,0.0,0.0
729,293,NaN,100196,NaN,None,100196.0,SaAnValO,NaN,NaN,0.0
730,293,NaN,100198,NaN,None,100198.0,SaPaCaPe,0.0,0.0,0.0
731,293,NaN,100199,NaN,None,100199.0,SaPaOrtN,NaN,NaN,0.0
732,293,NaN,100200,NaN,None,100200.0,SBAirpN,0.0,0.0,0.0
733,293,NaN,100201,NaN,None,100201.0,SBAirpO,0.0,0.0,0.0
734,293,NaN,100202,NaN,None,100202.0,SBCCN,0.0,0.0,0.0
735,293,NaN,100203,NaN,None,100203.0,SBCCO,0.0,0.0,0.0
736,293,NaN,100205,NaN,None,100205.0,sbhs,0.0,0.0,0.0
737,293,NaN,100206,NaN,None,100206.0,SBJHS,NaN,NaN,0.0
738,293,NaN,100207,NaN,None,100207.0,smhs,NaN,NaN,0.0
739,293,NaN,100208,NaN,None,100208.0,SMHS1,NaN,NaN,0.0
740,293,NaN,100211,NaN,None,100211.0,StatBroN,0.0,0.0,0.0
741,293,NaN,100212,NaN,None,100212.0,StatLaCN,0.0,0.0,0.0
742,293,NaN,100213,NaN,None,100213.0,StatLaCO,0.0,0.0,0.0
743,293,NaN,100214,NaN,None,100214.0,StatLaPN,0.0,0.0,0.0
744,293,NaN,100215,NaN,None,100215.0,StatMisN,0.0,0.0,0.0
745,293,NaN,100216,NaN,None,100216.0,StatMisO,0.0,0.0,0.0
746,293,NaN,100217,NaN,None,100217.0,StatSaRo,0.0,0.0,0.0
747,293,NaN,100219,NaN,None,100219.0,StorHolN,0.0,0.0,0.0
748,293,NaN,100220,NaN,None,100220.0,StorHolO,0.0,0.0,0.0
749,293,NaN,100221,NaN,None,100221.0,StorMarN,0.0,0.0,0.0
750,293,NaN,100222,NaN,None,100222.0,TC,0.0,0.0,0.0
751,293,NaN,100224,NaN,None,100224.0,ToriAmiN,0.0,0.0,0.0
752,293,NaN,100226,NaN,None,100226.0,TreaSamO,0.0,0.0,0.0
753,293,NaN,100227,NaN,None,100227.0,TreaTalN,0.0,0.0,0.0
754,293,NaN,100229,NaN,None,100229.0,TurnSaGO,NaN,NaN,0.0
755,293,NaN,100230,NaN,None,100230.0,TurnUkia,NaN,NaN,0.0
756,293,NaN,100232,NaN,None,100232.0,UnivPatt,NaN,NaN,0.0
757,293,NaN,100233,NaN,None,100233.0,UnivRibN,0.0,0.0,0.0
758,293,NaN,100234,NaN,None,100234.0,UnivRibO,0.0,0.0,0.0
759,293,NaN,100236,NaN,None,100236.0,ViReSaYO,0.0,0.0,0.0
760,293,NaN,100238,NaN,None,100238.0,WalnSaLo,NaN,NaN,0.0
761,293,NaN,100239,NaN,None,100239.0,WestComm,NaN,NaN,0.0
762,293,NaN,100240,NaN,None,100240.0,WiCyBrad,NaN,NaN,0.0
763,293,NaN,100242,NaN,None,100242.0,WiCyBraO,NaN,NaN,0.0
764,293,NaN,100246,NaN,None,100246.0,BranEveO,0.0,0.0,0.0
765,293,NaN,100253,NaN,None,100253.0,CaReJenO,NaN,NaN,0.0
766,293,NaN,100255,NaN,None,100255.0,CdlaTorO,0.0,0.0,0.0
767,293,NaN,100256,NaN,None,100256.0,MeigDolN,0.0,0.0,0.0
768,293,NaN,100257,NaN,None,100257.0,OrHiEvaN,0.0,0.0,0.0
769,293,NaN,100266,NaN,None,100266.0,CaReWinO,0.0,0.0,0.0
770,293,NaN,100268,NaN,None,100268.0,ModoPalN,NaN,NaN,0.0
771,293,NaN,100269,NaN,None,100269.0,SaAnAnaN,0.0,0.0,0.0
772,293,NaN,100270,NaN,None,100270.0,SaFeMrkt,0.0,0.0,0.0
773,293,NaN,100271,NaN,None,100271.0,SeviEmbN,0.0,0.0,0.0
774,293,NaN,100272,NaN,None,100272.0,SeviEmbO,0.0,0.0,0.0
775,293,NaN,100274,NaN,None,100274.0,SBCCWest,NaN,NaN,0.0
776,293,NaN,100292,NaN,None,100292.0,HaleBatO,NaN,NaN,0.0
777,293,NaN,100293,NaN,None,100293.0,HollArbN,NaN,NaN,0.0
778,293,NaN,100294,NaN,None,100294.0,PueCastN,0.0,0.0,0.0
779,293,NaN,100295,NaN,None,100295.0,PueCastO,0.0,0.0,0.0
780,293,NaN,100296,NaN,None,100296.0,UCNHin,0.0,0.0,0.0
781,293,NaN,100297,NaN,None,100297.0,UCNHout,0.0,0.0,0.0
782,293,NaN,100298,NaN,None,100298.0,EnciFaiO,0.0,0.0,0.0
783,293,NaN,100304,NaN,None,100304.0,HollCaON,NaN,NaN,0.0
784,293,NaN,100305,NaN,None,100305.0,LoCarKSN,NaN,NaN,0.0
785,293,NaN,100306,NaN,None,100306.0,LoCarKSO,NaN,NaN,0.0
786,293,NaN,100307,NaN,None,100307.0,RancGutN,NaN,NaN,0.0
787,293,NaN,100308,NaN,None,100308.0,UnivPatO,NaN,NaN,0.0
788,293,NaN,100312,NaN,None,100312.0,CaPaElCN,NaN,NaN,0.0
789,293,NaN,100313,NaN,None,100313.0,CaReTrNW,NaN,NaN,0.0
790,293,NaN,100314,NaN,None,100314.0,HollSaMN,NaN,NaN,0.0

In [ ]:
# fill nan with 0
values = {"sat_ons": 0, "sun_ons": 0, "weekday_ons": 0}
mar_metro_joined = mar_metro_joined.fillna(value=values)

In [ ]:
# check 0s
mar_metro_0check = (mar_metro_joined >>
                    filter(_.weekday_ons==0)
                   )
mar_metro_0check.explore("weekday_ons", legend=True)

In [ ]:
shared_utils.utils.geoparquet_gcs_export?

In [ ]:
shared_utils.utils.geoparquet_gcs_export(mar_metro_joined, GCS_FILE_PATH, 'rider_cleaned_182_2022_03.parquet')

## Exploratory Data Analysis

In [ ]:
# weekday ons map
mar_metro_joined.explore("weekday_ons", legend=True, tiles="CartoDB positron")

In [ ]:
import matplotlib.pyplot as plt

mar_metro_joined.weekday_ons.plot.hist(grid=True, bins=100, rwidth=0.9, log=True,
                                          title='Weekday Total Bus Ridership - March 2022')
plt.xlabel('Riders')
plt.ylabel('Number of Stops')

In [ ]:
mar_metro_joined >> filter(_.weekday_ons>30000)