In [1]:
"""
%%sh
pip install gtfs-lite
cd ~/data-analyses/rt_segment_speeds
pip install -r requirements.txt
"""

'\n%%sh\npip install gtfs-lite\ncd ~/data-analyses/rt_segment_speeds\npip install -r requirements.txt\n'

In [2]:
import datetime as dt
import pathlib

import geopandas as gpd
import google.auth
import numpy as np
import pandas as pd
from gtfslite import GTFS
from shared_utils import catalog_utils, gtfs_utils_v2, rt_dates

In [3]:
from retrospective_feed_generation import *
from warehouse_utils import *
from gtfs_utils import *

### Get RT Data

In [4]:
CREDENTIALS, _ = google.auth.default()

In [5]:
SAMPLE_DATE_STR = rt_dates.DATES["apr2025"]
FEED_NAME = "Big Blue Bus Schedule"

In [6]:
SAMPLE_DATE_STR

'2025-04-16'

In [7]:
gtfs_dataset_key = (
    gtfs_utils_v2.schedule_daily_feed_to_gtfs_dataset_name(
        selected_date=SAMPLE_DATE_STR, keep_cols=["name", "gtfs_dataset_key"]
    )
    .set_index("name")
    .at[FEED_NAME, "gtfs_dataset_key"]
)
gtfs_dataset_key

'c65bd95ac0009a74df9ff840fc416771'

In [8]:
schedule_rt_stop_times_single_agency = get_schedule_rt_stop_times_table(
    gtfs_dataset_key,
    SAMPLE_DATE_STR
)

In [9]:
schedule_rt_stop_times_single_agency.to_parquet("test.parquet")

In [10]:
schedule_rt_stop_times_single_agency = pd.read_parquet("test.parquet")

In [11]:
flagged_stop_times = flag_nonsequential_stops(schedule_rt_stop_times_single_agency)
flagged_trips = flagged_stop_times.loc[
    flagged_stop_times["non_sequential_rt_arrival"],
    "trip_instance_key"
].drop_duplicates()

In [12]:
imputed_stop_times = impute_first_last(flagged_stop_times).dropna(subset=["imputed_arrival_sec"])

In [13]:
schedule_rt_stop_times_single_agency.trip_id.isna().sum()

0

In [14]:
trip_ids = schedule_rt_stop_times_single_agency.trip_instance_key.drop_duplicates()

In [15]:
test = imputed_stop_times.loc[
    imputed_stop_times.trip_instance_key == flagged_trips.iloc[1]
]
test

,trip_id,stop_id,stop_sequence,scheduled_arrival_sec,schedule_gtfs_dataset_key,trip_instance_key,rt_arrival_sec,non_sequential_rt_arrival,flag_surrounding_non_sequential_rt_arrival,imputed_arrival_sec
108,630110,311,1,21720.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,NaN,False,False,21924.0
109,630110,312,2,21788.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,21992.0,False,False,21992.0
110,630110,646,3,21842.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22063.0,False,False,22063.0
111,630110,641,4,21896.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22126.0,False,False,22126.0
112,630110,885,5,21970.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22201.0,False,False,22201.0
113,630110,412,6,22030.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22266.0,False,False,22266.0
114,630110,883,7,22074.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22296.0,False,False,22296.0
115,630110,884,8,22112.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22359.0,False,False,22359.0
116,630110,879,9,22151.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22397.0,False,False,22397.0
117,630110,881,10,22216.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22455.0,False,False,22455.0
118,630110,882,11,22268.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22486.0,False,False,22486.0
119,630110,337,12,22320.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22561.0,False,False,22561.0
120,630110,404,13,22370.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22588.0,False,False,22588.0
121,630110,50,14,22410.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22627.0,False,False,22627.0
122,630110,444,15,22460.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22676.0,False,False,22676.0
123,630110,445,16,22520.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22703.0,False,False,22703.0
124,630110,581,17,22569.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22741.0,False,False,22741.0
125,630110,582,18,22609.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22765.0,False,False,22765.0
126,630110,51,19,22646.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22788.0,False,False,22788.0
127,630110,52,20,22672.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22800.0,False,False,22800.0
129,630110,396,22,22800.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22895.0,False,False,22895.0
130,630110,588,23,22829.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22919.0,False,False,22919.0
131,630110,587,24,22863.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,22964.0,False,False,22964.0
132,630110,153,25,22903.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23012.0,False,False,23012.0
133,630110,154,26,22984.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23085.0,False,False,23085.0
134,630110,155,27,23026.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23160.0,False,True,23160.0
135,630110,156,28,23055.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23153.0,True,True,23153.0
136,630110,157,29,23138.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23211.0,False,False,23211.0
137,630110,158,30,23178.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23242.0,False,False,23242.0
138,630110,159,31,23220.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23264.0,False,False,23264.0
139,630110,160,32,23270.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23299.0,False,False,23299.0
140,630110,161,33,23328.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23345.0,False,False,23345.0
141,630110,307,34,23458.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23381.0,False,False,23381.0
142,630110,346,35,23497.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23435.0,False,False,23435.0
143,630110,348,36,23569.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23466.0,False,False,23466.0
144,630110,1020,37,23688.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23552.0,False,False,23552.0
145,630110,1018,38,23746.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,23606.0,False,False,23606.0
146,630110,1015,39,24120.0,c65bd95ac0009a74df9ff840fc416771,0054055035c4602b628f8ac281549c3d,NaN,False,False,23980.0

### Get schedule feed

In [16]:
#TODO: right now this was just a download based on the url in airtable
# Need to make it traceable instead
GTFS_FEED_PARENT = "../conveyal_update/feeds_2025-04-16/socal/Big_Blue_Bus_Schedule_7a3f513c343b16a30c135ed7d332b6d6_gtfs.zip/"
GTFS_FEED_GLOB = "*.zip"

#GTFS_FEED_PARENT = "./feeds/"
#GTFS_FEED_GLOB = "big_blue_bus_2025-03*.zip"

ARBITRARY_SERVICE_ID = "0"
GTFS_DATE_STRFTIME_CODE = "%Y%m%d"

In [17]:
feed_paths = pathlib.Path(GTFS_FEED_PARENT).glob(GTFS_FEED_GLOB)
feed_path = next(feed_paths)
assert next(feed_paths, None) is None, "Ambiguous Schedule Feed"
feed = GTFS.load_zip(feed_path)
feed_filtered = subset_schedule_feed_to_one_date(
    feed, dt.date.fromisoformat(SAMPLE_DATE_STR)
)

### Merge schedule / rt

In [18]:
output_feed = make_retrospective_feed_single_date(
    filtered_input_feed=feed_filtered,
    stop_times_table=imputed_stop_times,
    stop_times_desired_columns=[
        "trip_id",
        "arrival_time",
        "departure_time"
        "drop_off_type",
        "pickup_type",
        "stop_headsign",
        "stop_id",
        "stop_sequence",
    ]
)

In [19]:
output_feed.write_zip(f"output_feeds/bbb_test_{SAMPLE_DATE_STR}.zip")

### Dropped shapes and stops

In [20]:
print("Get dropped shapes by their frequency")
feed_filtered.trips.loc[
    ~feed_filtered.trips.shape_id.isin(output_feed.trips.shape_id.unique()), "shape_id"
].value_counts()

Get dropped shapes by their frequency

shp-009-52    32
shp-009-01    28
shp-009-03     4
shp-009-51     2
Name: shape_id, dtype: int64

In [21]:
print("Get dropped stops by the number of trips serving them in the original feed")
pd.DataFrame(
    feed_filtered.stop_times.loc[
        ~feed_filtered.stop_times.stop_id.isin(
            output_feed.stop_times.stop_id.unique()
        ),
        "stop_id",
    ]
    .value_counts()
    .rename("stop_count")
).merge(
    feed_filtered.stops.set_index("stop_id")["stop_name"],
    how="left",
    left_index=True,
    right_index=True,
)

Get dropped stops by the number of trips serving them in the original feed

     stop_count                            stop_name
125          64                         MARQUEZ LOOP
853          34              SUNSET BLVD & BAYLOR ST
852          34               SUNSET BLVD & ARNO WAY
854          34         SUNSET BLVD & BIENVENIDA AVE
855          34           SUNSET BLVD & EL MEDIO AVE
856          34     SUNSET BLVD & TEMESCAL CANYON RD
902          34          SUNSET BLVD & VIA DE LA PAZ
857          34         SUNSET BLVD & SWARTHMORE AVE
858          34               SUNSET BLVD & CAREY ST
859          34            SUNSET BLVD & DRUMMOND ST
860          34      SUNSET BLVD & PAMPAS RICAS BLVD
861          34          CHAUTAUQUA BLVD & BORGOS PL
862          34       CHAUTAUQUA BLVD & LA CUMBRE DR
912          34  WEST CHANNEL RD & PACIFIC COAST HWY
863          34            WEST CHANNEL RD & MESA RD
67           34               ENTRADA DR & OCEAN AVE
864          34               ENTRADA DR & STASSI LN
694          34            SAN VICENTE BLVD & 7TH ST
695          34            4TH ST & SAN VICENTE BLVD
696          34              4TH ST & MARGUERITA AVE
698          34                    4TH ST & ALTA AVE
699          34                 4TH ST & MONTANA AVE
700          34                   4TH ST & IDAHO AVE
594          34              4TH ST & WASHINGTON AVE
595          34              4TH ST & CALIFORNIA AVE
65           34          SUNSET BLVD & MARQUEZ PLACE
597          32              4TH ST & WASHINGTON AVE
596          32              4TH ST & CALIFORNIA AVE
66           32          SUNSET BLVD & MARQUEZ PLACE
868          32       CHAUTAUQUA BLVD & LA CUMBRE DR
701          32                   4TH ST & IDAHO AVE
702          32                 4TH ST & MONTANA AVE
703          32                    4TH ST & ALTA AVE
704          32              4TH ST & MARGUERITA AVE
705          32            4TH ST & SAN VICENTE BLVD
142          32            7TH ST & SAN VICENTE BLVD
865          32             ENTRADA DR & STASSI LANE
866          32         ENTRADA DR & EAST CHANNEL RD
878          32               SUNSET BLVD & ARNO WAY
880          32       ENTRADA DR & PACIFIC COAST HWY
867          32                 MESA RD & ENTRADA DR
869          32       CHAUTAUQUA BLVD & BORGOS PLACE
870          32        CHAUTAUQUA BLVD & SUNSET BLVD
871          32            SUNSET BLVD & DRUMMOND ST
872          32               SUNSET BLVD & CAREY ST
873          32         SUNSET BLVD & SWARTHMORE AVE
888          32          SUNSET BLVD & VIA DE LA PAZ
874          32     SUNSET BLVD & TEMESCAL CANYON RD
875          32           SUNSET BLVD & EL MEDIO AVE
876          32         SUNSET BLVD & BIENVENIDA AVE
877          32            SUNSET BLVD & MARQUEZ AVE
247           1                26TH ST & LA MESA WAY
710           1      SAN VICENTE BLVD & AVONDALE AVE
711           1       SAN VICENTE BLVD & BRISTOL AVE
72            1         SAN VICENTE BLVD & ANITA AVE
689           1          SAN VICENTE BLVD & BUNDY DR

### Sample Trip

In [22]:
output_feed.stop_times.loc[output_feed.stop_times["trip_id"] == "902110"].sort_values(
    "stop_sequence"
)

,arrival_time,pickup_type,stop_headsign,stop_id,stop_sequence,trip_id,departure_time
13642,10:27:07,0,1 UCLA,962,1,902110,10:27:07
13643,10:28:27,0,1 UCLA,112,2,902110,10:28:27
13644,10:28:11,0,1 UCLA,495,3,902110,10:28:11
13645,10:30:18,0,1 UCLA,497,5,902110,10:30:18
13646,10:31:52,0,1 UCLA,498,6,902110,10:31:52
13647,10:32:43,0,1 UCLA,55,7,902110,10:32:43
13648,10:33:51,0,1 UCLA,386,8,902110,10:33:51
13649,10:34:25,0,1 UCLA,474,9,902110,10:34:25
13650,10:35:22,0,1 UCLA,365,10,902110,10:35:22
13651,10:36:11,0,1 UCLA,366,11,902110,10:36:11
13652,10:37:01,0,1 UCLA,434,12,902110,10:37:01
13653,10:38:36,0,1 UCLA,394,13,902110,10:38:36
13654,10:40:51,0,1 UCLA,403,14,902110,10:40:51
13655,10:43:22,0,1 UCLA,590,15,902110,10:43:22
13656,10:44:50,0,1 VENICE,499,16,902110,10:44:50
13657,10:46:21,0,1 VENICE,500,17,902110,10:46:21
13658,10:47:30,0,1 VENICE,501,18,902110,10:47:30
13659,10:48:31,0,1 VENICE,88,19,902110,10:48:31
13660,10:50:17,0,1 VENICE,502,20,902110,10:50:17
13661,10:51:06,0,1 VENICE,503,21,902110,10:51:06
13662,10:51:56,0,1 VENICE,504,22,902110,10:51:56
13663,10:53:00,0,1 VENICE,505,23,902110,10:53:00
13664,10:54:57,0,1 VENICE,235,24,902110,10:54:57
13665,10:55:51,0,1 VENICE,507,25,902110,10:55:51
13666,10:56:55,0,1 VENICE,665,26,902110,10:56:55
13667,10:57:24,0,1 VENICE,508,27,902110,10:57:24
13668,10:58:52,0,1 VENICE,343,28,902110,10:58:52
13669,11:00:23,0,1 VENICE,242,29,902110,11:00:23
13670,11:01:14,0,1 VENICE,510,30,902110,11:01:14
13671,11:02:53,0,1 VENICE,511,31,902110,11:02:53
13672,11:04:21,0,1 VENICE,512,32,902110,11:04:21
13673,11:04:42,0,1 VENICE,513,33,902110,11:04:42
13674,11:07:17,0,1 VENICE,514,34,902110,11:07:17
13675,11:09:21,0,1 VENICE,515,35,902110,11:09:21
13676,11:11:14,0,1 VENICE,516,36,902110,11:11:14
13677,11:12:13,0,1 VENICE,521,37,902110,11:12:13
13678,11:12:57,0,1 VENICE,522,38,902110,11:12:57
13679,11:13:27,0,1 VENICE,523,39,902110,11:13:27
13680,11:14:29,0,1 VENICE,524,40,902110,11:14:29
13681,11:16:16,0,1 VENICE,527,41,902110,11:16:16
13682,11:16:59,0,1 VENICE,380,42,902110,11:16:59
13683,11:18:05,0,1 VENICE,528,43,902110,11:18:05
13684,11:20:19,0,1 VENICE,529,44,902110,11:20:19
13685,11:20:59,0,1 VENICE,530,45,902110,11:20:59
13686,11:22:02,0,1 VENICE,786,46,902110,11:22:02

In [23]:
feed_filtered.stop_times.loc[
    feed_filtered.stop_times["trip_id"] == "902110"
].sort_values("stop_sequence")

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
16151,902110,10:29:00,10:29:00,962,1,1 UCLA,0,0,0.00,1
16152,902110,10:30:00,10:30:00,112,2,1 UCLA,0,0,201.46,1
16153,902110,10:30:32,10:30:32,495,3,1 UCLA,0,0,421.59,0
16154,902110,10:31:16,10:31:16,496,4,1 UCLA,0,0,670.85,0
16155,902110,10:32:11,10:32:11,497,5,1 UCLA,0,0,1014.24,0
16156,902110,10:32:45,10:32:45,498,6,1 UCLA,0,0,1171.95,0
16157,902110,10:33:30,10:33:30,55,7,1 UCLA,0,0,1451.83,0
16158,902110,10:34:42,10:34:42,386,8,1 UCLA,0,0,1865.59,0
16159,902110,10:35:16,10:35:16,474,9,1 UCLA,0,0,2079.43,0
16160,902110,10:36:22,10:36:22,365,10,1 UCLA,0,0,2445.39,0
16161,902110,10:37:17,10:37:17,366,11,1 UCLA,0,0,2775.47,0
16162,902110,10:38:29,10:38:29,434,12,1 UCLA,0,0,3185.47,0
16163,902110,10:40:14,10:40:14,394,13,1 UCLA,0,0,3833.91,0
16164,902110,10:41:17,10:41:17,403,14,1 UCLA,0,0,4195.03,0
16165,902110,10:42:00,10:42:00,590,15,1 UCLA,0,0,4368.07,1
16166,902110,10:42:43,10:42:43,499,16,1 VENICE,0,0,4613.77,0
16167,902110,10:43:46,10:43:46,500,17,1 VENICE,0,0,4980.73,0
16168,902110,10:44:48,10:44:48,501,18,1 VENICE,0,0,5333.75,0
16169,902110,10:45:54,10:45:54,88,19,1 VENICE,0,0,5766.59,0
16170,902110,10:46:57,10:46:57,502,20,1 VENICE,0,0,6161.59,0
16171,902110,10:47:36,10:47:36,503,21,1 VENICE,0,0,6341.03,0
16172,902110,10:48:05,10:48:05,504,22,1 VENICE,0,0,6523.47,0
16173,902110,10:49:00,10:49:00,505,23,1 VENICE,0,0,6800.28,0
16174,902110,10:50:07,10:50:07,235,24,1 VENICE,0,0,7199.74,0
16175,902110,10:50:43,10:50:43,507,25,1 VENICE,0,0,7378.80,0
16176,902110,10:51:29,10:51:29,665,26,1 VENICE,0,0,7648.94,0
16177,902110,10:52:04,10:52:04,508,27,1 VENICE,0,0,7817.96,0
16178,902110,10:53:00,10:53:00,343,28,1 VENICE,0,0,8082.64,1
16179,902110,10:54:40,10:54:40,242,29,1 VENICE,0,0,8445.92,0
16180,902110,10:56:07,10:56:07,510,30,1 VENICE,0,0,8763.72,0
16181,902110,10:57:12,10:57:12,511,31,1 VENICE,0,0,9017.65,0
16182,902110,10:58:59,10:58:59,512,32,1 VENICE,0,0,9387.90,0
16183,902110,10:59:29,10:59:29,513,33,1 VENICE,0,0,9501.26,0
16184,902110,11:01:32,11:01:32,514,34,1 VENICE,0,0,9987.32,0
16185,902110,11:03:02,11:03:02,515,35,1 VENICE,0,0,10315.80,0
16186,902110,11:04:54,11:04:54,516,36,1 VENICE,0,0,10716.17,0
16187,902110,11:05:42,11:05:42,521,37,1 VENICE,0,0,10915.31,0
16188,902110,11:07:04,11:07:04,522,38,1 VENICE,0,0,11222.95,0
16189,902110,11:08:15,11:08:15,523,39,1 VENICE,0,0,11492.11,0
16190,902110,11:09:43,11:09:43,524,40,1 VENICE,0,0,11793.68,0
16191,902110,11:11:47,11:11:47,527,41,1 VENICE,0,0,12251.87,0
16192,902110,11:12:19,11:12:19,380,42,1 VENICE,0,0,12370.16,0
16193,902110,11:13:26,11:13:26,528,43,1 VENICE,0,0,12605.31,0
16194,902110,11:15:27,11:15:27,529,44,1 VENICE,0,0,13072.44,0
16195,902110,11:16:57,11:16:57,530,45,1 VENICE,0,0,13417.11,0
16196,902110,11:18:00,11:18:00,786,46,1 VENICE,0,0,13676.20,1