In [1]:
import datetime as dt
import pathlib

import retrospective_feed_generation.columns as col
import geopandas as gpd
import numpy as np
import pandas as pd
from retrospective_feed_generation.gtfs_utils import *
#  pip install gtfs-lite
from gtfslite import GTFS
from retrospective_feed_generation.retrospective_feed_generation import *
from retrospective_feed_generation.retrospective_feed_generation import _filter_non_rt_trips
from shared_utils import gtfs_utils_v2, rt_dates
from retrospective_feed_generation.warehouse_utils import *

### Edit these values to change output

In [2]:
# the target date for feed generation
TARGET_DATE = rt_dates.DATES["apr2025"]
# the name (from airtable) of the schedule feed
FEED_NAME = "Big Blue Bus Schedule"
# the local path to the parent directory of the schedule feed
#GTFS_FEED_PARENT = f"../conveyal_update/feeds_{TARGET_DATE}/socal/"
GTFS_FEED_PARENT = "./"
# a glob that produces one result within GTFS_FEED_PARENT and leads to the schedule feed
#GTFS_FEED_GLOB = "Big_Blue_Bus_Schedule_*.zip/*.zip"
GTFS_FEED_GLOB = "bbb_original.zip"
# the maximum number of stops where a gap should be imputed
MAX_STOP_GAP = 5
# the name of the output feed
OUTPUT_FEED_PATH = f"output_feeds/bbb_test_{TARGET_DATE}.zip"

In [3]:
path = pathlib.Path('./output_feeds')
if not path.exists(): path.mkdir()

### Get RT Data

In [4]:
# Get the schedule gtfs dataset key
gtfs_dataset_key = (
    gtfs_utils_v2.schedule_daily_feed_to_gtfs_dataset_name(
        selected_date=TARGET_DATE, keep_cols=["name", "gtfs_dataset_key"]
    )
    .set_index("name")
    .at[FEED_NAME, "gtfs_dataset_key"]
)
gtfs_dataset_key

'c65bd95ac0009a74df9ff840fc416771'

In [5]:
# Get the merged schedule/stop times table
schedule_rt_stop_times_single_agency = _filter_non_rt_trips(
    get_schedule_rt_stop_times_table(gtfs_dataset_key, TARGET_DATE),
    col.DEFAULT_COLUMN_MAP,
).reset_index(drop=True)

In [6]:
#schedule_rt_stop_times_single_agency.to_parquet("cached_feed.parquet")

In [7]:
#schedule_rt_stop_times_single_agency = _filter_non_rt_trips(
#    pd.read_parquet("cached_feed.parquet"), columns=col.DEFAULT_COLUMN_MAP
#).reset_index(drop=True)

In [8]:
# Impute certain unrealistic (first/last, nonmonotonic, short gap) stop times
# Logic here is wip
schedule_rt_stop_times_single_agency["gap_imputed_sec"] = impute_unrealistic_rt_times(
    schedule_rt_stop_times_single_agency,
    max_gap_length=MAX_STOP_GAP,
    columns=col.DEFAULT_COLUMN_MAP,
)

### Get schedule feed

In [9]:
# Get the path to the schedule feed
feed_paths = pathlib.Path(GTFS_FEED_PARENT).glob(GTFS_FEED_GLOB)
feed_path = next(feed_paths)
assert next(feed_paths, None) is None, "Ambiguous Schedule Feed"

# Load the schedule feed using gtfs-lite and filter it
feed = GTFS.load_zip(feed_path)
feed_filtered = subset_schedule_feed_to_one_date(
    feed, dt.date.fromisoformat(TARGET_DATE)
)

### Merge schedule / rt

In [10]:
# Generate the feed based on the imputed rt times and the downloaded schedule feed
output_feed = make_retrospective_feed_single_date(
    filtered_input_feed=feed_filtered,
    stop_times_table=schedule_rt_stop_times_single_agency,
    stop_times_desired_columns=[
        "trip_id",
        "arrival_time",
        "departure_time",
        "drop_off_type",
        "pickup_type",
        "stop_headsign",
        "stop_id",
        "stop_sequence",
    ],
    stop_times_table_columns={
        **col.DEFAULT_COLUMN_MAP,
        col.RT_ARRIVAL_SEC: "gap_imputed_sec",
    },
)

merged_filtered columns Index(['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence',
       'stop_headsign', 'pickup_type', 'drop_off_type', 'shape_dist_traveled',
       'timepoint', 'feed_arrival_sec', 'warehouse_stop_id',
       'warehouse_scheduled_arrival_sec', 'schedule_gtfs_dataset_key',
       'trip_instance_key', 'rt_arrival_sec', 'gap_imputed_sec',
       'rt_arrival_gtfs_time'],
      dtype='object')
       trip_id arrival_time departure_time stop_id  stop_sequence  \
0         6110     17:20:00       17:20:00     963              1
1         6110     17:20:25       17:20:25     484              2
2         6110     17:21:13       17:21:13      92              3
3         6110     17:22:23       17:22:23      93              4
4         6110     17:23:57       17:23:57     293              5
...        ...          ...            ...     ...            ...
48624  3197110     07:43:18       07:43:18     545             13
48625  3197110     07:46:48       07:46:48     743             14
48626  3197110     07:50:33       07:50:33     394             15
48627  3197110     07:51:46       07:51:46     525             16
48628  3197110     07:53:00       07:53:00     553             17

                       stop_headsign  pickup_type  drop_off_type  \
0      41 17TH ST/SMC STATION E LINE            0              0
1      41 17TH ST/SMC STATION E LINE            0              0
2      41 17TH ST/SMC STATION E LINE            0              0
3      41 17TH ST/SMC STATION E LINE            0              0
4      41 17TH ST/SMC STATION E LINE            0              0
...                              ...          ...            ...
48624       R3 DOWNTOWN SANTA MONICA            0              0
48625       R3 DOWNTOWN SANTA MONICA            0              0
48626       R3 DOWNTOWN SANTA MONICA            0              0
48627       R3 DOWNTOWN SANTA MONICA            0              0
48628       R3 DOWNTOWN SANTA MONICA            0              0

       shape_dist_traveled  timepoint  feed_arrival_sec warehouse_stop_id  \
0                     0.00          1             62400               963
1                   114.88          0             62425               484
2                   368.79          0             62473                92
3                   673.88          0             62543                93
4                  1113.36          0             62637               293
...                    ...        ...               ...               ...
48624             15609.36          0             27798               545
48625             16578.76          0             28008               743
48626             17632.09          0             28233               394
48627             17943.97          0             28306               525
48628             18239.55          1             28380               553

       warehouse_scheduled_arrival_sec         schedule_gtfs_dataset_key  \
0                              62400.0  c65bd95ac0009a74df9ff840fc416771
1                              62425.0  c65bd95ac0009a74df9ff840fc416771
2                              62473.0  c65bd95ac0009a74df9ff840fc416771
3                              62543.0  c65bd95ac0009a74df9ff840fc416771
4                              62637.0  c65bd95ac0009a74df9ff840fc416771
...                                ...                               ...
48624                          27798.0  c65bd95ac0009a74df9ff840fc416771
48625                          28008.0  c65bd95ac0009a74df9ff840fc416771
48626                          28233.0  c65bd95ac0009a74df9ff840fc416771
48627                          28306.0  c65bd95ac0009a74df9ff840fc416771
48628                          28380.0  c65bd95ac0009a74df9ff840fc416771

                      trip_instance_key  rt_arrival_sec  gap_imputed_sec  \
0      bf8816bca40421b477499b70cc183c05             NaN          62412.0
1      bf8816bca40421b477499b70cc183c05         62437.0          62437.0
2      bf8816bca40421b477499b70cc183c05         62482.0          62482.0
3      bf8816bca40421b477499b70cc183c05         62505.0          62505.0
4      bf8816bca40421b477499b70cc183c05         62656.0          62656.0
...                                 ...             ...              ...
48624  6c82ecfb208d0e9482d2903f1824ce78         27875.0          27875.0
48625  6c82ecfb208d0e9482d2903f1824ce78         28041.0          28041.0
48626  6c82ecfb208d0e9482d2903f1824ce78             NaN          28309.0
48627  6c82ecfb208d0e9482d2903f1824ce78         28396.0          28396.0
48628  6c82ecfb208d0e9482d2903f1824ce78             NaN          28470.0

      rt_arrival_gtfs_time
0                 17:20:12
1                 17:20:37
2                 17:21:22
3                 17:21:45
4                 17:24:16
...                    ...
48624             07:44:35
48625             07:47:21
48626             07:51:49
48627             07:53:16
48628             07:54:30

[48629 rows x 18 columns]
      arrival_time departure_time
0         17:20:00       17:20:00
1         17:20:25       17:20:25
2         17:21:13       17:21:13
3         17:22:23       17:22:23
4         17:23:57       17:23:57
...            ...            ...
48624     07:43:18       07:43:18
48625     07:46:48       07:46:48
48626     07:50:33       07:50:33
48627     07:51:46       07:51:46
48628     07:53:00       07:53:00

[48629 rows x 2 columns]
       trip_id stop_id  stop_sequence                  stop_headsign  \
0         6110     963              1  41 17TH ST/SMC STATION E LINE
1         6110     484              2  41 17TH ST/SMC STATION E LINE
2         6110      92              3  41 17TH ST/SMC STATION E LINE
3         6110      93              4  41 17TH ST/SMC STATION E LINE
4         6110     293              5  41 17TH ST/SMC STATION E LINE
...        ...     ...            ...                            ...
48624  3197110     545             13       R3 DOWNTOWN SANTA MONICA
48625  3197110     743             14       R3 DOWNTOWN SANTA MONICA
48626  3197110     394             15       R3 DOWNTOWN SANTA MONICA
48627  3197110     525             16       R3 DOWNTOWN SANTA MONICA
48628  3197110     553             17       R3 DOWNTOWN SANTA MONICA

       pickup_type  drop_off_type  shape_dist_traveled  timepoint  \
0                0              0                 0.00          1
1                0              0               114.88          0
2                0              0               368.79          0
3                0              0               673.88          0
4                0              0              1113.36          0
...            ...            ...                  ...        ...
48624            0              0             15609.36          0
48625            0              0             16578.76          0
48626            0              0             17632.09          0
48627            0              0             17943.97          0
48628            0              0             18239.55          1

       feed_arrival_sec warehouse_stop_id  warehouse_scheduled_arrival_sec  \
0                 62400               963                          62400.0
1                 62425               484                          62425.0
2                 62473                92                          62473.0
3                 62543                93                          62543.0
4                 62637               293                          62637.0
...                 ...               ...                              ...
48624             27798               545                          27798.0
48625             28008               743                          28008.0
48626             28233               394                          28233.0
48627             28306               525                          28306.0
48628             28380               553                          28380.0

              schedule_gtfs_dataset_key                 trip_instance_key  \
0      c65bd95ac0009a74df9ff840fc416771  bf8816bca40421b477499b70cc183c05
1      c65bd95ac0009a74df9ff840fc416771  bf8816bca40421b477499b70cc183c05
2      c65bd95ac0009a74df9ff840fc416771  bf8816bca40421b477499b70cc183c05
3      c65bd95ac0009a74df9ff840fc416771  bf8816bca40421b477499b70cc183c05
4      c65bd95ac0009a74df9ff840fc416771  bf8816bca40421b477499b70cc183c05
...                                 ...                               ...
48624  c65bd95ac0009a74df9ff840fc416771  6c82ecfb208d0e9482d2903f1824ce78
48625  c65bd95ac0009a74df9ff840fc416771  6c82ecfb208d0e9482d2903f1824ce78
48626  c65bd95ac0009a74df9ff840fc416771  6c82ecfb208d0e9482d2903f1824ce78
48627  c65bd95ac0009a74df9ff840fc416771  6c82ecfb208d0e9482d2903f1824ce78
48628  c65bd95ac0009a74df9ff840fc416771  6c82ecfb208d0e9482d2903f1824ce78

       rt_arrival_sec  gap_imputed_sec rt_arrival_gtfs_time
0                 NaN          62412.0             17:20:12
1             62437.0          62437.0             17:20:37
2             62482.0          62482.0             17:21:22
3             62505.0          62505.0             17:21:45
4             62656.0          62656.0             17:24:16
...               ...              ...                  ...
48624         27875.0          27875.0             07:44:35
48625         28041.0          28041.0             07:47:21
48626             NaN          28309.0             07:51:49
48627         28396.0          28396.0             07:53:16
48628             NaN          28470.0             07:54:30

[48629 rows x 16 columns]

In [11]:
# Save the output to a zip file
output_feed.write_zip(OUTPUT_FEED_PATH)

### Dropped shapes and stops

In [12]:
print("Get dropped shapes by their frequency")
feed_filtered.trips.loc[
    ~feed_filtered.trips.shape_id.isin(output_feed.trips.shape_id.unique()), "shape_id"
].value_counts()

Get dropped shapes by their frequency

shp-009-52    32
shp-009-01    28
shp-009-03     4
shp-009-51     2
Name: shape_id, dtype: int64

In [13]:
print("Get dropped stops by the number of trips serving them in the original feed")
pd.DataFrame(
    feed_filtered.stop_times.loc[
        ~feed_filtered.stop_times.stop_id.isin(output_feed.stop_times.stop_id.unique()),
        "stop_id",
    ]
    .value_counts()
    .rename("stop_count")
).merge(
    feed_filtered.stops.set_index("stop_id")["stop_name"],
    how="left",
    left_index=True,
    right_index=True,
).head()

Get dropped stops by the number of trips serving them in the original feed

     stop_count                       stop_name
125          64                    MARQUEZ LOOP
862          34  CHAUTAUQUA BLVD & LA CUMBRE DR
853          34         SUNSET BLVD & BAYLOR ST
854          34    SUNSET BLVD & BIENVENIDA AVE
855          34      SUNSET BLVD & EL MEDIO AVE

### Sample Trip

In [14]:
schedule_rt_stop_times_single_agency.loc[
    schedule_rt_stop_times_single_agency.trip_id == "902110"
]

,trip_id,stop_id,stop_sequence,scheduled_arrival_sec,schedule_gtfs_dataset_key,trip_instance_key,rt_arrival_sec,gap_imputed_sec
22098,902110,962,1,37740.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,NaN,37599.0
22099,902110,112,2,37800.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,37707.0,37659.0
22100,902110,495,3,37832.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,37691.0,37691.0
22101,902110,496,4,37876.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,NaN,37747.0
22102,902110,497,5,37931.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,37818.0,37818.0
22103,902110,498,6,37965.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,37912.0,37912.0
22104,902110,55,7,38010.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,37963.0,37963.0
22105,902110,386,8,38082.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38031.0,38031.0
22106,902110,474,9,38116.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38065.0,38065.0
22107,902110,365,10,38182.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38122.0,38122.0
22108,902110,366,11,38237.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38171.0,38171.0
22109,902110,434,12,38309.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38221.0,38221.0
22110,902110,394,13,38414.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38316.0,38316.0
22111,902110,403,14,38477.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38451.0,38451.0
22112,902110,590,15,38520.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38602.0,38602.0
22113,902110,499,16,38563.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38690.0,38690.0
22114,902110,500,17,38626.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38781.0,38781.0
22115,902110,501,18,38688.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38850.0,38850.0
22116,902110,88,19,38754.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,38911.0,38911.0
22117,902110,502,20,38817.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39017.0,39017.0
22118,902110,503,21,38856.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39066.0,39066.0
22119,902110,504,22,38885.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39116.0,39116.0
22120,902110,505,23,38940.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39180.0,39180.0
22121,902110,235,24,39007.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39297.0,39297.0
22122,902110,507,25,39043.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39351.0,39351.0
22123,902110,665,26,39089.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39415.0,39415.0
22124,902110,508,27,39124.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39444.0,39444.0
22125,902110,343,28,39180.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39532.0,39532.0
22126,902110,242,29,39280.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39623.0,39623.0
22127,902110,510,30,39367.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39674.0,39674.0
22128,902110,511,31,39432.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39773.0,39773.0
22129,902110,512,32,39539.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39861.0,39861.0
22130,902110,513,33,39569.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,39882.0,39882.0
22131,902110,514,34,39692.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40037.0,40037.0
22132,902110,515,35,39782.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40161.0,40161.0
22133,902110,516,36,39894.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40274.0,40274.0
22134,902110,521,37,39942.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40333.0,40333.0
22135,902110,522,38,40024.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40377.0,40377.0
22136,902110,523,39,40095.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40407.0,40407.0
22137,902110,524,40,40183.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40469.0,40469.0
22138,902110,527,41,40307.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40576.0,40576.0
22139,902110,380,42,40339.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40619.0,40619.0
22140,902110,528,43,40406.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40685.0,40685.0
22141,902110,529,44,40527.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40819.0,40819.0
22142,902110,530,45,40617.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,40859.0,40859.0
22143,902110,786,46,40680.0,c65bd95ac0009a74df9ff840fc416771,75a9cd5a7d094c8b1dcd5ee58b632abf,NaN,40922.0

In [15]:
output_feed.stop_times.loc[output_feed.stop_times["trip_id"] == "143110"]

,arrival_time,departure_time,drop_off_type,pickup_type,stop_headsign,stop_id,stop_sequence,trip_id
2214,12:05:16,12:05:16,0,0,14 BRENTWOOD,1015,1,143110
2215,12:08:34,12:08:34,0,0,14 BRENTWOOD,1016,2,143110
2216,12:11:23,12:11:23,0,0,14 BRENTWOOD,1017,3,143110
2217,12:12:19,12:12:19,0,0,14 BRENTWOOD,1019,4,143110
2218,12:13:48,12:13:48,0,0,14 BRENTWOOD,1000,5,143110
2219,12:16:58,12:16:58,0,0,14 BRENTWOOD,144,6,143110
2220,12:17:36,12:17:36,0,0,14 BRENTWOOD,145,7,143110
2221,12:19:01,12:19:01,0,0,14 BRENTWOOD,146,8,143110
2222,12:19:45,12:19:45,0,0,14 BRENTWOOD,147,9,143110
2223,12:21:04,12:21:04,0,0,14 BRENTWOOD,148,10,143110
2224,12:21:33,12:21:33,0,0,14 BRENTWOOD,149,11,143110
2225,12:22:39,12:22:39,0,0,14 BRENTWOOD,150,12,143110
2226,12:24:02,12:24:02,0,0,14 BRENTWOOD,151,13,143110
2227,12:25:04,12:25:04,0,0,14 BRENTWOOD,152,14,143110
2228,12:26:28,12:26:28,0,0,14 BRENTWOOD,38,15,143110
2229,12:26:50,12:26:50,0,0,14 BRENTWOOD,39,16,143110
2230,12:28:18,12:28:18,0,0,14 BRENTWOOD,127,17,143110
2231,12:29:01,12:29:01,0,0,14 BRENTWOOD,585,18,143110
2232,12:30:37,12:30:37,0,0,14 BRENTWOOD,586,19,143110
2233,12:31:27,12:31:27,0,0,14 BRENTWOOD,133,20,143110
2234,12:33:13,12:33:13,0,0,14 BRENTWOOD,40,21,143110
2235,12:34:34,12:34:34,0,0,14 BRENTWOOD,41,22,143110
2236,12:35:24,12:35:24,0,0,14 BRENTWOOD,42,23,143110
2237,12:36:30,12:36:30,0,0,14 BRENTWOOD,583,24,143110
2238,12:37:20,12:37:20,0,0,14 BRENTWOOD,584,25,143110
2239,12:38:45,12:38:45,0,0,14 BRENTWOOD,448,26,143110
2240,12:40:11,12:40:11,0,0,14 BRENTWOOD,443,27,143110
2241,12:41:17,12:41:17,0,0,14 BRENTWOOD,43,28,143110
2242,12:42:28,12:42:28,0,0,14 BRENTWOOD,405,29,143110
2243,12:43:45,12:43:45,0,0,14 BRENTWOOD,340,30,143110
2244,12:45:02,12:45:02,0,0,14 BRENTWOOD,905,31,143110
2245,12:46:40,12:46:40,0,0,14 BRENTWOOD,906,32,143110
2246,12:47:24,12:47:24,0,0,14 BRENTWOOD,907,33,143110
2247,12:48:07,12:48:07,0,0,14 BRENTWOOD,908,34,143110
2248,12:48:47,12:48:47,0,0,14 BRENTWOOD,909,35,143110
2249,12:49:26,12:49:26,0,0,14 BRENTWOOD,411,36,143110
2250,12:51:16,12:51:16,0,0,14 BRENTWOOD,886,37,143110
2251,12:52:50,12:52:50,0,0,14 BRENTWOOD,640,38,143110
2252,12:55:02,12:55:02,0,0,14 BRENTWOOD,642,39,143110
2253,12:56:31,12:56:31,0,0,14 BRENTWOOD,715,40,143110
2254,12:58:33,12:58:33,0,0,14 BRENTWOOD,311,41,143110

In [16]:
feed_filtered.stop_times.loc[
    feed_filtered.stop_times["trip_id"] == "902110"
].sort_values("stop_sequence")

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
16151,902110,10:29:00,10:29:00,962,1,1 UCLA,0,0,0.00,1
16152,902110,10:30:00,10:30:00,112,2,1 UCLA,0,0,201.46,1
16153,902110,10:30:32,10:30:32,495,3,1 UCLA,0,0,421.59,0
16154,902110,10:31:16,10:31:16,496,4,1 UCLA,0,0,670.85,0
16155,902110,10:32:11,10:32:11,497,5,1 UCLA,0,0,1014.24,0
16156,902110,10:32:45,10:32:45,498,6,1 UCLA,0,0,1171.95,0
16157,902110,10:33:30,10:33:30,55,7,1 UCLA,0,0,1451.83,0
16158,902110,10:34:42,10:34:42,386,8,1 UCLA,0,0,1865.59,0
16159,902110,10:35:16,10:35:16,474,9,1 UCLA,0,0,2079.43,0
16160,902110,10:36:22,10:36:22,365,10,1 UCLA,0,0,2445.39,0
16161,902110,10:37:17,10:37:17,366,11,1 UCLA,0,0,2775.47,0
16162,902110,10:38:29,10:38:29,434,12,1 UCLA,0,0,3185.47,0
16163,902110,10:40:14,10:40:14,394,13,1 UCLA,0,0,3833.91,0
16164,902110,10:41:17,10:41:17,403,14,1 UCLA,0,0,4195.03,0
16165,902110,10:42:00,10:42:00,590,15,1 UCLA,0,0,4368.07,1
16166,902110,10:42:43,10:42:43,499,16,1 VENICE,0,0,4613.77,0
16167,902110,10:43:46,10:43:46,500,17,1 VENICE,0,0,4980.73,0
16168,902110,10:44:48,10:44:48,501,18,1 VENICE,0,0,5333.75,0
16169,902110,10:45:54,10:45:54,88,19,1 VENICE,0,0,5766.59,0
16170,902110,10:46:57,10:46:57,502,20,1 VENICE,0,0,6161.59,0
16171,902110,10:47:36,10:47:36,503,21,1 VENICE,0,0,6341.03,0
16172,902110,10:48:05,10:48:05,504,22,1 VENICE,0,0,6523.47,0
16173,902110,10:49:00,10:49:00,505,23,1 VENICE,0,0,6800.28,0
16174,902110,10:50:07,10:50:07,235,24,1 VENICE,0,0,7199.74,0
16175,902110,10:50:43,10:50:43,507,25,1 VENICE,0,0,7378.80,0
16176,902110,10:51:29,10:51:29,665,26,1 VENICE,0,0,7648.94,0
16177,902110,10:52:04,10:52:04,508,27,1 VENICE,0,0,7817.96,0
16178,902110,10:53:00,10:53:00,343,28,1 VENICE,0,0,8082.64,1
16179,902110,10:54:40,10:54:40,242,29,1 VENICE,0,0,8445.92,0
16180,902110,10:56:07,10:56:07,510,30,1 VENICE,0,0,8763.72,0
16181,902110,10:57:12,10:57:12,511,31,1 VENICE,0,0,9017.65,0
16182,902110,10:58:59,10:58:59,512,32,1 VENICE,0,0,9387.90,0
16183,902110,10:59:29,10:59:29,513,33,1 VENICE,0,0,9501.26,0
16184,902110,11:01:32,11:01:32,514,34,1 VENICE,0,0,9987.32,0
16185,902110,11:03:02,11:03:02,515,35,1 VENICE,0,0,10315.80,0
16186,902110,11:04:54,11:04:54,516,36,1 VENICE,0,0,10716.17,0
16187,902110,11:05:42,11:05:42,521,37,1 VENICE,0,0,10915.31,0
16188,902110,11:07:04,11:07:04,522,38,1 VENICE,0,0,11222.95,0
16189,902110,11:08:15,11:08:15,523,39,1 VENICE,0,0,11492.11,0
16190,902110,11:09:43,11:09:43,524,40,1 VENICE,0,0,11793.68,0
16191,902110,11:11:47,11:11:47,527,41,1 VENICE,0,0,12251.87,0
16192,902110,11:12:19,11:12:19,380,42,1 VENICE,0,0,12370.16,0
16193,902110,11:13:26,11:13:26,528,43,1 VENICE,0,0,12605.31,0
16194,902110,11:15:27,11:15:27,529,44,1 VENICE,0,0,13072.44,0
16195,902110,11:16:57,11:16:57,530,45,1 VENICE,0,0,13417.11,0
16196,902110,11:18:00,11:18:00,786,46,1 VENICE,0,0,13676.20,1