# [Research Request - Explore data for PUC 99314.11 leg report #1613](https://github.com/cal-itp/data-analyses/issues/1613)

Discussed with Peter and Cayman about PUC 99314.11, specifically about sub-section (d)(1)

>(d) (1) On or before November 30, 2025, the department shall submit a report to the Legislature on the revenue vehicle hours, ridership, and passenger mile impacts on the services offered by operators to which Sections 99314.6 and 99314.7 do not apply pursuant to subdivision (a).

1. read in SCO data
2. read in warehouse data for annual ntd reporters

Compare both sources, see which agencies join or not join in either list. 

Compare data in both sources, see if any annual totals match

In [1]:
import pandas as pd
from calitp_data_analysis.sql import to_snakecase

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)

# Read in SCO data
Data is speard out among different excel files for different state fiscal years

In [2]:
url_23_24 = "https://bythenumbers.sco.ca.gov/download/bdqr-pszz/application%2Fvnd.openxmlformats-officedocument.spreadsheetml.sheet"
url_21_22 = "https://bythenumbers.sco.ca.gov/download/aqpg-as24/application%2Fvnd.openxmlformats-officedocument.spreadsheetml.sheet"
url_18_20 = "https://bythenumbers.sco.ca.gov/download/6dj3-r4jw/application%2Fvnd.openxmlformats-officedocument.spreadsheetml.sheet"

all_years = [
    url_23_24,
    url_21_22,
    url_18_20   
]

In [3]:
# what are the sheet names for each excel file?
for data in all_years:
    sco_info = pd.ExcelFile(data)
    print(sco_info.sheet_names)

['ENTITIES', '3 TO_REV_EXP', '4 TO_APPROP_LIMIT', '5 TO_OPERATING_DATA', '6 TO_OPCOST_EXCLUSION_EXEMPT', '7 TO_CONTRACT_PRISON', '8 TO_LONG_TERM_DEBT', '9 TO_STATE_NET_POSIT']
['ENTITIES', '3 TO_REV_EXP', '4 TO_APPROP_LIMIT', '5 TO_OPERATING_DATA', '6 TO_OPCOST_EXCLUSION_EXEMPT', '7 TO_CONTRACT_PRISON', '8 TO_LONG_TERM_DEBT', '9 TO_STATE_NET_POSIT']
['ENTITIES', 'TO_REV_EXP', 'TO_APPROP_LIMIT', 'TO_OPERATING_DATA', 'TO_OPCOST_EXCLUSION_EXEMPT', 'TO_CONTRACT_PRISON', 'TO_LONG_TERM_DEBT', 'TO_STATE_NET_POSIT']

In [4]:
def make_sco_df(url:str, sheet:str) -> pd.DataFrame:
    """
    Function that reads in each excel url at specific sheet name. then snakecases all the columns
    """
    df = pd.read_excel(url, sheet_name = sheet)
    df = to_snakecase(df)
    
    return df

In [5]:
# make DFs for each excel sheet
ops_18_20 = make_sco_df(url_18_20, "TO_OPERATING_DATA")
ops_21_22 = make_sco_df(url_21_22, "5 TO_OPERATING_DATA")
ops_23_24 = make_sco_df(url_23_24, "5 TO_OPERATING_DATA")

In [6]:
# examine each sheet was read in successfully
display(
    ops_18_20.shape,
    ops_21_22.shape,
    ops_23_24.shape
)

(832, 107)

(571, 107)

(558, 107)

## SCO data cleaning

In [7]:
# do all DFs have the same columns?
set(ops_18_20.columns) == set(ops_21_22.columns) == set(ops_23_24.columns) #TRUE!

True

In [8]:
# group column names by similar categories 

date_cols =[
    'date_service_began_operations__mm_dd_yyyy__motor_bus',
    'date_service_began_operations__mm_dd_yyyy__heavy_rail',
    'date_service_began_operations__mm_dd_yyyy__light_rail',
    'date_service_began_operations__mm_dd_yyyy__trolley_bus',
    'date_service_began_operations__mm_dd_yyyy__ferry_boat',
    'date_service_began_operations__mm_dd_yyyy__demand_response_vehicles',
    'date_service_began_operations__mm_dd_yyyy__vanpool',
    'date_service_began_operations__mm_dd_yyyy__other_transportation_mode__specify_'
]

vrh_cols = [
    "total_actual_vehicle_revenue_hours_—_annual_demand_response_vehicles_actual_vehicle_revenue_hours_—_annual",
    "total_actual_vehicle_revenue_hours_—_annual_ferry_boat_actual_vehicle_revenue_hours_—_annual",
    "total_actual_vehicle_revenue_hours_—_annual_heavy_rail_actual_vehicle_revenue_hours_—_annual",
    "total_actual_vehicle_revenue_hours_—_annual_light_rail_actual_vehicle_revenue_hours_—_annual",
    "total_actual_vehicle_revenue_hours_—_annual_motor_bus_actual_vehicle_revenue_hours_—_annual",
    "total_actual_vehicle_revenue_hours_—_annual_other_transportation_mode__specify__actual_vehicle_revenue_hours_—_annual",
    "total_actual_vehicle_revenue_hours_—_annual_trolley_bus_actual_vehicle_revenue_hours_—_annual",
    "total_actual_vehicle_revenue_hours_—_annual_vanpool_actual_vehicle_revenue_hours_—_annual",
]

vrm_cols = [
    "total_actual_vehicle_revenue_miles_demand_response_vehicles",
    "total_actual_vehicle_revenue_miles_ferry_boat",
    "total_actual_vehicle_revenue_miles_heavy_rail",
    "total_actual_vehicle_revenue_miles_light_rail",
    "total_actual_vehicle_revenue_miles_motor_bus",
    "total_actual_vehicle_revenue_miles_other_transportation_mode__specify_",
    "total_actual_vehicle_revenue_miles_trolley_bus",
    "total_actual_vehicle_revenue_miles_vanpool",
]

passenger_cols = [
    "total_passengers_—_annual_demand_response_vehicles",
    "total_passengers_—_annual_ferry_boat",
    "total_passengers_—_annual_heavy_rail",
    "total_passengers_—_annual_light_rail",
    "total_passengers_—_annual_motor_bus",
    "total_passengers_—_annual_other_transportation_mode__specify_",
    "total_passengers_—_annual_trolley_bus",
    "total_passengers_—_annual_vanpool",
]

group_list = ['entity_name', 'fiscal_year', 'entity_id']

In [9]:
# do all DFs have the same column datatypes?
display(
    ops_18_20.dtypes.equals(ops_21_22.dtypes),
    ops_18_20.dtypes.equals(ops_23_24.dtypes),
    ops_21_22.dtypes.equals(ops_23_24.dtypes),
)

# op_18_20 data types dont match.

False

False

True

In [10]:
# columns dont match?
col_cats ={
    "date columns":date_cols,
    "vrh columns":vrh_cols,
    "vrm columns":vrm_cols,
    "passenger columns":passenger_cols
}

for name, cols in col_cats.items():
    print(f"""Check if data types in {name} match:
    FY 18-20 vs 21-22: {ops_18_20[cols].dtypes.equals(ops_21_22[cols].dtypes)},
    FY 18-20 vs 23-24: {ops_18_20[cols].dtypes.equals(ops_23_24[cols].dtypes)},
    """)

Check if data types in date columns match:
    FY 18-20 vs 21-22: False,
    FY 18-20 vs 23-24: False,

Check if data types in vrh columns match:
    FY 18-20 vs 21-22: True,
    FY 18-20 vs 23-24: True,

Check if data types in vrm columns match:
    FY 18-20 vs 21-22: True,
    FY 18-20 vs 23-24: True,

Check if data types in passenger columns match:
    FY 18-20 vs 21-22: True,
    FY 18-20 vs 23-24: True,

## cleaning date time columns

In [11]:
all_ops = [
    ops_18_20,
    ops_21_22,
    ops_23_24
]

# what do the date column data types look like in each df?
for df in all_ops:
    display(
        df[date_cols].info()
    )
    
# ops_18_20.date_service_began_operations__mm_dd_yyyy__demand_response_vehicles is an object, everything else is datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 8 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   date_service_began_operations__mm_dd_yyyy__motor_bus                            424 non-null    datetime64[ns]
 1   date_service_began_operations__mm_dd_yyyy__heavy_rail                           24 non-null     datetime64[ns]
 2   date_service_began_operations__mm_dd_yyyy__light_rail                           21 non-null     datetime64[ns]
 3   date_service_began_operations__mm_dd_yyyy__trolley_bus                          17 non-null     datetime64[ns]
 4   date_service_began_operations__mm_dd_yyyy__ferry_boat                           12 non-null     datetime64[ns]
 5   date_service_began_operations__mm_dd_yyyy__demand_response_vehicles             489 non-null    object
 6   date_service_began_operations__mm_dd_yyyy__vanpool                              17 non-null     datetime64[ns]
 7   date_service_began_operations__mm_dd_yyyy__other_transportation_mode__specify_  40 non-null     datetime64[ns]
dtypes: datetime64[ns](7), object(1)
memory usage: 52.1+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 8 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   date_service_began_operations__mm_dd_yyyy__motor_bus                            282 non-null    datetime64[ns]
 1   date_service_began_operations__mm_dd_yyyy__heavy_rail                           16 non-null     datetime64[ns]
 2   date_service_began_operations__mm_dd_yyyy__light_rail                           14 non-null     datetime64[ns]
 3   date_service_began_operations__mm_dd_yyyy__trolley_bus                          9 non-null      datetime64[ns]
 4   date_service_began_operations__mm_dd_yyyy__ferry_boat                           8 non-null      datetime64[ns]
 5   date_service_began_operations__mm_dd_yyyy__demand_response_vehicles             328 non-null    datetime64[ns]
 6   date_service_began_operations__mm_dd_yyyy__vanpool                              13 non-null     datetime64[ns]
 7   date_service_began_operations__mm_dd_yyyy__other_transportation_mode__specify_  23 non-null     datetime64[ns]
dtypes: datetime64[ns](8)
memory usage: 35.8 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 8 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   date_service_began_operations__mm_dd_yyyy__motor_bus                            276 non-null    datetime64[ns]
 1   date_service_began_operations__mm_dd_yyyy__heavy_rail                           16 non-null     datetime64[ns]
 2   date_service_began_operations__mm_dd_yyyy__light_rail                           14 non-null     datetime64[ns]
 3   date_service_began_operations__mm_dd_yyyy__trolley_bus                          10 non-null     datetime64[ns]
 4   date_service_began_operations__mm_dd_yyyy__ferry_boat                           8 non-null      datetime64[ns]
 5   date_service_began_operations__mm_dd_yyyy__demand_response_vehicles             328 non-null    datetime64[ns]
 6   date_service_began_operations__mm_dd_yyyy__vanpool                              16 non-null     datetime64[ns]
 7   date_service_began_operations__mm_dd_yyyy__other_transportation_mode__specify_  27 non-null     datetime64[ns]
dtypes: datetime64[ns](8)
memory usage: 35.0 KB

None

In [12]:
# attempt to change data type from object to datetime64[ns]?
ops_18_20[
    "date_service_began_operations__mm_dd_yyyy__demand_response_vehicles"] = pd.to_datetime(ops_18_20[
    "date_service_began_operations__mm_dd_yyyy__demand_response_vehicles"], errors= "coerce" )

# OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 2975-04-21 00:00:00 present at position 141. need errors= "coerce" to make invalid datetimes be NaT

In [13]:
# connfrming all datatypes match
display(
    ops_18_20.dtypes.equals(ops_21_22.dtypes),
    ops_18_20.dtypes.equals(ops_23_24.dtypes),
    ops_21_22.dtypes.equals(ops_23_24.dtypes),
) # TRUE!

True

True

True

In [14]:
# check years in each dataframe
for df in all_ops:
    print(df["fiscal_year"].value_counts())

2020    281
2019    280
2018    271
Name: fiscal_year, dtype: int64
2021    287
2022    284
Name: fiscal_year, dtype: int64
2024    280
2023    278
Name: fiscal_year, dtype: int64

## Combining all datasets

In [15]:
# Since all DFs have the same columns, concat all DFs together to 1 big raw DF
ops_18_24 = pd.concat(all_ops, ignore_index = True)

In [46]:
display(
    type(ops_18_24),
    ops_18_24["fiscal_year"].value_counts(),
    ops_18_24.shape,
    list(ops_18_24.columns)
)

pandas.core.frame.DataFrame

2021    287
2022    284
2020    281
2019    280
2024    280
2023    278
2018    271
Name: fiscal_year, dtype: int64

(1961, 110)

['entity_name',
 'fiscal_year',
 'entity_id',
 'total_passengers_—_annual_motor_bus',
 'total_passengers_—_annual_heavy_rail',
 'total_passengers_—_annual_light_rail',
 'total_passengers_—_annual_trolley_bus',
 'total_passengers_—_annual_ferry_boat',
 'weekdays_motor_bus_actual_vehicle_revenue_hours_—_annual',
 'weekdays_heavy_rail_actual_vehicle_revenue_hours_—_annual',
 'weekdays_light_rail_actual_vehicle_revenue_hours_—_annual',
 'weekdays_trolley_bus_actual_vehicle_revenue_hours_—_annual',
 'weekdays_ferry_boat_actual_vehicle_revenue_hours_—_annual',
 'saturdays_motor_bus_actual_vehicle_revenue_hours_—_annual',
 'saturdays_heavy_rail_actual_vehicle_revenue_hours_—_annual',
 'saturdays_light_rail_actual_vehicle_revenue_hours_—_annual',
 'saturdays_trolley_bus_actual_vehicle_revenue_hours_—_annual',
 'saturdays_ferry_boat_actual_vehicle_revenue_hours_—_annual',
 'sundays_motor_bus_actual_vehicle_revenue_hours_—_annual',
 'sundays_heavy_rail_actual_vehicle_revenue_hours_—_annual',
 'sundays_light_rail_actual_vehicle_revenue_hours_—_annual',
 'sundays_trolley_bus_actual_vehicle_revenue_hours_—_annual',
 'sundays_ferry_boat_actual_vehicle_revenue_hours_—_annual',
 'total_actual_vehicle_revenue_hours_—_annual_motor_bus_actual_vehicle_revenue_hours_—_annual',
 'total_actual_vehicle_revenue_hours_—_annual_heavy_rail_actual_vehicle_revenue_hours_—_annual',
 'total_actual_vehicle_revenue_hours_—_annual_light_rail_actual_vehicle_revenue_hours_—_annual',
 'total_actual_vehicle_revenue_hours_—_annual_trolley_bus_actual_vehicle_revenue_hours_—_annual',
 'total_actual_vehicle_revenue_hours_—_annual_ferry_boat_actual_vehicle_revenue_hours_—_annual',
 'total_actual_vehicle_revenue_miles_motor_bus',
 'total_actual_vehicle_revenue_miles_heavy_rail',
 'total_actual_vehicle_revenue_miles_light_rail',
 'total_actual_vehicle_revenue_miles_trolley_bus',
 'total_actual_vehicle_revenue_miles_ferry_boat',
 'revenue_vehicle_inventory_motor_bus',
 'revenue_vehicle_inventory_heavy_rail',
 'revenue_vehicle_inventory_light_rail',
 'revenue_vehicle_inventory_trolley_bus',
 'revenue_vehicle_inventory_ferry_boat',
 'weekdays___middays_motor_bus_vehicles_in_operation_—_weekly',
 'weekdays___middays_heavy_rail_vehicles_in_operation_—_weekly',
 'weekdays___middays_light_rail_vehicles_in_operation_—_weekly',
 'weekdays___middays_trolley_bus_vehicles_in_operation_—_weekly',
 'weekdays___middays_ferry_boat_vehicles_in_operation_—_weekly',
 'weekdays___peak_motor_bus_vehicles_in_operation_—_weekly',
 'weekdays___peak_heavy_rail_vehicles_in_operation_—_weekly',
 'weekdays___peak_light_rail_vehicles_in_operation_—_weekly',
 'weekdays___peak_trolley_bus_vehicles_in_operation_—_weekly',
 'weekdays___peak_ferry_boat_vehicles_in_operation_—_weekly',
 'saturday_motor_bus_vehicles_in_operation_—_weekly',
 'saturday_heavy_rail_vehicles_in_operation_—_weekly',
 'saturday_light_rail_vehicles_in_operation_—_weekly',
 'saturday_trolley_bus_vehicles_in_operation_—_weekly',
 'saturday_ferry_boat_vehicles_in_operation_—_weekly',
 'sunday_motor_bus_vehicles_in_operation_—_weekly',
 'sunday_heavy_rail_vehicles_in_operation_—_weekly',
 'sunday_light_rail_vehicles_in_operation_—_weekly',
 'sunday_trolley_bus_vehicles_in_operation_—_weekly',
 'sunday_ferry_boat_vehicles_in_operation_—_weekly',
 'total_employees_—_public_and_contract_motor_bus',
 'total_employees_—_public_and_contract_heavy_rail',
 'total_employees_—_public_and_contract_light_rail',
 'total_employees_—_public_and_contract_trolley_bus',
 'total_employees_—_public_and_contract_ferry_boat',
 'date_service_began_operations__mm_dd_yyyy__motor_bus',
 'date_service_began_operations__mm_dd_yyyy__heavy_rail',
 'date_service_began_operations__mm_dd_yyyy__light_rail',
 'date_service_began_operations__mm_dd_yyyy__trolley_bus',
 'date_service_began_operations__mm_dd_yyyy__ferry_boat',
 'total_passengers_—_annual_demand_response_vehicles',
 'total_passengers_—_annual_vanpool',
 'total_passengers_—_annual_other_transportation_mode__specify_',
 'weekdays_demand_response_vehicles_actual_vehicle_revenue_hours_—_annual',
 'weekdays_vanpool_actual_vehicle_revenue_hours_—_annual',
 'weekdays_other_transportation_mode__specify__actual_vehicle_revenue_hours_—_annual',
 'saturdays_demand_response_vehicles_actual_vehicle_revenue_hours_—_annual',
 'saturdays_vanpool_actual_vehicle_revenue_hours_—_annual',
 'saturdays_other_transportation_mode__specify__actual_vehicle_revenue_hours_—_annual',
 'sundays_demand_response_vehicles_actual_vehicle_revenue_hours_—_annual',
 'sundays_vanpool_actual_vehicle_revenue_hours_—_annual',
 'sundays_other_transportation_mode__specify__actual_vehicle_revenue_hours_—_annual',
 'total_actual_vehicle_revenue_hours_—_annual_demand_response_vehicles_actual_vehicle_revenue_hours_—_annual',
 'total_actual_vehicle_revenue_hours_—_annual_vanpool_actual_vehicle_revenue_hours_—_annual',
 'total_actual_vehicle_revenue_hours_—_annual_other_transportation_mode__specify__actual_vehicle_revenue_hours_—_annual',
 'total_actual_vehicle_revenue_miles_demand_response_vehicles',
 'total_actual_vehicle_revenue_miles_vanpool',
 'total_actual_vehicle_revenue_miles_other_transportation_mode__specify_',
 'revenue_vehicle_inventory_demand_response_vehicles',
 'revenue_vehicle_inventory_vanpool',
 'revenue_vehicle_inventory_other_transportation_mode__specify_',
 'weekdays___middays_demand_response_vehicles_vehicles_in_operation_—_weekly',
 'weekdays___middays_vanpool_vehicles_in_operation_—_weekly',
 'weekdays___middays_other_transportation_mode__specify__vehicles_in_operation_—_weekly',
 'weekdays___peak_demand_response_vehicles_vehicles_in_operation_—_weekly',
 'weekdays___peak_vanpool_vehicles_in_operation_—_weekly',
 'weekdays___peak_other_transportation_mode__specify__vehicles_in_operation_—_weekly',
 'saturday_demand_response_vehicles_vehicles_in_operation_—_weekly',
 'saturday_vanpool_vehicles_in_operation_—_weekly',
 'saturday_other_transportation_mode__specify__vehicles_in_operation_—_weekly',
 'sunday_demand_response_vehicles_vehicles_in_operation_—_weekly',
 'sunday_vanpool_vehicles_in_operation_—_weekly',
 'sunday_other_transportation_mode__specify__vehicles_in_operation_—_weekly',
 'total_employees_—_public_and_contract_demand_response_vehicles',
 'total_employees_—_public_and_contract_vanpool',
 'total_employees_—_public_and_contract_other_transportation_mode__specify_',
 'date_service_began_operations__mm_dd_yyyy__demand_response_vehicles',
 'date_service_began_operations__mm_dd_yyyy__vanpool',
 'date_service_began_operations__mm_dd_yyyy__other_transportation_mode__specify_',
 'total_upt',
 'total_vrh',
 'total_vrm']

## Sum common metrics columns, remove unused columns

In [21]:
ops_18_24["total_upt"] = ops_18_24[passenger_cols].sum(axis=1)
ops_18_24["total_vrh"] = ops_18_24[vrh_cols].sum(axis=1)
ops_18_24["total_vrm"] = ops_18_24[vrm_cols].sum(axis=1)

In [47]:
# keep specific columns
sco_18_24 = ops_18_24[group_list+["total_upt","total_vrh","total_vrm"]]

In [48]:
sco_18_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1961 entries, 0 to 1960
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   entity_name  1961 non-null   object
 1   fiscal_year  1961 non-null   int64
 2   entity_id    1961 non-null   int64
 3   total_upt    1961 non-null   float64
 4   total_vrh    1961 non-null   float64
 5   total_vrm    1961 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 92.1+ KB

## Saving data to GCS as parquet

In [41]:
# saving DFs to GCS

gcs_path = "gs://calitp-analytics-data/data-analyses/ntd/"
all_sco_op_data = "sco_operator_data_18_24.parquet"
filtered_sco_data = "sco_upt_vrm_pmt_18_24.parquet"

# saving as parquet
# ops_18_24.to_parquet(f"{gcs_path}{all_sco_op_data}")
# sco_18_24.to_parquet(f"{gcs_path}{filtered_sco_data}")

# saving as csv
# ops_18_24.to_csv(f"{gcs_path}sco_operator_data_18_24.csv")
# sco_18_24.to_csv(f"{gcs_path}sco_upt_vrm_pmt_18_24.csv")

## Reading in data from GCS as parquet

In [29]:
# read in parquet, ensure it works 
ops_18_24 = pd.read_parquet(f"{gcs_path}{all_sco_op_data}")

sco_18_24 = pd.read_parquet(f"{gcs_path}{filtered_sco_data}")

In [31]:
ops_18_24.info(),
sco_18_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1961 entries, 0 to 1960
Columns: 110 entries, entity_name to total_vrm
dtypes: datetime64[ns](8), float64(99), int64(2), object(1)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1961 entries, 0 to 1960
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   entity_name  1961 non-null   object
 1   fiscal_year  1961 non-null   int64
 2   entity_id    1961 non-null   int64
 3   total_upt    1961 non-null   float64
 4   total_vrh    1961 non-null   float64
 5   total_vrm    1961 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 92.1+ KB

## SCO Summary findings

In [32]:
# How many unique entities are there 
sco_18_24["entity_name"].nunique()

299

In [33]:
# how many unique entiries are there from each FY
sco_18_24.groupby("fiscal_year")["entity_name"].nunique()

fiscal_year
2018    271
2019    280
2020    281
2021    287
2022    284
2023    278
2024    280
Name: entity_name, dtype: int64

In [34]:
# how many unique entity id are there?
sco_18_24["entity_id"].nunique()

297

In [35]:
# how many have "specialized services" in their name
sco_18_24[sco_18_24["entity_name"].str.contains("Specialized Service")]["entity_name"].nunique()

114

In [36]:
# how many entities do not have "specialized service"
sco_18_24[~sco_18_24["entity_name"].str.contains("Specialized Service")]["entity_name"].nunique()

185

# Read NTD data from warehouse

New syntax to query the warehouse
```
from calitp_data_analysis.sql import get_engine

db_engine = get_engine()

with db_engine.connect() as connection:
    query = ""
    df = pd.read_sql(query, connection)
```

In [49]:
from calitp_data_analysis.sql import get_engine

In [51]:
db_engine = get_engine()

metric_list = [
    "pmt",
    "upt",
    "vrh"
]

# empty list for appending DFs
df_list = []
with db_engine.connect() as connection:
    for metric in metric_list:
        query = f"""
        SELECT
          ntd_id,
          SUM({metric}) AS total_{metric},
          source_agency,
          agency_status,
          year
        FROM
          `cal-itp-data-infra.mart_ntd_funding_and_expenses.fct_service_data_and_operating_expenses_time_series_by_mode_{metric}`
        WHERE
          source_state = "CA"
          AND year >= 2018
        GROUP BY
          ntd_id,
          source_agency,
          agency_status,
          year
        """
        # create df
        metric = pd.read_sql(query,connection) 
        
        # append df to list
        df_list.append(metric)

In [52]:
# confirm DFs were populated in list
display(
    len(df_list),
    type(df_list[0]),type(df_list[1]),type(df_list[2]),
    df_list[0].columns, df_list[1].columns, df_list[2].columns
)

3

pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

Index(['ntd_id', 'total_pmt', 'source_agency', 'agency_status', 'year'], dtype='object')

Index(['ntd_id', 'total_upt', 'source_agency', 'agency_status', 'year'], dtype='object')

Index(['ntd_id', 'total_vrh', 'source_agency', 'agency_status', 'year'], dtype='object')

In [53]:
# unpack list into separate DFs
ntd_pmt, ntd_upt, ntd_vrh = df_list

In [54]:
# check if unpack was successful
ntd_pmt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614 entries, 0 to 1613
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ntd_id         1524 non-null   object
 1   total_pmt      1291 non-null   float64
 2   source_agency  1614 non-null   object
 3   agency_status  1614 non-null   object
 4   year           1614 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 63.2+ KB

In [58]:
# confirm the same years exist in all DFs
display(
    set(ntd_pmt["year"].sort_values().unique()) == set(ntd_upt["year"].sort_values().unique()) == set(ntd_vrh["year"].sort_values().unique())
)

True

# Merge data frames together

In [59]:
merge_1 = ntd_pmt.merge(ntd_upt, on=["ntd_id", "year","source_agency","agency_status"], how = "inner")

In [61]:
ntd_all_metrics = merge_1.merge(ntd_vrh, on=["ntd_id", "year","source_agency","agency_status"], how = "inner")

In [65]:
col_order =[
    "ntd_id",
    "source_agency",
    "agency_status",
    "year",
    "total_upt",
    "total_vrh",
    "total_pmt"
]

ntd_all_metrics = ntd_all_metrics[col_order]

In [64]:
ntd_all_metrics.head(10)

,ntd_id,source_agency,agency_status,year,total_upt,total_vrh,total_pmt
0,90198,City of Porterville (COLT) - Transit Department,Active,2022,260879.0,41460.0,0.0
1,90198,City of Porterville (COLT) - Transit Department,Active,2020,522056.0,47356.0,0.0
2,90198,City of Porterville (COLT) - Transit Department,Active,2023,NaN,NaN,NaN
3,90198,City of Porterville (COLT) - Transit Department,Active,2019,635559.0,52834.0,0.0
4,90198,City of Porterville (COLT) - Transit Department,Active,2021,174595.0,30773.0,0.0
5,90198,City of Porterville (COLT) - Transit Department,Active,2018,648649.0,52799.0,0.0
6,90036,Orange County Transportation Authority (OCTA),Active,2020,33009047.0,2232009.0,155734272.0
7,90036,Orange County Transportation Authority (OCTA),Active,2023,32674688.0,2076903.0,137085597.0
8,90036,Orange County Transportation Authority (OCTA),Active,2022,27753507.0,1897023.0,132745034.0
9,90036,Orange County Transportation Authority (OCTA),Active,2018,42201857.0,2590593.0,214680839.0

## saving data to gcs

In [66]:
gcs_path = "gs://calitp-analytics-data/data-analyses/ntd/"
ntd_name = "ntd_operator_data_18_23.parquet"

# ntd_all_metrics.to_parquet(f"{gcs_path}{ntd_name}")
# ntd_all_metrics.to_csv(f"{gcs_path}ntd_operator_data_18_23.csv")

In [67]:
ntd_all_metrics = pd.read_parquet(f"{gcs_path}{ntd_name}")

In [68]:
ntd_all_metrics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1614 entries, 0 to 1613
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ntd_id         1524 non-null   object
 1   source_agency  1614 non-null   object
 2   agency_status  1614 non-null   object
 3   year           1614 non-null   int64
 4   total_upt      1291 non-null   float64
 5   total_vrh      1291 non-null   float64
 6   total_pmt      1291 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 100.9+ KB

# compare sco data to ntd data

## Summary

In [69]:
print(f"""Unique agencies in SCO data: {len(sco_18_24["entity_name"].unique())},
How many SCO agencies are "Specialized Services": {len(sco_18_24[sco_18_24["entity_name"].str.contains("Specialized Service")]["entity_name"].unique())}
    
Unique agencies in NTD data: {len(ntd_all_metrics["source_agency"].unique())},
""")

Unique agencies in SCO data: 299,
How many SCO agencies are "Specialized Services": 114

Unique agencies in NTD data: 268,

## Who are the common agencies from each list?

SCO list had short entity names. The short names were used to match with the longer names in ntd data

In [70]:
sco_agencies = list(sco_18_24["entity_name"].unique())

pattern = "|".join(sco_agencies)

In [71]:
print(f"""Number of fuzzy match of names between sco and NTD list:
    {len(ntd_all_metrics[ntd_all_metrics["source_agency"].str.contains(pattern,case=False)]["source_agency"].unique())}
""")

ntd_all_metrics[ntd_all_metrics["source_agency"].str.contains(pattern,case=False)]["source_agency"].unique()

/tmp/ipykernel_659/3041457399.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  {len(ntd_all_metrics[ntd_all_metrics["source_agency"].str.contains(pattern,case=False)]["source_agency"].unique())}
/tmp/ipykernel_659/3041457399.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ntd_all_metrics[ntd_all_metrics["source_agency"].str.contains(pattern,case=False)]["source_agency"].unique()

Number of fuzzy match of names between sco and NTD list:
    145

array(['City of Porterville (COLT) - Transit Department',
       'Orange County Transportation Authority (OCTA)',
       'Santa Clara Valley Transportation Authority (VTA)',
       'Alameda-Contra Costa Transit District',
       'Antelope Valley Transit Authority (AVTA)',
       'City and County of San Francisco (SFMTA) - Transit Division',
       'City of Arcata (A&MRTS)', 'City of Atascadero - Public Works',
       'City of Chowchilla (CATX) - Transit Department',
       'City of Claremont - Community Services/ Transit Services',
       'City of Culver City - Transportation Department',
       'City of Delano (DART) - Delano Area Rapid Transit City of Delano',
       'City of Dinuba', 'City of Downey - Parks and Recreation',
       'City of Elk Grove(etran)',
       'City of Fresno (FAX) - Department of Transportation',
       'City of Gardena - Transportation',
       'City of Guadalupe - Public Works',
       'City of La Mirada (LMT) - CS Department',
       'City of Laguna Beach (CLB) - Transit and Community Services',
       'City of Lincoln (COL)',
       'City of Lompoc (COLT) - Public Works/Transportation',
       'City of Los Angeles (LADOT) - City of Los Angeles Department of Transportation',
       'City of McFarland - Public Works Department',
       'City of Modesto (MAX)',
       'City of Montebello (MBL) - Transportation',
       'City of Needles (NAT) - Transit',
       'City of Norwalk (NTS) - Department of Transportation',
       'City of Ojai', 'City of Rio Vista - Department of Public Works',
       'City of Santa Monica (BBB) - Department of Transportation',
       'City of Taft (TAT)', 'City of Tehachapi',
       'City of Torrance (TTS) - Transit Department',
       'City of Tracy - Transit Division', 'City of Tulare(TIME)',
       'City of Visalia (VT) - Transportation',
       'City of Woodlake(MCC/ESCORT)',
       'Eastern Sierra Transit Authority (ESTA)',
       'El Dorado County Transit Authority',
       'Fresno County Rural Transit Agency (FCRTA)',
       'Golden Empire Transit District (GET)',
       'Kings County Area Public Transit Agency',
       'Kings County Area Public Transit Agency (KART)',
       'Lake Transit Authority (LTA)',
       'Lassen Transit Service Agency (LTSA)',
       'Los Angeles County Metropolitan Transportation Authority (LACMTA)',
       'Los Angeles County Transportation Commission / MTA',
       'Madera County - Public Works Department',
       'Mariposa County - Public Works/Transportation Planning',
       'Modoc Transportation Agency (MTA)',
       'Monterey-Salinas Transit (MST)',
       'North County Transit District (NCTD)',
       'Peninsula Corridor Joint Powers Board (PCJPB)',
       'Plumas County Transportation Commission (PCTC)',
       'Pomona Valley Transportation Authority (PVTA)',
       'Redondo Beach Dial-A-Ride',
       'Redwood Coast Transit Authority (RCTA)',
       'Riverside Transit Agency (RTA)',
       'San Benito County Local Transportation Authority (\t\t)',
       'San Diego Metropolitan Transit System (MTS)',
       'San Francisco Bay Area Rapid Transit District (BART)',
       'San Francisco Bay Area Water Emergency Transportation Authority (WETA)',
       'San Francisco Paratransit (ATC)',
       'San Joaquin Regional Transit District (RTD)',
       'San Mateo County Transit District (SMCTD)',
       'Santa Barbara Metropolitan Transit District (SBMTD)',
       'Santa Cruz Metropolitan Transit District (SCMTD)',
       'Sonoma-Marin Area Rail Transit District (SMART)',
       'Southern California Regional Rail Authority (SCRRA)',
       'Stanislaus County (StaRT)', 'SunLine Transit Agency',
       'Tehama County (TRAX)', 'Tulare County Area Transit (TCAT)',
       'Tuolumne County Transit (TCT, TCTA)', 'Amador Transit (AT)',
       'Anaheim Transportation Network (ATN)',
       'Blue Lake Rancheria (BLRTS) - Transportation',
       'Calaveras Transit Agency (CTA)',
       'Central Contra Costa Transit Authority (CCCTA)',
       'City of Arcadia - Development Services Department - Transportation Services Division',
       'City of Arvin - Transportation Department',
       'City of Auburn - Planning & Public Works',
       'City of Burbank - Community Development-Transportation',
       'City of California City - Department of Public Works',
       'City of Camarillo (CAT) - Public Works',
       'City of Commerce (CCT) - Transportation',
       'City of Corcoran (CAT ) - Transit',
       'City of Corona (CCTS) - Community Services',
       'City of Dixon - Public Works',
       'City of Escalon - Transit Services',
       'City of Fairfield, California - Transportation Division/Public Works Department',
       'City of Glendale - Public Works Transit',
       'City of Lodi - Public Works Department',
       'City of Madera (MAX/DAR) - Transit',
       'City of Manteca - Transit Division',
       'City of Moorpark (MCT) - Public Works',
       'City of Pasadena - Transit', 'City of Petaluma - Transit',
       'City of Redondo Beach (BCT) - Transit Division in the Community Services Department',
       'City of Ridgecrest (RTS) - Transit Division / Department of Public Works',
       'City of Roseville - Public Works',
       'City of Santa Clarita (SCT) - Economic Development, Transit Division',
       'City of Santa Maria (SMRT)',
       'City of Santa Rosa - Transit Division',
       'City of Shafter - Transit',
       'City of Simi Valley (SVT) - Transit/Public Works',
       'City of Solvang (SYVT)',
       'City of South Pasadena - Transit / Community Services',
       'City of Thousand Oaks (TOT) - Public Works',
       'City of Turlock - Transit',
       'City of Union City (UCT) - Public Works',
       'City of Vacaville - Department of Public Works',
       'City of Wasco - Transportation',
       'El Dorado County Transit Authority (EDCTA)', 'Foothill Transit',
       'Gold Coast Transit District (GCTD)',
       'Humboldt Transit Authority (HTA)',
       'Los Angeles County (LACDPW) - Department of Public Works, Transit Operations - Florence Firestone',
       'Los Angeles County (LACDPW) - Department of Public Works, Transit Operations - South Whittier',
       'Los Angeles County (LACDPW) - Department of Public Works, Transit Operations – Avocado Heights',
       'Los Angeles County (LACDPW) - Department of Public Works, Transit Operations – East Valinda',
       'Los Angeles County - Department of Public Works, Transit Operations, Athens MB',
       'Los Angeles County - Department of Public Works, Transit Operations, East Los Angeles MB and DR',
       'Los Angeles County - Department of Public Works, Transit Operations, King Medical Center MB',
       'Los Angeles County - Department of Public Works, Transit Operations, Lennox MB',
       'Los Angeles County - Department of Public Works, Transit Operations, Whittier Et Al DR',
       'Los Angeles County - Department of Public Works, Transit Operations, Willowbrook MB',
       'Los Angeles County - Department of Public Works, Transit Operations, Willowbrook et. al. DR',
       'Marin County Transit District (MCTD)',
       'Mendocino Transit Authority (MTA)',
       'Morongo Basin Transit Authority (MBTA BUS)',
       'Mountain Area Regional Transit Authority (MARTA)',
       'Napa Valley Transportation Authority (NVTA)', 'Omnitrans',
       'Palo Verde Valley Transit Agency (PVVTA)',
       'Redding Area Bus Authority (RABA)',
       'Santa Barbara County Association of Governments (SBCAG-CAE) - Rail and Transit Division',
       'Stanislaus Regional Transit Authority',
       'Town of Truckee - Public Transportation',
       'Trinity County (TCDOT) - Transportation',
       'Tulare County Regional Transit Agency (TCRTA)',
       'Ventura County Transportation Commission (VCTC)',
       'Victor Valley Transit Authority (VVTA)',
       'Yolo County Transportation District (YCTD)'], dtype=object)

## Who are the unique agencies in each list?

In [72]:
# **This isnt reliable. found some instances of agencies names appearing in both list
# Glendora appears in both list, 
print(f"""Number of names that dont fuzzy match:
    {len(ntd_all_metrics[~ntd_all_metrics["source_agency"].str.contains(pattern,case=False)]["source_agency"].unique())}
""")

ntd_all_metrics[~ntd_all_metrics["source_agency"].str.contains(pattern,case=False)]["source_agency"].unique()

/tmp/ipykernel_659/3488948080.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  {len(ntd_all_metrics[~ntd_all_metrics["source_agency"].str.contains(pattern,case=False)]["source_agency"].unique())}
/tmp/ipykernel_659/3488948080.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ntd_all_metrics[~ntd_all_metrics["source_agency"].str.contains(pattern,case=False)]["source_agency"].unique()

Number of names that dont fuzzy match:
    123

array(['ATC / Vancom', 'Access Services (AS)',
       'Aero Airport Shuttle and Charter',
       'Altamont Corridor Express (ACE)',
       'Calaveras County Department of Public Works',
       'California Dept of Transportation San Diegan Commuter Rail',
       'Chico Area Transit System City of Chico (CATS)',
       'Chula Vista Transit (CVT)', 'City of Alameda Ferry Services',
       'City of Artesia - Transportation Division', 'City of Avalon',
       'City of Barstow', 'City of Bell - Community Services Department',
       'City of Benicia (Benicia Breeze)',
       'City of Carson - Transportation Services Division',
       'City of Cerritos - Department of Community Development',
       'City of Cudahy (COC)', 'City of Duarte', 'City of Eureka (ETS)',
       'City of Folsom (FSL)',
       'City of Huntington Park (HPCA) - Fixed Route Transportation/ Public Works',
       'City of Inglewood - Human Services', 'City of Irvine (COI)',
       'City of Lawndale',
       'City of Malibu - Community Services Department',
       'City of Merced Transit System',
       'City of South Gate - Transportation Department',
       'City of South Lake Tahoe',
       'City of Vallejo Transportation Program (Vallejo Transit, Baylink)',
       'County of Alpine - Community Development',
       'County of Colusa (CCTA) - Public Works',
       'County of Glenn - Glenn County Planning and Community Development Services Agency',
       'County of Placer (PCT/TART) - Department of Public Works',
       'County of San Diego Transit System (CTS)',
       'County of Shasta Department of Public Works',
       'County of Sonoma (SCT) - Department of Public Infrastructure - Transit Division',
       'DAVE Transportation Services, Inc.', 'Duckwater Shoshone Tribe',
       'El Dorado County Department of Tarnsportation',
       'Elk Valley Rancheria (EVR)',
       'Golden Gate Bridge, Highway and Transportation District (GGBHTD) - Golden Gate Transit; Golden Gate Ferry',
       'Imperial Valley Transit (IVT)', 'Indian Health Council, Inc',
       'Inyo Mono Transit', 'Kern Regional Transit (KT)',
       'LACMTA - Small Operators (LACMTA)', 'Laidlaw Transit Services',
       'Laidlaw Transit Services, Inc.',
       'Livermore / Amador Valley Transit Authority (LAVTA)',
       'Long Beach Transit (LBT)', 'MTS Contract Services (MCS)',
       'Merced County Transit', 'Monterey County RIDES',
       'National City Transit (NCT)', 'Outreach & Escort dba OUTREACH',
       'PEOPLE FOR PEOPLE',
       'Palos Verdes Peninsula Transit Authority (PVPTA)',
       'Paratransit, Inc.', 'Paratransit, Inc. CTSA',
       'Paso Robles Transit Services (PE)',
       'Reservation Transportation Authority', 'Ryder/ATE',
       'Sacramento Regional Transit District',
       'San Diego Association of Governments (SANDAG) - Regional Transportation Services',
       'San Diego Trolley, Inc. (MTS)', 'San Gabriel Transit, Inc. (SGT)',
       'San Luis Obispo Council of Governments(SLOCOG)',
       'San Luis Obispo Regional Transit Authority',
       'San Luis Obispo Regional Transit Authority (SLORTA)',
       'Sierra County - Department of Transportation',
       'South Tahoe Area Transit Authority',
       'Susanville Indian Rancheria(SIR)',
       'The Eastern Contra Costa Transit Authority',
       'Transit Joint Powers Authority for Merced County',
       'Yosemite Area Regional Transportation System (YARTS)',
       'Butte County Association of Governments (BCAG)',
       'California Vanpool Authority (CVA)',
       'Chemehuevi Indian Tribe (CTA) - Reality and Planning department',
       'City of Agoura Hills - Department of Community Services',
       'City of Alhambra (ACT) - Public Works',
       'City of Azusa - Transit Division',
       'City of Baldwin Park - Department of Public Works',
       'City of Bell Gardens - public works',
       'City of Bellflower - Parks and Recreation',
       'City of Beverly Hills - Public Works - Transportation Planning',
       'City of Calabasas (COC) - Public Works Department / Transportation/Transit Division',
       'City of Compton (CRT)',
       'City of Covina - Public Works Department, Transportation Divsion',
       'City of Davis (DCT) - Transit/Parks and Community Services',
       'City of El Monte - Transportation Services',
       'City of Glendora - Transportation Division',
       'City of Lakewood (DASH) - Recreation and Community Services Department',
       'City of Lynwood - Public Works Department',
       'City of Manhattan Beach (CMB DAR) - Community Services',
       'City of Maywood (COM) - City Manager Office',
       'City of Monrovia - Public Works',
       'City of Monterey Park - Public Works Department',
       'City of Pico Rivera - Transit Division/Parks and Recreation Department',
       'City of Riverside - Parks, Recreation & Community Services / Special Transportation',
       'City of Rosemead - Public Works',
       'City of San Luis Obispo - Public Works',
       'City of Santa Fe Springs (SFS) - Public Works- Transportation Services',
       'City of West Covina - Public Services Department',
       'City of West Hollywood (WEHO) - Business Development Division / Economic Development Department',
       'City of Whittier - Transit', 'County of Nevada - Public Works',
       'County of Sacramento Municipal Services Agency (SCT Link) - Department of Transportation',
       'County of Siskiyou (STAGE) - General Services',
       'County of Ventura (PWATD) - Public Works',
       'Easy Lift Transportation',
       'Imperial County Transportation Commission (ICTC)',
       'Metropolitan Transportation Commission (MTC) - Field Operations and Asset Management',
       'Morongo Band of Mission Indians - Public Works Transportation',
       'North Fork Rancheria of Mono Indians of California (NFR) - Administration Department',
       'Riverside County Transportation Commission (RCTC)',
       'San Bernardino County Transportation Authority (SBCTA)',
       'San Joaquin Council (SJCOG)', 'Solano County Transit',
       'Stanislaus Council of Governments (StanCOG) - Mobility Programs',
       'University of California, Davis (ASUCD) - Associated Students of the University of California, Davis',
       'Western Contra Costa Transit Authority (WCCTA )',
       'Yuba-Sutter Transit Authority (YSTA)',
       'Yurok Tribe - Transportation Department'], dtype=object)

In [73]:
# sanity check
agency = "Yosemite"

display(
    ntd_all_metrics[ntd_all_metrics["source_agency"].str.contains(agency)].sort_values(by=["source_agency","year"]).drop(columns="total_pmt"),
    sco_18_24[sco_18_24["entity_name"].str.contains(agency)].sort_values(by=["entity_name","fiscal_year"]).drop(columns="total_vrm")
)
# the SacRT totals match!, Glendora totals matches

# Merced JPA: if you add SCO merced jpa and merced jpa special service, they match the ntd merced jpa numbers
# same as Gardena

# Yosemite Area Regional Transportation System (YARTS) matches in some years and not match in other years

,ntd_id,source_agency,agency_status,year,total_upt,total_vrh
900,91070,Yosemite Area Regional Transportation System (YARTS),Active,2018,120730.0,22522.0
905,91070,Yosemite Area Regional Transportation System (YARTS),Active,2019,80725.0,15458.0
903,91070,Yosemite Area Regional Transportation System (YARTS),Active,2020,77173.0,16659.0
902,91070,Yosemite Area Regional Transportation System (YARTS),Active,2021,53919.0,19152.0
901,91070,Yosemite Area Regional Transportation System (YARTS),Active,2022,70980.0,19791.0
904,91070,Yosemite Area Regional Transportation System (YARTS),Active,2023,61950.0,17365.0

,entity_name,fiscal_year,entity_id,total_upt,total_vrh
830,Yosemite Area Regional Transportation System (YARTS),2018,12600,119942.0,22522.0
559,Yosemite Area Regional Transportation System (YARTS),2019,12600,80725.0,18812.0
279,Yosemite Area Regional Transportation System (YARTS),2020,12600,76773.0,16659.0
1401,Yosemite Area Regional Transportation System (YARTS),2021,12600,53919.0,19152.0
1114,Yosemite Area Regional Transportation System (YARTS),2022,12600,70980.0,19791.0
1959,Yosemite Area Regional Transportation System (YARTS),2023,12600,61950.0,17365.0
1681,Yosemite Area Regional Transportation System (YARTS),2024,12600,67409.0,18454.0

## test aggregations

In [79]:
# melt big DF so all columns are under 1 column.
melt = pd.melt(
    sco_18_24,
    id_vars= group_list,
    # value_vars = ,
    var_name="metric",
    value_name="metric_unit",
    ignore_index=True,
)

In [80]:
# inspect melted DF 
display(
    melt.info(),
    melt["fiscal_year"].value_counts(),
    melt["metric"].value_counts(),
    melt["entity_name"].value_counts(),
    melt.head(),
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5883 entries, 0 to 5882
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   entity_name  5883 non-null   object
 1   fiscal_year  5883 non-null   int64
 2   entity_id    5883 non-null   int64
 3   metric       5883 non-null   object
 4   metric_unit  5883 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 229.9+ KB

None

2021    861
2022    852
2020    843
2019    840
2024    840
2023    834
2018    813
Name: fiscal_year, dtype: int64

total_upt    1961
total_vrh    1961
total_vrm    1961
Name: metric, dtype: int64

Access Services for Los Angeles County CTSA - Specialized Service                 21
San Diego Transit Corporation                                                     21
Redwood Coast Transit Authority                                                   21
Ridgecrest                                                                        21
Rio Vista                                                                         21
Ripon                                                                             21
Riverside - Specialized Service                                                   21
Riverside Transit Agency                                                          21
Riverside Transit Agency - Specialized Service                                    21
Rocklin                                                                           21
Roseville                                                                         21
Sacramento County                                                                 21
Sacramento Regional Transit System                                                21
San Benito County Local Transportation Authority                                  21
San Benito County Local Transportation Authority - Specialized Service            21
San Diego Metropolitan Transit System                                             21
San Diego Trolley Inc.                                                            21
Redondo Beach                                                                     21
San Francisco                                                                     21
San Francisco - Specialized Service                                               21
San Francisco Bay Area Rapid Transit District                                     21
San Francisco Bay Area Rapid Transit District - Specialized Service               21
San Francisco Bay Area Water Emergency Transportation Authority (WETA)            21
San Joaquin Joint Powers Authority                                                21
San Joaquin Regional Transit District                                             21
San Joaquin Regional Transit District - Specialized Service                       21
San Luis Obispo Regional Transit Authority (RTA)                                  21
San Luis Obispo Regional Transit Authority (RTA) - Specialized Service            21
San Luis Obispo Transit                                                           21
San Mateo County Transit District                                                 21
San Mateo County Transit District - Specialized Service                           21
Santa Barbara County                                                              21
Redondo Beach - Specialized Service                                               21
Redding Area Bus Authority - Specialized Service                                  21
Santa Barbara Metropolitan Transit District                                       21
Orange County Transportation Authority - Specialized Service                      21
Napa Valley Transportation Authority                                              21
Napa Valley Transportation Authority - Specialized Service                        21
Needles                                                                           21
Needles - Specialized Service                                                     21
Nevada County                                                                     21
Nevada County - Specialized Service                                               21
North County Transit District                                                     21
North County Transit District - Specialized Service                               21
Norwalk                                                                           21
Norwalk - Specialized Service                                                     21
Alameda - Specialized Service                                                     21
Omnitrans                                                                         21
Omnitrans - Specialized Service                                                   21
Orange County Transportation Authority                                            21
Palo Verde Valley Transit Agency                                                  21
Redding Area Bus Authority                                                        21
Palos Verdes Peninsula Transportation Authority                                   21
Palos Verdes Peninsula Transportation Authority - Specialized Service             21
Paratransit Inc. CTSA - Specialized Service                                       21
Peninsula Corridor Joint Powers Board                                             21
Petaluma                                                                          21
Petaluma - Specialized Service                                                    21
Pismo Beach - Specialized Service                                                 21
Placer County                                                                     21
Pleasanton - Specialized Service                                                  21
Plumas County                                                                     21
Pomona Valley Transportation Authority                                            21
Pomona Valley Transportation Authority - Specialized Service                      21
Porterville                                                                       21
Quechan Indian Tribe                                                              21
Santa Barbara County Association of Governments (SBCAG)                           21
Santa Clara Valley Transportation Authority                                       21
Morro Bay                                                                         21
Union City - Specialized Service                                                  21
Thousand Oaks - Specialized Service                                               21
Torrance                                                                          21
Torrance - Specialized Service                                                    21
Tracy                                                                             21
Tracy - Specialized Service                                                       21
Transbay Joint Powers Authority                                                   21
Transit Joint Powers Authority of Merced County                                   21
Transit Joint Powers Authority of Merced County- Specialized Service              21
Trinity County                                                                    21
Truckee                                                                           21
Tulare                                                                            21
Tulare County                                                                     21
Turlock                                                                           21
Union City                                                                        21
United Cerebral Palsy Ride on Transportation - Specialized Service                21
Tehama County - Specialized Service                                               21
Vacaville                                                                         21
Vacaville - Specialized Service                                                   21
Ventura County                                                                    21
Ventura County Transportation Commission                                          21
Victor Valley Transit Authority                                                   21
Victor Valley Transit Authority - Specialized Service                             21
Visalia                                                                           21
Wasco                                                                             21
Western Contra Costa County Transit Authority                                     21
Western Placer Consolidated Transportation Services Agency (CTSA)                 21
Yolo County Transportation District                                               21
Yolo County Transportation District - Specialized Service                         21
Yosemite Area Regional Transportation System (YARTS)                              21
Yuba Sutter Transit Authority                                                     21
Thousand Oaks                                                                     21
Tehama County                                                                     21
Santa Clara Valley Transportation Authority - Specialized Service                 21
Simi Valley                                                                       21
Santa Clarita                                                                     21
Santa Clarita - Specialized Service                                               21
Santa Cruz - Specialized Service                                                  21
Santa Cruz Metropolitan Transit District                                          21
Santa Cruz Metropolitan Transit District - Specialized Service                    21
Santa Maria                                                                       21
Santa Maria - Specialized Service                                                 21
Santa Maria Organization of Transportation Helpers CTSA - Specialized Service     21
Santa Monica                                                                      21
Santa Monica - Specialized Service                                                21
Santa Rosa                                                                        21
Santa Rosa - Specialized Service                                                  21
Shafter                                                                           21
Sierra County - Specialized Service                                               21
Simi Valley - Specialized Service                                                 21
Tehachapi                                                                         21
Siskiyou County                                                                   21
Solano County Transit (Soltrans)                                                  21
Soltrans - Specialized Service                                                    21
Solvang                                                                           21
Solvang - Specialized Service                                                     21
Sonoma County                                                                     21
Sonoma County - Specialized Service                                               21
Sonoma-Marin Area Rail Transit District                                           21
Southern California Regional Rail Authority                                       21
Sunline Transit Agency                                                            21
Sunline Transit Agency - Specialized Service                                      21
Taft                                                                              21
Tahoe Transportation District                                                     21
Tahoe Transportation District - Specialized Service                               21
Mountain Area Regional Transit Authority                                          21
Ojai                                                                              21
Morongo Basin Transit Authority                                                   21
Davis - Specialized Service                                                       21
Delta Ferry Authority                                                             21
Dignity Health Connected Living - Specialized Service                             21
Dixon                                                                             21
Downey                                                                            21
Downey - Specialized Service                                                      21
Eastern Contra Costa County Transit Authority                                     21
Eastern Contra Costa County Transit Authority - Specialized Service               21
Arcata                                                                            21
Eastern Sierra Transit Authority                                                  21
Moorpark                                                                          21
El Dorado County Transit Authority                                                21
Arcadia                                                                           21
Antelope Valley Transit Authority                                                 21
Emeryville - Specialized Service                                                  21
Escalon                                                                           21
Fairfield                                                                         21
Fairfield - Specialized Service                                                   21
Foothill Transit                                                                  21
Fortuna - Specialized Service                                                     21
Fresno                                                                            21
Fresno - Specialized Service                                                      21
Fresno County Economic Opportunities Commission - Specialized Service             21
Fresno County Rural Transit Agency                                                21
Full Access and Coordinated Transportation CTSA - Specialized Service             21
Gardena                                                                           21
Gardena - Specialized Service                                                     21
Banning - Specialized Service                                                     21
Delano                                                                            21
Davis (Unitrans)                                                                  21
Glenn Transit Service                                                             21
Culver City - Specialized Service                                                 21
Blue Lake                                                                         21
Banning                                                                           21
Auburn                                                                            21
Butte Regional Transit                                                            21
Butte Regional Transit - Specialized Service                                      21
California City                                                                   21
California Vanpool Authority (CalVans)                                            21
Camarillo                                                                         21
Capitol Corridor Joint Powers Authority                                           21
Central Contra Costa Transit Authority                                            21
Central Contra Costa Transit Authority - Specialized Service                      21
Ceres                                                                             21
Chowchilla                                                                        21
Claremont                                                                         21
Clovis                                                                            21
Clovis - Specialized Service                                                      21
Colusa County                                                                     21
Commerce                                                                          21
Commerce - Specialized Service                                                    21
Corcoran                                                                          21
Corona                                                                            21
County Service Area 12 - Specialized Service                                      21
Atascadero                                                                        21
County Service Area M-1                                                           21
Arvin                                                                             21
County Service Area T-1                                                           21
Culver City                                                                       21
Glendora - Specialized Service                                                    21
Beaumont                                                                          21
Glenn Transit Service - Specialized Service                                       21
Lompoc                                                                            21
Long Beach Public Transportation Company                                          21
Los Angeles                                                                       21
Los Angeles - Specialized Service                                                 21
Los Angeles County                                                                21
Los Angeles County - Specialized Service                                          21
Los Angeles County Metropolitan Transportation Authority                          21
Los Angeles County Metropolitan Transportation Authority - Specialized Service    21
Madera                                                                            21
Madera County                                                                     21
Manhattan Beach - Specialized Service                                             21
Manteca                                                                           21
Manteca - Specialized Service                                                     21
Marin County Transit District                                                     21
Marin County Transit District - Specialized Service                               21
Mariposa County                                                                   21
McFarland                                                                         21
Mendocino Transit Authority                                                       21
Mendocino Transit Authority - Specialized Service                                 21
Amador Transit                                                                    21
Altamont Corridor Express - ACE                                                   21
Alpine County                                                                     21
Montebello                                                                        21
Montebello - Specialized Service                                                  21
Albany - Specialized Service                                                      21
Alameda-Contra Costa Transit District                                             21
Lompoc - Specialized Service                                                      21
Long Beach Public Transportation Company - Specialized Service                    21
Humboldt Transit Authority - Specialized Service                                  21
Gridley - Specialized Service                                                     21
Guadalupe                                                                         21
Golden Gate Bridge Highway and Transportation District - Specialized Service      21
Guadalupe - Specialized Service                                                   21
Hayward - Specialized Service                                                     21
Heritage Valley Transit Service                                                   21
Hermosa Beach Specialized Service                                                 21

,entity_name,fiscal_year,entity_id,metric,metric_unit
0,Access Services for Los Angeles County CTSA - Specialized Service,2020,12604,total_upt,3577323.0
1,Alameda - Specialized Service,2020,443,total_upt,0.0
2,Alameda-Contra Costa Transit District,2020,444,total_upt,44926857.0
3,Albany - Specialized Service,2020,445,total_upt,4749.0
4,Alpine County,2020,10443,total_upt,558.0

In [84]:
# filter melted df by column categories
melt[melt["metric"]=="total_vrm"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1961 entries, 3922 to 5882
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   entity_name  1961 non-null   object
 1   fiscal_year  1961 non-null   int64
 2   entity_id    1961 non-null   int64
 3   metric       1961 non-null   object
 4   metric_unit  1961 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 91.9+ KB

In [85]:
# What does group/agg the melted DF look like?
vrh_total = (
    melt[melt["metric"]=="total_vrh"]
    .groupby(["entity_name","entity_id", "fiscal_year"])["metric_unit"]
    .sum()
    .reset_index()
).rename(columns={"metric_unit":"total_vrh"})

vrm_total = (
    melt[melt["metric"]=="total_vrm"]
    .groupby(["entity_name","entity_id", "fiscal_year"])["metric_unit"]
    .sum()
    .reset_index()
).rename(columns={"metric_unit":"total_vrm"})

passenger_total =(
    melt[melt["metric"]=="total_upt"]
    .groupby(["entity_name","entity_id", "fiscal_year"])["metric_unit"]
    .sum()
    .reset_index()
).rename(columns={"metric_unit":"total_upt"})

In [86]:
# inspect melted DF by just VRH columns in Sacramento
all_totals = [
    vrh_total,
    vrm_total,
    passenger_total
]

for df in all_totals:
    display(df[df["entity_name"].str.contains("Sacramento")].head()) # some operators do not have data for some modes. this makes sense.

            entity_name  entity_id  fiscal_year  total_vrh
1279  Sacramento County        628         2018    22996.0
1280  Sacramento County        628         2019    23995.0
1281  Sacramento County        628         2020    21943.0
1282  Sacramento County        628         2021    17413.0
1283  Sacramento County        628         2022    18624.0

            entity_name  entity_id  fiscal_year  total_vrm
1279  Sacramento County        628         2018   506955.0
1280  Sacramento County        628         2019   491287.0
1281  Sacramento County        628         2020   472778.0
1282  Sacramento County        628         2021   378173.0
1283  Sacramento County        628         2022   433878.0

            entity_name  entity_id  fiscal_year  total_upt
1279  Sacramento County        628         2018   112527.0
1280  Sacramento County        628         2019   114319.0
1281  Sacramento County        628         2020    88122.0
1282  Sacramento County        628         2021    29991.0
1283  Sacramento County        628         2022    36478.0

In [87]:
# inspect melted DF by just VRH columns in Sacramento
for df in all_totals:
    display(df[df["entity_name"].str.contains("Albany - Specialized Service")].head())

                     entity_name  entity_id  fiscal_year  total_vrh
21  Albany - Specialized Service        445         2018        0.0
22  Albany - Specialized Service        445         2019        0.0
23  Albany - Specialized Service        445         2020        0.0
24  Albany - Specialized Service        445         2021        0.0
25  Albany - Specialized Service        445         2022        0.0

                     entity_name  entity_id  fiscal_year  total_vrm
21  Albany - Specialized Service        445         2018        0.0
22  Albany - Specialized Service        445         2019        0.0
23  Albany - Specialized Service        445         2020        0.0
24  Albany - Specialized Service        445         2021        0.0
25  Albany - Specialized Service        445         2022        0.0

                     entity_name  entity_id  fiscal_year  total_upt
21  Albany - Specialized Service        445         2018     6278.0
22  Albany - Specialized Service        445         2019     6728.0
23  Albany - Specialized Service        445         2020     4749.0
24  Albany - Specialized Service        445         2021      245.0
25  Albany - Specialized Service        445         2022     4036.0