# ATP Data Exploration

In [18]:
import numpy as np
import pandas as pd
from siuba import *

import altair as alt
import altair_saver
from plotnine import *

from IPython.display import Markdown, HTML, Image
import ipywidgets as widgets
from ipywidgets import interact, interactive

from calitp import to_snakecase
import intake

from shared_utils import altair_utils
from shared_utils import styleguide

from dla_utils import _dla_utils

In [5]:
main_details = to_snakecase(pd.read_excel("gs://calitp-analytics-data/data-analyses/dla/atp/Main Details.xls"))
project_details = to_snakecase(pd.read_excel("gs://calitp-analytics-data/data-analyses/dla/atp/Project Details.xls"))

In [9]:
main_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 83 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   a1_imp_agcy_city              882 non-null    object
 1   a1_imp_agcy_contact           882 non-null    object
 2   a1_imp_agcy_email             882 non-null    object
 3   a1_imp_agcy_fed_ma_num        742 non-null    object
 4   a1_imp_agcy_ma                882 non-null    object
 5   a1_imp_agcy_name              882 non-null    object
 6   a1_imp_agcy_phone             882 non-null    object
 7   a1_imp_agcy_state_ma_num      780 non-null    object
 8   a1_imp_agcy_street            882 non-null    object
 9   a1_imp_agcy_title             882 non-null    object
 10  a1_imp_agcy_zip               882 non-null    int64
 11  a1_letter_of_intent           87 non-null     object
 12  a1_proj_partner_agcy          90 non-null     object
 13  a1_proj_partner_contact       89 non-null     object
 14  a1_proj_partner_email         89 non-null     object
 15  a1_proj_partner_exists        882 non-null    object
 16  a1_proj_partner_phone         89 non-null     object
 17  a1_proj_partner_title         88 non-null     object
 18  a2_assem_dist_a               882 non-null    int64
 19  a2_assem_dist_b               137 non-null    float64
 20  a2_assem_dist_c               66 non-null     float64
 21  a2_congress_dist_a            882 non-null    int64
 22  a2_congress_dist_b            129 non-null    float64
 23  a2_congress_dist_c            59 non-null     float64
 24  a2_county                     882 non-null    object
 25  a2_ct_dist                    882 non-null    int64
 26  a2_info_proj_descr            881 non-null    object
 27  a2_info_proj_loc              882 non-null    object
 28  a2_info_proj_name             882 non-null    object
 29  a2_mop_uza_population         882 non-null    object
 30  a2_mpo                        882 non-null    object
 31  a2_past_proj                  882 non-null    object
 32  a2_past_proj_qty              882 non-null    int64
 33  a2_proj_lat                   448 non-null    float64
 34  a2_proj_long                  448 non-null    float64
 35  a2_proj_scope_summary         882 non-null    object
 36  a2_project_location_map       0 non-null      float64
 37  a2_rtpa                       882 non-null    object
 38  a2_senate_dist_a              882 non-null    int64
 39  a2_senate_dist_b              106 non-null    float64
 40  a2_senatedistc                58 non-null     float64
 41  a3_plan_active_trans          0 non-null      float64
 42  a3_plan_active_trans_exists   882 non-null    object
 43  a3_plan_bicycle               0 non-null      float64
 44  a3_plan_bicycle_exists        882 non-null    object
 45  a3_plan_ped                   0 non-null      float64
 46  a3_plan_ped_exists            882 non-null    object
 47  a3_plan_srts                  0 non-null      float64
 48  a3_plan_srts_exists           882 non-null    object
 49  a3_proj_type                  882 non-null    object
 50  a3_st_bicycle_applies         882 non-null    object
 51  a3_st_bicycle_pct             882 non-null    int64
 52  a3_st_num_schools             882 non-null    int64
 53  a3_st_ped_applies             882 non-null    object
 54  a3_st_ped_pct                 882 non-null    int64
 55  a3_st_srts                    882 non-null    object
 56  a3_trail_elig_cost            882 non-null    int64
 57  a3_trail_fed_funding          163 non-null    object
 58  a3_trail_trans_pct            882 non-null    int64
 59  a3_trails                     882 non-null    object
 60  agency_app_num                882 non-null    int64
 61  app_pk                        882 non-null    int64
 62  attch_addtl_attachments       624 non-null    object
 63  attch_app_sig_page            882 non-null    object
 64  attch_conditions_photos       882 non-null    object
 65  attch_conditions_project_map  805 non-null    object
 66  attch_engineeers_checklist    808 non-null    object
 67  attch_exhibit22_plan          0 non-null      float64
 68  attch_letters_of_support      837 non-null    object
 69  attch_link                    0 non-null      float64
 70  attch_ni_workplan             259 non-null    object
 71  attch_project_estimate        808 non-null    object
 72  completed_pdf_form            0 non-null      float64
 73  main_datetime_stamp           882 non-null    datetime64[ns]
 74  project_app_id                882 non-null    object
 75  project_cycle                 882 non-null    object
 76  awarded                       882 non-null    object
 77  a1_locode                     881 non-null    object
 78  a3_plan_none                  882 non-null    object
 79  a3_plan_other                 882 non-null    object
 80  a3_plan_other_desc            451 non-null    object
 81  a2_output_outcome             882 non-null    object
 82  a3_current_plan               853 non-null    object
dtypes: datetime64[ns](1), float64(16), int64(13), object(53)
memory usage: 572.0+ KB

In [11]:
project_details.sample()

,b_sig_inter_new_bike_boxes,b_class_1,b_class_2,b_class_3,b_class_4,a4_bike_gap_pct,b_light_intersection,b_mid_block_new_rrfb_signal,b_mid_block_surf_improv,b_bsp_new_bikes,...,a4_collab_other,a4_colab_other_descr,a4_plan_ped,a4_plan_bike,a4_plan_atp,a4_plan_school_routes,a4_row_open_street_demo,project_app_id,project_cycle,awarded
422,0,0,0,0,18800,NaN,0,0,0,0,...,N,NaN,N,N,N,N,No,"10-Stockton, City of-3",CYCLE 5,N

In [13]:
project_details.project_cycle.value_counts()

CYCLE 5    448
CYCLE 6    434
Name: project_cycle, dtype: int64

In [16]:
project_details>>count(_.project_app_id)>>filter(_.n>1)

                           project_app_id  n
4                     1-Eureka, City of-1  2
5                     1-Eureka, City of-2  2
9                         1-Lake County-1  2
10   1-Mendocino Council of Governments-1  2
16                  10-Calaveras County-1  2
..                                    ... ..
601                 8-Wildomar, City of-2  2
602                  8-Yucaipa, City of-1  2
603                   9-Bishop, City of-1  2
605                9-Tehachapi, City of-1  2
606                9-Tehachapi, City of-2  2

[275 rows x 2 columns]

In [15]:
project_details>>group_by(_.project_cycle)>>count(_.project_app_id)>>filter(_.n>1)

Empty DataFrame
Columns: [project_cycle, project_app_id, n]
Index: []

* multiple project ids, but no duplicates by project cycle.

## Merging Data

In [19]:
df = pd.merge(main_details, project_details, how="outer", on=["project_app_id", "project_cycle"], indicator='matches')

In [24]:
(df>>filter(_.project_app_id =='1-Mendocino Council of Governments-1')>>select(_.project_app_id, 
                                                                              _.project_cycle,
                                                                             _.matches,
                                                                              _.agency_app_num))

,project_app_id,project_cycle,matches,agency_app_num
405,1-Mendocino Council of Governments-1,CYCLE 5,both,1
750,1-Mendocino Council of Governments-1,CYCLE 6,both,1