In [1]:
import operator_utils

/opt/conda/lib/python3.10/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
agency = operator_utils.add_agency_name()
agency.head()

   calitp_itp_id    calitp_agency_name
0              0          Big Blue Bus
1              1     El Dorado Transit
2              2  Beach Cities Transit
3              3      Commuter Express
4              4            AC Transit

In [3]:
district = operator_utils.add_caltrans_district()
district.head()

   calitp_itp_id caltrans_district
0              0   03 - Marysville
1              1  07 - Los Angeles
2              2  07 - Los Angeles
3              4      04 - Oakland
4              6  07 - Los Angeles

In [4]:
routes = operator_utils.add_route_name()
routes.head()

   calitp_itp_id route_id                   route_name_used
0              0     3304  Main St & Santa Monica Blvd/Ucla
1              0     3305                Wilshire Blvd/Ucla
2              0     3306                  Lincoln Blvd/Lax
3              0     3308                      Olympic Blvd
4              0     3310                         Pico Blvd

In [5]:
latest_id = operator_utils.latest_itp_id()
latest_id.head()

   calitp_itp_id
0             13
1            323
2             45
3            300
4             87