In [1]:
import pandas as pd
import geopandas as gpd
from siuba import *
from calitp_data_analysis.gcs_geopandas import GCSGeoPandas
gcsgp = GCSGeoPandas()

HQTA_PATH = 'gs://calitp-analytics-data/data-analyses/high_quality_transit_areas/export/2024-09-18/ca_hq_transit_areas.parquet'

In [2]:
processed_census_path = 'gs://calitp-analytics-data/data-analyses/sb125/quick_mts_jobs/'

In [3]:
from calitp_data_analysis.utils import geoparquet_gcs_export

### Prerequisites
1. Download [this 2021 CA LODES data file](https://lehd.ces.census.gov/data/lodes/LODES8/ca/wac/ca_wac_S000_JT01_2021.csv.gz)
1. Download the blocks shapefile from [2020 TIGER/LineÂ® Shapefiles](https://www.census.gov/cgi-bin/geo/shapefiles/index.php?year=2020&layergroup=Blocks+%282020%29) by selecting California from the Block(2020) dropdown
1. Download data from [the Census data site](https://data.census.gov/table/DECENNIALPL2020.P1)
1. Move these data files to this folder

# Quick counts of people and jobs within ~0.5mi of a Major Transit Stop

Just wrapped this up, attached are two csvs. One summarizes jobs and population within a half mile of the various types of Major Transit Stop per PRC 21155 and PRC 21064.3, the other additionally separates them out by transit agency.

Used 2020 Census LEHD Workplace Area Characteristics to get all primary jobs by Census block, population by block is from the 2020 decennial Census. Spatial join was a simple intersection of each half-mile buffer around a major transit stop with all Census blocks, then jobs and people were summed across all those blocks to get a single figure per major stop.

## read clean census (already done, output on GCS)

In [ ]:
import gzip
# all workers, all primary jobs
# download this data file from
# https://lehd.ces.census.gov/data/lodes/LODES8/ca/wac/ca_wac_S000_JT01_2021.csv.gz
# and move it to this folder before running
with gzip.open('./ca_wac_S000_JT01_2021.csv.gz', 'rb') as f:
    df = pd.read_csv(f)

In [ ]:
df = df.iloc[:, :2]

In [ ]:
import zipfile

In [ ]:
# download data file https://data.census.gov/table/DECENNIALPL2020.P1 and move to this folder
with zipfile.ZipFile('./DECENNIALPL2020.P1_2024-10-16T105517.zip', 'r') as myzip:
    with myzip.open('DECENNIALPL2020.P1-Data.csv') as f:
        df2 = pd.read_csv(f)

In [ ]:
df2 = df2.iloc[1:,:3]

In [ ]:
df2.GEO_ID = df2.GEO_ID.map(lambda x: x[10:])

In [ ]:
df2.GEO_ID = df2.GEO_ID.astype(int)

In [ ]:
df2.P1_001N = df2.P1_001N.astype(int)

In [ ]:
df2 >> head(3)

In [ ]:
df2.dtypes

In [ ]:
df >> head(3)

In [ ]:
df.dtypes

In [ ]:
joined = df2 >> inner_join(_, df, on={'GEO_ID':'w_geocode'})

In [ ]:
joined

In [ ]:
hqta >> head(3)

In [ ]:
# download the blocks shapefile from
# https://www.census.gov/cgi-bin/geo/shapefiles/index.php?year=2020&layergroup=Blocks+%282020%29
# by selecting California from the Block(2020) dropdown and move to this folder
blocks = gpd.read_file('./tl_2020_06_tabblock20.zip')

In [ ]:
blocks = blocks >> select(_.GEOID20, _.POP20, _.HOUSING20, _.geometry)

In [ ]:
blocks.GEOID20 = blocks.GEOID20.astype(int)

In [ ]:
blocks = blocks >> rename(GEO_ID = _.GEOID20)

In [ ]:
joined = blocks >> inner_join(_, joined, on='GEO_ID')

In [ ]:
joined

In [ ]:
joined = joined >> select(_.geoid == _.GEO_ID, _.pop == _.POP20, _.jobs == _.C000,
                          _.housing == _.HOUSING20, _.geometry)

In [ ]:
joined.to_parquet('census_jobs_blocks.parquet')

In [ ]:
geoparquet_gcs_export(joined, processed_census_path, 'census_jobs_blocks.parquet')

## Spatial Join (start here)

In [4]:
census = gcsgp.read_parquet(f'{processed_census_path}census_jobs_blocks.parquet').rename(columns={'pop': 'people'})

In [5]:
hqta = gcsgp.read_parquet(HQTA_PATH)

In [6]:
hqta = hqta >> select(_.agency_primary, _.hqta_type, _.geometry) >> filter(_.hqta_type != 'hq_corridor_bus')

In [7]:
from calitp_data_analysis import geography_utils

In [14]:
hqta = hqta.to_crs(geography_utils.CA_NAD83Albers_m)

In [15]:
census = census.to_crs(geography_utils.CA_NAD83Albers_m)

In [16]:
sjoined = census.sjoin(hqta, how="inner", predicate='intersects') # flip direction to calculate area
sjoined = sjoined >> rename(hqta_ix = _.index_right)

In [17]:
# hqta = hqta.reset_index().rename(columns={'index':'hqta_ix'}) #  might actually have use for an ix
# sjoined = hqta.sjoin(census, how="inner", predicate='intersects')

In [18]:
from shared_utils.rt_utils import METERS_PER_MILE
sq_m_per_sq_mi = METERS_PER_MILE**2

In [19]:
sq_m_per_sq_mi

2589975.2356

In [20]:
sjoined = sjoined >> mutate(area_sq_mi = _.geometry.map(lambda x: x.area / sq_m_per_sq_mi))

In [21]:
sj_geo = sjoined.copy()

In [22]:
sjoined = sjoined >> select(-_.geometry, -_.index_right)

In [23]:
sjoined >> head(3)

               geoid  people  ...       hqta_type  area_sq_mi
1     61130101032011       0  ...  major_stop_bus    0.058746
3933  61130102011037       0  ...  major_stop_bus    0.031665
4436  61130102042002      53  ...  major_stop_bus    0.009574

[3 rows x 8 columns]

In [24]:
(sjoined >> distinct(_.geoid, _.people)).sum()

geoid     6217363199145780985
people               15073821
dtype: int64

In [25]:
stop_grouped = (sjoined >> group_by(_.hqta_ix, _.agency_primary, _.hqta_type)
                >> summarize(total_jobs = _.jobs.sum(), total_pop = _.people.sum(),
                            total_housing = _.housing.sum(), total_sq_mi = _.area_sq_mi.sum(),
                            n = _.shape[0])
               )

In [26]:
(sjoined >> filter(_.hqta_ix == 8241)).sum()

geoid                                             12210775559444427
people                                                        71224
jobs                                                          27877
housing                                                       45230
hqta_ix                                                     1656441
agency_primary    City and County of San FranciscoCity and Count...
hqta_type         major_stop_busmajor_stop_busmajor_stop_busmajo...
area_sq_mi                                                 0.950171
dtype: object

In [27]:
stop_grouped >> arrange(-_.total_pop)

       hqta_ix                       agency_primary  ... total_sq_mi    n
5672      8241     City and County of San Francisco  ...    0.950171  201
5907      8476     City and County of San Francisco  ...    0.917606  210
5673      8242     City and County of San Francisco  ...    0.934889  212
5929      8498     City and County of San Francisco  ...    0.938074  213
5927      8496     City and County of San Francisco  ...    0.949875  209
...        ...                                  ...  ...         ...  ...
46379    48949  San Francisco International Airport  ...    2.908523    3
46380    48950  San Francisco International Airport  ...    2.908523    3
46387    48957  San Francisco International Airport  ...    2.908523    3
46388    48958  San Francisco International Airport  ...    2.908523    3
46389    48959  San Francisco International Airport  ...    2.908523    3

[46660 rows x 8 columns]

In [28]:
stop_grouped.describe()

            hqta_ix     total_jobs  ...   total_sq_mi             n
count  46660.000000   46660.000000  ...  46660.000000  46660.000000
mean   25898.547342   16830.931740  ...      1.207810     77.852036
std    13469.804237   36277.232701  ...      0.952010     44.769746
min     2569.000000       5.000000  ...      0.155600      2.000000
25%    14233.750000    2483.000000  ...      0.921196     42.000000
50%    25898.500000    5049.000000  ...      1.039169     70.000000
75%    37563.250000   11998.750000  ...      1.293047    104.000000
max    49229.000000  255743.000000  ...    153.077307    317.000000

[8 rows x 6 columns]

In [29]:
def group_calculate(df, grouper, normalize=False):
    if normalize:
        df.total_pop = df.total_pop / df.total_sq_mi
        df.total_jobs = df.total_jobs / df.total_sq_mi
        df.total_housing = df.total_housing / df.total_sq_mi
    df = stop_grouped >> grouper >> summarize(
                            p5_pop = _.total_pop.quantile(.05), p20_pop = _.total_pop.quantile(.2),
                            p50_pop = _.total_pop.quantile(.5), 
                            p80_pop = _.total_pop.quantile(.8), p95_pop = _.total_pop.quantile(.95),
                            p5_jobs = _.total_jobs.quantile(.05),
                            p20_jobs = _.total_jobs.quantile(.2), p50_jobs = _.total_jobs.quantile(.5),
                            p80_jobs = _.total_jobs.quantile(.8), p95_jobs = _.total_jobs.quantile(.95),
                            p5_housing = _.total_housing.quantile(.05),
                            p20_housing = _.total_housing.quantile(.2), p50_housing = _.total_housing.quantile(.5),
                            p80_housing = _.total_housing.quantile(.8), p95_housing = _.total_housing.quantile(.95)
                        )
    if normalize:
        new_names = df.columns.map(lambda x: x+'_per_sq_mi')
        rename_dict = dict(zip(df.columns, new_names))
        df = df.rename(columns=rename_dict)
    return df.round(1)

In [30]:
by_type = group_calculate(stop_grouped, group_by(_.hqta_type), normalize=False)
by_type

          hqta_type  p5_pop  p20_pop  ...  p50_housing  p80_housing  p95_housing
0    major_stop_brt  7201.0  14900.6  ...      11311.0      21936.0      36266.9
1    major_stop_bus  2505.0   5479.0  ...       3606.0       7134.0      17160.0
2  major_stop_ferry   507.8   3172.0  ...       4143.0       6906.2       7761.0
3   major_stop_rail  2227.7   6191.0  ...       5220.0      15627.0      32754.0

[4 rows x 16 columns]

In [31]:
by_type_norm = group_calculate(stop_grouped, group_by(_.hqta_type), normalize=True)
by_type_norm

  hqta_type_per_sq_mi  ...  p95_housing_per_sq_mi
0      major_stop_brt  ...                38742.2
1      major_stop_bus  ...                18680.4
2    major_stop_ferry  ...                16976.2
3     major_stop_rail  ...                34478.3

[4 rows x 16 columns]

In [32]:
by_agency = group_calculate(stop_grouped, group_by(_.hqta_type, _.agency_primary), normalize=False)
by_agency

           hqta_type  ... p95_housing
0     major_stop_brt  ...     13862.3
1     major_stop_brt  ...     41951.5
2     major_stop_brt  ...     14945.4
3     major_stop_bus  ...     13572.8
4     major_stop_bus  ...      4404.5
..               ...  ...         ...
157  major_stop_rail  ...       506.9
158  major_stop_rail  ...      5345.9
159  major_stop_rail  ...      8695.6
160  major_stop_rail  ...      3614.0
161  major_stop_rail  ...      3501.8

[162 rows x 17 columns]

In [33]:
by_agency_norm = group_calculate(stop_grouped, group_by(_.hqta_type, _.agency_primary), normalize=True)
by_agency_norm

    hqta_type_per_sq_mi  ... p95_housing_per_sq_mi
0        major_stop_brt  ...               17202.4
1        major_stop_brt  ...               46269.3
2        major_stop_brt  ...               17633.7
3        major_stop_bus  ...               16396.4
4        major_stop_bus  ...                5366.5
..                  ...  ...                   ...
157     major_stop_rail  ...                 258.8
158     major_stop_rail  ...                5925.5
159     major_stop_rail  ...               11049.7
160     major_stop_rail  ...                3019.5
161     major_stop_rail  ...                3766.8

[162 rows x 17 columns]

In [34]:
# by_type.to_csv('pop_jobs_housing_by_major_stop_type.csv')
# by_type_norm.to_csv('pop_jobs_housing_by_major_stop_type_sq_mi.csv')
# by_agency.to_csv('pop_jobs_housing_by_major_stop_type_and_agency.csv')
# by_agency_norm.to_csv('pop_jobs_housing_by_major_stop_type_and_agency_sq_mi.csv')

## spot-checks

In [35]:
sjoined.geoid = sjoined.geoid.astype(str)

In [36]:
sjoined

                 geoid  people  ...       hqta_type  area_sq_mi
1       61130101032011       0  ...  major_stop_bus    0.058746
3933    61130102011037       0  ...  major_stop_bus    0.031665
4436    61130102042002      53  ...  major_stop_bus    0.009574
5017    61130102042011       0  ...  major_stop_bus    0.005923
5673    61130102011043      49  ...  major_stop_bus    0.008385
...                ...     ...  ...             ...         ...
247980  60450109003011      40  ...  major_stop_bus    0.407573
180366  60450109003041       0  ...  major_stop_bus    0.174335
245059  60450109001092      22  ...  major_stop_bus    2.219659
245419  60450109003031      19  ...  major_stop_bus    0.211296
247980  60450109003011      40  ...  major_stop_bus    0.407573

[3632576 rows x 8 columns]

In [37]:
import numpy as np

In [38]:
test_tract = '6037271801'

In [39]:
test = sjoined >> filter(_.geoid.str.contains(test_tract))

In [40]:
test >> distinct(_.geoid, _keep_all=True)

             geoid  people  ...       hqta_type  area_sq_mi
0   60372718013000     530  ...  major_stop_bus    0.024759
1   60372718012004    1343  ...  major_stop_bus    0.031084
2   60372718011005     383  ...  major_stop_bus    0.019604
3   60372718012005     207  ...  major_stop_bus    0.009141
4   60372718011002     216  ...  major_stop_bus    0.009337
5   60372718011003     108  ...  major_stop_bus    0.008104
6   60372718012000     147  ...  major_stop_bus    0.011464
7   60372718012001     127  ...  major_stop_bus    0.009505
8   60372718012002     152  ...  major_stop_bus    0.010094
9   60372718011001      90  ...  major_stop_bus    0.010074
10  60372718012003      60  ...  major_stop_bus    0.019717
11  60372718013001     185  ...  major_stop_bus    0.006934
12  60372718011000     118  ...  major_stop_bus    0.007862

[13 rows x 8 columns]

In [41]:
(test >> distinct(_.geoid, _keep_all=True)).sum()

geoid             6037271801300060372718012004603727180110056037...
people                                                         3666
jobs                                                            302
housing                                                        1835
hqta_ix                                                      158129
agency_primary    City of Culver CityCity of Culver CityCity of ...
hqta_type         major_stop_busmajor_stop_busmajor_stop_busmajo...
area_sq_mi                                                  0.17768
dtype: object

In [42]:
3666 / 0.17768

20632.597928860872

In [43]:
sj_geo['pop_sq_mi'] = sj_geo.people / sj_geo.area_sq_mi

In [44]:
sj_geo >> head(3)

               geoid  people  jobs  ...       hqta_type area_sq_mi    pop_sq_mi
1     61130101032011       0   503  ...  major_stop_bus   0.058746     0.000000
3933  61130102011037       0    24  ...  major_stop_bus   0.031665     0.000000
4436  61130102042002      53    12  ...  major_stop_bus   0.009574  5535.764044

[3 rows x 10 columns]

In [45]:
sj_geo >> arrange(-_.pop_sq_mi)

                 geoid  people  jobs  ...       hqta_type area_sq_mi      pop_sq_mi
70452   60730051032002    2311     6  ...  major_stop_bus   0.003853  599832.547485
70452   60730051032002    2311     6  ...  major_stop_bus   0.003853  599832.547485
70452   60730051032002    2311     6  ...  major_stop_bus   0.003853  599832.547485
70452   60730051032002    2311     6  ...  major_stop_bus   0.003853  599832.547485
70452   60730051032002    2311     6  ...  major_stop_bus   0.003853  599832.547485
...                ...     ...   ...  ...             ...        ...            ...
220792  60819843001014       0     4  ...  major_stop_bus   0.084919       0.000000
180366  60450109003041       0     4  ...  major_stop_bus   0.174335       0.000000
180366  60450109003041       0     4  ...  major_stop_bus   0.174335       0.000000
180366  60450109003041       0     4  ...  major_stop_bus   0.174335       0.000000
180366  60450109003041       0     4  ...  major_stop_bus   0.174335       0.000000

[3632576 rows x 10 columns]

In [46]:
# (sj_geo >> filter(_.hqta_ix == 38209)).explore()

In [47]:
(sj_geo >> filter(_.hqta_ix == 38209)).sum()

/tmp/ipykernel_1959/2661624186.py:1: FutureWarning: The default value of numeric_only in GeoDataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  (sj_geo >> filter(_.hqta_ix == 38209)).sum()

geoid                                              8684397483496020
people                                                        23721
jobs                                                          19005
housing                                                       16057
hqta_ix                                                     5463887
agency_primary    San Diego International AirportSan Diego Inter...
hqta_type         major_stop_busmajor_stop_busmajor_stop_busmajo...
area_sq_mi                                                 0.896213
pop_sq_mi                                            5229157.387554
dtype: object

In [48]:
23721 / 0.896213

26468.03829000472

In [ ]:
stop_dis = sj_geo.dissolve(by='hqta_ix', aggfunc=[np.sum])

In [ ]:
stop_dis.columns

In [ ]:
rename_dict = dict(zip(stop_dis.columns, [col[0] for col in stop_dis.columns]))
rename_dict['geometry'] = 'geometry'

In [ ]:
stop_dis = stop_dis.rename(columns=rename_dict)

In [ ]:
stop_dis = stop_dis >> select(-_.agency_primary, -_.hqta_type)

In [ ]:
stop_dis.pop_sq_mi = stop_dis.people / stop_dis.area_sq_mi

In [ ]:
stop_dis.pop_sq_mi.quantile(.8)

In [ ]:
stop_dis.pop_sq_mi.hist()

In [ ]:
# (stop_dis >> filter(_.pop_sq_mi > 50000)).explore()

In [ ]:
stop_dis.pop_sq_mi.max()

In [ ]:
# (stop_dis >> filter(_.pop_sq_mi > 70000)).explore()

In [ ]:
stop_dis.loc[8241,:]

In [ ]:
stop_dis.loc[8732:8733,:].geometry.area / sq_m_per_sq_mi

In [ ]:
stop_dis >> arrange(-_.pop_sq_mi)

In [ ]:
from shared_utils.rt_utils import show_full_df

In [ ]:
stop_grouped['pop_sq_mi'] = stop_grouped.total_pop / stop_grouped.total_sq_mi

In [ ]:
stop_grouped >> arrange(-_.pop_sq_mi)

In [ ]:
# show_full_df(sjoined >> filter(_.hqta_ix == 8732))