## RT trip diagnostics: thresholds for usable trips 
Notes/Questions
* What is the calitp url number? What does 0 or 1 mean? V1, operator has different feeds. 
    * 0 could be primary, 1 is backup. Will go away. 
* Do you think that most shape IDS are going to be less than 100% of the length of the longest shape ID? 
    * Not necessarily, shape ID can be a short version of the trip.
* Whatâ€™s the difference between direction ID and route dir identifier? What does the 0 and 1 mean in direction ID?
    * We don't know where the bus is going, so just do 0 and 1.
    * Route dir identifier: captures route info and direction it is going to capture all the trips. Helps with groupby. 
    * We don't want to stick with trip id, we need to get to route level. 
    * Don't want to lose info on the direction. 
    * Have to distinguish direction or else when plotting, it'll look like the bus is going backwards.
    * RT data comes with direction id. Can get which direction it ran in from schedule data. 
    * Attach route, join coordinate data to segments. 
    * Use segments and average out trips that occurred on that segment. 
* Ask about graph on Slack.

In [1]:
import dask.dataframe as dd
import dask_geopandas as dg
import geopandas as gpd
import pandas as pd
from calitp.sql import to_snakecase
from shared_utils import geography_utils, utils

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
# Save files to GCS
from calitp.storage import get_fs

fs = get_fs()

In [3]:
# Record start and end time
import datetime

from loguru import logger

In [4]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

### Load Files

In [5]:
GCS_DASK_PATH = "gs://calitp-analytics-data/data-analyses/dask_test/"

In [6]:
GCS_RT_PATH = "gs://calitp-analytics-data/data-analyses/rt_delay/"

In [7]:
analysis_date = "2022-10-12"

* Should I use this `get_routelines` from `A1_vehicle_positions`. 
    * Just read it directly from GCS, don't need buffer.

In [8]:
# Read in route lines
routelines = gpd.read_parquet(
    f"{GCS_RT_PATH}compiled_cached_views/routelines_{analysis_date}.parquet"
)

In [9]:
len(routelines), routelines.shape_id.nunique()

(9430, 6353)

In [10]:
# Read in Trips
trips = pd.read_parquet(
    f"{GCS_RT_PATH}compiled_cached_views/trips_{analysis_date}.parquet"
)

In [11]:
len(trips)

120136

* The `route_dir_identifier` is used for segments to cut segments
for both directions the route runs.

In [12]:
# Read in longest_shape of each route
longest_shape = gpd.read_parquet(f"{GCS_DASK_PATH}longest_shape_segments.parquet")

* Why would the same route ID for the other direction have more segments? 
   * Can have a layover. 
   * A segment must be 1000 meters or less.

In [13]:
# longest_shape.groupby(['calitp_itp_id','route_id','longest_shape_id']).agg({'segment_sequence':'nunique'}).head()

In [14]:
# longest_shape.sort_values(['calitp_itp_id', 'route_id']).head(25).drop(columns=["geometry", "geometry_arrowized"])

In [15]:
crosswalk = pd.read_parquet(
    f"{GCS_DASK_PATH}segments_route_direction_crosswalk.parquet"
)

In [16]:
# Use pandas.read_parquet/read_feather() instead.
operator_4 = pd.read_parquet(
    f"{GCS_DASK_PATH}vp_sjoin/vp_segment_4_{analysis_date}.parquet"
)

### Task 1
* Using GTFS schedule data, by route_id-shape_id, calculate the route_length of each shape_id as a proportion of the longest shape_id. 
* For each route_id, what's the shortest shape_id length, in proportion to the longest shape_id's length. if it's 100%, then all shape_ids are equal length for that route. if it's 50%, there's a short trip that exists that only runs 50% of the length and turns around.

<b>How</b>
* Need table `trips` from compile cached views -> shape ID and route ID and direction ID -> merge in segments crosswalk with route direction identifier 
* Shapes table -> attach route dir identifier and merge in longest shape line using  routes and direction. 
* Attach longest shape ID onto this and take the fraction.

#### Merge trips with crosswalk
* Why do we take away `trip_id` from `trips`?

In [17]:
# Subset
trips2 = trips[
    [
        "calitp_itp_id",
        "route_id",
        "direction_id",
        "shape_id",
    ]
]

In [18]:
len(
    trips2,
), len(crosswalk)

(120136, 5150)

In [19]:
crosswalk.head(2)

,calitp_itp_id,route_id,direction_id,route_dir_identifier
0,372,4ba918e5-58c0-4d4a-9f55-5cadb8564bff,0,255544
1,293,7,0,1269889

In [20]:
# crosswalk.info(), trips2.info()

In [21]:
# trips.head()

In [22]:
len(trips2.drop_duplicates()), len(trips2)

(8199, 120136)

##### How could there be duplicates? Is it right to drop them?

In [23]:
trips2 = (trips2.drop_duplicates()).reset_index(drop=True)

* Many more values in `trips` than `crosswalk`.

In [24]:
trips2.merge(
    crosswalk,
    how="outer",
    on=["calitp_itp_id", "route_id", "direction_id"],
    indicator=True,
)[["_merge"]].value_counts()

_merge
both          7833
left_only      366
right_only      74
dtype: int64

In [25]:
trips_m_crosswalk = trips2.merge(
    crosswalk, how="inner", on=["calitp_itp_id", "route_id", "direction_id"]
)

In [26]:
trips_m_crosswalk.head()

   calitp_itp_id route_id direction_id    shape_id  route_dir_identifier
0              4        U            1    shp-U-06            1244740981
1              4        U            0    shp-U-07            1026952675
2              4      212            1  shp-212-07            1369834141
3              4      212            0  shp-212-57             648098315
4              4       67            0   shp-67-57            3358964048

#### Shapes table -> attach route dir identifier

In [27]:
routelines = routelines.drop(columns=["calitp_url_number"])

In [28]:
# Calculate length of geometry
routelines = routelines.assign(
    actual_route_length=(
        routelines.geometry.to_crs(geography_utils.CA_StatePlane).length
    )
)

In [29]:
routelines.loc[routelines.shape_id == "shp-U-06"].drop(columns=["geometry"])

     calitp_itp_id  shape_id  actual_route_length
111              4  shp-U-06            111927.21
622              4  shp-U-06            111927.21

##### How could there be duplicates? Is it right to drop them?

In [30]:
len(routelines), len(routelines.drop_duplicates())

(9430, 8133)

In [31]:
routelines = (routelines.drop_duplicates()).reset_index(drop=True)

In [32]:
# When I do an outer merge, there are 363 values that are left only
# aka the trips_crosswalk df. Is this okay?
routelines.merge(
    trips_m_crosswalk, how="outer", on=["calitp_itp_id", "shape_id"], indicator=True
)[["_merge"]].value_counts()

_merge
both          8529
left_only      363
right_only       0
dtype: int64

In [33]:
routelines_m_trips = routelines.merge(
    trips_m_crosswalk,
    how="inner",
    on=["calitp_itp_id", "shape_id"],
)

In [34]:
len(routelines_m_trips), len(trips_m_crosswalk), len(routelines)

(8529, 7833, 8133)

* Why did my direction ID 0 for "shp-U-06" get dropped?

In [35]:
routelines_m_trips.loc[routelines_m_trips.route_id == "U"].drop(columns=["geometry"])

,calitp_itp_id,shape_id,actual_route_length,route_id,direction_id,route_dir_identifier
1,4,shp-U-07,111849.47,U,0,1026952675
111,4,shp-U-06,111927.21,U,1,1244740981

#### Merge in longest shape line on routes and direction.

In [36]:
routelines_m_trips.crs == longest_shape.crs

True

In [37]:
# longest_shape = longest_shape.drop(columns = ["calitp_url_number"])

In [38]:
longest_shape = longest_shape.rename(columns={"route_length": "longest_route_length"})

##### Do I have to aggregate longest_shape because the `longest shape id` is broken down by segment and doesn't total up to the `not_longest_route_length`?

In [39]:
longest_shape.loc[longest_shape.route_dir_identifier == 1244740981].drop(
    columns=["geometry", "geometry_arrowized"]
)

,calitp_itp_id,calitp_url_number,route_id,direction_id,longest_shape_id,route_dir_identifier,longest_route_length,segment_sequence
4012,4,0,U,1,shp-U-06,1244740981,34070.90,0
4013,4,0,U,1,shp-U-06,1244740981,34070.90,1
4014,4,0,U,1,shp-U-06,1244740981,34070.90,2
4015,4,0,U,1,shp-U-06,1244740981,34070.90,3
4016,4,0,U,1,shp-U-06,1244740981,34070.90,4
4017,4,0,U,1,shp-U-06,1244740981,34070.90,5
4018,4,0,U,1,shp-U-06,1244740981,34070.90,6
4019,4,0,U,1,shp-U-06,1244740981,34070.90,7
4020,4,0,U,1,shp-U-06,1244740981,34070.90,8
4021,4,0,U,1,shp-U-06,1244740981,34070.90,9
4022,4,0,U,1,shp-U-06,1244740981,34070.90,10
4023,4,0,U,1,shp-U-06,1244740981,34070.90,11
4024,4,0,U,1,shp-U-06,1244740981,34070.90,12
4025,4,0,U,1,shp-U-06,1244740981,34070.90,13
4026,4,0,U,1,shp-U-06,1244740981,34070.90,14
4027,4,0,U,1,shp-U-06,1244740981,34070.90,15
4028,4,0,U,1,shp-U-06,1244740981,34070.90,16
4029,4,0,U,1,shp-U-06,1244740981,34070.90,17
4030,4,0,U,1,shp-U-06,1244740981,34070.90,18
4031,4,0,U,1,shp-U-06,1244740981,34070.90,19
4032,4,0,U,1,shp-U-06,1244740981,34070.90,20
4033,4,0,U,1,shp-U-06,1244740981,34070.90,21
4034,4,0,U,1,shp-U-06,1244740981,34070.90,22
4035,4,0,U,1,shp-U-06,1244740981,34070.90,23
4036,4,0,U,1,shp-U-06,1244740981,34070.90,24
4037,4,0,U,1,shp-U-06,1244740981,34070.90,25
4038,4,0,U,1,shp-U-06,1244740981,34070.90,26
4039,4,0,U,1,shp-U-06,1244740981,34070.90,27
4040,4,0,U,1,shp-U-06,1244740981,34070.90,28
4041,4,0,U,1,shp-U-06,1244740981,34070.90,29
4042,4,0,U,1,shp-U-06,1244740981,34070.90,30
4043,4,0,U,1,shp-U-06,1244740981,34070.90,31
4044,4,0,U,1,shp-U-06,1244740981,34070.90,32
4045,4,0,U,1,shp-U-06,1244740981,34070.90,33
4046,4,0,U,1,shp-U-06,1244740981,34070.90,34

In [40]:
# Have to aggregate longest_shape?
longest_shape_agg = (
    longest_shape.groupby(
        [
            "calitp_itp_id",
            "route_id",
            "direction_id",
            "longest_shape_id",
            "route_dir_identifier",
        ]
    ).agg({"longest_route_length": "sum"})
).reset_index()

In [41]:
longest_shape_agg.loc[longest_shape_agg.route_dir_identifier == 1244740981]

,calitp_itp_id,route_id,direction_id,longest_shape_id,route_dir_identifier,longest_route_length
244,4,U,1,shp-U-06,1244740981,1192481.63

In [42]:
len(routelines_m_trips), len(longest_shape), len(longest_shape_agg)

(8529, 126896, 5150)

In [43]:
# Right only has 74 more rows...
routelines_m_trips.merge(
    longest_shape_agg,
    how="outer",
    on=["calitp_itp_id", "direction_id", "route_id", "route_dir_identifier"],
    indicator=True,
)[["_merge"]].value_counts()

_merge
both          8529
right_only      74
left_only        0
dtype: int64

In [44]:
routelines_final = routelines_m_trips.merge(
    longest_shape_agg,
    how="inner",
    on=["calitp_itp_id", "direction_id", "route_id", "route_dir_identifier"],
)

In [45]:
# Calculate out proportion of route length against longest.
routelines_final["proportion_route_length"] = (
    routelines_final["actual_route_length"] / routelines_final["longest_route_length"]
) * 100

In [46]:
routelines_final.proportion_route_length.describe()

count   8529.00
mean      33.32
std      144.08
min        0.07
25%        9.81
50%       18.23
75%       32.45
max     7015.79
Name: proportion_route_length, dtype: float64

##### I don't really get how every trip_id would have the same `route_length` ?

In [47]:
routelines_final.loc[routelines_final.route_id == "U"].drop(columns=["geometry"]).head()

,calitp_itp_id,shape_id,actual_route_length,route_id,direction_id,route_dir_identifier,longest_shape_id,longest_route_length,proportion_route_length
1,4,shp-U-07,111849.47,U,0,1026952675,shp-U-07,1191737.11,9.39
137,4,shp-U-06,111927.21,U,1,1244740981,shp-U-06,1192481.63,9.39

### Task 2
* Testing with 148 Kings County Area Public Transit Agency
* Calculate time of trips?

* How come there are so many different timestamps within a 30 second increments of each either within the same segment? GTFS pings every 30 seconds.

In [48]:
def find_operator_info(df):
    df = df.sort_values(["calitp_itp_id", "trip_id", "segment_sequence"])
    crosswalk = pd.read_parquet(
        f"{GCS_DASK_PATH}segments_route_direction_crosswalk.parquet"
    )

    merge_cols = [
        "calitp_itp_id",
        "trip_id",
        "route_dir_identifier",
    ]

    # Get the minimum time of the vehicle stamp.
    # For the trip_ID and direction.
    start_time_trip = (
        df.groupby(merge_cols)
        .agg({"vehicle_timestamp": "min"})
        .rename(columns={"vehicle_timestamp": "start"})
        .reset_index()
    )

    # Get the max time of the vehicle stamp.
    end_time_trip = (
        df.groupby(merge_cols)
        .agg({"vehicle_timestamp": "max"})
        .rename(columns={"vehicle_timestamp": "end"})
        .reset_index()
    )

    # Count number of segments
    segment_counts = (
        df.groupby(merge_cols)
        .agg({"segment_sequence": "nunique"})
        .reset_index()
        .rename(columns={"segment_sequence": "number_of_segments"})
    )

    # Merge
    m1 = start_time_trip.merge(end_time_trip, how="inner", on=merge_cols).merge(
        segment_counts, how="left", on=merge_cols
    )

    # https://stackoverflow.com/questions/51491724/calculate-difference-of-2-dates-in-minutes-in-pandas
    m1["minutes_elapsed"] = (m1.end - m1.start).dt.total_seconds() / 60

    return m1

In [50]:
operator_4_metrics = find_operator_info(operator_4)

In [49]:
operator_4.head(2)

,calitp_itp_id,calitp_url_number,vehicle_timestamp,trip_id,route_dir_identifier,segment_sequence,lon,lat
0,4,0,2022-10-12 03:57:57,1002020,2062080730,0,-199410.89,-20669.41
1,4,0,2022-10-12 03:58:12,1002020,2062080730,0,-199423.82,-20695.24

In [51]:
operator_4_metrics.head()

,calitp_itp_id,trip_id,route_dir_identifier,start,end,number_of_segments,minutes_elapsed
0,4,10000020,4214183996,2022-10-12 21:55:01,2022-10-12 22:24:54,7,29.88
1,4,1000020,2437991552,2022-10-12 16:21:29,2022-10-12 16:32:23,4,10.90
2,4,100020,1578901637,2022-10-12 09:20:02,2022-10-12 10:35:03,26,75.02
3,4,10002020,3278503533,2022-10-12 08:40:17,2022-10-12 09:44:50,22,64.55
4,4,10003020,4240972089,2022-10-12 17:25:04,2022-10-12 18:45:18,20,80.23

In [52]:
m2 = operator_4_metrics.merge(
    routelines_final,
    how="inner",
    on=["calitp_itp_id", "route_dir_identifier"],
)

##### Lots of route ids missing?

In [57]:
merged_routeid = set(m2.route_id.unique().tolist())
routelines_final = set(routelines_final.route_id.unique().tolist())
routelines_final - merged_routeid

{'89edf785-5b0a-499a-b1e8-230486553917',
 '53P',
 '4_AM',
 '3162',
 '3403',
 '617-13157',
 'CLEB',
 '905',
 'L1',
 '4062',
 '4141',
 '1965',
 '114',
 'SCVMC Shuttle',
 '251-13157',
 '3385',
 '3615',
 '11110',
 '120',
 '953',
 '985',
 '16739',
 '13056',
 '632',
 'Route2',
 '51-13157',
 '130',
 '1238',
 '12164',
 '3664',
 'OPF Shuttle',
 '1112',
 '9',
 'HB',
 '901-13157',
 'R',
 '117-13157',
 'Inland Emp.-Orange Co. Line',
 'Hwy99Express',
 '11675',
 '398-198',
 '11690',
 'ACE Gray',
 '3_AM',
 '1047',
 '12874',
 '4e5dc868-28bb-4f99-ab5d-1c12f15f5e55',
 '933',
 '81-13157',
 '645',
 '3212',
 'UGC Shuttle',
 '1203',
 '28',
 'A - Afternoon',
 '205-13157',
 '48',
 '397-198',
 '9e3d73a1-3b92-43c6-9a41-906b72b13034',
 '1',
 'DCW',
 '1368',
 '290',
 '167',
 '566',
 '19479',
 '351',
 '37-198',
 '530',
 '576',
 '12867',
 '4A',
 '155-13157',
 '30-13157',
 '4135',
 '615',
 '0ef611a2-beee-4d28-a863-c4fdf15985b1',
 'LF-237',
 '838',
 '3518',
 '030',
 '268-13157',
 '480_merged_6230',
 '7_PM',
 '8BX',
 '15N',
 '569',
 '207-13157',
 '18-13157',
 '10T',
 '50X',
 'LaCampanaBus',
 '24-198',
 '4928',
 '152-13157',
 '1042',
 '12-198',
 '4500',
 'ae84a311-c2b7-467c-9fd9-68c20b2f7985',
 '492',
 '11686',
 '365',
 '743',
 '3222',
 '3208',
 '1962',
 '2037',
 'f05bb274-248a-46b5-9ec9-e2496727a2d1',
 '175',
 '60X',
 '4867',
 '3406',
 'Blue Line',
 '255',
 '11114',
 '826',
 '501',
 '2052',
 '2520',
 '854-13157',
 '627',
 'Yellow-S',
 '21',
 '712',
 '11662',
 '142',
 '601-13157',
 '1881',
 '287-13157',
 '4137',
 '288M',
 '2510',
 '11',
 '10990',
 'DB',
 '1051',
 '14215',
 '020',
 'BLUE',
 '16611',
 'Red-N',
 '705-240',
 '62-198',
 '110-13157',
 '965',
 '345',
 'F20',
 '016',
 '015',
 '19752',
 '77',
 '792',
 '2038',
 '507',
 '132-240',
 '868',
 '742',
 '715',
 '19311',
 '32512',
 '150-13157',
 '100',
 '11113',
 '13068',
 '978',
 '3202',
 '10537',
 '391',
 '10553',
 'ECR',
 '869',
 '710',
 '630',
 '10986',
 '860',
 '13049',
 '116',
 '807',
 'MB Shuttle',
 '3412',
 '3211',
 '91X',
 '3405',
 'ACE Red',
 '3409',
 '928',
 '163',
 '3547',
 '11681',
 'FixedRoute',
 '74218',
 '084',
 '4130',
 '22',
 '2297',
 '6815',
 '2110',
 '4720',
 '399',
 '1206',
 '10_PM',
 '799',
 '3229',
 '2676',
 '230',
 '10N',
 '118',
 '99X',
 '3570',
 '356',
 'Express 102',
 'T2',
 '362',
 '59-198',
 '1196',
 '232-13157',
 '503',
 '332',
 '633',
 '13055',
 '6814',
 '140',
 '3438',
 '832',
 '3417',
 '874',
 '4ba918e5-58c0-4d4a-9f55-5cadb8564bff',
 '19597',
 '5a959e3a-9733-421e-9b6e-c655f49a7879',
 '577',
 '105-13157',
 '67-198',
 '8',
 '66',
 '6283',
 '32882',
 '32544',
 '5_AM',
 '281-198',
 '355',
 'C30',
 '58-198',
 '73-198',
 '244-13157',
 '1886',
 'Ornge',
 '975',
 '20cc',
 '3228',
 '12161',
 'SMART',
 '79-198',
 'KT',
 '358',
 '1032',
 'CART',
 '2042',
 '4817',
 '1012',
 '353',
 '296',
 '385',
 '637',
 '92-13157',
 '4117',
 'AIF-237',
 '14126',
 '1036',
 '25',
 '10557',
 '14XN',
 '95X',
 '81',
 '125-13157',
 '5057',
 '602-13157',
 'School 270',
 '12133',
 '132',
 'Orange County Line',
 '80',
 'BBC Shuttle',
 '11677',
 '4930',
 '11682',
 '67914',
 'VNYi',
 'M',
 '32542',
 'D2',
 '855',
 '806',
 'Rapid 523',
 '354',
 '4057',
 'TSQPM',
 '992',
 '1693',
 '6467',
 '4133',
 '4446',
 '867',
 '3415',
 '15S',
 '243',
 'WC',
 '038',
 '2080',
 '2689',
 'SouthRoute',
 '143',
 '852',
 '815',
 '013',
 '212-13157',
 'Line4',
 '295-198',
 '1079',
 '3f01ea14-fc5d-4c07-8b72-0b6c83b01659',
 '589',
 'USTi',
 'Line2',
 '570',
 '12134',
 '361',
 '13062',
 'YellowLine',
 '115-13157',
 '543',
 '523',
 '96-13157',
 '871',
 '946',
 '177',
 '932',
 'Lynx',
 '13053',
 '172-240',
 '4912',
 'LF',
 '1202',
 '3219',
 '1039',
 '5C1',
 '194_merged_6217',
 '138-198',
 '708',
 'Line5',
 '11052',
 '172',
 '210-13157',
 '1201',
 'RLC Shuttle',
 '4868',
 '32532',
 '250',
 '242',
 '10535',
 '3205',
 '3164',
 '291',
 '12163',
 '227',
 'ML',
 '23X',
 'JPX',
 '2674',
 '378',
 '237-13157',
 '3517',
 'd20ee6b2-b32e-4676-a440-f779cc8a7cda',
 'LunchtimeShuttle',
 '3513',
 '3435',
 '609',
 '1046',
 '12176',
 '816',
 '18C',
 '3226',
 '165-13157',
 '610',
 '304',
 '1A',
 '4147',
 '280-198',
 '106',
 '603-13157',
 '1211',
 '1026',
 '30R',
 '246-13157',
 '117-198',
 '2144',
 'Rapid 568',
 '3404',
 'ECRO',
 'M3 Shuttle (City of Menlo Park)',
 '270-198',
 'BCT109 SB',
 '12157',
 'FCX-198',
 '60-13157',
 '82',
 '705',
 '4142',
 '785',
 'TF-237',
 '2420',
 '4146',
 '4048',
 '13065',
 '2610',
 '201',
 '094',
 '35E',
 'C - Morning',
 '84',
 '641',
 '3540',
 '1225',
 'afe75219-f789-4e0f-ba8d-996869f99565',
 'T5',
 '3511',
 '5789',
 '3505',
 'NorthRoute',
 'VJO',
 '3414',
 '791',
 '4143',
 '187_merged_6224',
 '294-13157',
 '18F',
 'MiddayShuttle:Tripper',
 'KBUS',
 '4577',
 '445',
 '1014',
 '98X',
 '12185',
 '217-13157',
 '10554',
 'GoldLineCommuterShuttleSouth',
 '315',
 '11115',
 '30X',
 '4249',
 '15',
 '10987',
 '9_PM',
 '169-13157',
 '622',
 '3495',
 '824',
 '12181',
 '1242',
 '401',
 '20cw',
 '206-13157',
 '603',
 'ECR-198',
 'SouthwestRoute',
 '209-13157',
 '91',
 'Orange-N',
 '2_AM',
 '11673',
 '32388',
 '11679',
 '929',
 '704',
 '50-198',
 '389',
 '3580',
 '4778',
 '10547',
 '26',
 '2_PM',
 '226',
 '709',
 'Line3',
 '311',
 '395',
 '444',
 'San Bernardino Line',
 '4131',
 '60-198',
 '2017',
 'K',
 '153',
 '10539',
 '021',
 '16684',
 'ce490845-3771-4e3a-bcab-961145f71689',
 '578',
 '11096761',
 '936',
 'Antelope Valley Line',
 '601',
 'D4',
 '6811',
 'D - Morning',
 'Beige-N',
 'P1',
 '786',
 '02',
 '12T',
 '306',
 '4B',
 '6460',
 '10543',
 '161-13157',
 '90-13157',
 'Beige-S',
 '713-198',
 'Green-S',
 '3573',
 '11678',
 '29-198',
 'SCVMC',
 '510',
 '16612',
 '179-13157',
 '323',
 '3218',
 '2655',
 '2B',
 '1028',
 '18689',
 '026',
 'C50',
 '18E',
 '101-240',
 'P4',
 '21P',
 '1888',
 'TLR',
 '88-198',
 'VNYo',
 'ACE Brown',
 '32391',
 '2036',
 '4116',
 '202',
 '04',
 '3521',
 '10536',
 '16734',
 '047',
 '529',
 '5785',
 '910-13157',
 '46-198',
 '12409',
 '1690',
 '3224',
 '577-13157',
 'C90',
 '612',
 '967',
 '3434',
 '157',
 'Hwy89',
 'OPB Shuttle',
 'Orange-S',
 '94',
 '35-198',
 '374',
 '49',
 '3494',
 '174',
 '2660',
 '699',
 '957',
 '357',
 '2043',
 '562',
 '861',
 '571',
 '3572',
 '748',
 '20X',
 '5795',
 '582',
 '303',
 '1212',
 '12180',
 '45-13157',
 '53-198',
 '14211',
 '387',
 '3665',
 '402',
 '9R',
 '63257',
 '14212',
 '65513',
 '392',
 '568',
 '11117',
 '267-13157',
 'CB',
 '16672',
 '4290',
 '580',
 '122',
 '690-13157',
 'CAM Shuttle',
 '03',
 '853',
 '256-13157',
 'HuntingtonParkExpress',
 'F10',
 '286',
 'B - Morning',
 '108-13157',
 'West Field Garage',
 '1205',
 '3432',
 '154',
 '14213',
 '4940',
 '856',
 '294',
 '12153',
 '525',
 '3433',
 '14R',
 '379',
 '1161',
 'LBUS',
 'GoldLineCommuterShuttleNorth',
 '2706',
 '3638',
 '94-13157',
 '6465',
 'MiddayShuttle:Green',
 '206',
 '305',
 '4931',
 '4443',
 '150-240',
 '188_merged_6227',
 'b3848f93-d26b-48a9-b6a6-5de22a4eab47',
 '2650',
 '713',
 '636',
 '49-198',
 '32',
 '5330',
 '4445',
 'Blue-S',
 '201X',
 '54-198',
 '8AX',
 '3207',
 '11674',
 '32387',
 '10S',
 'LC Shuttle',
 '35-13157',
 '180-13157',
 '1_PM',
 '309',
 '185_merged_6225',
 '272',
 '973',
 '5285',
 'TNSPM',
 '564',
 '1033',
 '16733',
 'SF',
 'DeltaRoute',
 '904',
 '10542',
 '2730',
 '2702',
 '980',
 '720-13157',
 '195',
 '3',
 '192',
 '1050',
 '7A',
 'NFC Shuttle',
 '827',
 '166-13157',
 '4447',
 '3422',
 'Express 103',
 '3640',
 '3242',
 '10866895',
 '5851',
 'P6',
 '613',
 '019',
 '16616',
 '11120',
 '10533',
 '2040',
 '4053',
 '2045',
 '608',
 '219',
 '167-13157',
 '1788',
 '673',
 '934',
 '1784',
 '902',
 '001',
 'T11',
 '32543',
 '1015',
 '111-13157',
 '480',
 '6R',
 'P2',
 '155',
 '87',
 'Green',
 '1963',
 '616',
 '024',
 'ROUTEB',
 '12412',
 '4',
 'B7',
 '237',
 '74406',
 '120-13157',
 '11100',
 '975aedc5-9494-45a9-9cf9-3b5d82c3af76',
 '17909',
 '4129',
 '2-13157',
 '30',
 '939b0c9f-4a43-472c-b924-86ba308e4bde',
 '177-13157',
 '572',
 'MiddayShuttle:Orange',
 '10549',
 '5790',
 '15e59929-1855-411c-ab02-14f332f88c2b',
 '797',
 '488',
 'Lot D',
 '501-13157',
 '277',
 '16614',
 '3567',
 '92X',
 '228',
 '901',
 '12361',
 'ACE Green',
 '66c181cd-5756-4e22-a4ae-72fea25dc5f1',
 '4252',
 '6279',
 'L5',
 '12156',
 '1210',
 '553',
 '129',
 '3506',
 '453',
 '3407',
 '12182',
 '900',
 '045',
 '85-198',
 '3408',
 '1163',
 '545',
 'SSF',
 'T4',
 'School 246',
 '4145',
 'MSHTLo',
 '3420',
 '12178',
 '233-13157',
 '1292',
 'Rapid 500',
 '224-13157',
 '12158',
 '095',
 '499',
 '53',
 '4250',
 'BCP Shuttle',
 'DB1',
 '796',
 '2298',
 '1037',
 '872',
 '5C2',
 'Shellmound/Powell',
 '269_merged_6229',
 '12183',
 '6790',
 '13315',
 '1757',
 '2046',
 'B',
 '294-198',
 '870',
 '2540',
 '10867637',
 '86-198',
 '13066',
 '1694',
 '1240',
 '078',
 'T3',
 'M4 Shuttle (City of Menlo Park)',
 '2069714a-59ed-4492-93e8-d1d83da21e4a',
 '16613',
 '65511',
 '746',
 '13307',
 '1175',
 '11121',
 '11693',
 '37',
 '4253',
 '13059',
 '12363',
 '4132',
 '76-13157',
 '53-13157',
 'L-OWL',
 '5889',
 '292-198',
 '64A',
 '16735',
 '231',
 '12150',
 '131',
 '3515',
 '235',
 'School 287',
 '258-13157',
 '487-13157',
 '19417',
 '1053',
 '154-240',
 '21W',
 '2659',
 '301',
 '1029',
 '350',
 '976',
 '64',
 '102',
 '662-13157',
 '6463',
 '12416',
 '110-198',
 '161',
 '3512',
 '962',
 '211',
 '4251',
 '117',
 'C',
 '025',
 '12168',
 'Tib-AIF',
 '180',
 '1031',
 '560',
 '19600',
 '380',
 '344-13157',
 '972',
 '862',
 '6_PM',
 '173',
 '3410',
 '4119',
 'B - Afternoon',
 '11096',
 '15206',
 '049',
 '6280',
 '3428',
 '222-13157',
 '11118',
 '213',
 '74426',
 '3fdde28a-6377-4ca4-8aa3-1010f05b8f6c',
 '12419',
 '1961',
 '3210',
 '236-13157',
 '5751',
 '3396',
 '2430',
 '3401',
 '334',
 '16',
 'C70',
 '11676',
 '041',
 '12165',
 '270_merged_6220',
 '13050',
 '313',
 '002',
 '11691',
 '3213',
 '917',
 '274_merged_6231',
 '66-13157',
 '5266',
 '12154',
 '686-13157',
 '4772',
 '575',
 '635',
 '554',
 '851_merged_6223',
 '3427',
 '234-13157',
 '141-198',
 '3429',
 '10544',
 'Riverside Line',
 '19601',
 '822',
 '150',
 '122-198',
 '1C1',
 '5786',
 'C - Afternoon',
 '757',
 'BPT Shuttle',
 '1381',
 '202X',
 '57-198',
 '4496',
 'Express 121',
 '056',
 '11X',
 '182',
 '383',
 'ACE Purple',
 '12X',
 '245',
 '754-13157',
 '11683',
 '16732',
 '093',
 'AIF',
 'OPC Shuttle',
 '91 Line',
 '5803',
 'C80',
 '1695',
 '5850',
 '556',
 '11099',
 '10531',
 '114-240',
 '13057',
 '68-198',
 '15X',
 'Yellow-N',
 '1968',
 '398',
 '113',
 '360',
 '251-198',
 '405',
 '3650',
 '061',
 '3402',
 '3430',
 'N',
 '4109',
 'T',
 '385f5f79-a3ff-49ee-822e-7c74b9edabb9',
 '3204',
 '3209',
 'C10',
 'M1 Shuttle (City of Menlo Park)',
 'TealLine',
 'Line1',
 '574',
 '270',
 '833',
 '145',
 '96X',
 '8_AM',
 '1889',
 '144',
 ...}

### Question
* For each operator, what's the % of RT trip_ids that would remain after those thresholds are used? Make a chart function that takes a single operator. Produce charts for all operators. Is the time or geographic coverage that's driving this excluding of trips? What is a recommended threshold to use?
* For short trips, do they tend to be 50% of the longest route length? 40% 30%? Have this handy to inform question 1.

In [ ]:
segment_148_m.minutes_elapsed.describe()

In [ ]:
threshold = 40

In [ ]:
usable = (segment_148_m.loc[segment_148_m.minutes_elapsed > threshold]).reset_index(
    drop=True
)

In [ ]:
unusable = (segment_148_m.loc[segment_148_m.minutes_elapsed < threshold]).reset_index(
    drop=True
)

In [ ]:
len(unusable), len(usable)