In [2]:
import A1_provider_prep
import A2_other
import A3_analysis
import geopandas as gpd
import pandas as pd
from calitp.sql import to_snakecase
from shared_utils import geography_utils, utils

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.

In [9]:
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)

In [3]:
 # Load in trips 
trips = A2_other.trip_df()

In [4]:
trips.total_trips_by_route.median()

22.0

In [6]:
trips.total_trips_by_agency.median()

682.0

In [7]:
# Divide the total of trips for this particular low coverage route
    # by the total trips the agency run among all its routes on that particular day
trips["percentage_of_trips_w_low_cell_service"] = (
trips["total_trips_by_route"] / trips["total_trips_by_agency"])

In [11]:
trips.sample(5)

,calitp_itp_id,route_id,total_trips_by_route,total_trips_by_agency,percentage_of_trips_w_low_cell_service
1389,208,061,12,636,0.02
1617,235,543,68,3174,0.02
1035,177,13054,49,501,0.10
2378,294,831,3,3666,0.00
2836,368,2706,12,555,0.02

In [12]:
ntd = A2_other.ntd_vehicles()

In [13]:
len(ntd)

218

In [15]:
ntd.total_buses.median()

17.0

In [24]:
ntd.total_buses.describe()

count    218.00
mean      87.42
std      273.98
min        1.00
25%        6.00
50%       17.00
75%       56.75
max     3313.00
Name: total_buses, dtype: float64

In [17]:
ntd.loc[ntd.agency == "Trinity Transit"]

,agency,state,bus,over_the_road_bus,articulated_bus,double_decker_bus,school_bus,van,cutaway,minivan,total_buses
1867,Trinity Transit,CA,0,0,0,0,0,0,6,1,7

In [14]:
ntd.sample(5)

,agency,state,bus,over_the_road_bus,articulated_bus,double_decker_bus,school_bus,van,cutaway,minivan,total_buses
400,Butte County Association of Governments,CA,29,0,0,0,0,0,24,0,53
1858,City of Davis,CA,0,0,0,0,0,0,5,0,5
1052,City of Commerce,CA,14,0,0,0,0,0,7,0,21
116,City of Santa Monica,CA,161,0,28,0,0,1,6,0,196
1860,City of Bellflower,CA,1,0,0,0,0,0,9,0,10

In [30]:
ntd.loc[ntd.total_buses == 1034]

,agency,state,bus,over_the_road_bus,articulated_bus,double_decker_bus,school_bus,van,cutaway,minivan,total_buses
13,Orange County Transportation Authority,CA,399,0,36,0,0,268,272,59,1034

In [18]:
final = A3_analysis.final_merge(A3_analysis.merge_all_providers())

In [20]:
m1 = pd.merge(
    final,
    ntd,
    how="left",
    left_on="Agency",
    right_on = "agency",
    indicator=True,)

In [23]:
m1.total_buses.median()

295.0

In [25]:
m1.total_buses.describe()

count   1372.00
mean     380.94
std      339.93
min        1.00
25%       59.00
50%      295.00
75%      762.00
max     1034.00
Name: total_buses, dtype: float64

In [31]:
# m1.loc[m1.total_buses == 1034].drop(columns = "Geometry")

In [26]:
# m1.loc[m1.Agency == "Capitol Corridor"].drop(columns = "Geometry")