In [1]:
# Read in zip files
import fsspec
import geopandas as gpd
import intake
import numpy as np
import pandas as pd

# My utilities
import utilities
from calitp import *

# Display
from IPython.display import HTML, Image, Markdown, display, display_html

# Geometry
from shared_utils import geography_utils, utils

/opt/conda/lib/python3.10/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

## Trips
* How many trips are running for a route?

In [5]:
trips_df = pd.read_parquet(
    "gs://calitp-analytics-data/data-analyses/rt_delay/compiled_cached_views/trips_2022-05-04_all.parquet"
)

In [9]:
trips_df.shape

(104934, 14)

In [11]:
# Standardize route id  
trips_df["route_id"] = trips_df["route_id"].str.lower().str.strip()

In [26]:
# Aggregate trips_df: count each trip id based on unique? 
trips_agg = (trips_df
             .groupby(['calitp_itp_id', 'route_id'])
             .agg({'trip_id':'nunique'})
             .reset_index()
             .rename(columns = {'trip_id':'total_trips'})
            )

In [27]:
trips_agg.sort_values('total_trips').tail(10)

      calitp_itp_id   route_id  total_trips
1016            182   16-13159          275
1075            182   51-13159          280
1879            281   red line          288
1770            278        510          292
1096            182  720-13159          322
160              13      37329          356
1877            281  blue line          360
1132            183       4444          361
194              13         71          386
1104            182        804          406

In [13]:
# att_routes_list = att_merge_low_coverage["route_id"].unique().tolist()

In [ ]:
# Filter out for route IDS
# trips_df2 = trips_df[trips_df["route_id"].isin(att_routes_list)]

In [ ]:
# So many route ids disappeared
# f'{trips_df2["route_id"].nunique()} routes left after filtering trips_df compared to {len(att_routes_list)} routes in overlay.'

In [ ]:
# Checking which ones are missing.
# id_routes = set(att_routes_list)
# id_trips = set(trips_df2.route_id.unique().tolist())
# missing_routes = list(id_routes - id_trips)

In [ ]:
f"{1-(len(id_trips)/len(id_routes))}% of routes are missing."