# Clustering with 2023 data ONLY

Try with only 2023 data

In [1]:
!pip install scipy==1.11.4

Requirement already satisfied: scipy==1.11.4 in /opt/conda/lib/python3.11/site-packages (1.11.4)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /opt/conda/lib/python3.11/site-packages (from scipy==1.11.4) (1.26.4)

In [2]:
from calitp_data_analysis.sql import query_sql
from utils_transit_peer_groups import *
import sys
import altair as alt
import pandas as pd

sys.path.append("../ntd/monthly_ridership_report")
from update_vars import GCS_FILE_PATH, NTD_MODES, NTD_TOS

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [3]:
import plotly.figure_factory as ff
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage

In [4]:
fixed_guideway = [
    "SR",
    "HR",
    "YR",
    "CR",
    "CC",
    "LR",
    "MG",
    "TB",
]

nonfixed_guideway = [
    "DR",
    "MB",
    "DT",
    "CB",
    "VP",
    "RB",
]

other_modes = [
    "FB",
    "OT", # no clue what this is, not in NTD glossary
    "OR", # same with this
    
]

mode_dict ={
    "SR":"fixed_guideway",
    "HR":"fixed_guideway",
    "YR":"fixed_guideway",
    "CR":"fixed_guideway",
    "CC":"fixed_guideway",
    "LR":"fixed_guideway",
    "MG":"fixed_guideway",
    "TB":"fixed_guideway",
    "DR":"nonfixed_guideway",
    "MB":"nonfixed_guideway",
    "DT":"nonfixed_guideway",
    "CB":"nonfixed_guideway",
    "VP":"nonfixed_guideway",
    "RB":"nonfixed_guideway",
    "FB":"other_mode",
    "OT":"other_mode", # no clue what this is, not in NTD glossary
    "OR":"other_mode",
}

In [5]:
#ID cols
id_cols = [
    "ntd_id",
    "source_agency",
    "city",
    "primary_uza_name"
]
# include in clustering
categorical_cols = ["mode_cat", "service", "reporter_type"]

# include in clustering
numerical_cols = [
    "total_upt",
    "total_vrh",
    "total_vrm",
    "opexp_total",
    "total_voms",
    # "uza_population",
    # "uza_area_sq_miles",
]

In [6]:
# alt method to query warehous data, via cal-itp docs
query = f"""
        SELECT
          upt.ntd_id,
          upt.source_agency,
          upt.agency_status,
          upt.city,
          upt.primary_uza_name,
          upt.uza_population,
          upt.uza_area_sq_miles,
          upt.year,
          upt.mode,
          upt.service,
          upt.reporter_type,
          SUM(upt.upt) AS total_upt,
          SUM(voms.voms) AS total_voms,
          SUM(vrh.vrh) AS total_vrh,
          SUM(vrm.vrm) AS total_vrm,
          SUM(opexp_total.opexp_total) AS opexp_total
        FROM
          cal-itp-data-infra.mart_ntd_funding_and_expenses.fct_service_data_and_operating_expenses_time_series_by_mode_upt AS upt
        INNER JOIN
          cal-itp-data-infra.mart_ntd_funding_and_expenses.fct_service_data_and_operating_expenses_time_series_by_mode_voms AS voms
        ON
          upt.ntd_id = voms.ntd_id
          AND upt.year = voms.year
          AND upt.source_agency = voms.source_agency
          AND upt.agency_status = voms.agency_status
          AND upt.primary_uza_name = voms.primary_uza_name
          AND upt.uza_population = voms.uza_population
          AND upt.uza_area_sq_miles = voms.uza_area_sq_miles
        INNER JOIN
          cal-itp-data-infra.mart_ntd_funding_and_expenses.fct_service_data_and_operating_expenses_time_series_by_mode_vrh AS vrh
        ON
          upt.ntd_id = vrh.ntd_id
          AND upt.year = vrh.year
          AND upt.source_agency = vrh.source_agency
          AND upt.agency_status = vrh.agency_status
          AND upt.primary_uza_name = vrh.primary_uza_name
          AND upt.uza_population = vrh.uza_population
          AND upt.uza_area_sq_miles = vrh.uza_area_sq_miles
        INNER JOIN
          cal-itp-data-infra.mart_ntd_funding_and_expenses.fct_service_data_and_operating_expenses_time_series_by_mode_vrm AS vrm
        ON
          upt.ntd_id = vrm.ntd_id
          AND upt.year = vrm.year
          AND upt.source_agency = vrm.source_agency
          AND upt.agency_status = vrm.agency_status
          AND upt.primary_uza_name = vrm.primary_uza_name
          AND upt.uza_population = vrm.uza_population
          AND upt.uza_area_sq_miles = vrm.uza_area_sq_miles
        INNER JOIN
          cal-itp-data-infra.mart_ntd_funding_and_expenses.fct_service_data_and_operating_expenses_time_series_by_mode_opexp_total AS opexp_total
        ON
          upt.ntd_id = opexp_total.ntd_id
          AND upt.year = opexp_total.year
          AND upt.source_agency = opexp_total.source_agency
          AND upt.agency_status = opexp_total.agency_status
          AND upt.primary_uza_name = opexp_total.primary_uza_name
          AND upt.uza_population = opexp_total.uza_population
          AND upt.uza_area_sq_miles = opexp_total.uza_area_sq_miles
        WHERE
          upt.source_state = "CA"
          AND upt.year = 2023
        GROUP BY
          upt.ntd_id,
          upt.source_agency,
          upt.agency_status,
          upt.city,
          upt.year,
          upt.primary_uza_name,
          upt.uza_population,
          upt.uza_area_sq_miles,
          upt.mode,
          upt.service,
          upt.reporter_type
        """

ntd_2023_data = query_sql(query).fillna(0)

In [7]:
ntd_2023_data[numerical_cols] = ntd_2023_data[numerical_cols].astype("int64", errors="ignore")

## replace values for mode and tos

In [8]:
service_dict = {
    "TX":"PT",
    "TN":"PT"
}

ntd_2023_data["service"] = ntd_2023_data["service"].replace(service_dict)

In [9]:
ntd_2023_data["service"].unique()

array(['PT', 'DO'], dtype=object)

In [10]:
ntd_2023_data["mode_cat"] = ntd_2023_data["mode"].map(mode_dict)

In [11]:
ntd_2023_data["mode_cat"].unique()

array(['nonfixed_guideway', 'fixed_guideway', 'other_mode', nan],
      dtype=object)

In [20]:
ntd_2023_data.head()

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat
0,90198,City of Porterville (COLT) - Transit Department,Active,Porterville,"Porterville, CA",69862,16.35,2023,MB,PT,Building Reporter,0,0,0,0,0,nonfixed_guideway
1,90198,City of Porterville (COLT) - Transit Department,Active,Porterville,"Porterville, CA",69862,16.35,2023,DR,PT,Building Reporter,0,0,0,0,0,nonfixed_guideway
2,90036,Orange County Transportation Authority (OCTA),Active,Orange,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,SR,PT,Full Reporter,0,1075448,2764357893,37310649233,428923289696,fixed_guideway
3,90013,Santa Clara Valley Transportation Authority (VTA),Active,San Jose,"San Jose, CA",1837446,285.48,2023,HR,DO,Full Reporter,0,262144,887382528,11150999040,232484337152,fixed_guideway
4,90170,ATC / Vancom,Inactive,0,"San Francisco--Oakland, CA",3515933,513.80,2023,DR,PT,Full Reporter,0,0,0,0,0,nonfixed_guideway

## 2023 - explore data

In [14]:
display(
    ntd_2023_data.info(),

    ntd_2023_data["service"].value_counts(),

    ntd_2023_data["mode_cat"].value_counts(),
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ntd_id             667 non-null    object
 1   source_agency      667 non-null    object
 2   agency_status      667 non-null    object
 3   city               667 non-null    object
 4   primary_uza_name   667 non-null    object
 5   uza_population     667 non-null    int64
 6   uza_area_sq_miles  667 non-null    float64
 7   year               667 non-null    int64
 8   mode               667 non-null    object
 9   service            667 non-null    object
 10  reporter_type      667 non-null    object
 11  total_upt          667 non-null    int64
 12  total_voms         667 non-null    int64
 13  total_vrh          667 non-null    int64
 14  total_vrm          667 non-null    int64
 15  opexp_total        667 non-null    int64
 16  mode_cat           666 non-null    object
dtypes: float64(1), int64(7), object(9)
memory usage: 88.7+ KB

None

PT    437
DO    230
Name: service, dtype: int64

nonfixed_guideway    622
fixed_guideway        28
other_mode            16
Name: mode_cat, dtype: int64

## 2023 - correlation matrix

In [ ]:
ntd_2023_data[numerical_cols].corr()

## 2023 - Manual Hierarchal clustering w/ ward

In [15]:
from sklearn.cluster import AgglomerativeClustering 
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [16]:
numerical_cols

['total_upt', 'total_vrh', 'total_vrm', 'opexp_total', 'total_voms']

In [17]:
categorical_cols

['mode_cat', 'service', 'reporter_type']

In [18]:
# 1. set up pre-processing steps with column transformer

preprocessor = ColumnTransformer(
    [
        ("ntd_metrics", StandardScaler(), numerical_cols),
        ("categorical", OneHotEncoder(drop="first", sparse_output=False), categorical_cols)
    ]
)
preprocessor

ColumnTransformer(transformers=[('ntd_metrics', StandardScaler(),
                                 ['total_upt', 'total_vrh', 'total_vrm',
                                  'opexp_total', 'total_voms']),
                                ('categorical',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['mode_cat', 'service', 'reporter_type'])])

In [19]:
# 2. set up pipeline. First pre-processing, then clustering
pipeline = Pipeline(
    [
        ("preprocessing", preprocessor),
        ("clustering", AgglomerativeClustering(n_clusters=10, linkage="ward"))
    ]
)

pipeline

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('ntd_metrics',
                                                  StandardScaler(),
                                                  ['total_upt', 'total_vrh',
                                                   'total_vrm', 'opexp_total',
                                                   'total_voms']),
                                                 ('categorical',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['mode_cat', 'service',
                                                   'reporter_type'])])),
                ('clustering', AgglomerativeClustering(n_clusters=10))])

### Clustering with entire raw data

In [21]:
# 3. use pipeline to fit clustering model. create new column for clustering
ntd_2023_fit = ntd_2023_data.copy() # why do i need to copy/clone?

ntd_2023_fit["cluster_name"] = pipeline.fit_predict(ntd_2023_fit)

In [22]:
display(
    ntd_2023_fit["cluster_name"].value_counts(),
    ntd_2023_fit[["source_agency","total_upt","total_vrh","cluster_name"]].sample(3)
)

8    183
1    182
2    128
0     83
9     50
4     22
3     10
6      7
5      1
7      1
Name: cluster_name, dtype: int64

,source_agency,total_upt,total_vrh,cluster_name
508,Los Angeles County - Department of Public Work...,20089,6116,1
655,Yosemite Area Regional Transportation System (...,991200,138920,2
538,Morongo Basin Transit Authority (MBTA BUS),11810934,860409,2

In [23]:
ntd_2023_data["service"].unique()

array(['PT', 'DO'], dtype=object)

### what are the feature columns with onehotencoding drop=first?

In [24]:
feature_names = preprocessor.get_feature_names_out()
display(list(feature_names))

['ntd_metrics__total_upt',
 'ntd_metrics__total_vrh',
 'ntd_metrics__total_vrm',
 'ntd_metrics__opexp_total',
 'ntd_metrics__total_voms',
 'categorical__mode_cat_nonfixed_guideway',
 'categorical__mode_cat_other_mode',
 'categorical__mode_cat_nan',
 'categorical__service_PT',
 'categorical__reporter_type_Full Reporter',
 'categorical__reporter_type_Reduced Reporter',
 'categorical__reporter_type_Rural Reporter',
 'categorical__reporter_type_Separate Service']

### what are the feature columns with `onehotencoding drop=None`?

In [25]:
preprocessor_2 = ColumnTransformer(
    [
        ("ntd_metrics", StandardScaler(), numerical_cols),
        ("categorical", OneHotEncoder(
            # drop="first", 
            sparse_output=False
        ), categorical_cols)
    ]
)

pipeline_2 = Pipeline(
    [
        ("preprocessing", preprocessor_2),
        ("clustering", AgglomerativeClustering(n_clusters=10, linkage="ward"))
    ]
)

ntd_2023_fit_2 = ntd_2023_data.copy()

ntd_2023_fit_2["cluster"] = pipeline_2.fit_predict(ntd_2023_fit_2)

In [26]:
feature_names_2= preprocessor_2.get_feature_names_out()

display(list(feature_names_2)) # service_DO appears

['ntd_metrics__total_upt',
 'ntd_metrics__total_vrh',
 'ntd_metrics__total_vrm',
 'ntd_metrics__opexp_total',
 'ntd_metrics__total_voms',
 'categorical__mode_cat_fixed_guideway',
 'categorical__mode_cat_nonfixed_guideway',
 'categorical__mode_cat_other_mode',
 'categorical__mode_cat_nan',
 'categorical__service_DO',
 'categorical__service_PT',
 'categorical__reporter_type_Building Reporter',
 'categorical__reporter_type_Full Reporter',
 'categorical__reporter_type_Reduced Reporter',
 'categorical__reporter_type_Rural Reporter',
 'categorical__reporter_type_Separate Service']

## Using utils function to cluster

### 2023 data, all modes, PT/DO service

In [27]:
cluster_2023 = make_hierarchal_clustering(
    data = ntd_2023_data,
    num_cols = numerical_cols,
    cat_cols = categorical_cols,
    cluster_num = 10
    
)

for i in cluster_2023["cluster_name"].unique():
    print(f"""
    \n How many unique agencies are in Cluster {i}: {cluster_2023[cluster_2023['cluster_name']==i]["source_agency"].nunique()}
    Cluster {i} sample:""")
    display(cluster_2023[cluster_2023["cluster_name"]==i].head()),
    print(f"\nCluster {i} summary stats:")
    display(cluster_2023[cluster_2023["cluster_name"]==i].describe())

 How many unique agencies are in Cluster 2: 52
    Cluster 2 sample:

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat,cluster_name
0,90198,City of Porterville (COLT) - Transit Department,Active,Porterville,"Porterville, CA",69862,16.35,2023,MB,PT,Building Reporter,0,0,0,0,0,nonfixed_guideway,2
1,90198,City of Porterville (COLT) - Transit Department,Active,Porterville,"Porterville, CA",69862,16.35,2023,DR,PT,Building Reporter,0,0,0,0,0,nonfixed_guideway,2
9,91063,Calaveras County Department of Public Works,Inactive,0,California Non-UZA,4357850,0.00,2023,MB,PT,Rural Reporter,0,0,0,0,0,nonfixed_guideway,2
15,91018,City of Arcata (A&MRTS),Active,Arcata,California Non-UZA,4357850,0.00,2023,MB,DO,Rural Reporter,0,16,45384,609936,8749840,nonfixed_guideway,2
25,91071,City of Chowchilla (CATX) - Transit Department,Active,Chowchilla,California Non-UZA,4357850,0.00,2023,DR,PT,Rural Reporter,0,54,55350,527958,14011704,nonfixed_guideway,2

Cluster 2 summary stats:

,uza_population,uza_area_sq_miles,year,total_upt,total_voms,total_vrh,total_vrm,opexp_total,cluster_name
count,1.280000e+02,128.000000,128.0,1.280000e+02,128.000000,1.280000e+02,1.280000e+02,1.280000e+02,128.0
mean,4.182396e+06,15.391250,2023.0,5.340320e+06,532.250000,7.948250e+05,1.410864e+07,8.499376e+07,2.0
std,7.635585e+05,81.773353,0.0,2.311191e+07,999.613256,1.291742e+06,2.479946e+07,1.275380e+08,0.0
min,6.986200e+04,0.000000,2023.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2.0
25%,4.357850e+06,0.000000,2023.0,0.000000e+00,14.500000,2.686000e+04,4.367460e+05,3.131456e+06,2.0
50%,4.357850e+06,0.000000,2023.0,6.387200e+04,136.000000,1.900015e+05,5.315841e+06,3.060345e+07,2.0
75%,4.357850e+06,0.000000,2023.0,1.106420e+06,486.000000,7.642080e+05,1.615850e+07,1.210012e+08,2.0
max,4.357850e+06,467.580000,2023.0,2.164316e+08,4160.000000,4.746250e+06,1.059334e+08,4.552014e+08,2.0

 How many unique agencies are in Cluster 3: 1
    Cluster 3 sample:

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat,cluster_name
2,90036,Orange County Transportation Authority (OCTA),Active,Orange,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,SR,PT,Full Reporter,0,1075448,2764357893,37310649233,428923289696,fixed_guideway,3
159,90036,Orange County Transportation Authority (OCTA),Active,Orange,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,CR,PT,Full Reporter,0,1075448,2764357893,37310649233,428923289696,fixed_guideway,3
160,90036,Orange County Transportation Authority (OCTA),Active,Orange,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,DT,PT,Full Reporter,0,1075448,2764357893,37310649233,428923289696,nonfixed_guideway,3
161,90036,Orange County Transportation Authority (OCTA),Active,Orange,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,CB,DO,Full Reporter,0,1075448,2764357893,37310649233,428923289696,nonfixed_guideway,3
162,90036,Orange County Transportation Authority (OCTA),Active,Orange,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,CB,PT,Full Reporter,0,1075448,2764357893,37310649233,428923289696,nonfixed_guideway,3

Cluster 3 summary stats:

,uza_population,uza_area_sq_miles,year,total_upt,total_voms,total_vrh,total_vrm,opexp_total,cluster_name
count,10.0,10.00,10.0,1.000000e+01,10.0,1.000000e+01,1.000000e+01,1.000000e+01,10.0
mean,12237376.0,1636.83,2023.0,1.469522e+10,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,3.0
std,0.0,0.00,0.0,3.987980e+10,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0
min,12237376.0,1636.83,2023.0,0.000000e+00,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,3.0
25%,12237376.0,1636.83,2023.0,0.000000e+00,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,3.0
50%,12237376.0,1636.83,2023.0,0.000000e+00,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,3.0
75%,12237376.0,1636.83,2023.0,4.257365e+09,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,3.0
max,12237376.0,1636.83,2023.0,1.277545e+11,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,3.0

 How many unique agencies are in Cluster 4: 3
    Cluster 4 sample:

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat,cluster_name
3,90013,Santa Clara Valley Transportation Authority (VTA),Active,San Jose,"San Jose, CA",1837446,285.48,2023,HR,DO,Full Reporter,0,262144,887382528,11150999040,232484337152,fixed_guideway,4
13,90015,City and County of San Francisco (SFMTA) - Tra...,Active,San Francisco,"San Francisco--Oakland, CA",3515933,513.80,2023,DT,PT,Full Reporter,0,265482,1132664890,8302615811,334251644027,nonfixed_guideway,4
188,90026,San Diego Metropolitan Transit System (MTS),Active,San Diego,"San Diego, CA",3070300,674.72,2023,DT,PT,Full Reporter,0,265482,882610687,11694910507,121153121614,nonfixed_guideway,4
210,90013,Santa Clara Valley Transportation Authority (VTA),Active,San Jose,"San Jose, CA",1837446,285.48,2023,VP,PT,Full Reporter,0,262144,887382528,11150999040,232484337152,nonfixed_guideway,4
211,90013,Santa Clara Valley Transportation Authority (VTA),Active,San Jose,"San Jose, CA",1837446,285.48,2023,DR,PT,Full Reporter,0,262144,887382528,11150999040,232484337152,nonfixed_guideway,4

Cluster 4 summary stats:

,uza_population,uza_area_sq_miles,year,total_upt,total_voms,total_vrh,total_vrm,opexp_total,cluster_name
count,2.200000e+01,22.000000,22.0,2.200000e+01,22.000000,2.200000e+01,2.200000e+01,2.200000e+01,22.0
mean,2.763782e+06,481.976364,2023.0,2.710214e+10,264268.181818,9.639086e+08,1.041776e+10,2.294413e+11,4.0
std,7.394521e+05,165.619550,0.0,4.472612e+10,1643.517588,1.180125e+08,1.496595e+09,8.702896e+10,0.0
min,1.837446e+06,285.480000,2023.0,0.000000e+00,262144.000000,8.826107e+08,8.302616e+09,1.211531e+11,4.0
25%,1.837446e+06,285.480000,2023.0,4.251811e+07,262144.000000,8.826107e+08,8.302616e+09,1.211531e+11,4.0
50%,3.070300e+06,513.800000,2023.0,9.493831e+08,265482.000000,8.873825e+08,1.115100e+10,2.324843e+11,4.0
75%,3.515933e+06,674.720000,2023.0,3.910649e+10,265482.000000,1.132665e+09,1.169491e+10,3.342516e+11,4.0
max,3.515933e+06,674.720000,2023.0,1.725164e+11,265482.000000,1.132665e+09,1.169491e+10,3.342516e+11,4.0

 How many unique agencies are in Cluster 8: 82
    Cluster 8 sample:

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat,cluster_name
4,90170,ATC / Vancom,Inactive,0,"San Francisco--Oakland, CA",3515933,513.80,2023,DR,PT,Full Reporter,0,0,0,0,0,nonfixed_guideway,8
5,90157,Access Services (AS),Active,El Monte,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,DT,PT,Full Reporter,0,24840,52087617,863173746,5569456833,nonfixed_guideway,8
7,90182,Altamont Corridor Express (ACE),Active,Stockton,"Stockton, CA",414847,92.46,2023,MB,PT,Full Reporter,0,216,198656,7908240,289204088,nonfixed_guideway,8
8,90121,Antelope Valley Transit Authority (AVTA),Active,Lancaster,"Palmdale--Lancaster, CA",359559,84.78,2023,DT,PT,Full Reporter,0,5504,14106304,225935616,2014672512,nonfixed_guideway,8
10,90127,Chico Area Transit System City of Chico (CATS),Inactive,0,"Chico, CA",111411,33.72,2023,MB,PT,Full Reporter,0,0,0,0,0,nonfixed_guideway,8

Cluster 8 summary stats:

,uza_population,uza_area_sq_miles,year,total_upt,total_voms,total_vrh,total_vrm,opexp_total,cluster_name
count,1.830000e+02,183.000000,183.0,1.830000e+02,183.000000,1.830000e+02,1.830000e+02,1.830000e+02,183.0
mean,3.780447e+06,559.030656,2023.0,8.081728e+07,6984.016393,1.522164e+07,2.164536e+08,2.493637e+09,8.0
std,5.020212e+06,655.621215,0.0,6.695994e+08,11139.007553,2.476659e+07,3.296267e+08,3.969685e+09,0.0
min,5.690400e+04,14.110000,2023.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,8.0
25%,1.751320e+05,43.080000,2023.0,0.000000e+00,164.000000,2.785495e+05,6.571976e+06,4.814831e+07,8.0
50%,3.761170e+05,132.120000,2023.0,7.567360e+05,1215.000000,2.673351e+06,4.370852e+07,4.170762e+08,8.0
75%,7.876654e+06,1155.775000,2023.0,1.425062e+07,7875.000000,1.714062e+07,2.695495e+08,2.329236e+09,8.0
max,1.223738e+07,1636.830000,2023.0,8.965112e+09,46250.000000,1.045470e+08,1.292360e+09,1.403232e+10,8.0

 How many unique agencies are in Cluster 9: 7
    Cluster 9 sample:

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat,cluster_name
6,90014,Alameda-Contra Costa Transit District,Active,Oakland,"San Francisco--Oakland, CA",3515933,513.80,2023,DR,DO,Full Reporter,0,133920,442299312,4827739104,114999842880,nonfixed_guideway,9
154,90030,North County Transit District (NCTD),Active,Oceanside,"San Diego, CA",3070300,674.72,2023,YR,PT,Full Reporter,0,137781,383370894,5980799106,98931414123,fixed_guideway,9
155,90030,North County Transit District (NCTD),Active,Oceanside,"San Diego, CA",3070300,674.72,2023,CR,PT,Full Reporter,0,137781,383370894,5980799106,98931414123,fixed_guideway,9
156,90030,North County Transit District (NCTD),Active,Oceanside,"San Diego, CA",3070300,674.72,2023,MB,DO,Full Reporter,0,137781,383370894,5980799106,98931414123,nonfixed_guideway,9
157,90030,North County Transit District (NCTD),Active,Oceanside,"San Diego, CA",3070300,674.72,2023,LR,PT,Full Reporter,0,137781,383370894,5980799106,98931414123,fixed_guideway,9

Cluster 9 summary stats:

,uza_population,uza_area_sq_miles,year,total_upt,total_voms,total_vrh,total_vrm,opexp_total,cluster_name
count,5.000000e+01,50.000000,50.0,5.000000e+01,50.000000,5.000000e+01,5.000000e+01,5.000000e+01,50.0
mean,2.422306e+06,465.293200,2023.0,4.111379e+09,103417.200000,2.912503e+08,4.563309e+09,7.067504e+10,9.0
std,1.161831e+06,200.432996,0.0,8.924114e+09,28279.115545,1.026394e+08,2.498462e+09,3.112997e+10,0.0
min,4.148470e+05,92.460000,2023.0,0.000000e+00,71496.000000,1.407972e+08,1.683439e+09,3.127434e+10,9.0
25%,1.946618e+06,467.580000,2023.0,0.000000e+00,72467.250000,1.976640e+08,2.612286e+09,4.178009e+10,9.0
50%,3.070300e+06,513.800000,2023.0,2.273780e+08,93000.000000,3.405092e+08,4.813493e+09,8.175716e+10,9.0
75%,3.515933e+06,608.560000,2023.0,1.654991e+09,133920.000000,3.833709e+08,5.980799e+09,9.893141e+10,9.0
max,3.515933e+06,674.720000,2023.0,3.891870e+10,137781.000000,4.422993e+08,1.065422e+10,1.149998e+11,9.0

 How many unique agencies are in Cluster 0: 56
    Cluster 0 sample:

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat,cluster_name
14,90150,City of Alameda Ferry Services,Inactive,0,"San Francisco--Oakland, CA",3515933,513.80,2023,FB,PT,Full Reporter,0,0,0,0,0,other_mode,0
35,91040,City of Dinuba,Inactive,0,California Non-UZA,4357850,0.00,2023,OT,DO,Rural Reporter,0,0,0,0,0,other_mode,0
44,90027,City of Fresno (FAX) - Department of Transport...,Active,Fresno,"Fresno, CA",717589,159.11,2023,DR,DO,Full Reporter,0,3888,13433715,153100692,1923617079,nonfixed_guideway,0
51,90024,City of La Mirada (LMT) - CS Department,Active,La Mirada,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,DR,DO,Full Reporter,0,40,47984,453536,8111912,nonfixed_guideway,0
53,90119,City of Laguna Beach (CLB) - Transit and Commu...,Active,Laguna Beach,"Mission Viejo--Lake Forest--Laguna Niguel, CA",646843,163.63,2023,JT,DO,Reduced Reporter,0,1536,2868096,27537728,298122368,NaN,0

Cluster 0 summary stats:

,uza_population,uza_area_sq_miles,year,total_upt,total_voms,total_vrh,total_vrm,opexp_total,cluster_name
count,8.300000e+01,83.000000,83.0,8.300000e+01,83.000000,8.300000e+01,8.300000e+01,8.300000e+01,83.0
mean,4.909693e+06,627.364217,2023.0,4.934637e+08,6023.783133,1.401301e+07,1.933586e+08,2.680982e+09,0.0
std,5.168408e+06,706.604734,0.0,1.547691e+09,9455.342439,2.147214e+07,2.860481e+08,3.917671e+09,0.0
min,5.690400e+04,0.000000,2023.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,2.973290e+05,41.180000,2023.0,0.000000e+00,60.500000,6.451600e+04,7.560510e+05,8.509370e+06,0.0
50%,3.070300e+06,163.630000,2023.0,0.000000e+00,1536.000000,2.868096e+06,4.692368e+07,6.519245e+08,0.0
75%,1.223738e+07,1636.830000,2023.0,1.083002e+08,5125.000000,1.714062e+07,2.556544e+08,3.386562e+09,0.0
max,1.223738e+07,1636.830000,2023.0,1.048781e+10,35640.000000,8.209962e+07,9.834629e+08,1.403232e+10,0.0

 How many unique agencies are in Cluster 1: 93
    Cluster 1 sample:

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat,cluster_name
16,90300,City of Artesia - Transportation Division,Active,Artesia,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,DT,PT,Reduced Reporter,0,40,2296,37696,219984,nonfixed_guideway,1
17,90194,City of Atascadero - Public Works,Active,Atascadero,"El Paso de Robles (Paso Robles)--Atascadero, CA",67804,29.96,2023,MB,PT,Reduced Reporter,0,16,23496,272896,3774760,nonfixed_guideway,1
18,90249,City of Avalon,Active,Avalon,California Non-UZA,4357850,0.00,2023,DT,PT,Reduced Reporter,0,108,253935,1122093,25475229,nonfixed_guideway,1
19,90252,City of Bell - Community Services Department,Active,Bell,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,DT,PT,Reduced Reporter,0,640,346560,3175552,23752576,nonfixed_guideway,1
22,90258,City of Carson - Transportation Services Division,Active,Carson,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,DT,PT,Reduced Reporter,0,2375,885000,12466000,106829000,nonfixed_guideway,1

Cluster 1 summary stats:

,uza_population,uza_area_sq_miles,year,total_upt,total_voms,total_vrh,total_vrm,opexp_total,cluster_name
count,1.820000e+02,182.000000,182.0,1.820000e+02,182.000000,1.820000e+02,1.820000e+02,1.820000e+02,182.0
mean,7.023436e+06,913.759066,2023.0,2.780456e+06,302.829670,4.074974e+05,5.475997e+06,5.373671e+07,1.0
std,5.579561e+06,767.493136,0.0,1.289115e+07,472.677256,6.291771e+05,9.330211e+06,8.410776e+07,0.0
min,5.428700e+04,0.000000,2023.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.0
25%,3.620050e+05,54.810000,2023.0,3.890500e+03,16.000000,1.580525e+04,2.080980e+05,1.909559e+06,1.0
50%,1.223738e+07,1636.830000,2023.0,1.895805e+05,108.000000,1.628240e+05,1.682824e+06,1.850263e+07,1.0
75%,1.223738e+07,1636.830000,2023.0,1.419606e+06,432.000000,4.754980e+05,5.063152e+06,6.071619e+07,1.0
max,1.223738e+07,1636.830000,2023.0,1.587587e+08,2375.000000,2.868096e+06,5.222421e+07,3.561569e+08,1.0

 How many unique agencies are in Cluster 6: 1
    Cluster 6 sample:

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat,cluster_name
139,90154,Los Angeles County Metropolitan Transportation...,Active,Los Angeles,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,DR,PT,Full Reporter,0,1357312,4208721920,56047345152,1124671686144,nonfixed_guideway,6
513,90154,Los Angeles County Metropolitan Transportation...,Active,Los Angeles,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,DR,DO,Full Reporter,2851143680,1357312,4208721920,56047345152,1124671686144,nonfixed_guideway,6
514,90154,Los Angeles County Metropolitan Transportation...,Active,Los Angeles,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,RB,DO,Full Reporter,17907421184,1357312,4208721920,56047345152,1124671686144,nonfixed_guideway,6
515,90154,Los Angeles County Metropolitan Transportation...,Active,Los Angeles,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,VP,PT,Full Reporter,6353235968,1357312,4208721920,56047345152,1124671686144,nonfixed_guideway,6
517,90154,Los Angeles County Metropolitan Transportation...,Active,Los Angeles,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,HR,DO,Full Reporter,109997854720,1357312,4208721920,56047345152,1124671686144,fixed_guideway,6

Cluster 6 summary stats:

,uza_population,uza_area_sq_miles,year,total_upt,total_voms,total_vrh,total_vrm,opexp_total,cluster_name
count,7.0,7.00,7.0,7.000000e+00,7.0,7.000000e+00,7.000000e+00,7.000000e+00,7.0
mean,12237376.0,1636.83,2023.0,4.659827e+10,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,6.0
std,0.0,0.00,0.0,5.953424e+10,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0
min,12237376.0,1636.83,2023.0,0.000000e+00,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,6.0
25%,12237376.0,1636.83,2023.0,4.602190e+09,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,6.0
50%,12237376.0,1636.83,2023.0,1.790742e+10,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,6.0
75%,12237376.0,1636.83,2023.0,7.460588e+10,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,6.0
max,12237376.0,1636.83,2023.0,1.498644e+11,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,6.0

 How many unique agencies are in Cluster 5: 1
    Cluster 5 sample:

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat,cluster_name
516,90154,Los Angeles County Metropolitan Transportation...,Active,Los Angeles,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,MB,DO,Full Reporter,805546905600,1357312,4208721920,56047345152,1124671686144,nonfixed_guideway,5

Cluster 5 summary stats:

,uza_population,uza_area_sq_miles,year,total_upt,total_voms,total_vrh,total_vrm,opexp_total,cluster_name
count,1.0,1.00,1.0,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.0
mean,12237376.0,1636.83,2023.0,8.055469e+11,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,5.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,12237376.0,1636.83,2023.0,8.055469e+11,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,5.0
25%,12237376.0,1636.83,2023.0,8.055469e+11,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,5.0
50%,12237376.0,1636.83,2023.0,8.055469e+11,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,5.0
75%,12237376.0,1636.83,2023.0,8.055469e+11,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,5.0
max,12237376.0,1636.83,2023.0,8.055469e+11,1357312.0,4.208722e+09,5.604735e+10,1.124672e+12,5.0

 How many unique agencies are in Cluster 7: 1
    Cluster 7 sample:

,ntd_id,source_agency,agency_status,city,primary_uza_name,uza_population,uza_area_sq_miles,year,mode,service,reporter_type,total_upt,total_voms,total_vrh,total_vrm,opexp_total,mode_cat,cluster_name
554,90036,Orange County Transportation Authority (OCTA),Active,Orange,"Los Angeles--Long Beach--Anaheim, CA",12237376,1636.83,2023,MB,DO,Full Reporter,331437877573,1075448,2764357893,37310649233,428923289696,nonfixed_guideway,7

Cluster 7 summary stats:

,uza_population,uza_area_sq_miles,year,total_upt,total_voms,total_vrh,total_vrm,opexp_total,cluster_name
count,1.0,1.00,1.0,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.0
mean,12237376.0,1636.83,2023.0,3.314379e+11,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,7.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,12237376.0,1636.83,2023.0,3.314379e+11,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,7.0
25%,12237376.0,1636.83,2023.0,3.314379e+11,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,7.0
50%,12237376.0,1636.83,2023.0,3.314379e+11,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,7.0
75%,12237376.0,1636.83,2023.0,3.314379e+11,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,7.0
max,12237376.0,1636.83,2023.0,3.314379e+11,1075448.0,2.764358e+09,3.731065e+10,4.289233e+11,7.0

### 2023 data, non-fixed route modes , PT/DO service

In [37]:
non_fixed_route_data = ntd_2023_data[
    ntd_2023_data["mode_cat"]=="nonfixed_guideway"
].groupby(id_cols).agg({
    i:"sum" for i in numerical_cols
}).reset_index()

display(
    non_fixed_route_data["ntd_id"].value_counts()[non_fixed_route_data["ntd_id"].value_counts()>1], # empty, there are no duplicate ntd_ids
    non_fixed_route_data.head()
)

Series([], Name: ntd_id, dtype: int64)

,ntd_id,source_agency,city,primary_uza_name,total_upt,total_vrh,total_vrm,opexp_total,total_voms
0,90003,San Francisco Bay Area Rapid Transit District ...,Oakland,"San Francisco--Oakland, CA",0,681018500,21308437250,195646239500,145500
1,90004,Golden Empire Transit District (GET),Bakersfield,"Bakersfield, CA",266781033,23436378,317845296,2960905266,7209
2,90006,Santa Cruz Metropolitan Transit District (SCMTD),Santa Cruz,"Santa Cruz, CA",4341633696,278313408,3855763296,62945840016,120528
3,90007,City of Modesto (MAX),0,"Modesto, CA",0,0,0,0,0
4,90008,City of Santa Monica (BBB) - Department of Tra...,Santa Monica,"Los Angeles--Long Beach--Anaheim, CA",4854828125,260590000,2450246875,50485795000,89375

In [ ]:
non_fixed_route_2023 = make_hierarchal_clustering(
    data = non_fixed_route_data,
    num_cols = numerical_cols,
    cat_cols = categorical_cols,
    cluster_num = 10
    
)

z_nonfixed_route = make_dendrogram_data(
    data = non_fixed_route_data,
    num_cols = numerical_cols,
    cat_cols = categorical_cols
)


for i in non_fixed_route_2023["cluster_name"].unique():
    print(f"""
    \n How many unique agencies are in Cluster {i}: {non_fixed_route_2023[non_fixed_route_2023['cluster_name']==i]["source_agency"].nunique()}
    Cluster {i} sample:""")
    display(non_fixed_route_2023[non_fixed_route_2023["cluster_name"]==i].head()),
    print(f"\nCluster {i} summary stats:")
    display(non_fixed_route_2023[non_fixed_route_2023["cluster_name"]==i].describe())

    
# fig_nonfixed_route = ff.create_dendrogram(z_nonfixed_route, labels = non_fixed_route_data["source_agency"].tolist())
# fig_nonfixed_route.update_layout(width=800, height=500)
# fig_nonfixed_route.show()

plt.figure(figsize=(10, 5))
dendrogram(z_nonfixed_route, labels=non_fixed_route_data["ntd_id"].tolist(), leaf_rotation=90)
plt.title("Dendrogram (Ward's Method)")
plt.xlabel("ntd_id")
plt.ylabel("Distance")
plt.tight_layout()
plt.show()

### 2023 data, fixed route modes , PT/DO service

In [ ]:
fixed_route_data = ntd_2023_data[
    ntd_2023_data["mode"].isin(fixed_guideway)
].groupby(id_cols+categorical_cols).agg({
    i:"sum" for i in numerical_cols
}).reset_index()

fixed_route_data.head()

In [ ]:
fixed_route_2023 = make_hierarchal_clustering(
    data = fixed_route_data,
    num_cols = numerical_cols,
    cat_cols = categorical_cols,
    cluster_num = 10
    
)

z_fixed_route = make_dendrogram_data(
    data = fixed_route_data,
    num_cols = numerical_cols,
    cat_cols = categorical_cols
)

for i in fixed_route_2023["cluster_name"].unique():
    print(f"""
    \n How many unique agencies are in Cluster {i}: {fixed_route_2023[fixed_route_2023['cluster_name']==i]["source_agency"].nunique()}
    Cluster {i} sample:""")
    display(fixed_route_2023[fixed_route_2023["cluster_name"]==i].head())

# fig_fixed_route = ff.create_dendrogram(z_fixed_route,)
# fig_fixed_route.update_layout(width=800, height=500)
# fig_fixed_route.show()

plt.figure(figsize=(10, 5))
dendrogram(z_fixed_route, labels=fixed_route_data["ntd_id"].tolist(), leaf_rotation=90)
plt.title("Dendrogram (Ward's Method)")
plt.xlabel("ntd_id")
plt.ylabel("Distance")
plt.tight_layout()
plt.show()

### 2023 data, other modes, PT/DO service

In [ ]:
other_modes

In [ ]:


other_mode_2023 = make_hierarchal_clustering(
    data = ntd_2023_data[ntd_2023_data["mode"].isin(other_modes)],
    num_cols = numerical_cols,
    cat_cols = categorical_cols,
    cluster_num = 10
    
)

z_other_modes = make_dendrogram_data(
    data = ntd_2023_data[ntd_2023_data["mode"].isin(other_modes)],
    num_cols = numerical_cols,
    cat_cols = categorical_cols
)

for i in other_mode_2023["cluster_name"].unique():
    print(f"""
    \n How many unique agencies are in Cluster {i}: {other_mode_2023[other_mode_2023['cluster_name']==i]["source_agency"].nunique()}
    Cluster {i} sample:""")
    display(other_mode_2023[other_mode_2023["cluster_name"]==i].head()),
    print(f"\nCluster {i} summary stats:")
    display(other_mode_2023[other_mode_2023["cluster_name"]==i].describe())

    
fig_fixed_route = ff.create_dendrogram(z_other_modes)
fig_fixed_route.update_layout(width=800, height=500)
fig_fixed_route.show()

### non-fixed route, just DO

In [ ]:
non_fixed_route_do = ntd_2023_data[
    (ntd_2023_data["mode"].isin(nonfixed_guideway))
    & (ntd_2023_data["service"]=="DO")
].groupby(id_cols+categorical_cols).agg({
    i:"sum" for i in numerical_cols
}).reset_index()

display(
    non_fixed_route_do.info(),
    non_fixed_route_do.head()
)

In [ ]:
non_fixed_route_do_2023 = make_hierarchal_clustering(
    data = non_fixed_route_do,
    num_cols = numerical_cols,
    cat_cols = categorical_cols,
    cluster_num = 10
    
)

z_nonfixed_route_do = make_dendrogram_data(
    data = non_fixed_route_do,
    num_cols = numerical_cols,
    cat_cols = categorical_cols
)


for i in non_fixed_route_do_2023["cluster_name"].unique():
    print(f"""
    \n How many unique agencies are in Cluster {i}: {non_fixed_route_do_2023[non_fixed_route_do_2023['cluster_name']==i]["source_agency"].nunique()}
    Cluster {i} sample:""")
    display(non_fixed_route_do_2023[non_fixed_route_do_2023["cluster_name"]==i].head()),
    print(f"\nCluster {i} summary stats:")
    display(non_fixed_route_do_2023[non_fixed_route_do_2023["cluster_name"]==i].describe())

    
# fig_nonfixed_route = ff.create_dendrogram(z_nonfixed_route, labels = non_fixed_route_data["source_agency"].tolist())
# fig_nonfixed_route.update_layout(width=800, height=500)
# fig_nonfixed_route.show()

plt.figure(figsize=(10, 5))
dendrogram(z_nonfixed_route_do, labels=non_fixed_route_do["ntd_id"].tolist(), leaf_rotation=90)
plt.title("Dendrogram (Ward's Method)")
plt.xlabel("ntd_id")
plt.ylabel("Distance")
plt.tight_layout()
plt.show()