In [2]:
import sys

In [10]:
import pandas as pd
import geopandas as gpd
from calitp_data_analysis import geography_utils
import utils

In [11]:
from shared_utils import catalog_utils, rt_dates, rt_utils
GTFS_DATA_DICT = catalog_utils.get_catalog("gtfs_analytics_data")

In [12]:
from segment_speed_utils import helpers

In [13]:
analysis_date = rt_dates.DATES['feb2025']

In [30]:
transit_service_intensity = pd.read_parquet(f'test_tsi_{analysis_date}.parquet')

In [31]:
transit_service_intensity

           tract  daily_vrm_miles  daily_vrh_hours
0    06001400100            188.5              3.4
1    06001400200            454.7             43.6
2    06001400300            894.0             73.2
3    06001400400            824.7             56.2
4    06001400500            711.9             49.7
..           ...              ...              ...
341  06001451602            832.9             41.6
342  06001451701             26.3              0.0
343  06001451704             82.9              0.0
344  06001982000             38.5              1.4
345  06001983200            391.6             45.5

[346 rows x 3 columns]

In [32]:
tracts = utils.read_census_tracts()

In [33]:
transit_service_intensity = tracts.merge(transit_service_intensity, on='tract')

In [42]:
#  filter out 06001420300, 06001420200 (edge effect)
edges = ['06001420300', '06001420200', '06001441503',
        '06001437101']
transit_service_intensity = transit_service_intensity.query('tract not in @edges')

In [44]:
# transit_service_intensity.explore(column = 'daily_vrh_hours')