# Grab transit routes near the State Highway Network (SHN)

Find transit routes within 1 mile of the SHN.

Data Sources: 
* [SHN on Geoportal](https://opendata.arcgis.com/datasets/77f2d7ba94e040a78bfbe36feb6279da_0.geojson) > processed in `highway_transit_utils.py` > exported to GCS > saved in catalog.
* Transit routes: all transit routes, those in `gtfs_schedule.shapes` and those not, but found in `stops`. Use `traffic_ops/export_shapefiles.py` created `routes_assembled.parquet` in GCS > saved in catalog.

In [1]:
import geopandas as gpd
import intake
import matplotlib.pyplot as plt
import pandas as pd

import highway_transit_utils
from shared_utils import geography_utils

catalog = intake.open_catalog("*.yml")

IMG_PATH = "./img/"
DATA_PATH = "./data/"

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
#overlay = highway_transit_utils.overlay_transit_to_highways()

#highways.to_parquet(f"{DATA_PATH}highways.parquet")
#transit_routes.to_parquet(f"{DATA_PATH}transit_routes.parquet")
#overlay.to_parquet(f"{DATA_PATH}overlay.parquet")

In [3]:
gdf = gpd.read_parquet(f"{DATA_PATH}overlay.parquet")
transit_routes = gpd.read_parquet(f"{DATA_PATH}transit_routes.parquet")
highways = gpd.read_parquet(f"{DATA_PATH}highways.parquet")

gdf = gdf.assign(
    pct_route = gdf.geometry.length / gdf.route_length,
    pct_highway = gdf.geometry.length / gdf.highway_length,
)

gdf.head(2)

,itp_id,shape_id,route_id,route_length,Route,County,District,RouteType,NB,SB,EB,WB,highway_length,geometry,pct_route,pct_highway
0,4,shp-10-09,10,40538.084415,112,ALA,4,State,0,0,1,1,9439.06421,"LINESTRING (5361848.256 3200204.007, 5361809.6...",0.195033,0.837611
1,4,shp-10-10,10,38768.867482,112,ALA,4,State,0,0,1,1,9439.06421,"MULTILINESTRING ((5357130.794 3202353.915, 535...",0.210867,0.866090

In [4]:
MAP_ME = {
    182: "LA Metro", 
    294: "SJ Valley Transportation Authority", 
    279: "BART", 
    282: "SF Muni",
    278: "SD Metropolitan Transit System", 
}

for i, name in MAP_ME.items():
    subset_df = gdf[gdf.itp_id==i]
    print(f"# routes originally for {i}: {transit_routes[transit_routes.itp_id==i].route_id.nunique()}")
    print(f"# routes for {i}: {subset_df.route_id.nunique()}")
    
    
    fig, ax = plt.subplots(figsize  = (12, 8))
    subset_df.plot(column="route_id",  
                         ax = ax)
    ax.set_axis_off()
    plt.title(f"{name} (ITP ID: {i})")
    #display(fig)
    plt.close()

# routes originally for 182: 120
# routes for 182: 120
# routes originally for 294: 71
# routes for 294: 70
# routes originally for 279: 12
# routes for 279: 12
# routes originally for 282: 59
# routes for 282: 59
# routes originally for 278: 109
# routes for 278: 108

In [5]:
gdf.pct_highway.describe()

count    47396.000000
mean         0.647700
std          3.915224
min          0.000017
25%          0.066727
50%          0.150303
75%          0.417973
max        530.880377
Name: pct_highway, dtype: float64

In [6]:
gdf.pct_route.describe()

count    47396.000000
mean         0.299967
std          0.285091
min          0.000005
25%          0.078179
50%          0.192113
75%          0.449435
max          1.000000
Name: pct_route, dtype: float64

In [7]:
gdf[gdf.pct_highway > 1].pct_highway.describe()

count    4976.000000
mean        4.353537
std        11.413728
min         1.000109
25%         1.217586
50%         1.646066
75%         3.279469
max       530.880377
Name: pct_highway, dtype: float64

In [8]:
print(f"# rows: {len(gdf)}")
print(f"# rows with pct_highway > 1 (wrong?!): {len(gdf[gdf.pct_highway > 1])}")
print(f"% rows with pct_highway > 1 (wrong?!): {len(gdf[gdf.pct_highway > 1]) / len(gdf)}")

# rows: 47396
# rows with pct_highway > 1 (wrong?!): 4976
% rows with pct_highway > 1 (wrong?!): 0.10498776268039497

There are some rows that have `pct_highway` > 1. `pct_route` falls between 0-1, and that's correct. `pct_highway` > 1 means that the transit route runs along that highway, most likely in both directions. 

LA Metro Line 910 (Silver Line) runs on the 110 freeway in both directions.

Has to do with the fact that highway length was calculated only for 1 direction (similar to centerline). Can just set all `pct_highway` > 1 to be 1. The route runs the entirety of the highway segment, and once it hits the max, we can store that as 1. The length was calculated, then the 1 mile buffer drawn, then the dissolve (dissolve is computationally expensive).

In [9]:
gdf[(gdf.pct_highway > 1) & (gdf.itp_id==182) & (gdf.County=="LA")
   ][["route_id", "route_length", "Route", "highway_length",
      "geometry", "pct_route", "pct_highway"]]

,route_id,route_length,Route,highway_length,geometry,pct_route,pct_highway
16933,266-13153,120417.620068,164,18141.693847,"LINESTRING (6539404.063 1860630.634, 6539410.0...",0.254201,1.687286
16934,266-13153,126927.964445,164,18141.693847,"LINESTRING (6540315.331 1831291.390, 6540363.0...",0.241162,1.687286
18172,910-13153,203257.376049,110,125191.103899,"MULTILINESTRING ((6491357.376 1842079.806, 649...",0.691628,1.122911
18175,910-13153,206333.820355,110,125191.103899,"LINESTRING (6474114.722 1725182.990, 6474116.0...",0.682162,1.124305
18784,804,163016.234449,110,38787.994447,"LINESTRING (6490429.325 1842121.250, 6490433.4...",0.300734,1.263908
...,...,...,...,...,...,...,...
40738,617-13153,39778.887010,187,1169.731595,"MULTILINESTRING ((6444861.771 1840281.875, 644...",0.256532,8.723856
40739,806,80968.814981,187,1169.731595,"LINESTRING (6442837.739 1832875.522, 6442876.8...",0.106869,7.397452
40740,806,80971.748323,187,1169.731595,"LINESTRING (6451453.336 1831919.219, 6451239.8...",0.107278,7.426072
45922,577-13153,155026.635759,22,7716.304762,"MULTILINESTRING ((6534260.869 1745039.562, 653...",0.101056,2.030289
45923,577-13153,150307.705838,22,7716.304762,"LINESTRING (6525803.000 1740640.000, 6526073.0...",0.087352,1.701545

In [10]:
# Set pct_highway to have max of 1
gdf = gdf.assign(
    pct_highway = gdf.apply(lambda x: 1 if x.pct_highway > 1 
                            else x.pct_highway, axis=1)
)

gdf.head(2)

,itp_id,shape_id,route_id,route_length,Route,County,District,RouteType,NB,SB,EB,WB,highway_length,geometry,pct_route,pct_highway
0,4,shp-10-09,10,40538.084415,112,ALA,4,State,0,0,1,1,9439.06421,"LINESTRING (5361848.256 3200204.007, 5361809.6...",0.195033,0.837611
1,4,shp-10-10,10,38768.867482,112,ALA,4,State,0,0,1,1,9439.06421,"MULTILINESTRING ((5357130.794 3202353.915, 535...",0.210867,0.866090

In [11]:
def parallel_or_intersecting(df, pct_route_threshold=0.5, pct_highway_threshold=0.1):
    df = df.assign(
        parallel = df.apply(lambda x: 
                            1 if (
                                (x.pct_route >= pct_route_threshold) and 
                                (x.pct_highway >= pct_highway_threshold)
                            ) else 0, axis=1),
    )
    
    return df

In [12]:
orig_highways = (catalog.state_highway_network.read()
                .to_crs(geography_utils.CA_StatePlane))
    

for i in [0, 0.05, 0.1, 0.15, 0.2]:
    gdf2 = parallel_or_intersecting(gdf, pct_route_threshold=0.4, 
                                    pct_highway_threshold=i)
    print(f"highway threshold: {i}")
    print("------------------------------------")
    print(gdf2.parallel.value_counts())
    print(f"%: {len(gdf2[gdf2.parallel==1]) / len(gdf2)}")
    
    for i, name in MAP_ME.items():
        subset_df = gdf2[gdf2.itp_id==i]

        print(f"# routes for {i}: {subset_df.route_id.nunique()}")
        print(f"# routes parallel: {len(subset_df[subset_df.parallel==1]) / len(subset_df)}")
    
        fig, ax = plt.subplots(figsize  = (12, 8))
        orig_highways[
            (orig_highways.Route.isin(subset_df.Route)) & 
            (orig_highways.County.isin(subset_df.County))
        ].drop_duplicates(subset=["Route", "County"]).plot(ax=ax, color="gray")
        
        subset_df.plot(column="parallel", ax = ax, 
                       categorical=True, legend=True)
        
        ax.set_axis_off()
        
        plt.title(f"{name} (ITP ID: {i}, parallel vs intersecting)")
        #display(fig)
        plt.close()

highway threshold: 0
------------------------------------
0    33885
1    13511
Name: parallel, dtype: int64
%: 0.2850662503164824
# routes for 182: 120
# routes parallel: 0.14680153089119738
# routes for 294: 70
# routes parallel: 0.2605042016806723
# routes for 279: 12
# routes parallel: 0.024179620034542316
# routes for 282: 59
# routes parallel: 0.4165745856353591
# routes for 278: 108
# routes parallel: 0.33962264150943394
highway threshold: 0.05
------------------------------------
0    34877
1    12519
Name: parallel, dtype: int64
%: 0.2641362140265001
# routes for 182: 120
# routes parallel: 0.1394204483324221
# routes for 294: 70
# routes parallel: 0.25133689839572193
# routes for 279: 12
# routes parallel: 0.024179620034542316
# routes for 282: 59
# routes parallel: 0.40994475138121544
# routes for 278: 108
# routes parallel: 0.2715633423180593
highway threshold: 0.1
------------------------------------
0    36944
1    10452
Name: parallel, dtype: int64
%: 0.220524938813402
# routes for 182: 120
# routes parallel: 0.10278840896664844
# routes for 294: 70
# routes parallel: 0.22077922077922077
# routes for 279: 12
# routes parallel: 0.017271157167530225
# routes for 282: 59
# routes parallel: 0.3812154696132597
# routes for 278: 108
# routes parallel: 0.18261455525606468
highway threshold: 0.15
------------------------------------
0    38698
1     8698
Name: parallel, dtype: int64
%: 0.18351759642163895
# routes for 182: 120
# routes parallel: 0.08365226899945326
# routes for 294: 70
# routes parallel: 0.19480519480519481
# routes for 279: 12
# routes parallel: 0.017271157167530225
# routes for 282: 59
# routes parallel: 0.36132596685082874
# routes for 278: 108
# routes parallel: 0.14016172506738545
highway threshold: 0.2
------------------------------------
0    40076
1     7320
Name: parallel, dtype: int64
%: 0.1544434129462402
# routes for 182: 120
# routes parallel: 0.05467468562055768
# routes for 294: 70
# routes parallel: 0.16424751718869365
# routes for 279: 12
# routes parallel: 0.017271157167530225
# routes for 282: 59
# routes parallel: 0.3425414364640884
# routes for 278: 108
# routes parallel: 0.11320754716981132

In [13]:
gdf3 = parallel_or_intersecting(gdf, pct_route_threshold=0.4, 
                                    pct_highway_threshold=0.1)

In [14]:
# For each highway, calculate % of parallel to intersecting routes
def aggregate(df):
    
    highway_group_cols = ["Route", "County", "District", "RouteType", 
                     "NB", "SB", "EB", "WB", "highway_length"]

    df = (geography_utils.aggregate_by_geography(
            df, 
            group_cols = highway_group_cols,
            sum_cols = ["parallel"],
            count_cols = ["shape_id"],
            nunique_cols = ["itp_id", "route_id"]
           ).rename(columns = {
              "shape_id": "num_routes",
              "itp_id": "num_operators",
              "route_id": "unique_route_ids", 
          })
         )

    df = df.assign(
        pct_parallel = df.parallel.divide(df.num_routes)
    )
    
    display_df = df.drop(columns = ["County", "District", 
                                    "SB", "WB", "highway_length"])
    display(display_df.sort_values("pct_parallel", ascending=False))
    
    return df

In [17]:
counties = ["LA"]
for c in counties:
    la = aggregate(gdf3[gdf3.County==c])

,Route,RouteType,NB,EB,parallel,num_routes,num_operators,unique_route_ids,pct_parallel
20,14,State,1,1,111,253,17,45,0.438735
3,60,State,0,1,157,380,21,73,0.413158
4,72,State,1,0,36,109,17,18,0.330275
34,213,State,1,0,29,93,7,26,0.311828
30,126,State,0,1,10,34,3,13,0.294118
12,27,State,1,0,36,123,18,33,0.292683
17,57,State,1,0,14,50,3,24,0.280000
29,107,State,1,0,22,87,9,26,0.252874
8,110,Interstate,1,0,163,679,24,149,0.240059
28,105,Interstate,0,1,79,332,22,83,0.237952
1,710,Interstate,1,0,114,547,27,129,0.208410
14,134,State,0,1,41,206,10,66,0.199029
5,605,Interstate,1,0,57,302,22,75,0.188742
31,138,State,0,1,24,132,7,23,0.181818
25,90,State,0,1,19,109,6,22,0.174312
0,10,Interstate,0,1,151,924,31,226,0.163420
7,101,US,1,0,88,662,26,163,0.132931
33,210,Interstate,0,1,28,238,11,79,0.117647
19,1,State,1,0,52,445,22,116,0.116854
16,405,Interstate,1,0,72,686,24,162,0.104956
26,91,State,0,1,17,175,11,52,0.097143
23,47,State,1,0,3,31,4,12,0.096774
2,5,Interstate,1,0,58,671,26,155,0.086438
15,170,State,1,0,10,122,7,39,0.081967
35,22,State,0,1,4,66,4,17,0.060606
10,110,State,1,0,19,333,13,91,0.057057
18,71,State,1,0,2,36,3,16,0.055556
6,164,State,1,0,4,77,8,28,0.051948
11,2,State,0,1,14,341,10,89,0.041056
32,187,State,0,1,2,89,15,21,0.022472
13,118,State,0,1,2,112,8,34,0.017857
9,39,State,1,0,0,38,16,8,0.000000
24,66,State,0,1,0,12,3,6,0.000000
27,103,State,1,0,0,37,5,13,0.000000
21,18,State,1,0,0,0,1,2,NaN
22,23,State,1,0,0,0,1,1,NaN

In [21]:
operators_df = {}
for i, name in MAP_ME.items():
    print(f"ITP ID: {name}")
    operators_df[i] = aggregate(gdf3[gdf3.itp_id==i])

ITP ID: LA Metro

,Route,RouteType,NB,EB,parallel,num_routes,num_operators,unique_route_ids,pct_parallel
14,27,State,1,0,17,63,1,14,0.269841
8,110,Interstate,1,0,87,422,1,58,0.206161
0,10,Interstate,0,1,62,401,1,65,0.154613
34,213,State,1,0,2,15,1,5,0.133333
3,60,State,0,1,15,114,1,18,0.131579
33,210,Interstate,0,1,12,94,1,23,0.127660
7,101,US,1,0,51,433,1,75,0.117783
18,170,State,1,0,10,85,1,22,0.117647
17,134,State,0,1,11,119,1,29,0.092437
2,5,Interstate,1,0,29,330,1,61,0.087879
27,91,State,0,1,6,72,1,19,0.083333
1,710,Interstate,1,0,17,210,1,37,0.080952
19,405,Interstate,1,0,17,294,1,52,0.057823
12,2,State,0,1,10,185,1,33,0.054054
11,110,State,1,0,10,211,1,38,0.047393
31,107,State,1,0,1,22,1,5,0.045455
30,105,Interstate,0,1,8,176,1,37,0.045455
20,1,State,1,0,5,118,1,25,0.042373
5,605,Interstate,1,0,2,53,1,13,0.037736
16,118,State,0,1,2,55,1,11,0.036364
26,90,State,0,1,1,42,1,3,0.023810
32,187,State,0,1,1,51,1,7,0.019608
13,23,State,1,0,0,4,1,1,0.000000
28,91,State,0,1,0,6,1,2,0.000000
36,605,Interstate,1,0,0,2,1,1,0.000000
35,405,Interstate,1,0,0,2,1,1,0.000000
4,72,State,1,0,0,10,1,4,0.000000
29,103,State,1,0,0,3,1,1,0.000000
25,72,State,1,0,0,4,1,1,0.000000
6,164,State,1,0,0,25,1,9,0.000000
24,47,State,1,0,0,15,1,5,0.000000
23,22,State,0,1,0,2,1,1,0.000000
22,14,State,1,1,0,2,1,1,0.000000
21,5,Interstate,1,0,0,4,1,1,0.000000
9,39,State,1,0,0,4,1,1,0.000000
10,39,State,1,0,0,4,1,1,0.000000
15,101,US,1,0,0,4,1,1,0.000000
37,22,State,0,1,0,2,1,1,0.000000

ITP ID: SJ Valley Transportation Authority

,Route,RouteType,NB,EB,parallel,num_routes,num_operators,unique_route_ids,pct_parallel
13,152,State,0,1,6,15,1,5,0.400000
5,82,State,1,0,51,137,1,29,0.372263
3,680,Interstate,1,0,28,85,1,24,0.329412
2,237,State,0,1,41,141,1,34,0.290780
9,87,State,1,0,34,127,1,30,0.267717
12,85,State,1,0,34,146,1,35,0.232877
10,280,Interstate,1,0,35,153,1,36,0.228758
4,880,Interstate,1,0,23,119,1,31,0.193277
7,101,US,1,0,29,225,1,53,0.128889
15,17,State,1,0,7,68,1,15,0.102941
11,130,State,0,1,1,54,1,14,0.018519
0,880,Interstate,1,0,0,3,1,1,0.000000
1,680,Interstate,1,0,0,8,1,3,0.000000
6,82,State,1,0,0,15,1,3,0.000000
8,101,US,1,0,0,3,1,3,0.000000
14,9,State,1,0,0,10,1,2,0.000000

ITP ID: BART

,Route,RouteType,NB,EB,parallel,num_routes,num_operators,unique_route_ids,pct_parallel
15,61,State,1,0,2,2,1,2,1.000000
3,580,Interstate,0,1,4,29,1,10,0.137931
4,880,Interstate,1,0,4,33,1,12,0.121212
0,112,State,0,1,0,13,1,8,0.000000
28,82,State,1,0,0,22,1,8,0.000000
22,4,State,0,1,0,10,1,2,0.000000
23,80,Interstate,0,1,0,23,1,8,0.000000
24,242,State,1,0,0,12,1,2,0.000000
25,280,Interstate,1,0,0,23,1,8,0.000000
26,680,Interstate,1,0,0,12,1,2,0.000000
27,101,US,1,0,0,23,1,8,0.000000
29,101,US,1,0,0,6,1,4,0.000000
20,880,Interstate,1,0,0,6,1,4,0.000000
30,101,US,1,0,0,14,1,4,0.000000
31,160,State,1,0,0,6,1,2,0.000000
32,380,Interstate,0,1,0,13,1,4,0.000000
33,280,Interstate,1,0,0,21,1,8,0.000000
34,82,State,1,0,0,21,1,8,0.000000
35,1,State,1,0,0,21,1,8,0.000000
21,24,State,0,1,0,12,1,2,0.000000
18,237,State,0,1,0,6,1,4,0.000000
19,680,Interstate,1,0,0,6,1,4,0.000000
1,185,State,1,0,0,15,1,8,0.000000
17,262,State,1,0,0,6,1,4,0.000000
16,680,Interstate,1,0,0,12,1,6,0.000000
14,580,Interstate,0,1,0,8,1,4,0.000000
13,123,State,1,0,0,8,1,4,0.000000
12,80,Interstate,0,1,0,8,1,4,0.000000
11,77,State,1,0,0,11,1,6,0.000000
10,980,Interstate,0,1,0,27,1,10,0.000000
9,260,State,1,0,0,27,1,10,0.000000
8,123,State,1,0,0,20,1,6,0.000000
7,80,Interstate,0,1,0,27,1,10,0.000000
6,24,State,0,1,0,20,1,6,0.000000
5,13,State,1,0,0,20,1,6,0.000000
2,238,State,1,0,0,15,1,6,0.000000
36,1,State,1,0,0,21,1,8,0.000000

ITP ID: SF Muni

,Route,RouteType,NB,EB,parallel,num_routes,num_operators,unique_route_ids,pct_parallel
3,101,US,1,0,125,207,1,53,0.603865
2,280,Interstate,1,0,94,197,1,53,0.477157
1,80,Interstate,0,1,66,149,1,40,0.442953
10,35,State,1,0,15,44,1,15,0.340909
8,1,State,1,0,37,115,1,34,0.321739
7,82,State,1,0,8,58,1,16,0.137931
0,80,Interstate,0,1,0,2,1,1,0.000000
4,82,State,1,0,0,36,1,9,0.000000
5,101,US,1,0,0,29,1,9,0.000000
6,280,Interstate,1,0,0,33,1,10,0.000000
9,1,State,1,0,0,33,1,10,0.000000
11,35,State,1,0,0,2,1,1,0.000000

ITP ID: SD Metropolitan Transit System

,Route,RouteType,NB,EB,parallel,num_routes,num_operators,unique_route_ids,pct_parallel
8,163,State,1,0,63,133,1,35,0.473684
11,15,State,1,0,12,32,1,11,0.375000
19,282,State,0,1,2,6,1,3,0.333333
13,125,State,1,0,17,53,1,21,0.320755
17,905,State,0,1,12,41,1,12,0.292683
6,78,State,0,1,2,8,1,4,0.250000
16,11,State,1,0,2,8,1,4,0.250000
9,805,Interstate,1,0,53,222,1,65,0.238739
4,67,State,1,0,10,42,1,15,0.238095
14,75,State,1,0,14,67,1,17,0.208955
15,54,State,0,1,12,76,1,21,0.157895
2,15,Interstate,1,0,19,129,1,37,0.147287
3,52,State,0,1,9,70,1,22,0.128571
12,94,State,0,1,12,136,1,38,0.088235
0,5,Interstate,1,0,20,245,1,71,0.081633
1,8,State,0,1,12,187,1,56,0.064171
7,79,State,1,0,0,6,1,3,0.000000
5,76,State,0,1,0,2,1,1,0.000000
18,188,State,1,0,0,4,1,1,0.000000
10,56,State,0,1,0,12,1,5,0.000000