In the terminal: run `python setup.py install`

In [1]:
import shared_utils

import pandas as pd

In [2]:
shared_utils.geography_utils.CA_NAD83Albers

'EPSG:3310'

In [3]:
shared_utils.utils.geoparquet_gcs_export?

Signature: shared_utils.utils.geoparquet_gcs_export(gdf, GCS_FILE_PATH, name)
Docstring:
Save geodataframe as parquet locally,
then move to GCS bucket and delete local file.

gdf: geopandas.GeoDataFrame
GCS_FILE_PATH: str. Ex: gs://calitp-analytics-data/data-analyses/my-folder/
name: str. Filename.
File:      /opt/conda/lib/python3.9/site-packages/shared_utils-0.1.0-py3.9.egg/shared_utils/utils.py
Type:      function

In [4]:
sample_data = {
    'District' : [1, 2, 3, 1],
    'Population' : [3_000, 2_000, 1_500, 3_000],
    'id' : ['A', 'B', 'C', 'D']
}

df = pd.DataFrame(sample_data)
df

   District  Population id
0         1        3000  A
1         2        2000  B
2         3        1500  C
3         1        3000  D

In [5]:
group_cols = ["District"]
sum_cols = []
mean_cols = ["Population"]
count_cols = []
nunique_cols = ["id"]

shared_utils.geography_utils.aggregate_by_geography(df, group_cols=group_cols,
                                                    sum_cols = sum_cols,
                                                    mean_cols = mean_cols,
                                                    count_cols = count_cols,
                                                    nunique_cols = nunique_cols)

   District  Population  id
0         1        3000   2
1         2        2000   1
2         3        1500   1