In [1]:
import numpy as np
import pandas as pd
from siuba import *
import altair as alt
import altair_saver
from calitp import *
from plotnine import *
import intake

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.

## Read in Catalog

In [116]:
catalog = intake.open_catalog("catalog.yml")

In [120]:
#ERROR. probably because it is reading an excel sheet
#df = catalog.black_cat_5311data.read()

In [95]:
gtfs_status = catalog.gtfs_status.read()

In [99]:
gtfs_status = to_snakecase(gtfs_status)

In [102]:
gtfs_status.head()

,name,itp_id,reporting_category,caltrans_district,gtfs_static_status,gtfs_realtime_status,missing_static,services_needing_alerts,services_needing_tripupdates_or_vehiclepositions
0,Long Beach Transit,170.0,Core,07 - Los Angeles,Static Incomplete,RT Incomplete,AquaLink,"Galaxy Express, AquaLink, UCLA/Westwood Commut...","Galaxy Express, AquaLink, UCLA/Westwood Commut..."
1,City of Maywood,196.0,Core,07 - Los Angeles,Static Incomplete,RT Incomplete,Maywood Express Shuttle,"Maywood Dial-A-Ride, Maywood Express Shuttle","Maywood Dial-A-Ride, Maywood Express Shuttle"
2,City of Cerritos,63.0,Core,07 - Los Angeles,Static Incomplete,RT Incomplete,Cerritos on Wheels,"Cerritos on Wheels, Cerritos Dial-A-Ride","Cerritos on Wheels, Cerritos Dial-A-Ride"
3,City of La Puente,152.0,Other Public Transit,07 - Los Angeles,Static Incomplete,RT Incomplete,La Puente Link,"La Puente Link, La Puente Dial-A-Ride","La Puente Link, La Puente Dial-A-Ride"
4,City of Artesia,20.0,Core,07 - Los Angeles,Static Incomplete,RT Incomplete,Artesia Transit,"Artesia Express Dial-A-Ride, Artesia Transit","Artesia Express Dial-A-Ride, Artesia Transit"

In [101]:
gtfs_status.name.nunique()

190

## Read in Vehicle Data

In [18]:
vehicles =  pd.read_excel('gs://calitp-analytics-data/data-analyses/5311 /2020-Vehicles_1.xlsm',
                                   sheet_name = ['Age Distribution', 'Vehicle Type Count by Agency'])

In [21]:
print(type(vehicles))

<class 'dict'>

In [22]:
vehicle_age = vehicles['Age Distribution']
vehicle_count = vehicles['Vehicle Type Count by Agency']

In [27]:
vehicle_age = (vehicle_age>>filter(_.State=='CA'))

In [29]:
vehicle_age.State.unique()

array(['CA'], dtype=object)

* **note:** multiple entries for each agency

In [35]:
vehicle_count = vehicle_count>>filter(_.State=='CA')

In [49]:
vehicle_count.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226 entries, 2 to 2662
Data columns (total 96 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Agency                                                        226 non-null    object
 1   City                                                          226 non-null    object
 2   State                                                         226 non-null    object
 3   Legacy NTD ID                                                 156 non-null    object
 4   NTD ID                                                        226 non-null    object
 5   Organization Type                                             226 non-null    object
 6   Reporter Type                                                 226 non-null    object
 7   Primary UZA Population                                        226 non-null    int64
 8   Agency VOMS                                                   226 non-null    int64
 9   Bus                                                           226 non-null    int64
 10  Bus with ULB Reported                                         226 non-null    int64
 11  Bus  >= ULB                                                   226 non-null    int64
 12  Articulated Bus                                               226 non-null    int64
 13  Articulated Bus with ULB Reported                             226 non-null    int64
 14  Articulated Bus  >= ULB                                       226 non-null    int64
 15  Over-The-Road Bus                                             226 non-null    int64
 16  Over-The-Road Bus with ULB Reported                           226 non-null    int64
 17  Over-The-Road Bus  >= ULB                                     226 non-null    int64
 18  Double Decker Bus                                             226 non-null    int64
 19  Double Decker Bus with ULB Reported                           226 non-null    int64
 20  Double Decker Bus  >= ULB                                     226 non-null    int64
 21  School Bus                                                    226 non-null    int64
 22  School Bus with ULB Reported                                  226 non-null    int64
 23  School Bus  >= ULB                                            226 non-null    int64
 24  Van                                                           226 non-null    int64
 25  Van with ULB Reported                                         226 non-null    int64
 26  Van  >= ULB                                                   226 non-null    int64
 27  Cutaway                                                       226 non-null    int64
 28  Cutaway with ULB Reported                                     226 non-null    int64
 29  Cutaway  >= ULB                                               226 non-null    int64
 30  Automobile                                                    226 non-null    int64
 31  Automobile with ULB Reported                                  226 non-null    int64
 32  Automobile  >= ULB                                            226 non-null    int64
 33  Minivan                                                       226 non-null    int64
 34  Minivan with ULB Reported                                     226 non-null    int64
 35  Minivan  >= ULB                                               226 non-null    int64
 36  Sport Utility Vehicle                                         226 non-null    int64
 37  Sport Utility Vehicle with ULB Reported                       226 non-null    int64
 38  Sport Utility Vehicle  >= ULB                                 226 non-null    int64
 39  Trolleybus                                                    226 non-null    int64
 40  Trolleybus with ULB Reported                                  226 non-null    int64
 41  Trolleybus  >= ULB                                            226 non-null    int64
 42  Heavy Rail Passenger Car                                      226 non-null    int64
 43  Heavy Rail Passenger Car with ULB Reported                    226 non-null    int64
 44  Heavy Rail Passenger Car  >= ULB                              226 non-null    int64
 45  Light Rail Vehicle                                            226 non-null    int64
 46  Light Rail Vehicle with ULB Reported                          226 non-null    int64
 47  Light Rail Vehicle  >= ULB                                    226 non-null    int64
 48  Commuter Rail Passenger Coach                                 226 non-null    int64
 49  Commuter Rail Passenger Coach with ULB Reported               226 non-null    int64
 50  Commuter Rail Passenger Coach  >= ULB                         226 non-null    int64
 51  Commuter Rail Self-Propelled Passenger Car                    226 non-null    int64
 52  Commuter Rail Self-Propelled Passenger Car with ULB Reported  226 non-null    int64
 53  Commuter Rail Self-Propelled Passenger Car  >= ULB            226 non-null    int64
 54  Locomotive                                                    226 non-null    int64
 55  Locomotive with ULB Reported                                  226 non-null    int64
 56  Locomotive  >= ULB                                            226 non-null    int64
 57  Automated Guideway Vehicle                                    226 non-null    int64
 58  Automated Guideway Vehicle with ULB Reported                  226 non-null    int64
 59  Automated Guideway Vehicle  >= ULB                            226 non-null    int64
 60  Vintage/Historic Trolley                                      226 non-null    int64
 61  Vintage/Historic Trolley with ULB Reported                    226 non-null    int64
 62  Vintage/Historic Trolley  >= ULB                              226 non-null    int64
 63  Streetcar                                                     226 non-null    int64
 64  Streetcar with ULB Reported                                   226 non-null    int64
 65  Streetcar  >= ULB                                             226 non-null    int64
 66  Aerial Tramway                                                226 non-null    int64
 67  Aerial Tramway with ULB Reported                              226 non-null    int64
 68  Aerial Tram  >= ULB                                           226 non-null    int64
 69  Monorail                                                      226 non-null    int64
 70  Monorail with ULB Reported                                    226 non-null    int64
 71  Monorail  >= ULB                                              226 non-null    int64
 72  Cable Car                                                     226 non-null    int64
 73  Cable Car with ULB Reported                                   226 non-null    int64
 74  Cable Car  >= ULB                                             226 non-null    int64
 75  Inclined Plane                                                226 non-null    int64
 76  Inclined Plane with ULB Reported                              226 non-null    int64
 77  Inclined Plane  >= ULB                                        226 non-null    int64
 78  Ferryboat                                                     226 non-null    int64
 79  Ferryboat with ULB Reported                                   226 non-null    int64
 80  Ferryboat  >= ULB                                             226 non-null    int64
 81  Other                                                         226 non-null    int64
 82  Other with ULB Reported                                       226 non-null    int64
 83  Other  >= ULB                                                 226 non-null    int64
 84  Total Revenue Vehicles                                        226 non-null    int64
 85  Total Revenue Vehicles with ULB Reported                      226 non-null    int64
 86  Total Revenue Vehicles  >= ULB                                226 non-null    int64
 87  Automobiles                                                   226 non-null    int64
 88  Automobiles  >= ULB                                           226 non-null    int64
 89  Trucks And Other Rubber Tire Vehicles                         226 non-null    int64
 90  Trucks And Other Rubber Tire Vehicles  >= ULB                 226 non-null    int64
 91  Steel Wheel Vehicles                                          226 non-null    int64
 92  Steel Wheel Vehicles  >= ULB                                  226 non-null    int64
 93  Total Service Vehicles                                        226 non-null    int64
 94  Total Service Vehicles  >= ULB                                226 non-null    int64
 95  1                                                             1 non-null      object
dtypes: int64(88), object(8)
memory usage: 171.3+ KB

In [ ]:
vehicle_count

In [122]:
len(vehicle_age)

705

In [48]:
vehicle_count = vehicle_count.drop(columns=['Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97'])

In [51]:
print(vehicle_age.Agency.nunique())
print(vehicle_count.Agency.nunique())

218
226

## Read in Agency Information

In [2]:
agency_info = pd.concat(pd.read_excel('gs://calitp-analytics-data/data-analyses/5311 /2020_Agency_Information.xlsx',
                                      sheet_name=None),ignore_index=True)

/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:73: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/

In [3]:
agency_info = to_snakecase(agency_info)

In [4]:
agency_info.sample(5)

,ntd_id,legacy_ntd_id,agency_name,reporter_acronym,doing_business_as,reporter_type,reporting_module,organization_type,reported_by_ntd_id,reported_by_name,...,sq_miles,voms_do,voms_pt,total_voms,volunteer_drivers,personal_vehicles,tam_tier,number_of_state_counties,number_of_counties_with_service,state_admin_funds_expended
246,30042,3042,Washington County,NaN,Washington County Transit,Reduced Reporter,Urban,"City, County or Local Government Unit or Depar...",NaN,NaN,...,133.0,12.0,NaN,12.0,NaN,NaN,Tier II,NaN,NaN,NaN
2598,8R01-80202,8R01-028,Town of Berthoud,BATS,Berthoud Area Transportation Services,Reduced Asset Reporter,Asset,"City, County or Local Government Unit or Depar...",8R01,Colorado Department of Transportation,...,NaN,NaN,NaN,NaN,NaN,NaN,Tier II,NaN,NaN,NaN
1032,90279,NaN,Los Angeles County Dept. of Public Works - Wil...,NaN,NaN,Reduced Reporter,Urban,"City, County or Local Government Unit or Depar...",NaN,NaN,...,1736.0,NaN,3.0,3.0,NaN,NaN,Tier II,NaN,NaN,NaN
342,40040,4040,Jacksonville Transportation Authority,JTA,NaN,Full Reporter,Urban,Independent Public Agency or Authority of Tran...,NaN,NaN,...,530.0,165.0,132.0,297.0,NaN,NaN,Tier I (Rail),NaN,NaN,NaN
2304,6R02-66297,NaN,ARC of St. Martin,NaN,The Arc,Reduced Asset Reporter,Asset,Private-Non-Profit Corporation,6R02,Louisiana Department of Transportation,...,NaN,NaN,NaN,NaN,NaN,NaN,Tier II,NaN,NaN,NaN

In [5]:
agency_info = agency_info>>filter(_.state=='CA')

In [6]:
print(agency_info.agency_name.nunique())

236

In [ ]:
agency_crosswalk = agency_info[['agency_name','ntd_id']]

In [ ]:
agency_crosswalk>>count(_.agency_name)>>arrange(-_.n)

In [85]:
agency_revenue = pd.concat(pd.read_excel('gs://calitp-analytics-data/data-analyses/5311 /2020_revenue_sources.xlsx',
                                      sheet_name=None), ignore_index=True)

In [86]:
agency_revenue = to_snakecase(agency_revenue)

In [125]:
agency_revenue.sample(5)

,ntd_id,agency_name,reporter_type,subrecipient_type,reporting_module,funding_category,funds_expended_type,total_of_passenger_fares,park_and_ride_revenue__earned_only_,other_agency_revenue__earned_only_,...,funds_received_from_other_usdot_grant_programs,other_usdot_grants_description,other_federal_funds,other_federal_funds_description,contributed_services,voluntary_non_exchange_transactions,voluntary_non_exchange_transactions_description,sales_and_disposals_of_assets,transportation_development_credits,total
6597,40251,City of Pembroke Pines,Reduced Reporter,NaN,Urban,State Government,Funds Expended on Capital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4711,3R06-30154,Greene Co. Transit Inc.,Rural Reporter,Rural General Public Transit,Rural,State Government,Funds Expended on Operations,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215198
13902,6R03-60224,The Community Pantry,Rural Reporter,Rural General Public Transit,Rural,Local Government,Funds Expended on Operations,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19473,90302,San Bernardino County Transportation Authority,Full Reporter,NaN,Urban,State Government,Funds Earned During Period,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15054,7R02-70102,Decatur County Transportation Bus,Rural Reporter,Rural General Public Transit,Rural,Local Government,Funds Expended on Capital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [115]:
agency_revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20446 entries, 0 to 20445
Data columns (total 93 columns):
 #   Column                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                --------------  -----
 0   ntd_id                                                                                                                20446 non-null  object
 1   agency_name                                                                                                           20446 non-null  object
 2   reporter_type                                                                                                         20446 non-null  object
 3   subrecipient_type                                                                                                     9618 non-null   object
 4   reporting_module                                                                                                      20446 non-null  object
 5   funding_category                                                                                                      20446 non-null  object
 6   funds_expended_type                                                                                                   20446 non-null  object
 7   total_of_passenger_fares                                                                                              3911 non-null   float64
 8   park_and_ride_revenue__earned_only_                                                                                   67 non-null     float64
 9   other_agency_revenue__earned_only_                                                                                    408 non-null    float64
 10  other_agency_revenue_description                                                                                      395 non-null    object
 11  auxiliary_revenue___concessions__earned_only_                                                                         133 non-null    float64
 12  auxiliary_revenue___advertising__earned_only_                                                                         365 non-null    float64
 13  auxiliary_revenue___other__earned_only_                                                                               136 non-null    float64
 14  other_auxiliary_revenue_description                                                                                   101 non-null    object
 15  non_public_transportation_revenue__earned_only_                                                                       72 non-null     float64
 16  non_public_transportation_revenue_description                                                                         55 non-null     object
 17  pt_agmt_with_ntd_reporter_revenue_                                                                                    1259 non-null   float64
 18  pt_agmt_with_non_ntd_reporter_revenue_                                                                                1313 non-null   float64
 19  subsidy_from_other_sectors_amount                                                                                     11 non-null     float64
 20  total_recoveries__earned_only_                                                                                        119 non-null    float64
 21  other_directly_generated_funds__rr_                                                                                   1707 non-null   float64
 22  other_directly_generated_funds_description__rr_                                                                       661 non-null    object
 23  revenue_from_general_fund                                                                                             600 non-null    float64
 24  state_transportation_funds                                                                                            315 non-null    float64
 25  income_taxes__earned_only_                                                                                            16 non-null     float64
 26  sales_taxes__earned_only_                                                                                             169 non-null    float64
 27  property_taxes__earned_only_                                                                                          103 non-null    float64
 28  fuel_taxes__earned_only_                                                                                              28 non-null     float64
 29  other_taxes__earned_only_                                                                                             38 non-null     float64
 30  other_taxes_description                                                                                               33 non-null     object
 31  bridge,_tunnel,_and_highway_tolls__earned_only_                                                                       26 non-null     float64
 32  high_occupancy_tolls__earned_only_                                                                                    8 non-null      float64
 33  other_dedicated_funds__earned_only_                                                                                   34 non-null     float64
 34  other_dedicated_funds_description                                                                                     19 non-null     object
 35  local_other_funds                                                                                                     96 non-null     float64
 36  local_other_funds_description                                                                                         73 non-null     object
 37  rr_local_state_funds                                                                                                  4872 non-null   float64
 38  rr_other_funds                                                                                                        1033 non-null   float64
 39  rr_other_funds_description                                                                                            22 non-null     object
 40  extraordinary_and_special_item_funds                                                                                  201 non-null    float64
 41  extraordinary_and_special_item_funds_description                                                                      90 non-null     object
 42  fta_capital_program_funds__5309_                                                                                      290 non-null    float64
 43  arra_fixed_guideway_modernization_funds__5309_                                                                        7 non-null      float64
 44  arra_major_capital_investment__new_starts__funds__5309_                                                               46 non-null     float64
 45  american_rescue_plan_capital_investment_grants__5309_                                                                 3 non-null      float64
 46  state_of_good_repair__5337_                                                                                           226 non-null    float64
 47  bus_and_bus_facilities_formula__5339_                                                                                 959 non-null    float64
 48  fta_urbanized_area_formula__uafp__program__5307_                                                                      1525 non-null   float64
 49  _5307___capital_assistance_spent_on_operations__including_maintenance_                                                417 non-null    float64
 50  arra_urbanized_area_program_funds__5307_                                                                              111 non-null    float64
 51  arra_urbanized_area_program_funds__5307__capital_assistance_spent_on_operations__including_maintenance_               46 non-null     float64
 52  cares_act_urbanized_area_program_funds__5307_                                                                         20446 non-null  int64
 53  crrsa_act_urbanized_area_program_funds__5307_                                                                         20446 non-null  int64
 54  american_rescue_plan_act_of_2021_urbanized_area_program_funds__5307_                                                  20446 non-null  int64
 55  fta_enhanced_mobility_of_seniors_and_individuals_with_disabilities_formula_program__5310_                             20446 non-null  int64
 56  _5310___capital_assistance_spent_on_operations___including_maintenance_expenses_                                      117 non-null    float64
 57  crrsa_act_enhanced_mobility_of_seniors_and_individuals_with_disabilities_program_funds__5310_                         20446 non-null  int64
 58  american_rescue_plan_act_of_2021_enhanced_mobility_of_seniors_and_individuals_with_disabilities_program_funds__5310_  20446 non-null  int64
 59  fta_formula_grants_for_rural_areas__5311_                                                                             2342 non-null   float64
 60  fta_formula_grants_for_rural_areas__5311____capital_assistance_spent_on_operations__including_maintenance_            428 non-null    float64
 61  fta_arra_formula_grants_for_rural_areas__5311_                                                                        595 non-null    float64
 62  fta_arra_formula_grants_for_rural_areas__5311____capital_assistance_spent_on_operations__including_maintenance_       254 non-null    float64
 63  fta_tribal_transit_funds__5311_                                                                                       651 non-null    float64
 64  arra_tribal_transit_funds__5311_                                                                                      514 non-null    float64
 65  cares_act_rural_area_program_funds__5311_                                                                             20446 non-null  int64
 66  cares_act_public_transportation_on_indian_reservations_program_funds__5311_                                           20446 non-null  int64
 67  crrsa_act_rural_area_program_funds__5311_                                                                             20446 non-null  int64
 68  crrsa_act_public_transportation_on_indian_reservations_program_funds__5311_                                           20446 non-null  int64
 69  american_rescue_plan_act_of_2021_rural_area_program_funds__5311_                                                      20446 non-null  int64
 70  american_rescue_plan_act_of_2021_public_transportation_on_indian_reservations_program_funds__5311_                    20446 non-null  int64
 71  fta_job_access_and_reverse_commute_formula_program__5316_                                                             117 non-null    float64
 72  fta_new_freedom_program__5317_                                                                                        104 non-null    float64
 73  _5317___capital_assistance_spent_on_operations___including_maintenance_                                               19 non-null     float64
 74  fta_metropolitan_planning__5303__                                                                                     126 non-null    float64
 75  fta_clean_fuels_program__5308_                                                                                        13 non-null     float64
 76  fta_transit_in_the_park__5320_                                                                                        38 non-null     float64
 77  other_fta_funds                                                                                                       194 non-null    float64
 78  other_fta_funds_description                                                                                           37 non-null     object
 79  other_fta_funds___capital_assistance_spent_on_operations__including_maintenance_                                      25 non-null     float64
 80  other_fta_funds_cap_asst_spent_on_ops_description                                                                     1 non-null      object
 81  arra_tigger__greenhouse_gas_and_energy_reduction__funds                                                               32 non-null     float64
 82  arra_tiger_multimodal_discretionary_funds                                                                             13 non-null     float64
 83  funds_received_from_other_usdot_grant_programs                                                                        215 non-null    float64
 84  other_usdot_grants_description                                                                                        56 non-null     object
 85  other_federal_funds                                                                                                   450 non-null    float64
 86  other_federal_funds_description                                                                                       231 non-null    object
 87  contributed_services                                                                                                  37 non-null     float64
 88  voluntary_non_exchange_transactions                                                                                   21 non-null     float64
 89  voluntary_non_exchange_transactions_description                                                                       9 non-null      object
 90  sales_and_disposals_of_assets                                                                                         184 non-null    float64
 91  transportation_development_credits                                                                                    112 non-null    float64
 92  total                                                                                                                 20446 non-null  int64
dtypes: float64(59), int64(13), object(21)
memory usage: 14.5+ MB

* no state information. have to merge with other dataframes to get the information we need.

## Read BlackCat Data

In [52]:
df = pd.concat(pd.read_excel('gs://calitp-analytics-data/data-analyses/5311 /Grant_Projects.xlsx', sheet_name=None), ignore_index=True)

In [53]:
df.sample(5)

,Grant Fiscal Year,Funding Program,Grant Number,Project Year,Organization Name,UPIN,Description,ALI,Contract Number,AllocationAmount,Encumbered Amount,ExpendedAmount,ActiveBalance,ClosedOutBalance,Project Status,Project Closed By,Project Closed Date,Project Closed Time
1028,2018,Section 5311,CA-2018-114 | 0019000012,2018,Yuba-Sutter Transit Authority,BCG0001464,Purchase Replacement < 30 Ft Bus,111204,64BC19-00829,13100.20,75000.00,13100.20,0.0,0,Open,NaN,NaN,NaN
1929,2020,CARES Act,CA-2020-054 | 0020000192,2020,San Luis Obispo Regional Transit Authority,BCG0002576,Emergency Relief- Operating Assistance 100% Fe...,300908,64VO20-01066,591789.00,591789.00,591789.00,0.0,0,Open,NaN,NaN,NaN
325,2017,5310 Trad,CA-2017-169 | 0017000186-T,2017,Dignity Health Connected Living,BCG0000841,Purchase Replacement < 30 Ft Bus,111204,64AC18-00610,-6457.43,63542.57,63542.57,-70000.0,0,Open,NaN,NaN,NaN
1360,2019,5310 Trad,CA-2020-244 | 0020000273-T,2019,New Advances for People with Disabilities,BCG0002606,Purchase Replacement Van,111215,64AC19-01201,44800.00,56000.00,0.00,44800.0,0,Open,NaN,NaN,NaN
651,2017,5311(f) Cont,TBD,2017,Napa Valley Transportation Authority,BCG0000129,Operating Assistance,300902,64CO17-00471,300000.00,300000.00,300000.00,0.0,0,Open,NaN,NaN,NaN

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Grant Fiscal Year    2520 non-null   int64
 1   Funding Program      2520 non-null   object
 2   Grant Number         2520 non-null   object
 3   Project Year         2520 non-null   int64
 4   Organization Name    2520 non-null   object
 5   UPIN                 2520 non-null   object
 6   Description          2520 non-null   object
 7   ALI                  2520 non-null   object
 8   Contract Number      2239 non-null   object
 9   AllocationAmount     2520 non-null   float64
 10  Encumbered Amount    2520 non-null   float64
 11  ExpendedAmount       2520 non-null   float64
 12  ActiveBalance        2520 non-null   float64
 13  ClosedOutBalance     2520 non-null   int64
 14  Project Status       2520 non-null   object
 15  Project Closed By    0 non-null      float64
 16  Project Closed Date  0 non-null      float64
 17  Project Closed Time  0 non-null      float64
dtypes: float64(7), int64(3), object(8)
memory usage: 354.5+ KB

In [55]:
df = to_snakecase(df)

In [56]:
df = df.drop(columns=['project_closed_by', 'project_closed_date', 'project_closed_time'])

In [60]:
df.sample()

,grant_fiscal_year,funding_program,grant_number,project_year,organization_name,upin,description,ali,contract_number,allocationamount,encumbered_amount,expendedamount,activebalance,closedoutbalance,project_status
1556,2019,5310 Trad,CA-2020-244 | 0020000273-T,2019,United Cerebral Palsy Association of Greater S...,BCG0002051,Purchase Replacement < 30 Ft Bus,111204,64AC19-01243,64960.0,84035.43,81200.0,-16240.0,0,Open

In [61]:
df.duplicated().value_counts()

False    2520
dtype: int64

In [62]:
df>>filter(_.funding_program.str.contains('5311'))>>count(_.funding_program)

   funding_program    n
0     5311(f) Cont   41
1  5311(f) Round 2   27
2  CMAQ (FTA 5311)   31
3     Section 5311  590
4  Section 5311(f)  109

In [63]:
df5311 = (df>>filter(_.funding_program.str.contains('5311')))

In [64]:
df5311_agency = (df5311 >> count(_.organization_name) >> arrange(-_.n))

In [65]:
print(len(df5311_agency.organization_name.unique()))

88

In [66]:
df5311_agency.head()

                           organization_name   n
60  Mountain Area Regional Transit Authority  33
76                     Sonoma County Transit  31
57               Modoc Transportation Agency  28
58                  Monterey-Salinas Transit  28
87             Yuba-Sutter Transit Authority  28

In [67]:
sorted(df5311_agency.organization_name.unique())

['Alpine County Community Development',
 'Amador Transit',
 'Butte County Association of Governments/ Butte Regional Transit',
 'Calaveras County Public Works',
 'Calaveras Transit Agency ',
 'City of Arcata',
 'City of Arvin',
 'City of Auburn',
 'City of California City',
 'City of Chowchilla ',
 'City of Corcoran - Corcoran Area Transit',
 'City of Dinuba ',
 'City of Dixon',
 'City of Escalon ',
 'City of Fairfield',
 'City of Guadalupe',
 'City of McFarland',
 'City of Needles',
 'City of Ojai',
 'City of Porterville',
 'City of Ridgecrest',
 'City of Rio Vista',
 'City of Santa Maria',
 'City of Shafter',
 'City of Solvang',
 'City of Taft',
 'City of Tehachapi',
 'City of Visalia',
 'City of Wasco',
 'City of Woodlake',
 'Colusa County Transit Agency',
 'County Connection (Central Contra Costa Transit Authority)',
 'County of Los Angeles - Department of Public Works',
 'County of Mariposa',
 'County of Nevada Public Works, Transit Services Division',
 'County of Sacramento Department of Transportation',
 'County of Shasta Department of Public Works',
 'County of Siskiyou',
 'County of Tulare',
 'Eastern Sierra Transit Authority',
 'El Dorado County Transit Authority',
 'Eureka Transit Service',
 'Fresno Council of Governments',
 'Fresno County Rural Transit Agency',
 'Glenn County Transportation Commission',
 'Greyhound Lines, Inc.',
 'Humboldt Transit Authority',
 'Imperial County Transportation Commission',
 'Kern Regional Transit',
 'Kings County Area Public Transit Agency',
 'Klamath Trinity Non-Emergency Transportation\u200b',
 'Lake Transit Authority',
 'Lassen Transit Service Agency',
 'Livermore Amador Valley Transit Authority',
 'Madera County',
 'Marin County Transit District',
 'Mendocino Transit Authority',
 'Modoc Transportation Agency',
 'Monterey-Salinas Transit',
 'Morongo Basin Transit Authority',
 'Mountain Area Regional Transit Authority',
 'Napa Valley Transportation Authority',
 'North County Transit District',
 'Palo Verde Valley Transit Agency',
 'Placer County Public Works (TART & PCT)',
 'Plumas County Transportation Commission',
 'Redwood Coast Transit Authority',
 'Riverside Transit Agency',
 'San Benito County Local Transportation Authority',
 'San Diego Metropolitan Transit System',
 'San Joaquin Regional Transit District',
 'San Luis Obispo Regional Transit Authority',
 'San Mateo County Transit District',
 'Santa Clara Valley Transportation Authority',
 'Santa Cruz Metropolitan Transit District',
 'Sierra County Transportation Commission',
 'Sonoma County Transit',
 'Stanislaus County Public Works - Transit Division',
 'Sunline Transit Agency',
 'Tehama County Transit Agency',
 'Town of Truckee',
 'Transit Joint Powers Authority for Merced County',
 'Trinity County Department of Transportation ',
 'Tuolumne County Transit Agency (TCTA)',
 'Victor Valley Transit Authority',
 'Yolo County Transportation District',
 'Yosemite Area Regional Transportation System ',
 'Yuba-Sutter Transit Authority']

* no obvious duplicates or multiple names for one agency

In [68]:
df5311 >> group_by(_.organization_name) >> summarize(n=_.ali.nunique()) >> arrange(-_.n)

                                   organization_name  n
46                        Humboldt Transit Authority  6
18                                      City of Ojai  5
58                          Monterey-Salinas Transit  5
12                                     City of Dixon  4
54                                     Madera County  4
..                                               ... ..
80                                   Town of Truckee  1
81  Transit Joint Powers Authority for Merced County  1
83             Tuolumne County Transit Agency (TCTA)  1
84                   Victor Valley Transit Authority  1
85               Yolo County Transportation District  1

[88 rows x 2 columns]

In [69]:
df5311 >> group_by(_.organization_name) >> summarize(n=_.grant_number.nunique()) >> arrange(-_.n)

                                    organization_name   n
60           Mountain Area Regional Transit Authority  14
46                         Humboldt Transit Authority  13
57                        Modoc Transportation Agency  13
39                   Eastern Sierra Transit Authority  12
58                           Monterey-Salinas Transit  12
..                                                ...  ..
50      Klamath Trinity Non-Emergency Transportation​   3
63                   Palo Verde Valley Transit Agency   3
14                                  City of Fairfield   2
53          Livermore Amador Valley Transit Authority   2
31  County Connection (Central Contra Costa Transi...   1

[88 rows x 2 columns]