In [1]:
pip install shared_utils

Requirement already satisfied: shared_utils in /opt/conda/lib/python3.11/site-packages (4.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import shared_utils
import pandas as pd
import geopandas as gpd
import re
import google.auth
import os
import gcsfs

from calitp_data_analysis import get_fs
from calitp_data_analysis import geography_utils, utils
from calitp_data_analysis.sql import get_engine

fs = get_fs()
db_engine = get_engine()

In [3]:
# Querying dim organizations dataset to get ridership data 
with db_engine.connect() as connection:
    query = """
        SELECT
            key, ntd_id, upt, agency, period_year
        FROM 
            cal-itp-data-infra.mart_ntd.dim_monthly_ridership_with_adjustments
    """
    dim_ridership= pd.read_sql(query, connection)

In [4]:
dim_ridership.head(5)

,key,ntd_id,upt,agency,period_year
0,4f0825230fabe399436dc056d9e9d5a4,20120,NaN,City of Glens Falls,2015
1,536609c02169ecea22e31d668662ca67,20120,NaN,City of Glens Falls,2009
2,1c6498fc013d0abf191e7689631022d9,20120,NaN,City of Glens Falls,2002
3,ac60d119c3e77d5e16c2687e5b77d084,20120,NaN,City of Glens Falls,2010
4,cf4fcb3330b39f3a8807e21116ae6025,20120,NaN,City of Glens Falls,2015